//to still match the old gds styles. We might want to think of removing this
.button {
  margin:0 15px 15px 0;
}
.form-hint{
  display: block;
  margin-bottom:5px;
}
//conflict between gds styles and our own,
//GDS uses aria-hidden just for hiding from screenreaders, we also use it as dipslay:none;
//therefore this (ie) fallback for the arrow in the summary/details isn't showing while it should (infund-9115)
summary > .arrow[aria-hidden="true"]{
  display:inline;
}

[tabindex]:focus {
  outline-offset: 0;
  outline: 3px solid $yellow;
}
