.grid-row {
  &.sorting {
    border-bottom: 1px solid $govuk-secondary-text-colour;
    margin: 0;

    [class^="column-"]{
      padding-left: 0;
      padding-right: 0;
    }

    .multiple-choice{
      margin-left: 5px;
    }

    @include media-down(mobile) {
      label{
        display: block;
        text-align: left;
      }

      .form-control{
        margin-bottom: 15px;
      }
    }
  }
}

//.column-fifth {
//  @include grid-column(1/5);
//}

.constrain-width {
  max-width:1400px;
  padding:0 15px;
}

#content {
  &.full-width {
    @include is-ie8() {
      width: 95%;
    }

    max-width:95%;
  }
}

.govuk-width-container {
  &.full-width {
    @include is-ie8() {
      width: 95%;
    }

    max-width:95%;
  }
}

#content {
  &.no-grid {
    max-width:100%;
  }
}
