.grid-row {
  &.sorting {
    border-bottom: 1px solid $secondary-text-colour;
    margin: 0;

    [class^="column-"]{
      padding-left: 0;
      padding-right: 0;
    }

    .multiple-choice{
      margin-left: 5px;
    }

    @include media-down(mobile) {
      label{
        display: block;
        text-align: left;
      }

      .form-control{
        margin-bottom: 15px;
      }
    }
  }
}

.column-fifth {
  @include grid-column(1/5);
}

.column-two-fifth {
  @include grid-column(2/5);
}

.column-three-fifth {
  @include grid-column(3/5);
}

.column-four-fifth {
  @include grid-column(4/5);
}

.grid-container {
  @extend %site-width-container;
}

.constrain-width {
  max-width:1400px;
  padding:0 15px;
}

#content {
  &.full-width {
    @include ie-lte(8){
      width: 95%;
    }

    max-width:95%;
  }
}

.grid-container {
  &.full-width {
    @include ie-lte(8){
      width: 95%;
    }

    max-width:95%;
  }
}

#content {
  &.no-grid {
    max-width:100%;
  }
}
