@import "govuk-frontend/settings/all";

//layout
.header-global {
  .navigation-list  {
    margin: 0 15px;

    a {
      color:#fff;
    }
  }
}

.related-items {
  border-top:10px solid $govuk-link-colour;

  h2 {
    margin: 0.3em 0  0.5em;
  }

  ul {
    list-style:none;
  }

  li {
    margin: 0 0 0.75em;
  }
}

//no margins for the page headers
.page-header {
  margin-left:0;
  margin-right:0;
}

.header-global{
  padding: 2px 0;
}

@include is-ie8() {
  .header-global {
    #logo {
      white-space: nowrap;
    }
  }
}

.sub-header {
  @include govuk-font(16);
  clear: both;
  line-height:40px;
  overflow: hidden;
  padding: 5px 0px;
  position: relative;

  .deadline {
    @include media-down(mobile) {
      @include govuk-font(14);
    }

    float:right;
    font-weight:300;
    line-height:1;
    margin: 7px 0;
  }
}

details {
  th {
    box-sizing: border-box;
    min-width: 50px;
  }
}

body {
  &.error {
    border:none;
    padding:0;
    margin:0;
  }
}
