@import "govuk-frontend/settings/all";
@import "govuk-frontend/components/all";

strong {
  font-weight:700;
}

img {
  max-width: 100%;
}

caption {
  font-weight:bold;
  text-align:left;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right:2px;
}

small {
  @extend .form-hint;
  display: inline;
  font-size: 16px;
}

.list-indent {
  padding-left: 20px;
}

.blue-block {
  @include media-down(mobile){
    display:block;
  }

  display: inline-block;
  background: govuk-colour("blue");
  color:#fff;
  text-align: center;
  padding:20px;
}

.bordered {
  border:1px solid $govuk-border-colour;
}

.no-border {
  border:none;
}

table {
  td,
  th {
    &.no-border {
      border:none;
    }
  }
}

.grey-box {
  padding: 15px;
  background: govuk-colour("grey-4");
}

.border-top {
  border-top: 1px solid $govuk-border-colour;
}

.border-right {
  border-right: 1px solid $govuk-border-colour;
}

.cell-border-right {
  td,
  th {
    border-right: 1px solid $govuk-border-colour;
  }
}

table {
  small {
    display: block;
  }
}

tfoot {
  td,
  th {
    border-top:3px solid #000;
    border-bottom:none;
  }
}

th {
  &[scope="row"]{
    font-weight:bold;
  }
}

.table-bordered {
  td,
  th {
    padding:0.5em;
    border: 1px solid $govuk-border-colour;
    vertical-align: top;

    &.fixed-half {
      width:50%;
    }

    &.w29 {
      width:29%;
    }
  }

  caption {
    font-weight: normal;
    margin-bottom:0.8em;
  }
}

.page-title {
  padding-top: 30px;

  h1+ h2 {
    margin-top:30px;
  }

  h1 {
    margin-top:0;
    margin-bottom:30px;
  }
}

hr {
  &.underline {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
  }
}

.alignright {
  text-align:right;
}

.aligncentre {
  text-align:center;
}

col {
  &.border {
    border-right: 1px solid $govuk-border-colour;
  }
}

/*

###Added icons

*/
.icon-print {
  @include govuk-device-pixel-ratio() {
    background-image: file-url("ifs-images/icons/icon-print-2x.png");
    background-size: 100%;
  }

  width: 16px;
  height: 18px;
  background-image: file-url("ifs-images/icons/icon-print.png");
}

.questions-dl {
  padding-left: 20px;
  margin: 15px 0 20px;

  dt {
    margin-bottom:5px;

    div{
      margin-left: -20px;
      padding: 12px 0;
    }
  }

  dd {
    display: list-item;
    list-style-type: disc;
    margin-left:20px;
    margin-bottom:5px;
  }
}

.boxed {
  border:1px solid $govuk-border-colour;
  padding:20px;
}

td {
  &.cell-error {
    background: $govuk-error-colour;
    color: #fff;
  }
}

span {
  &.yes{
    @extend %icon-tick;
    padding-left: 28px;
  }

  &.no{
    @extend %icon-cross;
    padding-left: 28px;
  }
}

[data-selector-highlighter] {
  background-color: #ccc;
  bottom:0;
  left:0;
  position: fixed;
  width:100%;
  z-index:99;

  code {
    background:black;
    color:#fff;
    line-height:1.5;
    box-sizing:content-box;
    white-space: nowrap;
    padding:5px;
    font-size:1.5em;
    width:100%;
    display: block;
    min-height:1.5em;
  }
}
