
.greentext {
  color:$green;
}
.uppercase {
  text-transform: uppercase;
}

strong {
  font-weight:700;
}

img {
  max-width: 100%;
}

caption {
  font-weight:bold;
  text-align:left;
}

.icon {
  @include inline-block;
  vertical-align: middle;
  margin-right:2px;
}

small {
  @extend .form-hint;
  display: inline;
  font-size: 16px;
}

.list-indent {
  padding-left: 20px;
}

.blue-block {
  @include inline-block;
  @include media-down(mobile){
    display:block;
  }

  background: $govuk-blue;
  color:#fff;
  text-align: center;
  padding:20px;
}

.bordered {
  border:1px solid $border-colour;
}
.no-border,
table td.no-border,
table th.no-border {
  border:none;
}
.grey-box {
  padding: 15px;
  background: $grey-4;
}

.border-right,
.cell-border-right td,
.cell-border-right th {
  border-right: 1px solid $border-colour;
}

table small {
  display: block;
}

tfoot td,
tfoot th {
  border-top:3px solid #000;
  border-bottom:none;
}

th[scope="row"]{
  font-weight:bold;
}

.table-bordered {
  td,th {
    padding:0.5em;
    border: 1px solid $border-colour;
    vertical-align: top;
  }
  td.fixed-half,
  th.fixed-half {
    width:50%;
  }
  td.w29,
  th.w29 {
    width:29%;
  }
  caption {
    font-weight: normal;
    margin-bottom:0.8em;
  }
}

.alignright-button {
	text-align:right;
  @extend %contain-floats;

	a {
		line-height:45px;
	}
	a.button {
		line-height:1;
	}

	a,
	button,
	[role="button"] {
		display:inline-block;
		margin:0 5px 0 0;

		&:last-child {
			margin-right:0;
		}
	}
}
  @include media-down(mobile) {
  	.alignright-button {
		a,
		button,
		[role="button"] {
			margin:0 0 5px;
			display: block;
			text-align: center;
		}
  	}
  }

button,
.button,
input[type="button"] {

  &.button-clear {
    background-color: transparent;
    box-shadow: none;
    color: $govuk-blue;
    text-decoration: underline;

    &:hover,
    &:focus {
      background-color: transparent;
      color: #000;
      text-decoration: none;
    }

    @include ie-lte(8) {
      border-bottom: none;
    }
  }

  &.button-small {
    font-size: 16px;
    padding: 5px 15px 3px;
  }
}

table {

  .button {

    &:last-child {
      margin-right: 0;
    }
  }
}

.page-title {
	padding-top: 30px;

	h1+ h2 {
		margin-top:30px;
	}
	h1 {
		margin-top:0;
		margin-bottom:30px;
	}
}

hr.underline {
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
 	margin-top: 10px;
	display: block;
}

.subtitle {
	color: $grey-1;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.25;
	@include media-down(tablet){
		font-size:20px;
	}
	@include media-down(mobile){
		font-size:16px;
	}
}
p.subtitle {
	margin: 0;
}

.alignright {
	text-align:right;
}
.aligncentre {
	text-align:center;
}

col.border {
	border-right: 1px solid $border-colour;
}
/*

###Added icons

*/
.icon-print {
  width: 16px;
  height: 18px;
  background-image: file-url("icons/icon-print.png");

  @include device-pixel-ratio() {
    background-image: file-url("icons/icon-print-2x.png");
    background-size: 100%;
  }
}

.button-secondary{
	@include button($panel-colour);
	@include box-sizing (border-box);
	margin: 0 $gutter-half $gutter-half 0;
	padding: em(10) em(15) em(5) em(15);
	vertical-align: top;

}

.button,
.button-secondary{
	@include media (mobile) {
		width: 100%;
		text-align: center;
	}
}

.questions-dl {
	 padding-left: 20px;
	 margin: 15px 0 20px;

		dt div{
			margin-left: -20px;
			padding: 12px 0;
		}
		dd {
			display: list-item;
	    list-style-type: disc;
			margin-left:20px;
		}
		dd,dt {
			margin-bottom:5px;
		}
}

.boxed {
	border:1px solid $border-colour;
	padding:20px;
}

td.cell-error {
	background: $red;
	color: #fff;
}

span.yes{
	@extend %icon-tick;
	padding-left: 28px;
}

span.no{
	@extend %icon-cross;
	padding-left: 28px;
}
// .error-summary-list {
//   @extend .list list-bullet;
//
//   li:first-letter {
//     text-transform:lowercase;
//   }
// }

[data-selector-highlighter] {
  background-color: #ccc;
  bottom:0;
  left:0;
  position: fixed;
  width:100%;
  z-index:99;

  code {
    background:black;
    color:#fff;
    line-height:1.5;
    box-sizing:content-box;
    white-space: nowrap;
    padding:5px;
    font-size:1.5em;
    width:100%;
    display: block;
    min-height:1.5em;
  }
}
