<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Create an account'"/>
</head>
<body class="govuk-template__body create-application-eligibility">

<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner"/>
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div th:if="${#fields.hasErrors('${organisationForm.*}')}" class="govuk-error-summary" role="alert"
             aria-labelledby="error-summary-title" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem.</h2>
            <th:block th:insert="fragments/elements :: error-summary-list(organisationForm)"/>
        </div>

        <th:block th:insert="fragments/layout :: page-title"
                  th:with="pageTitle='Manually enter your organisation\'s details',subTitle='Create an account',size='govuk-heading-l'"/>
        <p class="govuk-body">This page is only for organisations that cannot be registered on Companies House, for
            example:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>charities</li>
            <li>local authorities</li>
            <li>NGOs</li>
            <li>partnerships</li>
            <li>sole traders</li>
            <li>trusts</li>
        </ul>
        <p class="govuk-body">Please make sure you enter your organisation's details correctly. Any errors you make will
            slow down the application process, which could delay your funding payments.</p>
        <form th:object="${organisationForm}"
              th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}"
              method="post">
            <input type="hidden" name="organisationTypeId" th:value="${organisationForm.organisationTypeId}" />
            <div class="govuk-form-group"
                 th:classappend="${#fields.hasErrors('*{organisationName}')} ? 'govuk-form-group--error'">
                <!--input type="hidden" name="organisationName" th:value="${organisationForm.organisationName}" /-->
                <label class="govuk-label govuk-label--s"
                       for="name">
                    Organisation name
                </label>
                <span class="govuk-error-message"
                      th:if="${#fields.hasErrors('*{organisationName}')}"
                      th:errors="*{name}"></span>
                <input class="govuk-input govuk-!-width-one-half"
                       id="name"
                       th:field="*{organisationName}"
                       th:attr="data-required-errormessage=#{validation.standard.organisationname.required}"
                       maxlength="255"
                       type="text" required="required"/>
            </div>
            <div class="govuk-form-group"
                 th:classappend="${#fields.hasErrors('*{organisationNumber}')} ? 'govuk-form-group--error'">
                <label class="govuk-label govuk-label--s" for="name">
                    Organisation number
                </label>
                <div class="govuk-hint"><small>Enter your organisation’s unique identification number, such as your HMRC
                    Unique Taxpayer Reference (UTR), UK charity number or other unique reference number.</small></div>
                <input class="govuk-input govuk-!-width-one-half"
                       id="number"
                       th:field="*{organisationNumber}"
                       type="text"/>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s"
                       for="name">
                    Business type
                </label>
                <div class="govuk-hint"><small>For example: charity, partnership, sole trader.</small></div>
                <input class="govuk-input govuk-!-width-one-half"
                       id="busType"
                       th:field="*{businessType}"
                       maxlength="255"
                       type="text"/>
            </div>
            <label class="govuk-label govuk-label--s" for="name">
                SIC code
            </label>
            <div class="govuk-hint">Enter your 5 digit Standard Industrial Classification code.</div>
            <div th:each="(sic-code, iteration : ${organisationForm.sicCodes})" class="govuk-grid-row sic-code-row govuk-!-margin-top-6" th:id="'sic-code-row-'+${iteration.index}">
                <div class="govuk-grid-column-one-half">
                        <input id="sicCode" class="govuk-input govuk-!-width-one-half"
                               type="text"
                               th:field="${organisationForm.sicCodes[__${iteration.index}__].sicCode}"
                               maxlength="5"/>
                </div>
            </div>
            <div class="alignleft govuk-!-margin-top-6">
                <button class="button-clear" name="add-sic-code" data-add-row-man="sicCode" type="button">+ Add SIC code</button>
            </div>
            <label class="govuk-label govuk-!-margin-top-6 govuk-label--s" for="name">
                Executive officers
            </label>
            <div class="govuk-hint">Enter the first and last names of all company directors, if your organisation has any.</div>
            <div th:each="(exec-officer, iteration : ${organisationForm.executiveOfficers})" class="govuk-grid-row exec-officer-row govuk-!-margin-top-6" th:id="'exec-officer-row-'+${iteration.index}">
                <div class="govuk-grid-column-one-half">
                    <input id="execOfficer" class="govuk-input govuk-!-width-one-half"
                           th:field="${organisationForm.executiveOfficers[__${iteration.index}__].name}"
                           maxlength="255"
                           type="text"/>
                </div>
            </div>
            <div class="alignleft govuk-!-margin-top-6">
                <button class="button-clear" name="add-exec-officer" data-add-row-man="execOfficer" type="button">+ Add executive officer</button>
            </div>
            <label class="govuk-label govuk-!-margin-top-6 govuk-label--s" for="name">
                Registered address
            </label>
            <th:block th:if="${#fields.hasErrors('addressForm.manualAddress.postcode')}">
                <span class="govuk-error-message" th:each="err : ${#fields.errors('organisationForm.addressForm.manualAddress.postcode')}" th:text="${err}"></span>
            </th:block>
                <div id="custom-postcode" class="govuk-body">
                    <th:block th:insert="fragments/addresses :: address-details" th:with="form=${organisationForm},addressType=${'organisation address'}" />
                </div>
                <button name="save-organisation" formaction="/organisation/create/selected-organisation-manual" class="govuk-button govuk-!-margin-top-6">Save and continue</button>
        </form>
        <th:block th:insert="fragments/layout :: main-content-end"/>
    </main>
</div>
<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>
<th:block th:insert="fragments/service-layout :: body-end"/>
</body>
</html>