<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Start new application',hasFormErrors=${#fields.hasErrors('${form.*}')}" />
</head>
<body class="create-application-eligibility">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Select organisation',subTitle='Start new application',size='heading-xlarge'" />

    <div th:if="${#fields.hasErrors('${form.*}')}" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">We were unable to save your changes.</h2>
        <th:block th:insert="fragments/elements :: error-summary-list(form)" />
    </div>

    <p>These are the organisations you have previously applied with</p>

    <p th:unless="${model.collaboratorJourney}">Please select one to lead this application.</p>
    <p th:if="${model.collaboratorJourney}">Please select one to collaborate on this application.</p>

    <form th:object="${form}" th:action="@{/organisation/select}" method="POST">
        <th:block th:if="${model.canSelectOrganisation()}">
            <div class="form-group">
                <div class="multiple-choice" th:each="choice : ${model.choices}">
                    <input th:field="*{selectedOrganisationId}" th:value="${choice.id}" type="radio" required="required" th:attr="data-required-errormessage=#{validation.standard.role.required}" />
                    <label th:for="${#ids.prev('selectedOrganisationId')}">
                        <strong th:text="${choice.name}"></strong><br/>
                        <th:block th:text="${choice.type}"/><br/>
                    </label>
                </div>
            </div>
        </th:block>
        <th:block th:unless="${model.canSelectOrganisation()}" th:with="organisation=${model.onlyOrganisation()}">
            <dl class="readonly-data">
                <dt th:text="${organisation.name}"></dt>
                <dd th:text="${organisation.type}"></dd>
            </dl>
            <input name="selectedOrganisationId" th:value="${organisation.id}" type="hidden" />
        </th:block>

        <p><a th:href="${model.newOrganisationUrl}">Apply with a different organisation.</a></p>

        <button type="submit" class="button extra-margin">Save and continue</button>
    </form>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />
</body>
</html>
