<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:safe="http://www.w3.org/1999/xhtml" xmlns:ifs="http://www.w3.org/1999/xhtml">

<!-- =========================== Form label =========================== -->
<div th:fragment="form-label (name)">
    <label th:class="${bold}? 'form-label form-label-bold' : 'form-label'" th:if="${name}" th:for="${id}">
        <div th:text="${name}" />
    </label>
</div>
<!-- =========================== Form label hidden =========================== -->
<div th:fragment="form-label-hidden (name,id)">
    <label class="form-label visuallyhidden"
    th:if="${name}"
    th:for="${id}"
    th:text="${name}"
    />
</div>
<!-- =========================== Form validation messages =========================== -->
<div th:fragment="form-validation-messages (id)">
    <div th:if="${(form != null) and #fields.hasErrors('${form.formInput[__${id}__]}')}"  th:remove="tag">
        <span class="error-message" th:each="err : ${#fields.errors('${form.formInput[__${id}__]}')}" th:text="${err}" />
    </div>
</div>

<div th:fragment="form-validation-custom-messages (errorId)">
    <div th:if="${(form != null) and #fields.hasErrors('{__${errorId}__}')}"  th:remove="tag">
        <p class="error-message no-margin" th:each="err : ${#fields.errors('{__${errorId}__}')}" th:text="${err}" />
    </div>
</div>
<!-- ===========================Form hint =========================== -->
<div th:fragment="form-hint (hint)">
    <span class="form-hint"
         th:if="${hint}"
         ifs:utext="${hint}"
            />
</div>
<!-- ========================= Form Guidance =========================== -->

<div th:fragment="form-guidance (guidable)">
    <details th:if="${guidable?.getGuidanceQuestion()}">
        <summary>
            <span class="summary" th:text="${guidable.getGuidanceQuestion()}"/>
        </summary>
        <div class="panel-indent" ifs:utext="${guidable.getGuidanceAnswer()}"/>
    </details>
</div>
<!-- ========================= input field type text =========================== -->

<div th:fragment="form-textinput (id, response)">
    <input class="form-control"
           th:readonly="${readonly}"
           type="text"
           th:id="${id}"
           th:name="${name != null} ? ${name} : 'formInput['+${id}+']'"
           th:field="*{formInput[__${id}__]}"
           th:attrappend="${attributes != null}?${attributes}"
           th:classappend="${cssClass}"
           th:placeholder="${placeholder}"
            />
</div>


<!-- ========================= input field type number =========================== -->

<div th:fragment="form-number (id, response)">
    <input class="form-control"
           th:readonly="${readonly}"
           type="number"
           th:id="${id}"
           th:name="${name != null} ? ${name} : 'formInput['+${id}+']'"
           th:value="${response}"
           th:attrappend="placeholder=${placeholder != null}?@{${placeholder}}"

            />
</div>

<!-- ========================= input field type number =========================== -->

<div th:fragment="form-number-extra-small (id, field)">
    <!--/*
    readonly adds the js-visited class as this is needed for javascript date validation
    Client side only kicks in if every date field is visited, otherwise it would already start showing errors to the user after filling out one field
    however with the possibility to make 1 field readonly (i.e. day) we need to add the class
    worst case all three of them are readonly and there is a class that does nothing.
      */-->
    <input class="form-control width-extra-small"
           th:classAppend="${inputCssClass}+' '+${readonly == true ? 'js-visited':''}"
           th:readonly="${readonly}"
           type="number"
           th:id="${id}"
           th:field="*{__${field}__}"
           th:attrappend="placeholder=${placeholder != null}?@{${placeholder}}"
           th:min="${min}"
           th:max="${max}"
           th:required="${required == null ? false : required}"
            />
</div>

<!-- ========================= empty input field type number =========================== -->

<div th:fragment="form-number-extra-small-empty (id, field)">
    <input class="form-control width-extra-small"
           th:classAppend="${inputCssClass}+' '+${readonly == true ? 'js-visited':''}"
           th:readonly="${readonly}"
           type="number"
           th:id="${id}"
           th:name="${field}"
           th:attrappend="placeholder=${placeholder != null}?@{${placeholder}}"
           th:min="${min}"
           th:max="${max}"
           th:required="${required == null ? false : required}"
            />
</div>

<!-- ========================= date field =========================== -->
<!-- dayReadonly is an optional parameter that will make the day portion readonly -->

<div th:fragment="form-dateinput (id, field)">
    <div class="date-group" data-future-date="" th:attr="data-field-group-name=${field},data-field-group-id=${id}">

    	<div th:with="dateFieldPresent=*{__${field}__ != null}" th:remove="tag">

            <!--/* The hidden field below is used as a dummy value that is essentially ignored by the LocalDatePropertyEditor in order to allow
                   us to get the LocalDatePropertyEditor to kick in when Spring attempts to bind the current field to the LocalDate value in the
                   backing form.  So Spring sees this field being posted (by the name attribute), sees the variable backing this is a LocalDate,
                   and then attempts to convert this value to a LocalDate.  At this point the LocalDatePropertyEditor throws this value away and
                   explicitly looks for the <fieldName.dayOfMonth>, <fieldName.month> and <fieldName.year> parameters instead to construct the date */-->
            <input type="hidden" th:name="${field}" th:id="${id}" th:value="${field}" />

	        <div class="day">
	            <div th:include="question-type/form-elements :: form-label (name='Day',id=${id}+'_day',bold=false)" th:remove="tag"/>
	            <div th:if="${dateFieldPresent}" th:remove="tag">
	            	<div th:include="question-type/form-elements :: form-number-extra-small (id=${id}+'_day', field=${field}+'.dayOfMonth',placeholder='DD',readonly=${(readonly != null and readonly) or (dayReadonly != null and dayReadonly)},required=true,min=1,max=31)" th:remove="tag"/>
	             </div>
	             <div th:unless="${dateFieldPresent}" th:remove="tag">
	            	<div th:include="question-type/form-elements :: form-number-extra-small-empty (id=${id}+'_day', field=${field}+'.dayOfMonth',placeholder='DD',readonly=${(readonly != null and readonly) or (dayReadonly != null and dayReadonly)},required=true,min=1,max=31)" th:remove="tag"/>
	             </div>
	        </div>
	        <div class="month">
	            <div th:include="question-type/form-elements :: form-label (name='Month',id=${id}+'_month',bold=false)" th:remove="tag"/>
	            <div th:if="${dateFieldPresent}" th:remove="tag">
	          		<div th:include="question-type/form-elements :: form-number-extra-small (id=${id}+'_month', field=${field}+'.monthValue',placeholder='MM',required=true,min=1,max=12)"	th:remove="tag"/>
	            </div>
	            <div th:unless="${dateFieldPresent}" th:remove="tag">
	           		<div th:include="question-type/form-elements :: form-number-extra-small-empty (id=${id}+'_month', field=${field}+'.monthValue',placeholder='MM',required=true,min=1,max=12)" th:remove="tag"/>
	            </div>
	        </div>
	        <div class="year">
	            <div th:include="question-type/form-elements :: form-label (name='Year',id=${id}+'_year',bold=false)"
	                 th:remove="tag"/>
	            <div th:if="${dateFieldPresent}" th:remove="tag">
	        		<div th:include="question-type/form-elements :: form-number-extra-small (id=${id}+'_year', field=${field}+'.year',placeholder='YYYY',required=true)"
	                	th:remove="tag"/>
	            </div>
	            <div th:unless="${dateFieldPresent}" th:remove="tag">
	           		<div th:include="question-type/form-elements :: form-number-extra-small-empty (id=${id}+'_year',field=${field}+'.year', placeholder='YYYY',required=true)"
	                	th:remove="tag"/>
	            </div>
            </div>
        </div>
    </div>
</div>


<!-- ========================= Duration in months =========================== -->

<div th:fragment="form-duration (id, field)">
  <div class="form-group">
    <div th:include="question-type/form-elements :: form-label (name='Duration in months',id=${id},bold=false)" th:remove="tag"/>
    <div th:include="question-type/form-elements :: form-validation-custom-messages (errorId=${field})" th:remove="tag" />
    <div th:include="question-type/form-elements :: form-number-extra-small (id=${id}, field=${field})" th:remove="tag"/>
  </div>
</div>

<div th:fragment="form-percentage (id, title, field)">
    <div th:include="question-type/form-elements :: form-label (name=${title},id=${id},bold=false)" th:remove="tag"/>
    <div th:include="question-type/form-elements :: form-number-extra-small (id=${id}, field=${field}, min=0, max=100)" th:remove="tag"/>
</div>
<!-- ========================= textarea  =========================== -->

<div th:fragment="form-textarea (id, name, value,readonly)">
		<textarea th:id="'form-textarea-'+${id}"
              th:name="${name != null} ? ${name} : 'formInput['+${id}+']'"
              th:field="*{formInput[__${id}__]}"
              th:readonly="${readonly}"
              th:attrappend="data-max_words=${wordCount != null}?@{${wordCount}},data-editor=${editor != null}?@{${editor}}"
              th:attr="rows=${textareaRows != null ? textareaRows : ''}, cols=${textareaCols != null ? textareaCols : ''} "
              >
		</textarea>
</div>
<div th:fragment="form-finance-textarea (type, id, name, value,readonly,required)">

		<textarea  class="form-control"
                th:id="${'cost-'+ type + '-'+id+'-'+name}"
                th:name="${(id == null) ? type +'-'+name+'-'+question.id : type +'-'+name+'-'+question.id+'-' + id}"
                th:text="${value}"
                maxlength="255"
                rows="4"
                th:readonly="${readonly}"
                th:required="${required}"
                th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ cost.id +'-'+name+']}')} ? 'field-error' : ''">
                >
		</textarea>
</div>

<div th:fragment="form-textarea-wordcount (id, name, value, readonly, maxWords)">
    <div class="textarea-wrapped word-count">
        <div th:include="question-type/form-elements :: form-textarea (
		 					id=${id},
		 					value=${value},
		 					wordCount=${maxWords},
		 					readonly=false,
		 					name=${name},
              editor='md'
		 					)" th:remove="tag">
        </div>

        <div class="textarea-footer">
            <div th:include="question-type/form-elements :: form-word-count (maxWords=${maxWords}, currentWordsLeft=${response?.getWordCountLeft()})" th:remove="tag"/>
        </div>
    </div>
</div>
<!-- ========================= textarea wrapped within all extra's =========================== -->

<div th:fragment="form-textarea-wrapped">
    <div th:class="'textarea-wrapped ' +
                   (${readonly} ? '' : (
                            (${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)} ? 'marked-as-complete' :
                                (${!(question.isMarkAsCompletedEnabled() and markedAsComplete.contains(question.id)) and ((currentUser.getId() == questionAssignee?.assigneeUserId) or ((questionAssignee?.assignee == null) and (leadApplicant?.getId() == currentUser.getId())))} ? 'assigned-to-me ' : '')
                            )
                       )
                       + ' ' +
                       (${formInput.getWordCount() == 0} ? '' : 'word-count')
                   )
                  "

         th:with="currentUser=${#authentication.getDetails()},validationId='formInput['+${question.getId()}+']'">

         <div th:unless="${readonly}" class="textarea-header">
           <img th:if="${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)}"
                 src="/images/field/field-done.png"
                th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/field/field-done.png')}"
                alt=""
                 class="marked-as-complete" />

            <div th:if="${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)}" th:remove="tag">
                  <div class="assignee">This question is <strong>marked as complete</strong></div>
            </div>

            <img th:if="${!(question.isMarkAsCompletedEnabled() and markedAsComplete.contains(question.id)) and ((currentUser.getId() == questionAssignee?.assigneeUserId) or ((questionAssignee?.assignee == null) and (leadApplicant?.getId() == currentUser.getId())))}"
                 src="/images/field/field-assigned.png"
                 th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/field/field-assigned.png')}"
                 alt=""
                 class="assigned-to-me" />

            <div th:unless="${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)}"
                 th:include="question-type/form-elements :: current-assignee"
                 th:remove="tag"/>
        </div>

        <div th:include="question-type/form-elements :: form-textarea (
		 					id=${formInput.getId()},
              editor='md',
		 					value=((${response} == null ) ? '' : ${response?.getValue()} ),
		 					wordCount=${formInput.getWordCount()},
		 					readonly=${readonly} or ${question.isMarkAsCompletedEnabled() and
		 					    markedAsComplete?.contains(question.id)} or
		 					    ${(currentUser.getId() != questionAssignee?.assigneeUserId and  questionAssignee?.assignee!=null) or
		 					    (questionAssignee?.assignee==null and !userIsLeadApplicant)},
                                name='formInput['+${formInput.getId()}+']'
                                )" th:remove="tag">
        </div>

        <div class="textarea-footer">
          <p>
            <div th:include="question-type/form-elements :: last-update-info" th:remove="tag"/>
            <div th:include="question-type/form-elements :: form-word-count (maxWords=${formInput.getWordCount()}, currentWordsLeft=${response?.getWordCountLeft()})" th:remove="tag"/>
          </p>

            <div th:if="${!userIsLeadApplicant}"
               th:include="question-type/form-elements :: ready-for-review" th:remove="tag"/>
            <div th:unless="${readonly} or ${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)} or ${!userIsLeadApplicant}"
                 th:include="question-type/form-elements :: assign-buttons" th:remove="tag"/>

            <div th:if="${competitionIsOpen} == null or ${competitionIsOpen}" th:remove="tag">
                <!--/* if  readonly we show the edit form button */-->
                <div th:if="${readonly and userIsLeadApplicant}" th:include="question-type/form-elements :: form-edit-question-button"
                     th:remove="tag"/>
                <!--/*  we show mark as complete buttons and the question should be assigned to you or */-->
                <div th:if="${userIsLeadApplicant}" th:include="question-type/form-elements :: form-mark-as-complete-buttons"
                     th:remove="tag"/>
            </div>
        </div>
    </div>
</div>
<!-- ========================= Current Assignee =========================== -->
<div th:fragment="current-assignee">
    <div class="assignee" th:if="(${currentUser.getId() == questionAssignee?.assignedByUserId} and ${questionAssignee?.assignee})" th:classappend="(${currentUser.getId() == questionAssignee?.assigneeUserId} ? 'assigned-to-me')">
      <span th:if="${questionAssignee?.assigneeUserId == leadApplicant?.getId()}">You have reassigned this question to</span>
      <span th:unless="${questionAssignee?.assigneeUserId == leadApplicant?.getId()}">You have assigned this question to</span>
      <span th:text="${(currentUser.getId() == questionAssignee.assigneeUserId) ? 'you' : questionAssignee?.assigneeName}" />
    </div>
    <div class="assignee" th:if="${questionAssignee?.assignee}" th:unless="${currentUser.getId() == questionAssignee?.assignedByUserId}" th:classappend="(${currentUser.getId() == questionAssignee?.assigneeUserId} ? 'assigned-to-me')" >
        <span th:if="${questionAssignee?.assignedByUserId != leadApplicant?.getId()}" th:remove="tag">This question has been reassigned to
          <span th:text="${(currentUser.getId() == questionAssignee.assigneeUserId) ? 'you' : questionAssignee?.assigneeName}"/> by
          <span th:text="${(currentUser.getId() == questionAssignee?.assignedByUserId) ? 'you' : questionAssignee?.assignedByName}"/>
        </span>
        <span th:unless="${questionAssignee?.assignedByUserId != leadApplicant?.getId()}" th:remove="tag">This question is assigned to
          <span th:text="${(currentUser.getId() == questionAssignee.assigneeUserId) ? 'you' : questionAssignee?.assigneeName}"/>
        </span>
    </div>
</div>
<!-- ========================= Assign / reassign buttons =========================== -->
<div th:fragment="ready-for-review">
  <div class="ready-for-review-container" th:if="${question.isAssignEnabled()} and ${currentUser.getId() == questionAssignee?.assigneeUserId}">
    <button th:if="${question.isMarkAsCompletedEnabled() and not markedAsComplete?.contains(question.id)}"
            type="submit"
            name="assign_question"
            th:value="${question.getId()}+'_'+${questionAssignee?.assignedBy}"
            th:class="'buttonlink'">Ready for review
    </button>
  </div>
</div>
<div th:fragment="assign-buttons">
    <div class="assign-container" th:if="${question.isAssignEnabled()}">
        <div class="assign-button">
              <div th:include="question-type/form-elements :: assigned-to" th:remove="tag"/>
        </div>
        <div class="assign-team">
            <!--/* Reassign question */-->
              <select name="assign_question" class="prog-menu">
                  <div th:remove="tag" th:each="assignableUser : ${assignableUsers}">
                      <option th:value="${question.getId()}+'_'+${assignableUser.getId()}"
                              th:unless="${(questionAssignee?.assigneeUserId == assignableUser.getUser()) or ((questionAssignee?.assignee == null) and (leadApplicant?.getId() == assignableUser.getUser()))}"
                              th:text="${assignableUser.userName}"
                              />
                      <option th:if="${(questionAssignee?.assigneeUserId == assignableUser.getUser()) or ((questionAssignee?.assignee == null) and (leadApplicant?.getId() == assignableUser.getUser()))}"
                              th:text="${assignableUser?.userName}"
                              selected="selected"
                              disabled="disabled"/>
                  </div>
                  <div th:remove="tag" th:each="pendingAssignableUser : ${pendingAssignableUsers}">
                  	<option th:text="${pendingAssignableUser.name + ' (pending)'}"  disabled="disabled"/>
                  </div>
              </select>
              <button type="submit">Reassign</button>
        </div>
    </div>
</div>
<!-- ========================= Assigned to =========================== -->
<div th:fragment="assigned-to">
        <div th:remove="tag" th:if="${questionAssignee?.assignee != null} ">
            <span th:if="${questionAssignee?.assignedByUserId == leadApplicant?.getId()}">Assigned to:</span>
            <span th:unless="${questionAssignee?.assignedByUserId == leadApplicant?.getId()}">Reassigned to:</span>
             <strong th:text="${name}" th:with="name=${(questionAssignee?.assigneeUserId == currentUser.getId()) ? 'You' : questionAssignee?.getAssigneeName()}" />
        </div>
        <div th:remove="tag" th:if="${questionAssignee?.assignee == null} ">
            Assigned to: <strong th:text="${name}" th:with="name=${(leadApplicant?.getId() == currentUser.getId()) ? 'You' : leadApplicant?.getName()}" />
        </div>
</div>

<!-- ========================= Last update info =========================== -->

<div th:fragment="last-update-info">
      <div th:if="${response?.getUpdateDate()}" th:remove="tag">
        <small>
          Last updated:
          <div th:include="fragments/elements :: pretty-date (date=${response?.getUpdateDate()})"
               th:remove="tag"/>
          by
          <span th:if="${response?.getUpdatedByUser() == currentUser.getId()}" th:remove="tag">you</span>
          <span th:unless="${response?.getUpdatedByUser() == currentUser.getId()}" th:text="${response?.getUpdatedByUserName()}" th:remove="tag"/>
        </small>
      </div>
</div>

<!-- ========================= Mark as complete buttons =========================== -->

<div th:fragment="form-mark-as-complete-buttons">
    <div th:remove="tag" th:unless="${appIsClosed}">
    <button th:if="${(question.isMarkAsCompletedEnabled() and not markedAsComplete?.contains(question.id) and (questionAssignee?.assigneeUserId == currentUser?.getId() or (questionAssignee?.getAssignee() == null)))}"
            type="submit"
            name="mark_as_complete"
            th:value="${question.getId()}"
            th:class="${readonly} or ${costCategory!=null} ? 'button' : 'buttonlink'">Mark as complete
    </button>
    <button th:unless="${readonly}"
            th:if="${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)}"
            type="submit"
            name="mark_as_incomplete"
            th:value="${question.getId()}"
            th:class="${costCategory!=null} ? 'button' : 'buttonlink'">Edit
    </button>
    </div>
</div>

<!-- ====================== Mark all as complete buttons for finance section =========================== -->

<div th:fragment="form-mark-all-as-complete-buttons">
    <div th:remove="tag" th:unless="${appIsClosed}">
        <button th:unless="${readonly}"
                th:if="${!completedSections?.contains(currentSection.getId())}"
                type="submit"
                name="mark_section_as_complete"
                th:value="${currentSection.getId()}"
                id="mark-all-as-complete"
                th:class="button">Mark all as complete
        </button>
        <button th:unless="${readonly}"
                th:if="${completedSections?.contains(currentSection.getId())}"
                type="submit"
                name="mark_section_as_incomplete"
                th:value="${currentSection.getId()}"
                id="edit-section"
                th:class="buttonlink">Edit
        </button>
    </div>
</div>

<!-- ========================= edit link =========================== -->

<div th:fragment="form-edit-question-button">
    <button class="button-secondary"
            type="submit"
            name="edit_question"
            th:unless="${appIsClosed}"
            th:value="${question.getId()}"
            th:class="${readonly} or ${costCategory!=null} ? 'button' : 'buttonlink'"
            th:attrappend="formaction='/application/'+${currentApplication.getId()}+'/form/question/edit/'+${question.getId()}">
            Edit
    </button>
</div>

<!-- ========================= word count =========================== -->

<div th:fragment="form-word-count (maxWords, currentWordsLeft)">
    <div th:unless="${maxWords == 0}" th:remove="tag">
		<span class="count-label">
				<span class="count-down" aria-live="polite" th:unless="${currentWordsLeft == null}" th:classappend="${currentWordsLeft &lt; 0}? negative : positive">Words remaining: <div th:text="${currentWordsLeft}" th:remove="tag" /> </span>
				<span class="count-down" aria-live="polite" th:if="${currentWordsLeft == null}" th:classappend="${maxWords &lt; 0}? negative : positive" >Words remaining: <div th:text="${maxWords}" th:remove="tag" /> </span>
		</span>
    </div>
</div>


<!-- ===========================Form: readonly file download link =========================== -->
<div th:fragment="readonly-file-download (filename, filesizeKbytes, fileDescription, downloadURL)" class="form-group download extra-margin">
    <h3 class="heading-small no-margin" th:text="${fileDescription}">View the file:</h3>
    <a href="#" th:href="${downloadURL}" th:text="${filename + ' (' + filesizeKbytes + ' KB)'}">10294856feedback.pdf (161.96 KB)</a>
</div>

</html>
