<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:ifs="http://www.w3.org/1999/xhtml">
    <!-- ===========================Form: Add row button =========================== -->
    <div th:fragment="add_row(text, question, rowcontainer)">
        <button type="submit"
                name="add_cost"
                th:value="${question.id}"
                th:class="'buttonlink'"
                class="add-another-row buttonlink"
                th:attrappend="data-repeatable-rowcontainer=${rowcontainer}"
                th:text="${text}"
                >
        </button>
    </div>

    <!-- ===========================Form: Textinput =========================== -->

    <div th:fragment="textinput" class="form-group " th:classappend="${#fields.hasErrors(validationId)} ? adminclass : userclass">

        <label class="form-label form-label-bold" th:for="${formInput.getId()}">
          <span th:if="${question.getName()}" th:text="question.getName()" />
          <th:block th:insert="question-type/form-elements :: form-hint (hint=${question.getDescription()})" />
          <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${formInput.getId()})" />
        </label>

        <th:block th:insert="question-type/form-elements :: form-guidance (guidable=${formInput})" />
        <th:block th:insert="question-type/form-elements :: form-textinput (id=${formInput.getId()}, response=${responses?.get(formInput.getId())?.getValue()})" />
    </div>

    <!-- =========================== Form: Textarea =========================== -->
    <!-- === (defaults to the wrapped textarea with wordcount and statusses)=== -->

    <div th:fragment="textarea"  class="form-group" th:classappend="${#fields.hasErrors('formInput[__${formInput.getId()}__]')} ? error : ''">

        <th:block th:if="${!userIsLeadApplicant}">
            <th:block th:unless="${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)}">
                <div class="assign-container" th:classappend="${currentUser.id == questionAssignee?.assigneeUserId} ? 'assign-alert' : 'assigned-alert'">
                    <th:block th:include="question-type/form-elements :: current-assignee"/>
                </div>
            </th:block>
        </th:block>

        <th:block th:insert="question-type/form-elements :: assign-buttons-dialog" th:unless="${readonly} or ${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)} or ${!userIsLeadApplicant}" th:with="fullButtonText=${TRUE}"/>

        <div th:unless="${readonly}" class="textarea-header">

            <th:block th:if="${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)}">
                <div class="success-alert assignee extra-margin-bottom">
                    <p>This question is marked as complete</p>
                </div>
            </th:block>

        </div>

        <label class="form-label form-label-bold" th:for="'form-textarea-'+${formInput.getId()}" th:id="'form-label-'+${formInput.getId()}">
            <th:block th:if="${readonly}">
                <span class="heading-medium" th:if="${question.getName()}" th:text="${question.name}" />
            </th:block>
            <th:block th:unless="${readonly}">
              <span class="heading-medium" th:if="${question.getName()}" th:text="${question.questionNumber!=null ? question.questionNumber + '. ' : '' } + ${question.name}" />
              <th:block th:insert="question-type/form-elements :: form-hint (hint=${question.getDescription()})" />
            </th:block>
            <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${formInput.getId()})" />
        </label>

        <th:block th:unless="${readonly}" th:insert="question-type/form-elements :: form-guidance (guidable=${formInput})" />
        <th:block th:insert="question-type/form-elements :: form-textarea-wrapped" th:with="hideAlerts=${true}" />
    </div>

    <!-- ===========================Form: Date input =========================== -->

    <div th:fragment="date" class="form-group">
        <label class="form-label form-label-bold" th:for="${formInput.getId()}">
          <span th:if="${question.getName()}" th:text="${question.name}" />
          <th:block th:insert="question-type/form-elements :: form-hint (hint=${question.getDescription()})" />
          <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${formInput.getId()})" />
        </label>
        <th:block th:insert="question-type/form-elements :: form-guidance (guidable=${formInput})" />
        <th:block th:insert="question-type/form-elements :: form-dateinput (id=${formInput.getId()}, day='', month='', year='')" />
    </div>

    <!-- ===========================Form: Fileupload =========================== -->
    <div th:fragment="fileupload" class="upload-section" th:classappend="${#fields.hasErrors('formInput[__${formInput.getId()}__]')} ? error : ''"
         th:with="currentUser=${#authentication.getDetails()},validationId='formInput['+${question.getId()}+']',
         noFileUploaded=${noFileUploaded != false and ((#strings.isEmpty(response?.getFilename())) and (question.isMarkAsCompletedEnabled() and not markedAsComplete?.contains(question.id) and (questionAssignee?.assigneeUserId == currentUser?.getId() or (questionAssignee?.getAssignee() == null))))},
         downloadURL=${downloadURL != null ? downloadURL : '/application/' + currentApplication.id + '/form/question/' + question.id + '/forminput/' + formInput.id + '/download'},
         compManagementDownloadURL=${currentApplication.id} + '/forminput/' + ${formInput.id} + '/download',
         filename=${filename != null ? filename : response?.getFilename()},
         removeName=${removeName != null}? ${removeName} : 'remove_uploaded_file',
         readonly=${readonly} or
                ${question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)} or
                ${(currentUser.getId() != questionAssignee?.assigneeUserId and  questionAssignee?.assignee!=null) or
		 		(questionAssignee?.assignee==null and !userIsLeadApplicant and !subFinanceSection)}">
        <h3 class="heading-small no-margin" th:text="${formInput.getDescription()}">Project management appendix</h3>

        <th:block th:unless="${readonly}" th:insert="question-type/form-elements :: form-guidance (guidable=${formInput})" />
        <input th:unless="${readonly}" th:if="${noFileUploaded}" type="file" th:id="${formInput.getId()}" th:name="${name != null} ? ${name} : 'formInput['+${formInput.getId()}+']'" class="inputfile"/>
        <label th:unless="${readonly}" th:if="${noFileUploaded}" th:for="${formInput.getId()}" class="button-secondary extra-margin">+ Upload</label>
        <button th:unless="${readonly}" th:if="${noFileUploaded}" name="upload_file" class="button-secondary" type="submit" th:attr='data-for-file-upload=${formInput.getId()}'>Save</button>
        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${formInput.getId()})" />
        <div th:if="${!#strings.isEmpty(filename)}">
            <div>
                <a th:if="${isCompManagementDownload}" th:href="@{${compManagementDownloadURL}}" class="uploaded-file" th:text="${filename}">The-uploaded-file-example.pdf</a>
                <a th:unless="${isCompManagementDownload}" th:href="@{${downloadURL}}" class="uploaded-file" th:text="${filename}">The-uploaded-file-example.pdf</a>
            </div>
            <div th:unless="${readonly}" class="alignleft" th:if="${(not question.isMarkAsCompletedEnabled() or (question.isMarkAsCompletedEnabled() and not markedAsComplete?.contains(question.id) and (questionAssignee?.assigneeUserId == currentUser?.getId() or (questionAssignee?.getAssignee() == null))))}">
                <button class="button-secondary no-margin-right" type="submit" th:name="${removeName}">Remove</button>
            </div>
        </div>
        <div th:unless="${!#strings.isEmpty(filename)}">
            <p class="uploaded-file">No file currently uploaded</p>
        </div>
    </div>

    <!-- ===========================Form: Percentage =========================== -->

    <div th:fragment="percentage" class="form-group">
        <label class="form-label" th:for="${formInput.getId()}">
          <span th:if="${question.getName()}" th:text="${question.name}" />
          <th:block th:insert="question-type/form-elements :: form-hint (hint=${question.getDescription()})" />
          <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${formInput.getId()})" />
        </label>
        <th:block th:insert="question-type/form-elements :: form-guidance (guidable=${formInput})" />
        <th:block th:insert="question-type/form-elements :: form-number-extra-small (id=${formInput.getId()}, field=${field})" />
        <span>%</span>
    </div>

    <!-- ===========================Form: application_details =========================== -->

    <th:block th:fragment="application_details">
    	<th:block th:with="readonly=${readonly} or ${markedAsComplete?.contains(question.id)
                                                                       or (currentUser.getId() != questionAssignee?.assigneeUserId and questionAssignee?.assignee!=null)
                                                                       or (questionAssignee?.assignee==null and !userIsLeadApplicant)}">
            <th:block th:unless="${readonly or appIsClosed}">
            <!--/* start of edit template */-->

                <div class="form-group" th:classappend="${#fields.hasErrors('*{__application.name__}')} ? 'error'">
                    <label for="application_details-title">
                        <span class="form-label form-label-bold">Application title</span>
                        <th:block th:insert="question-type/form-elements :: form-hint (hint='Enter the full title of your proposed project.')" />
                    </label>
                    <th:block th:insert="question-type/form-elements :: form-validation-custom-messages (errorId='application.name')" />
                    <th:block th:insert="question-type/form-elements :: form-guidance (guidable=${formInput})" />
                    <input class="form-control width-full"
                         type="text"
                         id="application_details-title"
                         th:field="*{__application.name__}"
                         th:attr="data-required-errormessage=#{validation.project.name.must.not.be.empty}"
                         required="required"
                         th:errorclass="field-error" />
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('*{__application.startDate__}')} ? 'error'">
                    <fieldset>
                        <legend>
                            <span class="heading-medium">Estimated timescales</span>
                            <span class="form-hint">When do you wish to start your project?</span>
                            <th:block th:insert="question-type/form-elements :: form-hint (hint='For example: 31 12 2015')"  />
                            <th:block th:insert="question-type/form-elements :: form-validation-custom-messages (errorId='application.startDate')"  />
                        </legend>
                        <th:block th:insert="question-type/form-elements :: form-dateinput (id='application_details-startdate', field='application.startDate',readonly=${readonly})" />
                    </fieldset>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('*{__application.durationInMonths__}')} ? 'error'">
                    <th:block th:insert="question-type/form-elements :: form-label (name='Duration in months',id=${id},bold=false)" />
                    <th:block th:insert="question-type/form-elements :: form-validation-custom-messages (errorId='application.durationInMonths')"  />
                    <input class="form-control width-extra-small"
                           id="application_details-duration"
                           th:field="*{__application.durationInMonths__}"
                           th:errorclass="field-error"
                           type="text"
                           pattern="^([1-9]|0[1-9]|[1-2][0-9]|3[0-6])$"
                           required="required"
                           th:attr="data-pattern-errormessage=#{validation.project.duration.range.invalid}" />
                    <!--/* this is solved with a pattern because setting a number and min="" and max="" doesn't support one message (your project should last between 1 and 36 months).
                    This could be fixed by doing a total refactor of javascript or set two different messages (Your project should be more than 1, less than 36), or like this with a regex */-->
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="heading-medium">Research category</span>
                            <th:block th:insert="question-type/form-elements :: form-hint (hint='The type of research affects the level of funding a business can receive under UK state aid rules. Changing the research category will reset the funding level for all business participants.')" />
                        </legend>
                        <span th:if="${model.questionApplicationViewModel.selectedResearchCategoryName != null}">Chosen research category: <th:block th:text="${model.questionApplicationViewModel.selectedResearchCategoryName}"/></span><br/>
                        <button class="buttonlink" name="submit-section-redirect" th:value="${'/form/question/' + question.id + '/research-category'}"
                                type="submit"><span th:text="${model.questionApplicationViewModel.selectedResearchCategoryName != null ? 'Change your research category' : 'Choose your research category'}">Choose your research category</span></button>
                    </fieldset>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="heading-medium">Innovation area</span>
                            <th:block th:insert="question-type/form-elements :: form-hint (hint='This is the primary innovation area for your project. This will help Innovate UK select suitable assessors for your application.')" />
                        </legend>
                        <span th:if="${model.questionApplicationViewModel.selectedInnovationAreaName != null}">Chosen innovation area: <th:block th:text="${model.questionApplicationViewModel.selectedInnovationAreaName}"/></span><br/>
                        <button class="buttonlink" name="submit-section-redirect" th:value="${'/form/question/' + question.id + '/innovation-area'}"
                                type="submit"><span th:text="${model.questionApplicationViewModel.selectedInnovationAreaName != null ? 'Change your innovation area' : 'Choose your innovation area'}">Choose your innovation area</span></button>
                    </fieldset>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('*{__application.resubmission__}')} ? 'error'">
                    <fieldset>
                        <legend>
                            <span class="form-label form-label-bold">Is this application a resubmission of a previous application?</span>
                            <th:block th:insert="question-type/form-elements :: form-hint (hint='Let us know if this application has been previously submitted to Innovate UK.')" />
                            <th:block th:insert="question-type/form-elements :: form-validation-custom-messages (errorId='application.resubmission')" />
                        </legend>
                        <label class="block-label selection-button-radio "
                               th:classappend="${currentApplication.resubmission != null and currentApplication.resubmission} ? 'selected'"
                               for="application.resubmission-yes"
                               data-target="resubmission-details">
                            <input type="radio"
                                   id="application.resubmission-yes"
                                   th:field="*{__application.resubmission__}"
                                   value="true"
                                   required="required"
                                   th:checked="${currentApplication.resubmission != null and currentApplication.resubmission}"
                                   th:attr="data-required-errormessage=#{validation.application.must.indicate.resubmission.or.not}"/>
                                    Yes
                        </label>
                        <label class="block-label selection-button-radio"
                               th:classappend="${currentApplication.resubmission != null and !currentApplication.resubmission} ? 'selected'"
                               for="application.resubmission-no">
                                <input type="radio"
                                       id="application.resubmission-no"
                                       th:field="*{__application.resubmission__}"
                                       value="false"
                                       required="required"
                                       th:checked="${currentApplication.resubmission != null and !currentApplication.resubmission}"
                                       th:attr="data-required-errormessage=#{validation.application.must.indicate.resubmission.or.not}"/>
                                    No
                        </label>
                    </fieldset>
                </div>
                <div id="resubmission-details">
                    <div class="form-group"  th:classappend="${#fields.hasErrors('*{__application.previousApplicationNumber__}')} ? 'error'">
                        <h2 class="heading-medium no-margin-top">Please provide the details of this previous application</h2>
                        <label for="application_details-previousapplicationnumber">
                            <span class="form-label form-label-bold">Previous application number</span>
                            <th:block th:insert="question-type/form-elements :: form-validation-custom-messages (errorId='application.previousApplicationNumber')"  />
                        </label>
                        <input class="form-control width-full"
                                   type="text"
                                   id="application_details-previousapplicationnumber"
                                   th:field="*{__application.previousApplicationNumber__}"
                                   required="required"
                                   th:errorclass="field-error"
                                   th:attr="data-required-errormessage=#{validation.application.previous.application.number.required}" />
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('*{__application.previousApplicationTitle__}')} ? 'error'">
                        <label for="application_details-previousapplicationtitle">
                            <span class="form-label form-label-bold">Previous application title</span>
                            <th:block th:insert="question-type/form-elements :: form-validation-custom-messages (errorId='application.previousApplicationTitle')" />
                        </label>
                        <input class="form-control width-full"
                               type="text"
                               id="application_details-previousapplicationtitle"
                               th:field="*{__application.previousApplicationTitle__}"
                               required="required"
                               th:errorclass="field-error"
                               th:attr="data-required-errormessage=#{validation.application.previous.application.title.required}" />
                    </div>
                </div>
            </th:block>
            <!--/* end of edit template */-->
            <th:block th:if="${readonly or appIsClosed}">
                <th:block th:if="${markedAsComplete.contains(question.id)}">
                    <div class="success-alert extra-margin-bottom">Application details are marked as complete</div>
                </th:block>

                <dl class="readonly-data">
                    <dt>Application title</dt>
                    <dd th:text="${currentApplication.name}"></dd>
                </dl>
                <h2 class="heading-medium">Estimated timescales</h2>
                <dl class="readonly-data">
                    <dt>When do you wish to start your project?</dt>
                    <dd th:if="${currentApplication.startDate}" th:text="${#temporals.format(currentApplication.startDate, 'd MMMM yyyy')}"></dd>
                    <dt>Duration in months</dt>
                    <dd><th:block th:text="${currentApplication.durationInMonths}"/> months</dd>
                    <dt>Research category</dt>
                    <dd th:text="${currentApplication.researchCategory.name}"></dd>
                    <dt>Innovation area</dt>
                    <dd th:text="${currentApplication.innovationArea.name} ?: 'Not listed'"></dd>
                    <th:block th:unless="${currentApplication.resubmission == null}">
                        <dt>Is this application a resubmission of a previous application?</dt>
                        <dd th:text="${currentApplication.resubmission ? 'Yes' : 'No'}"></dd>
                        <th:block th:if="${currentApplication.resubmission == true}">
                            <dt>Previous application number</dt>
                            <dd th:text="${currentApplication.previousApplicationNumber}"></dd>
                            <dt>Previous application title</dt>
                            <dd th:text="${currentApplication.previousApplicationTitle}"></dd>
                        </th:block>
                    </th:block>
                </dl>
            </th:block>
            <th:block th:unless="${(currentUser.id != questionAssignee?.assigneeUserId and questionAssignee?.assignee!=null) or (questionAssignee?.assignee==null and !userIsLeadApplicant)}">
                <div class="form-footer" th:unless="${appIsClosed}">
                    <div class="form-footer__actions">
                        <th:block th:if="${readonly}"
                                  th:insert="question-type/form-elements :: form-edit-question-button"/>
                        <th:block th:insert="question-type/form-elements :: form-mark-as-complete-buttons"/>
                    </div>
                </div>
            </th:block>
        </th:block>
    </th:block>

                    <!-- ===========================Form: empty / no question =========================== -->
    <th:block th:fragment="empty">
        <th:block ifs:utext="${question.getDescription()}" />
        <th:block th:unless="${readonly}" th:insert="question-type/form-elements :: form-guidance (guidable=${formInput})" />
    </th:block>

</html>
