<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Submit assessments'" />
</head>
<body class="govuk-template__body assessment-submit-confirm">
    <th:block th:insert="fragments/layout :: body-start" />
    <th:block th:insert="fragments/layout :: global-header" />

    <div class="govuk-width-container">
        <th:block th:insert="fragments/layout :: phase-banner" />
        <th:block th:insert="fragments/assessment :: assessment-header-sub (linkTitle='Back to your competition dashboard',linkUrl=@{/assessor/dashboard/competition/{id}(id=${competitionId})})" />

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Submit assessments',size='govuk-heading-xl'" />

            <h2 class="govuk-heading-m govuk-!-margin-0">You are about to submit your assessments.</h2>
            <p class="govuk-body">You will not be able to edit after you submit. Are you sure you want to continue?</p>
            <form method="post" th:action="@{/assessor/dashboard/competition/{id}(id=${competitionId})}" novalidate="novalidate" th:object="${form}">

                <div>
                    <input type="hidden" th:field="*{assessmentIds}" />
                    <button type="submit" class="govuk-button">Yes I want to submit the assessments</button>
                    <a class="button-clear" th:href="@{/assessor/dashboard/competition/{id}(id=${competitionId})}">Cancel</a>
                </div>
            </form>
        </main>
    </div>

    <th:block th:insert="fragments/layout :: footer" />
    <th:block th:insert="fragments/layout :: body-end" />
    <th:block th:insert="fragments/service-layout :: body-end" />
</body>
</html>
