<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Submit assessments'" />
</head>

    <body th:with="context='assessment'" class="assessment-submit-confirm">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />
            <th:block th:insert="fragments/assessment :: assessment-header-sub (linkTitle='Back to your competition dashboard',linkClass='link-back',linkUrl=@{/assessor/dashboard/competition/{id}(id=${competitionId})})" />

            <div class="page-title">
                <h1 class="heading-xlarge">Submit assessments</h1>
            </div>

            <h2 class="heading-medium no-margin">You are about to submit your assessments.</h2>
            <p>You will not be able to edit after you submit. Are you sure you want to continue?</p>
            <form method="post" th:action="@{/assessor/dashboard/competition/{id}(id=${competitionId})}" th:object="${form}">

                <div>
                    <input type="hidden" th:field="*{assessmentIds}" />
                    <button type="submit" class="button large">Yes I want to submit the assessments</button>
                </div>
            </form>
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
