.assign-container {
  @include inline-block;
  position:relative;

  &.assigned-alert,
  &.assign-alert {
    display: block;
    margin-bottom: 1em;

    .action-required,
    .secondary-notification {
      padding-right: 1em;
    }
  }

  .assign-button-container {
    @include media-down(mobile) {
      position: static;
    }
    display: inline-block;
    position: relative;

    .action-required,
    .secondary-notification {
      padding-right: 0;
    }
  }

  .assign-team {
    @include border-radius(2px);
    @include core-16;
    @include media-down(mobile) {
      left: 0;
      width: 90%;
    }
    background-color: #fff;
    border: 1px solid $grey-3;
    margin-top: 10px;
    padding: 10px 15px;
    position: absolute;
    width: 200px;
    z-index: 1;

    li {
      @include media-down(mobile) {
        margin: 1.5em 0;
      }
      margin: 0.75em 0;
    }
  }

  .assign-button {
    display: inline;

    button {
      @extend .buttonlink;

      &[aria-expanded] {
        > ::after {
          content: '\0020\0020\25bc';
          font-size: 12px;
        }
      }

      &[aria-expanded="true"] {
        > ::after {
          content: '\0020\0020\25b2';
        }
      }

      &[aria-hidden="true"] {
        display: none;
      }
    }
  }

  ul {
    margin-bottom:0;
  }

  .reassign-status {
    display: inline;
    text-align:left;
  }
}

//double class to be more specific as the @extend gets processed last by compass
.assign-container {
  &.assign-container {
    .assign-button {
      button {
        padding: 0;
        margin: 0 5px 0 0;
        text-align: left;
      }
    }

    .buttonlink {
      padding: 0;
      margin: 0 5px 0 0;
      text-align: left;
    }
  }
}

.no-js {

  .assign-container {
    position: relative;
    padding-left: 20px;

    &.action-required {
      background-position: 0 3px;
    }

    .assign-team {
      border: none;
      margin: 0;
      padding-bottom: 2px;
      padding-left: 0;
      padding-top: 0;
      position: relative;
      width: auto;
    }
  }

  .assigned-alert,
  .assign-alert {
    margin-bottom: 1em;

    .assign-team {
      background: $grey-4;
    }
  }

  .assign-button {
    position: absolute;
    top: -25px;
    left: 88px;

    .action-required {
      position: relative;
      top: 5px;
      left: 8px;
    }
  }
}
