/* SG

# IFS/Assign-container

The assign container is normally a `<select>`, which gets progressivly transformed by javascript to a list of buttons
```
<div class="assign-container assign-alert">
    <span class="action-required">
        Assigned to you.
    </span>
    <div class="assign-button-container">
        <div class="assign-button">
            <span class="action-required">
                Assign this question to someone else
            </span>
        </div>
        <div class="assign-team">
            <select class="prog-menu" name="assign_question">
                <option value="pete">Pete Tom</option>
                <option value="adrian">Adrian Booth</option>
                <option value="steve" disabled="disabled" selected="selected">Steve Smith</option><!-- currently selected user -->
                <option value="jessica">Jessica Doe</option>
                <option disabled="disabled">michael (pending)</option><!-- pending user -->
            </select>
            <button type="submit">Reassign</button>
        </div>
    </div>
</div>

```
*/

.assign-container {
  @include inline-block;
  position:relative;

  &.assigned-alert,
  &.assign-alert {
    display: block;
    margin-bottom: 1em;

    .action-required,
    .secondary-notification {
      padding-right: 1em;
    }
  }

  .assign-button-container {
    display: inline-block;
    position: relative;

    @include media-down(mobile) {
      position: static;
    }

    .action-required,
    .secondary-notification {
      padding-right: 0;
    }
  }

  .assign-team {
    @include border-radius(2px);
    @include core-16;
    background-color: #fff;
    border: 1px solid $grey-3;
    margin-top: 10px;
    padding: 10px 15px;
    position: absolute;
    width: 200px;
    z-index: 1;

    @include media-down(mobile) {
      left: 0;
      width: 90%;
    }

    li {
      margin: 0.75em 0;

      @include media-down(mobile) {
        margin: 1.5em 0;
      }
     }
   }

  .assign-button {
    display: inline;

    button {
      @extend .buttonlink;

      &[aria-expanded]::after {
        content: '\0020\0020\25bc';
        font-size:12px;
      }

      &[aria-expanded="true"]::after {
        content: '\0020\0020\25b2';
      }

      &[aria-hidden="true"] {
        display: none;
      }
    }
  }

  ul {
    margin-bottom:0;
  }

  .reassign-status {
    display: inline;
    text-align:left;
  }
}

//double class to be more specific as the @extend gets processed last by compass
.assign-container.assign-container {

  .assign-button button,
  .buttonlink {
    padding: 0;
    margin: 0 5px 0 0;
    text-align: left;
  }
}

.no-js {

  .assign-container {

    .assign-team {
      border: none;
      margin: 0;
      padding-bottom: 2px;
      padding-left: 0;
      padding-top: 0;
      position: relative;
      width: auto;
    }
  }

  .assigned-alert,
  .assign-alert {
    margin-bottom: 1em;

    .assign-team {
      background: $grey-4;
    }
  }

  .assign-button,
  .secondary-notification-button {

    > span {
      @extend .visuallyhidden;
    }
  }
}
