ul,
ol {
  &.boxed-list {
    list-style:none;
    margin:0;
    padding:0;

    h1,
    h2,
    h3,
    h4 {
      margin:0;
    }

    li {
      padding:15px;
      display: block;
      position: relative;
      margin-top: 10px;
      border:1px solid $border-colour;

      &.assigned-to-me {
        background: url("../images/field/field-assigned-right.png") right top no-repeat;
      }
    }
  }
}