%toggle-button {
  @include media-down(mobile){
    font-size:15px;
  }

  font-size: 19px;
  font-weight: 700;
  text-align:left;
  padding: 10px 40px 10px 10px; //padding right for the icons
  background:#fff;
}

.collapsible {
  > h2,
  > h3 {
    position: relative;
    border-top: 1px solid $border-colour;
    clear:both;

    &:last-child {
      border-top: 1px solid $border-colour;
    }

    button {
      @extend %toggle-button;
      border:0;
      cursor: pointer;
      position: relative;

      &:hover,
      &:focus{
        background: $highlight-colour;
      }

      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      &[aria-expanded]  {
        display: block;
        width: 100%;

        &:after {
          content: '';
          position: absolute; //absolute position for ie8
          right: 15px;
          top: 13px;
          line-height: 1;
          background: url(../images/icons/icons-plus-minus.png) 0 100%;
          width: 16px;
          height: 16px;
        }
      }

      &[aria-expanded="true"] {
        margin-bottom:0;

        &:after {
          content: '';
          background: url(../images/icons/icons-plus-minus.png);
          width: 16px;
          height: 16px;
        }
      }
    }

    + [aria-hidden] {
      display: none;
    }

    + [aria-hidden="false"] {
      @extend %contain-floats;
      display: block;
      padding:0 0 3em;
    }

    [data-mirror]{
      float:right;
    }
  }

  .status {
    float:right;
    padding-top:2px;
    font-weight:normal;
    font-size:0.9em;
  }

  .section {
    margin-left: 10px;
    padding-left: 10px;
    background-repeat:no-repeat;
    background-position: 100% 0;

    &:last-child {
      padding-bottom:10px;
    }
  }

  .collapsible-content {
    @extend %contain-floats;
    padding:10px;
  }

  .section-score {
    @include media-down(mobile){
      margin-right: 0;
      width: auto;
      float: none;
    }

    float: right;
    font-weight: normal;
    margin-right: 190px;
    width: 144px;
    text-align: left;
    font-size: 16px;
  }
}

.no-js {
  .collapsible {
    padding:0 0 15px;

    > h2,
    > h3 {
      @extend %toggle-button;
      padding-right:2px;
    }
  }
}
