
.spend-profile-table {
  max-width:95%;
  margin: 0 auto;
  position: relative;
}
.spend-profile-table input {
  text-align:right;
  min-width:4em;
}
.spend-profile-table th[scope="col"],
.spend-profile-table td{
  text-align:right;
}
.spend-profile-table .year {
  border-right: 1px solid $border-colour;
}

.spend-profile-table .flex-table-wrap {
    overflow:auto;
    max-width:100%;
}

.spend-profile-table .form-group-row.error .fix-right,
.spend-profile-table .fix-right {
  background: $grey-3;
  font-weight:bold;
  + .fix-right {
    background: $grey-4;
        white-space: normal;
  }
  &.cell-error {
    @extend td.cell-error;
    input {
      color:#fff;
    }
  }
}


.spend-profile-table tfoot .fix-right,
.spend-profile-table tfoot th[scope="row"],
.spend-profile-table tfoot tr.form-group-row.error th[scope="row"]{
  margin-top:-1px;
}
.spend-profile-table tbody tr.form-group-row.error th:first-of-type {
  margin-top:1px;
}
.spend-profile-table input[readonly]{
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  width:100%;
}
.spend-profile-table th[scope="row"] {
  padding:20px 0;
}

@media screen and (min-width: 1150px) {
  .spend-profile-table td,
  .spend-profile-table th{
    box-sizing: border-box;
    height: 60px;
    padding: 0.6em;
    margin-top:1px;
  }


  .spend-profile-table th[scope="row"] {
    left: 0;
    position: absolute;
    width: 310px;
    @include box-sizing(border-box);
    border-right: 1px solid $grey-2;
    background-color: #fff;

    + td {
      padding-left:310px;
    }
  }

  .spend-profile-table.academic th[scope="row"]{
    width:175px;
    font-weight: normal;
    border-right:none;
    + th[scope="row"] {
      left:175px;
      border-right: 1px solid $border-colour;
    }
    &[colspan="2"]{
      width:350px;
      border-right:1px solid $border-colour;
    }
  }


      @supports (display:flex){

          .spend-profile-table {
            display:flex;
          }
          .spend-profile-table th[scope="row"] + td,
          .spend-profile-table th[scope="row"] + th  {
            padding-left:0.65em;
          }
          .spend-profile-table .flex-table-wrap {
            flex: 1 1 100%;
          }
          .spend-profile-table .flex-table-before {
            flex: 0 0 310px;
          }
          .spend-profile-table .flex-table-after {
            flex: 0 0 300px;

          }
          .spend-profile-table .fix-right {
            right: 150px;
            padding: 1.3em 1em;
            position: absolute;
            width: 150px;
            @include box-sizing(border-box);

            + .fix-right {
              right:0;
            }
          }
      }
  }
