%fix-right {
  background: govuk-colour("grey-3");
  font-weight:bold;

  + .fix-right {
    background: govuk-colour("grey-4");
    white-space: normal;
  }

  &.cell-error {
    @extend td.cell-error;

    input {
      color:#fff;
    }
  }
}

.spend-profile-table {
  max-width:95%;
  margin: 0 auto;
  position: relative;

  input {
    text-align:right;
    min-width:4em;
    padding:3px;

    &[readonly]{
      background: transparent;
      border-color: transparent;
      font-weight: bold;
      width:100%;
    }
  }

  th {
    @include govuk-font(16);

    &[scope="col"] {
      text-align:right;
    }

    &[scope="row"] {
      padding:20px 0;
    }
  }

  td {
    @include govuk-font(16);
    text-align:right;
  }

  .year {
    border-right: 1px solid $govuk-border-colour;
  }

  .flex-table-wrap {
    overflow:auto;
    max-width:100%;
  }

  .form-group-row {
    &.form-group-error {
      .fix-right {
        @extend %fix-right;
      }
    }
  }

  .fix-right {
    @extend %fix-right;
  }

  tfoot {
    .fix-right {
      margin-top:-1px;
    }

    th {
      &[scope="row"] {
        margin-top:-1px;
      }
    }

    tr {
      &.form-group-row {
        &.form-group-error {
          > * {
            &:first-child {
              margin-top:-1px;
              border-bottom: none;
              border-top: 3px solid #000;
            }
          }
        }
      }
    }
  }

  tbody {
    tr {
      &.form-group-row {
        &.form-group-error {
          th {
            &:first-of-type {
              margin-top:1px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1150px) {
  .spend-profile-table {
    td {
      box-sizing: border-box;
      height: 60px;
      padding: 0.6em;
      margin-top:1px;
    }

    th {
      box-sizing: border-box;
      height: 60px;
      padding: 0.6em;
      margin-top:1px;

      &[scope="row"] {
        @include box-sizing(border-box);
        left: 0;
        position: absolute;
        width: 310px;
        border-right: 1px solid govuk-colour("grey-2");
        background-color: #fff;

        + td {
          padding-left:310px;
        }
      }
    }

    &.academic {
      th {
        &[scope="row"]{
          width:175px;
          font-weight: normal;
          border-right:none;

          + th {
            &[scope="row"] {
              left:175px;
              border-right: 1px solid $govuk-border-colour;
            }
          }

          &[colspan="2"]{
            width:350px;
            border-right:1px solid $govuk-border-colour;
          }
        }
      }
    }
  }

  @supports (display:flex){
    .spend-profile-table {
      display:flex;

      th {
        &[scope="row"] {
          + td,
          + th  {
            padding-left:0.65em;
          }
        }
      }

      .flex-table-wrap {
        flex: 1 1 100%;
      }

      .flex-table-before {
        flex: 0 0 310px;
      }

      .flex-table-after {
        flex: 0 0 300px;
      }

      &.academic {
        .flex-table-before {
          flex: 0 0 350px;

        }
      }

      .fix-right {
        @include box-sizing(border-box);
        right: 150px;
        padding: 1.3em 1em;
        position: absolute;
        width: 150px;

        + .fix-right {
          right:0;
        }
      }
    }
  }
}
