
.spend-profile-table {
  max-width:95%;
  margin: 0 auto;
  position: relative;
}
.spend-profile-table input {
  text-align:right;
  min-width:4em;
}
.spend-profile-table th[scope="col"],
.spend-profile-table td{
  text-align:right;
  white-space: nowrap;
}
.spend-profile-table .year {
  border-right: 1px solid $border-colour;
}

.spend-profile-table .flex-table-wrap {
    overflow:auto;
    max-width:100%;
}

//todo: clean up specifity
.spend-profile-table .form-group-row.error .fix-right,
.spend-profile-table .fix-right {
  background: $grey-3;
  font-weight:bold;
  + .fix-right {
    background: $grey-4;
        white-space: normal;
  }
  &.cell-error {
    @extend td.cell-error;
    input {
      color:#fff;
    }
  }
}


.spend-profile-table tfoot .fix-right,
.spend-profile-table tfoot .fix-left{
  margin-top:-2px;
}
.spend-profile-table input[readonly]{
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  width:100%;
}
.spend-profile-table th[scope="row"] {
  padding:20px 0;
}

@media screen and (min-width: 800px) {
  .spend-profile-table td,
  .spend-profile-table th,{
    box-sizing: border-box;
    height: 60px;
    padding: 0.6em;
  }

  .spend-profile-table th[scope="row"] {
    left: 0;
    position: absolute;
    width: 210px;
    @include box-sizing(border-box);
    border-right: 1px solid $grey-2;
    background-color: #fff;

    +td,
    +th {
      padding-left:210px;
    }
  }

      @supports (display:flex){

          .spend-profile-table {
            display:flex;
          }
          .spend-profile-table th[scope="row"] + td,
          .spend-profile-table th[scope="row"] + th  {
            padding-left:0.65em;
          }
          .spend-profile-table .flex-table-wrap {
            flex: 1 1 100%;
          }
          .spend-profile-table .flex-table-before {
            flex: 0 0 210px;
          }
          .spend-profile-table .flex-table-after {
            flex: 0 0 300px;

          }
          .spend-profile-table .fix-right {
            right: 150px;
            padding: 1.3em 1em;
            position: absolute;
            width: 150px;
            @include box-sizing(border-box);

            + .fix-right {
              right:0;
            }
          }
      }
  }
