%read-only {
  color: govuk-colour("black");
  background: govuk-colour("grey-4");
  border-color: $govuk-border-colour;
  cursor: default;
}

%read-only-boxed {
  border: none;
  background: none;

  &:focus {
    outline: none;
    outline-offset: 0;
  }

  .app-form & {
    font-weight: bold;
  }
}

textarea,
input,
select,
div {
  &[readonly],
  &[disabled],
  &.readonly {
    @extend %read-only;

    &.govuk-input--error,
    &.govuk-select--error,
    &.govuk-textarea--error {
      @include box-shadow(none);
      border: 4px solid $govuk-error-colour;
    }
  }
}

.textarea-wrapped {
  div {
    &.readonly{
      @extend %read-only;
    }
  }
}

input {
  &[readonly] {
    &:not(.readonly-boxed) {
      @extend %read-only-boxed;
    }
  }

  &[disabled] {
    &:not(.readonly-boxed) {
      @extend %read-only-boxed;
    }
  }

  &[type="number"] {
    line-height: 1.43;
    padding: 4px;
  }
}

.govuk-form-group {
  .form-finances-subcontracting-cost {
    text-align: right;
  }

  &.inline {
    label {
      display:inline-block;
      margin-right: 1em;
    }
  }
}

td,
tr {
  &.govuk-form-group {
    float:none;
    width:auto;
    padding-left:0;
    vertical-align: bottom;

    input {
      vertical-align: top;
    }

    &.govuk-form-group--error {
      border-left:none;
    }
  }
}

.govuk-input--error,
.govuk-select--error,
.govuk-textara--error{
  @include box-shadow(none);
  border: 4px solid $govuk-error-colour;
}

table {
  td {
    input {
      &[type="number"] {
        text-align: right;
      }
    }

    &.bold {
      font-weight: 700;
    }

    &.cta {
      vertical-align: bottom;
    }

    .control {
      padding-left: 20px;
    }

    .button-clear {
      margin: 0;
    }

    .govuk-button {
      margin: 0 0 1px 0;
    }
  }

  .cell-border-right {
    border-right:1px solid $govuk-border-colour;
  }
}

.govuk-input,
.govuk-select{
  + button {
    &.govuk-button {
      @include govuk-media-query(mobile) {
        margin-top:15px;
      }

      line-height:1.15;
    }

    &.button-secondary {
      @include govuk-media-query(mobile) {
        margin-top:0px;
      }

      line-height:1.15;
    }
  }

  &.govuk-input--error,
  &.govuk-select--error{
    + button {
      &.govuk-button {
        line-height:1.35;
      }
    }
  }
}

.date-group {
  @include govuk-media-query(tablet) {
    margin-right: 5%;
  }

  > div {
    float: left;
    margin-right: 3.5%;
    width: auto;
    min-width: 60px;
  }

  select {
    height: 2em; // fix OSX bug for not supporting padding on select
    width: auto;
  }
}

tr {
  &.form-group-row-validated {
    &.govuk-form-group--error {
      td {
        vertical-align: bottom;

        &:first-child {
          border-left: 5px solid $govuk-error-colour;
          padding-left: 15px;
        }
      }
    }
  }

  &.form-group-row {
    &.govuk-form-group--error {
      border:none;
      background-position: 4px 50%;

      .govuk-error-message {
        @include govuk-visually-hidden;
      }

      > * {
        &:first-child {
          background: govuk-colour("grey-4") url('../images/ifs-images/icons/icon-alert.png') no-repeat;
          background-position: 10px 50%;
          background-size: 16px;
          padding-left: 40px;
          margin: auto;
          white-space: nowrap;
          border-left: 5px solid $govuk-error-colour;
          border-bottom: 1px solid $govuk-border-colour;
          color: $govuk-error-colour;
          border-right:none;
        }
      }

      td,
      th {
        background: govuk-colour("grey-4");
      }
    }
  }
}

.form-date {
  overflow: hidden;
  margin-bottom: 30px;
}

.question {
  @include govuk-clearfix;
  margin-bottom: 30px;

  .govuk-heading-m {
    margin: 0.8em 0 0.4em 0;
    display: inline-block;
  }

  .form-hint {
    margin-bottom: 0.8em;
  }

  details {
    margin-top: 0.4em;
    margin-bottom: 0.8em;
  }
}

.textarea-wrapped {
  position: relative;

  .textarea-header {
    @include govuk-font(14);
    border: 2px solid $govuk-border-colour;
    border-bottom: none;
    background: govuk-colour("grey-4") 0 0 no-repeat;
    min-height:60px;

    + textarea,
    + [contenteditable="true"],
    + .readonly {
      border-top:none;
    }
  }

  .assignee {
    padding:20px 15px 5px;

    span + span {
      font-weight:bold;
    }
  }

  img + .assignee {
    padding:20px 15px 0 55px;
  }

  textarea,
  [contenteditable="true"],
  .readonly {
    @include box-sizing(border-box);
    border:  2px solid;
    min-height: 250px;
    margin: 0;
    padding: 5px 10px;
    resize: vertical;
    vertical-align: top;
    width:100%;
    overflow:auto; //needed for resize [contenteditable] div
  }

  .textarea-footer {
    @include govuk-font(16);
    padding: 10px 0px;

    .button-clear {
      vertical-align:top;
      padding: 0 10px 0 0;
    }
  }
}

.form-group-error {
  [contenteditable="true"] {
    &.editor {
      @include box-shadow(none);
      border: 4px solid $govuk-error-colour;
    }
  }

  .textarea-wrapped {
    textarea {
      &.field-group-error {
        @include box-shadow(none);
        border: 4px solid $govuk-error-colour;
      }
    }
  }

  select {
    @include box-shadow(none);
    border: 4px solid $govuk-error-colour;
  }
}

td {
  &.autosave-info {
    @include govuk-font(14);
    color: $govuk-secondary-text-colour;
    min-width:70px;
  }
}

.textarea-footer {
  .count-label,
  .autosave-info {
    padding:2px 0;
    float:right;
    color: $govuk-secondary-text-colour;
    clear:right;
  }
}

.count-label {
  .negative {
    color: govuk-colour("orange");
    font-weight: 700;
  }

  .word-count-reached {
    .count-down{
      color: govuk-colour("orange");
      font-weight: 700;
    }
  }
}

.feedback {
  .textarea-wrapped {
    textarea{
      border: 1px solid $govuk-border-colour;
    }
  }
}

// ------- file upload -------- //

.upload-section {
  overflow: hidden;
  background: govuk-colour("grey-4");
  padding: 16px 16px 8px 16px;
  margin: 16px 0;

  &.form-group-error {
    @extend .warning-alert;
    background: none;
    padding-left: 16px;
  }

  .inputfile {
    + label{
      margin-top: 20px;
    }
  }

  .uploaded-file{
    display: block;
    margin: 10px 0;
  }

  td &{
    padding: 0;
    margin: 0;
    background: none;

    .inputfile+label{
      margin-top: 8px;
    }
  }
}

.no-js {
  .upload-section {
    .inputfile {
      @include govuk-font(16);
      margin:16px 0;

      + label {
        visibility: hidden;
        display: none;
      }
    }
  }
}

.js-enabled {
  [data-for-file-upload] {
    display:none;
  }

  .upload-section {
    .inputfile{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
}

.govuk-form-group {
  &.download {
    padding: 10px 0 10px 50px;
    background: url(../images/ifs-images/icons/icon-download.png) no-repeat;
  }
}

// ------- progressive group select -------- //

.js-progressive-group-select {
  @include govuk-media-query(tablet) {
    display: inline-block;
    margin: 0 1em 0 0;
  }

  display: block;
  margin: 0 0 1em 0;
}

.js-progressive-group-select {
  @include govuk-media-query(tablet) {
    max-width: 40%;
  }
}

.js-enabled {
  [data-progressive-group-select] {
    @include govuk-media-query(tablet) {
      max-width: 40%;
    }
  }
}

.agree-to-terms-container {
  @include govuk-clearfix;
  padding-left: 1em;
}

.form-footer {
  @include govuk-clearfix;
  clear: both;
  color: $govuk-text-colour;
  background: govuk-colour("grey-4");
  padding: 0.8em;
  margin: 0;

  &__actions {
    min-height: 1em;
    float: left;
  }

  &__info {
    @include govuk-font(16);
    min-height: 1em;
    float: right;
  }

  &__actions,
  &__info {
    @include media-down(mobile) {
      min-height: 1em;
      display: block;
      float: none;
      text-align: center;
    }
  }

  .button-clear {
    margin-bottom: 0;

    &.disabled,
    &[disabled] {
      text-decoration: none;
      color: $govuk-secondary-text-colour;
      background: transparent;
    }
  }

  .autosave-info {
    color: $govuk-text-colour;
    padding: 0;
    float: none;
    font-weight: bold;
  }

  .update-details {
    margin-right: 1em;
  }

  &__actions,
  &__info {
    @include media-down(mobile) {
      min-height: 1em;
      display: block;
      float: none;
      text-align: center;
      padding: 0.25em 0;
    }
  }

  .button-clear {
    @include media-down(mobile) {
      margin: 0.5em;
    }
  }
}
