/*


```
<div class="form-control-wrap">
    <div class="form-group_header">
        test
    </div>
     <textarea  name="question-1" id="question-1" cols="30" rows="10">
                Contents of the textarea
      </textarea>
</div>
```

*/

textarea[readonly],
textarea[disabled],
input[readonly],
input[disabled],
select[readonly],
select[disabled],
div.readonly,
.textarea-wrapped div.readonly{
  color: $black;
  background: $grey-4;
  border-color: $border-colour;
}

.form-group {

  .form-finances-subcontracting-cost {
    text-align: right;
  }

  &.inline label {
    display:inline-block;
    margin-right: 1em;
  }
}

td.form-group,
tr.form-group {
  float:none;
  width:auto;
  padding-left:0;

  input {
    vertical-align: top;
  }

  &.error {
    border-left:none;
  }
}

.field-error {
  @include box-shadow(none);
  border: 4px solid $error-colour;
}

table td input[type="number"] {
  text-align: right;
}


/* SG

# IFS/Input sizes
Used to define input widths, so they can be more specific to digits that need to ne entered. Used particularly for numerical fields

```
<div class="form-group">
    <label class="form-label" for="">Extra small</label>
    <input class="width-extra-small" id="width-extra-small" value="65px">
</div>
<div class="form-group">
    <label class="form-label" for="">Small</label>
    <input class="width-small" id="width-small" value="80px">
</div>
<div class="form-group">
    <label class="form-label" for="">Small medium</label>
    <input class="width-small-medium" id="width-small-medium" value="100px">
</div>
<div class="form-group">
    <label class="form-label" for="">Medium</label>
    <input class="width-medium" id="width-medium" value="150px">
</div>
<div class="form-group">
    <label class="form-label" for="">LARGE</label>
    <input class="width-large" id="width-large" value="200px">
</div>
<div class="form-group">
    <label class="form-label" for="">Full</label>
    <input class="width-full" id="width-full" value="100%">
</div>
 ```
*/



.width-extra-small{
  width: 65px;
}

.width-small{
  width: 80px;
}

.width-small-medium{
  width: 100px;
}

.width-medium{
  width: 150px;
}

.width-large{
  width: 200px;
}

.width-full{
  width: 100%;
}

select.form-control.width-x-large,
.width-x-large{
  width:60%;
}

input.form-control + button.button,
select.form-control + button.button {
  line-height:1.15;

  @include media (mobile) {
    margin-top:15px;
  }
}

input.form-control.field-error + button.button,
select.form-control.field-error + button.button {
  line-height:1.35;
}

table .cell-border-right {
  border-right:1px solid $border-colour;
}

table td{

  &.bold {
    font-weight: 700;
  }

  &.numeric{
    text-align: right;

    input{
      text-align: right;
    }
  }

  .control{
    padding-left: 20px
  }

}

.date-group {

  > div {
    float: left;
    margin-right: 3.5%;
    width: auto;

    @include media (tablet) {
      margin-right: 5%;
    }
  }

  select {
    height: 2em; // fix OSX bug for not supporting padding on select
    width: auto;
  }
}

tr.form-group-row.error {
  border:none;
  background-position: 4px 50%;

  .error-message {
    display: none;
  }

  > *:first-child{
    @extend .warning-alert;
    background-position: 10px 50%;
    padding-left: 40px;
    margin: auto;
    color:#000;
    white-space: nowrap;
  }

  td,
  th {
    background: $highlight-colour;
  }

  td:first-child {
    border-left: 5px solid $red;
  }
}

.form-date{
  overflow: hidden;
  margin-bottom: 30px;
}

.question{

  @extend %contain-floats;
  margin-bottom: 30px;

  .heading-medium{
    margin: 0.8em 0 0.4em 0;
    display: inline-block;
  }

  .form-hint{
    margin-bottom: 0.8em;
  }

  details{
    margin-top: 0.4em;
    margin-bottom: 0.8em;
  }
}

.textarea-wrapped {
  position: relative;

  .textarea-header {
    font-size: 14px;
    border: 2px solid $border-colour;
    border-bottom: none;
    background: $grey-4 0 0 no-repeat;
    min-height:60px;
  }

  .assignee {
    padding:20px 15px 5px;
  }

  .assignee span + span {
    font-weight:bold;
  }

  img + .assignee {
    padding:20px 15px 0 55px;
  }

  .textarea-header + textarea,
  .textarea-header + [contenteditable="true"],
  .textarea-header + .readonly {
    border-top:none;
  }

  textarea,
  [contenteditable="true"],
  .readonly {
    border:  2px solid;
    min-height: 250px;
    margin: 0;
    padding: 5px 10px;
    resize: vertical;
    vertical-align: top;
    width:100%;
    @include box-sizing(border-box);
    overflow:auto; //needed for resize [contenteditable] div
  }

  .textarea-footer {
    font-size:16px;
    padding: 10px 0px;

    .buttonlink {
      vertical-align:top;
      padding: 0 10px 0 0;
    }
  }
}

td.autosave-info {
  color: $grey-1;
  font-size:14px;
  min-width:70px;
}

.textarea-footer {

  .count-label,
  .autosave-info {
    padding:2px 0;
    float:right;
    color: $grey-1;
    clear:right;
  }
}

.count-label {

  .negative {
    color: $orange;
    font-weight: 700;
  }

  .word-count-reached .count-down{
    color: $orange;
    font-weight: 700;
  }
}

.feedback .textarea-wrapped textarea{
  border: 1px solid $border-colour;
}

// ------- file upload -------- //

.upload-section {
  overflow: hidden;
  background: $grey-4;
  padding: 16px 16px 8px 16px;
  margin: 16px 0;

  &.error {
    @extend .warning-alert;
    background: none;
    padding-left: 16px;
  }
}

.no-js .upload-section .inputfile + label{
  visibility: hidden;
  display: none;
}

.no-js .upload-section .inputfile {
  margin:16px 0;
  font-size:17px;
}

.js-enabled [data-for-file-upload] {
  display:none;
}

.js-enabled .upload-section .inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-section .inputfile + label{
  margin-top: 20px;
}

.upload-section	.uploaded-file{
  display: block;
  margin: 10px 0;
}

.form-group.download{
  padding: 5px 0 0 50px;
  background: url(../images/icons/icon-download.png) no-repeat;
}

// ------- progressive group select -------- //

.js-progressive-group-select {
  display: block;
  margin: 0 0 1em 0;

  @include media (tablet) {
    display: inline-block;
    margin: 0 1em 0 0;
  }
}

.js-progressive-group-select,
.js-enabled [data-progressive-group-select] {
  @include media (tablet) {
    max-width: 40%;
  }
}



/* SG

# IFS/Wrapped textarea footers
Used to show information and CTAs under wrapped textarea used in application questions

```
<div>
  <div class="form-footer">
    <div class="form-footer__controls">
      <a href="#">Mark as complete</a>
    </div>
    <div class="form-footer__info">
      Last saved 15 January 03:34 by you
    </div>
</div>
```

*/

.agree-to-terms-container{
  @extend %contain-floats;
  padding-left: 1em;
}

.form-footer{
  @extend %contain-floats;
  clear: both;
  color: $secondary-text-colour;
  background: $grey-4;
  padding: 0.8em;
  margin: 0;

  &__actions{
    min-height: 1em;
    float: left;
  }

  &__info{
    @include core-16;
    min-height: 1em;
    float: right;
  }

  &__actions,
  &__info {
    @include media-down(mobile) {
      min-height: 1em;
      display: block;
      float: none;
      text-align: center;
    }
  }

  .buttonlink {
    margin-bottom: 0;
  }

  .autosave-info {
    padding: 0;
    float: none;
    font-weight: bold;
  }

  .update-details {
    margin-right: 1em;
  }

  &__actions,
  &__info {
    @include media-down(mobile) {
      min-height: 1em;
      display: block;
      float: none;
      text-align: center;
      padding: 0.25em 0;
    }
  }

  .buttonlink {
    @include media-down(mobile) {
      margin: 0.5em;
    }
  }
}
