%read-only {
  color: $black;
  background: $grey-4;
  border-color: $border-colour;
  cursor: default;
}

%read-only-boxed {
  border: none;
  background: none;

  &:focus {
    outline: none;
    outline-offset: 0;
  }

  .app-form & {
    font-weight: bold;
  }
}

textarea,
input,
select,
div {
  &[readonly],
  &[disabled],
  &.readonly {
    @extend %read-only;
  }
}

.textarea-wrapped {
  div {
    &.readonly{
      @extend %read-only;
    }
  }
}

input {
  &[readonly] {
    &:not(.readonly-boxed) {
      @extend %read-only-boxed;
    }
  }

  &[disabled] {
    &:not(.readonly-boxed) {
      @extend %read-only-boxed;
    }
  }
}

.form-group {
  .form-finances-subcontracting-cost {
    text-align: right;
  }

  &.inline {
    label {
      display:inline-block;
      margin-right: 1em;
    }
  }
}

td,
tr {
  &.form-group {
    float:none;
    width:auto;
    padding-left:0;

    input {
      vertical-align: top;
    }

    &.form-group-error {
      border-left:none;
    }
  }
}

.form-control-error {
  @include box-shadow(none);
  border: 4px solid $error-colour;
}

table {
  td {
    input {
      &[type="number"] {
        text-align: right;
      }
    }

    &.bold {
      font-weight: 700;
    }

    &.numeric {
      text-align: right;

      input {
        text-align: right;
      }
    }

    .control {
      padding-left: 20px;
    }

    .buttonlink {
      margin: 0;
    }
  }

  .cell-border-right {
    border-right:1px solid $border-colour;
  }
}

.width-extra-small {
  width: 65px;
}

.width-small {
  width: 80px;
}

.width-small-medium {
  width: 100px;
}

.width-medium {
  width: 150px;
}

.width-large {
  width: 200px;
}

.width-full {
  width: 100%;

  .app-form & {
    min-width: 100px;
  }

}

.width-x-large{
  width:60%;
}

select {
  &.form-control {
    &.width-x-large {
      width:60%;
    }
  }
}

input,
select {
  &.form-control {
    + button {
      &.button {
        @include media (mobile) {
          margin-top:15px;
        }

        line-height:1.15;
      }
    }

    &.form-control-error {
      + button {
        &.button {
          line-height:1.35;
        }
      }
    }
  }
}

.date-group {
  @include media (tablet) {
    margin-right: 5%;
  }

  > div {
    float: left;
    margin-right: 3.5%;
    width: auto;
  }

  select {
    height: 2em; // fix OSX bug for not supporting padding on select
    width: auto;
  }
}

tr {
  &.form-group-row {
    &.form-group-error {
      border:none;
      background-position: 4px 50%;

      .error-message {
        @extend .visually-hidden
      }

      > * {
        &:first-child {
          @extend .warning-alert;
          background-position: 10px 50%;
          padding-left: 40px;
          margin: auto;
          color:#000;
          white-space: nowrap;
          border-left: 5px solid $red;
          border-bottom: 1px solid $border-colour;
        }
      }

      td,
      th {
        background: $highlight-colour;
      }
    }
  }
}

.form-date {
  overflow: hidden;
  margin-bottom: 30px;
}

.question {
  @extend %contain-floats;
  margin-bottom: 30px;

  .heading-medium {
    margin: 0.8em 0 0.4em 0;
    display: inline-block;
  }

  .form-hint {
    margin-bottom: 0.8em;
  }

  details {
    margin-top: 0.4em;
    margin-bottom: 0.8em;
  }
}

.textarea-wrapped {
  position: relative;

  .textarea-header {
    font-size: 14px;
    border: 2px solid $border-colour;
    border-bottom: none;
    background: $grey-4 0 0 no-repeat;
    min-height:60px;

    + textarea,
    + [contenteditable="true"],
    + .readonly {
      border-top:none;
    }
  }

  .assignee {
    padding:20px 15px 5px;

    span + span {
      font-weight:bold;
    }
  }

  img + .assignee {
    padding:20px 15px 0 55px;
  }

  textarea,
  [contenteditable="true"],
  .readonly {
    @include box-sizing(border-box);
    border:  2px solid;
    min-height: 250px;
    margin: 0;
    padding: 5px 10px;
    resize: vertical;
    vertical-align: top;
    width:100%;
    overflow:auto; //needed for resize [contenteditable] div
  }

  .textarea-footer {
    font-size:16px;
    padding: 10px 0px;

    .buttonlink {
      vertical-align:top;
      padding: 0 10px 0 0;
    }
  }
}

td {
  &.autosave-info {
    color: $grey-1;
    font-size:14px;
    min-width:70px;
  }
}

.textarea-footer {
  .count-label,
  .autosave-info {
    padding:2px 0;
    float:right;
    color: $grey-1;
    clear:right;
  }
}

.count-label {
  .negative {
    color: $orange;
    font-weight: 700;
  }

  .word-count-reached {
    .count-down{
      color: $orange;
      font-weight: 700;
    }
  }
}

.feedback {
  .textarea-wrapped {
    textarea{
      border: 1px solid $border-colour;
    }
  }
}

// ------- file upload -------- //

.upload-section {
  overflow: hidden;
  background: $grey-4;
  padding: 16px 16px 8px 16px;
  margin: 16px 0;

  &.form-group-error {
    @extend .warning-alert;
    background: none;
    padding-left: 16px;
  }

  .inputfile {
    + label{
      margin-top: 20px;
    }
  }

  .uploaded-file{
    display: block;
    margin: 10px 0;
  }
}

.no-js {
  .upload-section {
    .inputfile {
      margin:16px 0;
      font-size:17px;

      + label {
        visibility: hidden;
        display: none;
      }
    }
  }
}

.js-enabled {
  [data-for-file-upload] {
    display:none;
  }

  .upload-section {
    .inputfile{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
}

.form-group {
  &.download {
    padding: 5px 0 0 50px;
    background: url(../images/icons/icon-download.png) no-repeat;
  }
}

// ------- progressive group select -------- //

.js-progressive-group-select {
  @include media (tablet) {
    display: inline-block;
    margin: 0 1em 0 0;
  }

  display: block;
  margin: 0 0 1em 0;
}

.js-progressive-group-select {
  @include media (tablet) {
    max-width: 40%;
  }
}

.js-enabled {
  [data-progressive-group-select] {
    @include media (tablet) {
      max-width: 40%;
    }
  }
}

.agree-to-terms-container {
  @extend %contain-floats;
  padding-left: 1em;
}

.form-footer {
  @extend %contain-floats;
  clear: both;
  color: $secondary-text-colour;
  background: $grey-4;
  padding: 0.8em;
  margin: 0;

  &__actions {
    min-height: 1em;
    float: left;
  }

  &__info {
    @include core-16;
    min-height: 1em;
    float: right;
  }

  &__actions,
  &__info {
    @include media-down(mobile) {
      min-height: 1em;
      display: block;
      float: none;
      text-align: center;
    }
  }

  .buttonlink {
    margin-bottom: 0;
  }

  .autosave-info {
    padding: 0;
    float: none;
    font-weight: bold;
  }

  .update-details {
    margin-right: 1em;
  }

  &__actions,
  &__info {
    @include media-down(mobile) {
      min-height: 1em;
      display: block;
      float: none;
      text-align: center;
      padding: 0.25em 0;
    }
  }

  .buttonlink {
    @include media-down(mobile) {
      margin: 0.5em;
    }
  }
}
