.contributorsForm {
  [data-invite-org] {
    > .form-group {
      margin: 1em 0 0.2em;
    }

    > .alignright {
      margin: 0.3em 0 0;
    }
  }

  .boxed-list {
    > li {
      &:last-child {
        background-color: $highlight-colour;
      }
    }
  }

  .alignright-button {
    padding:10px 0;
  }
}
