.list-overview {
  margin-left: 0;
  padding: 0;
  list-style-type: none;

  > li {
    border-top: 1px solid $border-colour;

    &:last-child {
      border-bottom: 1px solid $border-colour;
    }

    &.grid-row {
      min-height: 30px;
      margin: 0
    }
  }

  h2,
  h3 {
    &.heading-small {
      margin: 10px 0;
    }
  }

  .assign-container {
    font-size: 14px;
    padding: 10px 0;

    .assign-team {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .grid-row {
    .column-third {
      padding: 12px 15px 0 20px;
    }
  }
}

.eligibility {
  border: 1px solid $border-colour;
  padding: 20px 20px 10px 20px;

  &.warning {
    border: 1px solid $red;
  }
}


.list-eligibility {
  @include core-24;
  overflow: auto;

  dt {
    @include media-down(tablet) {
      width: 70%;
    }

    display: block;
    float: left;
    width: 50%;
    font-weight: normal;
    margin-bottom: 0.5em;
  }

  dd {
    display: block;
    float: left;
    font-weight: bold;
    margin-bottom: 0.5em;

    &.warning {
      color: $red;
    }

    & + dt {
      clear: both;
    }
  }
}

dl {
  dd {
    display: block;
    margin-bottom:0.5em;
  }

  dt {
    display: block;
    font-weight:bold;

    &.font-small {
      font-weight:bold;
    }
  }

  &.readonly-data {
    margin-bottom:1em;

    dt {
      &:first-of-type {
        margin-top:0;
      }
    }

    dt {
      margin-top: 1em;
    }
  }
}

.dl-left {
  overflow: hidden;

  dd,
  dt {
    line-height:1.5;
    font-weight:normal;
  }

  dd {
    @include media-down(tablet) {
      display:block;
      float:none;
      margin: 0;
    }

    float:left;
    font-weight:bold;
    clear:left;
    margin-right:5px;
  }
}

ol {
  &.list-alpha {
    counter-reset: item;
    padding:15px 0;

    li {
      display: block;
      padding:10px 0 10px 45px;
      counter-increment: item;

      &:before {
        position: absolute;
        content: counter(item, upper-alpha);
        margin-left:-45px; //negative of the ol li padding
      }
    }
  }

  &.roman,
  &.lower-alpha {
    padding-left:25px;
  }

  &.list {
    &.roman {
      list-style-type: lower-roman;
    }

    &.lower-alpha {
      list-style-type: lower-alpha;
    }
  }

  &.list-counted {
    counter-reset: item;
    padding:15px 0;

    li {
      display: block;
      padding: 10px 0 10px 45px;

      &:before {
        content: counters(item, '.') '. ';
        counter-increment: item;
        position: absolute;
        margin-left:-45px; //negative of the ol li padding
      }

      &.list-bold {
        &:before {
          font-weight: bold;
        }

        > span {
          font-weight: bold;
        }
      }
    }

    ol {
      counter-reset: item;

      ol {
        padding-left:15px;

        ol {
          margin-left:-20px;

          li {
            padding-left: 70px;

            &:before {
              margin-left:-70px;
            }
          }
        }
      }

      li {
        li {
          padding-left: 55px;

          &:before {
            margin-left:-55px;
          }
        }
      }
    }

    > li > ol {
      margin-left:-45px;
    }
  }
}

%definition-list {
  @include core-19;
  overflow: auto;

  dt {
    @include media-down(tablet) {
      width: 70%;
    }

    display: block;
    float: left;
    margin-bottom: 0.5em;
    margin-right: 1em;
    max-width: 250px;
    width: 50%;
  }

  dd {
    display: block;
    float: left;
    font-weight: normal;
    margin-bottom: 0.5em;

    &.warning {
      color: $red;
    }

    & + dt {
      clear: both;
    }

    & + dd {
      clear: both;
      margin-left: 250px;
    }
  }

  &.reduced-width {
    margin-top: 0.5em;

    dt {
      margin-bottom: 0.3em;
      width: 25%;
    }

    dd {
      margin-bottom: 0.3em
    }
  }

  &.column-definition-list {
    dt {
      margin-right: 15px;
      max-width: none;
      width: 33%;
    }

    dd {
      & + dd {
        margin-left: 330px;
      }
    }
  }
}

.comp-list {
  li {
    border-top:1px solid $border-colour;
    overflow: hidden;
  }

  li {
    &:last-child {
      border-bottom:1px solid $border-colour;
    }
  }

  .status {
    display:block;
    color: $secondary-text-colour;
    background: $panel-colour;
    padding: 12px;
    text-align: center;
    margin-top: 1.2em;
    font-weight: bold;
  }
}

.standard-definition-list {
  @extend %definition-list;
}

.date-definition-list {
  @extend %definition-list;

  dt {
    font-weight: normal;
    max-width: 100px;
  }
}