%alert-panel {
  @include media-down(mobile) {
    padding: 20px 10px 20px 30px;
    background-position: 8px 50%;
    background-size: 16px 16px;

    p {
      a {
        margin-left: 0;
      }
    }
  }

  padding: 20px 20px 20px 60px;
  border-style: solid;
  border-width: 0 0 0 5px;
  margin: 10px 0;
  background-color: govuk-colour("grey-4");
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-size: 20px 20px;
  clear: both;

  p,
  .govuk-heading-s,
  .govuk-heading-m,
  ul,
  ol {
    margin: 0;
  }
}

.success-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-tick.png');
  background-size: 20px 17px;
  border-color: $govuk-button-colour;

  .govuk-heading-s{
    color: $govuk-button-colour;
  }
}

.fail-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-cross.png');
  color: $govuk-error-colour;
  border-color: $govuk-error-colour;
}

.warning-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-alert.png');
  color: $govuk-error-colour;
  border-color: $govuk-error-colour;

  .govuk-heading-m,
  .govuk-heading-s,
  .govuk-heading-l,
  .govuk-body {
    color: $govuk-error-colour;
  }

  .govuk-list {
    li {
      color:  $govuk-error-colour;
    }
  }
}

.message-alert,
.icon-info {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-info.png');
  border-color: $govuk-link-colour;
}

.assign-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-edit.png');
  border-color: $govuk-text-colour;
}

.assigned-alert {
  @extend %alert-panel;
  border-color: $govuk-text-colour;
  padding-left: 30px;
}

.declare-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-declare.png');
  border-color: $govuk-text-colour;
}
