%alert-panel {
  @include media-down(mobile) {
    padding: 20px 10px 20px 30px;
    background-position: 8px 50%;
    background-size: 16px 16px;

    p {
      a {
        margin-left: 0;
      }
    }
  }

  padding: 20px 20px 20px 60px;
  border-style: solid;
  border-width: 0 0 0 5px;
  margin: 10px 0;
  background-color: $grey-4;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-size: 20px 20px;
  clear: both;

  p,
  .heading-small,
  .heading-medium,
  ul,
  ol {
    margin: 0;
  }
}

.success-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-tick.png');
  background-size: 20px 17px;
  color: $button-colour;
  border-color: $button-colour;
}

.fail-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-cross.png');
  color: $govuk-error-colour;
  border-color: $govuk-error-colour;
}

.warning-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-alert.png');
  color: $govuk-error-colour;
  border-color: $govuk-error-colour;
}

.message-alert,
.icon-info {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-info.png');
  border-color: $link-colour;
}

.assign-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-edit.png');
  border-color: $text-colour;
}

.assigned-alert {
  @extend %alert-panel;
  border-color: $text-colour;
  padding-left: 30px;
}

.declare-alert {
  @extend %alert-panel;
  background-image: url('../images/ifs-images/icons/icon-declare.png');
  border-color: $text-colour;
}
