
table {

  .cell-align-top {
    vertical-align: top;
  }

  .cell-nowrap {
    white-space: nowrap;
  }

  .width-30-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 30%;
  }

  .width-40-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 40%;
  }

  .width-50-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 50%;
  }

  .width-65 {
    width: 65px;
  }

  .width-80 {
    width: 80px;
  }

  .width-100 {
    width: 100px;
  }

  .width-150 {
    width: 150px;
  }

  .width-200 {
    width: 200px;
  }

  .selection-button-checkbox {
    margin-left: 5px;
    width: 20px;
  }

  .govuk-radios__item{
    margin-left: 3px;

    // The invisible label causes alignment issues with checkboxes within tables, restricting width and height cures this issue
    .invisible{
      display: inline-block;
      max-width: 50px;
      max-height: 20px;
      overflow: hidden;
    }
  }

  .empty-table-cell-select {
    margin-left: 20px;
  }
}

.table-overflow {
  overflow: auto;
  padding-bottom: 0.5em;
  width: 100%;

  // Forces visible scrollbar on browser/OS that might hide it by default
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0.1);
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.4);
    border-radius: 20px;
  }

  table{
    max-width: 100%;

    td {
      &:first-child{
        input,
        textarea {
          margin-left: 3px;
        }
      }
    }
  }
}


.table-stacked-mobile {

  td{
    .govuk-label {
      display: none;
    }
  }

  @include media-down(mobile) {

    + p {
      text-align: left;
    }

    thead {
      display: none;
    }

    tr{
      &.form-group-row-validated{
        border-top: 1px solid #bfc1c3;

        &:first-child{
          border:none;
        }
      }

      &.form-group-error {
        margin-right: 0px;
        border-left: none;
        padding-left: 0px;

        td{
          &.form-group-error {
            border-left: 4px solid #b10e1e;
            margin-right: 15px;
            padding-left: 10px;
          }
        }
      }
    }

    td {
      &.form-group {
        width: 100%;
        float: left;
        border: none;

        label {
          .govuk-label {
            display: block;
            font-weight: 800;
          }
        }
      }
    }
  }
}

.hint {
  color: $govuk-secondary-text-colour;
}

hr,
.clear-floats{
  clear: both;
}

.govuk-panel--confirmation {
  .govuk-link {
    color: govuk-colour("white");

  }
}
