.column-three-quarters{
  @include grid-column( 9/12 );
}

.column-one-quarter{
  @include grid-column( 3/12 );
}

.column-one{
  @include grid-column( 12/12 );
}

.no-pad{
  padding: 0;

  .heading-large,
  .heading-xlarge{
    margin-bottom: 10px;
  }

  .subtitle{
    margin: 20px 0 30px 0;
  }
}

.no-margin{
  margin: 0;
}

.no-margin-left{
  margin-left: 0;
}

.no-margin-right{
  margin-right: 0;
}

.no-margin-top{
  margin-top: 0;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.margin-top{
  margin-top: 15px;
}

.extra-margin{
  margin-top: 30px;
}

.extra-margin-bottom{
  margin-bottom: 30px;
}

.width-150{
  width: 150px;
}

.dl-pad{
  dd{
    padding-bottom: 20px;
  }
}

table {

  .cell-align-top {
    vertical-align: top;
  }

  .cell-nowrap {
    white-space: nowrap;
  }

  .width-30-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 30%;
  }

  .width-40-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 40%;

    .width-full {
      width: 100%;
    }
  }

  .width-50-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 50%;
  }

  .selection-button-checkbox {
    margin-left: 5px;
    width: 20px;
  }

  .multiple-choice{
    margin-left: 3px;

    // The invisible label causes alignment issues with checkboxes within tables, restricting width and height cures this issue
    .invisible{
      display: inline-block;
      max-width: 50px;
      max-height: 20px;
      overflow: hidden;
    }
  }

  .empty-table-cell-select {
    margin-left: 20px;
  }
}

.table-overflow {
  overflow: auto;
  padding-bottom: 0.5em;
  width: 100%;

  // Forces visible scrollbar on browser/OS that might hide it by default
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0.1);
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.4);
    border-radius: 20px;
  }

  table{
    max-width: 100%;

    td {
      &:first-child{
        input,
        textarea {
          margin-left: 3px;
        }
      }
    }
  }
}


.table-stacked-mobile {

  td{
    .form-label {
      display: none;
    }
  }

  @include media-down(mobile) {

    + p {
      text-align: left;
    }

    thead {
      display: none;
    }

    tr{
      &.form-group-row-validated{
        border-top: 1px solid #bfc1c3;

        &:first-child{
          border:none;
        }
      }

      &.form-group-error {
        margin-right: 0px;
        border-left: none;
        padding-left: 0px;

        td{
          &.form-group-error {
            border-left: 4px solid #b10e1e;
            margin-right: 15px;
            padding-left: 10px;
          }
        }
      }
    }

    td,
    td.form-group{
        width: 100%;
        float: left;
        border:none;

        label{
          .form-label {
            display: block;
            font-weight: 800;
          }
        }
      }
  }
}

.hint {
  color: $grey-1;
}

.button-warning{
  @include button(#c00000);
}

.button-block{
  display: block;
  text-align: center;
  width: 100%;
}

hr,
.clear-floats{
  clear: both;
}

button {
  &.link-back {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 0;
    cursor: pointer;
  }
}
