.column-three-quarters{
	@include grid-column( 9/12 );
}

.column-one-quarter{
	@include grid-column( 3/12 );
}

.column-one{
	@include grid-column( 12/12 );
}

.no-pad{
	padding: 0;

	.heading-large,
	.heading-xlarge{
		margin-bottom: 10px;
	}

	.subtitle{
		margin: 20px 0 30px 0;
	}
}

.no-margin{
	margin: 0;
}

.no-margin-left{
	margin-left: 0;
}

.no-margin-right{
	margin-right: 0;
}

.no-margin-top{
	margin-top: 0;
}

.no-margin-bottom{
	margin-bottom: 0;
}

.extra-margin{
	margin-top: 30px;
}
.extra-margin-bottom{
  margin-bottom: 30px;
}

.width-150{
	width: 150px;
}

.dl-pad{
	dd{
		padding-bottom: 20px;
	}
}

table {

  .cell-align-top {
    vertical-align: top;
  }

  .cell-nowrap {
    white-space: nowrap;
  }

  .width-30-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 30%;
  }

  .width-40-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 40%;

    .width-full {
      width: 100%;
    }
  }

  .width-50-percent {
    box-sizing: border-box;
    padding-right: 1em;
    width: 50%;
  }
}

.table-overflow {
  overflow: auto;
  padding-bottom: 0.5em;
  width: 100%;

  // Forces visible scrollbar on browser/OS that might hide it by default
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0.1);
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.4);
    border-radius: 20px;
  }

  table{
    max-width: 100%;
  }
}

.hint {
  color: $grey-1;
}

/* SG
# IFS/warning button

```
<button class="button-warning button large">No</button>
```

*/

.button-warning{
	@include button(#c00000);

	&.large{
		box-shadow: 0px 4px 0px darken(#c00000,15%);
	}
}

.button-block{
  display: block;
  text-align: center;
  width: 100%;
}

hr {
  clear: both;
}
