/* SG

# IFS/Modal dialogs
Controlled with javascript, an alternative standard html page should be used for non-js users
```
<a href="#fallback-pagewhen-no-js" data-js-modal="my-important-modal" class="button">Open dialog</a>

<div class="modal-overlay js-close" aria-hidden="true"></div>
<div class="my-important-modal" role="dialog" aria-hidden="true">
	<button class="js-close close" type="button" aria-label="Close Popup">X</button>
	<p>Content goes here</p>
	<hr/>
	<div class="grid-row">
			<div class="column-half">
					<button class="js-close button buttonlink large" type="button">Cancel</button>
			</div>
			<div class="column-half alignright">
					<button class="button large">Submit</button>
			</div>
		</div>
</div>
```

*/

[role="dialog"]{
	border-top: 10px solid $link-colour;
	width:80%;
	margin-left:-40%;
	left:50%;
	position: fixed;
	background-color: #FFF;
	top:50%;
	padding: 40px 30px 30px 30px;
	@include box-sizing(border-box);
	z-index: 20;
	@include transition-property(top,margin);
	@include transition-duration(300ms);


	.close {
		background:none;
		border:1px solid #000;
		position: absolute;
		right:15px;
		top:15px;
		cursor:pointer;
		padding:5px;
		font-size:16px;
		line-height:1;
		&:hover {
			background-color: $grey-4;
		}
	}
	.close.close {
		border: none;
		font-weight: bold;
	}
}
.modal-overlay {
	&.js-close {
		cursor:pointer;
	}
	position:fixed;
	width:100%;
	height: 100%;
	left:0;
	top:0;
	//in fallback order
	background: url("../images/000000-0.5.png");
	background: rgba(0,0,0,0.5);
	z-index: 9;
}
