.password-toggle{
  position: relative;

  input{
    width: 100%;
    padding-right: 65px;
  }

  button{
    @include govuk-font(19);
    position: absolute;
    top: 0.3em;
    right: 0.2em;
    background: none;
    border: none;
    color: $govuk-link-colour;

    &:hover{
      color: $govuk-link-hover-colour;
      cursor: pointer;
    }
  }
}

.no-js{
  .password-toggle{
    input{
      padding-right: 4px;
    }

    button{
      display: none;
    }
  }
}

.js-enabled {
  .password-toggle {
    input {
      &::-ms-clear,
      &::-ms-reveal{
        display: none;
      }
    }
  }
}