.password-toggle{
  position: relative;
  width: 50%;
  input{
    width: 100%;
    padding-right: 65px;
  }
  button{
    position: absolute;
    top: 0.3em;
    right: 0.2em;
    background: none;
    border: none;
    font-size: 19px;
    color: $link-colour;
    &:hover{
      color: $link-hover-colour;
      cursor: pointer;
    }
  }
  @include media-down(mobile){
    width: 100%;
  }
}
.no-js{
  .password-toggle{
    input{
      padding-right: 4px;
    }
    button{
      display: none;
    }
  }
}
.js-enabled .password-toggle input::-ms-clear,
.js-enabled .password-toggle input::-ms-reveal{
  display: none;
}