/* SG

# IFS/Pie chart basic

SVG based pie charts, won't show without javascript or svg


```
<div class="pie">92%</div>
<div class="pie">42%</div>
<div class="pie">22%</div>

```
*/

/* SG
# IFS/Pie chart counting down the days

 ```
<div class="pie-container">
	<div class="pie">90%</div>
	<div class="pie-overlay">
		<div>2</div>
		<span>Days left</span>
	</div>
</div>


<div class="pie-container">
	<div class="pie">50%</div>
	<div class="pie-overlay">
		<div>10</div>
		<span>Days left</span>
	</div>
</div>


<div class="pie-container">
	<div class="pie">10%</div>
	<div class="pie-overlay">
		<div>18</div>
		<span>Days left</span>
	</div>
</div>

<!-- You can add `.small` to `.pie` for a smaller version of both -->

<div class="pie-container">
	<div class="pie small">10%</div>
	<div class="pie-overlay">
		<div>18</div>
		<span>Days left</span>
	</div>
</div>

<div class="pie small">10%</div>
```

*/

.pie.small {
	width: 38px;
	height:38px;
	+ .pie-overlay {
		width:34px;
		height: 34px;
		top:2px;
		left:2px;
	}
	+ .pie-overlay > span {
        font-size: 13px;
        font-weight: 700;
        line-height: 36px;
        margin-top:0;
	}
}

.pie {
	width: 100px;
	height: 100px;
	@include inline-block;
	color:transparent;

	 svg {
		background:$grey-3;
		border-radius: 50%;
	}
  &[aria-hidden="true"]{
    display: inline-block;
    visibility:visible;
  }

	circle {
		fill:$red;
		stroke: $grey-3;
		stroke-width: 32;
		transform: rotate(-90deg);
		transform-origin: 50%;
	}
}
.pie-container {
	position: relative;
	@include inline-block;
	vertical-align:middle;
}
.pie-overlay {
	@include border-radius(50%);
	width:88px;
	height: 88px;
	top:6px;
	left:6px;
	position: absolute;
	background:#fff;
	z-index:8;
	color: $red;
	text-align: center;
	line-height: 1;
	font-size:15px;
	> .day {
        display: block;
		margin-top:10px;
		font-weight: bold;
		margin-top:24px;
		font-size: 31px;
	}
}

@include media-down(tablet){
	.pie {
		width:80px;
		height:80px;
	}
	.pie-overlay{
		width:70px;
		height:70px;
		top:5px;
		left:5px;
		font-size:13px;
		> div {
			margin-top:18px;
			font-size:20px;
		}
	}
}

.no-js {
	.pie {
		width:auto;
		height: auto;
		display: none;
	}
	.pie-overlay {
		border: 2px solid $grey-3;
		position: static;
	}
}
//same as no-js but @extends don't work within ie-lte :(
@include ie-lte(8) {
	.pie {
		width:auto;
		height: auto;
		display: none;
	}
	.pie-overlay {
		border: 2px solid $grey-3;
		position: static;
	}
}
