.ifs-progress-list li {
    position: relative;
    clear:both;
    &.column-half,
    &.column-two-thirds {
      clear:none;
    }
    .linkbar a {
      margin-right:15px;
    }
}
.ifs-progress-list li h2,
.ifs-progress-list li h3,
.ifs-progress-list li h4 {
    margin-top:0;
}

.ifs-progress-list .progress-status {
    border: 3px solid $border-colour;
    @include border-radius(50%);
    width:78px;
    height: 78px;
    text-align: center;
    float:left;
    background: $grey-4  no-repeat center center;
}
.ifs-progress-list .progress-status:after {
    position: absolute;
    top:90px;
    bottom:-10px;
    content:"";
    left: 40px;
    border-right: 3px dashed $border-colour;
}


.ifs-progress-list .progress-info {
    @include border-radius(5px);
    border: 3px solid $border-colour;
    padding:20px;
    margin: 0 0 20px 100px;
    position: relative;
}

.ifs-progress-list .progress-info:before {
    content: "";
    position: absolute;
    left: -36px;
    border: 18px solid transparent;
    border-right: 18px solid $grey-2;
}

//blue project status
.ifs-progress-list li.processing,
.ifs-progress-list li.require-action {
    a {
      color:$white;
    }
    .progress-status,
    .progress-info {
        background-color: $link-colour;
        color:$white;
        border-color: $link-colour;
    }
    .progress-info:before {
       border-right: 18px solid $link-colour;
    }

}
.ifs-progress-list li.processing .progress-status {
  background-image: url('/images/progress/hourglass.gif');
}
.ifs-progress-list li.require-action .progress-status {
  background-image: url('/images/progress/flag.gif');
}
.ifs-progress-list li.waiting .progress-status {
  background-image: url('/images/progress/hourglass-2.gif');
}

//status complete
.ifs-progress-list li.complete  .progress-status {
  background-image: url('/images/progress/check.gif');
  background-color: #e5f2eb;

}
.ifs-progress-list li.successful  .progress-status {
  background-image: url('/images/progress/check.gif');
}
//status fail
.ifs-progress-list li.unsuccessful  .progress-status {
  background-image: url('/images/progress/cross.gif');
}

.ifs-progress-list li.unsuccessful .progress-status:after,
.ifs-progress-list li.successful .progress-status:after,
.ifs-progress-list li.complete .progress-status:after {
    border-right-style:solid;
}
.ifs-progress-list li.column-half .progress-status:after,
.ifs-progress-list li:last-child .progress-status:after {
    border:none;
}
//responsive
@include media-down(tablet) {
   .ifs-progress-list .progress-status {
       width:40px;
       height: 40px;
       border-width:2px;
   }
  .ifs-progress-list .progress-info {
      margin-left:60px;
  }
  .ifs-progress-list .progress-status::after {
     left:19px;
     top:50px;
  }
  .ifs-progress-list .progress-info:before,
  .ifs-progress-list li.current .progress-info:before {
     top:5px;
     border-width: 14px;
     left:-28px;
  }
  .ifs-progress-list li  .progress-status {
    background-size: auto 50%;
  }

}

//updated dashboard styling

/*-------- Progress list -------------*/
.progress-list{
  background-color: $panel-colour;
  margin: 20px 0 50px;
  padding: 15px; 

  > .heading-medium {
    margin-top: 0;
  }

  > ul > li {
    margin-top: 10px;
    padding: 15px 0 15px 30px;
    background-color: $white;
    border: 1px solid $border-colour;
    overflow: auto;
    display: flex; // Using flex as a progressive enhancement for vertical alignment of dashboard elements. Container heights are varaiable depending on length of application titles.
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    @include media-down(mobile) {
      padding: 15px;
    }

    .task{
      @include core-16;
      float: left;
      padding-right: 19px;
      vertical-align: top;
      flex: 1 0 auto;

      .heading-small,
      .heading-medium {
        margin-top: 0;
        margin-bottom: 0.3em;
      }

      /*span,
      .application-details {
        @include core-16;
      }*/

      @include media-down(tablet) {
        margin-bottom: 15px;
      }

      @include media-down(mobile) {
        float: none;
        width: 90%;
        //margin-bottom: 15px;
        //font-size: 15px;
      }
      .label-holder {
        float: left;
        height: 45px;
        margin-top: 10px;
        @include media-down(mobile) {
          margin-top: 5px;
        }
      }
      &.task-half-width {
        //width: 50%;
        @include media-down(mobile) {
          width: 90%;
        }
      }
    }

    .action-required {
      /*float: left;
      width: 75%;*/
      margin-top: 10px;
      vertical-align: top;

      strong {
        @extend  %action-required;
        padding-left: 20px;
        //@include core-19;
        font-weight: 700;
      }
      /*@include media-down(mobile) {
        width: 50%;
        margin-top: 0;
        vertical-align: middle;
      }*/
    }
    .notification {
      float: left;
      width: 25%;
      vertical-align: middle;
      text-align: center;
      @include core-16;

      strong, a {
        display: block;
        margin-top: 15px;
        text-align: center;
        @include media-down(mobile) {
          text-align: left;
          margin-top: 0;
        }
      }
      .pending {
        color: $secondary-text-colour;
      }
    }

    .status {
      float: right;
      vertical-align: middle;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;

      .status-msg {
        @include core-14;
        display: block;
        text-align: center;
        font-weight: bold;
        box-sizing: border-box;
        float: left;
        padding: 0 0.5em;
        margin: 0;

        &.msg-deadline{
          font-weight: bold;

          &-today{
            color: $red;
          }

          &-waiting{
            color: $secondary-text-colour;
            padding: 1em 0;
          }

        }

        &.msg-progress{
          @include core-16;
          color: $text-colour;
          font-weight: bold;
          float: right;
        }
      }

      .awaiting {
        @extend .deadline;
        color: $secondary-text-colour;
      }

      .score {
        .percent {
          @include bold-36;
          display: block;
          text-align: center;
        }
        > span {
          display: block;
          text-align: center;
          @include core-16;
          color: $secondary-text-colour;
          /*@include media-down(mobile) {
            font-size: 13px;
            margin-top: 0;
          }*/
        }
        strong {
          display: block;
          text-align: center;
          @include core-16;
          font-weight: bold;
          /*font-size: 17px;
          @include media-down(mobile) {
            font-size: 15px;
          }*/
        }
      }
      > strong, a {
        display: block;
        //margin-top: 15px;
        font-size: 17px;
        text-align: center;
        font-weight: bold;
        @include media-down(mobile) {
          font-size: 15px;
          margin-top: 0;
        }
      }
      > span {
        display: block;
        margin-top: 15px;
        text-align: center;
        @include core-16;

        @include media-down(mobile) {
          margin-top: 0;
        }
      }
      .negative-text {
        color: $red;
      }
      @include media-down(mobile) {
        width: 50%;
      }
    }
    .assessment-period {
      float: right;
      width: 20%;
      flex: 1 0 120px;
      dl {
        @include core-14;
      }
    }
    .status-complete {
      @extend %icon-tick;
      padding-left: 20px;
      background-size: 14px;
      background-position: left center;
      color: $button-colour;
      @include bold-16;
    }
    .status-action-required {
      @extend .status-complete;
      @extend %action-required;
      color: $text-colour;
    }
    &.positive {
      .status > strong {
        color: $button-colour;
      }
      .score > strong {
        color: $button-colour;
      }
      .score .percent {
        color: $text-colour
      }
      .status{
        .msg-progress{
          color: $green;
        }
      }
    }
    &.negative {
      .score > strong {
        color: $red;
      }
      .score .percent {
        color: $text-colour
      }
      .status{
        .msg-progress{
          color: $red;
        }
      }
    }

    /*-------- SETTING WIDTHS OF TASK AND STATUS -------------*/

    .task{
      width: 78%;
    }

    .status{
      width: 19%;
      flex: 1 0 150px;

      .status-msg{
        width: 100%;
      }

      @include media-down(mobile) {
        flex: 1 0 auto;
      }

    }

    &.status-2-col{
      .task{
        width: 58%;
      }
      .status{
        width: 39%;
        flex: 1 1 300px;

        .status-msg{
          width: 50%;

          &:first-child{
            border-right: 1px dashed $border-colour;
          }
        }
      }
    }

  }
}



.project-setup-progress-list {
  @extend  .progress-list;
  background-color: $white;
  margin: 30px 0 50px;
  padding: 0;
  > ul > li {
    position: relative;
    &.require-action{
      background: url(../images/icons/icon-pencil.png) 0.5em 1em no-repeat;
      background-size: 14px;

      @include media-down(tablet) {
        background: none;
      }
    }
    &.read-only {
      background-color: $highlight-colour;
      color: $secondary-text-colour;

      .status{
        .msg-progress{
          color: $secondary-text-colour;
          font-weight: normal;
        }
      }

    }
    .task {
      overflow: hidden;
      .heading-action-required {
        @extend  %action-required;
        position: relative;
        left: -20px;
        padding-left: 20px;
        background-size: 14px;
        background-position: left center;
      }
      ul li {
        float: left;
        margin: 10px 20px 0 0;
        @include media-down(mobile) {
          float: none;
          margin: 5px 20px 0 0;
        }
      }
      .list-bullet li {
        float: none;
        margin-right: 0;
      }
    }
    .status {
      @include media-down(mobile) {
        width: 100%;
        span {
          text-align: right;
        }
      }
    }
  }
}
