/*--- Progress list ---*/
@import "govuk-frontend/settings/all";

.progress-list{
  background-color: govuk-colour("grey-3");
  margin: 20px 0 50px;
  padding: 15px;

  &--individual-blocks{
    background-color: govuk-colour("white");
    margin: 30px 0 50px;
    padding: 0;
  }

  > .govuk-heading-m {
    margin-top: 0;
  }

  ul {
    &:not(.govuk-list) {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }

  > ul > li {
    @include media-down(mobile) {
      padding: 15px;
    }

    margin-top: 10px;
    padding: 15px 0 15px 30px;
    background-color: govuk-colour("white");
    border: 1px solid $govuk-border-colour;
    overflow: auto;
    display: flex; // Using flex as a progressive enhancement for vertical alignment of dashboard elements. Container heights are varaiable depending on length of application titles.
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
   }

  .task{
    @include govuk-font(16);
    @include media-down(tablet) {
      margin-bottom: 15px;
    }

    @include media-down(mobile) {
      float: none;
      width: 90%;
    }

    float: left;
    padding-right: 19px;
    vertical-align: top;
    flex: 1 0 auto;

    .govuk-heading-s,
    .govuk-heading-m {
      margin-top: 0;
      margin-bottom: 0.3em;
    }

    .label-holder {
      @include media-down(mobile) {
        margin-top: 5px;
      }

      float: left;
      height: 45px;
      margin-top: 10px;
    }

    &.task-half-width {
      @include media-down(mobile) {
        width: 90%;
      }
    }
  }

  .action-required {
    margin-top: 10px;
    vertical-align: top;

    strong {
      @extend  %action-required;
      padding-left: 20px;
      font-weight: 700;
    }

  }

  .status {
    @include media-down(mobile) {
      width: 50%;
    }

    float: right;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }

  .status-msg {
    @include govuk-font(14);
    display: block;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    float: left;
    padding: 0 0.8em;
    margin: 0;

    &.msg-deadline{
      font-weight: bold;

      &-today{
        color: $govuk-error-colour;
      }

      &-waiting{
        color: $govuk-secondary-text-colour;
        padding: 1em 0;
      }

    }

    &.msg-progress{
      @include govuk-font(16);
      color: $govuk-text-colour;
      font-weight: bold;
      float: right;
    }
  }

  .awaiting {
    @extend .deadline;
    color: $govuk-secondary-text-colour;
  }

  > span {
    @include govuk-font(16);
    @include media-down(mobile) {
      margin-top: 0;
    }

    display: block;
    margin-top: 15px;
    text-align: center;
  }

  .negative-text {
    color: $govuk-error-colour;
  }

  .assessment-period {
    float: right;
    width: 20%;
    flex: 1 0 120px;

    dl {
      @include govuk-font(14);
    }
  }

  .status-complete {
    @extend %icon-tick;
    @include govuk-font(16, $weight: bold);
    padding-left: 20px;
    background-size: 14px;
    background-position: left center;
    color: $govuk-button-colour;
  }

  .status-reject {
    @extend %icon-cross;
    @include govuk-font(16, $weight: bold);
    padding-left: 20px;
    background-size: 14px;
    background-position: left center;
  }

  .status-action-required {
    @extend %action-required;
    padding-left: 20px;
    color: $govuk-text-colour;
  }

  .status-warning {
    @extend %icon-incomplete;
    background-size: 17px;
    padding-left: 25px;
    color: $govuk-text-colour;
  }

  .positive {
    strong {
      color: $govuk-button-colour;
    }

    .score > strong {
      color: $govuk-button-colour;
    }

    .score {
      .percent{
        color: $govuk-text-colour
      }
    }

    .msg-progress{
      color: govuk-colour("green");
    }

  }

  .negative {
    .score > strong {
      color: $govuk-error-colour;
    }

    .percent{
      color: $govuk-text-colour
    }

    .msg-progress{
      color: $govuk-error-colour;
    }

  }

  .read-only,
  .waiting{
    background-color: govuk-colour("grey-4");
    color: $govuk-secondary-text-colour;

    .govuk-heading-s,
    .govuk-body{
      color: $govuk-secondary-text-colour;
    }

    .msg-progress{
      color: $govuk-secondary-text-colour;
      font-weight: normal;
    }

  }

  /*-------- SETTING WIDTHS OF TASK AND STATUS -------------*/

  .task{
    width: 78%;
  }

  .status{
    @include media-down(mobile) {
      flex: 1 0 auto;
    }

    width: 19%;
    flex: 1 0 150px;
  }

  .status-msg{
    width: 100%;
  }

  .status-2-col{

    .task{
      width: 58%;
    }

    .status{
      width: 39%;
      flex: 1 1 300px;
    }

    .status-msg{
      width: 50%;

      &:first-child{
        border-right: 1px dashed $govuk-border-colour;
      }
    }
  }
}
