
.procurement-milestones {
  .width-10-percent {
    width: 10%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
  }

  .width-20-percent {
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
  }

  .width-48-percent {
    width: 48%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
  }

  .width-80-percent {
    width: 79%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
  }

  .central-col {
    width: 59%;
    display: inline-block;
    vertical-align: top;

    label {
      margin-top: 25px;
    }
  }

  .left-col {
    width: 20%;
    display: inline-block;
    vertical-align: top;

    label {
      margin-top: 25px;
    }
  }

  .right-col {
    width: 20%;
    display: inline-block;
    vertical-align: top;
  }

  .margin-right-60 {
    margin-right: 60px;
  }
}

.js-enabled {
  .procurement-milestones {
    .govuk-accordion {
      border-bottom: 3px solid govuk-colour("black");

      .govuk-accordion__controls {
        display: inline-block;
        float: right;
        margin-top: 54px;
      }
    }
  }
}

