.ifs-progress-list li {
    position: relative;
    clear:both;
    &.column-half,
    &.column-two-thirds {
      clear:none;
    }
    .linkbar a {
      margin-right:15px;
    }
}
.ifs-progress-list li h2,
.ifs-progress-list li h3,
.ifs-progress-list li h4 {
    margin-top:0;
}

.ifs-progress-list .progress-status {
    border: 3px solid $border-colour;
    @include border-radius(50%);
    width:78px;
    height: 78px;
    text-align: center;
    float:left;
    background: $grey-4  no-repeat center center;
}
.ifs-progress-list .progress-status:after {
    position: absolute;
    top:90px;
    bottom:-10px;
    content:"";
    left: 40px;
    border-right: 3px dashed $border-colour;
}


.ifs-progress-list .progress-info {
    @include border-radius(5px);
    border: 3px solid $border-colour;
    padding:20px;
    margin: 0 0 20px 100px;
    position: relative;
}

.ifs-progress-list .progress-info:before {
    content: "";
    position: absolute;
    left: -36px;
    border: 18px solid transparent;
    border-right: 18px solid $grey-2;
}

//blue project status
.ifs-progress-list li.processing,
.ifs-progress-list li.require-action {
    a {
      color:$white;
    }
    .progress-status,
    .progress-info {
        background-color: $link-colour;
        color:$white;
        border-color: $link-colour;
    }
    .progress-info:before {
       border-right: 18px solid $link-colour;
    }

}
.ifs-progress-list li.processing .progress-status {
  background-image: url('/images/progress/hourglass.gif');
}
.ifs-progress-list li.require-action .progress-status {
  background-image: url('/images/progress/flag.gif');
}
.ifs-progress-list li.waiting .progress-status {
  background-image: url('/images/progress/hourglass-2.gif');
}

//status complete
.ifs-progress-list li.complete  .progress-status {
  background-image: url('/images/progress/check.gif');
  background-color: #e5f2eb;

}
.ifs-progress-list li.successful  .progress-status {
  background-image: url('/images/progress/check.gif');
}
//status fail
.ifs-progress-list li.unsuccessful  .progress-status {
  background-image: url('/images/progress/cross.gif');
}

.ifs-progress-list li.unsuccessful .progress-status:after,
.ifs-progress-list li.successful .progress-status:after,
.ifs-progress-list li.complete .progress-status:after {
    border-right-style:solid;
}
.ifs-progress-list li.column-half .progress-status:after,
.ifs-progress-list li:last-child .progress-status:after {
    border:none;
}
//responsive
@include media-down(tablet) {
   .ifs-progress-list .progress-status {
       width:40px;
       height: 40px;
       border-width:2px;
   }
  .ifs-progress-list .progress-info {
      margin-left:60px;
  }
  .ifs-progress-list .progress-status::after {
     left:19px;
     top:50px;
  }
  .ifs-progress-list .progress-info:before,
  .ifs-progress-list li.current .progress-info:before {
     top:5px;
     border-width: 14px;
     left:-28px;
  }
  .ifs-progress-list li  .progress-status {
    @include background-size(auto 50%);
  }

}
