/*----- Search / filtering ----*/

.search-filters {
  padding: 20px;
  background: govuk-colour("grey-3");
  margin-bottom: 40px;

  .govuk-input,
  .govuk-select{
    background: #fff;
    width: 100%;
  }

  button {
    margin: 25px 0 0 0;
  }

  @include media-down(mobile) {
    .clear-search-filters{
      margin-top: 30px;
    }
  }
}
