
//statuses

%mark-done-right {
	background-image:  url('../images/field/field-done-right.png');
	background-repeat: no-repeat;
}

%mark-done-left {
	background-image: url('../images/field/field-done.png');
	background-repeat: no-repeat;
}

%mark-assigned-right {
	background-image: url('../images/field/field-assigned-right.png');
	background-repeat: no-repeat;
}

%mark-assigned-left{
	background-image: url('../images/field/field-assigned.png');
	background-repeat: no-repeat;
}

%icon-assigned {
    background-image: url('../images/field/flag-assigned.png');
	background-repeat: no-repeat;
}

%icon-tick {
    background-image: url('../images/field/tick-icon.png');
	background-repeat: no-repeat;
}

%icon-cross {
    background-image: url('../images/field/cross-icon.png');
	background-repeat: no-repeat;
}

%icon-assigned-to-me {
    background-image: url('../images/flag-icon.png');
	background-repeat: no-repeat;
}

%icon-timer {
    background-image: url('../images/timer-icon.png');
    background-repeat: no-repeat;
}

%icon-incomplete {
    background-image: url('../images/warning-icon.png');
	background-repeat: no-repeat;
}


/*
###Collapsible showing form status
Status is displayed in the collapsible header area.

```
<div class="collapsible">
    <h2 class="open" class="section-status-finance complete">
    	Application details 1
    	<span style="" data-subsection-id="1" class="section-status complete place-in-header"><span data-binding-output="subsection-total-1">Complete</span></span>
    </h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Application details</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Project Summary</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Public Description</a>
            </li>
        </ul>
    </div>
    <h2 class="section-status-finance incomplete">Another Section 2
    	<span style="" data-subsection-id="2" class="section-status incomplete place-in-header"><span data-binding-output="subsection-total-2">Incomplete</span></span></h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
        </ul>
    </div>
    <h2 class="section-status-finance assigned">Another Section 3
		<span style="" data-subsection-id="3" class="section-status assigned place-in-header"><span data-binding-output="subsection-total-3">Assigned to me</span></span></h2>
    </h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
        </ul>
    </div>
</div>
```

###Rows inside collapsible container

```
<div class="collapsible">
	<ul>
		<li class="section marked-as-complete">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h4 class="heading-medium"><a href="#">Application details</a></h4>
				</div>
			</div>
		</li>
		<li class="section assigned-to-me">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h4 class="heading-medium"><a href="#">Project summary</a></h4>
				</div>
			</div>
		</li>
	</ul>
</div>
```

*/

.collapsible,
.list-overview {
	li {
		position:relative;
	}
	img.section-status {
		position:absolute;
		right:0;
		top:0;
	}
	div.section-status {
	    float:right;
	    font-weight:300;
	    font-size:16px;
	    margin:4px 10px 0 0;
	    color:$grey-1;
	    padding-right:30px;
	}
	.section-complete,
	.section-incomplete {
		padding-right:20px;
		background-position: right 50%;
	}
	.section-complete{
		@extend %icon-tick;
	}
	.section-incomplete{
		@extend %icon-incomplete;
	}
	@include media-down(mobile){
		div.section-status{
			float:none;
			padding-left:25px;
			padding-right:0;
			background-position: left 50%;
		}
	}
}


/* SG
# IFS/Wrapped textareas : Complete
```
<div class="textarea-wrapped marked-as-complete word-count">
    <div class="textarea-header">
         <img class="marked-as-complete" alt="" src="/images/field/field-done.png">
         <div class="assignee">This question is <strong>marked as complete</strong></div>
    </div>
		<textarea readonly="readonly" name="formInput[12]" id="form-textarea-12" data-max_words="400"></textarea>
    <div class="textarea-footer">
          <p>
            <small>Last updated: Yesterday by you</small>
        		<span class="count-label">
    		        <span aria-live="polite" class="count-down positive">Words remaining: 400 </span>
    		  	</span>
          </p>
    </div>
</div>
```
*/

/* SG
# IFS/Wrapped textareas : Assigned to me
```
<div class="textarea-wrapped assigned-to-me  word-count">
     <div class="textarea-header">
        <img class="assigned-to-me" alt="" src="/images/field/field-assigned.png">
        <div class="assignee assigned-to-me">
            This question has been reassigned to
              <span>you</span> by
              <span>Jessica Doe</span>
        </div>
    </div>
		<textarea data-max_words="400"></textarea>
    <div class="textarea-footer">
          <p>
            <small>Last updated: Yesterday by you</small>
        		<span class="count-label">
        				<span aria-live="polite" class="count-down positive">Words remaining: 400</span>
        		</span>
          </p>
    </div>
</div>
```
*/

.textarea-wrapped {
	.textarea-header {
		position:relative;
	}
	img.marked-as-complete,
	img.assigned-to-me {
		position:absolute;
		left:1px;
		top: 1px;
	}
	&.marked-as-complete textarea[readonly],
	&.marked-as-complete .readonly,
	&.marked-as-complete .textarea-header {
		border-width:2px;
        border-color: $button-colour;
        background-color:$grey-4;
    }
	&.assigned-to-me .editor,
	&.assigned-to-me textarea,
	&.assigned-to-me .textarea-header {
		border:2px solid $govuk-blue;
    }
    &.assigned-to-me .textarea-header + .editor,
    &.assigned-to-me .textarea-header + textarea {
    	border-top:none;
    }
   	&.assigned-to-me .textarea-header {
   		border-bottom:none;
   }

}

//project setup statusses overview
caption {
	font-weight:bold;
	text-align:left;
}


td.status,
th.status,
span.status {
	&.na{
		background: $grey-3;
	}
	&.ok{
		@extend %icon-tick;
	}
	&.rejected{
		@extend  %icon-cross;
	}
	&.action{
		@extend  %icon-assigned-to-me;
	}
	&.waiting{
		@extend  %icon-timer;
		background-size: 33px 30px;
	}
}
td.status,
th.status {
	text-align: center;
	padding-left: 0.625em;
	padding-right: 0.625em;
	background-position: 50% 50%;
	width: 70px;
}
span.status {
	padding-left: 30px;
	background-position: left center;
	&.waiting{
		background-size: 33px 30px;
	}
}
