//statuses

/*----- Action required icon ----*/
%action-required {
  background-image: url('../images/ifs-images/icons/icon-edit.png');
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: -2px 1px;
}

%icon-tick {
  background-image: url('../images/ifs-images/icons/icon-tick.png');
  background-repeat: no-repeat;
  background-position: center left;
}

%icon-cross {
  background-image: url('../images/ifs-images/icons/icon-cross.png');
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center left;
}

%icon-timer {
  background-image: url('../images/ifs-images/icons/icon-timer.png');
  background-repeat: no-repeat;
}

%icon-incomplete {
  background-image: url('../images/ifs-images/icons/icon-alert.png');
  background-repeat: no-repeat;
  color: $govuk-error-colour;
}

.collapsible,
.list-overview {
  li {
    position: relative;
  }

  img {
    &.section-status {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  div {
    &.section-status {
      @include govuk-font(16);
      float: right;
      padding: 3px 5px 0 20px;
      text-align: left;
      font-weight: bold;
    }
  }

  .section-complete,
  .section-incomplete,
  .section-awaiting{
    padding-right: 20px;
    background-position: left 50%;
    background-size: 14px;
  }

  .section-complete {
    @extend %icon-tick;
    color: $govuk-button-colour;
  }

  .section-incomplete {
    @extend %icon-incomplete;
    color: $govuk-error-colour;
  }

  .section-awaiting {
    color: $govuk-secondary-text-colour;
  }

  @include media-down(mobile) {
    div {
      &.section-status {
        float: none;
        padding-left: 25px;
        padding-right: 0;
        background-position: left 50%;

        &.section-awaiting{
          padding-left: 0;
        }
      }
    }
  }
}


.textarea-wrapped {
  .textarea-header {
    position: relative;
  }

  img {
    .marked-as-complete,
    .assigned-to-me {
      position: absolute;
      left: 1px;
      top: 1px;
    }
  }

  %marked-as-complete {
    border-width: 2px;
    border-color: govuk-colour("grey-3");
    background-color: govuk-colour("grey-4");
  }

  &.marked-as-complete {
    textarea {
      &[readonly] {
        @extend %marked-as-complete;
      }
    }

    .readonly,
    .textarea-header {
      @extend %marked-as-complete;
    }
  }

  &.assigned-to-me {
    textarea,
    .textarea-header {
      border: 2px solid $govuk-text-colour;
    }

    .textarea-header {
      border-bottom: none;

      + .editor,
      + textarea {
        border-top: none;
      }
    }
  }
}

//project setup statusses overview
caption {
  font-weight: bold;
  text-align: left;
}

td,
th,
span {
  &.status {
    &.na {
      background: govuk-colour("grey-3");
    }

    &.ok {
      @extend %icon-tick;
      color: $govuk-button-colour;
      padding-left: 25px;
    }

    &.rejected {
      @extend %icon-cross;
    }

    &.waiting {
      color: $govuk-secondary-text-colour;
    }

    a {
      display: block;
      padding-top: 50px;
    }
  }
}

.icon-table {
  td {
    &.status {
      vertical-align: bottom;
      background-position: center center;

      &.ok {
        padding-left: 0.625em;

        a {
          &:link {
            color: $govuk-button-colour;
          }
        }
      }

      &.rejected {
        a {
          &:link {
            color: $govuk-error-colour;
          }
        }
      }

      &.action {
        @extend %action-required;
        background-size: 20px;
        background-position: center center;
      }

      &.waiting {
        @extend %icon-timer;
        background-size: 33px 30px;

        a {
          color: $govuk-secondary-text-colour;
        }
      }
    }
  }
}

td,
th {
  &.status {
    text-align: center;
    padding-left: 0.625em;
    padding-right: 0.625em;
    background-position: 10px 19px;
    width: 70px;
  }
}

span {
  &.status {
    padding-left: 28px;
    background-position: left center;

    &.waiting {
      background-size: 25px;
    }
  }
}


ul {
  &.status {
    li {
      position: relative;

      &[data-valid] {
        list-style:none;

        &:before{
          position: absolute;
          left:-20px;
          top:5px;
          background-size: 14px;
          display: block;
          width:14px;
          height: 14px;
          content:""
        }
      }

      &[data-valid="true"]{
        color: $govuk-button-colour;

        &:before{
          @extend %icon-tick;
        }
      }

      &[data-valid="false"]{
        color: $govuk-error-colour;

        &:before{
          @extend %icon-cross;
        }
      }
    }
  }
}
