.submitted-panel {
	padding: 50px;
	background-color: $turquoise;
	color: $white;
	li {
		margin-top: 
	}
	text-align: center;
	a:link {
		color: $white;
	}
	a:hover {
		color: $white;
	}
	.panel-links {

	}
}