/*-------- Task list -------------*/
.task-list {
  margin: 10px 0 50px;
  padding: 0;

  > li {
    position: relative;
    border-top: 1px solid $govuk-border-colour;
    padding: 10px;
    list-style-type: none;

    .task {
      @include media-down(mobile) {
        display: block;
        width: 100%;
      }

      display: inline-block;
      width: 50%;
      vertical-align: top;

      .govuk-heading-s {
        margin: 0 0 6px;
      }

      &.full-width {
        width:100%;
      }
    }

    .notification {
      @include govuk-font(16);
      @include media-down(mobile) {
        display: block;
        width: 100%;
        margin-top: 10px;
        padding-left: 0;
      }

      display: inline-block;
      width: 30%;
      padding-left: 20px;
      margin-bottom: 0;

      .assign-team {
        margin-top: 0;
        margin-bottom: 10px;

        .no-js & {
          margin-bottom: 0;
        }
      }
    }

    .secondary-notification {
      @extend .notification;
      color: $govuk-secondary-text-colour;
    }

    .secondary-notification-button{
      @include govuk-font(16);
    }

    .action-required {
      @extend .notification;
      @extend %action-required;
      @include media-down(mobile) {
        padding-left: 20px;
      }

      font-weight: bold;
    }

    .assign-container {
      @include media-down(mobile) {
        display: block;
        width: 100%;
        margin-top: 10px;
        padding-left: 0;
      }

      padding-left: 20px;
      width: 40%;
      box-sizing: border-box;

      .action-required,
      .secondary-notification {
        display: inline;
        width: 100%;
        background: none;
        padding-left: 0;
      }

      button{
        .secondary-notification {
          color: $govuk-link-colour;
        }
      }
    }

    .task-status {
      @include media-down(mobile) {
        position: static;
        margin: 10px 0;
        text-align: right;
      }

      position: absolute;
      bottom: 50%;
      right: 10px;
      margin-bottom: -10px;

      span {
        @include govuk-font(16);
        padding-left: 20px;
        text-align: right;
      }
    }

    .task-status-complete {
      @extend .task-status;
      right: 0;

      span {

        @extend %icon-tick;
        @include govuk-font(16);
        background-size: 14px;
        background-position: left center;
        color: $govuk-button-colour;
        font-weight: bold;
      }
    }

    .task-status-incomplete {
      @extend .task-status;
      right: 0;

      span {

        @extend %action-required;
        @include govuk-font(16);
        background-size: 14px;
        background-position: left center;
        font-weight: bold;
      }
    }

    &.read-only {
      background-color: govuk-colour("grey-4");
      color: $govuk-secondary-text-colour;

      .govuk-heading-s{
        color: $govuk-secondary-text-colour;
      }
    }

    &:last-child {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }
}
