/*-------- Task list -------------*/
.task-list{
    margin: 10px 0 50px;
    > li{
        position: relative;
        border-top: 1px solid $border-colour;
        padding: 10px;
        .task{
            display: inline-block;
            width: 50%;
            vertical-align: top;
            .heading-small {
                margin-top: 0;
            }
            @include media-down(mobile) {
                display: block;
                width: 100%;
            }
        }
        .task-full-width{
            @extend  .task;
            width: 80%;
        }
        .notification{
            display: inline-block;
            width: 30%;
            padding-left: 20px;
            @include core-16;
            @include media-down(mobile) {
                display: block;
                width: 100%;
                margin-top: 10px;
                padding-left: 0;
            }
            .assign-team{
                margin-top: 0;
                margin-bottom: 10px;

                .no-js &{
                  margin-bottom: 0;
                }
            }
        }
        .secondary-notification{
            @extend .notification;
            color: $secondary-text-colour;
        }
        .secondary-notification-button{
            @include core-16;
        }
        .action-required{
            @extend .notification;
            @extend %action-required;
            font-weight: bold;
            @include media-down(mobile) {
                padding-left: 20px;
            }
        }
        .assign-container{
            width: 40%;
            box-sizing: border-box;

            .action-required,
            .secondary-notification{
                display: inline;
                width: 100%;
                background: none;
                padding-left: 0;
            }

            button{
                .secondary-notification {
                    color: $link-colour;
                }
            }

            @include media-down(mobile) {
                display: block;
                width: 100%;
                margin-top: 10px;
                padding-left: 0;

                &.action-required {
                  padding-left: 20px;
                }
            }
        }
        .task-status {
            position: absolute;
            bottom: 50%;
            right: 10px;
            margin-bottom: -10px;
            span {
                padding-left: 20px;
                text-align: right;
                @include core-16;
            }
            @include media-down(mobile) {
                position: static;
                margin: 10px 0;
                text-align: right;
            }
        }
        .task-status-complete{
            @extend .task-status;
            right: 0;
            span {
                @extend %icon-tick;
                @include core-16;
                background-size: 14px;
                background-position: left center;
                color: $button-colour;
                font-weight: bold;
            }
        }
        &.read-only{
            background-color: $highlight-colour;
            color: $secondary-text-colour;
        }
        &:last-child{
            border-bottom: 1px solid $border-colour;
        }
    }
}
