.timeline-status{
  padding: 0;
  margin: 0;
  list-style-type: none;

  li{
    border-top: 1px solid $govuk-secondary-text-colour;
    color: $govuk-secondary-text-colour;

    h3{
      margin: 10px 0 0 0;
    }

    p{
      margin: 0 0 10px 0;
    }

    &:first-child{
      border-top: none;
    }

    &.done{
      @extend %icon-tick;
      background-position: right 1em;
      border-top: 1px solid $govuk-text-colour;
      color: $govuk-text-colour;

      &:first-child{
        border-top: none;
      }
    }

    .govuk-button{
      width: 100%;
    }
  }
}
