// //magic sprites in stead of fontAwesome as a font.
// //Good ie7 support plus better performance, SVG would be even better but isn't supported
// //font icons are blocking and this is just a couple of bytes of background images
//@import "govuk-frontend/settings/all";
//@import "govuk-frontend/tools/all";
//@import "govuk-frontend/helpers/all";
@import "govuk-frontend/core/lists";

.hallotoolbar {
  .list {
    margin:0;
    padding:0;
  }
}

.ui-dialog-title {
  display: none;
}

.fa {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: url('/images/ifs-images/wysiwyg/editorControls.png');
  background-repeat: no-repeat;
}

.fa-bold {
  background-position: 0 -12px;
}

.fa-italic {
  background-position: 0 -36px;
}

.fa-list-ordered {
  background-position: 0 -60px;
}

.fa-list-unordered {
  background-position: 0 -84px;
}

.fa-link {
  background-position: 0 -108px;
}

button {
  &.ui-state-active {
    .fa-bold {
      background-position: 0 0;
    }

    .fa-italic {
      background-position: 0 -24px;
    }

    .fa-list-ordered {
      background-position: 0 -48px;
    }

    .fa-list-unordered {
      background-position: 0 -72px;
    }

    .fa-link {
      background-position: 0 -96px;
    }
  }
}

@include govuk-device-pixel-ratio() {
  .fa {
    &.fa {
      background-image: url('/images/ifs-images/wysiwyg/editorControls@2x.png');
      background-size: 12px;
    }
  }

  button {
    &.ui-state-active {
      .fa {
        &.fa {
          background-image: url('/images/ifs-images/wysiwyg/editorControls@2x.png');
          background-size: 12px;
        }
      }
    }
  }
}

%wysiwyg-styles {
  b {
    font-weight:bold;
    font-style:inherit;
  }

  i {
    font-style:italic;
    font-weight:inherit;
  }

  ol,
  ul {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  li {
    p {
      padding: 0;
      margin: 0;
    }
  }

  > div {
    @extend p;
    margin-top: em(20, 16);
  }
}

[contenteditable="true"],
.wysiwyg-styles {
  @extend %wysiwyg-styles;
}

.textarea-wrapped {
  .readonly {
    @extend %wysiwyg-styles;
  }
}

.textarea-wrapped {
  [contenteditable="true"] {
    padding-top: 50px;

    &:focus {
      outline: 3px solid $govuk-focus-colour;
    }
  }
}

.hallotoolbar {
  @include border-radius(10px);
  background:#fff;
  border:1px solid $govuk-border-colour;
  width:auto!important;
  margin:50px 10px 0 10px;

  .ui-buttonset {
    &:first-child {
      button {
        &.ui-corner-left{
          @include border-radius(10px 0 0 10px);
        }
      }
    }

    &:last-child {
      button {
        &.ui-corner-right{
          @include border-radius(0 10px 10px 0);
        }
      }
    }
  }

  button {
    border:none;
    background:#fff;
    padding:8px 10px;

    &.ui-state-active {
      background: #000;
    }
  }
}
