# Use "pip install -r robotPythonLibs-requirements.txt" to install the following libraries:

# Robot Framework and its library dependencies
robotframework
selenium==3.3.1
robotframework-databaselibrary
robotframework-excellibrary
robotframework-ftplibrary
robotframework-imaplibrary
robotframework-selenium2library
robotframework-xvfb

#In order to query the database
PyMySQL==0.7.9

#Python - Excel Library
openpyxl==2.4.0

#and for PDF
pdfminer==20140328

#SauceLabs dependencies
requests
simplejson

#Timezones
pytz==2018.3
