//variables
$govuk-is-ie8: false !default;
// mising govuk variable TODO remove this when govuk fixes the bug
$govuk-button-colour: #00823B;
$ifs-warning-button-colour: #c00000;
$wide-page-width: 1380px;

@import "mixins";

@import 'compass/css3/transition';
@import 'layout/layout';
@import 'layout/grid';
@import 'layout/small';
@import 'layout/gdsUpgrade';

//IFS components

//List elements
@import 'components/boxed-list';
@import 'components/list-overview';
@import 'components/progress-list';
@import 'components/task-list';
@import 'components/link-list';

//Modals
@import 'components/modal';

//Modifiers
@import 'layout/a11y';
@import 'components/modifiers';
@import 'components/forms';

//Custom components
@import 'components/collapsible-sections';
@import 'components/highlight-panel';
@import 'components/progress-indicator';
@import 'components/event-alert';
@import 'components/message-alerts';
@import 'components/pagination';
@import 'components/assign-team';
@import 'components/statusses';
@import 'components/search-filters';
@import 'components/timeline-status';
@import "components/password-toggle";
@import 'components/wysiwyg';
@import 'components/invites';
@import "components/flextable";
@import "components/buttons";
@import "components/panel";
@import "components/cookie-message";
