// IFS mixins
// ===========================================
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}

@mixin box-shadow($property...) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius; // Chrome 4.0, Safari 3.1 to 4.0, Mobile Safari 3.2, Android Browser 2.1
  -moz-border-radius: $radius; // Firefox 2.0 to 3.6
  border-radius: $radius;
}

// Missing govuk mixin TODO remove this when they fix the bug
@mixin govuk-ie-lte($version) {
  @if $is-ie {
    @if $ie-version <= $version {
      @content;
    }
  }
}
// Missing govuk mixin TODO remove this when they fix the bug
@mixin govuk-ie($version) {
  @if $is-ie {
    @if $ie-version == $version {
      @content;
    }
  }
}

@mixin media-down($size: false, $max-width: false, $min-width: false) {
  @if $is-ie == false {
    @if $size == mobile {
      @media (max-width: 640px) {
        @content;
      }
    }

    @else if $size == tablet {
      @media (max-width: 800px) {
        @content;
      }
    }
  }
}
