// for generating internet explorer 8 specific css
$is-ie: true;
$ie-version: 8;

// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/images/";

// Import all of the govuk-elements-sass files
// ===========================================
//@import "govuk-template-ie8";
//@import "govuk-elements";

// Import all IFS files
// ===========================================
@import "components";
@import "pages";
@import "print";
