// for generating internet explorer 8 specific css
$govuk-is-ie8: true;

// Path to assets for use with the file-url function
// in the govuk frontend url-helpers partial
$govuk-images-path: "/images/";
$govuk-fonts-path: "/fonts/";

// Import all of the govuk-frontend files
// ===========================================
@import "govuk-frontend/all";

// Import all IFS files
// ===========================================
@import "components";
@import "pages";
