<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!-- ===========================Application Details =========================== -->

    <div th:fragment="application_details" th:remove="tag">
        <div class="form-group">
            <label class="form-label form-label-bold" for="application_details-title">Project title</label>
            <input class="form-control width-full" readonly="readonly" id="application_details-title" name="formInput[application_details-title]" th:value="${application_title}" type="text" />
        </div>
        <div class="form-group">
            <label class="form-label form-label-bold" for="details-application-timescale">Estimated timescales</label>
            Project start date
            <br/>
            <div class="date-group">
                <div class="day">
                    <label class="form-label" for="application_details-startdate_day">Day</label>
                    <input class="form-control width-extra-small" placeholder="DD" readonly="readonly" id="application_details-startdate_day" name="formInput[application_details-startdate_day]" th:value="${application_startdate_day}" type="number" />
                </div>
                <div class="month">
                    <label class="form-label" for="application_details-startdate_month">Month</label>
                    <input class="form-control width-extra-small" placeholder="MM" readonly="readonly" id="application_details-startdate_month" name="formInput[application_details-startdate_month]" th:value="${application_startdate_month}" type="number" />
                </div>
                <div class="year">
                    <label class="form-label" for="application_details-startdate_year">Year</label>
                    <input class="form-control width-extra-small" placeholder="YYYY" readonly="readonly" id="application_details-startdate_year" name="formInput[application_details-startdate_year]" th:value="${application_startdate_year}" type="number" />
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label class="form-label" for="application_details-duration">Duration months</label>
                <div class="validation-messages">
                </div>
                <input class="form-control width-extra-small" readonly="readonly" id="application_details-duration" name="formInput[application_details-duration]" th:value="${application_duration}" type="number" />
            </div>
        </div>
        <h2 class="heading-medium">Lead organisation</h2>
        <div th:text="${leadOrganisation.getName()}"></div>

        <h2 class="heading-medium">Partners</h2>
        <ul class="list-bullet">
            <li th:each="organisation : ${applicationOrganisations}" th:unless="${organisation.equals(leadOrganisation)}">
                <span th:text="${organisation.getName()}"></span>
            </li>
        </ul>
    </div>

<!-- ===================== Textarea ======================!-->
<div th:fragment="textarea"  class="form-group" th:id="${formInputIndex}" >

    <label class="form-label form-label-bold" th:for="${formInput.getId()}">
        <span th:unless="${readonly}" th:if="${question.getName()}" th:text="${question.questionNumber!=null ? question.questionNumber + '. ' : '' } + ${question.name}" />
    </label>
    <div class="textarea-wrapped ">
        <div class="readonly">
            <p th:text="${responses.get($}"></p>
        </div>
    </div>
</div>

</html>