<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<ul th:fragment="sectionDetails (question, questionAssignee, questionAssignees, responses, currentUser, userIsLeadApplicant, section, currentApplication)" th:remove="tag">
    <!-- TODO DW 578 - response needs to come from forminputresponse -->
    <li th:class="'section '+(${question.isMarkAsCompletedEnabled() and markedAsComplete.contains(question.id)} ? 'marked-as-complete ' : (${currentUser.getId() == questionAssignee?.getAssignee()?.getUser()?.getId()} ? 'assigned-to-me ' : ''))"
        th:each="question : ${section.getQuestions()}"
        th:if="${!#strings.isEmpty(question.getName())}"
        th:with="questionAssignee=(${questionAssignees.get(question.getId())}),response=(${responses.get(question.getId())})"
        th:attr="data-question-id=${question.id},data-section-id=${section.id}"
        th:id="'question-'+${question.id}" >

        <div class="grid-row">
            <div class="column-two-thirds">
                <h4 class="heading-medium">
                    <a th:href="'/application-form/'+${currentApplication.getId()}+'/section/'+${section.getId()}+'/&#35;question-'+${question.getId()}"
                       th:text="${question.getName()}" />
                </h4>
                <div th:unless="${response == null or response?.getUpdateDate() == null}" th:include="question-type/form-elements :: last-update-info" th:remove="tag"/>

            </div>
            <div class="column-third">
                <div th:unless="${(question.isMarkAsCompletedEnabled() and markedAsComplete.contains(question.id)) or completedSections.contains(section.id)}" class="assignee"  >
                    <!--prints the last update info-->
                    <div th:include="question-type/form-elements :: assign-buttons" th:if="${userIsLeadApplicant}" th:remove="tag"/>
                    <div  th:if="${questionAssignee?.getAssignee() != null} " th:remove="tag">
                        <div> Assigned to <strong th:text="${name}" th:with="name=${(questionAssignee?.getAssignee()?.getUser()?.getId() == currentUser.getId()) ? 'You' : questionAssignee?.getAssignee()?.getUser()?.getName()}" /></div>
                        <span th:if="${questionAssignee?.getAssignedDate()?.getDayOfYear() eq todayDay}" th:text="Today"/>
                        <span th:if="${questionAssignee?.getAssignedDate()?.getDayOfYear() eq yesterdayDay}" th:text="Yesterday"/>
                                                <span th:unless="${questionAssignee?.getAssignedDate()?.getDayOfYear() eq todayDay or response?.getUpdateDate()?.getDayOfYear() eq yesterdayDay}"
                                                      th:text="${#temporals.format(questionAssignee?.getAssignedDate(), 'dd/MMM/yyyy HH:mm')}"/>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</body>
</html>