<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<ul th:fragment="sectionDetails (question, questionAssignee, questionAssignees, responses, currentUser, userIsLeadApplicant, section, currentApplication)" th:remove="tag">

    <div th:each="question : ${section.getQuestions()}" th:remove="tag">

        <li th:each="formInput, status : ${question.getFormInputs()}" th:if="${formInput.isIncludedInApplicationSummary()}"
            th:with="questionAssignee=(${questionAssignees.get(question.getId())}),response=(${responses.get(formInput.getId())})"
            th:class="'grid-row section '+(${question.isMarkAsCompletedEnabled() and markedAsComplete.contains(question.id)} ? 'marked-as-complete ' : (${currentUser.getId() == questionAssignee?.getAssignee()?.getUser()?.getId()} ? 'assigned-to-me ' : ''))"
            th:attr="data-question-id=${question.id},data-section-id=${section.id}" th:id="'form-input-'+${formInput.getId()}">

                <div class="column-two-thirds">
                    <h3 class="heading-small">
                        <a th:href="'/application-form/'+${currentApplication.getId()}+'/section/'+${section.getId()}+'/&#35;question-'+${question.getId()}"
                           th:text="${question.getName()}" />
                    </h3>
                </div>
                <div class="column-third">
                    <div th:unless="${(question.isMarkAsCompletedEnabled() and markedAsComplete.contains(question.id)) or completedSections.contains(section.id)}" th:remove="tag">
                        <!--/* lead */-->
                        <div th:include="question-type/form-elements :: assign-buttons" th:if="${userIsLeadApplicant}" th:remove="tag"/>
                         <!--/* collabr */-->
                         <div class="assign-container" th:if="${!userIsLeadApplicant}">
                            <div th:include="question-type/form-elements :: assigned-to"  th:remove="tag"/>
                        </div>
                    </div>
                </div>
        </li>
    </div>
</ul>
</body>
</html>