<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:include="fragments/layout :: head" th:with="pageTitle='Become an assessor for Innovate UK'" th:remove="tag"></div>
    </head>

    <body th:with="context='assessment'" class="sign-in">
        <div th:include="fragments/layout :: body-start" th:remove="tag"></div>
        <div th:include="fragments/layout :: global-header" th:remove="tag"></div>

        <main id="content">
            <div th:include="fragments/layout :: main-content-start" th:remove="tag"></div>

            <div class="hgroup no-margin-top">
                <h1 class="heading-xlarge">Become an assessor for Innovate UK</h1>
            </div>

            <p>Welcome to Innovate UK’s assessment service.</p>

            <p>Please create your account. Once your account is created you will need to sign in before you can accept invitations to assess.</p>

        	<a th:href="@{/registration/{inviteHash}/register(inviteHash=${model.competitionInviteHash})}" class="button button-large">Create account</a>

            <div th:include="fragments/layout :: main-content-end" th:remove="tag"></div>
        </main>

        <div th:include="fragments/layout :: footer" th:remove="tag"></div>
        <div th:include="fragments/layout :: body-end" th:remove="tag"></div>
    </body>
</html>
