<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Your details'" th:remove="tag" />
    <link href="/css/prototype.css" th:href="${@mvcResourceUrlProvider.getForLookupPath('/css/prototype.css')}" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="user-profile-edit">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Your Profile',linkClass='link-back',linkUrl=@{/profile/view}" th:remove="tag" />

    <h1 class="heading-large">Your details</h1>

    <form th:action="${userDetailsForm.getActionUrl()}" method="post" th:object="${userDetailsForm}">
        <div class="error-summary" th:if="${#fields.hasErrors('*')}">
            <h1 class="heading-medium error-summary-heading">
                We were unable to save your changes
            </h1>
            <ul class="error-summary-list">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <fieldset>
            <legend class="visuallyhidden">Your details</legend>
            <div th:class="${#fields.hasErrors('title')}? 'form-group error':'form-group'">
                <label class="form-label" for="title">
                    <span class="form-label-bold">Title</span>
                    <span th:if="${#fields.hasErrors('title')}" th:remove="tag">
                          <span class="error-message"  th:each="err : ${#fields.errors('title')}" th:text="${err}" />
                    </span>
                </label>
                <select class="form-control width-medium" th:field="*{title}">
                    <option value="Mr">Mr</option>
                    <option value="Miss">Miss</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Ms">Ms</option>
                    <option value="Dr">Dr</option>
                </select>
            </div>
            <div th:class="${#fields.hasErrors('firstName')}? 'form-group error':'form-group'">
                <label class="form-label" for="firstName">
                    <span class="form-label-bold">First name</span>
                    <span th:if="${#fields.hasErrors('firstName')}" th:remove="tag">
                          <span class="error-message"  th:each="err : ${#fields.errors('firstName')}" th:text="${err}" />
                    </span>
                </label>
                <input th:class="${#fields.hasErrors('firstName') ? 'form-control field-error' : 'form-control'}"
                       class="form-control"
                       type="text"
                       th:field="*{firstName}"
                       required="required"
                       minlength="2"
                       maxlength="70"
                       data-minlength-errormessage="Your first name should have at least 2 characters"
                       data-maxlength-errormessage="Your first name cannot have more than 70 characters"
                       data-required-errormessage="Please enter a first name"/>
            </div>
            <div th:class="${#fields.hasErrors('lastName')}? 'form-group error':'form-group'">
                <label class="form-label" for="lastName">
                    <span class="form-label-bold">Last name</span>
                    <span th:if="${#fields.hasErrors('lastName')}" th:remove="tag">
                          <span class="error-message"  th:each="err : ${#fields.errors('lastName')}" th:text="${err}" />
                    </span>
                </label>
                <input th:class="${#fields.hasErrors('lastName') ? 'form-control field-error' : 'form-control'}"
                       type="text"
                       th:field="*{lastName}"
                       required="required"
                       minlength="2"
                       maxlength="70"
                       data-minlength-errormessage="Your last name should have at least 2 characters"
                       data-maxlength-errormessage="Your last name cannot have more than 70 characters"
                       data-required-errormessage="Please enter a last name"/>
             </div>
            <div th:class="${#fields.hasErrors('phoneNumber')}? 'form-group error':'form-group'">
                <label class="form-label" for="phoneNumber">
                    <span class="form-label-bold">Phone number</span>
                    <span class="form-hint">We may use this to contact you about the application</span>
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:remove="tag">
                          <span class="error-message"  th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}" />
                    </span>
                </label>
                <input class="form-control"
                       type="tel"
                        th:errorclass="field-error"
                       th:field="*{phoneNumber}"
                       minlength="8"
                       maxlength="20"
                       required="required"
                       data-minlength-errormessage="Input for your phone number has a minimum length of 8 characters"
                       data-maxlength-errormessage="Input for your phone number has a maximum length of 20 characters"
                       data-required-errormessage="Please enter a phone number"/>
            </div>
            <div class="form-group">
                <h3 class="heading-small">Email</h3>
                <p class="form-hint">Your email address cannot be changed in the system <br /><strong th:text="*{email}" /></p>
            </div>
            <p>To change your email address please contact Innovate UK by emailing <a href="mailto:support@innovateuk.gov.uk">support@innovateuk.gov.uk</a></p>

        </fieldset>
        <button class="button button-large extra-margin" name="create-account" type="submit">Save changes</button>
    </form>
    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>
