<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Profile'" />
</head>
<body class="user-profile">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Dashboard',linkClass='link-back',linkUrl=@{/applicant/dashboard}" />

    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Profile',size='heading-large'" />

    <hr/>

    <h2 class="heading-medium no-margin-bottom">Your details <small class="list-indent"><a href="/profile/edit"> Edit your details</a></small></h2>
    <h3 class="heading-small">Your name</h3>
    <p>
        <th:block th:text="${model.name}" />
    </p>
    <h3 class="heading-small">Phone number</h3>
    <p th:text="${model.phoneNumber}" />
    <h3 class="heading-small">Email address</h3>
    <p th:text="${model.emailAddress}" />
    <h3 class="heading-small">Email preferences</h3>
    <p th:if="${model.allowMarketingEmails}">You have asked for updates on Innovate UK competitions by email.</p>
    <p th:unless="${model.allowMarketingEmails}">You have asked that we do not keep you updated on Innovate UK competitions by email.</p>

    <th:block th:unless="${model.organisations.isEmpty()}">
        <h2 class="heading-medium no-margin-bottom">Your organisation details</h2>
        <div class="table-overflow">
            <table>
                <thead>
                <tr>
                    <th class="width-small">Organisation name</th>
                    <th>Organisation type</th>
                    <th>Registration number</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="organisation : ${model.organisations}">
                    <td th:text="${organisation.name}"></td>
                    <td th:text="${organisation.type}"></td>
                    <td th:text="${organisation.registrationNumber}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />

</body>
</html>
