<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Profile'" />
</head>
<body class="govuk-template__body user-profile">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Dashboard',linkClass='link-back',linkUrl=@{/applicant/dashboard}" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Profile',size='govuk-heading-l'" />

        <hr/>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Your details <small class="list-indent"><a href="/profile/edit" class="govuk-link"> Edit your details</a></small></h2>
        <h3 class="govuk-heading-s">Your organisation</h3>
        <p class="govuk-body" th:text="${model.organisationName}" />

        <h3 class="govuk-heading-s">Organisation type</h3>
        <p class="govuk-body" th:text="${model.organisationTypeName}" />

        <h3 class="govuk-heading-s">Registration number</h3>
        <p class="govuk-body" th:text="${model.registrationNumber}" />

        <h3 class="govuk-heading-s">Address</h3>
        <div th:text="${model.addressLine1}" />
        <div th:text="${model.addressLine2}" />
        <div th:text="${model.addressLine3}" />
        <div th:text="${model.town}" />
        <div th:text="${model.county}" />
        <div th:text="${model.postcode}" />

        <h3 class="govuk-heading-s">Your name</h3>
        <p class="govuk-body">
            <th:block th:text="${model.name}" />
        </p>
        <h3 class="govuk-heading-s">Phone number</h3>
        <p class="govuk-body" th:text="${model.phoneNumber}" />
        <h3 class="govuk-heading-s">Email address</h3>
        <p class="govuk-body" th:text="${model.emailAddress}" />
        <h3 class="govuk-heading-s">Email preferences</h3>
        <p class="govuk-body" th:if="${model.allowMarketingEmails}">You have asked for updates on Innovate UK competitions by email.</p>
        <p class="govuk-body" th:unless="${model.allowMarketingEmails}">You have asked that we do not keep you updated on Innovate UK competitions by email.</p>
        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />

</body>
</html>
