//styling only used within the docs
html {
	background-color:#fff !important;
}
.grid-row p {
	background-color: rgb(127,174,210);
	background-image: linear-gradient(transparent 50%, rgb(191,215,232) 50%);
	background-size: 20px 20px;
	height: 60px;
}