# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{js,scss}]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
charset = utf-8
