##user created

rebel_project.xml
nbijl.xml
.bundle/config


# idea files
*/**.iml
.idea


# eclipse files
.settings/
.classpath
.project
bin/

# additional application.properties locations to get in-eclipse and in-idea deploys to tomcat servers working
ifs-data-service/src/main/resources/config/
ifs-web-service/src/main/resources/config/
ifs-data-service/idea-support/
ifs-web-service/idea-support/




# ignore properties
**/*-build.gradle
**/application-*.properties
!**/application-local.properties
!**/application-integration-test.properties

# Created with help from https://www.gitignore.io

### Gradle ###
.gradle
build/
gradle.properties

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### Sass ###
.sass-cache
*.css.map


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


ifs-web-service/out
workspace.xml
.vagrant
ifs-data-service/.idea/dictionaries
*.iml
ifs-web-service/libs
rebel.xml

coverage-error.log
ifs-data-service.ipr
ifs-data-service.iws
ifs-web-service.ipr
robot-tests/target
robot-tests/test_counting
robot-tests/benchmarking_report.txt
jmeter/jmeter.log


classes/

#Node modules, except styledocco as we've made changes in that one. 
**/node_modules
!**/node_modules/styledocco

ifs-web-service.iws
/out


# python bytecode nonsense
*.pyc

robot-tests/ubuntu-vm-headless/logs/log.html
robot-tests/ubuntu-vm-headless/logs/output.xml
robot-tests/ubuntu-vm-headless/logs/report.html
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-1.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-10.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-100.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-101.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-102.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-103.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-104.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-105.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-106.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-107.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-108.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-109.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-11.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-110.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-111.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-112.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-113.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-114.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-115.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-116.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-117.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-118.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-119.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-12.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-120.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-121.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-122.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-123.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-124.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-125.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-126.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-127.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-128.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-129.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-13.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-130.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-131.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-132.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-133.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-134.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-135.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-136.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-137.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-138.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-139.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-14.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-140.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-141.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-142.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-143.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-144.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-145.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-146.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-147.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-148.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-149.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-15.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-150.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-151.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-152.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-153.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-154.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-155.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-156.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-157.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-158.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-159.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-16.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-160.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-161.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-162.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-163.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-164.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-165.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-166.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-167.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-168.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-169.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-17.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-170.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-171.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-172.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-173.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-174.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-175.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-176.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-177.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-178.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-179.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-18.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-180.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-181.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-182.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-183.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-184.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-185.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-186.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-187.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-188.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-189.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-19.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-190.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-191.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-192.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-193.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-194.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-195.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-196.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-197.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-198.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-199.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-2.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-20.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-200.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-201.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-202.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-203.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-204.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-205.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-206.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-207.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-208.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-209.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-21.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-210.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-211.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-22.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-225.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-226.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-227.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-228.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-229.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-23.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-230.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-231.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-232.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-233.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-234.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-235.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-236.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-237.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-24.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-25.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-26.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-27.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-28.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-29.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-3.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-30.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-31.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-32.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-33.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-34.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-35.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-36.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-37.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-38.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-39.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-4.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-40.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-41.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-42.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-43.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-44.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-45.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-46.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-47.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-48.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-49.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-5.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-50.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-51.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-52.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-53.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-54.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-55.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-56.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-57.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-58.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-59.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-6.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-60.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-61.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-62.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-63.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-64.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-65.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-66.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-67.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-68.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-69.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-7.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-70.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-71.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-72.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-73.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-74.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-75.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-76.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-77.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-78.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-79.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-8.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-80.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-81.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-82.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-83.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-84.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-85.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-86.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-87.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-88.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-89.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-9.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-90.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-91.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-92.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-93.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-94.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-95.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-96.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-97.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-98.png
robot-tests/ubuntu-vm-headless/logs/selenium-screenshot-99.png
