##user created

rebel_project.xml
nbijl.xml
.bundle/config


# idea files
*/**.iml
.idea


# eclipse files
.settings/
.classpath
.project
bin/

# additional application.properties locations to get in-eclipse deploys to tomcat servers working
ifs-data-service/src/main/resources/config/
ifs-web-service/src/main/resources/config/


# ignore properties
**/*-build.gradle
**/application-*.properties

# Created with help from https://www.gitignore.io

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### Sass ###
.sass-cache
*.css.map


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


ifs-web-service/out
workspace.xml
.vagrant
ifs-data-service/.idea/dictionaries
*.iml
ifs-web-service/libs
rebel.xml


ifs-web-service/src/main/resources/templates/question-type/form-elements_BACKUP_7801.html
ifs-web-service/src/main/resources/templates/question-type/form-elements_BASE_7801.html
ifs-web-service/src/main/resources/templates/question-type/form-elements_LOCAL_7801.html
ifs-web-service/src/main/resources/templates/question-type/form-elements_REMOTE_7801.html
ifs-web-service/src/main/resources/templates/application-details.html.orig
ifs-web-service/src/main/resources/templates/application-details_BACKUP_5617.html
ifs-web-service/src/main/resources/templates/application-details_BASE_5617.html
ifs-web-service/src/main/resources/templates/application-details_LOCAL_5617.html
ifs-web-service/src/main/resources/templates/application-details_REMOTE_5617.html
