[submodule "ifs-web-service/src/main/resources/govuk_frontend_toolkit"]
	path = ifs-web-service/src/main/resources/govuk_frontend_toolkit
	url = https://github.com/alphagov/govuk_frontend_toolkit.git
