<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Details'" th:remove="tag"></div>
</head>
<body th:with="context='applicant'" class="app-invite">

<div th:include="fragments/layout :: body-start" th:remove="tag"></div>
<div th:include="fragments/layout :: global-header" th:remove="tag"></div>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag"></div>
    <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Application overview',linkClass='link-back',linkUrl=@{/application/{id}/(id=${currentApplication.getId()})},currentApplication=${currentApplication}" th:remove="tag" />

    <div class="page-title">
        <div th:include="fragments/elements :: application-title (application=${currentApplication})" th:remove="tag" />
        <h1 class="heading-xlarge">Application team</h1>
    </div>

    <p>View and manage your contributors and partners in the application. If an individual is ‘pending’ they have not yet confirmed their role within this project. Click on a name to send this person an email.</p>
    <p>To change the lead applicant for this application please email Innovate UK <a href="mailto:support@innovateuk.gov.uk">support@innovateuk.gov.uk</a>.</p>

    <div th:if="${organisationInvites.size() == 0}" th:remove="tag">
      <h2 class="heading-medium">
        <span th:remove="tag" th:text="${leadOrganisation.name}"/>
        <small>(Lead organisation)</small>
      </h2>
      <ul class="list-bullet">
        <li>
          <a th:href="${'mailto:'+leadApplicant.email}" th:text="${leadApplicant.name}" />
          <small>(Lead Applicant)</small>
        </li>
      </ul>
    </div>
    <div th:each="organisationInviteResource, organisationStats : ${ organisationInvites }">
        <h2 class="heading-medium" th:if="${organisationInviteResource.id == 0}" >
          <span th:remove="tag" th:text="${leadOrganisation.name}"/>
          <small>(Lead organisation)</small>
        </h2>
        <h2 class="heading-medium"  th:unless="${organisationInviteResource.id == 0}">

          <div th:if="${organisationInviteResource.organisationNameConfirmed != null}" th:remove="tag">
              <div th:text="${organisationInviteResource.organisationNameConfirmed}" th:remove="tag"/>
          </div>
          <div th:if="${organisationInviteResource.organisationNameConfirmed == null}" th:remove="tag">
            <div th:remove="tag" th:text="${organisationInviteResource.organisationName}" />
            <small>(pending)</small>
          </div>
        </h2>
        <ul class="list-bullet">
            <li th:if="${organisationInviteResource.id == 0}">
              <a th:href="${'mailto:'+leadApplicant.email}" th:text="${leadApplicant.name}" />
              <small>(Lead Applicant)</small>
            </li>

            <li th:each="invite, inviteStats: ${organisationInviteResource.inviteResources}">
                <a th:if="${invite.nameConfirmed == null}" th:href="${'mailto:'+invite.email}" th:text="${invite.name}" />
                <a th:unless="${invite.nameConfirmed == null}" th:href="${'mailto:'+invite.email}" th:text="${invite.nameConfirmed}" />
                <small th:if="${invite.status.name() ==  T(com.worth.ifs.invite.constant.InviteStatus).CREATED.name() || invite.status.name() == T(com.worth.ifs.invite.constant.InviteStatus).SENT.name()}">(pending)</small>
                <a th:href="'/application/' + ${currentApplication.getId()} + '/contributors/remove/' + ${invite.id}">
                    <button class="buttonlink">Remove</button>
                </a>
            </li>
        </ul>
    </div>

    <p><a th:href="'/application/'+${currentApplication.getId()}+'/contributors/invite'" class="button">Invite new contributors</a></p>



    <div th:include="fragments/layout :: main-content-end" th:remove="tag"></div>
</main>

<div th:include="fragments/layout :: footer" th:remove="tag"></div>
<div th:include="fragments/layout :: body-end" th:remove="tag"></div>
</body>
</html>
