<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Details'" th:remove="tag"></div>
</head>
<body th:with="context='applicant'" class="app-invite-display">

<div th:include="fragments/layout :: body-start" th:remove="tag"></div>
<div th:include="fragments/layout :: global-header" th:remove="tag"></div>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag"></div>
    <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Application team',linkClass='link-back',linkUrl=@{/application/{id}/contributors(id=${currentApplication.getId()})},currentApplication=${currentApplication}" th:remove="tag" />

    <div class="page-title">
        <h1 class="heading-xlarge">Removing collaborator</h1>
    </div>
    <p>Are you sure you wish to remove this collaborator form this application.</p>
    <p>This step cannot be undone.</p>
    <hr/>
    <div class="grid-row extra-margin">
        <form method="post"
              th:action="@{/application/{appId}/contributors/remove(appId = ${currentApplication.getId()})}"
              th:object="${removeContributorForm}" id="submit-remove-collaborator-form">
            <input type="hidden" th:value="${inviteId}" name="applicationInviteId"/>
            <div class="column-half">
                <a th:href="'/application/' + ${currentApplication.getId()} + '/contributors'" class="buttonlink large">
                    Cancel
                </a>
            </div>
            <div class="column-half alignright-button">
                <button class="button large" name="publish" value="publish" type="submit">Remove</button>
            </div>
        </form>
    </div>

    <div th:include="fragments/layout :: main-content-end" th:remove="tag"></div>
</main>

<div th:include="fragments/layout :: footer" th:remove="tag"></div>
<div th:include="fragments/layout :: body-end" th:remove="tag"></div>
</body>
</html>
