/*--- Tabs ---*/

.tab-interface {
  > ul {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 2em 0 1em;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $border-colour;
      content: "";
    }
    li {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      margin: 0 0.15789em 0 0;
      z-index: 1;
      a {
        display: block;
        height: 1em;
        padding: 0.7em;
        outline: medium none;
        transition: background 0.25s ease-in-out 0s;
        white-space: nowrap;
        &:hover {
          background-color: $border-colour;
        }
        &[aria-selected='true'] {
          height: 1.2em;
          background-color: $white;
          border: 1px solid $border-colour;
          border-bottom: 1px solid $white;
          transition: none 0s ease 0s;
          z-index: 2;
          color: $text-colour;
          cursor: default;
          text-decoration: none;
        }
      }
    }
    @include media-down(mobile){
      display: none!important;
    }
  }
  section {
    h2 {
      @include media-down(mobile){
        margin-top: 0.5em;
      }
    }
    @include media-down(mobile){
      display: block!important;
    }
  }
}
