/*-------- Task list -------------*/
.task-list{
  margin: 10px 0 50px;
  > li{
    position: relative;
    border-top: 1px solid $border-colour;
    padding: 10px;
    .task{
      display: inline-block;
      width: 50%;
      .heading-small {
        margin-top: 0;
      }
      @include media-down(mobile) {
        display: block;
        width: 100%;
      }
    }
    .task-full-width{
      @extend  .task;
      width: 80%;
    }
    .notification{
      display: inline-block;
      width: 30%;
      padding-left: 20px;
      font-size: 16px;
      @include media-down(mobile) {
        display: block;
        width: 100%;
        margin-top: 10px;
        padding-left: 0;
      }
    }
    .secondary-notification{
      @extend .notification;
      color: $secondary-text-colour;

    }
    .action-required{
      @extend .notification;
      @extend  %action-required;
      @include media-down(mobile) {
        padding-left: 20px;
      }
    }
    .task-status{
      position: absolute;
      bottom: 50%;
      right: 10px;
      margin-bottom: -10px;
      span {
        padding-left: 20px;
        text-align: right;
        font-size: 16px;
      }
      @include media-down(mobile) {
        position: static;
        margin: 10px 0;
        text-align: right;
      }
    }
    .task-status-complete{
      @extend .task-status;
      right: 0;
      span {
        @extend %icon-tick;
        background-size: 14px;
        background-position: left center;
        color: $button-colour;
        font-weight: bold;
      }
    }
    &.read-only{
      background-color: $highlight-colour;
      color: $secondary-text-colour;
    }
    &:last-child{
      border-bottom: 1px solid $border-colour;
    }
  }
}
