//internal header
.header-global   {
    &.header-admin {
        position: relative;

        .innovate-title {
            margin: 5px 0 0 15px;
        }

        .admin-user-name {
            position: absolute;
            top: -10px;
            right: 20px;
            color: white;
            font-weight: bold;
        }
    }
}




