
.button-secondary{
  @include govuk-media-query(mobile) {
    width: 100%;
    text-align: center;
  }

  // Disabled buttons
  &[disabled="disabled"] {
    background: govuk-colour("grey-4");
  }
}

.button-link-style{
  margin: 0 $govuk-gutter-half $govuk-gutter-half 0;
  padding: em(10) em(15) em(5) em(15);
  display: inline-block;
}

.button-dashboard{
  background: white;
  padding: 20px 20px 15px 20px;
  display: block;
  min-height: 110px;
  text-decoration: none;

  &:hover{
    background: govuk-colour("grey-4");
  }

  &.highlight{
    background: $govuk-button-colour;
    color: white;
  }
}

.button-right {
  float: right;
  margin-right: 0;
}
