.collapsible {
    .input-counter{
        float: right;
        color: $secondary-text-colour;
        font-weight: normal;
        padding-right: 30px;

        @include media-down(mobile){
            padding-right: 0;
        }
    }
}