//internal header
.header-global   {
  &.header-admin {

    .innovate-title {
      margin: 5px 0 0 15px;
    }

    .admin-user-name {
      float: right;
      margin-right: 20px;
      color: white;
      font-weight: bold;
    }

    .navigation-list {
      clear: right;
    }
  }
}
