

.message-panel {
  padding: 20px 20px 20px 60px;
  border-style: solid;
  border-width: 0 0 0 5px;
  margin: 10px 0;
  background-color: $grey-4;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-size: 20px 20px;
  clear: both;

  p, .heading-small, ul, ol {
    margin: 0;
  }

  // TODO - should we be using modernizr to serve up the correct image files, discuss with feds

  &.message-success {
    background-image: url('../images/icons/icon-messages/tick-icon.png');
    background-image:
            linear-gradient(transparent, transparent),
            url('../images/icons/icon-messages/tick-icon.svg');
    color: $button-colour;
    border-color: $button-colour;
  }
  &.message-fail {
    background-image: url('../images/icons/icon-messages/cross-icon.png');
    background-image:
            linear-gradient(transparent, transparent),
            url('../images/icons/icon-messages/cross-icon.svg');
    color: $red;
    border-color: $red;
  }
  &.message-alert {
    background-image: url('../images/icons/icon-messages/alert-icon.png');
    background-image:
            linear-gradient(transparent, transparent),
            url('../images/icons/icon-messages/alert-icon.svg');
    color: $red;
    border-color: $red;
    //  This is here to overwrite a style already in dev - can be removed when this is rolled out into dev
    p {
      font-size: 19px;
    }
  }
  &.message-info {
    background-image: url('../images/icons/icon-messages/info-icon.png');
    background-image:
            linear-gradient(transparent, transparent),
            url('../images/icons/icon-messages/info-icon.svg');
    border-color: $link-colour;
  }
  &.message-assign {
    background-image: url('../images/icons/icon-messages/edit-icon.png');
    background-image:
            linear-gradient(transparent, transparent),
            url('../images/icons/icon-messages/edit-icon.svg');
    border-color: $text-colour;
  }
  &.message-assigned {
    border-color: $text-colour;
  }
  &.message-declare {
    background-image: url('../images/icons/icon-messages/declare-icon.png');
    background-image:
            linear-gradient(transparent, transparent),
            url('../images/icons/icon-messages/declare-icon.svg');
    border-color: $text-colour;
  }
  @include media-down(mobile){
    p a {
      margin-left: 0;
    }
  }
}
