//competition setup
.comp-setup-applicantQuestions {
  padding: 15px;
  background: $grey-4;
}

.application-question-list {
  dt,
  dd {
    margin-bottom: 15px;
  }
}

.comp-setup-section-navigation {
  overflow: auto;
  margin-bottom: 30px;
  li {
    float: left;
    margin-right: 20px;
    &:first-child {
      margin-right: 50px;
    }
  }
}
