<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Cofunder Assessments'"/>
</head>
<body class="govuk-template__body assessor-dashboard">
<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner"/>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title"
                  th:with="pageTitle='Co-fund competitions',size='govuk-heading-xl'"/>
        <div class="my-applications">
            <th:block th:unless="${#lists.isEmpty(model.activeCompetitions)}">

                <div class="progress-list">
                    <h2 class="govuk-heading-m govuk-!-margin-top-0">Competitions to review (<span
                        th:text="${#lists.size(model.activeCompetitions)}"/>)</h2>
                    <ul>
                        <li th:each="activeCompetition : ${model.activeCompetitions}">
                            <div class="task">
                                <h3 class="govuk-heading-s"><a class="govuk-link"
                                                               th:href="@{/assessor/dashboard/competition/{competitionId}(competitionId=${activeCompetition.competitionId})}"
                                                               th:text="${activeCompetition.competitionName}"/></h3>

                                <div th:if="${!activeCompetition.hasPendingAssessments()}">
                                    There are currently no assessments for you to review.
                                </div>
                                <div th:if="${activeCompetition.hasPendingAssessments()}">
                                    <strong>
                                        <span th:text="${activeCompetition.pendingAssessments}"
                                              class="pending-applications">
                                            COUNT
                                        </span> applications awaiting review
                                    </strong>
                                </div>
                                Funding type:
                                <span th:text="${activeCompetition.fundingType.displayName}">FUNDING TYPE</span>
                            </div>
                            <div class="status">
                                <div class="status-msg msg-deadline"
                                     th:attr="data-competition-id=${activeCompetition.competitionId}">
                                    <strong class="govuk-!-font-size-24 govuk-!-font-weight-bold days-remaining"
                                            th:text="${activeCompetition.daysLeft}"></strong>
                                    <br/>
                                    days left <br/>
                                    Deadline
                                    <span class="day"
                                          th:text="${#temporals.day(activeCompetition.cofunderDeadlineDate)}">END DAY</span>
                                    <span class="month"
                                          th:text="${#temporals.monthName(activeCompetition.cofunderDeadlineDate)}">END MONTH</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>

        <div class="upcoming-to-assess" th:unless="${#lists.isEmpty(model.upcomingCompetitions)}">
            <div class="progress-list"><h2 class="govuk-heading-m">Upcoming competitions to review (<span
                th:text="${#lists.size(model.upcomingCompetitions)}"/>)</h2>
                <ul>
                    <li th:each="upcomingCompetition : ${model.upcomingCompetitions}" class="status-2-col">
                        <div class="task">
                            <h3 class="govuk-heading-s">
                                <a th:href="@{/competition/{competitionId}/upcoming(competitionId=${upcomingCompetition.competitionId})}"
                                   th:text="${upcomingCompetition.competitionName}"
                                   class="govuk-link"/>
                            </h3>
                            <p class="govuk-body govuk-!-margin-0">Upcoming competition</p>
                        </div>
                        <div class="assessment-period">
                            <h3 class="govuk-heading-s govuk-!-margin-0">Assessment period</h3>
                            <dl class="standard-definition-list reduced-width">
                                <dt>Begins</dt>
                                <dd th:text="|${#temporals.day(upcomingCompetition.cofunderAcceptDate)} ${#temporals.monthName(upcomingCompetition.cofunderAcceptDate)}|">
                                    15 November 2017
                                </dd>
                                <dt>Ends</dt>
                                <dd th:text="|${#temporals.day(upcomingCompetition.cofunderDeadlineDate)} ${#temporals.monthName(upcomingCompetition.cofunderDeadlineDate)}|">
                                    25 December 2017
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <th:block th:if="${model.previousCompetitions.size() > 0}">
            <div class="progress-list">
                <h2 class="govuk-heading-m govuk-!-margin-top-0">Previous reviews</h2>
                <ul>
                    <li th:each="previousCompetition : ${model.previousCompetitions}">
                        <div class="task">
                            <h3 class="govuk-heading-s"><a class="govuk-link"
                                                           th:href="@{/assessor/dashboard/competition/{competitionId}(competitionId=${previousCompetition.competitionId})}"
                                                           th:text="${previousCompetition.competitionName}"/></h3>
                            <strong>
                            <span th:text="${previousCompetition.submitted}"
                                  class="reviewed-applications">
                                COUNT
                            </span> applications reviewed
                            </strong>
                            Funding type:
                            <span th:text="${previousCompetition.fundingType.displayName}">FUNDING TYPE</span>
                        </div>
                    </li>
                </ul>
            </div>
        </th:block>

            <th:block th:insert="fragments/layout :: main-content-end"/>
    </main>
</div>

<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>
<th:block th:insert="fragments/service-layout :: body-end"/>
</body>
</html>
