<p>Dear OPAISHJDPIAHSJDIPHJASPODIH</p>
<p>Innovate UK</p>
<p>${competitionName}</p>
<p>Thank you for your interest and application into the '${competitionName}' competition.</p>
<p>We have reviewed your application to check that it falls within the eligibility requirements described on the competition webpage. Only applications that meet the eligibility requirements of the competition are sent for assessment.</p>
<p>On checking your application we found that it did not meet the following requirements to qualify for this competition:</p>
<p>&lt;REASON&gt;</p>
<p>As a result, we are unable to progress your application further in this competition, it will not be sent out for assessment and therefore you will not receive any feedback.</p>
