[aria-hidden="true"]{
	@extend .hidden;
}

.hidden-save {
	overflow:visible;
	height: 0;
	width: 0;
	margin: 0;
	border: 0;
	padding: 0;
	display:block;
}
.buttonlink {
	background:none;
	border:none;
	font: inherit;
	cursor: pointer;
	color: $govuk-blue;
	line-height:1.25;
	margin: 0px 15px 15px 0px;
	@include inline-block;
	text-decoration:underline;
	padding: 0;

	&:hover {
		@extend a:hover;
	}
}
