//layout
.header-global .navigation-list  {
	margin: 0 15px;
	a{ color:#fff;}
}
//no margins for the page headers
.page-header {
	margin-left:0;
	margin-right:0;
}

.sub-header {
	background: $grey-4;
	border-top: 10px solid $link-colour;
	clear: both;
	font-weight: 700;
	padding: 10px 15px 10px 20px;
	margin: 0 -15px;
	position: relative;
	line-height:40px;
	font-size: 16px;

	.deadline {
		float:right;
		line-height:1;
		font-weight:300;
		color: $red;
		font-size:15px;
	}

	.pie-overlay {
		background: $grey-4;
		
	}
}

@include ie(8){
	.header-logo a {
		width: image-width('../images/innovateuk_logo.png');
	}
}