/*
###Text

```
<p>I am <strong>such a strong character</strong></p>

<p>Be mean or be <span class="greentext">Green</span></p>

Hello world <small>(just testing smalltext)</small>
```
*/
.greentext {
	color:$green;
}

strong {
	font-weight:700;
}

img {
	max-width: 100%;
}

.icon {
	@include inline-block;
	vertical-align: middle;
	margin-right:2px;
}

small {
	@extend .form-hint;
	display: inline; 
	font-size: 16px;
}
/*

###Right aligned buttons
```
<div class="alignright-button">
	<button class="button">Button 1</button>
	<button class="button">Button 2</button>
</div>
```
*/


.alignright-button {
	overflow: hidden;
	clear: both;

	.button,
	button,
	[role="button"] {
		&:first-child {
			margin-right:0;
		}
		float:right;
	}
}
  @include media-down(mobile) {
	.button {
		margin-right:0;
		margin-left:0;
		float:none;
		text-align: center;
	}
  }

  /*
  ###Large button

  ```
  <button class="large">Bigger is always better</button>
  <a href="#" tabindex="0" role="button" class="button large">In Texas</a>
  ```
  */
button,
.button,
input[type="button"] {
		&.large {
	    box-shadow: 0px 4px 0px darken($button-colour,15%);
	    padding: 15px 45px;
	}
}


/*

###subtitle for header
```
<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, deleniti.</p>
```
*/
.subtitle {
	color: $grey-1;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.25;
}




