/*
###Text

```
<p>I am <strong>such a strong character</strong></p>

<p>Be mean or be <span class="greentext">Green</span></p>

```
*/
.greentext {
	color:$green;
}

strong {
	font-weight:700;
}

img {
	max-width: 100%;
}

.icon {
	@include inline-block;
}
/*
```
<div class="alignright-button">
	<button>Button 1</button>
	<button>Button 2</button>
</div>
```
*/
.alignright-button {
	overflow: hidden;
	
	.button,
	button,
	[role="button"] {
		&:first-child {
			margin-right:0;
		}
		float:right;
	}
}