/*
#Page specific elements
*/ 
@import "pages/application-details";
@import "pages/application-form";
@import "pages/application-summary";
@import "pages/application-dashboard";
@import "pages/application-track";  
