//temp file for all the worth styles 
//will be cut up in smaller pieces later 

//variables 
$ifs-gray: #D2D4D5;
$ifs-green : #00823b;
$ifs-purple : #79298A;
$ifs-lightgray : #F8F8F8;



//layout

@import "layout/layout";

/* 
#Nomensa/Worth Elements

##1. List elements
*/

@import "components/app-sidebar";
@import "components/boxed-list";
@import "components/navigation-list";
@import "components/collapsible-sections";

/*

/*
##2. Pie charts 
*/
@import "components/pie-charts";


/*
##3. small elements
###Text

```
<p>I am <strong>such a strong character</strong></p>

<p>Be mean or be <span class="greentext">Green</span></p>

```
*/
.greentext {
	color:$ifs-green;
}

strong {
	font-weight:700;
}

img {
	max-width: 100%;
}

.icon {
	@include inline-block;
}