//temp file for all the worth styles 
//will be cut up in smaller pieces later 

//variables 


@import "compass/css3/transition";

@import "layout/layout";
/* 
#Nomensa/Worth Elements

##1. List elements
*/

@import "components/app-sidebar";
@import "components/boxed-list";
@import "components/navigation-list";
@import "components/collapsible-sections";

/*
##2. Pie charts 
*/
@import "components/pie-charts";

/*
##3. Progress-indicator 
*/
@import "components/progress-indicator";

/*
##4. Event alert 
*/
@import "components/event-alert";
@import "components/message-alerts";

/* 
##5. Extra form elements 
*/
@import "components/forms";

/*
##6. Small elements
*/
@import "layout/small";

/*
##7. Pagination
*/
@import "components/pagination";

/*
##8. Assign team members
*/
@import "components/assign-team";

/*
##9. Header
*/ 
@import "components/header"; 

/*
##10. Statuses
*/ 
@import "components/statusses";

/*
##11. Modals
*/ 
@import "components/modal";

/*
##12. Competition deadlines
*/ 
@import "components/competition-deadline";

//Modifiers
@import "layout/a11y";
@import "components/modifiers";

/*
#Page specific elements
*/ 
@import "pages/application-details";
@import "pages/application-form";
@import "pages/application-summary";
@import "pages/application-dashboard";
@import "pages/application-track";  



@font-face {
	font-family: 'icons';
	src:url('../fonts/icomoon.eot?py4jf1');
	src:url('../fonts/icomoon.eot?py4jf1#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?py4jf1') format('truetype'),
		url('../fonts/icomoon.woff?py4jf1') format('woff'),
		url('../fonts/icomoon.svg?py4jf1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="fa"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-italic:before {
	content: "\e906";
}
.fa-repeat:before {
	content: "\e905";
}
.fa-undo:before {
	content: "\e900";
}
.fa-list-ol:before {
	content: "\e901";
}
.fa-list-ul:before {
	content: "\e902";
}
.fa-underline:before {
	content: "\e903";
}
.fa-bold:before {
	content: "\e904";
}



