@import "compass/css3";

@import "govuk";
@import "components";
@import "pages";
@import "print";


/* Prototype css for testing */

@import "prototype/prototype-nav";
@import "prototype/prototype-modifiers";
@import "prototype/prototype-lists";
@import "prototype/prototype-forms";
@import "prototype/prototype-buttons";
@import "prototype/prototype-collapsible-sections";
@import "prototype/prototype-statusses"; 