<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Review bank details',hasFormErrors=${#fields.hasErrors('${form.*}')}" />
</head>
<body class="govuk-template__body competition-management project-management review-bank-details">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />
<th:block th:insert="fragments/modals :: modal-overlay" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Review bank details',linkClass='link-back',linkUrl=@{/project/{projectId}/organisation/{organisationId}/review-bank-details(projectId=${model.projectId},organisationId=${model.organisationId})}" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div th:if="${#fields.hasErrors('${form.*}')}" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">We are unable to save your bank account details.</h2>
            <th:block th:insert="fragments/elements :: error-summary-list(form)" />
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Project details',subTitle=|${model.applicationId}: ${model.projectName}|,size='govuk-heading-xl'" />
            </div>
            <div class="govuk-grid-column-one-third alignright govuk-!-margin-top-6">
                <h2 class="govuk-heading-s govuk-!-margin-0 blue-block">Bank account</h2>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
        <p class="govuk-body">Bank account details have been submitted to Innovate UK for use during the project <strong th:text="|${model.projectName} (${model.applicationId})|">Machine Learning In Robots (10294856)</strong></p>

        <h2 class="govuk-heading-m">Finance contact</h2>

        <p class="govuk-body">
            <th:block th:unless="${#strings.isEmpty(model.financeContactName)}">
                <th:block th:text="${model.financeContactName}" /><br/>
            </th:block>
            <th:block th:unless="${#strings.isEmpty(model.financeContactEmail)}">
                <a th:href="${'mailto:'+model.financeContactEmail}" th:text="${model.financeContactEmail}" class="govuk-link" /><br/>
            </th:block>
            <th:block th:unless="${#strings.isEmpty(model.financeContactPhoneNumber)}">
                <th:block th:text="${model.financeContactPhoneNumber}" /><br/>
            </th:block>
        </p>

        <form th:object="${form}" th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}" method="post" novalidate="novalidate">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Company details</h2>
            <div class="govuk-form-group govuk-!-margin-top-6" th:classappend="${#fields.hasErrors('organisationName')} ? 'govuk-form-group--error'">
                <label class="govuk-label" for="organisationName">
                    Company name
                </label>
                <th:block th:if="${#fields.hasErrors('organisationName')}">
                    <span class="govuk-error-message" th:each="err : ${#fields.errors('organisationName')}" th:text="${err}"></span>
                </th:block>
                 <input type="text"
                        th:errorclass="govuk-input--error"
                        required="required"
                        name="company-name"
                        class="govuk-input"
                        maxlength="255"
                        th:field="*{organisationName}"
                        th:attr="data-required-errormessage=#{validation.standard.organisationname.required}" />
            </div>
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('registrationNumber')} ? 'govuk-form-group--error'">
                <label class="govuk-label" for="registrationNumber">
                    Companies house number
                </label>
                <p class="govuk-hint">For example: 15489657</p>
                <th:block th:if="${#fields.hasErrors('registrationNumber')}">
                    <span class="govuk-error-message" th:each="err : ${#fields.errors('registrationNumber')}" th:text="${err}"></span>
                </th:block>
                <input type="text"
                       th:attr="data-required-errormessage=#{validation.standard.registrationnumber.required},
                                data-minlength-errormessage=#{validation.standard.registrationnumber.format}"
                       th:errorclass="govuk-input--error"
                       required="required"
                       maxlength="8"
                       minlength="8"
                       name="companies-house-number"
                       class="govuk-input"
                       th:field="*{registrationNumber}"
                       data-switches-button-status="#modal-change-bank-details"/>
            </div>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Account details</h2>
            <p class="govuk-hint">This is the bank account that the applicant will use for the duration of the project</p>
            <div class="govuk-form-group govuk-!-margin-top-6" th:classappend="${#fields.hasErrors('accountNumber')} ? 'govuk-form-group--error'">
                <label class="govuk-label" for="accountNumber">
                    Account number
                </label>
                <p class="govuk-hint">For example: 15489657</p>
                <th:block th:if="${#fields.hasErrors('accountNumber')}">
                    <span class="govuk-error-message" th:each="err : ${#fields.errors('accountNumber')}" th:text="${err}"></span>
                </th:block>
                <input type="text"
                       th:attr="data-required-errormessage=#{validation.standard.accountnumber.required},
                                data-minlength-errormessage=#{validation.standard.accountnumber.format}"
                       th:errorclass="govuk-input--error"
                       required="required"
                       pattern="[0-9]{8,}"
                       data-prevent-input-regex="[^0-9]"
                       maxlength="8"
                       minlength="8"
                       class="govuk-input"
                       th:field="*{accountNumber}"
                       data-switches-button-status="#modal-change-bank-details"/>
            </div>
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('sortCode')} ? 'govuk-form-group--error'">
                <label class="govuk-label" for="sortCode">
                    Sort code
                </label>
                <p class="govuk-hint">For example: 311212</p>
                <th:block th:if="${#fields.hasErrors('sortCode')}">
                    <span class="govuk-error-message" th:each="err : ${#fields.errors('sortCode')}" th:text="${err}"></span>
                </th:block>
                <input type="text"
                       th:attr="data-required-errormessage=#{validation.standard.sortcode.required},
                                data-minlength-errormessage=#{validation.standard.sortcode.format}"
                       th:errorclass="govuk-input--error"
                       required="required"
                       pattern="[0-9]{6,}"
                       data-prevent-input-regex="[^0-9]"
                       maxlength="6"
                       minlength="6"
                       class="govuk-input govuk-input--width-10"
                       th:field="*{sortCode}"
                       data-switches-button-status="#modal-change-bank-details"/>
            </div>

            <fieldset id="address-details" class="govuk-fieldset govuk-!-margin-top-6">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">Billing address</h2>
                </legend>
                <span class="govuk-hint">This is the billing address of the bank account. This is not the address of the bank.</span>
                <div class="govuk-form-group" th:classappend="${#fields.hasErrors('addressForm.selectedPostcode.addressLine1')} ? 'govuk-form-group--error'">
                    <label class="govuk-label" for="addressForm.selectedPostcode.addressLine1">
                        Street
                    </label>
                    <th:block th:if="${#fields.hasErrors('addressForm.selectedPostcode.addressLine1')}">
                        <span class="govuk-error-message" th:each="err : ${#fields.errors('addressForm.selectedPostcode.addressLine1')}" th:text="${err}"></span>
                    </th:block>
                    <input class="govuk-input"
                           type="text"
                           th:errorclass="govuk-input--error"
                           required="required"
                           th:attr="data-required-errormessage=#{validation.standard.addressline1.required}"
                           th:field="*{addressForm.selectedPostcode.addressLine1}" />
                </div>
                <div class="govuk-form-group" th:classappend="${#fields.hasErrors('addressForm.selectedPostcode.addressLine2')} ? 'govuk-form-group--error'">
                    <label class="govuk-label govuk-visually-hidden"
                           for="addressForm.selectedPostcode.addressLine2">
                        Street line 2
                    </label>
                    <th:block th:if="${#fields.hasErrors('addressForm.selectedPostcode.addressLine2')}">
                        <span class="govuk-error-message" th:each="err : ${#fields.errors('addressForm.selectedPostcode.addressLine2')}" th:text="${err}"></span>
                    </th:block>
                    <input class="govuk-input"
                           type="text"
                           th:errorclass="govuk-input--error"
                           th:field="*{addressForm.selectedPostcode.addressLine2}"/>
                </div>
                <div class="govuk-form-group" th:classappend="${#fields.hasErrors('addressForm.selectedPostcode.addressLine3')} ? 'govuk-form-group--error'">
                    <label class="govuk-label govuk-visually-hidden" for="addressForm.selectedPostcode.addressLine3">
                        Street line 3
                    </label>
                    <th:block th:if="${#fields.hasErrors('addressForm.selectedPostcode.addressLine3')}">
                        <span class="govuk-error-message" th:each="err : ${#fields.errors('addressForm.selectedPostcode.addressLine3')}" th:text="${err}"></span>
                    </th:block>
                    <input class="govuk-input"
                           type="text"
                           th:errorclass="govuk-input--error"
                           th:field="*{addressForm.selectedPostcode.addressLine3}"/>
                </div>
                <div class="govuk-form-group" th:classappend="${#fields.hasErrors('addressForm.selectedPostcode.town')} ? 'govuk-form-group--error'">
                    <label class="govuk-label"
                           for="addressForm.selectedPostcode.town">
                        Town
                    </label>
                    <th:block th:if="${#fields.hasErrors('addressForm.selectedPostcode.town')}">
                        <span class="govuk-error-message" th:each="err : ${#fields.errors('addressForm.selectedPostcode.town')}" th:text="${err}"></span>
                    </th:block>
                    <input class="govuk-input"
                           type="text"
                           th:errorclass="govuk-input--error"
                           required="required"
                           th:attr="data-required-errormessage=#{validation.standard.town.required}"
                           th:field="*{addressForm.selectedPostcode.town}"/>
                </div>
                <div class="govuk-form-group" th:classappend="${#fields.hasErrors('addressForm.selectedPostcode.county')} ? 'govuk-form-group--error'">
                    <label class="govuk-label" for="addressForm.selectedPostcode.county">
                        County
                    </label>
                    <th:block th:if="${#fields.hasErrors('addressForm.selectedPostcode.county')}">
                        <span class="govuk-error-message" th:each="err : ${#fields.errors('addressForm.selectedPostcode.county')}" th:text="${err}"></span>
                    </th:block>
                    <input class="govuk-input"
                           type="text"
                           th:errorclass="govuk-input--error"
                           th:field="*{addressForm.selectedPostcode.county}"/>
                </div>
                <div class="govuk-form-group" th:classappend="${#fields.hasErrors('addressForm.selectedPostcode.postcode')} ? 'govuk-form-group--error'">
                    <label class="govuk-label"
                           for="addressForm.selectedPostcode.postcode">
                        Postcode
                    </label>
                    <th:block th:if="${#fields.hasErrors('addressForm.selectedPostcode.postcode')}">
                        <span class="govuk-error-message" th:each="err : ${#fields.errors('addressForm.selectedPostcode.postcode')}" th:text="${err}"></span>
                    </th:block>
                    <input class="govuk-input postcode"
                           type="text"
                           th:errorclass="govuk-input--error"
                           required="required"
                           th:attr="data-required-errormessage=#{validation.standard.postcode.required}"
                           th:field="*{addressForm.selectedPostcode.postcode}"/>
                </div>
            </fieldset>

            <div class="govuk-grid-row govuk-!-margin-top-6">
                <div class="govuk-grid-column-one-half">
                    <a th:href="@{/project/{id}/organisation/{orgId}/review-bank-details(id=${model.projectId}, orgId=${model.organisationId})}" class="govuk-link">Cancel bank account changes</a>
                </div>
                <th:block th:insert="fragments/modals :: modal-partner-change-bank-details" />
                <div class="govuk-grid-column-one-half alignright">
                    <button class="govuk-!-margin-right-0 govuk-button" id="modal-change-bank-details" data-js-modal="modal-partner-change-bank-details">Update bank account details</button>
                </div>
            </div>
        </form>

        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>
<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
