<th:block th:fragment="project-status-table(status)">
    <th:block th:switch="${status.name()}">
        <td th:case="'COMPLETE'" class="status ok"><span class="visuallyhidden">Stage complete</span></td>
        <td th:case="'ACTION_REQUIRED'" class="status action"><span class="visuallyhidden">Requires action</span></td>
        <td th:case="'NOT_STARTED'" class="status">- <span class="visuallyhidden">Stage is not yet available</span></td>
        <td th:case="'NOT_REQUIRED'" class="status na"><span class="visuallyhidden">Not required for this partner</span></td>
        <td th:case="'PENDING'" class="status waiting"><span class="visuallyhidden">Awaiting review from Innovate UK</span></td>
        <td th:case="*"></td><!--/* just in case there is a different status we put out an empty td to not break the table */-->
    </th:block>
</th:block>
