<th:block th:fragment="bankDetailsStatus(statusName)">
  <th:block th:switch="${statusName}">
      <th:block th:case="'NOT_REQUIRED'">
        Not required
      </th:block>
      <th:block th:case="'NOT_STARTED'">
         Not yet submitted
      </th:block>
      <th:block th:case="'ACTION_REQUIRED'">
          <span class="status action">Review required</span>
      </th:block>
      <th:block th:case="'PENDING'">
          <span class="status waiting">Pending</span>
      </th:block>
      <th:block th:case="'COMPLETE'">
          <span class="status yes">Complete</span>
      </th:block>
  </th:block>
</th:block>
