<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Other documents'" />
</head>
<body>
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />
<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <div th:insert="fragments/layout :: header-sub"
         th:with="linkTitle='Projects in setup',linkClass='link-back',linkUrl=@{/competition/{competitionId}/status(competitionId=${model.competitionId})}"
         th:remove="tag"/>

    <form th:object="${form}" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}" method="post">

        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Other documents',subTitle=${model.projectName},size='heading-xlarge'" />
        <hr/>
        <div class="error-summary" th:if="${#fields.hasErrors('*')}">
            <h2 class="heading-medium error-summary-heading">We were unable to save your changes</h2>
            <ul class="error-summary-list">
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="success-alert" th:if="${model.isApproved()}">
            <p class="heading-small no-margin-top">The documents provided have been approved.</p>
        </div>

        <div class="warning-alert" th:if="${model.isRejected()}">
            <p class="heading-small no-margin-top">These documents have been reviewed and rejected. We have returned them to the Project Manager.</p>
        </div>

        <h2 class="heading-medium" th:text="${model.applicationId} + ': ' + ${model.projectName} "/>
        <ul class="list list-bullet">
            <li th:text="${model.leadPartnerOrganisationName}" />
            <th:block th:unless="${#lists.isEmpty(model.partnerOrganisationNames)}">
              <li th:each="partner : ${model.partnerOrganisationNames}" th:text="${partner}"/>
            </th:block>
        </ul>
        <p>
            <th:block th:unless="${#strings.isEmpty(model.projectManagerName)}">
              <th:block th:text="${model.projectManagerName}"/><br/>
            </th:block>
            <th:block th:unless="${#strings.isEmpty(model.projectManagerEmail)}">
              <a th:href="${'mailto:'+model.projectManagerEmail}" th:text="${model.projectManagerEmail}" /><br/>
            </th:block>
            <th:block th:unless="${#strings.isEmpty(model.projectManagerTelephone)}">
              <th:block th:text="${model.projectManagerTelephone}"/>
            </th:block>
        </p>

        <th:block th:if="${(model.collaborationAgreementFileDetails != null) and (model.exploitationPlanFileDetails != null)}">

            <h2 class="heading-medium">Collaboration agreement</h2>
            <a th:href="@{/project/{id}/partner/documents/collaboration-agreement(id=${model.projectId})}"
             class="uploaded-file" th:text="${model.collaborationAgreementFileDetails.filename}">The-uploaded-file-example.pdf</a>

            <h2 class="heading-medium">Exploitation plan</h2>
            <a th:href="@{/project/{id}/partner/documents/exploitation-plan(id=${model.projectId})}"
             class="uploaded-file"
             th:text="${model.exploitationPlanFileDetails.filename}">The-uploaded-file-example.pdf</a>

            <th:block th:if="${model.isShowApproveRejectButtons()}">
                <h2 class="heading-medium">Review documents</h2>
                <p>Please review the content of the documents to ensure they meet Innovate UK's requirements.</p>
                <button data-js-modal="modal-accept-docs" class="button large">Accept documents</button>
                <button data-js-modal="modal-reject-docs" class="button button-warning large">Reject documents</button>
                <th:block th:insert="fragments/modals :: modal-overlay" />
                <th:block th:insert="fragments/modals :: modal-accept-docs" />
                <th:block th:insert="fragments/modals :: modal-reject-docs" />
            </th:block>

        </th:block>
    </form>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>
<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
