<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Research category'" />
</head>
<body class="application details innovation-areas">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content" th:with="model=${researchCategoryModel}">
    <th:block th:unless="${model.useNewApplicantMenu}" th:insert="fragments/layout :: header-sub"
              th:with="linkTitle='Application details',linkClass='link-back',linkUrl=@{/application/{applicationId}/form/question/{questionId}(applicationId=${model.applicationId},questionId=${model.questionId})}" />

    <th:block th:if="${model.useNewApplicantMenu}" th:insert="fragments/layout :: header-sub"
              th:with="linkTitle='Application overview',linkClass='link-back',linkUrl=@{/application/{applicationId}(applicationId=${model.applicationId})}" />

    <div th:if="${#fields.hasErrors('${form.*}')}" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading"  id="error-summary-heading">There is a problem on this page.</h2>
        <th:block th:insert="fragments/elements :: error-summary-list(form)" />
    </div>

    <th:block th:insert="fragments/layout :: page-title"
              th:with="pageTitle='Research category',subTitle=${model.currentCompetitionName},size='heading-xlarge'" />

    <th:block th:insert="fragments/research-category :: research_category(${model})" />

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />
</body>
</html>
