<div xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- ===========================Form: Textinput =========================== -->

    <div th:fragment="textinput">
        <input type="text" th:attr="data-question_id=${question.getId()}" class="form-control" th:name="'question-'+${question.getId()}"
               th:value="${responses.get(question.getId()).getValue()}"/>
    </div>

    <!-- ===========================Form: Text Area =========================== -->

    <div th:fragment="textarea">

        <textarea th:attr="data-question_id=${question.getId()}" cols="30" rows="10" th:name="'response-'+${question.getId()}"
                  data-th-text="(( ${responses.get(question.getId())} == null ) ? '' : ${responses.get(question.getId()).getValue()} )"></textarea>

    </div>

    <!-- ===========================Form: Date input =========================== -->

    <div th:fragment="date">

        <input type="date"/>

    </div>

    <!-- ===========================Form: Fileupload =========================== -->
    <div th:fragment="fileupload">

        <input type="file"/>

    </div>

</div>
