

    <!-- ===========================Form: Textinput =========================== -->

    <div th:fragment="textinput" class="form-group">
        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name=${question.getName()}, id=${question.getId()})" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-hint (hint=${question.getDescription()})" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-guidance" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-textinput (id=${question.getId()}, response=${responses.get(question.getId()).getValue()})" th:remove="tag" />
        </div>
    </div>

    <!-- ===========================Form: Text Area =========================== -->

    <div th:fragment="textarea" class="form-group">
        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name=${question.getName()}, id=${question.getId()})" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-hint (hint=${question.getDescription()})" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-guidance" th:remove="tag" />
           
            <div class="form-control-wrap">
                <div class="form-group_header">
                    Information goes here
                </div>
                 <div th:include="question-type/form-elements :: form-textarea" th:remove="tag" />
            </div>
        </div>
    </div>
    <div th:fragment="readonly_textarea" class="form-group">
        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name=${question.getName()}, id=${question.getId()})" th:remove="tag" />
            <div class="form-control-wrap">
                <div th:include="question-type/form-elements :: form-textarea" th:with="disabled=(true)" th:remove="tag" />
            </div>
            <div th:include="question-type/form-elements :: question-edit-link" th:remove="tag" />
        </div>
    </div>

    <!-- ===========================Form: Date input =========================== -->

    <div th:fragment="date" class="form-group">
        <input type="date" />
    </div>

    <!-- ===========================Form: Fileupload =========================== -->
    <div th:fragment="fileupload" class="form-group">
        <input type="file"/>
    </div>

    <!-- ===========================Form: application_details =========================== -->
    <div th:fragment="application_details">
        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name='Project title', id='application_details-title') " th:remove="tag" />
            <div th:include="question-type/form-elements :: form-hint (hint='Enter the full title of the project')" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-guidance" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-textinput (id='application_details-title', response=${currentApplication.getName()} )" th:remove="tag" />
        </div>

        <div class="form-group">

            <div th:include="question-type/form-elements :: form-label (name='Proposed project timescales', id='details-application-timescale')" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-hint (hint='Enter the target start date and its planned duration. These are indicative at this stage and are not guaranteed')" th:remove="tag" />

            Project start date
            <br/>

            <div th:include="question-type/form-elements :: form-hint (hint='For example: 31 12 2015')" th:remove="tag" />
            <div th:include="question-type/form-elements :: form-dateinput (id='application_details-startdate', day=${currentApplication.getStartDate().getDayOfMonth()}, month=${currentApplication.getStartDate().getMonthValue()}, year=${currentApplication.getStartDate().getYear()})" th:remove="tag" /><br/>
            <div th:include="question-type/form-elements :: form-textduration (id='application_details-duration', months=${currentApplication.getDurationInMonths()})" th:remove="tag" />
        </div>

        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name='Lead organisation', id='')" th:remove="tag" />
            Nomensa
        </div>

        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name='Partners', id='')" th:remove="tag" />
            <ul class="list-bullet">
                <li>BAE Systems Plc</li>
                <li>Google Inc.</li>
            </ul>
        </div>
    </div>
    <div th:fragment="readonly_application_details">
        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name='Project title', id='application_details-title') " th:remove="tag" />
            <div th:include="question-type/form-elements :: form-textinput (id='application_details-title', response=${currentApplication.getName()} )" th:with="disabled=(true)"  th:remove="tag" />
        </div>

        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name='Proposed project timescales', id='details-application-timescale')" th:remove="tag" />
            Project start date
            <br/>

            <div th:include="question-type/form-elements :: form-dateinput (id='application_details-startdate', day=${currentApplication.getStartDate().getDayOfMonth()}, month=${currentApplication.getStartDate().getMonthValue()}, year=${currentApplication.getStartDate().getYear()})"  th:with="disabled=(true)" th:remove="tag" /><br/>
            <div th:include="question-type/form-elements :: form-textduration (id='application_details-duration', months=${currentApplication.getDurationInMonths()})"  th:with="disabled=(true)" th:remove="tag" />
        </div>

        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name='Lead organisation', id='')" th:remove="tag" />
            Nomensa
        </div>

        <div class="form-group">
            <div th:include="question-type/form-elements :: form-label (name='Partners', id='')" th:remove="tag" />
            <ul class="list-bullet">
                <li>BAE Systems Plc</li>
                <li>Google Inc.</li>
            </ul>
        </div>
    </div>
    <!-- ===========================Form: empty / no question =========================== -->
    <div th:fragment="empty">
        <div th:utext="${question.getDescription()}"></div>
        <div th:include="question-type/form-elements :: form-guidance" th:remove="tag" ></div>
    </div>

    <!-- ===========================Form: finance =========================== -->
    <div th:fragment="finance">
        <div th:replace="question-type/types :: empty" th:with="$question=(${question})" th:remove="tag" />
        <div class="grid-row">
            <div class="column-half">
                <p>Enter the detailed breakdown of your organisations project costs.</p>
                <a class="button button-large button-block" th:href="@{/application-form/{id}/section/7/?question=1(id=${currentApplication.getId()})}" >Your project costs</a>
                <p class="form-hint icon-info-small-blue">Only you can see this level of detail</p>
            </div>
            <div class="column-half">
                <p>View the summary finances of every partner in your project consortium</p>
                <a class="button button-large button-block" th:href="@{/application-form/{id}/section/8/?question=1(id=${currentApplication.getId()})}">Project financial summary</a>
                <p class="form-hint icon-info-small-blue">All partners can view the financial overview</p>
            </div>
        </div>
    </div>

    <!-- ===========================Form: your_finance =========================== -->
    <div th:fragment="your_finance" th:remove="tag">
        <div class="collapsible">
            <div th:each="subSection : ${currentSection.getChildSections()}" th:if="${currentSection.getChildSections()}!=null"  th:remove="tag">
                <h2 data-th-text="${subSection.getName()}" ></h2>
                <div th:remove="tag" th:each="question : ${subSection.getQuestions()}">
                    <div th:replace="question-type/types :: ${question.getQuestionType().getTitle()}" th:with="$question=(${question}), $responses=(${responses}), $currentApplication=(${currentApplication}), $currentSection=(${subSection})" />
                </div>
            </div>
        </div>
    </div>

    <!-- ===========================Form: labour =========================== -->
    <div th:fragment="labour">
        <div class="form-group">
            <table>
                <tbody>
                <tr>
                    <th>Working Days per Year</th>
                    <td><input class="form-control form-control-1-3" disabled="" type="text" value="232" id="labour-costs-days-per-year-field" /> days</td>
                    <td><a href="#">change working days</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>