<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <div th:fragment="question (question)">
        <div th:each="formInput, status : ${question.getFormInputs()}" th:remove="tag">
            <div th:replace="question-type/types-assessment-details :: ${formInput.getFormInputType().getTitle()}" />
        </div>
        <div th:include="question-type/types-assessment-details :: assessor-feedback (section=${currentSection}, question=${question}, questionResponse=${questionResponses.get(question.getId())})" th:remove="tag" />
    </div>


    <!-- ==============General readonly header and paragraph pairs ============= -->

    <div th:fragment="label-and-paragraph (label, text, id, bold)">
        <div class="form-group">
            <h2 th:text="${label}" class="heading-medium no-margin"></h2>
            <p th:id="${id}" th:text="${text}"></p>
        </div>
    </div>

    <!-- ==============General readonly header and paragraph pairs based on section and question ============= -->

    <div th:fragment="question-label-and-paragraph (section, formInput, responses, bold)">
        <div th:include="question-type/types-assessment-details :: label-and-paragraph (label=${formInput.getDescription()}, text=${responses.get(formInput.getId()) != null ? responses.get(formInput.getId()).getValue() : ''}, id=${formInput.getId()}, bold=true)" th:remove="tag"></div>
    </div>


    <!-- ==============Assessor feedback block ============= -->

    <div th:fragment="assessor-feedback (section, question, questionResponse)">

        <div th:if="${questionResponse != null}" th:with="questionId=${question.getId()}, assessmentFeedback=${questionResponse.getResponseAssessmentForAssessor(processRole).orElse(null)}" th:attr="data-section-id=${section.id},data-question-id=${questionId},data-response-id=${questionResponse.id}">

            <div th:if="${question.needingAssessorScore}" th:remove="tag">
                <h2 class="heading-small">Question Score</h2>

                <select th:name="'assessor-question-score-' + ${question.getId()}" th:id="'assessor-question-score-' + ${question.getId()}" class="form-control width-small" th:attr="data-feedback-value=${questionResponse.id}">
                    <option value="" th:selected="${assessmentFeedback?.assessmentValue == null}"></option>
                    <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}" th:selected="${assessmentFeedback?.assessmentValue == i.toString()}">1</option>
                </select> / 10
            </div>

            <div th:if="${not #strings.isEmpty(question.assessorConfirmationQuestion)}" th:remove="tag">

                <h2 th:text="${question.assessorConfirmationQuestion}" class="heading-small">A Confirmation Question</h2>

                <select th:name="'assessor-question-confirmation-' + ${questionId}" th:id="'assessor-question-confirmation-' + ${questionId}" class="form-control width-small" th:attr="data-feedback-value=${questionResponse.id}">
                    <option value="" th:selected="${assessmentFeedback?.assessmentValue == null}"></option>
                    <option value="Yes" th:selected="${assessmentFeedback?.assessmentValue == 'Yes'}">Yes</option>
                    <option value="No" th:selected="${assessmentFeedback?.assessmentValue == 'No'}">No</option>
                </select>
            </div>

            <div th:if="${question.needingAssessorFeedback}" th:remove="tag">
                <div class="form-group extra-margin feedback">
                    <div th:include="question-type/types :: textarea-wordcount(name=${'Your feedback'},
                        id=${'assessor-question-feedback-text-' + questionId},
                        inputName=${'assessor-question-feedback-' + questionId},
                        hint='Please justify your score by writing two or three sentences which will be returned to the applicant as feedback',
                        maxWords=350,
                        formInputIndex=0,
                        value=${assessmentFeedback?.assessmentFeedback})" th:with="textareaRows=3, textareaCols=60, response=${assessmentFeedback}" th:remove="tag"></div>
                    </div>
            </div>

        </div>

    </div>

    <!-- ===========================Readonly textinput with Assessor feedback =========================== -->

    <div th:fragment="textinput" class="form-group">
        <div th:include="question-type/types-assessment-details :: question-label-and-paragraph (section=${section}, formInput=${formInput}, responses=${responses}, bold=true)" th:remove="tag"></div>
    </div>

    <!-- ===========================Readonly textarea with Assessor feedback =========================== -->
    <!-- === (defaults to the wrapped textarea with wordcount and statusses)=== -->

    <div th:fragment="textarea" class="form-group">
        <div th:include="question-type/types-assessment-details :: question-label-and-paragraph (section=${section}, formInput=${formInput}, responses=${responses}, bold=true)" th:remove="tag"></div>
    </div>


    <!-- ===========================Readonly file download link with Assessor feedback  =========================== -->
    <div th:fragment="fileupload" class="form-group">
        <div th:include="question-type/form-elements :: form-label (name='Appendix', id=${question.getId()}, bold=true)" th:remove="tag" />
        <a href="#">Appendix document (2.4mb PDF)</a>
    </div>

    <!-- ===========================Readonly application_details block for Assessor view =========================== -->

    <div th:fragment="application_details" th:remove="tag">

        <div th:include="question-type/types-assessment-details :: label-and-paragraph (label='Project title', text=${currentApplication.getName()}, id='application_details-title', bold=true)" th:remove="tag"></div>

        <h2 th:text="${'Project timescales'}" class="heading-medium"></h2>

        <dl class="dl-pad">
            <dt th:text="${'Project start date'}">Title</dt>
            <dd th:text="${#temporals.format(currentApplication.getStartDate(), 'd/M/yyyy')}">Date</dd>

            <dt th:text="${'Duration'}">Duration</dt>
            <dd th:text="${currentApplication.getDurationInMonths() + ' months'}">Months</dd>
        </dl>

        <div class="form-group">
            <h2 th:text="${'Lead organisation'}" class="heading-medium"></h2>
            <div th:text="${leadOrganisation.getName()}"></div>
        </div>

        <div class="form-group">
            <h2 th:text="${'Partners'}" class="heading-medium"></h2>
            <ul class="list-bullet">
                <li th:each="organisation : ${applicationOrganisations}" th:unless="${organisation.equals(leadOrganisation)}">
                    <span th:text="${organisation.getName()}"></span>
                </li>
            </ul>
        </div>
    </div>

    <!-- ===========================Financial summary =========================== -->
    <div th:fragment="financial_summary">
        <h2 class="heading-medium">Finances Summary</h2>
        <div th:include="question-type/types :: application_finances_summary" th:remove="tag" />
        <h2 class="heading-medium">Project cost breakdown</h2>
        <div th:include="question-type/types :: financial_summary_table" th:remove="tag"/>
    </div>
</html>