<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Print Application'" />
</head>
<body class="govuk-template__body print-doc">
<th:block th:insert="fragments/layout :: body-start" />

<div class="print-bar">
    <button class="govuk-button" onclick="window.print()">Print your application</button>
    <div class="hidden">You can print your application by pressing CTRL+P (Windows) or CMD+P (mac)</div>
</div>

<th:block th:insert="application/readonly/application-read-only :: print (${model})" />

<th:block th:insert="fragments/layout :: body-end" />
<th:block th:unless="${param.noprint}">
    <script type="text/javascript">
        jQuery(document).ready(function () {
            //setTimeout to load late, because of safari font loading bug
            setTimeout(function () {window.print()}, 0)
        })
    </script>
</th:block>
</body>
</html>
