<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<h1 style="text-align: center"><strong>EXAMPLE EMAIL CLIENT</strong></h1>
<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />


	<!-- HARDCODED PROTOTYPE HTML -->

	<div class="extra-margin" style="padding-top: 30px">
		
		<p>
			From: <a href="#">competitionsteam@innovateuk.gov.uk</a><br />
			To: Me<br />
			Subject: Assessor invitation for Innovate UK: &lt;competition name&gt;
		</p>

		<h2 class="heading-medium"><strong>Invitation to become an assessor with Innovate UK</strong></h2>

		<p>Innovate UK would like to invite you to become an assessor for the &lt;competition name&gt; competition.</p>
		 
		<p>Your expertise in specific areas of this competition is recognised. We would appreciate your comments on the scientific and business merit of the applications.</p>
		
		<p>In order to accept this invitation please create an account with our<br />
		<a href="/prototypes/1360-assessor-invite-start">online Innovation Funding Service</a>.</p>
		
		<p>Many thanks, <br />
		The Innovate UK team </p>
		
		
	</div>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    
</main>



</body>
</html>