<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Project details'}, ${(param.user != null and param.user[0] == 'nonLead' ? '/prototypes/1575-project-details?user=nonLead':'/prototypes/1575-project-details')})" th:remove="tag" />


	<!-- HARDCODED PROTOTYPE HTML -->
	<div th:include="prototypes/fragments/applicant-view :: prototype-project-page-title(${'projectSetup'}, ${'Finance contact'})" th:remove="tag" />
	
	<!--<form action="/prototypes/1575-project-details">-->
	<form action="#">

		<fieldset>

			<h2 class="heading-medium">Finance contact</h2>

			<legend class="visuallyhidden">Finance contact</legend>

			<p class="form-hint">Who will be responsible for project finances in your organisation?</p>

			<p>We will ask this person to:</p>

			<ul class="list-bullet">
				<li>provide bank details for your organisation</li>
				<li>confirm any queries we have with your project costs</li>
				<li>review the spend profile of your project costs</li>
			</ul>


			<div class="form-group extra-margin">
				<label for="finances-name-1" class="block-label">
					<input id="finances-name-1" type="radio" name="finances-name-group" value="John Smith" checked="checked" />
					John Smith
				</label>

				<label for="finances-name-2" class="block-label">
					<input id="finances-name-2" type="radio" name="finances-name-group" value="Ann Jones" />
					Ann Jones
				</label>

				<label for="finances-name-invite" class="block-label" id="invited-finance-contact" style="display: none">
					<input id="finances-name-invite" type="radio" name="finances-name-group" value="" />
					<span id="finance-name">Ann Jones (pending)</span>
				</label>

				<label for="add-finance-contact" class="block-label">
					<input id="add-finance-contact" type="radio" name="finances-name-group" value="Add new team member" />
					Add new team member
					<span class="form-hint">A new team member will be invited to join the project</span>
				</label>

				<input type="hidden" name="user" th:value="${param.user[0]}" th:unless="${param.user == null}" />

			</div>

		</fieldset>

		<div th:include="prototypes/fragments/project-setup :: prototype-add-users('finance-contact')" th:remove="tag" />

		<!-- <fieldset class="extra-margin">
			<legend class="visuallyhidden">Organisation details</legend>
				
			<div class="form-group">
				<label class="form-label-bold" for="finance-turnover">Turnover (&pound;)
					<span class="form-hint">Income during the previous year from the sale of products or the provision of services. Turnover should not include value added tax (VAT) or other indirect taxes.</span>
				</label>
				<input class="form-control width-large" id="finance-turnover" name="finance-turnover" type="text" value="" />
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="finance-headcount">Staff headcount
					<span class="form-hint">
						Anyone who is currently employed full time or Part time by your organisation.
					</span>
				</label>
				<input class="form-control width-medium" id="finance-headcount" name="finance-headcount" type="text" value="" />
			</div>

		</fieldset> -->

		<p>If you add a new team member this section will remain in a pending state until they have accepted. Once the team member has created their account you can assign them the role of finance contact.</p>

		<!--<button class="button button-large extra-margin">Submit</button>-->

		<div class="extra-margin">
			<a href="#" class="button button-large" data-js-modal="modal-submit" id="finance-cta">Submit</a>
		</div>

		<div class="modal-submit" role="dialog" aria-hidden="true" style="margin-top: -174px;">
			<button class="js-close close" aria-label="Close Popup">X</button>
			<div>

				<h2 class="heading-medium no-margin">Submit finance contact</h2>

				<p>This will make <span id="finance-contact">[name]</span> your finance contact for the project.</p>

				<hr />

				<div class="alignright-button">

					<a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a>
					<a href="/prototypes/1575-project-details" class="button">Submit finance contact</a>
				</div>

			</div>
		</div>

		<div class="modal-pending" role="dialog" aria-hidden="true" style="margin-top: -174px;">
			<button class="js-close close" aria-label="Close Popup">X</button>
			<div>

				<h2 class="heading-medium no-margin">Contact cannot be assigned</h2>

				<p><span id="pending-finance-contact">[Name]</span> has been invited to create an account. This must be completed before they can be assigned as your finance contact.</p>

				<hr />

				<div class="alignright-button">
					<button class="button js-close">OK</button>
				</div>

			</div>
		</div>

	</form>

	
	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function(){

		function $_GET(param) {
	        var vars = {};
	        window.location.href.replace( location.hash, '' ).replace(
	            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
	            function( m, key, value ) { // callback
	                vars[key] = value !== undefined ? value : '';
	            }
	        );

	        if ( param ) {
	            return vars[param] ? vars[param] : null;
	        }
	        return vars;
	    }

	    var userType = $_GET('user');

	    /*if (userType == null){
	    	var financesTurnoverLead = decodeURIComponent(localStorage.getItem('financesTurnoverLead'));
	    	var financesHeadcountLead = decodeURIComponent(localStorage.getItem('financesHeadcountLead'));

	    	jQuery('#finance-turnover').val(financesTurnoverLead);
	    	jQuery('#finance-headcount').val(financesHeadcountLead);

	    }else if(userType != null){

	    	var financesTurnoverNonLead = decodeURIComponent(localStorage.getItem('financesTurnoverNonLead'));
	    	var financesHeadcountPartner = decodeURIComponent(localStorage.getItem('financesHeadcountPartner'));

	    	jQuery('#finance-turnover').val(financesTurnoverNonLead);
	    	jQuery('#finance-headcount').val(financesHeadcountPartner);
	    }*/


		jQuery('#add-finance-contact').on('click',function(e){

			if(jQuery(this).is(':checked')){
				jQuery('#finance-contact-table').show();
			}else{
				jQuery('#finance-contact-table').hide();
			}
		});

		jQuery('#invite-finance-contact').on('click',function(e){
			e.preventDefault();

			var financeContact = jQuery('#name-finance-contact1').val();

			jQuery('#finance-name').text(financeContact + ' (Pending)');
			jQuery('#finances-name-invite').val(financeContact + ' (Pending)');
			jQuery('#finances-name-invite').prop('checked', true).trigger('click');
			jQuery('#finance-contact-table').hide();
			jQuery('#invited-finance-contact').show();
			jQuery('#finance-cta').show();
			jQuery('#add-finance-contact').text('Change team member');
		});

		jQuery('#finance-contact').text(jQuery('input:radio[name="finances-name-group"]:checked').val());

		jQuery('#finances-name-1, #finances-name-2').on('click', function() {
			jQuery('#finance-contact').text(jQuery('input:radio[name="finances-name-group"]:checked').val());
			jQuery('#finance-cta').attr('data-js-modal', 'modal-submit');
			jQuery('#finance-contact-table').hide();

		});

		jQuery('#finances-name-invite').on('click', function() {
			jQuery('#pending-finance-contact').text(jQuery('#name-finance-contact1').val());
			jQuery('#finance-cta').attr('data-js-modal', 'modal-pending');
			jQuery('#finance-contact-table').hide();

		});
//		jQuery('input:radio[name="finances-name-group"]').on('change',function(e){
//			if(jQuery(this).is(':checked')){
//				var id = jQuery(this).attr('id');
//
//				if(id === 'finances-name-1' || id === 'finances-name-2'){
//
//				}else {
//					jQuery('#pending-finance-contact').text(jQuery('input:radio[name="finances-name-group"]:checked').val());
//					jQuery('#finance-cta').data('js-modal', 'modal-pending');
//				}
//
//				if(jQuery(this).attr('id') != 'add-finance-contact'){
//
//					jQuery('#finance-contact-table').hide();
//				}
//
//				jQuery('#finance-cta').show();
//			}
//		});

		

	});
	// ]]>
</script>
</body>
</html>