<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Project setup status'}, ${'/prototypes/1588-project-status?stage=level2'})" th:remove="tag" />


	<!-- HARDCODED PROTOTYPE HTML -->
	<div th:include="prototypes/fragments/applicant-view :: prototype-project-page-title(${'projectSetup'}, ${'Project details'})" th:remove="tag" />
	
	<p>Please supply the following details about your project and the team. We need these to carry out financial checks before the project begins.</p>

	<h2 class="heading-medium">Project details</h2>

	<p th:unless="${param.user != null and param.user[0] == 'nonLead'}">You are providing these details as the lead applicant on behalf of the overall project.</p>

	<p th:unless="${param.user == null}">The lead partner will provide these details on behalf of the project..</p>

	<table>
		<thead>
			<tr>
				<th scope="col" style="width: 50%">Question</th>
				<th scope="col" style="width: 50%">Answer</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Start date
				</td>
				<td id="start-date">
					01/06/2016
				</td>
			</tr>
			<tr>
				<td>					
					Project address
				</td>
				<td id="project-address">
					13 Queens Square, Bristol, BS3 1RF
				</td>
			</tr>
			<tr>
				<td>
					Project manager
				</td>
				<td id="project-manager">
					Steve Dafit
				</td>
			</tr>
			
		</tbody>
	</table>

	<h2 class="heading-medium">Finance contacts</h2>

	<p>Each partner must provide a finance contact who will be sent any queries from us around project finances.</p>

	<table>
		<thead>
			<tr>
				<th scope="col" style="width: 30%">Partner</th>
				<th scope="col" style="width: 30%">Finance contact</th>
				<th scope="col" style="width: 20%">Turnover</th>
				<th scope="col" style="width: 20%">Staff headcount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Aptrans Ltd
				</td>
				<td>
					<span id="finance-contact">John Smith</span>
				</td>
				<td>
					<span id="finance-turnover">&pound;1,023,092</span>
				</td>
				<td>
					<span id="finance-headcount">84</span>
				</td>
			</tr>
			<tr>
				<td>
					Biotech Corp
				</td>
				<td>
					<span id="finance-partner-contact">Ann Jones</span>
				</td>
				<td>
					<span id="finance-partner-turnover">&pound;756,137</span>
				</td>
				<td>
					<span id="finance-partner-headcount">29</span>
				</td>
			</tr>
			<tr>
				<td>
					University of Cardiff
				</td>
				<td>
					Paula Moore
				</td>
				<td>
					<span id="finance-partner2-turnover">&pound;2,023,092</span>
				</td>
				<td>
					<span id="finance-partner2-headcount">76</span>
				</td>
			</tr>
		</tbody>
	</table>

	<p class="extra-margin">Any new team members invited at this stage must join the project before this section can be marked as complete.</p>
	
	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
</body>
</html>