<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
	<th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Project setup status'}, ${'/prototypes/1588-project-status'})" />


	<!-- HARDCODED PROTOTYPE HTML -->
	<th:block th:insert="prototypes/fragments/applicant-view :: prototype-project-page-title(${'projectSetup'}, ${'Bank account'})" />

	<p>In order for us to pay your grant we need your bank account details. We will then verify the bank account to the lead organisation.</p>

	<p>The bank account must belong to the organisation listed.</p>

	<h3 class="heading-medium">Organisation information</h3>
	<p class="form-hint">This information provided during the application process cannot be changed.</p>

	<div th:if="${param.status == null}">
		<p class="extra-margin">
			Aptrans Ltd <br />
			Company no. 04214477
		</p>
	</div>

	<div th:if="${param.status != null and param.status[0] == 'nonBusiness'}">
		<p class="extra-margin">University of Cardiff</p>
	</div>

	<form action="#">

		<th:block th:insert="prototypes/fragments/project-setup :: prototype-bank-details" />

		<div class="extra-margin">
			<a href="#" class="button" data-js-modal="modal-bank">Submit bank account details</a>
		</div>

		<div class="modal-bank" role="dialog" aria-hidden="true" style="margin-top: -174px;">
	        <button class="js-close close" aria-label="Close Popup">X</button>
	        <div>

				<h2 class="heading-medium no-margin">Submit Bank Details</h2>

				<p>Are you sure you wish to submit your bank details?</p>

				<p>After you submit, your bank details will be reviewed by Innovate UK. We may contact you to clarify any issues before we perform finance checks.</p>

				<hr />

            	<div class="alignright-button">

					<a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a>
            		<a href="/prototypes/1588-project-status?stage=level3" class="button">Submit</a>

            	</div>

	        </div>
	    </div>

	</form>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function(){

		function updateFields(addressType){

			var street = (addressType == 'org') ? 'Aptrans Ltd' : 'Aptrans Ltd';
			var street2 = (addressType == 'org') ? '13 Queens Square' : 'Polaris House';
			var street3 = (addressType == 'org') ? '' : 'North Star Avenue';
			var county = (addressType == 'org') ? 'Avon' : 'Wiltshire';
			var town = (addressType == 'org') ? 'Bristol' : 'Swindon';
			var postcode = (addressType == 'org') ? 'BS1 4NT' : 'SN2 1FL';

			jQuery(".street").val(street);
			jQuery(".street2").val(street2);
			jQuery(".street3").val(street3);
			jQuery(".county").val(county);
			jQuery(".town").val(town);
			jQuery(".postcode").val(postcode);

			jQuery(".street").text(street);
			jQuery(".street2").text(street2);
			jQuery(".street3").text(street3);
			jQuery(".county").text(county);
			jQuery(".town").text(town);
			jQuery(".postcode").text(postcode);
		}

		function hideAddressFields(){
			jQuery("#postcode-block").hide();
			jQuery("#address-details").hide();
			jQuery("#select-address-block").hide();
		}


		jQuery('input#address-use-org').on('click',function(e){
			//e.preventDefault();
			if ( jQuery(this).is(':checked') ) {
				jQuery("#selected-address").show();
				hideAddressFields();
				updateFields('org');
			}else{
				jQuery("#selected-address").hide();
			}
		});

		jQuery('input#address-use-operating').on('click',function(e){
			//e.preventDefault();
			if ( jQuery(this).is(':checked') ) {
				jQuery("#selected-address").show();
				hideAddressFields();
				updateFields('operating');
			}else{
				jQuery("#selected-address").hide();
			}
		});


		jQuery('input#address-add-project').on('click',function(e){
			//e.preventDefault();
			if ( jQuery(this).is(':checked') ) {
				jQuery("#postcode-block").show();
				jQuery("#selected-address").hide();
			}else{
				jQuery("#postcode-block").hide();
			}
		});


		jQuery('#postcode-lookup').on('click',function(e){
			e.preventDefault();
			jQuery("#select-address-block").show();
		});

		jQuery('#select-address').on('change',function(e){
			e.preventDefault();
			jQuery("#address-details").show();
			jQuery(".street").val("4 Station Road");
			jQuery(".county").val("Wiltshire");
			jQuery(".town").val("Swindon");
			jQuery(".postcode").val("SN1 2BD");

		});

		jQuery('#enter-address-manually').on('click',function(e){
			e.preventDefault();
			jQuery("#address-details").show();
			jQuery("#select-address-block").hide();
		});

	});
	// ]]>
</script>
</body>
</html>
