<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	
	<div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Project status'}, ${(param.user != null and param.user[0] == 'nonLead' ?  '/prototypes/1588-project-status?user=nonLead':'/prototypes/1588-project-status')})" th:remove="tag" th:unless="${param.status != null and param.status[0] == 'submitted'}"/>

	<div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Project status'}, ${'/prototypes/1588-project-status?stage=level2'})" th:remove="tag" th:if="${param.status != null and param.status[0] == 'submitted'}"/>


	<!-- HARDCODED PROTOTYPE HTML -->
	<div th:include="prototypes/fragments/applicant-view :: prototype-project-page-title(${'projectSetup'}, ${'Other documents'})" th:remove="tag" />

	<th:block th:if="${param.status != null and param.status[0] == 'approved'}">
		<div class="success-alert extra-margin-bottom">
			<h3 class="heading-small no-margin-top">These documents have been approved by Innovate UK</h3>
		</div>
	</th:block>

	<th:block th:if="${param.status != null and param.status[0] == 'submittedApproved'}">
		<div class="success-alert extra-margin-bottom">
			<h3 class="heading-small no-margin-top">The other documents have been reviewed and approved by Innovate UK</h3>
		</div>
	</th:block>
	
	<th:block th:if="${param.status != null and param.status[0] == 'submitted' or param.status != null and param.status[0] == 'submitted' and param.user != null and param.user[0] == 'nonLead'}">
		<p>The documents submitted below are now being reviewed. We will contact the Project Manager if we need any further information.</p>
	</th:block>

	<div th:unless="${param.user != null and param.user[0] == 'nonLead'}" th:remove="tag">

		<div th:if="${param.status != null and param.status[0] == 'reject'}" th:remove="tag">
			<div class="warning-alert extra-margin-bottom">
				<h3 class="heading-small no-margin-top">We are unable to approve your documents and have returned them to you. A member of Innovate UK will be in touch to discuss our requirements.</h3>
			</div>
		</div>

		<th:block th:unless="${param.status != null and param.status[0] == 'submitted' or param.status != null and param.status[0] == 'approved' or param.status != null and param.status[0] == 'submittedApproved'}">
			<p>As the lead partner in this project you must supply additional documents to support your grant application.</p>
			
			<p>These documents are:</p>

			<ul class="list-bullet">
				<li>the collaboration agreement</li>
				<li>the exploitation plan</li>
			</ul>
			
			<p>You should review these documents with the other partners in the project.</p>

			<p>Further details on what is required from these documents is available below.</p>
		</th:block>

	</div>

	<form action="#">

		<fieldset>

			<legend class="visuallyhidden">Collaboration agreement</legend>
			
			<div class="upload-section">
				
				<h2 class="heading-medium no-margin">Collaboration agreement</h2>

				<p class="form-hint">The collaboration agreement covers how the consortium will work together on the project. It must be signed by all partners.</p>

				<details>
				    <summary><span class="summary">What should I include in the collaboration agreement?</span></summary>
				    <div class="panel-indent">
						<p>This is an agreement between project partners and will cover how the project will operate. It will also include details of how you will exploit the results of the project. Please allow enough time to complete this process before your project start date.</p>
				
						<p>The following partners need to sign this collaboration agreement:</p>

						<ul class="list-bullet">
							<li>Aptrans Ltd</li>
							<li>Biotech Corp</li>
							<li>University of Cardiff</li>
						</ul>

						<p>An example of a collaboration agreement can be found on the <a href="http://www.ipo.gov.uk/lambert">Lambert Agreement website</a>.</p>

						<p>The uploaded collaboration agreement must:</p>
						<ul class="list-bullet">  
							<li>be in a Portable Document Format (.pdf)</li>
							<li>be legible at 100% magnification</li>
							<li>be less than 1mb in file size</li>
						</ul>
				    </div>
				</details>

				<div th:if="${param.user == null or param.user[0] != 'nonLead'}" th:unless="${param.status != null and param.status[0] == 'submitted' or param.status != null and param.status[0] == 'reject' or param.status != null and param.status[0] == 'approved'}">

					<input type="file" name="file-collaboration-agreement" id="file-collaboration-agreement" class="inputfile" />
					<label for="file-collaboration-agreement" class="button-secondary extra-margin">+ Upload</label>

				</div>

				<div th:if="${param.user != null and param.user[0] == 'nonLead' or param.status != null and param.status[0] == 'submitted' or param.status != null and param.status[0] == 'reject' or param.status != null and param.status[0] == 'approved'}">
				
					<a href="#" class="uploaded-file">Collab-agreement-file.pdf</a>

					<div class="alignright" th:unless="${param.status != null and param.status[0] == 'submitted' or param.status != null and param.status[0] == 'approved' or param.user != null and param.user[0] == 'nonLead'}">
                		<button class="button-secondary no-margin-right" type="submit" name="remove_agreement_plan">Remove</button>
            		</div>

				</div>

			</div>

		</fieldset>

		<fieldset>

			<legend class="visuallyhidden">Exploitation plan</legend>

			<div class="upload-section">
			
				<h2 class="heading-medium no-margin">Exploitation plan</h2>
				<p class="form-hint">The plan aims to confirm the benefits realisation that the project hopes to achieve. You should describe the partner activities that will exploit the results of the project.</p>
				
				<details>
				    <summary><span class="summary">What should I include in the exploitation plan?</span></summary>
				    <div class="panel-indent">
						
						<p>This plan will evolve and change during the lifetime of the project. Its aim is to confirm the business case for the project. It should also describe partner activities that will exploit the results of the project so that:</p>

						<ul class="list-bullet">
							<li>changes in the commercial environment can be monitored and accounted for</li>
							<li>adequate resources are committed to exploitation</li>
							<li>exploitation can be monitored by the stakeholders</li>
						</ul>

						<!-- <p>The exploitation plan must include:</p> 

						<ul class="list-bullet">
							<li>business Case including partners capability to develop and exploit the technology developed</li>
							<li>market and commercial opportunities of the expected deliverables</li>
							<li>commercial returns expected from the project, together with timescales</li>
							<li>potential impact of the project for those outside the consortium</li>
							<li>overall Business Plan</li>
							<li>dissemination Activities during the project</li>
						</ul> -->

						<p>A framework of the exploitation plan is available for <a href="">download</a></p>
				

						<p>The uploaded exploitation plan must:</p>
						<ul class="list-bullet">  
							<li>be in a Portable Document Format (.pdf)</li>
							<li>be legible at 100% magnification</li>
							<li>be less than 1mb in file size</li>
						</ul> 
				    </div>
				</details>

				<div th:if="${param.user == null or param.user[0] != 'nonLead'}" th:unless="${param.status != null and param.status[0] == 'submitted' or param.status != null and param.status[0] == 'reject' or param.status != null and param.status[0] == 'approved'}">

					<input type="file" name="file-exploitation-plan" id="file-exploitation-plan" class="inputfile" />
					<label for="file-exploitation-plan" class="button-secondary extra-margin">+ Upload</label>

				</div>

				<div th:if="${param.user != null and param.user[0] == 'nonLead'}">
				
					<p class="uploaded-file">Awaiting upload by lead partner</p>

				</div>

				<div th:if="${param.status != null and param.status[0] == 'submitted' or param.status != null and param.status[0] == 'reject' or param.status != null and param.status[0] == 'approved'}" th:unless="${param.user != null and param.user[0] == 'nonLead'}">
				
					<a href="#" class="uploaded-file">Expolitation-file.pdf</a>

					<div class="alignright" th:unless="${param.status != null and param.status[0] == 'submitted' or param.status != null and param.status[0] == 'approved'}">
                		<button class="button-secondary no-margin-right" type="submit" name="remove_exploitation_plan">Remove</button>
            		</div>

				</div>

			</div>

		</fieldset>

		<div th:if="${param.user != null and param.user[0] == 'nonLead'}">

			<p>The Project Manager must upload both documents for submission. We will contact the Project Manager if we have any queries.</p>

			<a href="#" class="button button-large disabled">Submit partner documents</a>

		</div>

		<div th:if="${param.user == null and param.status == null or param.user == null and param.status != null and param.status[0] == 'reject'}">

			<p>Once you have uploaded these documents, they must be submitted to Innovate UK for review. We will contact you if we need clarification.</p>

			<a href="#" class="button button-large" data-js-modal="modal-submit-documents">Submit documents</a>

			<div class="modal-submit-documents" role="dialog" aria-hidden="true" style="margin-top: -174px;">
		        <button class="js-close close" aria-label="Close Popup">X</button>
		        <div>

					<h2 class="heading-medium no-margin">Submit documents</h2>

					<p>Are you sure that you want to send these documents to Innovate UK for review? If we need further information we will contact the Project Manager.</p>

					<hr />

	            	<div class="alignright-button">
						
						<a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a> 

	            		<a href="/prototypes/1588-project-status?stage=level5" class="button">Send</a>
	            	</div>

		        </div>
		    </div>


		</div>

	</form>

	
	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

<script type="text/javascript">
	// <![CDATA[

	// ]]>
</script>
</body>
</html>