<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
	


	<div th:if="${param.filterInnovationArea != null}" th:remove="tag">
		<style>
			#application-list tbody tr{
				display: none;
			}
			.pagination{
				display: none;
			}
			#application-list tbody tr.filtered-result{
				display: table-row;
			}
		</style>
	</div>

</head>

<body class="comp-assessors full-width show-applications">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Competition dashboard'}, ${'/prototypes/1345-comp-dashboard-MVP'})" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->
	
	<div th:include="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'4891061: Innovate UK'}, ${'Technology inspired'}, ${'Projects in setup'})" th:remove="tag" />

	<div th:include="prototypes/fragments/comp-admin :: prototype-comp-navigation" th:with="page='project-setup', status='closed'" th:remove="tag" />

	<div class="grid-row constrain-width">
	
		<!-- <p class="form-hint">Add assessors to the invite list by selecting '<strong>Add</strong>' from the list of <strong>current assessors</strong> in the section below</p> -->
		
	
		<div class="column-one">

			<h2 class="heading-large" id="current-assessors">Projects in setup</h2>
			
			<div th:include="prototypes/fragments/comp-admin :: prototype-comp-search-filters" th:with="filterTitle=${'projects in setup'}, type='submittedApplications'" th:remove="tag" />

			
			<div class="table-overflow">
				<table>
					<thead>
						<tr>
							<th scope="col" style="width: 10%">Application number</th>
							<th scope="col" style="width: 30%">Project title</th>
							<th scope="col" style="width: 20%">Lead</th>
							<th scope="col" style="width: 15%">Area</th>
							<th scope="col" class="alignright" style="width: 10%">No. of partners</th>
							<th scope="col" class="alignright" style="width: 5%">Stage</th>
							<th scope="col" style="width: 10%">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr class="filtered-result">
							<td><a th:href="${(param.status != null ? '/prototypes/1968-admin-readonly-application?closed&#38;status=' + {param.status} : '/prototypes/1968-admin-readonly-application?closed')}">194731</a></td>
							<td>Machine learning in robots</td>
							<td>PWC</td>
							<td>HVM</td>
							<td class="alignright">3</td>
							<td class="alignright">2</td>
							<td><span class="status-project-warning">*</span></td>
						</tr>
						<tr class="filtered-result">
							<td><a th:href="${(param.status != null ? '/prototypes/1968-admin-readonly-application?closed&#38;status=' + {param.status} : '/prototypes/1968-admin-readonly-application?closed')}">194732</a></td>
							<td>Robots that learn</td>
							<td>Max Digital</td>
							<td>HVM</td>
							<td class="alignright">2</td>
							<td class="alignright">4</td>
							<td><span class="status-project-warning">*</span></td>
						</tr>
						<tr class="filtered-result">
							<td><a th:href="${(param.status != null ? '/prototypes/1968-admin-readonly-application?closed&#38;status=' + {param.status} : '/prototypes/1968-admin-readonly-application?closed')}">194733</a></td>
							<td>AI in learning</td>
							<td>BBC</td>
							<td>HVM</td>
							<td class="alignright">5</td>
							<td class="alignright">1</td>
							<td>&nbsp;</td>
						</tr>
						<tr class="filtered-result">
							<td><a th:href="${(param.status != null ? '/prototypes/1968-admin-readonly-application?closed&#38;status=' + {param.status} : '/prototypes/1968-admin-readonly-application?closed')}">194734</a></td>
							<td>Progressive machines</td>
							<td>Kingfisher</td>
							<td>HVM</td>
							<td class="alignright">4</td>
							<td class="alignright">4</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="grid-row sorting extra-margin">
				<div class="column-one">
					<h4><span class="heading-xlarge no-margin available">4</span> <strong>live projects</strong></h4>
				</div>
			</div>

			<div class="table-overflow">
				<table>
					<thead>
						<tr>
							<th scope="col" style="width: 10%">Application number</th>
							<th scope="col" style="width: 30%">Project title</th>
							<th scope="col" style="width: 20%">Lead</th>
							<th scope="col" style="width: 15%">Area</th>
							<th scope="col" class="alignright" style="width: 10%">No. of partners</th>
							<th scope="col" class="alignright" style="width: 5%">Stage</th>
							<th scope="col" style="width: 10%">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr class="filtered-result">
							<td><a th:href="${(param.status != null ? '/prototypes/1968-admin-readonly-application?closed&#38;status=' + {param.status} : '/prototypes/1968-admin-readonly-application?closed')}">194735</a></td>
							<td>Example project 5</td>
							<td>PWC</td>
							<td>HVM</td>
							<td class="alignright">3</td>
							<td class="alignright">2</td>
							<td><span class="status-project-ok">OK</span></td>
						</tr>
						<tr class="filtered-result">
							<td><a th:href="${(param.status != null ? '/prototypes/1968-admin-readonly-application?closed&#38;status=' + {param.status} : '/prototypes/1968-admin-readonly-application?closed')}">194736</a></td>
							<td>Example project 6</td>
							<td>Max Digital</td>
							<td>HVM</td>
							<td class="alignright">2</td>
							<td class="alignright">4</td>
							<td><span class="status-project-ok">OK</span></td>
						</tr>
						<tr class="filtered-result">
							<td><a th:href="${(param.status != null ? '/prototypes/1968-admin-readonly-application?closed&#38;status=' + {param.status} : '/prototypes/1968-admin-readonly-application?closed')}">194737</a></td>
							<td>Example project 7</td>
							<td>BBC</td>
							<td>HVM</td>
							<td class="alignright">5</td>
							<td class="alignright">1</td>
							<td><span class="status-project-ok">OK</span></td>
						</tr>
						<tr class="filtered-result">
							<td><a th:href="${(param.status != null ? '/prototypes/1968-admin-readonly-application?closed&#38;status=' + {param.status} : '/prototypes/1968-admin-readonly-application?closed')}">194738</a></td>
							<td>Example project 8</td>
							<td>Kingfisher</td>
							<td>HVM</td>
							<td class="alignright">4</td>
							<td class="alignright">4</td>
							<td><span class="status-project-ok">OK</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			



			<div th:if="${param.filterStatus == null}" th:remove="tag">
			
				<!-- <ul class="pagination">
				    <li class="next">
				        <a href="#" rel="next" title="Navigate to next part">
				            <span class="pagination-label">Next</span>
				            <span class="pagination-part-title">2 of 4</span>
				        </a>
				    </li>
				</ul> -->
			
			</div>
		</div>


	</div>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function(){
		jQuery('#content').waypoint(function(direction) {
	        jQuery('#sticky-zone').toggleClass('absolute-bottom', direction === 'down');
	        jQuery('#content').toggleClass('position-relative', direction === 'down');
			}, 
			{offset: 'bottom-in-view'}
		);
	});
	// ]]>
</script>
</body>
</html>