<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />



	<div th:if="${param.filterInnovationArea != null}" th:remove="tag">
		<style>
			#assessor-list tbody tr{
				display: none;
			}
			.pagination{
				display: none;
			}
			#assessor-list tbody tr.filtered-result{
				display: table-row;
			}
		</style>
	</div>

</head>
<body th:class="${(param.fullWidth != null ? 'comp-assessors' : 'comp-assessors full-width')}">


<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Assessments closed'}, ${'/prototypes/1827-assessment-closed'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title(${'Innovate UK, Technology inspired, (4891061)'}, 'Panel assessors')" />

	<div id="sticky-zone">

		<section class="info-area">

			<div class="boxed">

		        <p>Explanation of Assessors panelAenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

		    </div>

		</section>

	    <section class="data-area">

	    			<!-- <p class="form-hint">Add assessors to the invite list by selecting '<strong>Add</strong>' from the list of <strong>current assessors</strong> in the section below</p> -->

	    			<h2 class="heading-large" id="current-assessors">Select assessors who attend panel</h2>

					<div class="grid-row highlight-panel">
						<div class="column-half">
							<p class="no-margin"><span class="heading-large" id="assessor-count">0</span> <strong>assessors selected</strong></p>
						</div>
						<div class="column-half alignright-button">
							<a href="/prototypes/1825-panel-findings" class="button large disabled" id="confirm-assessors">Confirm &#38; input assessor scores</a>
						</div>
					</div>

					<!-- <div class="modal-confirmation-panel-assessors" role="dialog" aria-hidden="true" style="margin-top: -174px;">
				        <button class="js-close close" aria-label="Close Popup">X</button>
				        <div>

							<h2 class="heading-medium no-margin">Confirm application funding</h2>

							<form>
								<div class="form-group">
									<label class="form-label" for="additional-comments">Are there any additional comments from the funders panel?</label>
									<textarea id="additional-comments" class="form-control" rows="5"></textarea>
								</div>
							</form>

							<hr />

				            <div class="grid-row extra-margin">
				            	<div class="column-half">
				            		<a href="/prototypes/1385-application-allocation-confirm">Cancel</a>
				            	</div>
				            	<div class="column-half alignright-button">
				            		<a href="#" class="button">Send comments &#38; confirm selection</a>
				            	</div>
				            </div>

				        </div>
				    </div> -->

	    			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-search-filters" th:with="filterTitle=${'assessors invited'}, type='asessor-panel'" />

	    			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-assessor-panel-table" />

	    			<div th:if="${param.filterStatus == null}" th:remove="tag">

	    				<ul class="pagination">
	    				    <li class="next">
	    				        <a href="#" rel="next" title="Navigate to next part">
	    				            <span class="pagination-label">Next</span>
	    				            <span class="pagination-part-title">2 of 4</span>
	    				        </a>
	    				    </li>
	    				</ul>

	    			</div>
	    </section>

	</div>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	// <![CDATA[
		var panelCount = 0;

		jQuery('.attend-panel').on('click',function(e){
			if(jQuery(this).prop('checked')){
				panelCount ++;
			}else{
				panelCount --;
			}

			if (panelCount > 0){
				jQuery('#confirm-assessors').removeClass('disabled')
			}else{
				jQuery('#confirm-assessors').addClass('disabled')
			}

			jQuery('#assessor-count').text(panelCount);


		});
	// ]]>
</script>
</body>
</html>
