<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />

<h1 style="text-align: center"><strong>EXAMPLE EXPORT PAGE</strong></h1>
<main id="content">



	<!-- HARDCODED PROTOTYPE HTML -->

	<div class="extra-margin" style="padding: 100px 0; text-align: center">

		<p>The exported application data will appear as .csv file here</p>

	</div>


	<!-- END OFHARDCODED PROTOTYPE HTML -->


</main>



</body>
</html>
