<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="comp-setup">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    
    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${(param.section == null ? 'All competitions' : 'Competition set up')}, ${(param.section == null ? '/prototypes/3115-comp-dashboard?section=upcoming' : #httpServletRequest.requestURI)})" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->
	
	<div class="hgroup" th:unless="${param.section != null}">
		<h1 class="heading-xlarge">
			Competition setup
		</h1>
		<h2 class="heading-medium" id="compMainTitle" style="display: none">
			Connected digital additive manufacturing
		</h2>
	</div>

	<div th:include="prototypes/fragments/comp-setup :: prototype-comp-setup-navigation" th:remove="tag" />

	<!-- <div th:include="prototypes/fragments/comp-admin :: prototype-comp-navigation" th:with="page='project-setup', status='closed'" th:remove="tag" /> -->

	<div class="extra-margin">

		<div th:include="prototypes/fragments/comp-setup :: ${'prototype-section-'+ (param.section == null ? 'index-page' : param.section[0])}" th:remove="tag"/>

		<div class="extra-margin" th:if="${param.section != null}">
			<a th:href="${#httpServletRequest.requestURI}" class="button button-secondary">Return to setup overview</a>
		</div>


	</div>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function(){

		function $_GET(param) {
	        var vars = {};
	        window.location.href.replace( location.hash, '' ).replace( 
	            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
	            function( m, key, value ) { // callback
	                vars[key] = value !== undefined ? value : '';
	            }
	        );

	        if ( param ) {
	            return vars[param] ? vars[param] : null;    
	        }
	        return vars;
	    }


	    var sectionId = $_GET('sectionId'),
			status = $_GET('status'),
			compType = $_GET('compType'),
			compStatus = $_GET('compStatus');


		if(compType == 'Programme' || compType == 'Managed services' || compType == 'Sector competition'){
			jQuery('#stateAid').show();
			jQuery('#stateAid .yes').show();
			jQuery('#stateAid .no').hide();
		}else if(compType == 'SBRI' || compType == 'Special'){
			jQuery('#stateAid').show();
			jQuery('#stateAid .no').show();
			jQuery('#stateAid .yes').hide();
		}else{
			jQuery('#stateAid').hide();
		}
		if(compType == 'Sector competition'){
			jQuery('.sector-competition-innovation-area, #add-innovation-area').show();
		} else {
			jQuery('.sector-competition-innovation-area, #add-innovation-area').hide();
		}


		//Of the available tabs check which section has been 'done'

		var sectionCount = 0;
		var sectionNumber = jQuery(".list-overview li").length+1; // count number of sections based on tab;e

		for(i = 1; i < sectionNumber; i++) {
			
			if(sectionId == i && status == 'done'){

				localStorage.setItem('section'+i, 'section-'+i+'-complete');

			}else if (sectionId == i && status == 'edit'){

				localStorage.setItem('section'+i, 'section-'+i+'-not-complete');

			}else if (compStatus == 'ready'){ // set all tabs to done, if the comp is ready to open

				localStorage.setItem('section'+i, 'section-'+i+'-complete'); 
			
			}else if (compStatus == 'draft'){ // In draft mode show some that some tabs aren't complete yet

				if (i <= 3){
					localStorage.setItem('section'+i, 'section-'+i+'-complete');
				}else{
					localStorage.setItem('section'+i, 'section-'+i+'-not-complete');
				}
			}


			if(localStorage.getItem('section'+i) == 'section-'+i+'-complete'){
				jQuery('#section-'+i).addClass('marked-as-complete');
				
				jQuery('#section-'+i+'-done').show();
				jQuery('#section-'+i+'-edit').hide();

				sectionCount ++;

			}else{
				jQuery('#section-'+i).removeClass('marked-as-complete');

				jQuery('#section-'+i+'-done').hide();
				jQuery('#section-'+i+'-edit').show();

			}

		} 

		if(localStorage.getItem('section1') == 'section-1-complete'){
			jQuery('#compMainTitle').show();
		}else{
			jQuery('#compMainTitle').hide();
		}

		//alert(sectionCount+1 +' test'+sectionNumber);

		if(sectionCount+1 == sectionNumber){ // Check that all tabs are complete, then change state of CTA
			jQuery('#compStatus').text('In preparation');
			jQuery('#compCTA').text('Save as ready to open');
			jQuery('#compCTA').attr('href','/prototypes/3115-comp-dashboard?section=upcoming&comp=saveOpen');

			/*if(compStatus == 'ready'){
				jQuery('#compStatus').text('Ready to open');
				jQuery('#compCTA').hide();
			}*/
		
		}else{
			jQuery('#compStatus').text('In preparation');
			jQuery('#compCTA').text('Save as in preparation');
			jQuery('#compCTA').attr('href','/prototypes/3115-comp-dashboard?section=upcoming&comp=saveDraft');
		}



		jQuery('#comp-stream-yes').on('click',function(e){ 

			if(jQuery(this).is(':checked')){
				jQuery('.comp-stream-group').show();
				jQuery('#add-stream').show();
			}

		});

		jQuery('#comp-stream-no').on('click',function(e){ 

			if(jQuery(this).is(':checked')){
				jQuery('.comp-stream-group').hide();
				jQuery('#add-stream').hide();
				jQuery('#show-stream-2').hide();
			}
		});

		jQuery('#compType').on('change',function(e){ 

			var compType = jQuery(this).val();

			if(compType == 'Programme' || compType == 'Managed services' || compType == 'Sector competition'){
				jQuery('#stateAid').show();
				jQuery('#stateAid .yes').show();
				jQuery('#stateAid .no').hide();
			}else if(compType == 'SBRI' || compType == 'Special'){
				jQuery('#stateAid').show();
				jQuery('#stateAid .no').show();
				jQuery('#stateAid .yes').hide();
			}else{
				jQuery('#stateAid').hide();
			}

			if(compType == 'Sector competition'){
				jQuery('#add-innovation-area').show();
			} else {
				jQuery('#innovation-area2-form-group, #add-innovation-area').hide();
			}

		});

		jQuery('#compInnovationSector').on('change',function(e){ 

			jQuery('#compInnovationArea').val('');
			jQuery('#compInnovationArea2').val('');

			var compSector = jQuery(this).val();

			if(compSector == 'health'){
				jQuery('#compInnovationArea .health').show();
				jQuery('#compInnovationArea .materials').hide();
				jQuery('#compInnovationArea .emerging').hide();
				jQuery('#compInnovationArea .infrastructure').hide();

				jQuery('#compInnovationArea2 .health').show();
				jQuery('#compInnovationArea2 .materials').hide();
				jQuery('#compInnovationArea2 .emerging').hide();
				jQuery('#compInnovationArea2 .infrastructure').hide();
			}

			if(compSector == 'materials'){
				jQuery('#compInnovationArea .health').hide();
				jQuery('#compInnovationArea .materials').show();
				jQuery('#compInnovationArea .emerging').hide();
				jQuery('#compInnovationArea .infrastructure').hide();

				jQuery('#compInnovationArea2 .health').hide();
				jQuery('#compInnovationArea2 .materials').show();
				jQuery('#compInnovationArea2 .emerging').hide();
				jQuery('#compInnovationArea2 .infrastructure').hide();
			}

			if(compSector == 'emerging'){
				jQuery('#compInnovationArea .health').hide();
				jQuery('#compInnovationArea .materials').hide();
				jQuery('#compInnovationArea .emerging').show();
				jQuery('#compInnovationArea .infrastructure').hide();

				jQuery('#compInnovationArea2 .health').hide();
				jQuery('#compInnovationArea2 .materials').hide();
				jQuery('#compInnovationArea2 .emerging').show();
				jQuery('#compInnovationArea2 .infrastructure').hide();
			}

			if(compSector == 'infrastructure'){
				jQuery('#compInnovationArea .health').hide();
				jQuery('#compInnovationArea .materials').hide();
				jQuery('#compInnovationArea .emerging').hide();
				jQuery('#compInnovationArea .infrastructure').show();

				jQuery('#compInnovationArea2 .health').hide();
				jQuery('#compInnovationArea2 .materials').hide();
				jQuery('#compInnovationArea2 .emerging').hide();
				jQuery('#compInnovationArea2 .infrastructure').show();
			}

		});

		jQuery('#compInnovationArea').on('change',function(e){ 

			var compInnovationArea = jQuery(this).find('option:selected').attr('class');

			jQuery('#compInnovationSector').val(compInnovationArea);

		});

		jQuery('#add-stream').on('click',function(e){ 
			e.preventDefault();

			jQuery('#show-stream-2').show();

		});

		function pad (str, max) {
		  str = str.toString();
		  return str.length < max ? pad("0" + str, max) : str;
		}

		jQuery('#row-3-year').on('blur',function(e){

			if(jQuery('#row-3-year').val() != '' && jQuery('#row-3-month').val() != '' && jQuery('#row-3-day').val() != ''){
				
				for(i = 3; i < 15; i++) {

					jQuery('#row-'+i+'-weekday').text('Tues');
					jQuery('#row-'+i+'-day').val('01');
					jQuery('#row-'+i+'-month').val(pad(i-1, 2));
					jQuery('#row-'+i+'-year').val('2017');

				}

				jQuery('#row-2-weekday').text('Tues');
				jQuery('#row-2-day').val('15');
				jQuery('#row-2-month').val('01');
				jQuery('#row-2-year').val('2017');



			}

		});

		//Show the add another innovation area button for sector competitions
		jQuery('.sector-competition-innovation-area, #add-innovation-area, #innovation-area2-form-group').hide();
		jQuery('#compType').on('change',function(e){

			if(jQuery(this).val() == 'Sector competition'){
				jQuery('.sector-competition-innovation-area, #add-innovation-area').show();
			}

		});
		jQuery('#add-innovation-area').on('click', 'a', function(e){

			jQuery('#innovation-area2-form-group').show();
			return false;

		});
		jQuery('#remove-innovation-area').on('click', function(e){

			jQuery('#innovation-area2-form-group').hide();
			return false;

		});

	});
	// ]]>
</script>
</body>
</html>