<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body th:class="${(param.view != null and param.view[0] == 'full' ? 'app-overview full-width' : 'app-overview ')}">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
	<th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Project setup status'}, ${'/prototypes/1588-project-status?stage=level2'})" />


	<!-- HARDCODED PROTOTYPE HTML -->
	<th:block th:insert="prototypes/fragments/applicant-view :: prototype-project-page-title(${'projectSetup'}, ${'Monitoring Officer'})" />

	<div  th:unless="${param.status != null and param.status[0] == 'noMo'}">

		<div class="success-alert extra-margin-bottom">
			<p><strong>Your project has been assigned a Monitoring Officer</strong></p>
		</div>

		<p>No action needs to be taken by your team. The Monitoring Officer will make contact shortly. If you have any questions about this appointment please contact Innovate UK.</p>

		<ul class="boxed">
			<li>Tom Evans</li>
			<li><a href="mailto:tom.evans@evans.com">tom.evans@evans.com</a></li>
			<li>07843 454856</li>
		</ul>

	</div>

	<div  th:unless="${param.status == null or param.status[0] != 'noMo'}">

		<p>Your project has not yet been assigned a Monitoring Officer.</p>

	</div>

	<h3 class="heading-medium">Role of Monitoring Officer</h3>

	<p>The Monitoring Officer will be the primary point of contact for the project. They will monitor and report progress to Innovate UK.</p>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>

<script type="text/javascript">
	// <![CDATA[

	// ]]>
</script>
</body>
</html>
