<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Projects in setup'}, ${'/prototypes/4151-admin-competition-dash'})" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'0102469: Solving problems with data'}, ${'Project details'}, ${'project setup'})" th:remove="tag" />

  <h2 class="heading-medium">10294856: Novel bioreactor design for fermentation of syngas to industrially relevant chemicals</h2>
	<!-- <div th:include="prototypes/fragments/comp-admin :: prototype-comp-navigation" th:with="page='project-setup', status='closed'" th:remove="tag" /> -->

		<div class="success-alert" th:unless="${param.status != null and param.status[0] == 'incomplete'}">
			<h2 class="heading-small no-margin-top">The project details have been submitted to Innovate UK.</h2>
		</div>

		<h2 class="heading-medium">Project details</h2>

		<p>These project details were supplied by the lead partner on behalf of the project.</p>

		<table>
			<thead>
				<tr>
					<th scope="col" style="width: 50%">Question</th>
					<th scope="col" style="width: 50%">Answer</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Target start date
					</td>
					<td id="start-date" th:text="${(param.status != null and param.status[0] == 'incomplete') ? 'Not yet completed' : '01/06/2016'}">
						START DATE
					</td>
				</tr>
				<tr>
					<td>
						Project address
					</td>
					<td id="project-address" th:text="${(param.status != null and param.status[0] == 'incomplete') ? 'Not yet completed' : '13 Queens Square, Bristol, BS3 1RF'}">
						ADDRESS
					</td>
				</tr>
				<tr>
					<td>
						Project manager
					</td>
					<td id="project-manager" th:text="${(param.status != null and param.status[0] == 'incomplete') ? 'Not yet completed' : 'Steve Dafit'}">
						NAME
					</td>
				</tr>

			</tbody>
		</table>

		<h2 class="heading-medium">Partner finance contacts</h2>
		<p>Each of the partners is responsible for submitting their own finance contact.</p>

		<table>
			<thead>
				<tr>
					<th scope="col" style="width: 50%">Partner</th>
					<th scope="col" style="width: 50%">Finance contact</th>
					<!-- <th scope="col" style="width: 20%">Turnover</th>
					<th scope="col" style="width: 20%">Staff headcount</th> -->
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Aptrans Ltd (Lead)
					</td>
					<td>
						<span id="finance-contact" th:text="${(param.status != null and param.status[0] == 'incomplete') ? 'Not yet completed' : 'John Smith'}">NAME</span>
					</td>
					<!-- <td>
						<span id="finance-turnover">&pound;1,023,092</span>
					</td>
					<td>
						<span id="finance-headcount">84</span>
					</td>-->
				</tr>
				<tr>
					<td>
						Biotech Corp
					</td>
					<td>
						<span id="finance-partner-contact">Ann Jones</span>
					</td>
					<!-- <td>
						<span id="finance-partner-turnover">&pound;756,137</span>
					</td>
					<td>
						<span id="finance-partner-headcount">29</span>
					</td> -->
				</tr>
				<tr>
					<td>
						University of Cardiff
					</td>
					<td>
						Paula Moore
					</td>
					<!-- <td>
						<span id="finance-partner2-turnover">&pound;2,023,092</span>
					</td>
					<td>
						<span id="finance-partner2-headcount">76</span>
					</td> -->
				</tr>
			</tbody>
		</table>



	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function(){

		function $_GET(param) {
	        var vars = {};
	        window.location.href.replace( location.hash, '' ).replace(
	            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
	            function( m, key, value ) { // callback
	                vars[key] = value !== undefined ? value : '';
	            }
	        );

	        if ( param ) {
	            return vars[param] ? vars[param] : null;
	        }
	        return vars;
	    }


		if (localStorage.getItem('moDetails') != null){

			jQuery('#first-name').val(localStorage.getItem('moFirstName'));
			jQuery('#last-name').val(localStorage.getItem('moLastName'));
			jQuery('#email').val(localStorage.getItem('moEmail'));
			jQuery('#phone-number').val(localStorage.getItem('moPhoneNumber'));

		}else if ($_GET('status') == 'edit' && localStorage.getItem('moDetails') == null ){

			jQuery('#first-name').val('David');
			jQuery('#last-name').val('Jones');
			jQuery('#email').val('djones@companya.co.uk');
			jQuery('#phone-number').val('01234 456879');
		}

	});
	// ]]>
</script>
</body>
</html>
