<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="comp-dashboard">


<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:if="${param.userRole == null}" th:include="fragments/layout :: global-header" th:remove="tag" />
<div th:if="${param.userRole != null and param.userRole[0] == 'admin'}" th:include="prototypes/fragments/layout :: prototype-admin-header" th:with="status='loggedIn',userRole='admin',user='James Danek'" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<div class="grid-row">
		<div class="column-half">
			<h1 class="heading-xlarge">All competitions</h1>
		</div>

		<div class="column-half alignright">
			<form role="search" method="get" id="searchform" class="form-search" th:action="@{${#httpServletRequest.requestURI}}">
				<input type="hidden" id="searchComps" name="section" value="search" />
			  	<label class="visuallyhidden" for="searchQuery">Search for:</label>
			  	<input type="search" value="" name="searchQuery" id="searchQuery" class="search-query" placeholder="Search competitions" required="required" />
			  	<input type="submit" id="searchsubmit" value="Search" class="btn" />
			</form>
		</div>
	</div>

	<div th:include="prototypes/fragments/comp-setup :: prototype-comp-dashboard-navigation" th:unless="${param.section != null and param.section[0] == 'search'}" th:remove="tag" />

	<div th:include="prototypes/fragments/comp-setup :: ${'prototype-dashboard-'+ (param.section == null ? 'live' : param.section[0])}" th:remove="tag"/>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

</body>
</html>
