<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    
    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Competition dashboard'}, ${'/prototypes/4151-admin-competition-dash'})" th:remove="tag" />


	<!-- HARDCODED PROTOTYPE HTML -->
	
	<div th:include="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'0102468: Technology inspired'}, ${'Project details'}, ${'Spend profile'})" th:remove="tag" />

	<!-- <div th:include="prototypes/fragments/comp-admin :: prototype-comp-navigation" th:with="page='project-setup', status='closed'" th:remove="tag" /> -->
	
	<hr />

	<th:block th:if="${param.status != null and param.status[0] == 'accepted'}">
		<div class="success-alert extra-margin-bottom">
			<h2 class="heading-small no-margin-top">The spend profile has been approved.</h2>
		</div>
	</th:block>

	<th:block th:if="${param.status != null and param.status[0] == 'reject'}">
		<div class="warning-alert extra-margin-bottom">
			<h3 class="heading-small">REJECT TEXT REQUIRED</h3>
			<ul class="list-bullet">
				<li>TEXT REQUIRED</li>
			</ul>
		</div>
	</th:block>


	<p>This overview details the profile spend for each partner for the project, it also enables the download of the Spend profile so it can be shared with the Monitoring officer.</p>

	<p>You can download the spend profile of each project partner here so that you can share it with the Monitoring Officer.</p>

	<h2 class="heading-medium">Innovation Lead</h2>
	
	<p>
		Paul Davidson
	</p>

	<h2 class="heading-medium">Project spend profile</h2>
	<a href="#">Competition-soend-profile.csv</a>

	
	<div th:if="${param.status == null}" th:remove="tag">

		<h2 class="heading-medium">Approved by Innovation Lead</h2>
		<p>The spend profile must be sent to the Innovation Lead for their review and approval.</p>

		<div class="form-group">
	    	<label class="block-label" for="profile-reviewed">
		      <input id="profile-reviewed" value="profile-reviewed" type="checkbox" />
		     	The spend profile has been approved by the Innovation Lead
		    </label>
	    </div>

		<button data-js-modal="modal-accept-profile" id="accept-profile" class="button large" disabled="disabled">Approve</button>

		<button data-js-modal="modal-reject-profile" id="reject-profile" class="button button-warning large">Reject</button>

	</div>


	<div class="modal-accept-profile" role="dialog" aria-hidden="true" style="margin-top: -174px;">
        <button class="js-close close" aria-label="Close Popup">X</button>
        <div>

			<h2 class="heading-medium no-margin">Approved by Innovate Lead</h2>

			<p>The project spend profile has been appoved and accepted by the Innovate Lead, by confirming the project manager will be notified of this decision via email.</p>

			<hr />

        	<div class="alignright-button">

				<a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a>

        		<a th:href="@{'?status=accepted'}" class="button">Accept documents</a>
        	</div>

        </div>
    </div>


    <div class="modal-reject-profile" role="dialog" aria-hidden="true" style="margin-top: -174px;">
        <button class="js-close close" aria-label="Close Popup">X</button>
        <div>

			<h2 class="heading-medium no-margin">Reject spend profile</h2>

			<p>Rejecting will return access to this section to all project partners.</p>

			<p>Before taking this action please contact the project manager to explain why the the Spend Profile is being returned to them.</p>

			<form >

				<hr />

	        	<div class="alignright-button">
					
					<a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a> 

	        		<a th:href="@{'?status=reject'}" class="button button-warning">Reject spend profile</a>
	        	</div>

	        </form>

        </div>
    </div>


	

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	// <![CDATA[

	jQuery('input#profile-reviewed').on('click',function(e){ 
		if ( jQuery(this).is(':checked') ) {
			jQuery("#accept-profile").removeAttr('disabled');
		}else{
			jQuery("#accept-profile").attr('disabled','disabled');
		}
	});

	// ]]>
</script>
</body>
</html>