<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="dashboard-internal full-width">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Competition'}, ${'/prototypes/5721-dashboard'} + ${(param.comp != null ? '?status=' + param.comp[0] : '')})" th:remove="tag" />


  	<!-- HARDCODED PROTOTYPE HTML -->

    <th:block th:include="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'0102468: Technology inspired'}, ${'Manage assessments'}, ${null})" />

    <div class="no-constrain-width justify-left">

      <h2 class="heading-medium">Key statistics</h2>

      <ul class="grid-row">

        <li class="column-fifth">
          <div class="highlight-panel">
            <span class="heading-large">50</span><br /><small>Total assignments</small>
          </div>
        </li>

        <li class="column-fifth">
          <div class="highlight-panel">
            <span class="heading-large">25</span><br /><small>Assignments awaiting response</small>
          </div>
        </li>

        <li class="column-fifth">
          <div class="highlight-panel">
            <span class="heading-large">10</span><br /><small>Assignments accepted</small>
          </div>
        </li>

        <li class="column-fifth">
          <div class="highlight-panel">
            <span class="heading-large">4</span><br /><small>Assessments started</small>
          </div>
        </li>

        <li class="column-fifth">
          <div class="highlight-panel">
            <span class="heading-large">4</span><br /><small>Assessments started</small>
          </div>
        </li>

      </ul>

      <h2 class="heading-medium">Actions</h2>

      <th:block th:if="${param.comp != null and param.comp[0] == 'Closed'}">
        <ul class="grid-row">

          <li class="column-fifth dashboard-actions">
            <a class="button" th:href="${(param.comp != null ? '/prototypes/5472-assign-assessors?comp=' + param.comp[0] : '/prototypes/5472-assign-assessors?comp=Open')}">Allocate assessors</a>
          </li>

          <li class="column-fifth dashboard-actions">
            <a class="button" th:href="${(param.comp != null ? '/prototypes/5385-application-allocation?comp=' + param.comp[0] : '/prototypes/5385-application-allocation?comp=Open')}">Allocate applications</a>
          </li>

        </ul>
      </th:block>

      <ul class="grid-row" th:unless="${param.comp != null and param.comp[0] == 'Closed'}">

        <li class="column-fifth dashboard-actions">
          <a class="button" th:href="${(param.comp != null ? '/prototypes/5389-manage-assessors?comp=' + param.comp[0] : '/prototypes/5389-manage-assessors?comp=Open')}">Manage assessors</a>
        </li>

        <li class="column-fifth dashboard-actions">
          <a class="button" th:href="${(param.comp != null ? '/prototypes/5470-manage-applications?comp=' + param.comp[0] : '/prototypes/5470-manage-applications?comp=Open')}">Manage applications</a>
        </li>

      </ul>

    </div>


  	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>

<script type="text/javascript">
	// <![CDATA[

	// ]]>
</script>
</body>
</html>
