<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="dashboard-internal competition-management show-applications">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Applications'}, ${'/prototypes/5052-view-applications'} + ${(param.comp != null ? '?comp=' + param.comp[0] : '')})" th:unless="${param.status != null and param.status[0] == 'decision' or param.status != null and param.status[0] == 'feedback'}" />

    <th:block th:if="${param.status != null and param.status[0] == 'decision' or param.status != null and param.status[0] == 'feedback'}">
      <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Competition'}, ${'/prototypes/5721-dashboard?action=notify'} + ${(param.comp != null ? '&#38;status=' + param.comp[0] : '')})" />
    </th:block>

	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'0102468: Technology inspired'}, ${'Applications submitted'}, ${null})" th:unless="${param.comp != null and param.comp[0] == 'panel' or param.comp != null and param.comp[0] == 'Inform'}" />

  <th:block th:if="${param.status != null and param.status[0] == 'decision' or param.comp != null and param.comp[0] == 'Inform'}" th:include="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'0102468: Technology inspired'}, ${'Funding decision'}, ${null})" />

      <h2 class="heading-medium">Key statistics</h2>

			<div class="grid-row" th:unless="${param.status != null and param.status[0] == 'decision' or param.status != null and param.status[0] == 'feedback'}">
				<div class="column-quarter">
          <div class="highlight-panel">
            <span class="heading-medium">17 November 2016</span><br />
            <small>assessment deadline</small>
          </div>
			 	</div>
			 	<div class="column-quarter">
          <div class="highlight-panel">
            <span class="heading-medium">4</span><br />
            <small>applications submitted</small>
          </div>
				</div>
        <!-- <div class="column-quarter">
          <a href="/prototypes/1969-export-example" class="button">Export application data (.csv)</a>
				</div> -->
			</div>

      <th:block th:if="${param.status != null and param.status[0] == 'decision' or param.status != null and param.status[0] == 'feedback'}">
        <div class="grid-row extra-margin-bottom">
          <div class="column-quarter">
            <div class="highlight-panel">
              <span class="heading-large">287</span><br />
              <small>applications</small>
            </div>
  				</div>

  				<div class="column-quarter">
            <div class="highlight-panel">
              <span class="heading-large">2</span><br />
              <small>applications being funded</small>
            </div>
  				</div>

          <div class="column-quarter">
            <div class="highlight-panel">
              <span class="heading-large">281</span><br />
              <small>applications not being funded</small>
            </div>
          </div>

          <div class="column-quarter">
            <div class="highlight-panel">
              <span class="heading-large">3</span><br />
              <small>applications on hold</small>
            </div>
          </div>

        </div>
      </th:block>

			<div th:if="${param.comp != null} and ${param.comp[0] == 'panel'}" th:remove="tag">

				<!-- <a href="#" class="button" data-js-modal="modal-publish-funding-decision">Notify applicants</a> -->

				<div class="modal-publish-funding-decision" role="dialog" aria-hidden="true" style="margin-top: -174px;">
			        <button class="js-close close" aria-label="Close Popup">X</button>
			        <div>

						<h2 class="heading-medium no-margin">Notify applicants</h2>

						<p>Are you sure you wish to inform applicants if they have been successful in gaining funding.</p>

						<p>This step cannot be undone.</p>

						<hr />

			            <div class="grid-row extra-margin">
			            	<div class="column-half">
			            		<a href="#">Cancel</a>
			            	</div>
			            	<div class="column-half alignright-button">
			            		<a href="/prototypes/1998-application-feedback?closed&#38;status=assessorFeedback" class="button">Notify applicants</a>
			            	</div>
			            </div>

			        </div>
			    </div>

			</div>


		<!-- <p class="form-hint">Add assessors to the invite list by selecting '<strong>Add</strong>' from the list of <strong>current assessors</strong> in the section below</p> -->


		<th:block th:if="${param.status != null and param.status[0] == 'decision'}" th:include="prototypes/fragments/comp-admin :: prototype-comp-search-filters" th:with="filterTitle=${'applications'}, type='fundingDecision'" />

    <th:block th:unless="${param.status != null and param.status[0] == 'decision'}" th:include="prototypes/fragments/comp-admin :: prototype-comp-search-filters" th:with="filterTitle=${'applications'}, type=notSubmittedApplications" />

      <th:block th:if="${param.status != null and param.status[0] == 'decision'}">

      <div class="grid-row sorting">
        <div class="column-one">
          <h2><span class="heading-xlarge no-margin" id="applications-selected">287</span> applications</h2>
        </div>
      </div>

        <div class="grid-row sorting sorting-controls">
          <div class="column-half">
            <div class="form-group no-margin">
              <fieldset class="alignleft select-all-applications">
                <legend class="visuallyhidden">Select applications</legend>
                <label class="block-label selection-button-checkbox" for="select-all-1">
                  <input class="select-all" id="select-all-1" value="select-all" type="checkbox" />
                  Select all applications
                </label>
              </fieldset>
              <span class="form-hint alignleft"><span class="applications-selected">0</span> applications selected</span>
            </div>
          </div>

          <div class="column-half">
            <fieldset class="mark-applications alignright">
              <legend class="visuallyhidden">Mark selected applications</legend>
              <h3>Mark application as:</h3>
              <button class="button button-secondary select-app" disabled="disabled">Successful</button>
              <button class="button button-secondary select-app" disabled="disabled">Unsuccessful</button>
              <button class="button button-secondary select-app" disabled="disabled">On hold</button>
            </fieldset>
          </div>
        </div>

      </th:block>

			<div class="table-overflow">
        <fieldset>
          <legend class="visuallyhidden">Applications</legend>
  				<table id="application-list">
  					<thead>
  						<tr>

                <th:block th:if="${param.status != null and param.status[0] == 'decision'}">
                  <th scope="col" id="select-applications-label">Select applications</th>
                </th:block>

                <th scope="col">Application number</th>
  							<th scope="col">Project title</th>
  							<th scope="col">Lead</th>
  							<th scope="col">Area</th>
  							<th scope="col" class="alignright">Number of partners</th>
  							<th scope="col" class="alignright">Grant requested (&#163;)</th>
  							<th scope="col" class="alignright">Total project cost (&#163;)</th>
  							<th scope="col" class="alignright">Duration (months)</th>
  							<th scope="col" class="alignright" id="fund-project-label" th:unless="${param.status == null} or ${param.status[0] != 'decision'}" style="width: 120px">Funding decision</th>

                <th:block th:if="${param.status != null and param.status[0] == 'feedback'}">
                  <th scope="col" class="alignright">Funded</th>
                </th:block>

  						</tr>
  					</thead>
  					<tbody>
  						<tr class="filtered-result">
                <th:block th:if="${param.status != null and param.status[0] == 'decision'}">
                  <td class="form-group-cell">

                    <label class="block-label selection-button-checkbox" for="app-row-1">
                      <input type="checkbox" class="app-row-select" name="app-row" id="app-row-1" value="app-row-1" aria-labelledby="select-applications-label" />
                      <small class="visibility-hidden">Select application</small>
                    </label>

                  </td>
                </th:block>
                <td><a th:href="${'/prototypes/1968-admin-readonly-application'} + ${(param.comp != null ? '?comp=' + param.comp[0] : '')}">194731</a></td>
  							<td>Machine learning in robots</td>
  							<td>PWC</td>
  							<td>HVM</td>
  							<td class="alignright">5</td>
  							<td class="alignright">203,000</td>
  							<td class="alignright">324,000</td>
  							<td class="alignright">12</td>
  							<td th:unless="${param.status == null} or ${param.status[0] != 'decision'}" class="feedback alignright">
  								-
  							</td>
                <th:block th:if="${param.status != null and param.status[0] == 'feedback'}">
                  <td class="feedback  alignright">-</td>
                </th:block>
  						</tr>
  						<tr class="filtered-result">
                <th:block th:if="${param.status != null and param.status[0] == 'decision'}">
                  <td class="form-group-cell">

                    <label class="block-label selection-button-checkbox" for="app-row-2">
                      <input type="checkbox" class="app-row-select" name="app-row" id="app-row-2" value="app-row-2" aria-labelledby="select-applications-label" />
                      <small class="visibility-hidden">Select application</small>
                    </label>

                  </td>
                </th:block>
                <td><a th:href="${'/prototypes/1968-admin-readonly-application'} + ${(param.comp != null ? '?comp=' + param.comp[0] : '')}">194732</a></td>
  							<td>Robots that learn</td>
  							<td>Max Digital</td>
  							<td>HVM</td>
  							<td class="alignright">5</td>
  							<td class="alignright">203,000</td>
  							<td class="alignright">300,000</td>
  							<td class="alignright">12</td>
  							<td th:unless="${param.status == null} or ${param.status[0] != 'decision'}" class="feedback alignright">
  								Oh hold
  							</td>
                <th:block th:if="${param.status != null and param.status[0] == 'feedback'}">
                  <td class="feedback alignright">On hold</td>
                </th:block>
  						</tr>
  						<tr class="filtered-result">
                <th:block th:if="${param.status != null and param.status[0] == 'decision'}">
                  <td class="form-group-cell">

                    <label class="block-label selection-button-checkbox" for="app-row-3">
                      <input type="checkbox" class="app-row-select" name="app-row" id="app-row-3" value="app-row-3" aria-labelledby="select-applications-label" />
                      <small class="visibility-hidden">Select application</small>
                    </label>

                  </td>
                </th:block>
                <td><a th:href="${'/prototypes/1968-admin-readonly-application'} + ${(param.comp != null ? '?comp=' + param.comp[0] : '')}">194733</a></td>
  							<td>AI in learning</td>
  							<td>BBC</td>
  							<td>HVM</td>
  							<td class="alignright">3</td>
  							<td class="alignright">67,000</td>
  							<td class="alignright">97,500</td>
  							<td class="alignright">13</td>
  							<td th:unless="${param.status == null} or ${param.status[0] != 'decision'}" class="feedback alignright">
  								Successful
  							</td>
                <th:block th:if="${param.status != null and param.status[0] == 'feedback'}">
                  <td class="feedback alignright">Successful</td>
                </th:block>
  						</tr>
  						<tr class="filtered-result">
                <th:block th:if="${param.status != null and param.status[0] == 'decision'}">
                  <td class="form-group-cell">

                    <label class="block-label selection-button-checkbox" for="app-row-4">
                      <input type="checkbox" class="app-row-select" name="app-row" id="app-row-4" value="app-row-4" aria-labelledby="select-applications-label" />
                      <small class="visibility-hidden">Select application</small>
                    </label>

                  </td>
                </th:block>
                <td><a th:href="${'/prototypes/1968-admin-readonly-application'} + ${(param.comp != null ? '?comp=' + param.comp[0] : '')}">194734</a></td>
  							<td>Progressive machines</td>
  							<td>Kingfisher</td>
  							<td>HVM</td>
  							<td class="alignright">7</td>
  							<td class="alignright">100,000</td>
  							<td class="alignright">125,000</td>
  							<td class="alignright">14</td>
  							<td th:unless="${param.status == null} or ${param.status[0] != 'decision'}" class="feedback alignright">
  								On hold
  							</td>
                <th:block th:if="${param.status != null and param.status[0] == 'feedback'}">
                  <td class="feedback alignright">On hold</td>
                </th:block>
  						</tr>


  					</tbody>
  				</table>
			  </fieldset>
      </div>

      <th:block th:if="${param.status != null and param.status[0] == 'decision'}">

        <div class="grid-row sorting sorting-controls extra-margin-top">
          <div class="column-half">
            <div class="form-group no-margin">
              <fieldset class="alignleft select-all-applications">
                <legend class="visuallyhidden">Select applications</legend>
                <label class="block-label selection-button-checkbox" for="select-all-2">
                  <input class="select-all" id="select-all-2" value="select-all" type="checkbox" />
                  Select all applications
                </label>
              </fieldset>
              <span class="form-hint alignleft"><span class="applications-selected">0</span> applications selected</span>
            </div>
          </div>

          <div class="column-half">
            <fieldset class="mark-applications alignright">
              <legend class="visuallyhidden">Mark selected applications</legend>
              <h3>Mark application as:</h3>
              <button class="button button-secondary select-app" disabled="disabled">Successful</button>
              <button class="button button-secondary select-app" disabled="disabled">Unsuccessful</button>
              <button class="button button-secondary select-app" disabled="disabled">On hold</button>
            </fieldset>
          </div>
        </div>

      </th:block>


			<div th:if="${param.filterStatus == null}" th:remove="tag">

				<!-- <ul class="pagination">
				    <li class="next">
				        <a href="#" rel="next" title="Navigate to next part">
				            <span class="pagination-label">Next</span>
				            <span class="pagination-part-title">2 of 4</span>
				        </a>
				    </li>
				</ul> -->

			</div>



	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	// <![CDATA[
  jQuery(document).ready(function(){
    function rowsSelected(){
      var count = jQuery('input[name="app-row"]:checked').length;
      jQuery('.applications-selected').html(count);
      return count;
    }

    jQuery('input.select-all').on('click',function(e){
      if (jQuery(this).is(':checked') ) {
        jQuery('.button-secondary').prop('disabled', false);
        jQuery('.app-row-select').prop('checked', true);
        jQuery("input.select-all").prop('checked', true);
        jQuery('.app-row-select').parent().addClass('selected');
        jQuery('input.select-all').parent().addClass('selected');
        rowsSelected();
      }else{
        jQuery('.button-secondary').prop('disabled', true);
        jQuery('.app-row-select').prop('checked', false);
        jQuery("input.select-all").prop('checked', false);
        jQuery('.app-row-select').parent().removeClass('selected');
        jQuery('input.select-all').parent().removeClass('selected');
        rowsSelected();
      }
    });

    jQuery('input.app-row-select').on('click',function(e){

      if (jQuery(this).is(':checked') ) { // if checked ensure buttons become active
        jQuery('.button-secondary').prop('disabled', false);
        rowsSelected();
      }else{
        // if no checkboxes are checked ensure buttons are disabled
        //var total = jQuery('input[name="app-row"]:checked').length;
        //alert(rowsSelected());

        jQuery("input.select-all").prop('checked', false);
        jQuery('input.select-all').parent().removeClass('selected');

        if( rowsSelected() < 1){
          jQuery(".button-secondary").prop('disabled', true);
        }
      }
    });

    jQuery('.select-app').on('click',function(e){
      // update selected rows

      var btnOption = jQuery(this).text();

      jQuery('input[name="app-row"]:checked').each(function(){
        //alert('test'+ jQuery(this).attr('value') + ' ' + btnOption);

        jQuery(this).parent().parent().find('.feedback').html(btnOption);

      });

    });
  });
	// ]]>
</script>
</body>
</html>
