<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Finance checks'}, ${'/prototypes/5163-project-finances'})" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->

  <div th:include="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'0102469: Solving problems with data'}, ${'Eligibility'}, ${'project setup'})" th:remove="tag" />

  <h2 class="heading-medium">10294856: Novel bioreactor design for fermentation of syngas to industrially relevant chemicals</h2>

  <h3 class="heading-large no-margin">Aptrans Ltd <small>(Lead partner)</small></h3>

	<!-- <div th:include="prototypes/fragments/comp-admin :: prototype-comp-navigation" th:with="page='project-setup', status='closed'" th:remove="tag" /> -->

	<th:block th:if="${param.status != null and param.status[0] == 'approved'}">
		<div class="success-alert">
			The partner finance eligibility has been approved by Paul Davidson, 27 July 2016
		</div>
	</th:block>


	<th:block th:if="${param.status != null and param.status[0] == 'grantChanged' or param.action != null and param.action[0] == 'grantChanged'}">
		<div class="panel-indent">
			<h3 class="heading-medium no-margin-top">% Grant has been reduced from 55% to 40% </h3>
			<dl class="standard-definition-list">
				<dt>Funding sought</dt>
				<dd>&pound;180,399</dd>

				<dt>Funding granted</dt>
				<dd>&pound;160,000</dd>
			</dl>
		</div>
	</th:block>

	<form>

		<h3 class="heading-medium">Project finances</h3>

		<p>These finances where originally submitted at the application stage. All saved changes to the finances will be viewable by the applicants.</p>

		<p><a href="#">project-costs.csv</a></p>

		<h3 class="heading-medium">Finance contact</h3>

		<p>Dave Norman <br /><a href="mailto:#">dave@norman.com</a></p>

		<!-- <a href="/prototypes/1581-changes-finances">Review all changes to project finances</a> -->

	    <h3 class="heading-medium">Project costs</h3>

	    <p>Please enter final project costs below</p>

	    <table>
	    	<thead>
	    		<tr>
	    			<th scope="col" class="heading-small">Section</th>
	    			<th scope="col" class="heading-small alignright" id="project-cost">Project costs</th>
	    		</tr>
	    	</thead>
	    	<tfoot>
	    		<tr>
	    			<th scope="col" class="heading-small">
	    				Total project costs
	    			</th>
	    			<td class="heading-small alignright" th:unless="${param.status != null and param.status[0] == 'approved'}">
	    				&pound;20,0000
	    			</td>
	    			<td class="heading-small alignright" th:unless="${param.status == null or param.status[0] != 'approved'}">
	    				&pound;70,000
	    			</td>
	    		</tr>
	    	</tfoot>
	    	<tbody>
	    		<tr>
	    			<th scope="col" id="labour">Labour</th>
	    			<td class="alignright" th:unless="${param.status != null and param.status[0] == 'approved'}"><input type="text" class="form-control alignright" value="&pound;20,000" aria-labelledby="project-cost labour"/></td>
	    			<td class="alignright" th:unless="${param.status == null or param.status[0] != 'approved'}">&pound;8,000</td>
	    		</tr>
	    		<tr>
	    			<th scope="col" id="admin-support-costs">Administration support costs</th>
	    			<td class="alignright" th:unless="${param.status != null and param.status[0] == 'approved'}"><input type="text" class="form-control alignright" aria-labelledby="project-cost admin-support-costs" /></td>
	    			<td class="alignright" th:unless="${param.status == null or param.status[0] != 'approved'}">&pound;2,000</td>
	    		</tr>
	    		<tr>
	    			<th scope="col" id="materials">Materials</th>
	    			<td class="alignright" th:unless="${param.status != null and param.status[0] == 'approved'}"><input type="text" class="form-control alignright" aria-labelledby="project-cost materials" /></td>
	    			<td class="alignright" th:unless="${param.status == null or param.status[0] != 'approved'}">&pound;10,000</td>
	    		</tr>
	    		<tr>
	    			<th scope="col" id="capital-usage">Capital usage</th>
	    			<td class="alignright" th:unless="${param.status != null and param.status[0] == 'approved'}"><input type="text" class="form-control alignright" aria-labelledby="project-cost capital-usage" /></td>
	    			<td class="alignright" th:unless="${param.status == null or param.status[0] != 'approved'}">&pound;10,000</td>
	    		</tr>
	    		<tr>
	    			<th scope="col" id="subcontracting-costs">Subcontracting costs</th>
	    			<td class="alignright" th:unless="${param.status != null and param.status[0] == 'approved'}"><input type="text" class="form-control alignright" aria-labelledby="project-cost subcontracting-costs" /></td>
	    			<td class="alignright" th:unless="${param.status == null or param.status[0] != 'approved'}">&pound;10,000</td>
	    		</tr>
	    		<tr>
	    			<th scope="col" id="travel-subsistence">Travel and subsistence</th>
	    			<td class="alignright" th:unless="${param.status != null and param.status[0] == 'approved'}"><input type="text" class="form-control alignright" aria-labelledby="project-cost travel-subsistence" /></td>
	    			<td class="alignright" th:unless="${param.status == null or param.status[0] != 'approved'}">&pound;10,000</td>
	    		</tr>
	    		<tr>
	    			<th scope="col" id="other-costs">Other costs</th>
	    			<td class="alignright" th:unless="${param.status != null and param.status[0] == 'approved'}"><input type="text" class="form-control alignright" aria-labelledby="project-cost other-costs" /></td>
	    			<td class="alignright" th:unless="${param.status == null or param.status[0] != 'approved'}">&pound;10,000</td>
	    		</tr>
	    	</tbody>
	    </table>

	  <!--   <div class="extra-margin">
	    	<a href="/prototypes/3807-finance-queries" class="button button-secondary">Queries</a>
	    	<a href="/prototypes/3990-finance-notes" class="button button-secondary">Notes</a>
	    </div> -->


		<th:block th:unless="${param.status != null and param.status[0] == 'approved'}">

		    <h3 class="heading-medium">Approve eligible costs</h3>
		    <p>After any required alterations have been made, eligible costs should be approved.</p>
		    <p>If changes are made ensure that the applicant has reviewed and understand the changes to their finances before approval.</p>

		    <div class="form-group">
		    	<label class="block-label" for="costs-reviewed">
			      <input id="costs-reviewed" value="costs-reviewed" type="checkbox" />
			     	These finances have been reviewed and are eligible for this project
			    </label>
		    </div>

		    <div class="form-group hidden" id="add-rag-rating">
                <label for="rag-rating" class="form-label">Please enter the RAG rating for this eligibility review</label>
                <select id="rag-rating" name="rag-rating" class="form-control" >
                	<option value="">--</option>
                	<option value="Green">Green</option>
                	<option value="Amber">Amber</option>
                	<option value="Red">Red</option>
                </select>
            </div>

	    	<button data-js-modal="approve-eligibility-modal" id="approve-eligibility" class="button" type="submit" disabled="disabled">Approve eligible costs</button>

		    <div class="approve-eligibility-modal" role="dialog" aria-hidden="true" style="margin-top: -174px;">
		        <button class="js-close close" aria-label="Close Popup">X</button>
		        <div>

					<h2 class="heading-medium no-margin">Approve eligible costs</h2>

					<p>This partner will now be marked as eligible for this project.</p>

					<form>

						<hr />

			        	<div class="alignright-button">

							<a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a>

							<input type="hidden" id="action" name="action" th:value="${(param.status != null and param.status[0] == 'grantChanged' ? 'grantChanged' : '')}" />
							<input type="hidden" id="status" name="status" value="approved" />

			        		<button class="button" th:formaction="@{${#httpServletRequest.requestURI}}">Approve eligible costs</button>
			        	</div>

			        </form>

		        </div>
		    </div>

		</th:block>

	</form>

	<hr />

	<div class="extra-margin">
		<a href="/prototypes/5163-project-finances" class="button button-secondary" th:text="${(param.status != null and param.status[0] == 'approved'? 'Return to finance checks' : 'Save and return to finance checks')}">RETURN BUTTON TEXT</a>
	</div>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	// <![CDATA[
	jQuery('input#costs-reviewed').on('click',function(e){
		if ( jQuery(this).is(':checked') ) {
			jQuery("#approve-eligibility").removeAttr('disabled');
		}else{
			jQuery("#approve-eligibility").addAttr('disabled');
		}
	});


	// ]]>
</script>
</body>
</html>
