<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>


<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
	
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<div th:include="prototypes/fragments/applicant-view :: prototype-subheader('Application questions', '/prototypes/5085-application-process')" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->
	<div class="hgroup" style="padding-top: 20px">
		<p class="subtitle no-margin">Connected digital additive manufacturing</p>
		<h1 class="heading-xlarge no-margin">
			<th:block th:if="${param.status != null and param.status[0] == 'edit'}">Edit 'Project summary'</th:block>
			<th:block th:if="${param.status == null}">Project summary</th:block>
		</h1>
	</div>

	<p class="extra-margin">Make changes to the question 'Project summary'. You can amend how this is presented to the applicant, and also the wording and guidance assessors are given for scoring this question.</p>

	<form>
		<fieldset>
			<legend class="visuallyhidden">Application question</legend>
			<h2 class="heading-medium extra-margin">Application question</h2>

			<th:block th:if="${param.status == null}">
				<dl class="application-question-list grid-row">
					<dt class="column-third">Question heading</dt>
					<dd class="column-two-thirds">Project summary</dd>
					<dt class="column-third">Question title</dt>
					<dd class="column-two-thirds">Project summary</dd>
					<dt class="column-third">Question subtitle</dt>
					<dd class="column-two-thirds">Please provide a short summary of your project. Make sure you include what is innovative about it.</dd>
					<dt class="column-third">Guidance title</dt>
					<dd class="column-two-thirds">What should I include in the project summary?</dd>
					<dt class="column-third">Guidance</dt>
					<dd class="column-two-thirds">We will not score this summary, but it will give the assessors a useful introduction to your project. It should provide a clear overview of the whole project, including:
						<ul class="list-bullet">
							<li>your vision for the project</li>
							<li>key objectives</li>
							<li>main areas of focus</li>
							<li>details of how it is innovative</li>
						</ul>
					</dd>
					<dt class="column-third">Max word count</dt>
					<dd class="column-two-thirds">400</dd>
					<dt class="column-third">Appendix</dt>
					<dd class="column-two-thirds">No</dd>
				</dl>
			</th:block>
			<th:block th:if="${param.status != null and param.status[0] == 'edit'}">
				<div class="form-group">
					<label class="form-label" for="question-heading">
						<span class="form-label-bold">Question heading</span>
					</label>
					<input class="form-control" id="question-heading" name="question-heading" value="Project summary" type="text" />
				</div>
				<div class="form-group">
					<label class="form-label" for="question-title">
						<span class="form-label-bold">Question title</span>
					</label>
					<input class="form-control" id="question-title" name="question-title" value="Project summary" type="text" />
				</div>
				<div class="form-group">
					<label class="form-label" for="question-subtitle">
						<span class="form-label-bold">Question subtitle</span>
					</label>
					<input class="form-control" id="question-subtitle" name="question-subtitle" value="Please provide a short summary of your project. Make sure you include what is innovative about it." type="text" />
				</div>
				<div class="form-group">
					<label class="form-label" for="guidance-title">
						<span class="form-label-bold">Guidance title</span>
					</label>
					<input class="form-control" id="guidance-title" name="guidance-title" value="What should I include in the project summary?" type="text" />
				</div>
				<div class="form-group">
					<label class="form-label" for="guidance">
						<span class="form-label-bold">Guidance</span>
					</label>
					<textarea class="form-control width-full" id="guidance" rows="5" name="guidance">We will not score this summary, but it will give the assessors a useful introduction to your project. It should provide a clear overview of the whole project, including:
To show how your project aligns with the scope of this competition, you need to:
- your vision for the project
- key objectives
- main areas of focus
- details of how it is innovative

					</textarea>
				</div>
				<div class="form-group">
					<label class="form-label" for="word-count">
						<span class="form-label-bold">Max word count</span>
					</label>
					<input class="form-control width-medium" id="word-count" name="word-count" value="400" type="number" />
				</div>
				<div class="form-group">
					<fieldset class="inline">
						<h3 class="heading-small">Appendix</h3>
						<legend class="visuallyhidden">Appendix</legend>
						<label class="block-label" for="appendix-yes">
							<input id="appendix-yes" name="appendix-group" value="Yes" type="radio" />
							Yes
						</label>
						<label class="block-label" for="appendix-no">
							<input id="appendix-no" name="appendix-group" value="No" type="radio" checked="checked" />
							No
						</label>
					</fieldset>
				</div>
			</th:block>
		</fieldset>
		<fieldset>
			<legend class="visuallyhidden">Assessment of this question</legend>
			<h2 class="heading-medium extra-margin">Assessment of this question</h2>

			<th:block th:if="${param.status == null}">
				<dl class="application-question-list grid-row">
					<dt class="column-third">Scored</dt>
					<dd class="column-two-thirds">No</dd>
					<dt class="column-third">Written feedback</dt>
					<dd class="column-two-thirds">No</dd>
				</dl>
			</th:block>
			<th:block th:if="${param.status != null and param.status[0] == 'edit'}">
				<div class="form-group">
					<fieldset class="inline">
						<h3 class="heading-small">Scored</h3>
						<legend class="visuallyhidden">Scored</legend>
						<label class="block-label" for="scored-yes">
							<input id="scored-yes" name="scored-group" value="Yes" type="radio" />
							Yes
						</label>
						<label class="block-label" for="scored-no">
							<input id="scored-no" name="scored-group" value="No" type="radio" checked="checked" />
							No
						</label>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset class="inline">
						<h3 class="heading-small">Written feedback</h3>
						<legend class="visuallyhidden">Written feedback</legend>
						<label class="block-label" for="written-feedback-yes">
							<input id="written-feedback-yes" name="written-feedback-group" value="Yes" type="radio" />
							Yes
						</label>
						<label class="block-label" for="written-feedback-no">
							<input id="written-feedback-no" name="written-feedback-group" value="No" type="radio" checked="checked" />
							No
						</label>
					</fieldset>
				</div>
			</th:block>
		</fieldset>

		<div class="extra-margin">
			<a th:if="${param.status == null}" role="button" tabindex="0" class="button" href="/prototypes/5211-project-summary?status=edit">Edit this question</a>
			<a th:if="${param.status != null and param.status[0] == 'edit'}" role="button" tabindex="0" class="button" href="/prototypes/5085-application-process">Save and close</a>
		</div>
		<div th:if="${param.status == null}" class="extra-margin">
			<a href="/prototypes/5085-application-process" class="button-secondary">Return to application questions</a>
		</div>
	</form>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script type="text/javascript">

</script>
</body>
</html>