<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Dashboard'}, ${'#'})" th:remove="tag" />


	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'0102468: Technology inspired'}, ${'Assessor profile'}, ${null})" th:remove="tag" />

	<h1 class="heading-large" th:text="${param.name != null ? param.name[0] : 'John Smith'}">ASSESSOR NAME</h1>

	<h2 class="heading-medium">Innovation area and skills</h2>

	<div id="prototype-innovation-areas">
		<h3 class="heading-small">Innovation areas <small th:if="${param.user != null and param.user[0] == 'compExec'}"><a href="#" id="prototype-edit-innovation-areas">Edit innovation areas</a></small></h3>
		<ul class="list-bullet">
			<li id="prototype-innovation-one">
				<strong>Materials and manufacturing</strong>
				<ul class="list-bullet">
					<li>Digital sciences</li>
				</ul>
			</li>
			<li>
				<strong>Health and life sciences</strong>
				<ul class="list-bullet">
					<li>Information &amp; communications technology (ICT)</li>
				</ul>
			</li>
			<li id="prototype-innovation-three">
				<strong>Materials and manufacturing</strong>
				<ul class="list-bullet">
					<li>Earth observation</li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="prototype-innovation-areas-edit" class="edit-panel extra-margin">
		<h3 class="heading-small no-margin">Edit innovation area(s)</h3>
		<form action="#" method="GET">
			<table>
				<thead>
					<tr>
						<th scope="col">Innovation sector</th>
						<th scope="col">Innovation area</th>
						<th scope="col"><span class="visuallyhidden">Remove</span></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="3" class="alignright-button">
							<a href="#" id="prototype-cancel" class="button-link">Cancel</a>
							<a href="#" id="prototype-save" class="button">Save</a>
						</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td>
							<div class="form-group">
								<label class="form-label visuallyhidden" for="innovationSector">Innovation sector</label>
								<select class="form-control" id="innovationSector" name="innovationSector">
									<option selected="selected">Please select an innovation sector</option>
									<option value="Emerging and Enabling Technologies">Emerging and Enabling Technologies</option>
									<option value="Health and Life Sciences">Health and Life Sciences</option>
									<option value="Infrastructure Systems">Infrastructure Systems</option>
									<option value="Manufacturing and Materials">Manufacturing and Materials</option>
								</select>
							</div>
						</td>
						<td>
							<div class="form-group">
								<label class="form-label visuallyhidden" for="innovationArea">Innovation area</label>
								<select class="form-control" id="innovationArea" name="innovationArea">
									<option selected="selected">Please select an innovation area</option>
									<option value="Advanced Therapies">Advanced Therapies</option>
									<option value="Precision Medicine">Precision Medicine</option>
									<option value="Medicines Technology">Medicines Technology</option>
									<option value="Bioscience">Bioscience</option>
									<option value="Agri Productivity">Agri Productivity</option>
									<option value="Enhanced Food Quality">Enhanced Food Quality</option>
								</select>
							</div>
						</td>
						<td class="alignright"><button class="button-secondary no-margin" id="prototype-add-row">Add</button></td>
					</tr>
					<tr>
						<td>Materials and manufacturing</td>
						<td>Digital sciences</td>
						<td class="alignright"><a href="#" class="button-secondary prototype-remove-row">Remove</a></td>
					</tr>
					<tr>
						<td>Health and life sciences</td>
						<td>Information &amp; communications technology (ICT)</td>
						<td class="alignright"><a href="#" class="button-secondary prototype-remove-row">Remove</a></td>
					</tr>
					<tr id="prototype-extra-row">
						<td>Materials and manufacturing</td>
						<td>Earth observation</td>
						<td class="alignright"><a href="#" class="button-secondary prototype-remove-row">Remove</a></td>
					</tr>
				</tbody>
			</table>
		</form>

	</div>

	<h3 class="heading-small no-margin">Type</h3>
	<ul class="list-bullet">
		<li>Business</li>
	</ul>

	<h3 class="heading-small no-margin-bottom">Skills</h3>
	<p>Human computer interaction, Wearables, IoT</p>
	
	<h2 class="heading-medium">Assessor details</h2>
	
	<div class="grid-row">
		
		<div class="column-half">

			<h3 class="heading-small no-margin-bottom">Email</h3>
			<p><a href="mailto:j.b@assessor.com">j.b@assessor.com</a></p>

			<h3 class="heading-small no-margin-bottom">Phone</h3>
			<p>01234 567891</p>

			<h3 class="heading-small no-margin-bottom">Principal employer and role</h3>
			<p>ASDF solutions <br /> CEO</p>

		</div>
		
		<div class="column-half">
			<h3 class="heading-small no-margin-bottom">Address</h3>
			<p>
				Nomensa <br />
				King William House <br />
				13 Queens Square <br />
				Bristol <br />
				BS3 1RF
			</p>
		</div>

	</div>

	<h2 class="heading-medium">Personal affiliations</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis inventore in exercitationem. Doloremque quas, cupiditate voluptatem corporis consectetur hic, suscipit eos ipsum atque dignissimos, animi quaerat corrupti? Illum, libero totam!</p>

	<a href="/prototypes/5230-assessor-doi" class="button button-secondary">View declaration of interest</a>
	<a href="#" class="button button-secondary">Download CV</a>

	<th:block th:unless="${param.status != null and param.status[0] == 'updateTraining'}">

		<h2 class="heading-medium">Training <small><a th:href="@{'?status=updateTraining#update-training'}">Update training details</a></small></h2>

		<dl class="standard-definition-list">
			
			<dt>Panel approved</dt>
			<dd>Yes</dd>

			<dt>Training log entry</dt>
			<dd>No</dd>

		</dl>

		<h3 class="heading-small">Comments</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque porro fuga facilis, enim quam, sit veniam quis quidem quod eveniet delectus ea sequi nemo voluptatibus, non velit quibusdam. Qui, dolor.</p>

	</th:block>

	<th:block th:if="${param.status != null and param.status[0] == 'updateTraining'}">
	
		<h2 class="heading-medium no-margin-bottom" id="update-training">Update training details</h2>

		<form action="GET">

			<div class="form-group">
				<legend class="heading-small">Is the assessor panel approved?</legend>
				<fieldset class="inline">
					<label class="block-label" for="update-training-1">
				    	<input id="update-training-1" name="update-training" value="Yes" type="radio" />
				      	Yes
				    </label>
				    <label class="block-label" for="update-training-2">
				      	<input id="update-training-2" name="update-training" value="No" type="radio" />
				      	No
				    </label>
				</fieldset>
			</div>

			<div class="form-group">
				<legend class="heading-small">Does the assessor require training?</legend>
				<fieldset class="inline">
					<label class="block-label" for="require-training-1">
				    	<input id="require-training-1" name="require-training" value="Yes" type="radio" />
				      	Yes
				    </label>
				    <label class="block-label" for="require-training-2">
				      	<input id="require-training-2" name="require-training" value="No" type="radio" />
				      	No
				    </label>
				</fieldset>
			</div>

			<div class="form-group">
				
				<label for="training-comments" class="form-label-bold">Comments</label>
				<textarea name="training-comments" id="training-comments" cols="30" rows="6" class="width-full"></textarea>

			</div>

			<a th:href="${#httpServletRequest.requestURI}" class="button">Update</a>

			<a th:href="${#httpServletRequest.requestURI}" class="button button-secondary">Cancel</a>

		</form>

	</th:block>

	

	<h2 class="heading-medium">Assessment history</h2>

	<table>
		<thead>
			<tr>
				<th scope="col">Competition title</th>
				<th scope="col">No. assessed</th>
				<th scope="col">Innovation area</th>
				<th scope="col">Assessment complete</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Technology inspired</td>
				<td>4</td>
				<td>Digital services</td>
				<td>23 January 2016</td>
			</tr>
			<tr>
				<td>Future robotics</td>
				<td>6</td>
				<td>Digital services</td>
				<td>3 December 2015</td>
			</tr>
			<tr>
				<td>Digital services</td>
				<td>10</td>
				<td>Digital services</td>
				<td>4 November 2014</td>
			</tr>
		</tbody>
	</table>



	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script type="text/javascript">
	// <![CDATA[
	$(document).ready(function() {
		$('#prototype-innovation-areas-edit, #prototype-extra-row, #prototype-innovation-three').hide();
		$('#prototype-edit-innovation-areas').on('click', function(event) {
			event.preventDefault();
			$('#prototype-innovation-areas').hide();
			$('#prototype-innovation-areas-edit').show();
		});
		$('#prototype-add-row').on('click', function(event) {
			event.preventDefault();
			$('#prototype-extra-row').show();
		});
		$('.prototype-remove-row').on('click', function(event) {
			event.preventDefault();
			$(this).parent().parent().hide();
		});
		$('#prototype-save').on('click', function(event) {
			event.preventDefault();
			$('#prototype-innovation-areas-edit, #prototype-innovation-one').hide();
			$('#prototype-innovation-areas, #prototype-innovation-three').show();
		});
		$('#prototype-cancel').on('click', function(event) {
			event.preventDefault();
			$('#prototype-innovation-areas-edit').hide();
			$('#prototype-innovation-areas').show();
		});
	});
	// ]]>
</script>
</body>
</html>
