<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Assessor dashboard'}, ${'/prototypes/865-assessor-dashboard-invites?accepted=yes&#38;user=assessor&#38;version=v2'})" />


	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'0102468: Technology inspired'}, ${'John Smith'}, ${null})" />

	<h1 class="heading-large">Declaration of interest</h1>

	<h3 class="heading-small no-margin-bottom">Principal employer and role</h3>
	<p>ASDF solutions <br /> CEO</p>

	<h2 class="heading-medium no-margin-bottom">Professional affiliations</h2>
	<p>None declared</p>

	<h2 class="heading-medium">Appointments, directorships and consultancies</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Organisation</th>
				<th scope="col">Role</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Aptrans Ltd
				</td>
				<td>
					Executive consultant
				</td>
			</tr>
		</tbody>
	</table>

	<h2 class="heading-medium no-margin-bottom">Other financial interests</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolore vel harum voluptatem dolores ipsum, nihil nisi ad, ipsam placeat consequuntur labore excepturi cumque facere doloremque asperiores, voluptatibus ab dignissimos.</p>

	<h2 class="heading-medium no-margin-bottom">Close family member appointments, directorships and consultancies</h2>
	<p>None declared</p>

	<h2 class="heading-medium no-margin-bottom">Close family members' other financial interests</h2>
	<p>None declared</p>

	<div class="extra-margin-top">
		<a href="/prototypes/865-assessor-dashboard-invites" class="button">Return to assessor dashboard</a>
		<a href="/prototypes/1247-assessor-doi?version=v2&#38;status=edit" class="button-secondary button-right">Edit</a>
	</div>
	<hr />


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
