<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='What we ask you'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="prototypes/fragments/front-door :: prototype-front-door-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Competition details'}, ${'/prototypes/6064-competition-page'})" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<p class="subtitle">Funding competition</p>
	<h1 class="heading-large no-margin">Emerging and enabling technologies round 1</h1>
	<h2 class="heading-large">What we ask you</h2>

	<p>The application has the following sections:</p>

	<hr />

	<section>

		<h2 class="heading-large">Project Details</h2>
		<p>In this section you will provide the details of your project. This section is not scored, but our assessors will use it to decide whether the project fits with the scope of the competition. If it doesn’t fit the scope then it will not be funded.</p>
		<p><strong>Application details</strong> : The title of your project, the start date and project length.  This section will also list you as the lead organisation and any partner organisations you have named as collaborators.  The lead applicant must complete this section.</p>
		<p><strong>Project summary</strong> : Describe your project. We use this section to assign experts to assess your application so we need a summary of the innovation in your project.   You may complete this section or assign to another contributor or partner to complete it.</p>
		<p><strong>Public description</strong> : Describe your project in a way that you are happy to see published.  Please do not include any commercially sensitive information.  If your project is successful and awarded funding, Innovate UK will publish this description.  </p>
		<p><strong>Project scope</strong> : Describe how your project fits the scope of the competition. If your project is not in scope it will not be eligible for funding and will not be sent for assessment. Innovate UK will provide feedback if we decide that your project is not in scope.</p>

	</section>

	<hr />

	<section>

		<h2 class="heading-large">Application questions</h2>
		<p>
			Answers to these questions are scored by the assessors. Following assessment, you will receive feedback from the assessors for each question.
		</p>

		<h3 class="heading-small">Business opportunity</h3>
		<dl class="questions-dl">
			<dt>1. What is the business opportunity that your project addresses?
			<div>You should describe:</div>
			</dt>
			<dd>the business opportunity you have identified and how you plan to take advantage of it</dd>
			<dd>the customer needs you have identified and how your project will meet them</dd>
			<dd>the challenges you expect to face and how you will overcome them</dd>
		</dl>

		<h3 class="heading-small">Potential market</h3>
		<dl class="questions-dl">
			<dt>2. What is the size of the potential market for your project?
			<div>You should describe:</div>
			</dt>
			<dd>details of your target market including how profitable and competitive it is</dd>
			<dd>the current size of the market with actual and predicted growth rates</dd>
			<dd>an estimate of the market share you expect to achieve with reasons why</dd>
			<dd>the wider economic value you expect the project to add to the UK or EEA</dd>
			<dd>what return on investment you expect your project to achieve, based on relevant industry data and calculations</dd>
		</dl>

		<h3 class="heading-small">Project exploitation</h3>
		<dl class="questions-dl">
			<dt>3. How will you exploit and market your project?
			<div>You should describe:</div>
			</dt>
			<dd>potential outputs such as products, services, processes and applications</dd>
			<dd>how you will exploit these outputs such as the route to market, protection of intellectual property rights and changes to business models and processes</dd>
		</dl>

		<h3 class="heading-small">Economic benefit</h3>
		<dl class="questions-dl">
			<dt>4. What economic, social and environmental benefits do you expect your project to deliver and when?
			<div>You should describe:</div>
			</dt>
			<dd>the impact your project will have on its economic environment such as benefits to users, suppliers, industrial markets and the UK economy</dd>
			<dd>social impacts both negative and positive</dd>
			<dd>the environmental impact</dd>
		</dl>

		<h3 class="heading-small">Technical approach</h3>
		<dl class="questions-dl">
			<dt>5. What technical approach will you use and how will you manage your project?
			<div>You should describe:</div>
			</dt>
			<dd>your technical approach including your main objectives</dd>
			<dd>how and why your approach is different and how it offers a better outcome</dd>
			<dd>how the innovative steps in your project are achievable</dd>
			<dd>rival technologies and alternative R&amp;D strategies</dd>
		</dl>

		<h3 class="heading-small">Innovation</h3>
		<dl class="questions-dl">
			<dt>6. What is innovative about your project?
			<div>You should describe:</div>
			</dt>
			<dd>how your project will push boundaries beyond current science and technology</dd>
			<dd>how you will apply existing technologies in new areas</dd>
			<dd>the novelty of the research in an academic or industrial context</dd>
		</dl>

		<h3 class="heading-small">Risks</h3>
		<dl class="questions-dl">
			<dt>7. What are the risks (technical, commercial and environmental) to your project’s success? What is your risk management strategy?
			<div>You should describe:</div>
			</dt>
			<dd>your plans for limiting and managing risk</dd>
		</dl>

		<h3 class="heading-small">Project team</h3>
		<dl class="questions-dl">
			<dt>8. Does your project team have the skills, experience and facilities to deliver this project?
			<div>You should describe:</div>
			</dt>
			<dd>your capability to develop and exploit this technology</dd>
			<dd>details of your team’s track record in managing research and development skills</dd>
		</dl>


		<h3 class="heading-small">Funding</h3>
		<dl class="questions-dl">
			<dt>9. What will your project cost?
			<div>You should describe:</div>
			</dt>
			<dd>the total costs of your project and how much funding you need from Innovate UK</dd>
			<dd>expected project costs along with supporting information</dd></dl>

		<h3 class="heading-small">Adding value</h3>
		<dl class="questions-dl">
			<dt>10. How does financial support from Innovate UK and/or its funding partners add value?
			<div>You should describe:</div>
			</dt>
			<dd>why you are unable to fund the project yourself from commercial resources</dd>
			<dd>what difference the funding will make to the project</dd>
			<dd>how the project will benefit the UK</dd>
		</dl>

	</section>

	<hr />

	<section>

		<h2 class="heading-large">Finances</h2>
		<h3 class="heading-medium">Your finances</h3>
		<p>
			In this section all partner organisations participating in your project are required to enter their project costs. We require a detailed breakdown to ensure that they are eligible project costs for grant funding. To be eligible, all costs must be incurred directly as a result of the project and must be in the following categories:
		</p>
		<ul class="list list-bullet">
			<li>labour: Staff costs paid through PAYE or equivalent records</li>
			<li>administration support costs: Administration costs incurred directly as a result of your project and are usually calculated as a percentage of your labour costs</li>
			<li>materials</li>
			<li>capital usage</li>
			<li>subcontracting costs: For services delivered by third parties (not collaborators)</li>
			<li>travel and subsistence</li>
			<li>other</li>
		</ul>

		<p><strong>Business size:</strong>  If you are a business applicant, you must select the size of your business as being either small, medium or large.  If you are unsure, please  If you are unsure, please use the <a href="http://ec.europa.eu/growth/smes/business-friendly-environment/sme-definition/index_en.htm" rel="external">EU definition</a>.  The size of your business determines the amount of grant that you are eligible to receive.
		</p>

		<p><strong>Funding level:</strong> You must enter the percentage of grant funding you wish to receive as an individual partner in the project.  This figure must not be greater than the funding level permitted for your business size.  For more information visit <a href="https://www.gov.uk/guidance/innovate-uk-funding-general-guidance-for-applicants#funding-rules" rel="external">Innovate UK funding rules</a>.</p>

		<p><strong>Other funding:</strong>  You must complete this section if you have applied for or received any other public sector funding for this project.
		</p>

		<h3 class="heading-medium">Finances overview - this covers 3 areas:</h3>

		<p><strong>Funding rules for this competition:</strong> The participation rule for research organisations is shown here.  Your project must fall within the eligibility rules before you can submit your application.
		</p>
		<p><strong>Finances summary:</strong> This section provides an overview of the eligible costs for each partner and the amount of funding they are claiming.</p>

		<p><strong>Project cost breakdown:</strong> Each category is summarised and available to view by all project partner organisations in the finances overview section.  Detailed finances are confidential and only accessible to the partner organisation and Innovate UK.</p>

	</section>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
</body>
</html>