<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
    <style> .message-alert {
        background: #e4eff6;
        padding-left: 30px;
        } </style>
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main id="content">

    <th:block th:insert="fragments/layout :: main-content-start" />

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-applicant-subheader(${'Application overview'}, ${'/prototypes/635-application-overview'})" />

	<!-- HARDCODED PROTOTYPE HTML -->
	<div class="hgroup" style="padding-top: 20px">
		<p class="subtitle no-margin">Technology inspired - Application number: 12347353</p>
		<h1 class="heading-xlarge no-margin">Empire Ltd Finances</h1>
	</div>

	<h2 class="heading-medium extra-margin">Provide your organisation's finances</h2>

	<p>Only your organisation can see this level of detail.
		All members of your organisation can acesss and edit your finances
		We recommend assigning completion of your finances to one member of your team</p>

	<div class="collapsible section-overview">

       	<h2>Labour

       	</h2>



		<th:block th:insert="prototypes/fragments/finance-questions :: finance-question-labour" />



    	<h2>Administration support costs
    		<span data-mirror="#section-total-2">&pound; 0</span>
       	</h2>

		<th:block th:insert="prototypes/fragments/finance-questions :: finance-question-admin-support" />


		<h2>Materials
	        <span data-mirror="#section-total-3">&pound; 10,076</span>
       	</h2>

		<th:block th:insert="prototypes/fragments/finance-questions :: finance-question-materials" />

    	<h2>Capital usage
	        <span data-mirror="#section-total-4">&pound; 0</span>
       	</h2>

		<th:block th:insert="prototypes/fragments/finance-questions :: finance-question-capital" />


    	<h2>Subcontracting costs
	        <span data-mirror="#section-total-5">&pound; 150,000</span>
       	</h2>

		<th:block th:insert="prototypes/fragments/finance-questions :: finance-question-subcontracting" />

    	<h2>Travel &amp; subsistence
	        <span data-mirror="#section-total-6">&pound; 0</span>
       	</h2>

		<th:block th:insert="prototypes/fragments/finance-questions :: finance-question-travel" />


    	<h2>Other costs
			<span data-mirror="#section-total-3">&pound; 0</span>
       	</h2>


		<th:block th:insert="prototypes/fragments/finance-questions :: finance-question-other" />


    </div>


    <div class="grid-row total-cost">
        <div class="column-half">
            <span class="heading-medium">Total project costs</span>
        </div>
        <div class="column-half alignright">
            <input type="text" readonly="readonly" class="heading-medium width-full alignright" data-calculation-fields="[id*=total]" data-calculation-operations="+" value="£ 286,283" />
        </div>
    </div>

    <h2 class="heading-medium no-margin-bottom">Organisation size</h2>
	<fieldset>
		<legend class="visuallyhidden">Organisation size and funding level</legend>
		<p class="form-hint">To determine the level of funding you are eligible to receive please provide your business sizing using the <a href="http://ec.europa.eu/growth/smes/business-friendly-environment/sme-definition/index_en.htm" target="_blank" rel="external">EU Definition</a> for guidance.</p>
		<div class="form-block">
			<label class="block-label selection-button-radio" for="radio-1">
				<input id="radio-1" type="radio" name="radio-group" value="Micro"/>
				Micro / small - claim up to 70%
			</label>
			<label class="block-label selection-button-radio" for="radio-2">
				<input id="radio-2" type="radio" name="radio-group" value="Medium"/>
				Medium - claim up to 60%
			</label>
			<label class="block-label selection-button-radio" for="radio-3">
				<input id="radio-3" type="radio" name="radio-group" value="Large"/>
				Large - claim up to 50%
			</label>
		</div>

		<div class="form-group extra-margin">
			<label class="form-label" for="other-funding">
				<span class="heading-medium">Funding level</span>
				<span class="form-hint">Please enter the funding level that you would like to apply for in this application</span>
			</label>
			<details>
			    <summary><span class="summary">What funding level should I enter?</span></summary>
			    <div class="panel">
			    	You can apply for any funding percentage between 0% and the maximum allowable for your organisation size, as shown above. The amount you apply for must reflect other funding you may have received and be within participation levels which you can review on the Finances Overview page.
			    </div>
			</details>
			<input class="form-control width-small" type="text" id="other-funding" name="other-funding" value="" /> %
		</div>
	</fieldset>

	<th:block th:insert="prototypes/fragments/finance-questions :: finance-other-funding" />

	<div class="alignright-button extra-margin">
		<button type="submit" name="mark_as_complete" class="button" formaction="#" value="1">Mark as complete
		</button>
	</div>

	<ul class="pagination">
	    <li class="next">
	        <a rel="next" title="Navigate to next part" href="/prototypes/631-finances-overview">
	            <span class="pagination-label">Next</span>
	            <span class="pagination-part-title">Finances overview</span>
	        </a>
	    </li>
	</ul>

	<a href="/prototypes/635-application-overview" class="button-secondary">Save and return to application overview</a>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script type="text/javascript">

	jQuery('input#funding-yes').on('click',function(e){
		//e.preventDefault();
		if ( jQuery(this).is(':checked') ) {
			jQuery("#finance-other-funding").show();
		}else{
			jQuery("#finance-other-funding").hide();
		}
	});

	jQuery('input#funding-no').on('click',function(e){
		//e.preventDefault();
		if ( jQuery(this).is(':checked') ) {
			jQuery("#finance-other-funding").hide();
		}else{
			jQuery("#finance-other-funding").show();
		}
	});

	jQuery('input#admin-support-radio-1').on('click',function(e){
		if ( jQuery(this).is(':checked') ) {
			jQuery("#admin-support-1").show();
			jQuery("#admin-support-2").hide();
			jQuery("#admin-support-3").hide();
			jQuery("#admin-support-4").hide();
		}
	});

	jQuery('input#admin-support-radio-2').on('click',function(e){
		if ( jQuery(this).is(':checked') ) {
			jQuery("#admin-support-1").hide();
			jQuery("#admin-support-2").show();
			jQuery("#admin-support-3").hide();
			jQuery("#admin-support-4").hide();
		}
	});

	jQuery('input#admin-support-radio-3').on('click',function(e){
		if ( jQuery(this).is(':checked') ) {
			jQuery("#admin-support-1").hide();
			jQuery("#admin-support-2").hide();
			jQuery("#admin-support-3").show();
			jQuery("#admin-support-4").hide();
		}
	});

	jQuery('input#admin-support-radio-4').on('click',function(e){
		if ( jQuery(this).is(':checked') ) {
			jQuery("#admin-support-1").hide();
			jQuery("#admin-support-2").hide();
			jQuery("#admin-support-3").hide();
			jQuery("#admin-support-4").show();
		}
	});

</script>
</body>
</html>
