<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="app-dashboard">

    <th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
    <th:block th:insert="fragments/layout :: body-start" />
    <th:block th:insert="fragments/layout :: global-header" />


    <main id="content">
        <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

        <th:block th:unless="${param.status != null and param.status[0] == 'firstLoad'}" th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Application overview'}, ${'/prototypes/635-application-overview'})" />
        <th:block th:if="${param.status != null and param.status[0] == 'firstLoad'}" th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Your dashboard'}, ${'/prototypes/675-dashboard'})" />

        <!-- HARDCODED PROTOTYPE HTML -->

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Technology inspired</span>
          Application team
        </h1>

        <p>View and manage your participants in the application. If an individual is ‘pending’ they have not yet joined the application.</p>

        <th:block th:if="${param.status != null and param.status[0] == 'firstLoad'}">
          <div class="message-alert">
            <h2 class="heading-medium no-margin-bottom">As the lead applicant you can:</h2>
            <ul class="list-bullet">
              <li>add collaborating and contributing organisations and individuals</li>
              <li>manage organisations and individuals</li>
              <li>assign questions to individuals</li>
            </ul>
          </div>
        </th:block>

        <p th:unless="${param.status != null and param.status[0] == 'firstLoad'}">To change the lead applicant please email Innovate UK <a href="mailto:support@innovate.gov.uk">support@innovate.gov.uk</a>.</p>

        <div class="table-display-stacked">

          <h2 class="heading-medium">Empire Ltd, Lead organisation</h2>

          <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
            <thead>
              <tr>
                <th class="width-30-percent">Applicant</th>
                <th class="width-50-percent">Email</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Steve Smith</td>
                <td>steve.smith@empire.com</td>
                <td>Lead</td>
              </tr>
              <tr th:unless="${param.status != null and param.status[0] == 'firstLoad'}">
                <td>Paul Davidson</td>
                <td>paul.davidsonh@empire.com</td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <th:block th:if="${param.company == null or param.company != null and param.company[0] == 'empire'}">
            <p>
              <a th:href="${'/prototypes/7661-edit-org?company=empire' + (param.status != null and param.status[0] == 'firstLoad' ? '&#38;status='+ param.status[0] : '')}">Update Empire Ltd</a>
            </p>
          </th:block>

        </div>

        <div class="table-display-stacked" th:unless="${param.status != null and param.status[0] == 'firstLoad'}">

          <h2 class="heading-medium">Ludlow</h2>

          <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
            <thead>
              <tr>
                <th class="width-30-percent">Applicant</th>
                <th class="width-50-percent">Email</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jessica Doe</td>
                <td>jessica.dow@ludlow.com</td>
                <td></td>
              </tr>
              <tr>
                <td>Ryan Dell</td>
                <td>ryan.dell@ludlow.com</td>
                <td>Invite pending</td>
              </tr>
            </tbody>
          </table>

          <th:block th:if="${param.company == null or param.company != null and param.company[0] == 'ludlow'}">
            <p>
              <a th:href="${'/prototypes/7661-edit-org?company=ludlow' + (param.company != null ? '&#38;user=nonLead' : '')}">Update Ludlow</a>
            </p>
          </th:block>

        </div>

        <div class="table-display-stacked" th:unless="${param.status != null and param.status[0] == 'firstLoad'}">

          <h2 class="heading-medium">EGGS</h2>

          <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
            <thead>
              <tr>
                <th class="width-30-percent">Applicant</th>
                <th class="width-50-percent">Email</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Paul Tom</td>
                <td>paul.tom@eggs.com</td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <th:block th:if="${param.company == null or param.company != null and param.company[0] == 'eggs'}">
            <p>
              <a th:href="${'/prototypes/7661-edit-org?company=eggs' + (param.company != null ? '&#38;user=nonLead' : '')}">Update EGGS</a>
            </p>
          </th:block>

        </div>

        <th:block th:if="${param.company == null or param.company != null and param.company[0] == 'newOrg'}">

          <p class="extra-margin">Add any organisations participating with you on this project. They are responsible for creating their own account and submitting their finances.</p>

          <p><a th:href="${'/prototypes/7661-edit-org?company=newOrg' + (param.status != null and param.status[0] == 'firstLoad' ? '&#38;status=firstLoad' : '')}">Add organisation</a></p>

        </th:block>

        <p class="extra-margin">
          <a href="/prototypes/635-application-overview" class="button-secondary" th:unless="${param.status != null and param.status[0] == 'firstLoad'}">Return to application overview</a>

          <th:block th:if="${param.status != null and param.status[0] == 'firstLoad'}">
            <a href="#" class="button">Begin application</a>
          </th:block>

        </p>


        <div class="modal-submit-remove-collaborator" role="dialog" aria-hidden="true" style="margin-top: -153px;">
            <button class="js-close close" type="button" aria-label="Close Popup">X</button>
            <h2 class="heading-medium no-margin">Removing collaborator</h2>
            <p>Are you sure you wish to remove this collaborator from this application.</p>
            <p>This step cannot be undone.</p>
            <hr />
            <div class="grid-row extra-margin">
                <form method="get" id="submit-remove-collaborator-form" th:action="${#httpServletRequest.requestURI}">
                    <input type="hidden" value="6" name="applicationInviteId" />
                    <div class="column-half">
                        <button type="button" class="js-close buttonlink large">Cancel</button>
                    </div>
                    <div class="column-half alignright-button">
                        <button class="button" name="publish" value="publish" type="submit">Remove</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-submit-remove-organisation" role="dialog" aria-hidden="true" style="margin-top: -153px;">
            <button class="js-close close" type="button" aria-label="Close Popup">X</button>
            <h2 class="heading-medium no-margin">Remove organisation and collaborator</h2>
            <p>Are you sure you wish to remove this organisation from this application?</p>
            <p>This will remove all collaborators and delete the organisations financial details.</p>
            <hr />
            <div class="grid-row extra-margin">
                <form method="get" id="submit-remove-collaborator-form" th:action="${#httpServletRequest.requestURI}">
                    <input type="hidden" value="6" name="applicationInviteId" />
                    <div class="column-half">
                        <button type="button" class="js-close buttonlink large">Cancel</button>
                    </div>
                    <div class="column-half alignright-button">
                        <button class="button" name="publish" value="publish" type="submit">Remove organisation and collaborator</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- END OFHARDCODED PROTOTYPE HTML -->

        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>

    <th:block th:insert="fragments/layout :: footer" />
    <th:block th:insert="fragments/layout :: body-end" />

    <script src="/js/ifs_prototype/tablesaw-init.js" type="text/javascript"></script>
    <script src="/js/ifs_prototype/tablesaw.stackonly.jquery.js" type="text/javascript"></script>
</body>

</html>
