<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Competition eligibility'}, ${'/prototypes/920-comp-eligibility'})" th:remove="tag" th:unless="${param.user != null and param.user[0] == 'assessor'}"/>

	<!-- HARDCODED PROTOTYPE HTML -->

	<!--<div class="message-alert">
        <h2 class="heading-medium no-margin-bottom" style="padding-top: 10px;">Competition eligibility</h2>
        <p class="">To begin a new application for the competition 'Technology Inspired' you must meet the following criteria</p>

         <ul class="list-bullet extra-margin">
        	<li>
        		<h3 class="heading-small>">Create this application as the <strong>lead partner</strong> of the consortium</h3>
        		<p>If you are not the lead, please contact your lead partner to create the application</p>
        	</li>
        	<li>
        		<h3 class="heading-small>">Lead this application as a <strong>Business</strong></h3>
        		<p>Applications into this competition must be lead by a business</p>
        	</li>
        	<li>
        		<h3 class="heading-small>">Be based in the <strong>UK</strong></h3>
        		<p>Non UK organisations are not eligible to recieve funding from Innovate UK</p>
        	</li>
        </ul> 
        
    </div>-->

	<div class="grid-row">
		<section class="column-half">
		    
			<div th:include="prototypes/fragments/applicant-view :: prototype-signin-create-acc(${'/prototypes/643-create-acc-business-lead'})" th:remove="tag" /> 

		</section>
		<section class="column-half">
			
			<div th:include="prototypes/fragments/applicant-view :: prototype-signin(${'/prototypes/650-create-application?status'})" th:remove="tag" th:unless="${param.user != null and param.user[0] == 'assessor'}" /> 

            <th:block th:if="${param.user != null and param.user[0] == 'assessor'}" th:include="prototypes/fragments/applicant-view :: prototype-signin(${'/prototypes/865-assessor-dashboard-invites?accepted=yes&#38;user=assessor&#38;version=v2'})" /> 

		</section>
	</div>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>