<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />


	<div th:if="${param.filterStatus != null}" th:remove="tag">
		<style>
			li.status{
				display: none;
			}
		</style>
		<style th:if="${param.filterStatus[0] == 'Open'}">
			li.status.comp-status-open{
				display: block;
			}
		</style>
		<style th:if="${param.filterStatus[0] == 'Closed'}">
			li.status.comp-status-closed{
				display: block;
			}
		</style>
		<style th:if="${param.filterStatus[0] == 'In assessment'}">
			li.status.comp-status-assess{
				display: block;
			}
		</style>
	</div>

</head>
<body class="comp-assessors full-width">


<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Invite assessors'}, ${'/prototypes/863-invite-assessors'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title(${'Innovate UK, Technology inspired, (4891061)'}, ${'Invite list'})" />



	<div id="sticky-zone">

		<section class="info-area">
			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-summary" />
		</section>

		<section class="data-area">

			<h2 class="heading-large">Confirm invites</h2>

			<div class="grid-row highlight-panel">
				<div class="column-half">
					<p class="no-margin"><span class="heading-large">10</span> <strong>assessors</strong></p>
				</div>
				<div class="column-half alignright-button">
					<a href="#" class="button" data-js-modal="modal-invite-assessors">Send invites to assessors</a>
				</div>
			</div>

			<div class="modal-invite-assessors" role="dialog" aria-hidden="true" style="margin-top: -174px;">
		        <button class="js-close close" aria-label="Close Popup">X</button>
		        <div>

					<h2 class="heading-medium no-margin">Send invites to assessors</h2>

					<p>Are you sure that you wish to send invites to the assessors on the invite list?</p>

					<p>Once the invites have been sent this action cannot be undone.</p>

					<hr />

		            <div class="grid-row extra-margin">
		            	<div class="column-half">
		            		<a href="/prototypes/863-invite-list">Cancel</a>
		            	</div>
		            	<div class="column-half alignright-button">
		            		<a href="/prototypes/997-comp-applications-dashboard-open?invitesSent" class="button">Send invites</a>
		            	</div>
		            </div>

		        </div>
		    </div>

			<h3 class="heading-small"><span class="heading-large">4</span> Current assessors</h3>

			<div class="table-overflow">
				<table>
					<thead>
						<tr>
							<th scope="col">Assessor</th>
							<th scope="col">Type</th>
							<th scope="col">Innovation area</th>
							<th scope="col">Contract and DOI</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Earnest	Massey</th>
							<td>Industry</td>
			                <td th:include="prototypes/fragments/comp-admin :: prototype-innovation-area-text-1"></td>
							<td><span class="yes">Yes</span></td>
						</tr>
						<tr>
							<th scope="row">Oliver Romero</th>
							<td>Acadmic</td>
			                <td th:include="prototypes/fragments/comp-admin :: prototype-innovation-area-text-2"></td>
							<td><span class="yes">Yes</span></td>
						</tr>
						<tr>
							<th scope="row">Jeffrey	Carlson</th>
							<td>Industry</td>
			                <td th:include="prototypes/fragments/comp-admin :: prototype-innovation-area-text-2"></td>
							<td><span class="no">No</span></td>
						</tr>
						<tr>
							<th scope="row">Jonathan Copeland</th>
							<td>Industry</td>
			                <td th:include="prototypes/fragments/comp-admin :: prototype-innovation-area-text-1"></td>
							<td><span class="yes">Yes</span></td>
						</tr>
					</tbody>
				</table>
			</div>

			<h3 class="heading-small extra-margin"><span class="heading-large">6</span> New assessors</h3>

			<div class="table-overflow">
				<table>
					<thead>
						<tr>
							<th style="width: 50%" scope="col">Assessor</th>
							<th style="width: 50%" scope="col">Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Bill Knightly</th>
							<td>b.knightly@assessor.co.uk</td>
						</tr>
						<tr>
							<th scope="row">Dave Redford</th>
							<td>d.redford@assessor.co.uk</td>
						</tr>
						<tr>
							<th scope="row">Peter Newman</th>
							<td>p.newman@assessor.co.uk</td>
						</tr>
						<tr>
							<th scope="row">Ryan Brown</th>
							<td>r.brown@assessor.co.uk</td>
						</tr>
						<tr>
							<th scope="row">Tim Townsend</th>
							<td>t.townsend@assessor.co.uk</td>
						</tr>
						<tr>
							<th scope="row">Vince Wilson</th>
							<td>v.wilson@assessor.co.uk</td>
						</tr>

					</tbody>
				</table>
			</div>
		</section>



	</div>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>

</body>
</html>
