<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="competition-management">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="prototypes/fragments/layout :: prototype-comp-admin-header" th:with="status='loggedIn'" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />

  	<!-- HARDCODED PROTOTYPE HTML -->

    <div class="sub-header">
      <a href="/prototypes/IFS-6-manage-assessors-active" class="link-back">Manage assessors</a>
    </div>

    <h1 class="heading-xlarge" th:text="${param.action != null and param.action[0] == 'new'} ? 'Add a new assessor' : 'Edit assessor profile'">EDIT OR NEW ASSESOR PROFILE</h1>

    <form action="#">
        <div class="form-group">
            <label class="form-label" for="first-name">First name</label>
            <input class="form-control" id="first-name" name="first-name" type="text" th:value="${param.action != null and param.action[0] == 'new'} ? '' : 'Arden'" required>
        </div>
        <div class="form-group">
            <label class="form-label" for="last-name">Last name</label>
            <input class="form-control" id="last-name" name="last-name" type="text" th:value="${param.action != null and param.action[0] == 'new'} ? '' : 'Pimenta'" required>
        </div>

        <th:block th:unless="${param.action != null and param.action[0] == 'new'}">
            <h3 class="heading-small">Email address</h3>
            <p><a href="#">adren.pimenta@innovateuk.test</a></p>
        </th:block>

        <th:block th:if="${param.action != null and param.action[0] == 'new'}">
            <div class="form-group">
                <label class="form-label" for="email-address">Email address</label>
                <input class="form-control" id="email-address" name="email-address" type="text" required>
            </div>
        </th:block>

        <th:block th:if="${param.version != null and param.version[0] == 'v1'}" th:insert="prototypes/fragments/manage-assessors-updated :: prototype-assessor-innovation-areas" />
        <th:block th:if="${param.version == null or param.version[0] == 'v2'}" th:insert="prototypes/fragments/manage-assessors-updated :: prototype-assessor-innovation-areas-full-list" />

        <div class="extra-margin-top">
            <th:block th:if="${param.action != null and param.action[0] == 'new'}">
                <input type="hidden" name="tab" value="pending" />
                <input type="hidden" name="pending" value="1" />
                <button class="button" formaction="/prototypes/IFS-6-manage-assessors-active">Send invite</button>
            </th:block>

            <th:block th:unless="${param.action != null and param.action[0] == 'new'}">
                <button class="button" formaction="/prototypes/IFS-6-assessor-profile">Save and return</button>
            </th:block>

            <a href="#" class="button button-clear">Cancel</a>
        </div>

    </form>

  	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>

<script type="text/javascript">
	// <![CDATA[

	// ]]>
</script>
</body>
</html>
