<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='View internal user details'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
	<th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader('View or search for an internal user', '/prototypes/27-add-internal-user-overview')" />


	<!-- HARDCODED PROTOTYPE HTML -->

  <h1 class="heading-xlarge">
	  View internal users details
	</h1>

  <h2 class="heading-medium">Personal details</h2>

  <dl>
    <dt>Full name</dt>
    <dd class="extra-margin-bottom" th:text="${(param.firstName == null) and (param.lastName == null)} ? 'Mark Smith' : |${param.firstName} ${param.lastName}|">Mark Smith</dd>

    <dt>Email address</dt>
    <dd class="extra-margin-bottom">mark.smith@innovate.gov.uk</dd>

    <dt>Job role</dt>
    <dd class="extra-margin-bottom" th:text="${param.role == null} ? 'IFS Administrator' : ${param.role}">IFS Administrator</dd>
  </dl>

  <div class="form-footer">
    <div class="form-footer__actions">
      <a href="/prototypes/ifs-606-review-user-profile-edit.html">Edit</a>
    </div>
    <div class="form-footer__info">
      Created by Susan Smith on 23rd March 2017
    </div>
  </div>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
