<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype index page'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />



	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='sprint13'"  th:remove="tag" />

	
	<section class="grid-row">
		<div class="row">
			<h1 class="heading-large">Sprint 13</h1>

			<section>
				
				<h2 class="heading-medium">Internal user - project set up</h2>

				<ul class="list-bullet">
					
					<li>
						<h3 class="heading-small">INFUND-4262</h3>
						<p>Iterations of finance sections following testing with finance team</p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1581-project-eligibility">INFUND-4262</a> Added content to all expandable sections on the elgibility pages.
							</li>
							<li>
								<a href="/prototypes/1581-project-eligibility?status=warning">INFUND-4343</a> Create a view of eligibility showing overspend from funders panel
							</li>
						</ul>
					</li>
					<li>
						<h3 class="heading-small">INFUND-4149</h3>
						<p>Finalised RAG solution for eligibility and viability</p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1581-project-eligibility">INFUND-4384</a> Create a Rag Rating on Eligibility
							</li>
							<li>
								<a href="/prototypes/3601-viability">INFUND-4385</a> Create a Rag Rating on Viability
							</li>
						</ul>
					</li>
					<li>
						<h3 class="heading-small">INFUND-4242</h3>
						<p>Confirm sole trader approach</p>
						
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/2650-review-bank-details?status=noCompHouse">INFUND-4378</a> Internal Bank details view - panel informing of Business type
							</li>
						</ul>

					</li>
					<li>
						<h3 class="heading-small">INFUND-3660</h3>
						<p>Academic spend profile</p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/4422-internal-spend-profile">INFUND-4422</a> Create an internal view for the spend profile
							</li>
						</ul>
					</li>
					<li>
						<h3 class="heading-small">INFUND-4243</h3>
						<p>Academic finance checks</p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/4243-academic-eligibility">INFUND-4381</a> Create J-eS eligibility page
							</li>
						</ul>
					</li>

				</ul>

			</section>

			<section>
				
				<h2 class="heading-medium">Partner - project set up</h2>
				
				<ul class="list-bullet">
					<li>
						<h3 class="heading-small">INFUND-4262</h3>
						<p>Iterations of finance sections following testing with finance team</p>

						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1588-project-status?stage=level5">INFUND-1588</a> Link though to complete finance checks from the partner setup page
							</li>
							<li>
								<a href="/prototypes/3813-finance-check-landing?status=approved">INFUND-4394</a> Creation of a Partner Finance complete page for applicants
							</li>
						</ul>
					</li>
					<li>
						<h3 class="heading-small">INFUND-4242</h3>
						<p>Confirm sole trader approach</p>
						
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1588-project-status?status=noCompHouse">INFUND-4376</a> Update Bank Details 2536 to support Business types that do not have to register with companies house
							</li>
						</ul>

					</li>
					<li>
						<h3 class="heading-small">INFUND-3660</h3>
						<p>Academic spend profile</p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/4423-profile-rejected-email">INFUND-4423</a> Create email to PM if spend profile is rejected
							</li>
						</ul>
					</li>
				</ul>


			</section>

			<section>
				
				<h2 class="heading-medium">Academic partner - project set up</h2>

				<ul class="list-bullet">
					<li>
						<h3 class="heading-small">INFUND-3660</h3>
						<p>Academics spend profile</p>

						<ul class="list-buillet">
							<li>
								<a href="/prototypes/3660-academic-spend?user=nonLead">INFUND-4420</a> Create a view of the Academic applicants spend profile
							</li>
							<li>
								<a href="/prototypes/3100-spend?task=reviewProject">INFUND-4421</a> Create a view of the lead's view of the spend profile before uploading
							</li>
						</ul>

					</li>
				</ul>


			</section>

		</div>
	</section>

	<!-- END OFHARDCODED PROTOTYPE HTML -->



    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: body-end" th:remove="tag" />
<div th:include="prototypes/fragments/layout :: prototype-js" th:remove="tag" />

</body>
</html>