<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype index page'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />



	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='sprint3'" th:remove="tag" />

	
	<section class="grid-row">
		<div class="row">
			<h1 class="heading-large">Sprint 3</h1>

			<section>
				<h2 class="heading-medium">Competition administrator</h2>
				<ul class="list-bullet">
					<li>
						<h3><a href="/prototypes/1345-comp-dashboard"><strong>INFUND-1345</strong></a></h3>
						<p>As a competition administrator I need to see all competitions within Innovate UK to review the state of each comp</p>
					</li>
					<li>
						<h3><a href="/prototypes/860-comp-applications-dashboard"><strong>INFUND-860</strong></a></h3>
						<p>As a Competition Administrator I want to see how many applications have been submitted for a competition as soon as it closes so I can ensure we have enough assessors and begin the process of assignment</p>
					</li>
					<li>
						<h3><a href="/prototypes/997-comp-applications-dashboard-open"><strong>INFUND-997</strong></a></h3>
						<p>**As a Competition Administrator I want to see how many applications are currently underway (over 50% complete) for an open competition so I can invite assessors enough assessors</p>
					</li>
					<li>
						<h3><a href="/prototypes/998-comp-applications-dashboard-assess"><strong>INFUND-998</strong></a></h3>
						<p>**As a Competition Administrator I want to see how many assessments are currently underway for a competition in assessment so I can track progresss</p>
					</li>
					<li>
						<h3><a href="/prototypes/863-invite-assessors"><strong>INFUND-863</strong></a></h3>
						<p>As a Competition Administrator I want to be able to manually select a pool of assessors from a list of available assessors for future allocation to a competition</p>
						
						<ul class="list-bullet">
							<li><a href="/prototypes/863-invite-list">INFUND-863</a> View the invite list</li>
							<li><a href="/prototypes/997-comp-applications-dashboard-open?invitesSent">INFUND-863</a> Manage invites link - appears after invites have been sent</li>
							<li><a href="/prototypes/863-manage-invites">INFUND-863</a> Manage invites</li>
						</ul>

					</li>
					<li>
						<h3><a href="/prototypes/863-invite-assessors"><strong>INFUND-866</strong></a></h3>
						<p>As a Competition Administrator I want to be able to group assessors selected for the assessor pool by specialism so I can more accurately assign assessors to applications <strong>Shown by 'filter assessors' section</strong></p>
					</li>
					<li>
						<h3><a href="/prototypes/1381-application-allocation"><strong>INFUND-1021</strong></a></h3>
						<p>As a Competition Administrator I want the option to manually allocate assessors to each application from my pool of assessors so that I can distribute the assessments incorporating awareness of expertise and conflicts</p>
						
						<ul class="list-bullet">
							<li><a href="/prototypes/1381-application-allocation">INFUND-1381</a> - Create a view allowing the comp team to view all the complete applications that have been submitted to the competition and begin the allocation process</li>
							<li><a href="/prototypes/1381-application-allocation?fullWidth">INFUND-1381</a> - Same as above but showing an example of <strong>full width view</strong> set ?fullWidth at end of URL</li>
							<li><a href="/prototypes/1382-application-allocate-assessors?title=Machine%20learning%20in%20robots">INFUND-1382</a> - Create a view allowing the comp team to assign and undo the assignment of assessors to an application.</li>
							<li><a href="/prototypes/1383-application-allocate-applications">INFUND-1383</a> - Create a view allowing the comp team to assign and undo the assignment of applications to an assessor.</li>
							<li><a href="/prototypes/1385-application-allocation-confirm">INFUND-1385</a> - Create a view that allows the comp team to view any potential issues with assignment of applications.</li>
							<li>INFUND-1402 - Create a view of the system that shows an overview of assessor allocation</li>
							<li>INFUND-1525 - Create a view that allows members of the comp team to view all assessors on the competition, and allocate applications to them.</li>
						</ul>

					</li>
					<li>
						<h3><a href="/prototypes/1382-application-allocate-assessors"><strong>INFUND-1022</strong></a></h3>
						<p>As a Competition Administrator I want the option to allocate assessors to each application within their specialist groups so that I can distribute the assessments more effectively. <strong>Shown by 'filter assessors' section</strong></p>
					</li>
					<li>
						<h3>INFUND-870 - <strong>(In sprint 4)</strong></h3>
						<p>As a Competition Administrator I want to manually allocate a new assessor to an application when an appointed assessor declines so that I can have the correctly designated number of assessor for each application</p>
					</li>
					<li>
						<h3>INFUND-1370</h3>
						<p>As a Competition Administrator I want to see how many assessments are currently underway for a competition in assessment so I can track progres</p>
					</li>
					<li>
						<h3><a href="/prototypes/1196-readonly-application-view"><strong>INFUND-1196</strong></a></h3><p>As a Competition Administrator/Innovation Lead I want to be able to view details of completed assessments so I can review the comments if necessary</p>
						<ul class="list-bullet">
							<li><a href="/prototypes/545-application-feedback?internal">INFUND-1196</a>- INTERNAL Feedback overview</li>
							<li><a href="/prototypes/545-application-feedback-question7?internal">INFUND-1196</a> - INTERNAL Individual question page</li>
						</ul>
					</li>
				</ul>
			</section>
			<section>
				<h2 class="heading-medium">Applicant</h2>
				<ul class="list-bullet">

					<!-- <li>
						<h3>INFUND-1137</h3><p>As an applicant I want to be shown confirmation information when I submit my application submission so I can confirm this has been sent and I can be given</p>
					</li> -->
					<li>
						<h3><a href="/prototypes/1170-application-progress"><strong>INFUND-1170</strong></a></h3><p>As an applicant I want see where my completed application is in the assessment process so that I can track its progress through assessment</p>
					</li>
					<li>
						<h3><a href="/prototypes/675-dashboard"><strong>INFUND-545</strong></a></h3><p>As an applicant I want to access my application assessment feedback, so that I can review the comments</p>
						<ul class="list-bullet">
							<li><a href="/prototypes/545-application-feedback">INFUND-545</a> - Feedback on successful application</li>
							<li><a href="/prototypes/545-application-feedback?unsuccessful">INFUND-545</a> - Feedback on unsuccessful application</li>
						</ul>
					</li>
					<li>
						<h3><a href="/prototypes/745-review-submit"><strong>INFUND-1141</strong></a></h3><p>As a lead applicant I want to be able to agree to the Terms and Conditions when submitting an application so I can compete the verification process and comply with the competition requirements.</p>
					</li>
					<li>
						<h3>INFUND-920</h3><p>As an applicant i want the process information separate from applying, so that i don't have to apply in order to find out general information</p>
					</li>
					<li>
						<h3><a href="/prototypes/631-finances-assigned-to-you"><strong>INFUND-1169</strong></a></h3><p>As an applicant I want to be given guidance to contact Innovate UK's helpdesk if I wish to apply for a special rate for Admin Support Costs (formerly Overheads) so that I am not limited to the default rate</p>
					</li>
					<li>
						<h3><a href="/prototypes/675-edit-your-details"><strong>INFUND-1171</strong></a></h3><p>As an applicant I want to be directed to the Innovate UK helpdesk if I need to change my email address, so that I can keep my details up to date</p>
					</li>
					<li>
						<h3><a href="/prototypes/675-edit-org"><strong>INFUND-1172</strong></a></h3><p>As an applicant I want to be directed to the Innovate UK helpdesk if I need to change the organisation associated with my user ccount, so that I can keep my details up to date</p>
					</li>
					<li>
						<h3><a href="/prototypes/632-organisation-collaborator-overview"><strong>INFUND-1173</strong></a></h3><p>As an applicant I want to be directed to the Innovate UK helpdesk if I need to change the lead applicant for the current appication, so that I can keep my organisation's details up to date</p>
					</li>

				</ul>
			</section>

			<section>
				<h2 class="heading-medium">Assessor</h2>
				<ul class="list-bullet">
					<li>
						<h3>INFUND-1175</h3> <p>As an assessor I want to be shown a countdown indicator informing me of an approaching deadline for completion of assessment so that I can manage my workload and contact Innovate UK if necessary</p>
					</li>
					<li>
						<h3><a href="/prototypes/1360-assessor-email-invite"><strong>INFUND-1176</strong></a></h3> <p>As an assessor I want to be able to create an account by following a link in the email invitation so that I can be approved for assessment of Innovate UK competitions</p>
						<ul class="list-bullet">
							<li><a href="/prototypes/1360-assessor-email-invite">INFUND-1360</a> - Assessor invite email example</li>
							<li><a href="/prototypes/1360-assessor-invite-start">INFUND-1360</a> - Assessor invite landing page</li>
						</ul>
					</li>
					<li>
						<h3><a href="/prototypes/1177-assessor-skills"><strong>INFUND-1177</strong></a></h3> <p>As an assessor I want to supply my profile information and skills so that Innovate UK can accurately assign approriate assessments to me</p>
					</li>
					<li>
						<h3><a href="/prototypes/1178-assessor-profile-details"><strong>INFUND-1178</strong></a></h3> <p>As an assessor I want to be able to update/edit my profile information and skills so that Innovate UK can accurately assign approriate assessments to me</p>
					</li>
					<li>
						<h3><a href="/prototypes/1247-assessor-doi"><strong>INFUND-1247</strong></a></h3> <p>As an assessor I need to provide contracts and DOI to Innovate UK so that I am able to assess a competition</p>
					</li>
					<li>
						<h3>INFUND-1179</h3> <p>As an assessor I want to be able to log in with an existing account by having the option to select Applicant or Assessor when I log in, if I have a user account with both role profiles so that I don't access the wrong profile information</p>
					</li>


				</ul>
			</section>

			<section>
				<h2 class="heading-medium">Misc</h2>
				<ul class="list-bullet">
					<li>
						<h3>INFUND-1203</h3><p>As an Innovation Lead/Comp Admin I want to be able to dynamically view all assessment information and scoring calculations for a competition together in a table so that I can rank the list and see identify areas requiring further review</p>
					</li>
					<li>
						<h3>INFUND-1197</h3><p>As a Competition Administrator I want to be able to export information for the Panel Sheet so I can input into a spreadsheet</p>
					</li>
					<li>
						<h3>INFUND-1200</h3><p>As an internal Innovate UK user I want to see the words <strong>Official Sensitive</strong> clearly marked in the header section of each page I print from IFS so that I comply with regulations</p>
					</li>
					<li>
						<h3><a href="/prototypes/984-assessor-question-scope"><strong>INFUND-1174</strong></a></h3><p>As an assessor at the beginning of an assessment, I want to be asked to confirm whether the application is in the correct research category so that Innovate UK know whether they have the right expertise assessing the application. Based on <strong>INFUND-984</strong>, just added select options to existing page </p>
					</li>
				</ul>
			</section>

			<section>
				<h2 class="heading-medium">Ongoing tasks</h2>
				<ul class="list-bullet">
					<li>
						<h3>INFUND-636</h3><p>As a UX team member I want to make  refinements to the components we already have for accessibility, code validity  and usability, so we can make small improvements which don't fit in a specific user story.</p>
					</li>
				</ul>
			</section>
			
		</div>
	</section>

	<!-- END OFHARDCODED PROTOTYPE HTML -->



    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: body-end" th:remove="tag" />
<div th:include="prototypes/fragments/layout :: prototype-js" th:remove="tag" />

</body>
</html>