<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Prototype index page'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />



	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='demo'" />


	<section class="grid-row">
		<div class="row">
			<h1 class="heading-large">Manage assessment panel - comp administrators</h1>

            <ul class="list list-bullet">
                <li><a href="/prototypes/5721-dashboard?status=Closed">Competiton dashboard</a></li>
            </ul>

            <h2 class="heading-medium">Manage assessment panel</h2>

			<section>
				<h2 class="heading-small">Manage assessors - <a href="https://devops.innovateuk.org/issue-tracking/browse/IFS-707">IFS-707</a>,
                    <a href="https://devops.innovateuk.org/issue-tracking/browse/IFS-722">IFS-722</a></h2>
				<ul class="list list-bullet">
					<li>
						<a href="/prototypes/IFS-707-manage-assessors">Find</a>
					</li>
					<li>
						<a href="/prototypes/IFS-707-manage-assessors?tab=invite">Invite</a>
					</li>
                    <li>
                        <a href="/prototypes/IFS-707-review-send">Review and send invites</a>
                    </li>
					<li>
                        <a href="/prototypes/IFS-707-manage-assessors?tab=overview">Overview</a>
                    </li>
				</ul>
			</section>

            <section>
                <h2 class="heading-small">Manage applications - <a href="https://devops.innovateuk.org/issue-tracking/browse/IFS-806">IFS-806</a></h2>
                <ul class="list list-bullet">
                    <li>
                        <a href="/prototypes/IFS-806-manage-applications">Assign application to panel</a>
                    </li>
                </ul>
            </section>

            <section>
                <h2 class="heading-small">Allocate applications to assessors - <a href="https://devops.innovateuk.org/issue-tracking/browse/IFS-806">IFS-806</a></h2>
                <ul class="list list-bullet">
                    <li>
                        <a href="/prototypes/IFS-806-assign-applications">Allocate applicatiosn to assessors</a>
                    </li>
                    <li>
                        <a href="/prototypes/IFS-806-assign-application-assessor?name=John%20Barnes">Allocate applications</a>
                    </li>
                </ul>
            </section>

            <hr />

            <h1 class="heading-large">Assessor invites to panel</h1>

            <section>
                <h2 class="heading-small">Invite - <a href="https://devops.innovateuk.org/issue-tracking/browse/IFS-807">IFS-807</a></h2>
                <ul class="list list-bullet">
                    <li>
                        <a href="/prototypes/IFS-807-email-panel-comp-invite">Email invite</a>
                    </li>
                    <li>
                        <a href="/prototypes/IFS-807-panel-yes-no#">Invitation to panel assessment - accept / reject</a>
                    </li>
                </ul>
            </section>

            <section>
                <h2 class="heading-small">Assessor dashboard with applications - <a href="https://devops.innovateuk.org/issue-tracking/browse/IFS-807">IFS-807</a></h2>
                <ul class="list list-bullet">
                    <li>
                        <a href="/prototypes/IFS-807-email-panel-apps-ready">Email notifying that applications are ready for selection</a>
                    </li>
                    <li>
                        <a href="/prototypes/IFS-807-assessor-dashboard?acceptInvitation=true">Assessor dashboard <strong>with</strong> applications</a>
                    </li>
                    <li>
                        <a href="/prototypes/IFS-807-apps-for-panel">Applications for panel</a>
                    </li>
                    <li>
                        <a href="/prototypes/IFS-807-app-yes-no">Accept / reject application</a>
                    </li>
                    <li>
                        <a href="/prototypes/IFS-807-app-readonly?acceptInvitation=true">Accepted application</a>
                    </li>
                    <li>
                        <a href="/prototypes/IFS-807-apps-for-panel?status=noApplications">Assessor dashboard <strong>without</strong> applications</a>
                    </li>
                    <li>
                        <a href="/prototypes/IFS-807-apps-for-panel?status=noApplications">Applications for panel - no applications assigned</a>
                    </li>
                </ul>
            </section>

		</div>
	</section>

	<!-- END OFHARDCODED PROTOTYPE HTML -->



    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="prototypes/fragments/layout :: prototype-js" />

</body>
</html>
