<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype index page'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />



	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='sprint17'"  th:remove="tag" />

	<h1 class="heading-large">Sprint 17</h1>

		<section>
			<h2 class="heading-medium">Assessor - Create account</h2>

			<ul class="list-bullet">
				<li>
					<h3 class="heading-small">INFUND-5645</h3>
					<p>As an assessor I want to be able to review annexes to the contract from the same screen so that I have all the information I need about assessing competitions</p>
					<ul class="list-bullet">
						<li><a href="/prototypes/5645-annex?page=a">INFUND-5645</a> Annex A</li>
						<li><a href="/prototypes/5645-annex?page=b">INFUND-5645</a> Annex B</li>
						<li><a href="/prototypes/5645-annex?page=c">INFUND-5645</a> Annex C</li>
					</ul>
				</li>
			</ul>

		</section>

		<section>

			<h2 class="heading-medium">Internal user - Assessor invites and assessor management</h2>

			<ul class="list-bullet">
				<li>
					<h3 class="heading-small">INFUND-5721</h3>
					<p>Revisit competition dashboard overview levels - consistency btw different states, open / closed / PSU etc</p>
					<ul class="list-bullet">
						<li>
							<a href="/prototypes/5721-dashboard">INFUND-5721</a> Create the open Competition Dashboard
						</li>
						<li>
							<a href="/prototypes/5721-dashboard?status=Closed">INFUND-5722</a> Create the closed competition dashboard
						</li>
						<li>
							<a href="/prototypes/5721-dashboard?status=assessment">INFUND-5723</a> Create the 'in assessment' competition dashboard
						</li>
						<li>
							<a href="/prototypes/5721-dashboard?status=panel">INFUND-5725</a> Create the panel dashboard
						</li>
						<li>
							<a href="/prototypes/5721-dashboard?status=Inform">INFUND-5726</a> Create the inform dashboard
						</li>

					</ul>
				</li>

				<li>
					<h3 class="heading-small">INFUND-1559</h3>
					<p>As comps team I want to action a mass removal of applications from assessors if they fail to accept before the a/r deadline so that I can reassign the applications to another assessor</p>
					<ul class="list-bullet">
						<li>
							<a href="/prototypes/5390-assessor-progress">INFUND-5841</a> Update to (5390) - add previously assigned table &amp; amend text
						</li>
						<li>
							<a href="/prototypes/5471-assign-to-application">INFUND-5842</a> Update to (5471) - add previously assigned table &amp; amend text
						</li>
					</ul>
				</li>
			</ul>
		</section>

		<section>

			<h2 class="heading-medium">Assessor account creation</h2>
			<ul class="list-bullet">
				<li>
					<h3 class="heading-small">INFUND-5697</h3>
					<p>Addition of a speed bump in the assessor journey</p>
					<ul class="list-bullet">
						<li>
							<a href="/prototypes/1360-assessor-invite-start?version=v3">INFUND-5742</a> Create a page to act as a speedbump in the assessor sign in journey
						</li>
					</ul>
				</li>
			</ul>
		</section>

		<section>
			<h2 class="heading-medium">Internal user - appplication admin</h2>

			<ul class="list-bullet">
				<li>
					<h3 class="heading-small">INFUND-5698</h3>
					<p>As a Comp Exec i need to be able to remove applications and not send them for assessment as they may not be eligible for funding.</p>
					<ul class="list-bullet">
						<li><a href="/prototypes/5698-admin-readonly-application">INFUND-5810</a> Create a new view for the application overview allowing the application to be removed</li>
						<li><a href="/prototypes/5698-draft-email">INFUND-5811</a> Create a a view allowing a draft email to be sent to the applicant</li>
						<li><a href="/prototypes/5698-removed-applications">INFUND-5812</a> Create an overview detailing removed applications</li>
						<li><a href="/prototypes/5698-admin-readonly-application?status=removed">INFUND-5813</a> Create a view allowing removed applications to be reinstated</li>
					</ul>
				</li>
        <li>
          <h3 class="heading-small">INFUND-5688</h3>
          <p>Sprint 17 support</p>
          <ul class="list-bullet">
            <li><a href="5698-admin-readonly-application">INFUND-5919</a> Link through to financial breakdown</li>
          </ul>
        </li>
			</ul>

		</section>

    <section>
      <h2 class="heading-medium">Internal pages</h2>

      <ul class="list-bullet">
        <li>
          <h3 class="heading-small">INFUND-3101</h3>
          <p>Work on the global header design for all internal views</p>
          <ul class="list-bullet">
            <li><a href="#">Internal page example</a></li>
          </ul>
        </li>
      </ul>

    </section>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: body-end" th:remove="tag" />
<div th:include="prototypes/fragments/layout :: prototype-js" th:remove="tag" />

</body>
</html>
