<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype index page'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />



	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='sprint11'"  th:remove="tag" />

	
	<section class="grid-row">
		<div class="row">
			<h1 class="heading-large">Sprint 11</h1>

			<section>
				
				<h2 class="heading-medium">Internal user</h2>

				<ul class="list-bullet">
					<li>
						<h3 class="heading-small">INFUND-1584</h3>
						<p>As a PFA I need to be able to communicate with all partners individually to ask for questions and clarifications around costs</p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/3616-dialog-system">INFUND-3616</a> Development of conversation mechanism for Internal team members
							</li>
						</ul>
					</li>
				</ul>

			</section>

			<section>
				
				<h2 class="heading-medium">Internal user - competition setup</h2>
				<ul class="list-bullet">
					<li>
						<a href="/prototypes/3115-comp-dashboard">INFUND-3115</a> Refinement of competitions dashboard - states and ordering
					</li>
					<li>
						<a href="/prototypes/2469-comp-setup">INFUND-3727</a> Create comp set up overview page to replace the tabs
					</li>
					<li>
						<a href="/prototypes/2469-comp-setup?compStatus=draft">INFUND-3727</a> Comp set up 'In preparation' example
					</li>
					<li>
						<a href="/prototypes/2469-comp-setup?compStatus=ready">INFUND-3727</a> Comp set up 'Ready to open' example
					</li>
					<li>
						<a href="/prototypes/2469-comp-setup?section=funding&#38;sectionId=2&#38;status=edit">INFUND-2812 </a>Create a Competition: Step 2: Additional Information
					</li>
					<li>
						<a href="/prototypes/2469-comp-setup?section=funding&#38;sectionId=2&#38;action=addCofunder">INFUND-2812 </a>Create a Competition: Step 2: Additional Information, with added co-funder
					</li>
					<li>
						<a href="/prototypes/2469-comp-setup?section=milestones">INFUND-2814</a> Create a Competition: Step 4: Milestones - added functionality to show all dates updating after submission date is added
					</li>
					<li>
						<a href="/prototypes/2469-comp-setup?section=application">INFUND-2835</a> Create a Competition: Step 6: Application form
					</li>
					<li>
						<h3 class="heading-small">INFUND-3115</h3>
						<p>Refinement of competitions dashboard - states and ordering</p>
						
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/3115-comp-dashboard">INFUND-3704</a> Link competitions dash from this level to show full prototype demo
							</li>
							<li>
								<a href="/prototypes/3115-comp-dashboard?section=setup">INFUND-3728</a> Add separate project set up tab
							</li>
							<li>
								<a href="/prototypes/3115-comp-dashboard?section=complete">INFUND-3730</a> Complete tab
							</li>
						</ul>

					</li>
				</ul>

			</section>

			<section>
				
				<h2 class="heading-medium">Partner</h2>

				<ul class="list-bullet">
					<li>
						<h3 class="heading-small">INFUND-2425</h3>
						<p>As a partner in Project Setup I want to be able to update my organisation's record with details from Companies House so that I can provide required information if this wasn't provided in my application</p>

						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1588-project-status?status=noCompHouse">INFUND-3624</a> PV tweaks to journey - project status page
							</li>
							<li>
								<a href="/prototypes/2537-partner-add-companies-house">INFUND-3624</a> PV tweaks to journey - provide companies house details
							</li>
							<li>
								<a href="/prototypes/2538-confirm-org">INFUND-3624</a> PV tweaks to journey - provide confirm org
							</li>
							<li>
								<a href="/prototypes/3626-email-company-update">INFUND-3236</a> Show emails generated when change made
							</li>
						</ul>

					</li>
				</ul>

			</section>

			<section>
				
				<h2 class="heading-medium">Assessor</h2>

				<ul class="list-bullet">
					<li>
						<a href="/prototypes/984-assessor-question9">INFUND-3632</a> Break out finances overview tables from question 9 
					</li>
					<li>
						<h3 class="heading-small">INFUND-3695</h3>
						<p>Get dynamic change into the comp dash</p>

						<ul class="list-bullet">
							<li>
								<a href="/prototypes/871-assessor-comp-dashboard">INFUND-3695</a> Default view of assessor dashboard
							</li>
							<li>
								<a href="/prototypes/868-accept-reject-application">INFUND-3695</a> Accept / reject
							</li>
							<li>
								<a href="/prototypes/871-assessor-comp-dashboard?status=accept">INFUND-3695</a> Accepted application on dashboard, shown as open
							</li>
							<li>
								<a href="/prototypes/871-assessor-comp-dashboard?status=reject">INFUND-3695</a> Rejected application removed from dashboard
							</li>
						</ul>

					</li>
					<li>
						<h3 class="heading-small">INFUND-3697</h3>
						<p>Show separate complete state of the assessment summary</p>
						
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/984-assessor-application-summary">INFUND-3697</a> Assessment summary - incomplete
							</li>
							<li>
								<a href="/prototypes/984-assessor-application-summar?status=complete">INFUND-3697</a> Assessment summary - complete
							</li>
						</ul>						
					</li>
				</ul>

			</section>

		</div>
	</section>

	<!-- END OFHARDCODED PROTOTYPE HTML -->



    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: body-end" th:remove="tag" />
<div th:include="prototypes/fragments/layout :: prototype-js" th:remove="tag" />

</body>
</html>