<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype index page'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />



	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='sprint14'"  th:remove="tag" />

	
	<section class="grid-row">
		<div class="row">
			<h1 class="heading-large">Sprint 14</h1>

			<section>
				
				<h2 class="heading-medium">Internal user - assessor management</h2>

				<ul class="list-bullet">
					
					<li>
						<h3 class="heading-small">INFUND-4607</h3>
						<p>Assessor management (invite / assign)</p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/4607-manage-assessors">INFUND-4737</a> Find assessors
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors?tab=invite">INFUND-4738</a> Invite assessors
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors-invite">INFUND-4739</a> Invite individual - edit email content
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors?tab=assign">INFUND-4740</a> Assign assessors
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors-assign?view=application&#38;number=10001000000&#38;application=The%20potential%20for%20glucose%20based%20contact%20lens%20monitoring%20in%20the%20management%20of%20type%202%20diabetes">INFUND-4741</a> Assign assessors to application
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors-assign?view=assessor&#38;name=Dave%20Smith">INFUND-4742</a> Assign application to assessor
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors-notify">INFUND-4743</a> Notify assessors confirmation page
							</li>
						</ul>
					</li>

					<li>
						<h3 class="heading-small">INFUND-4607 RC version</h3>
						<p>Assessor management (invite / assign)</p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/4607-manage-assessors-rc">INFUND-4737</a> Find assessors
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors-rc?tab=invite">INFUND-4738</a> Invite assessors
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors-rc?tab=assign">INFUND-4740</a> Assign assessors
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors-assign-rc?view=application&#38;number=10001000000&#38;application=The%20potential%20for%20glucose%20based%20contact%20lens%20monitoring%20in%20the%20management%20of%20type%202%20diabetes">INFUND-4741</a> Assign assessors to application
							</li>
							<li>
								<a href="/prototypes/4607-manage-assessors-assign-rc?view=assessor&#38;name=Dave%20Smith">INFUND-4742</a> Assign application to assessor
							</li>
						</ul>
					</li>

				</ul>

			</section>


			<section>
				
				<h2 class="heading-medium">Internal user - project set up</h2>

				<ul class="list-bullet">
					<li>
						<h3 class="heading-small">INFUND-4547</h3>
						<p>Project overview level page for bank details and spend profile (consistent with finance </p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/4547-review-all-bank-details">INFUND-4753</a> Create a view of the project level bank details(In Progress)
							</li>
							<li>
								<a href="/prototypes/4547-review-all-bank-details?status=accepted">INFUND-4754</a> Create a view of the project level bank details when all partners have been approved
							</li>
						</ul>
					</li>
					<li>
						<h3 class="heading-small">INFUND-4587</h3>
						<p>LT sign off on spend profile</p>
						<ul class="list-bullet">
							<li><a href="/prototypes/4422-internal-spend-profile">INFUND-4587</a> Update internal Other documents to reflect requirement for LT review</li>
						</ul>
					</li>
					<li>
						<h3 class="heading-small">INFUND-3586</h3>
						<p>Tweak project details to take off submission requirement</p>
						<ul class="list-bullet">
							<li><a href="/prototypes/1575-project-details">INFUND-4755</a> Update lead view to show finance checks as separate from project details</li>
							<li><a href="/prototypes/1575-finance-contact">INFUND-4756</a> Update finance contact for all partners to allow individual submission</li>
							<li><a href="/prototypes/1575-project-details?user=nonLead">INFUND-4757</a> Update partner view of project details</li>
							<li><a href="/prototypes/2850-internal-project-details?status=incomplete
">INFUND-4779</a> Creation of internal view of project details before all/any details have been submitted</li>
							<li><a href="/prototypes/2850-internal-project-details">INFUND-4780</a> Update of internal submitted project details</li>
						</ul>
					</li>
					
				</ul>
			</section>

			<section>

				<h2 class="heading-medium">General updates - project set up</h2>
				
				<ul class="list-bullet">
					<li>
						<h3 class="heading-small">INFUND-1883</h3>
						<p>As the PROT team we need to understand and map all processes involved in the project set up phase and assign states to these</p>
						<ul class="list-bullet">
							<li><a href="/prototypes/1199-project-finances?status=warning">INFUND-4758</a> Create a view of finance checks with over research </li>
							<li><a href="/prototypes/3100-spend?status=SubmittedByLead&#38;user=nonLead">INFUND-4763</a> View of spend profile of a partner after submission by the lead</li>
							<li><a href="/prototypes/1590-document-upload?status=submittedApproved">INFUND-4762</a> View of accepted other documents all partner view</li>
							<li><a href="/prototypes/2682-moderate-docs">INFUND-4782</a> Update - Other Documents - Internal - Review Documents</li>
							<li><a href="/prototypes/2682-moderate-docs?status=reject">INFUND-4783</a> Update - Other Documents - Internal - Rejected Documents</li>
							<li><a href="/prototypes/1590-document-upload?status=reject
">INFUND-4785</a> Update - Other documents - Lead partner - Rejected</li>
						</ul>
					</li>
				</ul>

			</section>
		</div>
	</section>

			
	<!-- END OFHARDCODED PROTOTYPE HTML -->



    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: body-end" th:remove="tag" />
<div th:include="prototypes/fragments/layout :: prototype-js" th:remove="tag" />

</body>
</html>