<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype index page'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />



	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='sprint16'"  th:remove="tag" />

	<h1 class="heading-large">Sprint 16</h1>

		<section>
			
			<h2 class="heading-medium">Internal user - Assessor invites and assessor management</h2>

			<ul class="list-bullet">
				<li>
					<h3 class="heading-small">INFUND-5062</h3>
					<p>Revise allocation prototypes to bring in line with IFS processes, terminology and design</p>
					<ul class="list-bullet">
						<li>
							<a href="/prototypes/5062-manage-assessors">INFUND-5254</a> Create a view allowing a comp exec to find assessors for a competition
						</li>
						<li>
							<a href="/prototypes/5062-manage-assessors?tab=invite">INFUND-5255</a> Create a view allowing a comp exec to invite assessors to a competition
						</li>
						<li>
							<a href="/prototypes/5062-manage-assessors?tab=overview">INFUND-5256</a> Create a view allowing a comp exec to manage assessors invited to a competition
						</li>
						<li>
							<a href="/prototypes/5385-application-allocation">INFUND-5385</a> Create view allowing a comp exec to view progress of assigning applications in a competition
						</li>
						<li>
							<a href="/prototypes/5386-assign-application">INFUND-5386</a> Create a view allowing assessors to assign assessors to a application
						</li>
						<li>
							<a href="/prototypes/5388-notify-assessors?status=incomplete">INFUND-5387</a> Create a view allowing assessors to notify assessors if assigning is not complete
						</li>
						<li>
							<a href="/prototypes/5388-notify-assessors">INFUND-5388</a> Create a view allowing assessors to notify assessors when assigning is complete
						</li>
						<li>
							<a href="/prototypes/5062-open-applications">INFUND-5478</a> Update view of all applications
						</li>
						<li>
							<a href="/prototypes/5062-submitted-applications?closed&#38;status=assessment">INFUND-5479</a> Update submitted view of applications
						</li>
						<li>
							<a href="/prototypes/5062-not-submitted-applications?closed&#38;status=assessment">INFUND-5480</a> Update view of unsubmitted applications
						</li>
					</ul>
				</li>
				<li>
					<h3 class="heading-small">INFUND-870</h3>
					<p>As a Competition Administrator I want to manually allocate a new assessor to an application when an appointed assessor declines so that I can have the correctly designated number of assessor for each application</p>
					<ul class="list-bullet">
						<li>
							<a href="/prototypes/5229-assessor-profile">INFUND-5229</a> Create a view allowing comp team to view details on assessors - <strong>UPDATE TRAINING SECTION ADDED</strong>
						</li>
						<li>
							<a href="/prototypes/5231-assessor-full-doi">INFUND-5231</a> Create a view of a Full DOI
						</li>
						<li>
							<a href="/prototypes/5470-manage-applications">INFUND-5470</a> Create a view allowing a comp exec to view application progress in a competition
						</li>
						<li>
							<a href="/prototypes/5471-assign-to-application">INFUND-5471</a> Create a view allowing a comp exec to view assessor progress on a application
						</li>
						<li>
							<a href="/prototypes/5472-assign-assessors">INFUND-5472</a> Create a view applications to be assigned by assessor
						</li>
						<li>
							<a href="/prototypes/5473-assign-assessors-progress">INFUND-5473</a> Create a view showing applications assigned to assessors
						</li>
					</ul>
				</li>
				<li>
					<h3 class="heading-small">INFUND-1558</h3>
					<p>As the comps team I want to track progress by assessor so that I can target those who have not completed more efficiently</p>
					<ul class="list-bullet">
						<li>
							<a href="/prototypes/5389-manage-assessors">INFUND-5389</a> Create a view allowing a comp exec to view assessor progress in a competition
						</li>
						<li>
							<a href="/prototypes/5390-assessor-progress">INFUND-5390</a> Create a view allowing a comp exec to view assessor progress on the applications they have been assigned
						</li>
					</ul>
				</li>
			</ul>

		</section>

		<section>
			<h2 class="heading-medium">Application refinements</h2>

			<ul class="list-bullit">
				<li>
					<h3 class="heading-small">INFUND-3644</h3>
					<p>Tackle the concept of resubmissions! Both from the comp set up perspective and applicant facing view</p>
					<ul class="list-bullet">
						<li>
							<a href="/prototypes/5452-application-details">INFUND-5452</a> Add resubmission question to application details page
						</li>
					</ul>
				</li>
				<li>
					<h3 class="heading-small">INFUND-4600</h3>
					<p>Sector competition application amendments</p>
					<ul class="list-bullet">
						<li>
							<a href="/prototypes/631-finances-assigned-to-you">INFUND-5093</a> Change to labour section of finances for all
						</li>
					</ul>
				</li>
			</ul>
		</section>
			
	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: body-end" th:remove="tag" />
<div th:include="prototypes/fragments/layout :: prototype-js" th:remove="tag" />

</body>
</html>