<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype index page'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />



	<!-- HARDCODED PROTOTYPE HTML -->

	<div th:include="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='sprint12'"  th:remove="tag" />

	
	<section class="grid-row">
		<div class="row">
			<h1 class="heading-large">Sprint 12</h1>

			<section>
				
				<h2 class="heading-medium">Internal user - project set up</h2>

				<ul class="list-bullet">
					
					<li>
						<h3 class="heading-small">INFUND-1199</h3>
						<p>As an internal user I want to access the finances or other details for each project </p>
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1199-project-finances">INFUND-3800</a> Create a view that allows applicants to view the overall project
							</li>
							<li>
								<a href="/prototypes/1199-project-finances-overview">INFUND-3989</a> Create a view of the overall finances for the project including all partners
							</li>
						</ul>
					</li>

					<li>
						<h3 class="heading-small">INFUND-1581</h3>
						<p>As an internal team member (project finance)  I need to review each partners project costs for eligibility</p>

						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1581-project-eligibility">INFUND-3802</a> Create a view that allows an individual partners costs to be reviewed
							</li>
							<li>
								<a href="/prototypes/1581-project-eligibility?status=approved">INFUND-3982</a> Create a view showing eligibility when it has been approved
							</li>
							<li>
								<a href="/prototypes/1581-changes-finances">INFUND-3983</a> Create a view showing the changes to finances from application
							</li>
						</ul>
					</li>

					<li>
						<h3 class="heading-small">INFUND-3601</h3>
						<p>As the finance team I need to review each partner for viability</p>

						<ul class="list-bullet">
							<li><a href="/prototypes/3601-viability">INFUND-3817</a> Create a view allowing the  Viability to be assesses and completed</li>
							<li><a href="/prototypes/3601-viability?compName=updated">INFUND-3817</a> Create a view allowing the  Viability to be assesses and completed - <strong>WHERE</strong> company name updated from orginal application</li>
							<li><a href="/prototypes/3601-viability?status=approved">INFUND-3984</a> Create a view of the viability after it has been approved</li>
							<li><a href="/prototypes/3601-viability?status=approved&#38;orgSizeGroup=Large">INFUND-3984</a> Create a view of the viability after it has been approved - <strong>WHERE</strong> organisation size has been changed</li>
						</ul>
					</li>
				</ul>

			</section>

			<section>
				
				<h2 class="heading-medium">Partner - project set up</h2>

				<ul class="list-bullet">
					<li>
						<h3 class="heading-small">INFUND-1585</h3>
						<p>As a partner I need to be able to respond to queries that PFA may have around my project costs</p>
						
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1588-project-status?stage=level2">INFUND-1588</a> Link through to finance checks from partner project setup page
							</li>
							<li>
								<a href="/prototypes/3813-finance-check-landing">INFUND-3813</a> Create a view that allows the partner to view queries from the internal team
							</li>
							<li>
								<a href="/prototypes/3985-partner-finances">INFUND-3985</a> Create a view allowing the partners to view their updated finances
							</li>
							<li>
								<a href="/prototypes/3986-view-finance-changes">INFUND-3986</a> Create a view allowing partners to view all changes to finances 
							</li>
							<li>
								<a href="/prototypes/1585-finances-overview">INFUND-1585</a> Create a view allowing partners to view finances overview 
							</li>
						</ul>

					</li>
				</ul>

			</section>


			<section id="assessor-invite">
				
				<h2 class="heading-medium">Assessor - Accept invitation and create account</h2>

				<ul class="list-bullet">
					<li>
						<h3 class="heading-small">INFUND-3557</h3>
						<p>Change steps order in assessor account creation</p>
						
						<ul class="list-bullet">
							<li>
								<a href="/prototypes/1360-assessor-email-invite">Assessor email invite</a>
							</li>
							<li>
								<a href="/prototypes/865-assessor-comp-invite">Assessor accepts or declines invite</a>
							</li>
							<li>
								<a href="/prototypes/4081-assessor-thank-you">INFUND-4081</a> Thank you email in response to assessor rejecting an invite
							</li>
							<li>
								<a href="/prototypes/1360-assessor-invite-start">Assessor accepts and creates account</a>
							</li>
							<li>
								<a href="/prototypes/1176-assessor-create-acc">Create account - basic details</a>
							</li>
							<li>
								<a href="/prototypes/1177-assessor-skills">INFUND-4086</a> Create account - skills, Remove the checkboxes from innovation area and show the one selected area
							</li>
							<li>
								<a href="/prototypes/1247-assessor-doi">INFUND-4087</a> Declaration of Interest (DOI) - Add y/n questions into DOI to make clearer
							</li>
							<li>
								<a href="/prototypes/1176-assessor-contracts">INFUND-4088</a> Terms and conditions - extra line of explanation 
							</li>
							<li>
								<a href="/prototypes/865-assessor-dashboard-invites?accepted=yes">Dashboard showing competition</a>
							</li>
							<li>
								<a href="/prototypes/4083-upcoming-comp">INFUND-4083</a> Upcoming competition
							</li>
							<li>
								Sign in 
							</li>
							<li>
								<a href="/prototypes/865-assessor-dashboard-invites">Assessor dashboard</a>
							</li>


						</ul>


					</li>
				</ul>

			</section>

		</div>
	</section>

	<!-- END OFHARDCODED PROTOTYPE HTML -->



    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: body-end" th:remove="tag" />
<div th:include="prototypes/fragments/layout :: prototype-js" th:remove="tag" />

</body>
</html>