<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype tabs'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.css" />
    <style>
      code{
        border: none;
      }
    </style>
</head>
<body>


<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">

  <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<div th:include="prototypes/fragments/applicant-view :: prototype-subheader('Prot component library', '/prototypes/prot-styles')" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->

  <h1 class="heading-large">
    <span class="heading-secondary">IFS elements</span>
    Tabs
  </h1>

  <th:block th:include="prototypes/fragments/prot-elements :: prot-snippet('tabs')"  />

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.js"></script>

<script type="text/javascript">
  // <![CDATA[
  $(document).ready(function() {

    //  Move this to ifsCoreLoader once tested
    //  Simple ARIA tab interface original code by @Heydonworks altered by Worth Systems
    //  http://heydonworks.com/practical_aria_examples/#tab-interface
    //-----------------------------------------------------------------------------
    IFS.core.tabInterface = (function() {
      "use strict";
      var settings; // private alias to settings

      return {
        settings: {
          tabContainer: '.tab-interface',
          tabScreenSize: 640
        },
        init: function () {
          settings = this.settings;

          // Check screen width
          IFS.core.tabInterface.checkScreenWidth();

          // Handle screen resize
          $(window).on('resize', function () {
            IFS.core.tabInterface.checkScreenWidth();
          });

          // Change focus between tabs with arrow keys
          $('body').on('keydown', '[role="tab"]', function (e) {
            IFS.core.tabInterface.changeFocus(e, $(this));
          });

          // Handle click on tab to show + focus tabpanel
          $('body').on('click', '[role="tab"]', function (e) {
            IFS.core.tabInterface.handleClick(e, $(this));
          });
        },
        checkScreenWidth: function() {
          var windowWidth = $(window).width();
          // Check screen width and apply collapsible functionality for mobile and tabs functionality for everything else
          if(windowWidth > settings.tabScreenSize ) {
            // Setup the tab html
            IFS.core.tabInterface.initTabHTML();
          } else {
            // Setup the collapsible html
            IFS.core.tabInterface.initCollapsibleHTML();
          }
        },
        initTabHTML: function() {
          // The setup
          $(settings.tabContainer +' > ul').attr('role','tablist').show();
          $(settings.tabContainer +' [role="tablist"] li').attr('role','presentation');
          $(settings.tabContainer +' section').removeClass('collapsible');
          $(settings.tabContainer +' section h2 button').contents().unwrap();
          $(settings.tabContainer +' section div').removeAttr('aria-hidden');
          $('[role="tablist"] a').attr({
            'role' : 'tab',
            'tabindex' : '-1'
          });

          // Make each aria-controls correspond id of targeted section (re href)
          $('[role="tablist"] a').each(function() {
            $(this).attr(
              'aria-controls', $(this).attr('href').substring(1)
            );
          });

          // Make the first tab selected by default and allow it focus
          $('[role="tablist"] li:first-child a').attr({
            'aria-selected' : 'true',
            'tabindex' : '0'
          });

          // Make each section focusable and give it the tabpanel role
          $(settings.tabContainer +' section').attr({
            'role' : 'tabpanel'
          });

          // Make first child of each panel focusable programmatically
          $(settings.tabContainer +' section > *:first-child').attr({
            'tabindex' : '0'
          });

          // Make all but the first section hidden (ARIA state and display CSS)
          $('[role="tabpanel"]:not(:first-of-type)').attr({
            'aria-hidden' : 'true'
          });
        },
        changeFocus: function(e, element) {
          // define current, previous and next (possible) tabs
          var $original = $(element);
          var $prev = $(element).parents('li').prev().children('[role="tab"]');
          var $next = $(element).parents('li').next().children('[role="tab"]');
          var $target;

          // find the direction (prev or next)
          switch (e.keyCode) {
            case 37:
              $target = $prev;
              break;
            case 39:
              $target = $next;
              break;
            default:
              $target = false;
              break;
          }

          if ($target.length) {
            $original.attr({
              'tabindex' : '-1',
              'aria-selected' : null
            });
            $target.attr({
              'tabindex' : '0',
              'aria-selected' : true
            }).focus();
          }

          // Hide panels
          $(settings.tabContainer +' [role="tabpanel"]').attr('aria-hidden', 'true');

          // Show panel which corresponds to target
          $('#' + $(document.activeElement).attr('href').substring(1)).attr('aria-hidden', null);
        },
        handleClick: function(e, element) {
          e.preventDefault();

          var instance = $(element);

          // remove focusability [sic] and aria-selected
          $('[role="tab"]').attr({
            'tabindex': '-1',
            'aria-selected' : null
          });

          // replace above on clicked tab
          instance.attr({
            'aria-selected' : true,
            'tabindex' : '0'
          });

          // Hide panels
          $(settings.tabContainer +' [role="tabpanel"]').attr('aria-hidden', 'true');

          // show corresponding panel
          $('#' + instance.attr('href').substring(1)).attr('aria-hidden', null);
        },
        initCollapsibleHTML: function() {
          var index = 0;
          var id = '';   // create unique id for a11y relationship

          //Only add the markup if its not already there
          if(!$(settings.tabContainer +' section').first().hasClass('collapsible')) {
            $(settings.tabContainer +' section').addClass('collapsible').removeAttr('aria-hidden');
            // TODO when we refactor this into the main app code this could be incorporated into the collapsible.js
            //IFS.core.collapsible.init();
            $(settings.tabContainer + ' section').each(function() {
              id = 'collapsible-' + index;
              // wrap the content and make it focusable
              $(this).find('div').attr('aria-hidden', true).attr('id', id);
              // Add the button inside the <h2> so both the heading and button semantics are read
              $(this).find('h2').wrapInner('<button aria-expanded="false" aria-controls="'+ id +'" type="button">');
              index++;
            });
            $('body').on('click', '.collapsible > h2 >  [aria-controls], .collapsible > h3 >  [aria-controls]' , function() {
              IFS.core.tabInterface.toggleCollapsible(this);
            });
          }
        },
        toggleCollapsible: function(el) {
          var inst = $(el);
          var panel = inst.find('div');
          var state = inst.find('button').attr('aria-expanded') === 'false';
          //toggle the current
          inst.find('button').attr('aria-expanded', state);
          panel.attr('aria-hidden', !state);
        }
      }
    })();

    // Mimic the core loader
    IFS.core.tabInterface.init();
  });
  // ]]>
</script>
</body>
</html>
