<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Prototype styleguide'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>


<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">

  <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<!-- <div th:include="prototypes/fragments/applicant-view :: prototype-subheader('Application questions', '/prototypes/5085-application-process')" th:remove="tag" /> -->

	<!-- HARDCODED PROTOTYPE HTML -->
  <h1 class="heading-xlarge no-margin-bottom">Prot component library</h1>

  <p class="lede">Prot reference guide for custom styling and components</p>

  <h2 class="heading-large">Existing gov.uk style guides</h2>

  <ul class="list list-bullet">
    <li><a href="http://govuk-elements.herokuapp.com/">gov.uk elements</a></li>
    <li><a href="http://hmrc.github.io/assets-frontend/section-accordion.html">HMRC</a></li>
    <li><a href="http://rural-payments-styleguide.herokuapp.com/">RPA</a></li>
    <li><a href="http://land-registry-elements.herokuapp.com/">Land registry</a></li>
    <li><a href="http://alphagov.github.io/digitalmarketplace-frontend-toolkit/">Digital marketplace</a></li>
  </ul>

  <h2 class="heading-large">IFS elements</h2>

  <p>The patterns listed have been indentified for update based on <a href="https://devops.innovateuk.org/documentation/display/IFS/GDS+Patterns">front end design review</a></p>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-tasks">Task lists</a></h2>
      <p>List showing status of a list of items</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-progress">Progress lists</a></h2>
      <p>List showing progress of individual items</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-form-actions">Custom form actions</a></h2>
      <p>Done, Edit, Save and Return, Mark as complete</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-tables">Tables</a></h2>
      <p>Including filtering and sort options, and actions</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-search">Search</a></h2>
      <p>Positioning and styling</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-accordians">Accordians</a></h2>
      <p>Expandable panels used in finance sections</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-tabs">Tabs</a></h2>
      <p>Front door and admin pages</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-dashboard">Dashboard buttons</a></h2>
      <p>Custom admin dashboard styling</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-read-only-forms">Read only forms</a></h2>
      <p>Read only states for form elements</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-panels">Warning and info panels</a></h2>
      <p>Providing dialog to the user</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium no-margin"><a href="/prototypes/prot-styles-file-upload">File upload</a></h2>
      <p>Uploading a file</p>
    </div>
  </div>
	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
<script type="text/javascript">

</script>
</body>
</html>
