<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'"  />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.css" />
    <style>
      code{
        border: none;
      }
    </style>
</head>
<body>


<th:block th:insert="prototypes/fragments/layout :: prototype-nav"  />
<th:block th:insert="fragments/layout :: body-start"    />
<th:block th:insert="fragments/layout :: global-header" />

<main id="content">

  <th:block th:insert="fragments/layout :: main-content-start"    />
	<th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader('Prot component library', '/prototypes/prot-styles')"  />

	<!-- HARDCODED PROTOTYPE HTML -->

  <pre>
    <code class="language-markup">
      <xmp>

        <div class="grid-row">
          <div class="column-one-half">
            <p>Content</p>
          </div>
          <div class="column-one-half">
            <p>Content</p>
          </div>
        </div>

      </xmp>
    </code>
  </pre>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end"    />
</main>

<th:block th:insert="fragments/layout :: footer"    />
<th:block th:insert="fragments/layout :: body-end"    />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.js"></script>

<script type="text/javascript">
	// <![CDATA[

	// ]]>
</script>
</body>
</html>
