<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Dual user choice'" />
    </head>

    <body class="app-overview">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" th:with="hideDashboardLink='true'" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />

            <div class="error-summary" th:if="${#fields.hasErrors('${form.*}')}">
                <h2 class="heading-medium error-summary-heading">We were unable to log you in to your account</h2>
                <ul class="error-summary-list">
                    <li th:each="err : ${#fields.errors('${form.*}')}" th:text="${err}"></li>
                </ul>
            </div>
            <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Sign in successful',size='heading-xlarge'" />
            <p>Thank you for signing into the Innovation Funding Service.</p>

            <form th:action="@{/roleSelection}" method="post" th:object="${form}" class="extra-margin">

                <div class="form-group" th:classappend="${#fields.hasErrors('selectedRole')}? error">
                    <fieldset class="inline">
                        <legend class="heading-medium">
                            <span class="heading-small">Please choose the role you are signing in as today</span>
                            <span th:if="${#fields.hasErrors('selectedRole')}" th:remove="tag">
                                <span class="error-message" th:each="err : ${#fields.errors('selectedRole')}" th:text="${err}"/>
                            </span>
                        </legend>
                        <label class="block-label selection-button-radio" th:each="role : ${model.ACCEPTED_ROLES}">
                            <input th:field="*{selectedRole}" th:value="${role}" type="radio" required="required" th:attr="data-required-errormessage=#{validation.standard.role.required}" />
                            <span th:text="${role.displayName}" th:remove="tag" />
                        </label>
                    </fieldset>
                </div>

                <button type="submit" class="button" id="continue">Continue</button>
            </form>

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
