<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Forgotten password'" cache:name="Forgotten-password" />
</head>
<body th:with="context='applicant'" class="sign-in">

<th:block th:insert="fragments/layout :: body-start"  cache:name="body-start" />
<th:block th:insert="fragments/layout :: global-header"  cache:name="global-header" />

<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start"  cache:name="main-content-start" />

    <div class="page-title">
          <h1 class="heading-xlarge no-margin-bottom">Forgotten password</h1>
    </div>
    <p>If your email address is recognised, you’ll receive an email with instructions about how to reset your password.</p>

    <th:block th:insert="fragments/layout :: main-content-end"  cache:name="main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer"  cache:name="footer" />
<th:block th:insert="fragments/layout :: body-end"  cache:name="body-end" />
</body>
</html>
