<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Forgotten password',hasFormErrors=${#fields.hasErrors('${resetPasswordRequestForm.*}')}" />
</head>
<body class="govuk-template__body sign-in">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Forgotten password',size='govuk-heading-xl'" />

        <p class="govuk-body">
          Forgotten your password? If you have an Innovation Funding Service account, please enter the email address you used to create the account.
          We will send a password reset link to this email address which will allow you to create a new password.
        </p>
        <form id="forgotten-password-form"
              th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}"
              th:object="${resetPasswordRequestForm}" method="POST" novalidate="novalidate">
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('email')} ? 'govuk-form-group--error'">
                <label class="govuk-hint" for="email">
                    Enter email address
                </label>
                <th:block th:if="${#fields.hasErrors('email')}">
                    <span class="govuk-error-message"  th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                </th:block>
                <input class="govuk-input form-control-3-4"
                       id="email"
                       th:errorclass="govuk-input--error"
                       type="email"
                       th:field="*{email}"
                       required="required"
                       th:attr="data-required-errormessage=#{validation.standard.email.required},
                                data-email-errormessage=#{validation.standard.email.format}" />
            </div>
            <button id="forgotten-password-cta" class="govuk-button" type="submit">Send password reset email</button>
        </form>


        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />
</body>
</html>
