<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle=${title}" />
</head>
<body class="error" th:attrappend="class='${errorMessageClass}'">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />

    <h1 class="heading-large" th:text="${title}">Page title</h1>

    <p th:if="${url}">
        <b>Page:</b> <span th:text="${url}">Page URL</span>
    </p>

    <div class="boxed">
		<span>
            <p th:text="${messageForUser}" th:remove="tag">An unexpected error occurred.</p>
            You can choose to <a th:href="@{/registration/resend-email-verification}">send a new verification link</a> by e-mail or go back to the <a href="https://www.gov.uk/government/organisations/innovate-uk">Innovate UK homepage</a>.
        </span>
    </div>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
