<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Competition Details'" th:remove="tag" />
</head>
<body th:with="context='applicant'" class="competition-details">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

    <div class="page-title">
        <h1 class="heading-xlarge" th:text="${'Funding competition: '+currentCompetition.name}" />
    </div>

    <div class="grid-row">
        <div th:class="${#authorization.expression('isAuthenticated()')  ? 'column-half' : 'column-two-thirds'}">
            <p>Innovate UK are to invest up to &pound;4.5 million in collaborative research and development. The focus of this competition is to stimulate development in the commercial growth of additive manufacturing, which is also known as 3D printing.</p>
        </div>
        <div th:class="${#authorization.expression('isAuthenticated()')  ? 'column-half' : 'column-third'}">
            <div th:include="competition/fragments :: apply-button" th:remove="tag" />
        </div>
    </div>
    <h2 class="heading-large">Summary</h2>
    <div class="grid-row">
        <div class="column-third">
            <dl>
                <dt class="font-small">Competition opens:</dt>
                <dd th:text="${#temporals.format(currentCompetition.startDate, 'd MMM yyyy')}" />

                <dt class="font-small extra-margin">Registration closes:</dt>
                <dd>12:00PM 20 July 2016</dd>

                <dt class="font-small extra-margin">Competition closes:</dt>
                <dd th:text="${#temporals.format(currentCompetition.endDate, 'dd MMM yyyy')}" />
            </dl>
            <h2 class="heading-small">Eligibility:</h2>
            <ul class="list-bullet">
              <li>a UK-based business must lead the project</li>
              <li>you must carry out your project in the UK</li>
              <li>you must work with at least one other business on this project</li>
              <li>research partners may participate as collaborators</li>
              <li>your innovation project must last no more than 3 years</li>
              <li>your innovation project must focus on industrial research</li>
            </ul>
        </div>
        <div class="column-two-thirds">
            <p>We are looking to help businesses overcome barriers to commercial growth in additive manufacturing. Proposals must encourage and support businesses to develop their wider digital manufacturing capability.</p>
            <ul class="list-bullet">
                <li><a rel="external" target="_blank" href="https://www.gov.uk/government/publications/funding-competition-connected-digital-additive-manufacturing/connected-digital-additive-manufacturing-competition-brief">full competition brief</a></li>
            </ul>
            <p>Projects must also be able to show an innovative step in both additive manufacturing and connected digital manufacturing.</p>
            <p>If you are a small or micro business, you could receive up to 70% of your eligible project costs. If you are a medium-sized business you could get up to 60%, or 50% if you are a large business.</p>
            <p>Projects must range in size from &pound;500,000 to £1.5 million.</p>
            <p>If you are a business, you can invite research organisations to work with you on your project.</p>
            <p>There will be a briefing event for potential applicants on 7 June 2016.</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">Background</h2>
            <p>Additive manufacturing is a process that converts 3D design data into manufacturing instructions. It is game-changing technology that offers huge potential for UK businesses but there are barriers to growth. Recent research and other technology advances can help to resolve some of these barriers.</p>
            <p>Globally the market for additive manufacturing products was worth &#36;4.1 billion in 2014 and this figure is growing annually by 35%. We estimate that the UK can win around 5% of this market. It’s a market that is set to reach &pound;70 billion by 2025.</p>
            <p>Innovate UK has already invested over &pound;30 million in additive manufacturing projects. This new competition is looking to address some of the remaining technical challenges.</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">Before you apply</h2>
            <p>Before you apply for a competition you must first create an account. If you already have an account you'll need to sign in.</p>
            <div th:include="competition/fragments :: apply-button" th:remove="tag" />
            <span class="form-hint">Closing date: <span th:remove="tag" th:text="${#temporals.format(currentCompetition.endDate, 'dd MMM yyyy')}" /></span>
        </div>
    </div>


    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

</body>
</html>
