<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Competition Overview'" />
</head>
<body th:with="context='applicant'" class="competition-overview">
    <th:block th:insert="fragments/layout :: global-header" />

    <th:block th:insert="fragments/layout :: body-start" />
    <main tabindex="-1" id="content">
        <th:block th:insert="fragments/layout :: main-content-start" />
        <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Back to all competitions',linkClass='link-back',linkUrl='/competition/search'" />

        <p class="subtitle">Funding competition</p>
        <h1 class="heading-large no-margin" th:text="${model.competitionTitle}"></h1>

        <p class="wysiwyg-styles" ifs:utext="${model.shortDescription}"></p>

        <ul class="list">
            <li><strong>Competition opens:</strong> <span th:text="${#temporals.format(model.competitionOpenDate, 'EEEE d MMMM yyyy')}"></span></li>

            <li th:unless="${model.nonIfs}" th:with="date=${#temporals.format(model.competitionCloseDate, 'EEEE d MMMM yyyy')},
                         time=${#strings.toLowerCase(#temporals.format(model.competitionCloseDate, ' h:mma'))}">
                <strong>Competition closes:</strong> <th:block th:text="${date + ' ' + time}"/></li>

            <li th:if="${model.nonIfs}" th:with="date=${#temporals.format(model.registrationCloseDate, 'EEEE d MMMM yyyy')},
            time=${#strings.toLowerCase(#temporals.format(model.competitionCloseDate, ' h:mma'))}">
                <strong>Registration closes:</strong> <th:block th:text="${date + ' ' + time}"/></li>

        </ul>
        <div>
            <div th:if="${model.showNotOpenYetMessage}" class="warning-alert">
                This competition has not yet opened.
            </div>
            <div th:if="${model.showClosedMessage}" class="warning-alert">
                This competition is now closed.
            </div>
            <th:block>
                <p class="extra-margin-top">
                    <a class="button disabled" aria-disabled="true"
                       th:if="${model.disableApplyButton}"
                       th:text="${model.applyButtonText}">
                    </a>
                    <a class="button"
                       th:unless="${model.disableApplyButton}"
                       th:href="${model.applyButtonUrl}"
                       th:text="${model.applyButtonText}">
                    </a>
                </p>
                <p class="extra-margin" th:if="${model.showSignInText}">
                    <th:block th:unless="${model.userIsLoggedIn}">
                        Or <a th:href="@{/}" >sign in</a> to continue an existing application.
                    </th:block>
                    <th:block th:if="${model.userIsLoggedIn}">
                        Or go to <a th:href="@{/}">your dashboard</a> to continue an existing application.
                    </th:block>
                </p>
            </th:block>
        </div>

        <div id="competition-overview-tabs" class="tabs">
            <ul>
                <th:block th:each="sectionType : ${model.allSections}">
                    <li>
                        <a th:href="${'#' + sectionType.path}" th:text="${sectionType.text}"></a>
                    </li>
                </th:block>
            </ul>
            <th:block th:each="section : ${model.allSections}">
                <th:block th:insert="competition/section/fragments :: ${section.path} (section=${section}, competitionId=${model.competitionId})"/>
            </th:block>
        </div>

        <div th:insert="fragments/layout :: main-content-end" th:remove="tag" />
    </main>

    <th:block th:insert="fragments/layout :: footer" />
    <th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
