<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/layout :: head" th:with="pageTitle='Innovation competitions'" />
</head>
<body th:with="context='applicant'" class="public-content">
    <th:block th:include="fragments/layout :: body-start" />
    <th:block th:include="fragments/layout :: global-header" />
    <main tabindex="-1" id="content">
        <th:block th:include="fragments/layout :: main-content-start" />

        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Innovation competitions',size='heading-large'" />

        <p>Browse upcoming and live competitions. Find out when new competitions are launched by <a href="http://info.innovateuk.org/emailpref">signing up for competition updates</a>.</p>
        <div class="grid-row">
            <div class="column-third">
                <form method="GET">
                    <div class="form-group">
                        <fieldset>
                            <legend>
                                Filter competitions
                            </legend>
                            <hr class="no-margin" />
                            <div class="form-group extra-margin">
                                <label class="form-label" for="keywords">Keywords</label>
                                <input th:value="${model.searchKeywords}" class="form-control width-full" id="keywords" name="keywords" type="text" />
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="innovation-area">Innovation area</label>
                                <select class="form-control width-full" id="innovation-area" name="innovationAreaId">
                                    <option value="" >Any</option>
                                    <option th:each="(innovationArea : ${model.innovationAreas})" th:text="${innovationArea.name}" th:attr="selected=${innovationArea.id.equals(model.selectedInnovationAreaId) ? 'selected' : null}" th:value="${innovationArea.id}">Innovation Area</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="button">Update results</button>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div class="column-two-thirds">
                <p class="no-margin" th:text="${model.totalResults == 1 ? '1 competition' : model.totalResults+' competitions' }"></p>
                <th:block th:if="${model.totalResults == 0}">
                    <div class="extra-margin-bottom">
                        <h2 class="heading-large">Please try:</h2>
                        <ul class="list list-bullet">
                            <li>searching again using different words</li>
                            <li>removing your filters</li>
                        </ul>
                    </div>
                </th:block>
                <hr class="no-margin-top" />
                <ul th:unless="${model.totalResults == 0}">
                   <li th:each="(publicContentItem, iteration : ${model.publicContentItems})">
                       <h2 class="heading-medium no-margin-top extra-margin-bottom">
                           <a th:text="${publicContentItem.competitionTitle}" th:href="@{/competition/{competitionId}/overview(competitionId=${publicContentItem.publicContentResource?.competitionId})}">Competition title</a>
                       </h2>
                       <p class="wysiwyg-styles" ifs:utext="${publicContentItem.publicContentResource?.shortDescription}">Description of the competition</p>
                       <dl class="standard-definition-list">
                            <dt>Eligibility:</dt>
                            <dd class="wysiwyg-styles" ifs:utext="${publicContentItem.publicContentResource?.eligibilitySummary}"></dd>
                            <dt>Opens:</dt>
                            <dd th:text="${#temporals.format(publicContentItem.competitionOpenDate, 'd MMMM yyyy')}" />
                            <dt>Closes:</dt>
                            <dd th:text="${#temporals.format(publicContentItem.competitionCloseDate, 'd MMMM yyyy')}" />
                        </dl>
                        <hr th:unless="${iteration.last}"/>
                    </li>
                </ul>
                <ul class="pagination" th:if="${model.hasPreviousPage() || model.hasNextPage()}">
                    <li th:if="${model.hasPreviousPage()}" class="prev">
                        <a th:href="'?' + ${model.previousPageLink}" rel="prev" title="Navigate to previous part">
                            <span class="pagination-label">Previous</span>
                            <span class="pagination-part-title"><th:block th:text="${model.previousPageStart}"/> to <th:block th:text="${model.previousPageEnd}"/></span>
                        </a>
                    </li>
                    <li th:if="${model.hasNextPage()}" class="next">
                        <a th:href="'?' + ${model.nextPageLink}" rel="next" title="Navigate to next part">
                            <span class="pagination-label">Next</span>
                            <span class="pagination-part-title"><th:block th:text="${model.nextPageStart}"/> to <th:block th:text="${model.nextPageEnd}"/></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
    <th:block th:insert="fragments/layout :: footer" />
    <th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
