<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Join an application'" />
</head>
<body th:with="context='applicant'" class="create-application-eligibility">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />

    <div class="page-title">
        <h1 class="heading-xlarge">Join an application</h1>
        <p>You have been invited to join an application in the competition '<th:block th:text="${invite.competitionName}" />'.</p>
    </div>

    <div class="grid-row">
        <section class="column-half">
            <div th:unless="${emailAddressRegistered}">
                <h1 class="heading-large">New to this service?</h1>

                <p>If you haven’t used this service before you must <a th:href="@{'/organisation/create/type/new-account-organisation-type'}">create an account</a>,
                    even if you already have an existing account with Innovate UK.</p>

                <p>When you create an account you can:</p>
                <ul class="list list-bullet">
                    <li>apply for a competition</li>
                    <li>track your competition applications</li>
                    <li>view application feedback</li>
                    <li>set up successful projects</li>
                </ul>

                <a th:href="@{${createAccountLink}}" class="button" value="create-account" type="submit">Create</a>
            </div>
            <div th:if="${emailAddressRegistered}">
                <p>You already have an account with us. Please sign in with your existing account.</p>
                <p><a href="/accept-invite-authenticated/confirm-invited-organisation">Sign into the Innovation Funding Service.</a></p>
            </div>
        </section>
        <section class="column-half">
        </section>
    </div>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
