<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Accept Invite'" />
</head>
<body th:with="context='applicant'" class="create-application-eligibility">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />

    <h1 class="heading-large">Confirm your organisation</h1>
    <p>The lead applicant has invited you to participate on this application as part of the following organisation:
        <strong th:text="${model.partOfOrganisation}"></strong></p>

    <h2 class="heading-medium no-margin-bottom">Confirm your organisation details are correct</h2>
    <fieldset>
        <div class="form-block">
            <h3 class="heading-small">Organisation type</h3>
            <p th:text="${model.organisationType}"></p>
            <h3 class="heading-small">Registered name</h3>
            <p th:text="${model.registrationName}"></p>
            <th:block th:if="${model.registrationNumberNotEmptyAndNotResearch}">
                <h3 class="heading-small">Registration number</h3>
                <p th:text="${model.registrationNumber}"></p>
            </th:block>
            <div>
                <h3 class="heading-small">Registered Address</h3>
                <div th:text="${model.organisationAddress?.addressLine1}"></div>
                <div th:text="${model.organisationAddress?.addressLine2}"></div>
                <div th:text="${model.organisationAddress?.addressLine3}"></div>
                <div th:text="${model.organisationAddress?.town}"></div>
                <div th:text="${model.organisationAddress?.county}"></div>
                <div th:text="${model.organisationAddress?.postcode}"></div>
            </div>
        </div>
    </fieldset>

    <p>If this is not the correct organisation, please <a th:href="${'mailto:'+ model.emailLeadApplicant}">email the lead applicant</a>.</p>
    <p><strong>Please note</strong>, if you are representing a different organisation then you will need to make a new account.</p>

    <a th:href="${model.registerUrl}" class="button button-large extra-margin">Confirm and continue</a>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
