<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Account verified'" th:remove="tag"/>
</head>
<body class="create-application-eligibility">

<div th:include="fragments/layout :: body-start" th:remove="tag"/>
<div th:include="fragments/layout :: global-header" th:remove="tag"/>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag"/>

    <div class="page-title">
      <h1 class="heading-xlarge no-margin">Account verified</h1>
    </div>
    <p>Your account has been successfully verified. You can now sign in using the email and password you registered with.</p>
    <a th:href="${userDashboardLink}" class="button">Sign in</a>

    <div th:include="fragments/layout :: main-content-end" th:remove="tag"/>
</main>

<div th:include="fragments/layout :: footer" th:remove="tag"/>
<div th:include="fragments/layout :: body-end" th:remove="tag"/>
</body>
</html>
