.textarea-wrapped {
    position: relative;

    .textarea-header {
        padding: 20px 0 5px 10px;
        text-align:left;
    }

    &.assigned-to-me{
		border: 2px solid $link-colour;
		 .textarea-header {
			padding-left: 60px;
		}
	}

	&.marked-as-complete{
		 .textarea-header {
			padding-left: 60px;
		}
	}
}

.textarea-footer{
	button{
		vertical-align: top;
	}
	.assign-button{
		padding-top: 6px;
	}
}

/*----- Inline form elements for academic finances ----*/

.form-inline{

	.form-group{
		margin-bottom: 20px;

		&.underline{
			border-bottom: 1px solid $black;
			margin-top: 10px
		}

		&.border-top-bottom{
			border-bottom: 1px solid $black;
			border-top: 1px solid $black;
			margin-top: 10px;
			margin-bottom: 20px;
			padding: 20px 0;
		}

		&.totals{
			border: 1px solid $border-colour;
			background: $panel-colour;
			padding: 10px 5px;

			.form-control{
				border: none;
				background: none;
				font-weight: bold;
			}
		}

	}

	.form-label{
		float: left;
		width: 30%;
		margin-right: 20px;
		padding-top: 5px;
	}

	.form-control{
		float: left;
	}
}