.list-overview{
	
	margin-left: 0;
    padding: 0;
    list-style-type: none;

    li{
    	border-bottom: 1px solid $border-colour;

        &:first-child{
           border-top: 1px solid $border-colour; 
        }
    }

    .grid-row{
    	//overflow: auto;
    	//margin: 2px 0 2px 0;
    	//border-left: 5px solid red;
    	min-height: 30px;

    	&:after{
			height: 0;
		}

		h3{
			padding: 10px 0px 10px 20px;

			&.heading-small{
				margin: 0;
			}
		}

		.column-third{
			padding: 12px 0 0 20px;
            @include media-down(mobile) {
                padding: 0 0 10px 35px;
            }
		}
    }

    .assigned-to-me{
    	.grid-row{
    		//border-left: 5px solid $light-blue; 
    		//@extend %icon-assigned;
    	}
    }

    .assign-container{
    	
    	font-size: 14px;

    	.assign-team{
    		//position: static;
    		margin-top: 0;
    		margin-bottom: 10px;
    	}

    	li{
    		border: none;
    	}
    }

    .marked-as-complete {
		@extend %mark-done-right;
		background-position: right top;
		background-size: 30px;
	}

	.assigned-to-me {
		@extend %mark-assigned-right;
		background-position: right top;
		background-size: 30px;
	}
}

.application-overview{
    margin-bottom: 30px;
}


/*-------- Companies House results panel example -------------*/

li.type-company{
    padding: 0 0 25px 0;

    .meta.crumbtrail{
        margin: 0;
        padding: 0;
    }
}

/*----- Standard definition list ----*/

.standard-definition-list{
    overflow: auto;
    @include core-19;

    dt{
        display: block;
        float: left;
        width: 50%;
        margin-bottom: 0.5em;

        @include media-down(tablet) {
            width: 70%;
        }
    }

    dd{
        display: block;
        float: left;
        font-weight: bold;
        margin-bottom: 0.5em;

        &.warning{
            color: $red;
        }

        & + dt{
            clear: both;
        }
    }
}

/*----- Eligibility criteria for finances ----*/

.eligibility{
    border: 1px solid $border-colour;
    padding: 20px 20px 10px 20px;

    &-warning{
        border: 1px solid $red;
    }
}

.list-eligibility{
    overflow: auto;
    @include core-24;

    dt{
        display: block;
        float: left;
        width: 50%;
        margin-bottom: 0.5em;

        @include media-down(tablet) {
            width: 70%;
        }
    }

    dd{
        display: block;
        float: left;
        font-weight: bold;
        margin-bottom: 0.5em;

        &.warning{
            color: $red;
        }

        & + dt{
            clear: both;
        }
    }
}

/*----- Comp admin lists ----*/

.comp-timeline-status{
    li{
        border-top: 1px solid $secondary-text-colour;
        color: $secondary-text-colour;

        h3{
            margin: 10px 0 0 0;
        }

        p{
            margin: 0 0 10px 0;
        }

        &:first-child{
            border-top: none;
        }

        &.done{
            border-top: 1px solid $text-colour;
            color: $text-colour;
            @extend %icon-tick;
            background-position: right 50%;

            &:first-child{
                border-top: none;
            }
        }
    }
}

.comp-list{
    li{
        border-top: 1px solid $secondary-text-colour;
        color: $text-colour;
        overflow: auto;
        
        &:first-child{
            border-top: none;
        }

        .comp-details{
            @extend .column-two-thirds;
        }

        p{
            color: $secondary-text-colour;
            font-weight: bold;
        }

        .status{
            @extend .column-third;
            float: right;
            background: $panel-colour;
            padding: 12px;
            text-align: center;
            margin-top: 1.2em;
            font-weight: bold;
        }

    }
}

/*----- Application progress lists ----*/

.application-progress-list{
    
    > li{
        background: url(../images/charts/offer-status-default.png) no-repeat;
        overflow: auto;
        margin-bottom: 10px;

        &:last-child{
             background: url(../images/charts/offer-status-default-last.png) no-repeat;
        }

        span{
            margin-left: 100px;
            padding: 20px;
            border: 3px solid $grey-2;
            border-radius: 5px;
            display: block;
            margin-bottom: 10px;

            .heading-medium{
                margin-top: 0;
            }

            &:before{
                content: "";
                position: absolute;
                margin-left: -56px;
                border: 18px solid transparent;
                border-right: 18px solid $grey-2;
            }
        }

        &.complete{
            background: url(../images/charts/offer-status-tick.png) no-repeat;

             &:last-child{
                background: url(../images/charts/offer-status-tick-last.png) no-repeat;
             }

            span{
                background: $grey-4;
            }
        }

        &.processing{
            background: url(../images/charts/offer-status-processing.png) no-repeat;

             &:last-child{
                background: url(../images/charts/offer-status-processing-last.png) no-repeat;
             }

            span{
                background: $link-colour;
                color: $white;

                a{
                    color: $white;
                }
            }
        }

        &.successful{
            background: url(../images/charts/offer-success-last.png) no-repeat;
        }

         &.unsuccessful{
            background: url(../images/charts/offer-unsuccessful-last.png) no-repeat;
        }




    }
}