.inline-nav{
	border-bottom: 1px solid $border-colour;
	padding-left: 10px;
	position: relative;
	margin-bottom: 30px;
	
	li{
		float: left;
		padding: 10px 16px;
		position: relative;
		margin-bottom: -1px;

		&.selected{
			border: 1px solid $border-colour;
			border-bottom: 1px solid $white;
		}
	}

}