.total-cost{
	.heading-medium{
		margin-left: 20px; 
	}
}

.sub-header{
	.link-back{
		margin-top: 5px;
	}
}

/*--- Boxed content ---*/

.boxed{
	border: 1px solid $border-colour;
	padding: 20px;
	clear: both;
	overflow: auto;
}

/*--- highlight content ---*/

.highlight-panel{
	background: $highlight-colour;
	padding: 20px 0;
}

.grid-row{
	&.highlight-panel{
		margin: 0;
	}
}

/*--- Underlining ---*/

.grid-row{
	&.sorting{
		border-bottom: 1px solid $secondary-text-colour;
	}
}

.heading-large{
	&.underline{
		border-bottom: 4px solid $black;
	}
}

.heading-medium{
	&.underline{
		border-bottom: 1px solid $black;
	}
}

ul.underline{
	li{
		border-top: 1px solid $black;

		&:first-child{
			border-top: none;
		}
	}
}

		
/*--- Controlling visibility of hidden panels for js and non-js ---*/

%hidden-blocks-js{
	display: none;

	.no-js &{
		display: block;
	}
}

#org-results{
	@extend %hidden-blocks-js;
}

#manual-company-input{
	@extend %hidden-blocks-js;
}

#address-details{
	@extend %hidden-blocks-js;
}

#selected-academic-organisation{
	@extend %hidden-blocks-js;
}

#finance-other-funding{
	@extend %hidden-blocks-js;
}

#finance-other-funding{
	@extend %hidden-blocks-js;
}

#org-role-size{
	@extend %hidden-blocks-js;
}

#admin-support-1,
#admin-support-3,
#admin-support-4
{
	@extend %hidden-blocks-js;
}

