<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Confirm application submit'"  th:remove="tag" />
</head>
<body class="app-confirm-submit">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="fragments/layout :: header-sub" th:with="currentApplication=${currentApplication}" th:remove="tag" />

	<h2 class="heading-medium">This is your final chance to make changes to the application.</h2>
    <p> You will not be able to access the application after this point. Are you sure you want to submit?</p>

    <div>
        <a role="button" tabindex="0" class="button large" th:href="@{/application/{id}/submit(id=${currentApplication.getId()})}">Yes, I want to submit my application</a>
        <a role="button" tabindex="1" class="button buttonlink large" th:href="@{/application/{id}/summary(id=${currentApplication.getId()})}">Cancel</a>
    </div>


    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>