<!DOCTYPE html>
<html  class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Form'"  th:remove="tag" />
</head>
<body class="app-form">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="fragments/layout :: header-sub" th:with="currentApplication=${currentApplication},url='/application/'+${currentApplication.id},urlText='Application Overview'" th:remove="tag" />
    <div th:include="fragments/elements :: notification" th:remove="tag" />
 <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <p class="subtitle no-margin" th:text="${currentCompetition.name + ' - Application number: ' + currentApplication.id}"></p>
            <h1 class="heading-large" th:text="${question.shortName}"></h1>
        </div>
    </div>
    <div class="form-group extra-margin" id="0">
        <form action="#"  method="post" th:object="${form}" class="form-serialize-js">
            <div class="error-summary" th:if="${#fields.hasErrors('*')}">
                <h1 class="heading-medium error-summary-heading">
                    Message to alert the user to a problem goes here
                </h1>
                <p>
                    Optional description of the error(s) and how to correct them
                </p>
                <ul class="error-summary-list">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>


            <div class="question" th:each="formInput, status : ${question.getFormInputs()}" th:id="'form-input-'+${formInput.getId()}"
                 th:with="formInputIndex=(${status.index}), response=(${responses.get(formInput.getId())}),questionAssignee=(${questionAssignees.get(question.getId())})">
                <div th:replace="question-type/types :: ${formInput.getFormInputType().getTitle()}" />
            </div>

            <input type="hidden" id="application_id" th:value="${currentApplication.getId()}"/>

            <ul class="pagination">
                <li class="prev" th:if="${previousQuestion}">
                    <a th:href="@{/application/{id}/form/question/{questionId}/(id=${currentApplication.getId()},questionId=${previousQuestion.id})}" rel="prev" title="Navigate to previous part">
                        <span class="pagination-label">Previous</span>
                        <span class="pagination-part-title" th:text="${previousQuestion.shortName}">Business proposition</span>
                    </a>
                </li>
                <li class="next" th:if="${nextQuestion}">
                    <a th:href="@{/application/{id}/form/question/{questionId}/(id=${currentApplication.getId()},questionId=${nextQuestion.id})}" rel="next" title="Navigate to next part">
                        <span class="pagination-label">Next</span>
                        <span class="pagination-part-title" th:text="${nextQuestion.shortName}">Funding</span>
                    </a>
                </li>
            </ul>

            <div class="alignright-button">
                <a role="button" tabindex="0" class="button" th:href="@{/application/{id}/summary(id=${currentApplication.getId()})}">
                    Review &amp; submit
                </a>

                <input class="button app-submit-btn"  type="submit" name="submit-section" value="Save" />
            </div>
        </form>

    </div>
  </div>

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>