<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:remove="tag" />
</head>
<body class="error">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

    <h1 class="heading-large" th:if="${title != null}" th:text="${title}">Internal Server Error</h1>
    <h1 class="heading-large" th:unless="${title != null}">Internal Server Error</h1>

    <p th:if="${url}">
        <b>Page:</b> <span th:text="${url}">Page URL</span>
    </p>
  <!--/*
    <p th:if="${timestamp}" id='created'>
        <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
    </p> */-->

    <p th:if="${status}">
        <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
            th:if="${error}" th:text="'('+${error}+')'">error ...</span>
    </p>

    <!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
           ${exception} or ${message} are set internally by Spring Boot. */-->

    <div>
		<span>
            We are unable to complete your request. This could be because something went wrong at our end, or you are trying to perform an action that does not exist.  You can either go back to the page you were previously on or click <a th:href="@{/}">here</a> to get back to the IFS application.
        </span>
    </div>


    <span th:if="${message} and ${message.length() != 0}" th:utext="${'&lt;!--' + message + ' --&gt;'}" th:remove="tag">
        Error message will be displayed here for developers on dev/UAT environments.
    </span>

    <p th:unless="${exception} or (${message} and ${message.length() != 0})">
        Cause unknown (no exception details available)
    </p>
   <!--/*
    <p>
        You are seeing this error page due to Spring Boot (which returns a
        view called "error" in response to uncaught exceptions. Since we are
        using Thymeleaf this corresponds to the template
        <code>error.html</code>
        )
    </p> */-->

    <pre th:utext="${'&lt;!-- Stack trace for debugging (for developers): ' + stacktrace + ' --&gt;'}" th:remove="tag">
        Stack trace will be printed here...
    </pre>

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>