<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:remove="tag" />
</head>
<body>

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

  
    <h1 class="heading-large">Oops, something went wrong</h1>


    <p th:if="${url}">
        <b>Page:</b> <span th:text="${url}">Page URL</span>
    </p>
  <!--/*
    <p th:if="${timestamp}" id='created'>
        <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
    </p> */-->

    <p th:if="${status}">
        <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
            th:if="${error}" th:text="'('+${error}+')'">error ...</span>
    </p>

    <!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
           ${exception} or ${message} are set internally by Spring Boot. */-->
    <div 
            th:if="${exception} or (${message} and ${message.length() != 0})">
        <pre style="padding:10px; white-space: pre-wrap;">
        <span th:if="${ex}" th:text="${ex}">exception ...</span>
        <span th:if="${exception}" th:text="${exception}">exception ...</span>
		<span th:if="${message} and ${message.length() != 0}"
              th:text="${message}">message ...</span>
        </pre>
    </div>

    <p
            th:unless="${exception} or (${message} and ${message.length() != 0})">
        Cause unknown (no exception details available)</p>
   <!--/*
    <p>
        You are seeing this error page due to Spring Boot (which returns a
        view called "error" in response to uncaught exceptions. Since we are
        using Thymeleaf this corresponds to the template
        <code>error.html</code>
        )
    </p> */-->



    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>