<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Grant terms and conditions'" />
</head>
<body class="govuk-template__body grant-terms-conditions">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Terms and conditions of a Young Innovator’s UK grant award',size='govuk-heading-l'" />

        <p>These terms and conditions apply to individuals who have applied for grant funding. You must accept these terms and conditions before you can begin to claim any of your grant.</p>
        <h2 class="govuk-heading-s">Transfer to UK Research and Innovation</h2>
        <p>In April 2018 changes will be made to the structure of the UK's research and innovation bodies (including Innovate UK).  A new body corporate will be established under the Higher Education and Research Act 2017 that brings together the UK's 7 Research Councils, Innovate UK and a new organisation, Research England.  This new body will be known as UK Research and Innovation (UKRI).</p>
        <p>With the establishment of UKRI, Innovate UK (formerly the Technology Strategy Board) will cease to exist as a body corporate in its own right and will become a committee or 'Council' of UKRI. Innovate UK will continue to administer contract and grant funding and to manage the relationship with MSPs as a Council of UKRI. However, existing contracts awarded by Innovate UK under the DPS will be transferred to UKRI under a statutory transfer scheme and future contracts awarded under the DPS will be entered into by UKRI. More information is available from <a href="https://www.ukri.org/">the UKRI website</a>.</p>
        <h2 class="govuk-heading-m">1. General terms and conditions</h2>
        <p>Innovate UK has the right to change these grant terms and conditions solely, without consultation with anyone else and at any time by giving 30 days’ notice in writing.</p>
        <p>You cannot assign, transfer or sub-contract any of your rights or obligations under this agreement to any third party.</p>
        <p>Rights and/or remedies under this award, whether you exercise them or not, remain available throughout the life of the award.</p>
        <p>An award does not create any partnership or joint venture at law.</p>
        <p>Innovate UK:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>accepts no liability for any consequences, whether direct or indirect, that may come about by undertaking the project, using the grant, or ending the award</li>
            <li>limits its liability to the amount of award that can be proven as an eligibly incurred cost</li>
        </ul>
        <p>Our awards are subject to the laws of England and Wales.</p>
        <p>An award cannot be used for any political or lobbying activity or purpose.</p>
        <h2 class="govuk-heading-m">2. Duration</h2>
        <p>These terms and conditions come into effect for 6 months from the project start date provided in the award letter, or until the award is terminated.</p>
        <h2 class="govuk-heading-m">3. Your obligations</h2>
        <p>As a successful applicant, you will:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>make sure that the project is managed in keeping with the advice and guidance of your Innovation Champion, consistent with your application and with these terms and conditions</li>
            <li>inform Innovate UK promptly, through your Innovation Champion of any issue or material change that may affect the progress or success prospects of your project</li>
            <li>within 1 month of the end of the project, you will agree with your Innovation Champion and provide to Innovate UK:
                <ul class="govuk-list govuk-list--bullet">
                    <li>receipts and invoices to evidence what you have claimed throughout the project</li>
                    <li>a summary project report of what you have achieved including a Statement of Expenditure (a template will be provided to you by Innovate UK)</li>
                </ul>
            </li>
        </ul>
        <h2 class="govuk-heading-m">4. Payment of grant</h2>
        <p>Innovate UK will pay your allowance and grant in monthly instalments in advance, you need to submit a monthly claim which has been approved by your Innovation Champion. You need to submit your claim a month in advance. This means you need to have a clear plan of your project eligible costs a month ahead which must be agreed with your Innovation Champion. The allowance will be a set payment every month.</p>
        <p>Your claims must include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>an itemised summary of your projected costs for the next month</li>
            <li>the invoices and/or receipts for costs you claimed in the previous month (not applicable in the first month). These must be emailed to us (<a href="mailto:grants@innovateuk.gov.uk">grants@innovateuk.gov.uk</a>) as a PDF scan. You must keep all the originals to accompany your Statement of Expenditure which you will send to us at the end of your Project</li>
        </ul>
        <p>The Innovation Champion will need to authorise your claim. Innovate UK will normally pay the claim within 10 working days of receiving this authorisation. We will not pay any claim received later than 1 month after completion of the project.</p>
        <p>Innovate UK has the right not to consider new applications from individuals who do not comply with the terms and conditions of any previous project funded by Innovate UK.</p>
        <p>Innovate UK will keep 10% of the grant until the documents mentioned in ‘Your obligations’ above have been received.</p>
        <p>You are responsible for keeping detailed records and documentation relating to your award.</p>
        <h2 class="govuk-heading-m">5. Suspension, withdrawal and repayment of grant</h2>
        <p>As part of our responsibilities to the public purse, Innovate UK has the right to   suspend, withdraw or reclaim the grant in whole or in part. We would only do this where justified and after consultation with you.</p>
        <p>Innovate UK may suspend grant payments, by giving you with written notice detailing the breach and asking for it to be corrected within 30 days in the event of the following:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>we suspect you of having committed a fraudulent act, or an offence under the Bribery Act 2010</li>
            <li>you fail to maintain satisfactory progress on the project</li>
            <li>there are material changes to the proposed outcomes of the project</li>
            <li>you do not comply with the terms and conditions of the award</li>
        </ul>
        <p>Innovate UK may stop future grant payments in the event:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you fail to correct the breach in the timescales permitted or the breach cannot be resolved</li>
            <li>you get into financial difficulties which affect your ability to conduct your project</li>
            <li>there is a change to your legal status</li>
        </ul>
        <p>Innovate UK can ask you to repay the grant in the event:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>of a grant overpayment</li>
            <li>you have provided false information in relation to this award</li>
            <li>you have been found to have committed a fraudulent act or an offence under the Bribery Act 2010</li>
            <li>a material element of the grant has been used for purposes unrelated to the project</li>
        </ul>
        <h2 class="govuk-heading-m">6. Financial reporting</h2>
        <p>At the end of your award you agree to work with your Innovation Champion to prepare a financial statement that relates to the grant (a Statement of Expenditure). The report will summarise:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>all eligible costs</li>
            <li>evidence that all eligible costs were properly paid with receipts and/or invoices</li>
        </ul>
        <h2 class="govuk-heading-m">7. Confidentiality and information management</h2>
        <p>Innovate UK has the right to ask for access to any additional information thought necessary by Innovate UK for this award. You must provide or allow access to this information within 2 weeks of a request.</p>
        <h2 class="govuk-heading-m">8. State Aid</h2>
        <p>These Young Innovator Awards are provided by Innovate UK on a ‘<em>de minimis</em>’ basis. This is a legal term by which the European Commission considers that public funding to a single recipient of up to €200,000 over a 3 year period has little or no impact on trade and competition, and does not require notification.</p>
        <p>You must tell Innovate UK of any other public funding you have applied for or been awarded against the eligible costs covered by this offer. It is your responsibility to make sure that the total of public funding you are receiving at any one time for a project does not exceed the maximum amount of funding which is allowed.</p>
        <p>No subcontract can be made which would constitute a breach of State Aid obligations.</p>
        <h2 class="govuk-heading-m">9. Intellectual property</h2>
        <p>Any intellectual property rights (IPRs) developed during or as a result of the project are owned by you.</p>
        <p>You will make sure that you have the necessary rights to use or access third party IPRs needed to carry out the project.</p>
        <h2 class="govuk-heading-m">10. Exploitation of project results</h2>
        <p>Innovate UK expects you to provide a summary project report at the end of the award that details activities carried out, deliverables and planned next steps.</p>
        <h2 class="govuk-heading-m">11. UK statutory framework</h2>
        <p>Innovate UK is subject to the requirements of the Freedom of Information Act 2000 and Data Protection Act 1998, as detailed on our corporate website.</p>
        <h2 class="govuk-heading-m">12. Publication of information</h2>
        <p>Innovate UK encourages you to seek your own publicity. You can mention the support you have been given by using the words ‘supported by Innovate UK’. However it is important that you do not use Innovate UK’s logo in any of your literature without getting permission in writing from your Innovation Champion first. Please consult the Innovate UK guide ‘Publicising your project: guidelines from Innovate UK.’ This is available on request from Innovate UK’s Press Office: <a href="mailto:pressoffice@innovateuk.gov.uk">pressoffice@innovateuk.gov.uk</a>.</p>
        <h2 class="govuk-heading-m">13. Issue resolution</h2>
        <p>Although your Innovation Champion will be your first point of contact, you can contact Emily Nott: <a href="mailto:Emily.Nott@innovateuk.gov.uk">Emily.Nott@innovateuk.gov.uk</a> if you need to discuss a matter directly.</p>
        <h2 class="govuk-heading-m">14. Force majeure</h2>
        <p>Where an event of force majeure (an unforeseen event that would prevent you from fulfilling your contract), or a change to the Laws of England and Wales, UK government or devolved administration policy and/or the Legal Acts of the European Union occurs which affects Innovate UK’s ability to continue funding your project, we can end the award by giving you as much notice as possible in writing. In such circumstances, Innovate UK will meet any eligible costs you have reasonably taken on, up to the new end date we have given you.</p>
        <h2 class="govuk-heading-m">15. Entire agreement</h2>
        <p>By submitting an application you are accepting these terms and conditions in full.</p>

        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>
<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
