<!DOCTYPE html>
<html  class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Status'" />
</head>
<body th:with="context='applicant'" class="app-track">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="currentApplication=${currentApplication},linkTitle='Dashboard',linkClass='link-back',linkUrl=@{/applicant/dashboard}" />

    <div class="page-title">
              <th:block th:insert="fragments/elements :: application-title (applicationId=${currentApplication.id},applicationName=${currentApplication.name})" />
              <h1 class="heading-xlarge">Application status</h1>
    </div>

    <ul class="ifs-progress-list">
    	<li class="complete">
          <div class="progress-status"></div>
          <div class="progress-info">
                <h2 class="heading-medium">Submitted application</h2>
                <p>Your application '<strong th:text="${currentApplication.name}" />' was submitted into the competition '<strong th:text="${currentCompetition.name}"/>'
                    <th:block th:if="${currentApplication.submittedDate != null}">
                      on
                      <th:block th:text="${#temporals.monthName(currentApplication.submittedDate)}" />
                      <th:block th:insert="fragments/elements :: ordinal-day (date=${currentApplication.submittedDate})" />
                      at
                      <th:block th:text="${#strings.toLowerCase(#temporals.format(currentApplication.submittedDate, 'hh:mma'))}" />.
                    </th:block>
                </p>
                <p class="linkbar">
                  <a th:href="@{/application/{id}/summary(id=${currentApplication.getId()})}">View application</a>
                  <a th:href="@{/application/{id}/print(id=${currentApplication.getId()})}">Print Application</a>
                </p>
          </div>
    	</li>
    	<li class="current">
        <div class="progress-status"></div>
        <div class="progress-info">
    			<h2 class="heading-medium">Assessment process</h2>
    			<p>Your application is currently in the process of being assessed. Once the competition submission deadline is reached, all application submitted to the competition are sent for assessment.</p>

    			<ul class="list list-bullet">
    				<li>Your application is currently being assessed independently by experts from both business and academia.</li>
    				<li>Each application is assessed by up to five Assessors and against the same set of gateway and criteria questions.</li>
    				<li>Each assesor is reqiuired to complete and submit a score-sheet with comments for each application they are assigned to assess.</li>
    			</ul>
    		</div>
    	</li>
    	<li>
        <div class="progress-status"></div>
        <div class="progress-info">
    				<h2 class="heading-medium">Decision notification</h2>
    				<p>You will be notified of our decision by
            <strong th:if="${currentCompetition.fundersPanelDate != null}">
              <th:block th:insert="fragments/elements :: ordinal-day (date=${currentCompetition.fundersPanelDate})" />
              <th:block th:text="${#temporals.monthName(currentCompetition.fundersPanelDate)}" />
              <th:block th:text="${#temporals.year(currentCompetition.fundersPanelDate)}" />
            </strong>.
          </p>
<p>We will email you and your project partners to tell you our decision.</p>
	</div>
    	</li>
    </ul>
  <hr />



    <ul class="grid-row ifs-progress-list">
    	<li class="column-half successful">
          <div class="progress-status"></div>
          <div class="progress-info">
            <h2 class="heading-medium">If your application is successful</h2>
						<p>If you are successful with this application you will need to provide a series of documents before the project can begin, including</p>
						<ul class="list list-bullet">
							<li>a collaboration agreement</li>
							<li>financial forecasts</li>
							<li>your bank (BACS) details</li>
							<li>a detailed project plan</li>
							<li>milestone and risk register</li>
							<li>an exploitation plan</li>
						</ul>
    		</div>
    	</li>
    	<li class="column-half unsuccessful">
          <div class="progress-status"></div>
          <div class="progress-info">
            <h2 class="heading-medium">If your application is unsuccessful</h2>
						<p>If you are unsuccessful with your application, you will be able to see feedback from the assessors.</p>
						<p>Sometimes your application will have scored well and will receive positive comments from the assessors, but not highly enough to be above the funding threshold for the competition.</p>
    		</div>
    	</li>
    </ul>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
