<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
      <th:block th:insert="fragments/layout :: head" th:with="pageTitle=${#strings.isEmpty(model.title) ? 'Application Form' : model.title},hasFormErrors=${#fields.hasErrors('${form.*}')}" />
    </head>

    <body th:with="context='applicant'" class="app-form finance">

        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="currentApplication=${model.application},linkTitle=${backTitle},linkClass='link-back',linkUrl=${backURL}" />

            <div th:if="${#fields.hasErrors('${form.*}')}" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading"  id="error-summary-heading">There is a problem on this page</h2>
                <ul class="error-summary-list">
                    <li th:each="err : ${#fields.detailedErrors('${form.*}')}">
                        <th:block th:if="${err.global}" th:text="${err.message}">Non-field specific message</th:block>
                        <a th:if="${err.fieldName}" th:href="|#${err.fieldName}|" th:text="${err.message}">The error message</a>
                    </li>
                </ul>
            </div>

            <th:block th:insert="fragments/elements :: competition-closing-warning (competition=${model.competition})" />

            <th:block th:with="applicationName=${#strings.isEmpty(model.application.name)} ? #{ifs.application.no_title} : ${model.application.name}">
                <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle=${model.title},subTitle=${model.application.name},size='heading-xlarge'" />
            </th:block>

            <form th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}" method="post" th:object="${form}" data-autosave="application" enctype="multipart/form-data"
                    th:with="appIsClosed=${model.applicationIsClosed}, readonly=${model.applicationIsReadOnly}" novalidate="novalidate">
                <!--/* To disable submission on pressing return (INFUND-6892) */-->
                <th:block th:unless="${model.allReadOnly}">
                    <button class="hidden-save" type="submit" name="submit-section" tabindex="-1" aria-hidden="true">Save the form</button>
                </th:block>

                <!--/* Application Form for a Question. */-->
                <th:block th:if="${model.isQuestion()}">
                    <div class="question"
                         th:each="formInputViewModel : ${model.formInputViewModels}"
                         th:with="formInput=${formInputViewModel.formInput}"
                         th:id="'form-input-'+${formInput.id}">

                        <th:block th:if="${formInput.type.displayableQuestionType}">
                            <th:block th:insert="question-type/types :: ${formInput.type.nameLower} (${formInputViewModel})" />
                        </th:block>
                    </div>
                    <th:block th:if="${model.allReadOnly}">
                        <a th:href="${backURL}" class="button-secondary" th:text="${'Return to ' + #strings.toLowerCase(backTitle)}">Return to application overview</a>
                    </th:block>
                    <th:block th:unless="${model.allReadOnly}">
                        <button th:unless="${model.isSection()}" type="submit" class="button app-submit-btn" name="submit-section">Save and return to application overview</button>
                    </th:block>
                </th:block>

                <!--/* Application Form for a Section. */-->
                <th:block th:if="${model.isSection()}">
                    <p class="subtitle" th:if="${model.section.description}" th:text="${model.section.description}" />
                    <th:block th:include="finance/your-finances-sub-sections :: ${model.section.type.nameLower} (${model})" />
                </th:block>

                <input type="hidden" id="application_id" th:value="${model.application.id}"/>
                <input type="hidden" id="competition_id" th:value="${model.competition.id}"/>

                <input type="hidden" id="cacheTest" value="" />

                <th:block th:insert="fragments/layout :: main-content-end" />
            </form>
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
