<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:safe="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" />
</head>
<body th:with="context='applicant'" class="error">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Thymeleaf rendering error',size='heading-large'" />



    <p th:if="${url}">
        <b>Page:</b> <span th:text="${url}">Page URL</span>
    </p>
  <!--/*
    <p th:if="${timestamp}" id='created'>
        <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
    </p> */-->

    <p th:if="${status}">
        <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
            th:if="${error}" th:text="'('+${error}+')'">error ...</span>
    </p>

    <!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
           ${exception} or ${message} are set internally by Spring Boot. */-->
    <div th:if="(${message} and ${message.length() != 0})">
        <pre style="padding:10px; white-space: pre-wrap;font-size:15px">
		<span th:if="${message} and ${message.length() != 0}"
              th:text="${message}">message ...</span>
        </pre>
    </div>

    <p th:unless="${exception} or (${message} and ${message.length() != 0})">
        Cause unknown (no exception details available)
    </p>
   <!--/*
    <p>
        You are seeing this error page due to Spring Boot (which returns a
        view called "error" in response to uncaught exceptions. Since we are
        using Thymeleaf this corresponds to the template
        <code>error.html</code>
        )
    </p> */-->

    <pre ifs:utext="${'&lt;!-- Stack trace for debugging (for developers): ' + stacktrace + ' --&gt;'}" th:remove="tag">
        Stack trace will be printed here...
    </pre>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
