<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag"/>
</head>
<body class="app-dashboard">

<div th:include="fragments/layout :: body-start" th:remove="tag"/>
<div th:include="fragments/layout :: global-header" th:remove="tag"/>

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag"/>


        <!-- HARDCODED PROTOTYPE HTML -->

        <h1 class="heading-large">Create your account</h1>

        <p class="form-hint icon-info-small-blue">Organisation must be UK based to receive funding from innovate UK</p>

        <h2 class="heading-medium">Business organisation</h2>

        <form action="#" th:object="${companyHouseLookup}" method="POST">
            <fieldset>
                <legend class="visuallyhidden">Business organisation</legend>

                <div class="form-group">
                    <label class="form-label" for="org-name">
					<span class="form-label-bold">Find your organisation on Companies House
					<span class="form-hint">Enter your company name or registration number</span>
					</span>
                    </label>
                    <input class="form-control" id="org-name" th:field="*{organisationName}" type="text" value="" />
                    <span class="error-message" th:if="${#fields.hasErrors('*{organisationName}')}" th:errors="*{organisationName}"></span>
                    <button type="submit" id="org-search" class="button">Search</button>
                </div>

                <ul id="org-results" class="results-list panel-indent">
                    <li class="type-company" th:each="company : ${companyHouseLookup.companyHouseList}">
                        <h3>
                            <a th:href="${'/create-application/selected-business/'+ company.companyNumber}" title="View company" th:text="${company.name}">
                            </a>
                        </h3>
                        <p class="meta crumbtrail" th:text="${company.description}"></p>
                        <p th:text="${company.location}"></p>
                    </li>
                </ul>

            </fieldset>
            <a href="#" id="manual-company-trigger">Not on companies House?</a>

        </form>


    <div th:include="fragments/layout :: main-content-end" th:remove="tag"/>
</main>

<div th:include="fragments/layout :: footer" th:remove="tag"/>
<div th:include="fragments/layout :: body-end" th:remove="tag"/>
</body>
</html>