.result {
   border: 1px solid #bfc1c3;
   margin-bottom: 15px;
   margin-top: 15px;
   padding: 45px 30px 30px;
   position: relative;
}
.result::after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.result::before {
    background: #bfc1c3 none repeat scroll 0 0;
    color: white;
    content: "EXAMPLE";
    font-size: 15px;
    font-weight: 400;
    left: 0;
    line-height: 1.6;
    padding: 0.210526em 0.789474em;
    position: absolute;
    text-transform: none;
    top: 0;
}


#styleguide .section .comment code {
    color: #3fbead;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 13px;
}

#styleguide .markup {
    border: 1px solid #ddd;
    border-top: none;
}

#styleguide code,
#styleguide pre {
    border: none;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 13px;
    line-height: 20px;
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    margin: 0;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.grid-row p {
  background-color: #7faed2;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, #bfd7e8 50%);
  background-size: 20px 20px;
  height: 60px;
}
.boxed-list .grid-row p {
  height: auto;
  background-color: transparent;
  background-image: none;
}

a[rel="external"]:after {
  width: 16px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid;
  background-position: right 5px;
}

.swatch {
  width: 60px;
  height: 60px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
@media (max-width: 640px) {
  .swatch {
    clear: both;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 641px) {
  .swatch {
    margin: 0 auto 15px auto;
  }
}

.swatch-purple {
  background-color: #2e358b;
}

.swatch-mauve {
  background-color: #6f72af;
}

.swatch-fuschia {
  background-color: #912b88;
}

.swatch-pink {
  background-color: #d53880;
}

.swatch-baby-pink {
  background-color: #f499be;
}

.swatch-red {
  background-color: #b10e1e;
}

.swatch-mellow-red {
  background-color: #df3034;
}

.swatch-orange {
  background-color: #f47738;
}

.swatch-brown {
  background-color: #b58840;
}

.swatch-yellow {
  background-color: #ffbf47;
}

.swatch-green {
  background-color: #006435;
}

.swatch-grass-green {
  background-color: #85994b;
}

.swatch-turquoise {
  background-color: #28a197;
}

.swatch-light-blue {
  background-color: #2b8cc4;
}

.swatch-alpha {
  background-color: #d53880;
}

.swatch-beta {
  background-color: #f47738;
}

.swatch-discovery {
  background-color: #912b88;
}

.swatch-live {
  background-color: #85994b;
}

.swatch-error {
  background-color: #b10e1e;
}

.swatch-focus {
  background-color: #ffbf47;
}

.swatch-button-colour {
  background-color: #00823b;
}

.swatch-black {
  background-color: #0b0c0c;
}

.swatch-grey-1 {
  background-color: #6f777b;
}

.swatch-grey-2 {
  background-color: #bfc1c3;
}

.swatch-grey-3 {
  background-color: #dee0e2;
}

.swatch-grey-4 {
  background-color: #f8f8f8;
}

.swatch-white {
  background-color: #fff;
  border: 1px solid #dee0e2;
}

.swatch-text-colour {
  background-color: #0b0c0c;
}

.swatch-text-secondary {
  background-color: #6f777b;
}

.swatch-page-colour {
  background-color: #fff;
  border: 1px solid #dee0e2;
}

.swatch-button-colour {
  background-color: #00823b;
}

.swatch-link-colour {
  background-color: #005ea5;
}

.swatch-link-colour-visited {
  background-color: #4c2c92;
}

.swatch-link-colour-hover {
  background-color: #2e8aca;
}

.swatch-border-colour {
  background-color: #bfc1c3;
}

.swatch-panel-colour {
  background-color: #dee0e2;
}

.swatch-highlight-colour {
  background-color: #f8f8f8;
}

@media (min-width: 641px) {
  .swatch-wrapper {
    float: left;
    width: 20%;
    text-align: center;
  }
}
.swatch-wrapper .heading-small {
  margin-bottom: 0.52632em;
}
.swatch-wrapper ul {
  padding-bottom: 15px;
}
@media (max-width: 640px) {
  .swatch-wrapper ul {
    min-height: 50px;
    padding-top: 10px;
  }
}
.swatch-wrapper li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 640px) {
  .swatch-wrapper li {
    font-size: 14px;
    line-height: 1.14286;
  }
}
.swatch-wrapper b {
  font-weight: bold;
  text-transform: uppercase;
}

[id^="GOVUK-3._Colours"] .markup {
  display: none;
}
