/*----- Comp admin - comp status label ----*/

.comp-status-label{
	text-align: right; 
	color: white;

	span{
		background: $govuk-blue; 
		padding: 20px; 
	}

	@include media-down(mobile){
		
		text-align: center;

		span{
			margin-top: 10px;
			display: block;
		}
	}
}


/*----- State of submission ----*/

.marked-complete-alert{
	background: $grey-4;
	padding: 20px 20px 10px 30px;
	border-left: 5px solid $border-colour;
	margin: 10px 0 30px 0;
	clear: both;
}


/*----- Comp admin - project status warnings ----*/

%status-marker{
	background: black;
	width: 2em;
	height: 2em;
	color: white;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	line-height: 2.2em;
	border-radius: 50%;

}

.status-project-warning{
	@extend %status-marker;
	background: $red
}

.status-project-progress{
	@extend %status-marker;
	background: $yellow;
	color: $black;
}

.status-project-ok{
	@extend %status-marker;
	background: $green;
}


/*----- Comp admin tables styles----*/

table{

	.full-view{
		display: none; 
	}
	
	.show-full-table &{
		th.full-view{
			display: table-cell;
		}

		td.full-view{
			display: table-cell;
		}

		tr.full-view{
			display: table-row;
		}
	}
}

.assessment-panel-start{
	td, th{
		border-top: 2px solid $black;
	}
}

.assessment-panel-end{
	td, th{
		border-bottom: 2px solid $black;
	}
}

.show-full-table.items-assigned{
	.hide-assigned{
		display: none;
	}
}

.show-applications{
	.hide-allocate-assessor{
		display: none;
	}
}

/*----- Project status table ----*/

#table-project-status{
	.status{
		width: 70px;
		text-align: center;
		padding-left: 0.625em;
		padding-right: 0.625em;

		&.na{
			background: $grey-3;
		}
		&.ok{
			color: $green;
			font-weight: bold;

			a{
				color: $green;
				font-weight: bold;
			}
		}
		&.action{
			background: $red;
			a{
				color: white;
				font-weight: bold;
			}
		}
	}
	
	tr.project-divide{
		border-bottom: 2px solid $black;
	}

}


/*----- Forecast table ----*/

#table-forecast{
	
	margin-bottom: 2em;

	input{
		width: 100%;
		text-align: right;
		min-width: 6em; 
	}

	tbody{
		td{
			text-align: right;
			min-width: 50px;

			&.aligncentre{
				text-align: center;
			}

			&.alignleft{
				text-align: left;
			}
		}
	}
	tfoot{
		td{
			text-align: right;

			&.aligncentre{
				text-align: center;
			}

			&.alignleft{
				text-align: left;
			}
		}
	}
	thead{
		th{
			text-align: right;

			&.aligncentre{
				text-align: center;
			}

			&.alignleft{
				text-align: left;
			}

			&.header-span{
				background: $grey-4;
				text-align: center;
			}
		}
	}
	
	.separate-cell{
		border-right: 12px solid $white;
		
		&.year{
			border-right: 1px solid $grey-2;
			
			& + th{
				padding-left: 1.25em;
			}

			& + td{
				padding-left: 1.25em;
			}

		}

		&.aligncentre{
			padding-left: 1.25em; 
		}

	}

	.total{
		background: $grey-3;
		padding-left: 0.625em;
		padding-right: 0.625em;
		font-weight: bold;
		border-right: 12px solid $white;

		&.eligible{
			background: $grey-4;
		}
	}

	tr{
		&.error-in-row{
			@extend .warning-alert;
			background-position: 4px 50%;

			th{
				padding-left: 28px;
			}

			td{
				background: $highlight-colour;
				
				&.total{
					background: $red;
					color: $white;

					&.eligible{
						background: $grey-4;
						color: $text-colour;
					}
				}

			}
		}
	}

}


/*----- Projects by stage tables styles----*/

#projects-by-stage{
	td{
		height: 40px;
	}
}


/*----- Remove help links for comp admin / internal pages ----*/
.comp-assessors,
.comp-dashboard{
	.user-feedback{
		display: none;

		& + p{
			display: none;
		}
	}
}


/*----- Creating fixed info panels for widescreen views ----*/


#sticky-zone{
	@extend .cf;
}


@include media($min-width: 1200px){
	.full-width{

		.info-area{
			float: left;
			width: 19%;
			margin-right: 10px;
			padding: 0%;
			max-height: 90%;
			overflow: auto;
			box-sizing: border-box;

			//position: fixed;
			//font-size: 12px;
			position: relative;

			li{
				padding-bottom: 10px;
			}

			.boxed{
				padding: 15px;
				margin-bottom: 0;
				margin-right: 0;

				.column-half,
				.column-third{
					padding-left: 0;
				}
			}

			.grid-row{
				margin: 0;
			}
			
			.column-one,
			.column-half,
			.column-quarter,
			.column-third{
				width: 100%;
				clear: both;
				padding: 0;
			}
	
		}

		.data-area{
			float: right;
			width: 80%;

			& > .heading-large:first-child{
				margin-top: 0;
			}
		}

		.fixed .info-area{
			position: fixed;
			top: 0;
			width: 18%;
			background: white;
			z-index: 10;
			box-sizing: border-box;
			float: none;
		}
	}
}

/* @include media($min-width: 1700px){
	.full-width{
		.info-area{
			.column-quarter,
			.column-third{
				width: 50%;
				clear: none; 
			}
		}
	}
} */

/*--- Marked as complete on Inline lists ---*/

.inline-nav{
	.marked-as-complete{
		@extend %mark-done-right;
		background-position: 100% 0%;
		background-size: 20px;
	}
}

