<#ftl output_format="HTML" auto_esc=true>
<#import "layout/default.html" as layout>
<@layout.default>
<p style="margin: 0 0 1em 0;">Dear ${notificationTarget.name},</p>
<p style="margin: 0 0 1em 0;">
    The assessment period for the competition <b>${competitionNumber}:<br>${competitionName}</b> is now complete and your application has moved to the next stage.
</p>

<p style="margin: 0 0 1em 0;">
    You can review the project in the project setup section of the Innovation Funding Service, while we continue to review your application. We will contact you if we have any queries or require more information.
</p>

<p style="margin: 0 0 1em 0;">
    Your knowledge transfer adviser (KTA) will provide application feedback after the funding decision has been made.
</p>

<@layout.button href="${dashboardUrl}" text="Sign in" />

<p style="margin: 0 0 1em 0;">Yours sincerely</p>

<@layout.senderHTML />
</@layout.default>
