<#ftl output_format="HTML" auto_esc=true>
<#import "layout/default.html" as layout>
<@layout.default>
  <p style="margin: 0 0 1em 0;">Hello ${notificationTarget.name},</p>
  <p style="margin: 0 0 1em 0;">We have received a request to change the password for your account. You can do this through the link below.</p>
  <@layout.button href="${passwordResetLink}" text="Reset password" />
  <p style="margin: 0 0 1em 0;">If you didn't request this, please ignore this email.</p>
  <p style="margin: 0 0 1em 0;">Your password won't change until you access the link above and create a new one.</p>
  <@layout.senderHTML />
</@layout.default>
