<div class="govuk-width-container">

<h2 class="govuk-heading-m govuk-!-margin-top-9">Example 1. As lead</h2>

<div class="assign-container assigned-alert">
    <span class="secondary-notification govuk-body">
        Assigned to you.
    </span>
    <div class="assign-button-container">
        <div class="assign-button">
            <span class="secondary-notification govuk-body">
                Assign this question to someone else
            </span>
        </div>
        {{ render '@assign-list' }}
    </div>
  </div>

  <h2 class="govuk-heading-m govuk-!-margin-top-9">Example 2. As lead</h2>

  <div class="assign-container assigned-alert">
      <span class="secondary-notification govuk-body">
          Assigned to Jessica Doe.
      </span>
      <div class="assign-button-container">
          <div class="assign-button">
              <span class="secondary-notification govuk-body">
                  Assign this question to someone else
              </span>
          </div>
          {{ render '@assign-list' }}
      </div>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Example 3. As collaborator</h2>

    <div class="assign-container assigned-alert">
        <span class="govuk-body assignee">
            This question is assigned to Steve Smith
        </span>
    </div>
</div>
