<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="application-submitted-panel">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
        <h2 class="govuk-panel__title"
            th:text="${model.currentApplication.isEnabledForExpressionOfInterest() ? 'Expression of interest submitted' : 'Application submitted'}">
        </h2>
        <div class="govuk-panel__body govuk-!-font-size-19">
            Application number: <span th:text="${model.currentApplication.id}" /><br/>
            Your <span th:text="${model.currentApplication.isEnabledForExpressionOfInterest()} ? |expression of interest | : |application |" /> for the <span th:text="${model.currentCompetition.isDirectAward()} ? |award '${model.currentCompetition.name}'| : |competition '${model.currentCompetition.name}'|" /> was submitted
            <th:block th:if="${model.currentApplication.submittedDate}">
                on
                <th:block th:text="${#temporals.format(model.currentApplication.submittedDate, 'd MMM yyyy')}"></th:block>
                at
                <th:block th:text="${#strings.toLowerCase(#temporals.format(model.currentApplication.submittedDate, 'h:mma'))}" />.
            </th:block><br/>
            <div class="govuk-!-margin-top-6">
                <a th:href="@{/application/{id}/summary(id=${model.currentApplication.getId()})}"
                   class="govuk-link govuk-!-margin-right-6"
                   th:text="${model.currentApplication.isEnabledForExpressionOfInterest() ? 'View expression of interest' : 'View application'}"></a>
                <a th:if=${model.reopenLinkVisible} th:href="@{/application/{id}/confirm-reopen(id=${model.currentApplication.getId()})}"
                   class="govuk-link govuk-!-margin-right-6">Reopen application</a>
                <a th:href="@{/application/{id}/print(id=${model.currentApplication.getId()})}"
                   class="govuk-link">Print <span th:text="${model.currentApplication.isEnabledForExpressionOfInterest()} ? |expression of interest| : |application|"/></a>
            </div>
        </div>
    </div>
</th:block>

</html>

<span th:text="${model.currentCompetition.isDirectAward()} ? |award | : |competition |" />