<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Project details'}, ${'/prototypes/1575-project-details'})" th:remove="tag" />


	<!-- HARDCODED PROTOTYPE HTML -->
	<div th:include="prototypes/fragments/applicant-view :: prototype-project-page-title(${'194741: Machine learning in robots'}, ${'Project address'})" th:remove="tag" />
	
	<form action="#">

		<fieldset>
			
			<h2 class="heading-medium">Project location</h2>

			<legend class="visuallyhidden">Project location</legend>

			<p class="form-hint">Where is the main location of the project?</p>

			<p>We will assign a monitoring officer who will visit your project at this address.</p>

			<div class="form-group extra-margin" th:unless="${param.edit != null}">
				<label class="form-label" for="postcode-check">
					<span class="form-label-bold">Postcode</span>
				</label>
				<input class="form-control width-medium" id="postcode-check" name="postcode-check" type="text" />
				<button type="submit" id="postcode-lookup" class="button">Find UK address</button>
				<div>
					<a href="#" id="enter-address-manually">Enter address manually</a>
				</div>
			</div>


			<div class="form-group" id="select-address-block" style="display: none">
				<label class="form-label" for="select-address">
					<span class="form-label-bold">Select your address</span>
				</label>
				<select class="form-control" id="select-address" name="select-address">
					<option value="">SN1 2BD, 1, Station Road, Swindon </option>
					<option value="">SN1 2BD, 1A, Station Road, Swindon  </option>
					<option value="">SN1 2BD, 2, Station Road, Swindon </option>
					<option value="">SN1 2BD, 3, Station Road, Swindon </option>
					<option value="">SN1 2BD, 4, Station Road, Swindon </option>
					<option value="">SN1 2BD, 5, Station Road, Swindon </option>
				</select>
			</div>
			

			<fieldset id="address-details" class="extra-margin" th:style="${param.edit == null ? 'display: none' : 'display: block'}">
				<legend class="visuallyhidden">Address details</legend>
				<div class="form-group">
					<label class="form-label" for="street">
						<span class="form-label-bold">Street</span>
					</label>
					<input class="form-control" id="street" name="street" type="text" th:value="${(param.edit == null ? '':'4 Station Road')}"/>
				</div>
				<div class="form-group">
					<label class="form-label visuallyhidden" for="street-2">
						<span class="form-label-bold">Street line 2</span>
					</label>
					<input class="form-control" id="street-2" name="street-2" type="text" />
				</div>
				<div class="form-group">
					<label class="form-label" for="street-2">
						<span class="form-label-bold visuallyhidden">Street line 3</span>
					</label>
					<input class="form-control" id="street-3" name="street-2" type="text" />
				</div>
				<div class="form-group">
					<label class="form-label" for="town">
						<span class="form-label-bold">Town</span>
					</label>
					<input class="form-control" id="town" name="town" type="text" th:value="${(param.edit == null ? '':'Swindon')}" />
				</div>
				<div class="form-group">
					<label class="form-label" for="county">
						<span class="form-label-bold">County</span>
					</label>
					<input class="form-control" id="county" name="county" type="text" th:value="${(param.edit == null ? '':'Wiltshire')}" />
				</div>
				<div class="form-group">
					<label class="form-label" for="postcode">
						<span class="form-label-bold">Postcode</span>
					</label>
					<input class="form-control" id="postcode" name="postcode" type="text" th:value="${(param.edit == null ? '':'SN1 2BD')}" />
				</div>
			</fieldset>

		</fieldset>

		<button class="button button-large extra-margin" formaction="/prototypes/1575-project-details">Save</button>

	</form>

	
	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

<script type="text/javascript">
	// <![CDATA[
	jQuery(document).ready(function(){

		jQuery('#add-finance-contact').on('click',function(e){ 
			e.preventDefault();
			jQuery('#finance-contact-table').show();

		});

		jQuery('#invite-finance-contact').on('click',function(e){ 
			e.preventDefault();

			var financeContact = jQuery('#name-finance-contact1').val();

			jQuery('#finance-name').text(financeContact + ' (Pending)')
			jQuery("#finances-name-invite").attr('checked', 'checked');
			jQuery('#finance-contact-table').hide();
			jQuery('#invited-finance-contact').show();

		});



		jQuery('#add-pm').on('click',function(e){ 
			e.preventDefault();
			jQuery('#pm-table').show();

		});

		jQuery('#invite-pm').on('click',function(e){ 
			e.preventDefault();
			jQuery('#pm-table').hide();
		});


		jQuery('#postcode-lookup').on('click',function(e){ 
			e.preventDefault();
			jQuery("#select-address-block").show();
		});

		jQuery('#select-address').on('change',function(e){ 
			e.preventDefault();
			jQuery("#address-details").show();
			jQuery("#street").val("4 Station Road");
			jQuery("#county").val("Wiltshire");
			jQuery("#town").val("Swindon");
			jQuery("#postcode").val("SN1 2BD");

		});

		jQuery('#enter-address-manually').on('click',function(e){ 
			e.preventDefault();
			jQuery("#address-details").show();
			jQuery("#select-address-block").hide();
		});

	});
	// ]]>
</script>
</body>
</html>