<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Academic finances'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
    <style> .message-alert {
        background: #e4eff6;
        padding-left: 30px;
        } </style>
</head>
<body class="app-overview">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="prototypes/fragments/layout :: prototype-sub-header" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->

    <div class="hgroup" style="padding-top: 20px">
		<p class="subtitle no-margin">Technology inspired - Application number: 12347353</p>
		<h1 class="heading-xlarge no-margin-top">University of Bristol finances</h1>
	</div>


    <h2 class="heading-medium no-margin">Provide your organisation's finances</h2>

	<p>Only your organisation can see this level of detail.
		All members of your organisation can acesss and edit your finances
		We recommend assigning completion of your finances to one member of your team</p>
	

	<form>
		<fieldset>
			<h2 class="heading-medium">Innovate UK funding</h2>
			<legend class="visuallyhidden">Innovate UK (TSB) contribution</legend>
			<p>Innovate UK is the new name for the Technology Strategy Board (TSB)</p>
			
		    <p>To receive Innovate UK funding, your academic organisation must apply for funding through the JeS system. To gain a better understanding of the Je-S equirements and process please go to the <a href="#">Je-S website</a></p>

		    <p>All finances need to be provided before this application can be submitted. If there are any finances outstanding at the competition deadline this application will not be submitted into this competition.</p>

		    <h3 class="heading-small">Your project costs</h3>

			<p>Provide key figures from the Je-S form here to allow your partners to see the overall project costs and contribution required from Innovate UK</p>
			<p>Enter the figures from the following fields on the Je-S form:</p>

			<div class="form-group">
		    	<label class="form-label" for="tsb-ref">
		    		<span class="form-label-bold">TSB reference
		    			<span class="form-hint">This number is found at the top of your proposal output</span>
		    		</span>

		    	</label>
		   		<input class="form-control" id="tsb-ref" type="text" />
		  	</div>
		</fieldset>
		<fieldset class="form-inline">
			<h2 class="heading-medium no-margin">Financial resources</h2>
			<legend class="visuallyhidden">Financial resources</legend>
			<p>Please enter the following costs from the TSB Contribution column</p>

			<div class="form-group underline">
				<span class="form-label">
					<span class="form-label-bold">Directly incurred
		    		</span>
		    	</span>
		    	<span class="form-text form-label-bold">TSB Contribution</span>
		  	</div>

			<div class="form-group">
		    	<label class="form-label" for="staff">
		    		<span>Staff
		    		</span>
		    	</label>
		   		<input class="form-control" id="staff" type="text" />
		  	</div>

		  	<div class="form-group">
		    	<label class="form-label" for="travel">
		    		<span>Travel &amp; subsistence
		    		</span>
		    	</label>
		   		<input class="form-control" id="travel" type="text" />
		  	</div>

		  	<div class="form-group">
		    	<label class="form-label" for="other">
		    		<span>Other costs
		    		</span>
		    	</label>
		   		<input class="form-control" id="other" type="text" />
		  	</div>

		  	<div class="form-group">
				<span class="form-label">
					<span class="form-label-bold">Subtotal
		    		</span>
		    	</span>
		    	<span class="form-control">*Calculated figure from above numbers*</span>
		  	</div>
		</fieldset>


		<fieldset class="form-inline">

			<legend class="visuallyhidden">Directly allocated</legend>

			<div class="form-group underline">
				<span class="form-label">
					<span class="form-label-bold">Directly allocated
		    		</span>
		    	</span>
		  	</div>

			<div class="form-group">
		    	<label class="form-label" for="investigators">
		    		<span>Investigators
		    		</span>
		    	</label>
		   		<input class="form-control" id="investigators" type="text" />
		  	</div>

		  	<div class="form-group">
		    	<label class="form-label" for="estates">
		    		<span>Estates Costs
		    		</span>
		    	</label>
		   		<input class="form-control" id="estates" type="text" />
		  	</div>

		  	<div class="form-group">
		    	<label class="form-label" for="other-direct">
		    		<span>Other costs
		    		</span>
		    	</label>
		   		<input class="form-control" id="other-direct" type="text" />
		  	</div>

		  	<div class="form-group">
				<span class="form-label">
					<span class="form-label-bold">Subtotal
		    		</span>
		    	</span>
		    	<span class="form-control">*Calculated figure from above numbers*</span>
		  	</div>
		</fieldset>

		<fieldset class="form-inline">
			<legend class="visuallyhidden">Indirect costs</legend>

			<div class="form-group border-top">
		    	<label class="form-label" for="indirect">
		    		<span class="form-label-bold">Indirect costs
		    		</span>
		    	</label>
		   		<input class="form-control" id="indirect" type="text" />
		  	</div>

		 </fieldset>

		 <fieldset class="form-inline">
			<legend class="visuallyhidden">Exceptions</legend>

			<div class="form-group underline extra-margin">
				<span class="form-label">
					<span class="form-label-bold">Exceptions
		    		</span>
		    	</span>
		  	</div>
		
			<div class="form-group">
		    	<label class="form-label" for="exceptions-staff">
		    		<span>Staff
		    		</span>
		    	</label>
		   		<input class="form-control" id="exceptions-staff" type="text" />
		  	</div>

		  	<div class="form-group">
		    	<label class="form-label" for="exceptions-other-direct">
		    		<span>Other costs
		    		</span>
		    	</label>
		   		<input class="form-control" id="exceptions-other-direct" type="text" />
		  	</div>

		  	<div class="form-group">
				<span class="form-label">
					<span class="form-label-bold">Subtotal
		    		</span>
		    	</span>
		    	<span class="form-control">*Calculated figure from above numbers*</span>
		  	</div>

		  	<div class="form-group totals">
				<span class="form-label">
					<span class="form-label-bold">Total
		    		</span>
		    	</span>
		    	<span class="form-control">*&pound; Calculated figure from above numbers*</span>
		  	</div>

		  </fieldset>
			
			<div th:include="prototypes/fragments/applicant-view :: appendix-upload(${'question-8-jes'}, ${'lead'}, ${'not-assigned'})" th:remove="tag" />

	</form>


	<div class="alignright-button extra-margin">
		<button type="submit" name="mark_as_complete" class="button" formaction="/prototypes/635-application-question3" value="1">Mark as complete
		</button>
	</div>

	<ul class="pagination">
	    <li class="next">
	        <a rel="next" title="Navigate to next part" href="/prototypes/639-finances-academic-overview">
	            <span class="pagination-label">Next</span>
	            <span class="pagination-part-title">Finances overview</span>
	        </a>
	    </li>
	</ul>

	<a href="/prototypes/635-application-overview" class="button-secondary">Save and return to application overview</a>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>