<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />

<h1 style="text-align: center"><strong>EXAMPLE EMAIL CLIENT</strong></h1>
<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />


	<!-- HARDCODED PROTOTYPE HTML -->

	<div class="extra-margin" style="padding-top: 30px">
		
		<p>From: <a href="#">john.smith@worth.sytems</a><br />
			To: Me </p>

		<h2 class="heading-medium"><strong>Invite to collaborate</strong></h2>

		<p>You have been invited to join a collaborative application for the competition 'Technology Inspired'.</p>
		<p>Lead organisation: <strong>Worth Systems</strong><br />
		Lead applicant: <strong>John Smith</strong></p>
		 
		<p>The lead applicant has invited you to join this application on behalf of the following organisation:
		Nomensa</p>
		 
		<p>If this is not the correct organisation <a href="#">email the application lead</a></p>

		<a href="/prototypes/642-signup-create-acc" class="button">Accept invitation</a>
		
	</div>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    
</main>



</body>
</html>