<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-summary">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<div th:include="prototypes/fragments/layout :: prototype-sub-header" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->
	<div th:include="prototypes/fragments/applicant-view :: prototype-applicant-page-title(${'Innovate UK, Technology inspired - Application number: 12347353'}, ${'Application summary'})" th:remove="tag" />

	<p class="subtitle extra-margin">
        Please review your application before final submission. Any section where there are errors or problems with the content have been highlighted in red.
    </p>

    <h2 class="heading-medium">Details</h2>

	<div class="collapsible section-overview">
       
       	<h2>Application details
			<div class="section-status section-complete">Complete</div>
       	</h2>

		<div id="collapsible-1" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					Application details content
				</div>
			</div>
    	</div>


    	<h2>Project summary
    		<div class="section-status section-complete">Complete</div>
    	</h2>

		<div id="collapsible-2" aria-hidden="false">
			<div class="question" >
				<div class="form-group">
					Project summary
				</div>
			</div>
    	</div>


    	<h2>Public description
			<div class="section-status section-complete">Complete</div>
    	</h2>

		<div id="collapsible-3" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					Public description
				</div>
			</div>
    	</div>


    	<h2>Scope
			<div class="section-status section-complete">Complete</div>
    	</h2>

		<div id="collapsible-4" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					Scope
				</div>
			</div>
    	</div>


    </div>

    <h2 class="heading-medium">Application questions</h2>

	<div class="collapsible section-overview">
		
		<h2>1. Business opportunity
			<div class="section-status section-incomplete">Incomplete</div>
		</h2>

		<div id="collapsible-5" aria-hidden="false">
					
			<div class="question" id="question-1">
			    <div class="form-group">
			        
			        <label class="form-label form-label-bold" for="question-1">What is the business opportunity that your project addresses?</label>
			        
			        <div class="textarea-wrapped ">
			            
			            
			            <textarea data-max_words="500" id="1" name="question[1]" readonly="readonly">Within the Industry one issue has caused progress in the field to be stifled. Up until now any advancement has been made by working around this anomaly.

We propose to tackle the situation head on and develop a tool that will circumvent the problem entirely allowing development to advance.</textarea>
			            <div class="textarea-footer">
			                
			                <!-- if not readonly we show mark as complete buttons and the question should be assigned to you or-->
			                
			                <!-- if  readonly we show the edit form button-->
			                
			                <a tabindex="0" class="button-secondary" href="/prototypes/635-application-question1">Edit</a>
			                <a href="#" class="button">Mark as complete</a>
			                
			                <span class="count-label">
			                    <span class="count-message">Words remaining:</span>
			                    <span class="count-down positive" aria-live="polite">499</span>
			                </span>
			                
			            </div>
			        </div>
			    </div>
			</div>

    	</div>


    	<h2>2. Potential market
			<div class="section-status section-incomplete">Incomplete</div>
    	</h2>

    	<div id="collapsible-6" aria-hidden="false">

			<div class="question" id="question-2">
			    <div class="form-group">
			        
			        <label class="form-label form-label-bold" for="question-2">What is the size of the potential market for your project?</label>
			        
			        <div class="textarea-wrapped ">
			            
			            
			            <textarea data-max_words="500" id="1" name="question[1]" readonly="readonly">The issue affects the entire field, the market value of which is significant, and accounts for a percentage of its annual overhead. A tool to reduce that amount by a significant proportion would be taken up by the entire industry.  

At this time no other solutions are available or near market giving us the leading edge on market share.

Manufacture and development could remain in the United Kingdom with an international export market.</textarea>
			            <div class="textarea-footer">
			                
			                <!-- if not readonly we show mark as complete buttons and the question should be assigned to you or-->
			                
			                <!-- if  readonly we show the edit form button-->
			                
			                <a tabindex="0" class="button-secondary" href="/prototypes/635-application-question2">Edit</a>
			                <a href="#" class="button">Mark as complete</a>
			                
			                <span class="count-label">
			                    <span class="count-message">Words remaining:</span>
			                    <span class="count-down positive" aria-live="polite">499</span>
			                </span>
			                
			            </div>
			        </div>
			    </div>
			</div>

    	</div>


    	<h2>3. Project exploitation
			<div class="section-status section-complete">Complete</div>
    	</h2>

    	<div id="collapsible-7" aria-hidden="false">
			<div class="question" id="question-3">
			    <div class="form-group">
			        
			        <label class="form-label form-label-bold" for="question-3">How will you exploit and market your project?</label>
			        
			        <div class="textarea-wrapped ">
			            
			            
			            <textarea data-max_words="500" id="1" name="question[1]" readonly="readonly">The issue affects the entire field, the market value of which is significant, and accounts for a percentage of its annual overhead. A tool to reduce that amount by a significant proportion would be taken up by the entire industry.

At this time no other solutions are available or near market giving us the leading edge on market share.

Manufacture and development could remain in the United Kingdom with an international export market.</textarea>
			            <div class="textarea-footer">
			                
			                <!-- if not readonly we show mark as complete buttons and the question should be assigned to you or-->
			                
			                <!-- if  readonly we show the edit form button-->
			                
			                <a tabindex="0" class="button-secondary" href="/prototypes/635-application-question3">Edit</a>
			                
			                <span class="count-label">
			                    <span class="count-message">Words remaining:</span>
			                    <span class="count-down positive" aria-live="polite">499</span>
			                </span>
			                
			            </div>
			        </div>
			    </div>
			</div>
    	</div>


    	<h2>4. Economic benefit
			<div class="section-status section-complete">Complete</div>
    	</h2>

    	<div id="collapsible-8" aria-hidden="false">
			<div class="question" id="question-4">
			    <div class="form-group">
			        
			        <label class="form-label form-label-bold" for="question-4">What economic, social and environmental benefits do you expect your project to deliver and when?</label>
			        
			        <div class="textarea-wrapped ">
			            
			            
			            <textarea data-max_words="500" id="1" name="question[1]" readonly="readonly">The tool will give the consortium the leading edge on the technology as currently no one else is close to considering developing a solution.

The Industry will be able to reduce wastage by a significant degree and pass those savings on to the consumer or reinvest into advancing the field.

Inside 2 years it is estimated that a very large sum of money can be recouped by using our solution</textarea>
			            <div class="textarea-footer">
			                
			                <!-- if not readonly we show mark as complete buttons and the question should be assigned to you or-->
			                
			                <!-- if  readonly we show the edit form button-->
			                
			                <a tabindex="0" class="button-secondary" href="/prototypes/635-application-question4">Edit</a>
			                
			                <span class="count-label">
			                    <span class="count-message">Words remaining:</span>
			                    <span class="count-down positive" aria-live="polite">499</span>
			                </span>
			                
			            </div>
			        </div>
			    </div>
			</div>
    	</div>


    	<h2>5. Technical approach
			<div class="section-status section-complete">Complete</div>
    	</h2>

    	<div id="collapsible-9" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					5. Technical approach
				</div>
			</div>
    	</div>


    	<h2>6. Innovation
			<div class="section-status section-incomplete">Incomplete</div>
    	</h2>

    	<div id="collapsible-10" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					6. Innovation
				</div>
			</div>
    	</div>


    	<h2>7. Risks
			<div class="section-status section-incomplete">Incomplete</div>
    	</h2>

    	<div id="collapsible-11" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					7. Risks
				</div>
			</div>
    	</div>


    	<h2>8. Project team
			<div class="section-status section-complete">Complete</div>
    	</h2>

    	<div id="collapsible-12" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					8. Project time
				</div>
			</div>
    	</div>


    	<h2>9. Funding
			<div class="section-status section-complete">Complete</div>
    	</h2>

    	<div id="collapsible-13" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					9. Funding
				</div>
			</div>
    	</div>


    	<h2>10. Adding value
			<div class="section-status section-incomplete">Complete</div>
    	</h2>

    	<div id="collapsible-13" aria-hidden="false">
			<div class="question">
				<div class="form-group">
					10. Adding value
				</div>
			</div>
    	</div>

	</div>

	<h2 class="heading-medium">Finances</h2>

	<div class="collapsible section-overview">

		<!-- Finances not complete -->
		<div th:unless="${param.warning == null}" th:remove="tag"> 

			<h2>Finances summary
				<div class="section-status section-incomplete">Incomplete</div>
    		</h2>

			<div class="question"> 
				<div th:include="prototypes/fragments/applicant-view :: prototype-warning-incomplete" th:remove="tag" />

				<div th:include="prototypes/fragments/applicant-view :: prototype-finances-summary" th:with="incomplete=true" th:remove="tag" />

				<!-- <div th:include="prototypes/fragments/applicant-view :: prototype-eligibility-success" th:remove="tag" /> -->

				<div th:include="prototypes/fragments/applicant-view :: prototype-project-cost-breakdown" th:remove="tag" />
			</div>
		</div>
		
		<!-- Finances complete -->
		<div th:unless="${param.warning != null}" th:remove="tag"> 

			<h2>Finances summary
				<div class="section-status section-complete">Complete</div>
			</h2>

			<div class="question">

				<div th:include="prototypes/fragments/applicant-view :: prototype-finances-summary" th:remove="tag" />

				<div th:include="prototypes/fragments/applicant-view :: prototype-eligibility-success" th:remove="tag" />

				<div th:include="prototypes/fragments/applicant-view :: prototype-project-cost-breakdown" th:remove="tag" />
			</div>	

		</div>
	
	</div>

	<hr />

	<div>
        <span class="icon icon-information"></span>
        <span> You will not be able to make changes to your application or resubmit after this point. By submitting this application you are agreeing to Innovate UK's <a href="">terms and conditions</a>.</span>
    </div>

    <div class="alignright-button">
        <a role="button" tabindex="0" class="button large" data-js-modal="modal-confirm-submit" href="#">Submit application</a>
        
    </div>





	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>