<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-dashboard">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">


    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Back to competition dashboard'}, ${'/prototypes/1035-assessor-dashboard-invites'})" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->
	<div class="hgroup no-margin-top" style="padding-top: 20px; margin-bottom: 30px">
        <h1 class="heading-large no-margin">Invitation to assess 'Technology inspired'</h1>
    </div>
    
    <p>You have been invited at act as an assessor for our new competition <strong>'Technology Inspired'</strong>. Please read the information below and confirm whether you are available to assess applications for this competition.</p>

    <section class="boxed">

        <h2 class="heading-medium no-margin-top">21st March - Assessor Briefing</h2>
        <p class="form-hint">1 hour web based conference call</p>
        <p>The lead technologist for the competition will explain and answer questions on the scope of the competition. It is important that all assessors must receive this briefing.</p>

        <h2 class="heading-medium">15th - 25th April - Assessment Period</h2>
        <p>Remote assessment period for reading, scoring, providing written comments and submitting your assessments in our online service. Each assessor could receive up to 10 proposals to assess, however the actual number of applications will depend on the application response and could be less than this.  Our assessment fee for this competition is &pound;100 per application.</p>
        
        <h2 class="heading-medium">11th May - Assessment Moderation Panel</h2>
        <p class="form-hint">All day - Swindon</p>
        <p>The lead technologist will select 5 assessors to attend an assessment panel meeting; these assessors will be required to read the applications to be moderated prior to the meeting.  At the meeting, the panel will discuss the applications &amp; score them based upon the panel scoring criteria. As we only require 5 assessors for this, confirmation of attendance would be sent out closer to the time.</p>

    </section>

    <section>
        
        <h2 class="heading-medium">Competition Details - Technology Inspired</h2>
        <p>Innovate UK is to invest up to &pound;3 million in feasibility studies to stimulate innovation across four enabling technology areas that underpin future UK growth: advanced materials; biosciences; electronics, sensors and photonics; and information and communication technology (ICT).</p>

        <p><a href="#" rel="external">See competition brief</a></p>

        <h3 class="heading-small">You should reject this competition if:</h3>
        <ul class="list-bullet">
            <li>you are unavailable for any of the dates above</li>
            <li>you would be unable to return all assessments by the deadline above</li>
            <li>if this competition is outside your area of expertise</li>
            <li>if you have a conflict of interest</li>
        </ul>

    </section>

	<form method="post" action="/prototypes/865-assessor-dashboard-invites?accepted=yes">
        <fieldset>
            <legend class="visuallyhidden">Are you able to complete this application?</legend>
            <h2 class="heading-medium">Are you able to complete this application?</h2>
            <button class="button large" name="accept" value="accepted" type="submit">Accept</button>
            <a role="button" tabindex="0" class="button button-warning large" href="/prototypes/865-assessor-dashboard-invites?accepted=no">Reject</a>
        </fieldset>
    </form>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>