<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="assessment-details">

<div th:include="prototypes/fragments/layout :: prototype-nav" th:remove="tag" />
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
	<div th:include="prototypes/fragments/assessor-view :: prototype-assessor-subheader(${'Back to assessment overview'}, ${'/prototypes/984-assessor-application-overview'})" th:remove="tag" />

	<!-- HARDCODED PROTOTYPE HTML -->
	<div th:include="prototypes/fragments/assessor-view :: prototype-assessor-page-title(${'Technology inspired - Application number: 12347353'}, ${'Potential market'})" th:remove="tag" />

	<form action="#" method="post">
		<div class="form-group">
			
			<h2 class="heading-medium no-margin">2. What is the size of the potential market for your project?</h2>
			
			<p>The issue affects the entire field, the market value of which is significant, and accounts for a percentage of its annual overhead. A tool to reduce that amount by a significant proportion would be taken up by the entire industry.</p>

			<p>At this time no other solutions are available or near market giving us the leading edge on market share.</p>

			<p>Manufacture and development could remain in the United Kingdom with an international export market.</p>

		</div>

		<div th:include="prototypes/fragments/assessor-view :: prototype-assessor-feedback" th:with="score=7" th:remove="tag" />

	</form>

<ul class="pagination">
    <li class="prev">
        <a rel="prev" title="Navigate to previous part" href="/prototypes/984-assessor-question1">
            <span class="pagination-label">Previous</span>
            <span class="pagination-part-title">1. Business opportunity</span>
        </a>
    </li>
    <li class="next">
        <a rel="next" title="Navigate to next part" href="/prototypes/984-assessor-question3">
            <span class="pagination-label">Next</span>
            <span class="pagination-part-title">3. Project exploitation</span>
        </a>
    </li>
</ul>

<a href="/prototypes/984-assessor-application-overview" class="button-secondary">Save and return to assessment overview</a>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>