<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!-- =========================== Manage assessor intro=========================== -->
<div th:fragment="prototype-assessor-intro">

  <h2 class="heading-medium">Key statistics</h2>

  <div class="grid-row">
    <div class="column-quarter">
      <div class="highlight-panel">
        <span class="heading-large">60</span><br />
        <small>invited</small>
      </div>
    </div>
    <div class="column-quarter">
      <div class="highlight-panel">
        <span class="heading-large">23</span><br />
        <small>accepted</small>
      </div>
    </div>
    <div class="column-quarter">
      <div class="highlight-panel">
        <span class="heading-large">3</span><br />
        <small>declined</small>
      </div>
    </div>
    <div class="column-quarter">
      <div class="highlight-panel">
        <span class="heading-large">6</span><br />
        <small>assessors on invite list</small>
      </div>
    </div>
  </div>

  <dl class="standard-definition-list extra-margin-top">
      <dt>Innovation sector</dt>
      <dd>Health and life sciences</dd>

      <dt>Innovation area</dt>
      <dd>Agriculture and food</dd>
  </dl>

  <p class="extra-margin extra-margin-bottom">Choose a tab to find, invite and assign assessors to one or more applications.</p>

</div>


<!-- =========================== Manage assessor find =========================== -->
<div th:fragment="prototype-assesor-row-find">

    <!-- <ul class="tabular-list__row">
        <li class="width-quarter" aria-describedby="assessor-name"><a href="#" th:text="${name}">NAME</a></li>
        <li class="width-quarter" aria-describedby="assessor-type" th:text="${type}">INDUSTRY</li>

        <li th:class="${(site == 'rc' ? 'width-quarter' : 'width-half')}" aria-describedby="assessor-area" th:text="${area}">Electronics, sensors &#38; photonics, Materials</li>

        <li class="width-quarter" aria-describedby="assessor-org" th:text="${org}" th:unless="${site == null}">ORGANISATION</li>

        <li class="width-full">
            <ul class="tabular-list__rowinternal">
                <li class="width-half"><span th:unless="${site == 'rc'}">Contract and DOI: <strong th:text="${doi}">Yes</strong></span></li>
                <li class="width-half alignright"><a href="#" class="button button-secondary add-to-invite">+ Add to invite list</a></li>
            </ul>
        </li>
    </ul> -->

    <ul class="tabular-list__row">
        <li class="width-30-percent">
            <a th:href="${'/prototypes/5229-assessor-profile?name='+name} + ${(param.comp != null ? '&#38;comp=' + param.comp[0] : '')}" th:text="${name}" class="heading-small">NAME</a>
        </li>

        <li class="width-10-percent" >
            <strong class="show-mobile">Type:</strong>  <span th:text="${type}" aria-describedby="assessor-type">TYPE</span>
        </li>

        <li class="width-40-percent" aria-describedby="assessor-area">
             <strong class="show-mobile">Area:</strong>  <span th:text="${area}" aria-describedby="assessor-area">AREA</span>
        </li>

         <li class="width-10-percent" aria-describedby="assessor-contract">
           <strong class="show-mobile">Contract and DOI:</strong>  <span><span class="yes">Yes</span></span>
        </li>

        <li class="width-10-percent alignright"><a href="#" class="button button-secondary add-to-invite">Add</a></li>
    </ul>

</div>


<!-- =========================== Manage assessor invite =========================== -->
<div th:fragment="prototype-assesor-row-invite">

    <ul class="tabular-list__row">

        <li class="width-15-percent">
            <a th:href="${'/prototypes/5229-assessor-profile?name='+name} + ${(param.comp != null ? '&#38;comp=' + param.comp[0] : '')}" th:text="${name}" class="heading-small">NAME</a>
        </li>

        <li class="width-15-percent">
            <th:block th:text="${email}"></th:block>
        </li>

        <li class="width-15-percent">
            <th:block th:text="${innovationArea}"></th:block>
        </li>

        <li class="width-15-percent">
            <strong class="show-mobile">Contract and DOI:</strong>  <span class="yes">Yes</span>
        </li>

        <li class="width-20-percent">

            <th:block th:if="${status == null}">

                <label th:for="${'includeInGroupRow' + row}">
                    <input th:id="${'includeInGroupRow' + row}" class="include-in-group" value="Irish" type="checkbox" />
                    Include in group invite
                </label>

            </th:block>

            <th:block th:if="status != null">
                <p th:text="${msg}"></p>
            </th:block>

        </li>

        <li class="width-20-percent alignright">

            <th:block th:if="${status == null}">
                <a th:href="${'/prototypes/4607-manage-assessors-invite?status=invite-individual&#38;name='+name+'&#38;version=v2'} + ${(param.comp != null ? '&#38;comp=' + param.comp[0] : '')}" class="button invite-individual">Invite individual</a>
            </th:block>

            <th:block th:if="${status != null}">
                <p class="extra-margin-right">Status: <strong th:text="${status}"></strong></p>
            </th:block>

            <p>
                <a href="#" class="extra-margin-right">Remove from list</a>
            </p>
        </li>
    </ul>

</div>


<!-- =========================== Manage assessor assign by application =========================== -->
<div th:fragment="prototype-assesor-row-assign-application">
    <ul class="tabular-list__row">
        <li class="width-half">
            <p class="no-margin">No: <a href="#" class="extra-margin-right" th:text="${number}">NUMBER</a></p>
        </li>
        <li class="width-quarter" aria-describedby="assign-lead-org" th:text="${org}">
            ORG
        </li>
        <li class="width-quarter" aria-describedby="assign-assessors">
            <strong th:text="${assessors}">0</strong> <span class="show-mobile">Assigned assessors</span>
        </li>
        <li class="width-full">
            <ul class="tabular-list__row--internal">
                <li class="width-half"><h3 class="heading-small no-margin"><a href="#" th:text="${application}">APPLICATION</a></h3>

                <th:block th:if="${status != null}">
                    <p>Status: <strong th:text="${status}">STATUS</strong></p>
                </th:block>

                <th:block th:if="${area != null}">
                    <p>Area: <strong th:text="${area}">AREA</strong></p>
                </th:block>

                </li>
                <li class="width-half alignright">

                    <th:block th:if="${type != null and type == 'assign'}">
                        <a th:href="${'/prototypes/4607-manage-assessors-assign?view=assessor&#38;row='+ row + '&#38;number='+ number + '&#38;application=' + application + '&#38;assessors=' + assessors + '&#38;org=' + org + '&#38;name=' + name + '&#38;action=application-assigned'}" class="button button-secondary alignright">Assign</a>
                    </th:block>

                    <th:block th:if="${type != null and type == 'remove'}">
                        <a th:href="${'/prototypes/4607-manage-assessors-assign?view=assessor&#38;row='+ row + '&#38;number='+ number + '&#38;application=' + application + '&#38;assessors=' + assessors + '&#38;org=' + org + '&#38;name=' + name + '&#38;action=remove-assigned'}" class="button button-secondary alignright">Remove</a>
                    </th:block>

                    <th:block th:if="${type == null}">
                        <a th:href="${'/prototypes/4607-manage-assessors-assign?view=application&#38;number='+ number + '&#38;application=' + application + '&#38;assessors=' + assessors}" class="button button-secondary alignright" th:text="${button}">BUTTON TEXT</a>
                    </th:block>

                </li>

            </ul>
        </li>
    </ul>
</div>

<!-- =========================== Manage assessor assign by assessor =========================== -->
<div th:fragment="prototype-assesor-row-assign-assessor">
    <ul class="tabular-list__row">
        <li class="width-20-percent">
            <a th:href="${'/prototypes/5229-assessor-profile?name='+name} + ${(param.comp != null ? '&#38;comp=' + param.comp[0] : '')}" th:text="${name}" class="heading-small">NAME</a>
        </li>
        <li class="width-10-percent">
             <strong class="show-mobile">Type:</strong> <span class="no-margin" th:text="${busType}">TYPE</span>
        </li>
        <li class="width-20-percent">
            <strong class="show-mobile">Innovation area:</strong> <span th:text="${area}">INNOVATION AREA</span>
        </li>

        <li class="width-15-percent">

            <strong class="show-mobile">Contract and DOI:</strong>

            <th:block th:if="${contract == 'yes'}">
                <span class="yes">Yes</span>
            </th:block>

            <th:block th:if="${contract == 'no'}">
                <span class="no">No</span>
            </th:block>

        </li>

        <li class="width-15-percent">
            <strong th:text="${status}">STATUS</strong>
        </li>

         <li class="width-20-percent" th:text="${details}">
            DETAILS
        </li>

    </ul>
</div>



<!-- =========================== Manage assessor main content =========================== -->
<div th:fragment="prototype-assessor-main-content">

    <form th:action="${#httpServletRequest.requestURI}">

    <th:block th:if="${param.tab == null or param.tab[0] == 'find'}">

        <div class="tabular-list" id="assessors-find">

            <div class="grid-row">
                   <div class="column-three-quarters">
                        <h2 class="heading-small no-margin-top" th:unless="${site == 'rc'}">Find people on the system that you would like to invite to be an assessor.</h2>
                       <h2 class="heading-small" th:unless="${site == null}">Find people on the system that you would like to invite to the panel.</h2>

                       <p th:unless="${site == 'rc'}">Find people to add to your assessor invite list for this competition. Alternatively, you can use the dropdown filters to narrow your results.</p>
                       <p th:unless="${site == null}">Find people to add to your panel invite list for this opportunity. Alternatively, you can use the dropdown filters to narrow your results.</p>
                   </div>
                   <!--<div class="column-quarter aligncentre">
                       <h3 class="heading-large no-margin">6</h3>
                       <p>Assessors on invite list</p>
                   </div> -->
            </div>

            <div class="search-filters">
                <div class="grid-row">

                    <div class="column-half">

                        <div class="form-group">
                            <label for="filterInnovationType">Type</label>

                            <select name="filterInnovationType" id="filterInnovationType" class="form-control">

                                <option th:if="${param.filterInnovationType != null}" th:remove="tag">
                                    <option th:text="${param.filterInnovationType[0]}" selected="selected">TEST</option>
                                </option>

                                <option th:if="${param.filterInnovationType == null}" th:remove="tag">
                                    <option selected="selected">Any</option>
                                </option>

                                <option value="Business">Business</option>
                                <option value="Academic">Academic</option>
                            </select>
                        </div>

                    </div>

                    <div class="column-half">
                        <div class="form-group">
                            <label for="filterInnovationArea" th:text="${(site == 'rc' ? 'Research area' : 'Innovation area')}">RESEARCH AREA</label>

                            <select name="filterInnovationArea" id="filterInnovationArea" class="form-control">

                                <option th:if="${param.filterInnovationArea != null}" th:remove="tag">
                                    <option th:text="${param.filterInnovationArea[0]}" selected="selected">TEST</option>
                                </option>

                                <option th:if="${param.filterInnovationArea == null}" th:remove="tag">
                                    <option selected="selected">---</option>
                                </option>

                                <div th:include="prototypes/fragments/comp-admin :: prototype-innovation-area-options" th:remove="tag" />
                            </select>
                        </div>
                    </div>

                </div>

                <div class="grid-row">

                    <div class="column-half">
                         <div class="form-group">
                             <label class="form-label" for="filterSearch" th:text="${(site == 'rc' ? 'Name and/or organisation' : 'Keyword')}">FILTER SEARCH</label>
                             <input type="text" class="form-control" id="filterSearch" name="filterSearch" />
                         </div>
                    </div>

                    <div class="column-quarter">
                         <label class="form-label" for="filterContract">Contract and DOI</label>
                         <select name="filterContract" id="filterContract" class="form-control width-">
                             <option value="Show all">Show all</option>
                             <option value="Yes">Yes</option>
                             <option value="No">No</option>

                         </select>
                    </div>

                    <div class="column-quarter">

                        <div class="grid-row">
                            <div class="column-half">
                                <div class="extra-margin-top">
                                    <a th:href="${#httpServletRequest.requestURI}">Clear all filters</a>
                                </div>
                            </div>
                            <div class="column-half alignright">
                                <button class="button">Filter</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="grid-row sorting">
                <div class="column-half">
                    <span class="heading-large">20</span> assessors
                </div>

                <div class="column-half alignright">
                    <label for="inviteFilter">Sort by
                        <select class="form-control" id="inviteFilter" name="inviteFilter">
                            <option value="">All</option>
                            <option value="">To be invited</option>
                            <option value="">Invite sent</option>
                            <option value="">Invite accepted</option>
                            <option value="">Invite declined</option>
                        </select>
                    </label>
                </div>

            </div>

            <!-- <ul class="tabular-list__row-header hide-mobile">
                <li id="assessor-name" class="width-quarter">Name</li>
                <li id="assessor-type" class="width-quarter">Type</li>
                <li id="assessor-area" th:class="${(site == 'rc' ? 'width-quarter' : 'width-half')}" th:text="${(site == 'rc' ? 'Research area' : 'Innovation area')}">INNOVATION AREA</li>
                <li id="assessor-org" class="width-quarter" th:unless="${site == null}">Organisation</li>
            </ul> -->

            <ul class="tabular-list__row-header hide-mobile">
                <li id="assessor-name" class="width-30-percent">Assessor name</li>
                <li id="assessor-type" class="width-10-percent">Type</li>
                <li id="assessor-area" class="width-40-percent" th:text="${(site == 'rc' ? 'Research area' : 'Innovation area')}">INNOVATION AREA</li>
                <li id="assessor-contract" class="width-20-percent">Contract and DOI</li>
                <!-- <li id="assessor-org" class="width-third alignright"><a href="#" class="button button-secondary">Invite page</a></li> -->
            </ul>

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-find" th:with="row=1,name=${'John Barnes'},type=Industry,doi=Yes,area=${'Electronics, sensors &#38; photonics, Materials'},org=${'Horizon Ltd'},position=${'Test position'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-find" th:with="row=2,name=${'Oliver Romero'},type=Academic,doi=Yes,area=${'Healthcare, Regenerative medicine, Stratified medicine'},org=${'Plymouth University'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-find" th:with="row=3,name=${'Jeffrey Carlson'},type=Academic,doi=Yes,area=${'Healthcare, Analytical science'},org=${'London School of Economics'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-find" th:with="row=4,name=${'Bill Limp'},type=Industry,doi=Yes,area=${'Architectures and operating systems'},org=${'ABC Ltd'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-find" th:with="row=5,name=${'Dave Smith'},type=Industry,doi=Yes,area=${'Electronics, sensors &#38; photonics, Materials'},org=${'Flash Ltd'}" th:remove="tag" />

        </div>

        <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assessor-pagination"  th:remove="tag" />


    </th:block>

    <th:block th:if="${param.tab != null and param.tab[0] == 'invite'}">

        <div class="grid-row">
            <div class="column-three-quarters">

                <h2 class="heading-small no-margin-top" th:unless="${site == 'rc'}">Invite a person to become an assessor for this competition.</h2>
                <h2 class="heading-small no-margin-top" th:unless="${site == null}">Invite people to join the panel for this opportunity.</h2>

                <p>You can invite people on your list individually or as a group.</p>
            </div>
            <!-- <div class="column-quarter aligncentre">
                 <h3 class="heading-large no-margin">6</h3>
                 <p>Assessors on invite list</p>
             </div> -->
        </div>

        <details class="extra-margin-bottom" th:unless="${site == 'rc'}">
            <summary><span class="summary">Add a non-registered assessor to your list</span></summary>
            <form th:action="${#httpServletRequest.requestURI}">
                <fieldset>
                    <legend>Enter the new assessor's details below to add them to your invite list</legend>
                </fieldset>

                <div class="table-overflow">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" id="innovation-sector" class="table-column-third">Innovation sector</th>
                                <th scope="col" id="innovation-area" class="table-column-two-thirds">Innovation area</th>
                                <th scope="col"><span class="visuallyhidden">Remove</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cell-align-top width-40-percent">
                                    <div class="form-group">
                                        <select class="form-control width-full" id="innovationSector" name="innovationSector" aria-labelledby="innovation-sector">
                                            <option selected="selected">Please select an innovation sector</option>
                                            <option value="Emerging and Enabling Technologies">Emerging and Enabling Technologies</option>
                                            <option value="Health and Life Sciences">Health and Life Sciences</option>
                                            <option value="Infrastructure Systems">Infrastructure Systems</option>
                                            <option value="Manufacturing and Materials">Manufacturing and Materials</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="cell-align-top width-40-percent">
                                    <div class="form-group">
                                        <select class="form-control width-full" id="innovationArea" name="innovationArea" aria-labelledby="innovation-area">
                                            <option selected="selected">Please select an innovation area</option>
                                            <option value="Advanced Therapies">Advanced Therapies</option>
                                            <option value="Precision Medicine">Precision Medicine</option>
                                            <option value="Medicines Technology">Medicines Technology</option>
                                            <option value="Bioscience">Bioscience</option>
                                            <option value="Agri Productivity">Agri Productivity</option>
                                            <option value="Enhanced Food Quality">Enhanced Food Quality</option>
                                        </select>
                                        <div>The innovation area you select will be for all assessors you add until you click the 'Add assessor(s) to list' button</div>
                                    </div>
                                </td>
                                <td class="width-20-percent"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th id="invite-label-assessor-name" scope="col">Name</th>
                                <th id="invite-label-assessor-email" scope="col">Email</th>
                                <th scope="col"><span class="visuallyhidden">Remove</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="width-40-percent">
                                    <div class="form-group">
                                        <input type="text" id="assessor-name-one" name="assessor-name-one" aria-labelledby="invite-label-assessor-name" class="form-control width-full" />
                                    </div>
                                </td>
                                <td class="width-40-percent">
                                    <div class="form-group">
                                        <input type="text" id="assessor-email-one" name="assessor-email-one" aria-labelledby="invite-label-assessor-email" class="form-control width-full" />
                                    </div>
                                </td>
                                <td class="width-20-percent">

                                </td>
                            </tr>
                            <tr id="prototype-assessor-row-two">
                                <td class="width-40-percent">
                                    <div class="form-group">
                                        <input type="text" id="assessor-name-two" name="assessor-name-two" aria-labelledby="invite-label-assessor-name" class="form-control width-full" />
                                    </div>
                                </td>
                                <td class="width-40-percent">
                                    <div class="form-group">
                                        <input type="text" id="assessor-email-two" name="assessor-email-two" aria-labelledby="invite-label-assessor-email" class="form-control width-full" />
                                    </div>
                                </td>
                                <td class="alignright width-20-percent">
                                    <a href="#" id="prototype-remove-two">Remove</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alignright extra-margin extra-margin-right">
                        <a href="#" id="prototype-assessor-add-row">Add another assessor of this type</a>
                    </div>
                </div>

                <div class="alignright extra-margin-top">
                    <input type="hidden" name="status" value="invite-new" />
                    <input type="hidden" name="tab" value="invite" />
                    <a class="button" id="prototype-add-assessors">Add assessor(s) to list</a>
                </div>
            </form>
        </details>
       <div class="alignright">
            <div class="form-group">
                <label for="sort-by">Sort by</label>
                <select name="sort-by" id="sort-by" class="form-control">
                    <option value="Assessor name">Assessor name</option>
                    <option value="Innovation area">Innovation area</option>
                </select>
            </div>
        </div>

        <div class="tabular-list" id="assessors-invite">
            <ul class="tabular-list__row-header">
                <li class="width-15-percent hide-mobile">
                    Assessor name
                </li>
                <li class="width-15-percent hide-mobile">Email address</li>
                <li class="width-15-percent hide-mobile">Innovation area</li>
                <li id="assessor-contract" class="width-15-percent hide-mobile">Contract and DOI</li>
                <li class="width-20-percent">
                    <label for="includeAll">
                        <input id="includeAll" value="Irish" type="checkbox" />
                        Include all for group invite
                    </label>
                </li>
                <li class="width-20-percent alignright"><a href="/prototypes/4607-manage-assessors-invite?status=invite-group&#38;version=v2" class="button button-secondary disabled" id="invite-group">Invite group</a></li>
            </ul>

            <th:block th:if="${param.status != null and param.status[0] == 'invite-new'}">
                <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-invite" th:with="row=0,name=${param.name[0]},email=${param.email[0]},innovationArea=${param.innovationArea[0]},org=null,position=null,status=null" th:remove="tag" />
            </th:block>

            <div id="prototype-assessor-addable-rows">
                <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-invite" th:with="row=6,name=${'Hannah Carlisle'},email=${'hannah@email.com'},innovationArea=${'Advanced Therapies'},org=${'Cardiff University'},position=${'Professor of Health Technology'},status=${null}" th:remove="tag" />

                <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-invite" th:with="row=7,name=${'Robin Nash'},email=${'robin@email.com'},innovationArea=${'Advanced Therapies'},org=${'Cardiff University'},position=${'Professor of Health Technology'},status=${null}" th:remove="tag" />
            </div>

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-invite" th:with="row=1,name=${'Dave Smith'},email=${'dave@email.com'},innovationArea=${'Earth Observation'},org=${'Cardiff University'},position=${'Professor of Health Technology'},status=${param.status != null and param.status[0] == 'invite-individual' or param.status != null and param.status[0] == 'invite-group' ? 'Invite sent ' + #dates.format(#dates.createNow(), 'dd/MM/yyyy'): null}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-invite" th:with="row=2,name=${'Christopher Soames'},email=${'chris@email.com'},innovationArea=${'Internet of things'},org=${'Public Health England'},position=${'Senior Adviser on technology deployment'},status=${param.status != null and param.status[0] == 'invite-group' ? 'Invite sent ' + #dates.format(#dates.createNow(), 'dd/MM/yyyy'): null}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-invite" th:with="row=3,name=${'Martin Trollope'},email=${'martin@email.com'},innovationArea=${'Internet of things'},org=${'Cardiff University'},position=${'Reader, Healthcare outcome measurement'},status=${null}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-invite" th:with="row=4,name=${'Chantel Secrete'},email=${'chantel@email.com'},innovationArea=${'Internet of things'},org=${'University College London'},position=${'Reader, Technology Interventions'},status=${null}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-invite" th:with="row=5,name=${'Richard Turner'},email=${'richard@email.com'},innovationArea=${'Internet of things'},org=${'Reading University'},position=${'Lecturer of physics'},status=${null}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assessor-pagination"  th:remove="tag" />

        </div>
    </th:block>

    <th:block th:if="${param.tab != null and param.tab[0] == 'overview'}">

        <div class="grid-row">

            <div class="column-three-quarters">

                <h2 class="heading-small no-margin-top">Overview of invited assessors</h2>
                <p>From here you can see an overview of assessors that have been invited to mark applications.</p>

            </div>

        </div>

        <div class="search-filters">
            <div class="grid-row">

                <div class="column-third">

                    <div class="form-group">
                        <label for="filterInnovationType">Type</label>

                        <select name="filterInnovationType" id="filterInnovationType" class="form-control">

                            <option th:if="${param.filterInnovationType != null}" th:remove="tag">
                                <option th:text="${param.filterInnovationType[0]}" selected="selected">TEST</option>
                            </option>

                            <option th:if="${param.filterInnovationType == null}" th:remove="tag">
                                <option selected="selected">Any</option>
                            </option>

                            <option value="Business">Business</option>
                            <option value="Academic">Academic</option>
                        </select>
                    </div>

                </div>

                <div class="column-third">
                    <div class="form-group">
                        <label for="filterInnovationArea" th:text="${(site == 'rc' ? 'Research area' : 'Innovation area')}">RESEARCH AREA</label>

                        <select name="filterInnovationArea" id="filterInnovationArea" class="form-control">

                            <option th:if="${param.filterInnovationArea != null}" th:remove="tag">
                                <option th:text="${param.filterInnovationArea[0]}" selected="selected">TEST</option>
                            </option>

                            <option th:if="${param.filterInnovationArea == null}" th:remove="tag">
                                <option selected="selected">---</option>
                            </option>

                            <div th:include="prototypes/fragments/comp-admin :: prototype-innovation-area-options" th:remove="tag" />
                        </select>
                    </div>
                </div>

                <div class="column-third">
                    <div class="form-group">
                        <label class="form-label" for="filterStatus">Status</label>
                         <select name="filterStatus" id="filterStatus" class="form-control width-full">
                             <option value="All">All</option>
                             <option value="Invite accepted">Invite accepted</option>
                             <option value="Invite sent">Invite sent</option>
                             <option value="Invite declined">Invite declined</option>
                         </select>
                    </div>
                </div>

            </div>

            <div class="grid-row">

                <div class="column-third">
                     <div class="form-group">
                         <label class="form-label" for="filterSearch" th:text="${(site == 'rc' ? 'Name and/or organisation' : 'Keyword')}">FILTER SEARCH</label>
                         <input type="text" class="form-control" id="filterSearch" name="filterSearch" />
                     </div>
                </div>

                <div class="column-third">
                     <label class="form-label" for="filterContract">Contract and DOI</label>
                     <select name="filterContract" id="filterContract" class="form-control width-full">
                         <option value="Yes">Yes</option>
                         <option value="No">No</option>
                         <option value="Show all">Show all</option>
                     </select>
                </div>

                <div class="column-third">

                    <div class="grid-row">
                        <div class="column-half">
                            <div class="extra-margin-top">
                                <a th:href="${#httpServletRequest.requestURI}">Clear all filters</a>
                            </div>
                        </div>
                        <div class="column-half alignright">
                            <button class="button">Filter</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>


    </th:block>

    <th:block th:if="${param.tab != null and param.tab[0] == 'overview' and param.view == null or param.view != null and param.view[0] == 'application'}">
        <div class="tabular-list" id="assessors-assign-application">

            <div class="grid-row sorting">
                <div class="column-half">
                    <span class="heading-large">20</span> assessors
                </div>

                <div class="column-half alignright">
                    <label for="inviteFilter">Sort by
                        <select class="form-control" id="inviteFilter" name="inviteFilter">
                            <option value="">All</option>
                            <option value="">To be invited</option>
                            <option value="">Invite sent</option>
                            <option value="">Invite accepted</option>
                            <option value="">Invite declined</option>
                        </select>
                    </label>
                </div>

            </div>

            <ul class="tabular-list__row-header">
                <li id="overview-assessor-name" class="width-20-percent hide-mobile">
                    Assessor name
                </li>
                <li id="overview-assessor-type" class="width-10-percent hide-mobile">
                    Type
                </li>
                <li id="overview-assessor-area" class="width-20-percent hide-mobile">
                    Innovation area
                </li>
                <li id="overview-contract" class="width-15-percent hide-mobile">
                    Contract and DOI
                </li>
                <li id="overview-status" class="width-15-percent hide-mobile">
                    Status
                </li>
                <li id="overview-details" class="width-20-percent hide-mobile">
                    Details
                </li>

            </ul>

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=1,name=${'Dave Smith'},busType=${'Business'},area=${'Information and commincations technology (ICT)'},contract=yes,status=${'Invite accepted'},details=null" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=2,name=${'Martin Trollope'},busType=${'Academic'},area=${'Information and commincations technology (ICT)'},contract=no,status=${'Invite declined'},details=${'Invite declined as person is too busy'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=3,name=${'Chantel Secrete'},busType=${'Business'},area=${'Information and commincations technology (ICT)'},contract=yes,status=${'Awaiting response'},details=${'Invite sent: 22 June 2016'}" th:remove="tag" />





        </div>

    </th:block>

    </form>
</div>


<!-- =========================== Manage assessors assign =========================== -->

<div th:fragment="prototype-assessor-assign">
        <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge no-margin-bottom">Assign assessor</h1>

            <th:block th:if="${param.view == null or param.view != null and param.view[0] == 'application'}">

                <h2 class="heading-medium">No: <a href="#" th:text="${(param.number != null ? param.number[0] : '00000000000')}"></a></h2>

                <h2 class="heading-medium no-margin-top" th:text="${(param.application != null ? param.application[0] : 'Application name here')}">APPLICATION</h2>

                <th:block th:if="${site == 'rc'}">

                    <p>Choose which assessors will be assigned to this application. You can only assign people who have accepted your invitation. When you're done return to the Assign tab and notify the assessors.</p>

                </th:block>

                <th:block th:unless="${site == 'rc'}">

                    <div class="grid-row extra-margin-bottom">
                        <div class="column-half">
                            <h3 class="heading-small">Innovation area</h3>
                            <ul class="list-bullet">
                                <li>Advanced materials</li>
                            </ul>
                        </div>
                        <div class="column-half">
                            <h3 class="heading-small">Partners</h3>
                            <ul class="list-bullet">
                                <li>Aptrans Ltd (Lead)</li>
                                <li>Biotech Corp</li>
                                <li>University of Cardiff</li>
                            </ul>
                        </div>
                    </div>

                </th:block>

            </th:block>

            <th:block th:if="${param.view != null and param.view[0] == 'assessor'}">

                <h2 class="heading-medium" th:text="${(param.name != null ? param.name[0] : 'TESTER')}">John Smith</h2>

                <p>Choose which applications will be assigned to this assessor. You can only assign people who have accepted your invitation.</p>

            </th:block>

        </div>
        <div class="column-third aligncentre">
            <ul>
                <li>
                    <h3 class="heading-xlarge no-margin-bottom" id="assessors-remaining">3</h3>
                    <p>Applications left to assign</p>
                </li>
            </ul>
        </div>
    </div>

    <th:block th:if="${param.view == null or param.view != null and param.view[0] == 'application'}">
        <div class="grid-row extra-margin-bottom">
            <div class="column-half">
                <a href="#">View application details</a>
            </div>
            <div class="column-half alignright">
                <a href="/prototypes/4607-manage-assessors?view=application&#38;tab=assign&#38;action=notify" class="button button-secondary">Return to assign tab</a>
            </div>
        </div>
    </th:block>

    <th:block th:if="${param.view == null or param.view != null and param.view[0] == 'assessor'}">
        <div class="alignright extra-margin-bottom">
            <a href="/prototypes/4607-manage-assessors?view=assessor&#38;tab=assign&#38;action=notify" class="button button-secondary">Return to assign tab</a>
        </div>
    </th:block>

    <th:block th:if="${param.view == null or param.view != null and param.view[0] == 'application'}">
        <div class="tabular-list">

            <ul class="tabular-list__row-header dark-view hide-mobile">
                <li id="assessor-name" class="width-third">Assigned assessors</li>
                <li id="assessor-name" class="width-third">Innovation area and skills</li>
                <li id="assessor-area" class="width-third">Number of assigned applications</li>
            </ul>

            <p class="aligncentre extra-margin" th:unless="${param.action != null and param.action[0] == 'application-assigned'}">There are currently no applications assigned to this assessor</p>

            <th:block th:if="${param.action != null and param.action[0] == 'application-assigned'}">

                <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=1,name=${param.name[0]},org=${param.org[0]},position=${param.position[0]},applications=${#numbers.formatInteger(param.applications[0],0)} + 1,busType=${param.busType[0]},type=remove" th:remove="tag" />
            </th:block>

        </div>

        <h2 class="heading-small dark-view">Assessors</h2>

        <div class="search-filters">
                <div class="grid-row">
                    <div class="column-half">

                        <label for="filterInnovationArea" th:text="${(site == 'rc' ? 'Research area' : 'Innovation area')}">RESEARCH AREA</label>

                        <select name="filterInnovationArea" id="filterInnovationArea" class="form-control">

                            <option th:if="${param.filterInnovationArea != null}" th:remove="tag">
                                <option th:text="${param.filterInnovationArea[0]}" selected="selected">TEST</option>
                            </option>

                            <option th:if="${param.filterInnovationArea == null}" th:remove="tag">
                                <option selected="selected">---</option>
                            </option>

                            <div th:include="prototypes/fragments/comp-admin :: prototype-innovation-area-options" th:remove="tag" />
                        </select>
                    </div>
                    <div class="column-half" th:unless="${site == 'rc'}">
                        <label for="filterType">Type</label>

                        <select name="filterType" id="filterType" class="form-control">
                            <option th:if="${param.filterType != null}" th:remove="tag">
                                <option th:text="${param.filterType[0]}" selected="selected">TEST</option>
                            </option>

                            <option th:if="${param.filterType == null}" th:remove="tag">
                                <option selected="selected">---</option>
                            </option>

                            <option value="Academic">Academic</option>
                            <option value="Industry">Industry</option>
                        </select>
                    </div>
                </div>

                <div class="grid-row extra-margin">
                    <div class="column-half">
                        <label class="form-label" for="filterSearch" th:text="${(site == 'rc' ? 'Name and/or organisation' : 'Keyword')}">FILTER SEARCH</label>
                         <input type="text" class="form-control" id="filterSearch" name="filterSearch" />
                    </div>

                    <div class="column-half">

                        <div class="grid-row">
                            <div class="column-half">
                                <div class="extra-margin-top">
                                    <a th:href="${#httpServletRequest.requestURI}">Clear all filters</a>
                                </div>
                            </div>
                            <div class="column-half alignright">
                                <button class="button">Filter</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        <div class="tabular-list">

            <ul class="tabular-list__row-header hide-mobile">
                <li id="assessor-name" class="width-third">Assessor</li>
                <li id="assessor-area" class="width-third">Innovation area and skills</li>
                <li id="assessor-type" class="width-third"><a href="#">Number of applications</a></li>
            </ul>

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=1,name=${'Dave Smith'},org=${'Cardiff University'},position=${'Professor of Health Technology'},applications=0,busType=Academic,type=assign" th:unless="${param.action != null and param.action[0] == 'application-assigned' and param.row != null and param.row[0] == '1'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=2,name=${'Christopher Soames'},org=${'Public Health England'},position=${'Senior Adviser on technology deployment'},applications=1,busType=Industry,type=assign" th:unless="${param.action != null and param.action[0] == 'application-assigned' and param.row != null and param.row[0] == '2'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=3,name=${'Martin Trollope'},org=${'London School of Economics'},position=${'Reader, Healthcare outcome measurement'},applications=3,busType=Academic,type=assign" th:unless="${param.action != null and param.action[0] == 'application-assigned' and param.row != null and param.row[0] == '3'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=4,name=${'Chantel Secrete'},org=${'University College London'},position=${'Reader, Technology Interventions'},applications=5,busType=Academic,type=assign" th:unless="${param.action != null and param.action[0] == 'application-assigned' and param.row != null and param.row[0] == '4'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-assessor" th:with="row=5,name=${'Richard Turner'},org=${'Reading University'},position=${'Lecturer of physics'},applications=5,busType=Academic,type=assign" th:unless="${param.action != null and param.action[0] == 'application-assigned' and param.row != null and param.row[0] == '5'}" th:remove="tag" />


        </div>

    </th:block>


    <th:block th:if="${param.view != null and param.view[0] == 'assessor'}">

        <div class="tabular-list">

            <ul class="tabular-list__row-header dark-viewhide-mobile">
                <li id="assessor-name" class="width-half">Applications</li>
                <li id="assessor-type" class="width-quarter">Lead organisation</li>
                <li id="assessor-area" class="width-quarter">Number of assigned applications</li>
            </ul>

            <p class="aligncentre extra-margin" th:unless="${param.action != null and param.action[0] == 'application-assigned'}">There are currently no applications assigned to this assessor</p>

            <th:block th:if="${param.action != null and param.action[0] == 'application-assigned'}">

                 <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-application" th:with="row=${param.row[0]},name=${param.name[0]},number=${param.number[0]},application=${param.application[0]},assessors=${#numbers.formatInteger(param.assessors[0],0)} + 1,org=${param.org[0]},type=remove" th:remove="tag" />

            </th:block>
        </div>

        <h2 class="heading-small dark-view">Applications</h2>

        <div class="search-filters extra-margin-top">
            <div class="grid-row">
                <div class="column-half">
                    <label class="form-label" for="filterSearch">Filter by keyword</label>
                     <input type="text" class="form-control" id="filterSearch" name="filterSearch" />
                </div>

                <div class="column-half">

                    <div class="grid-row">
                        <div class="column-half">
                            <div class="extra-margin-top">
                                <a th:href="${#httpServletRequest.requestURI}">Clear all filters</a>
                            </div>
                        </div>
                        <div class="column-half alignright">
                            <button class="button">Filter</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="tabular-list">

            <ul class="tabular-list__row-header hide-mobile">
                <li id="assessor-name" class="width-half">Applications</li>
                <li id="assessor-type" class="width-quarter">Lead organisation</li>
                <li id="assessor-area" class="width-quarter">Number of assigned applications</li>
            </ul>

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-application" th:with="row=1,application=${'The potential for glucose based contact lens monitoring in the management of type 2 diabetes'},number=${'10001000000'},org=${'Wessex University'},assessors=0,button=${'Assign'},type=assign,name=${param.name[0]}" th:unless="${param.action != null and param.action[0] == 'application-assigned' and param.row != null and param.row[0] == '1'}" th:remove="tag" />

            <div th:include="prototypes/fragments/manage-assessors-updated :: prototype-assesor-row-assign-application" th:with="row=2,application=${'Mobility problems and the potential for internet enabled zimmer frame'},number=${'10001000001'},org=${'Plymouth University'},assessors=1,button=${'Assign'},type=assign,name=${param.name[0]}" th:unless="${param.action != null and param.action[0] == 'application-assigned' and param.row != null and param.row[0] == '2'}" th:remove="tag" />

        </div>

    </th:block>
</div>

<!-- =========================== Manage assessors pagination =========================== -->

<div th:fragment="prototype-assessor-pagination">

    <ul class="pagination">

        <li class="prev">
            <a href="#" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous</span>
                <span class="pagination-part-title">0 to 20</span>
            </a>
        </li>
        <li class="next">
            <a href="#" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title">21 to 40</span>
            </a>
        </li>
    </ul>

    <div class="aligncentre">
        <a href="#" class="extra-margin-right">0 to 20</a>
        <a href="#" class="extra-margin-right">21 to 40</a>
        <a href="#" class="extra-margin-right">41 to 60</a>
        <a href="#" class="extra-margin-right">61 to 80</a>
        <a href="#" class="extra-margin-right">81 to 100</a>
    </div>

</div>




</html>
