<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!-- =========================== Create code snippet - show example and code =========================== -->

<div th:fragment="prot-snippet(element)">

  <div class="result">
    <th:block th:insert="prototypes/fragments/prot-elements :: ${'prot-' + element}"  />
  </div>

  <pre>
    <code class="language-markup">
      <xmp>
        <th:block th:insert="prototypes/fragments/prot-elements :: ${'prot-' + element}"  />
      </xmp>
    </code>
  </pre>

</div>

<!-- =========================== Test =========================== -->

<div th:fragment="prot-test">
  <p>This is just an <strong>example</strong>, real code example is required here</p>
  <ul class="list list-bullet">
    <li>Show example output</li>
    <li>Show example html snippet</li>
  </ul>
</div>

<!-- =========================== Tabs =========================== -->

<th:block th:fragment="prot-tabs">
  <div class="tab-interface">
    <ul>
      <li>
        <a href="#section1">Tab 1</a>
      </li>
      <li>
        <a href="#section2">Tab 2</a>
      </li>
      <li>
        <a href="#section3">Tab 3</a>
      </li>
      <li>
        <a href="#section4">Tab 4</a>
      </li>
    </ul>
    <section id="section1">
      <h2 class="heading-medium">Title for Tab 1</h2>
      <div>
        <p>Content for Tab 1</p>
      </div>
    </section>
    <section id="section2">
      <h2 class="heading-medium">Title for Tab 2</h2>
      <div>
        <p>Content for Tab 2</p>
      </div>
    </section>
    <section id="section3">
      <h2 class="heading-medium">Title for Tab 3</h2>
      <div>
        <p>Content for Tab 3</p>
      </div>
    </section>
    <section id="section4">
      <h2 class="heading-medium">Title for Tab 4</h2>
      <div>
        <p>Content for Tab 4</p>
      </div>
    </section>
  </div>
</th:block>


<!-- =========================== Accordians =========================== -->

<th:block th:fragment="prot-accordians">
    <div class="collapsible">
        <h2>Collapsible header</h2>
        <p>Content goes here</p>
        <h2>Collapsible header 2</h2>
        <p>Content goes here 2</p>
        <h2>Collapsible header 3</h2>
        <p>Content goes here 3</p>
        <h2>Collapsible header 4</h2>
        <p>Content goes here 4</p>
        <h2>Collapsible header 5</h2>
        <p>Content goes here 5</p>
    </div>
</th:block>


<!-- =========================== Read only forms =========================== -->

<th:block th:fragment="prot-read-only-forms">
    <form>
        <th:block th:unless="${param.status != null and param.status[0] == 'readOnly'}">
            <fieldset>
                <legend class="heading-medium">Application details</legend>
                <div class="form-group">
                    <label class="form-label" for="application-name">Application name</label>
                    <input class="form-control" id="application-name" type="text" />
                </div>
            </fieldset>
        </th:block>
        <th:block th:if="${param.status != null and param.status[0] == 'readOnly'}">
            <h2 class="heading-medium">Application details</h2>
            <dl class="readonly-data">
                <dt>Application name</dt>
                <dd>[application name]</dd>
            </dl>
        </th:block>
        <div class="extra-margin">
            <a th:href="${(param.status != null and param.status[0] == 'readOnly' ? '/prototypes/prot-styles-read-only-forms' : '/prototypes/prot-styles-read-only-forms?status=readOnly')}" type="submit" th:text="${param.status != null and param.status[0] == 'readOnly' ? 'Edit application details' : 'Mark application details as complete'}"></a>
        </div>
    </form>
</th:block>


<!-- =========================== Task list =========================== -->

<th:block th:fragment="prot-task-list">
    <h3 class="heading-small">Task list</h3>
    <ul class="task-list">
        <li><div class="task"><h4 class="heading-small"><a href="#">Task 1</a></h4></div></li>
        <li><div class="task"><h4 class="heading-small"><a href="#">Task 2</a></h4></div><div class="task-status-complete"><span>Completed</span></div></li>
        <li><div class="task"><h4 class="heading-small"><a href="#">Task 3</a></h4></div><span class="action-required">Assigned to <strong>you</strong></span><div class="task-status-complete"><span>Completed</span></div></li>
        <li><div class="task"><h4 class="heading-small"><a href="#">Task 4</a></h4></div><span class="secondary-notification">Assigned to <strong>Jessica Doe</strong></span><div class="task-status-complete"><span>Completed</span></div></li>
        <li><div class="task"><h4 class="heading-small">Task 5</h4></div></li>
        <li><div class="task"><h4 class="heading-small">Task 6</h4></div><span class="notification">Jessica Doe</span></li>
        <li class="read-only"><div class="task"><h4 class="heading-small">Task 7</h4></div><span class="notification">-</span></li>
        <li>
            <div class="task-full-width">
                <h4 class="heading-small"><a href="#">Task 8</a></h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <ul class="list list-bullet">
                    <li>ipsum dolor sit amet</li>
                    <li>consectetur adipiscing</li>
                </ul>
            </div>
        </li>
        <li class="read-only">
            <div class="task-full-width">
                <h4 class="heading-small">Task 9</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat urna, porttitor in mi sit amet, facilisis vulputate lectus. Integer cursus porta augue id pellentesque.
            </div>
            <div class="task-status"><span>No action required</span></div>
        </li>
    </ul>
</th:block>


<!-- =========================== Warnings and panels =========================== -->

<th:block th:fragment="prot-panels">
  <div class="message-alert extra-margin-bottom">
    <h2 class="heading-small no-margin">Message alert</h2>
    <p>This is a message alerting you of something.</p>
    <ul class="message-summary-list">
      <li><strong><a href="#">Respond to request</a></strong></li>
    </ul>
  </div>
  <div class="success-alert extra-margin-bottom">
    <h2 class="heading-small no-margin">Assessor account complete!</h2>
  </div>
</th:block>


<!-- =========================== File upload =========================== -->

<th:block th:fragment="prot-file-upload">
  <div class="upload-section">
    <div class="form-group">
      <label class="form-label-bold" for="attachment-name-one">
        Attachment name
      </label>
      <input class="form-control" id="attachment-name-one" type="text" value="Additional documentation" />
    </div>
    <div class="form-group">
      <h3 class="heading-small no-margin">Attachment file</h3>
      <a href="#" class="uploaded-file">additional_documentation.pdf</a>
      <div class="alignright"><a href="#">Remove file</a></div>
    </div>
  </div>
  <div class="upload-section">
    <h3 class="heading-small no-margin">Attachment file</h3>
    <p>If you need to provide more information to support your answer, you can include an appendix, e.g. a project plan</p>
    <details>
      <summary><span class="summary">What should I include in the project management appendix?</span></summary>
      <div class="panel">
        <p>
          You should include only supporting information in the appendix. You shouldn’t use it to provide responses to the question.
        </p>
        <p>
          You can include a Gantt chart of your proposed project
        </p>
        <p>The appendix must:</p>
        <ul class="list list-bullet">
          <li>be in a Portable Document Format (.pdf)</li>
          <li>be legible at 100% magnification</li>
          <li>display the application number and project title at the top of the document.</li>
          <li>be no more than 6 sides of A4 – if your appendix is longer than this, we will assess only the first 6 pages</li>
          <li>be less than 1mb in size</li>
        </ul>
      </div>
    </details>
    <input type="file" name="file" id="file" class="inputfile" />
    <label for="file" class="button-secondary extra-margin">+ Upload</label>
    <p class="uploaded-file">No file currently uploaded</p>
  </div>
</th:block>


<!-- =========================== Progress list =========================== -->

<th:block th:fragment="prot-progress-list">
  <!-- Applicant dashboard -->
  <h2 class="heading-large">Your Dashboard</h2>
  <div class="progress-list">
    <h3 class="heading-medium">Projects in setup</h3>
    <ul>
      <li>
        <div class="task">
          <h4 class="heading-small"><a href="#">Task 1</a></h4>
          <span>Application number: 0000008</span>
        </div>
        <div class="status"><strong>In progress</strong></div>
      </li>
      <li>
        <div class="task">
          <h4 class="heading-small"><a href="#">Task 2</a></h4>
          <span>Application number: 0000008</span>
        </div>
        <div class="status"><strong>In progress</strong></div>
      </li>
      <li>
        <div class="task">
          <h4 class="heading-small"><a href="#">Task 3</a></h4>
          <span>Application number: 0000008</span>
        </div>
        <div class="status"><strong>In progress</strong></div>
      </li>
    </ul>
  </div>
  <div class="progress-list">
    <h3 class="heading-medium no-margin-top">Applications in progress</h3>
    <ul>
      <li>
        <div class="task">
          <h4 class="heading-small"><a href="#">Task 1</a></h4>
          <span>Application number: 0000008</span>
        </div>
        <div class="status">
          <div class="pie-container">
            <div class="pie medium">75%</div>
            <div class="pie-overlay">
              <span class="day">28</span>
              <span>days left</span>
            </div>
          </div>
          <span class="deadline">Deadline 28 January</span>
          <strong>75% complete</strong>
        </div>
        <div class="action-required">
          <strong>12 sections assigned to you</strong>
        </div>
      </li>
      <li>
        <div class="task">
          <h4 class="heading-small"><a href="#">Task 2</a></h4>
          <span>Application number: 0000008</span>
        </div>
        <div class="status">
          <div class="pie-container">
            <div class="pie medium">50%</div>
            <div class="pie-overlay">
              <span class="day">41</span>
              <span>days left</span>
            </div>
          </div>
          <span class="deadline">Deadline 28 January</span>
          <strong>50% complete</strong>
        </div>
      </li>
      <li>
        <div class="task">
          <h4 class="heading-small"><a href="#">Providing sustainable childcare</a></h4>
          <span>Application number: 0000002</span>
        </div>
        <div class="status">
          <img src="../images/icons/icon-awaiting-assessment.svg" width="70" height="70" alt="Awaiting assessment" />
          <span class="awaiting">Awaiting assessment</span>
          <strong>Application submitted</strong>
        </div>
      </li>
      <li>
        <div class="task">
          <h4 class="heading-small"><a href="#">Task 3</a></h4>
          <span>Application number: 0000008</span>
        </div>
        <div class="status">
          <div class="pie-container">
            <div class="pie medium">25%</div>
            <div class="pie-overlay">
              <span class="day">147</span>
              <span>days left</span>
            </div>
          </div>
          <span class="deadline">Deadline 28 January</span>
          <strong>15% complete</strong>
        </div>
      </li>
    </ul>
  </div>

  <div class="progress-list">
    <h3 class="heading-medium no-margin-top">Previous applications</h3>
    <ul>
      <li class="negative">
        <div class="task">
          <h4 class="heading-small"><a href="#">Task 1</a></h4>
          <span>Application number: 0000008</span>
        </div>
        <div class="status"><strong>Not successful</strong></div>
      </li>
      <li class="positive">
        <div class="task">
          <h4 class="heading-small"><a href="#">Task 2</a></h4>
          <span>Application number: 0000008</span>
        </div>
        <div class="status"><strong>Successful</strong></div>
      </li>
    </ul>
  </div>

  <hr />

  <!-- Assessor dashboard  -->

  <h2 class="heading-large">Technology inspired</h2>
  <div class="progress-list">
    <h3 class="heading-medium">Invitations to assess (1)</h3>
    <ul>
      <li>
        <div class="task task-half-width">
          <h4 class="heading-small"><a href="#">Using natural gas to heat homes</a></h4>
          <strong>Empire Gas Ltd</strong>
        </div>
        <div class="notification"><strong class="pending">Pending</strong></div>
        <div class="status"><a href="#">Accept or reject</a></div>
      </li>
    </ul>
  </div>

  <form>
    <div class="progress-list">
      <h3 class="heading-medium">Applications for assessment (4)</h3>
      <ul>
        <li>
          <div class="task task-half-width">
            <h4 class="heading-small"><a href="#">Using natural gas to heat homes</a></h4>
            <strong>Empire Gas Ltd</strong>
          </div>
          <div class="notification"><strong>Ready for assessment</strong></div>
        </li>
        <li class="positive">
          <div class="task task-half-width">
            <div class="label-holder">
              <label class="block-label selection-button-checkbox" for="assessment-submit-checkbox">
                <input id="assessment-submit-checkbox" type="checkbox" value="" checked="checked" />
              </label>
            </div>
            <h4 class="heading-small"><a href="#">Using natural gas to heat homes</a></h4>
            <strong>Empire Gas Ltd</strong>
          </div>
          <div class="notification"><strong>Assessed</strong></div>
          <div class="status">
            <div class="score">
              <strong class="percent">72%</strong>
              <span>Overall score</span>
              <strong>Recommended</strong>
            </div>
          </div>
        </li>
        <li class="negative">
          <div class="task task-half-width">
            <div class="label-holder">
              <label class="block-label selection-button-checkbox" for="assessment-submit-checkbox">
                <input id="assessment-submit-checkbox2" type="checkbox" value="" />
              </label>
            </div>
            <h4 class="heading-small"><a href="#">Using natural gas to heat homes</a></h4>
            <strong>Empire Gas Ltd</strong>
          </div>
          <div class="notification"><strong>Assessed</strong></div>
          <div class="status">
            <div class="score">
              <strong class="percent">37%</strong>
              <span>Overall score</span>
              <strong>Not recommended</strong>
            </div>
          </div>
        </li>
        <li>
          <div class="task task-half-width">
            <h4 class="heading-small"><a href="#">Using natural gas to heat homes</a></h4>
            <strong>Empire Gas Ltd</strong>
          </div>
          <div class="notification"><strong>In progress</strong></div>
        </li>
      </ul>
      <p class="extra-margin-top">Once you have completed your assessment of these applications, use the checkboxes to submit assessments individually or as a series. You cannot edit any submitted assessments.</p>
      <div class="extra-margin-top">
        <a href="#" class="button">Submit assessments</a>
      </div>
    </div>
  </form>

  <hr />

  <!-- Comp setup dashboard -->

  <h2 class="heading-large no-margin-bottom">Project setup status</h2>
  <p class="subtitle no-margin">00000024: Sensing &amp; Control network using the lighting infrastructure</p>
  <p>The following steps need to be completed before this project can begin. All partners have individual steps to complete.</p>
  <strong><a href="/prototypes/1589-team-status">What's the status of each of my partners?</a></strong>
  <div class="project-setup-progress-list">
    <ul>
      <li class="positive">
        <div class="task">
          <h4 class="heading-small">Successful application</h4>
          The application <strong>Magic material</strong> has been successful within the <strong>New designs for a circular economy</strong> competition
          <ul>
            <li><a href="#">View application and feedback</a></li>
            <li><a href="#">View terms and conditions of grant offer</a></li>
          </ul>
        </div>
        <div class="status-complete"><span>Completed</span></div>
      </li>
      <li>
        <div class="task">
          <h4 class="heading-small heading-action-required"><a href="#">Project details</a></h4>
          Confirm the contact details, proposed start date and location of the project.
        </div>
        <div class="status-action-required"><span>To be completed</span></div>
      </li>
      <li class="read-only">
        <div class="task">
          <h4 class="heading-small">Monitoring Officer</h4>
          We will assign the project a Monitoring Officer.
        </div>
        <div class="status"><span>Awaiting assignment by Innovate UK</span></div>
      </li>
      <li class="read-only">
        <div class="task">
          <h4 class="heading-small">Bank details</h4>
          We need bank details for each consortium member so that we can pay the grant.
        </div>
      </li>
      <li class="read-only">
        <div class="task">
          <h4 class="heading-small">Finance checks</h4>
          We will review all project costs.
        </div>
      </li>
      <li class="read-only">
        <div class="task">
          <h4 class="heading-small">Spend profile</h4>
          Once we have approved your financial information, we will produce a spend profile.
        </div>
      </li>
      <li>
        <div class="task">
          <h4 class="heading-small heading-action-required"><a href="#">Other documents</a></h4>
          As lead partner in the consortium you will need to upload the following:
          <ul class="list-bullet">
            <li>a collaboration agreement</li>
            <li>exploitation plan</li>
          </ul>
        </div>
        <div class="status-action-required"><span>To be completed</span></div>
      </li>
      <li class="read-only">
        <div class="task">
          <h4 class="heading-small">Grant offer letter</h4>
          Once all tasks are complete we will send a grant offer letter to the lead partner. When the lead partner has returned the letter to us, you can begin the project.
        </div>
      </li>
    </ul>
  </div>
</th:block>

</html>
