<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!-- ===========================Spend profile intro area  =========================== --> 

<div th:fragment="prototype-spend-profile-intro">
     
   <div class="centralise">

        <div th:if="${param.status != null and param.status[0] == 'MarkedComplete'}" th:remove="tag">
            <div class="marked-complete-alert extra-margin-bottom">
                <p>Your Spend Profile is currently marked as complete, you can decide to make edits to this, or when your partners
    have submitted their spend profiles submit them to Innovate UK</p>
            </div>
        </div>

        <div th:if="${param.spend != null and param.spend[0] == 'high'}" th:remove="tag">

            <div class="warning-alert extra-margin-bottom">
                <h2 class="heading-small">You cannot submit your spend profile. Your total costs are higher than the eligible project costs.</h2>
                <p class="no-margin-bottom">Please review:</p>
                <ul class="list-bullet">
                    <li>Subcontracting costs</li>
                </ul>
                <!-- <a th:href="${(param.user != null and param.user[0] == 'nonLead' ? '/prototypes/3100-spend?spend=high&#38;user=nonLead' : '/prototypes/3100-spend?spend=high')}" class="button-secondary" th:unless="${param.status == null}">Save with overspend</a> -->
            </div>

        </div>

        <div th:if="${param.task != null and param.task[0] == 'reviewProject' and param.status != null and param.status[0] == 'Submitted'}" th:remove="tag">
            <div class="success-alert extra-margin-bottom">
                <p><strong>All Project Spend profiles have been submitted to Innovate UK</strong></p>
            </div>
        </div>

        <div th:if="${param.user != null and param.user[0] == 'nonLead' and param.status != null and param.status[0] == 'Submitted'}" th:unless="${param.task != null and param.task[0] == 'reviewPartner'}" th:remove="tag">
            <div class="success-alert extra-margin-bottom">
                <p><strong>Your spend profile has been sent to the lead partner. They will review and submit to Innovate UK.</strong></p>
            </div>
        </div>

        <div th:if="${param.user != null and param.user[0] == 'nonLead' and param.status != null and param.status[0] == 'SubmittedByLead'}" th:unless="${param.task != null and param.task[0] == 'reviewPartner'}" th:remove="tag">
            <div class="success-alert extra-margin-bottom">
                <p><strong>Your spend profile has been submitted to Innovate UK by the lead partner.</strong></p>
            </div>
        </div>

        <p th:unless="${param.task != null and param.task[0] == 'reviewProject' or param.task != null and param.task[0] == 'reviewPartner'}">We have reviewed and confirmed your project costs. You should now develop a spend profile together with your project partners. This is so we can plan the allocation of the grant funding to your project.</p>

        <dl class="standard-definition-list">
            <dt>Project start date</dt>
            <dd>1 May 2016</dd>

            <dt>Duration</dt>
            <dd>21 months</dd>

            <div th:if="${param.task != null and param.task[0] == 'reviewPartner'}" th:remove="tag">

                <dt>Finance contact</dt>
                <dd>
                    Dave Normen,
                    <a href="mailto:dave@normen.com">dave@normen.com</a>
                </dd>

            </div>

        </dl>

        <!-- <div th:if="${param.task != null and param.task[0] == 'reviewProject'}" th:remove="tag">
            <h2 class="heading-medium">Partner project costs</h2>
            <p class="form-hint">These are the project costs for your partners on the project</p>

            <table id="partner-totals">
                <thead>
                    <tr>
                        <th scope="col">Partner</th>
                        <th scope="col">Project costs</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="row">Total</th>
                        <td>&pound;525,000</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>
                            <p class="no-margin">Aptrans Ltd <br />Lead organisation</p>
                        </td>
                        <td>
                            &pound;175,000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="no-margin">Biotech Corp <br />Partner</p>
                        </td>
                        <td>
                            &pound;175,000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="no-margin">University of Cardiff <br />Partner</p>
                        </td>
                        <td>
                            &pound;175,000
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        
        <th:block th:if="${type == 'business'}">
            <h2 class="heading-medium" th:unless="${param.task != null and param.task[0] == 'reviewProject'}" ><span th:text="${(param.user != null and param.user[0] == 'nonLead' ? 'Biotech Corp - Spend profile' : 'Aptrans Ltd - Spend profile')}">Spend profile</span></h2>
        </th:block>

        <th:block th:if="${type != 'business'}">
            <h2 class="heading-medium">University of Cardiff</h2>
        </th:block>

        <div th:if="${param.task != null and param.task[0] == 'reviewProject'}" th:remove="tag">
            <h2 class="heading-medium">Project - Spend profile</h2>
        </div>

        <p th:unless="${param.task != null and param.task[0] == 'reviewProject' or param.task != null and param.task[0] == 'reviewPartner'}">
            Your project costs have been profiled equally across the time periods. Please edit to show your planned expenditure across the life of your project. Please note that costs cannot be moved across cost categories.
        </p>

        <p th:unless="${param.task == null or param.task[0] != 'reviewProject'}">This is the proposed spend profile for your project.</p>

        <div th:if="${param.status != null and param.status[0] == 'edit'}" th:unless="${type == 'academic'}" th:remove="tag">

            <div class="extra-margin alignright" th:unless="${param.user == null}">

                <a th:href="${(param.spend != null and param.spend[0] == 'high' ? '/prototypes/3100-spend?status=edit&#38;view=full&#38;spend=high&#38;user=nonLead#table-forecast' : '/prototypes/3100-spend?status=edit&#38;view=full&#38;user=nonLead#table-forecast')}" th:unless="${param.view != null or param.status[0] == 'full'}" class="button-secondary">View wide screen table</a>

                <a th:href="${(param.spend != null and param.spend[0] == 'high' ? '/prototypes/3100-spend?status=edit&#38;spend=high&#38;user=nonLead#table-forecast' : '/prototypes/3100-spend?status=edit&#38;user=nonLead#table-forecast')}" th:unless="${param.view == null and param.status[0] != 'full'}" class="button-secondary">View standard table</a>

            </div>

        </div>
        
    </div>
 
</div>

<!-- ===========================Spend profile main table=========================== --> 

<div th:fragment="prototype-spend-profile-table">

    <div class="flex-table">
            <div class="flex-left"></div>
            <div class="flex-middle">
                <table id="table-forecast">
                    <thead>
                        <tr>
                            <th class="alignleft fix-left" scope="row" id="month">Month</th>
                            <th scope="col" id="month1" aria-label="June 2016">Jun 2016</th>
                            <th scope="col" id="month2" aria-label="July 2016">Jul 2016</th>
                            <th scope="col" id="month3" aria-label="August 2016">Aug 2016</th>
                            <th scope="col" id="month4" aria-label="September 2016">Sep 2016</th>
                            <th scope="col" id="month5" aria-label="October 2016">Oct 2016</th>
                            <th scope="col" id="month6" aria-label="November 2016">Nov 2016</th>
                            <th scope="col" id="month7" aria-label="December 2016">Dec 2016</th>
                            <th scope="col" id="month8" aria-label="January 2017">Jan 2017</th>
                            <th scope="col" id="month9" aria-label="February 2017">Feb 2017</th>
                            <th scope="col" id="month10" class="separate-cell year" aria-label="March 2017">Mar 2017</th>

                            <th scope="col" id="month11" aria-label="April 2017">Apr 2017</th>
                            <th scope="col" id="month12" aria-label="May 2017">May 2017</th>
                            <th scope="col" id="month13" aria-label="June 2017">Jun 2017</th>
                            <th scope="col" id="month14" aria-label="July 2017">Jul 2017</th>
                            <th scope="col" id="month15" aria-label="August 2017">Aug 2017</th>
                            <th scope="col" id="month16" aria-label="September 2017">Sep 2017</th>
                            <th scope="col" id="month17" aria-label="October 2017">Oct 2017</th>
                            <th scope="col" id="month18" aria-label="November 2017">Nov 2017</th>
                            <th scope="col" id="month19" aria-label="December 2017">Dec 2017</th>
                            <th scope="col" id="month20" aria-label="January 2018">Jan 2018</th>
                            <th scope="col" id="month21" aria-label="February 2018">Feb 2018</th>
                            <th scope="col" id="month22" class="separate-cell year" aria-label="March 2018">Mar 2018</th>

                            <th scope="col" id="month23" aria-label="April 2018">Apr 2018</th>
                            <th scope="col" id="month24" aria-label="May 2018">May 2018</th>
                            <th scope="col" id="month25" aria-label="June 2018">Jun 2018</th>
                            <th scope="col" id="month26" aria-label="July 2018">Jul 2018</th>
                            <th scope="col" id="month27" aria-label="August 2018">Aug 2018</th>
                            <th scope="col" id="month28" aria-label="September 2018">Sep 2018</th>
                            <th scope="col" id="month29" aria-label="October 2018">Oct 2018</th>
                            <th scope="col" id="month30" aria-label="November 2018">Nov 2018</th>
                            <th scope="col" id="month31" aria-label="December 2018">Dec 2018</th>
                            <th scope="col" id="month32" aria-label="January 2019">Jan 2019</th>
                            <th scope="col" id="month33" aria-label="February 2019">Feb 2019</th>
                            <th scope="col" id="month34" class="separate-cell year" aria-label="March 2019">Mar 2019</th>

                            <th scope="col" id="month35" aria-label="April 2019">Apr 2019</th>
                            <th scope="col" id="month36" aria-label="May 2019">May 2019</th>

                            <th scope="col" class="total fix-right2" id="grand-total">Total</th>
                            <th scope="col" class="total eligible fix-right" id="eligible-project-cost">Eligible project costs</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr th:class="${(param.spend != null and param.spend[0] == 'high' ? 'error-in-row totals' : 'totals')}">
                            <th scope="row" id="total" class="fix-left" >Total</th>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td class="separate-cell year">26,000</td>

                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td class="separate-cell year">26,000</td>

                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td class="separate-cell year">26,000</td>

                            <td>26,000</td>
                            <td>26,000</td>

                            <td class="total fix-right2">936,000</td>
                            <td class="total eligible fix-right">936,000</td>
                        </tr>
                    </tfoot>
                    <th:block th:unless="${param.task != null and param.task[0] == 'reviewProject'}">
                        <tbody>
                            <th:block th:if="${param.status == null or param.status[0] != 'edit'}">
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Labour '}, value=${'12,500'}, total=${'450,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Admin support costs  (20%)'}, value=${'2,500'}, total=${'90,000'}, spend=${(param.spend != null and param.spend[0] == 'high' ? 'high' : 'ok')}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Materials '}, value=${'3,000'}, total=${'108,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Capital usage'}, value=${'3,000'}, total=${'108,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Subcontracting costs'}, value=${'3,000'}, total=${'108,000'}, spend=${(param.spend != null and param.spend[0] == 'high' ? 'high' : 'ok')}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Travel and subsistence'}, value=${'1,000'}, total=${'36,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Other '}, value=${'1,000'}, total=${'36,000'}" th:remove="tag"/>
                            </th:block>

                            <th:block th:if="${param.status != null and param.status[0] == 'edit'}">
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row-edit" th:with="header=${'Labour '}, value=${'12,500'}, total=${'450,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row-edit" th:with="header=${'Admin support costs (20%)'}, value=${'2,500'}, total=${'90,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row-edit" th:with="header=${'Materials '}, value=${'3,000'}, total=${'108,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row-edit" th:with="header=${'Capital usage'}, value=${'3,000'}, total=${'108,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row-edit" th:with="header=${'Subcontracting costs'}, value=${'3,000'}, total=${'108,000'}, spend=${(param.spend != null and param.spend[0] == 'high' ? 'high' : 'ok')}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row-edit" th:with="header=${'Travel and subsistence'}, value=${'1,000'}, total=${'36,000'}" th:remove="tag"/>
                                <div th:include="prototypes/fragments/project-setup :: prototype-spend-row-edit" th:with="header=${'Other '}, value=${'1,000'}, total=${'36,000'}" th:remove="tag"/>
                            </th:block>
                        </tbody>
                    </th:block>
                    
                    <th:block th:if="${param.task != null and param.task[0] == 'reviewProject'}">
                        <tbody>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Aptrans Ltd'}, type=${'Lead Partner'}, value=${'12,500'}, total=${'450,000'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'Biotech Corp'}, type=${'Partner'}, value=${'2,500'}, total=${'90,000'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-row" th:with="header=${'University of Cardiff'}, type=${'Partner'}, value=${'3,000'}, total=${'108,000'}" th:remove="tag"/>
                        </tbody>
                    </th:block>

                </table>
            </div>
            <div class="flex-right"></div>
        </div>

</div>


<!-- ===========================Spend profile main table=========================== --> 

<div th:fragment="prototype-spend-profile-academic-table">

    <div class="flex-table">
            <div class="flex-left"></div>
            <div class="flex-middle">
                <table id="table-forecast">
                    <thead>
                        <tr>
                            <th class="alignleft fix-left" scope="row" id="jes-cat" colspan="2">Je-S category</th>
                            <th scope="col" id="month1" aria-label="June 2016">Jun 2016</th>
                            <th scope="col" id="month2" aria-label="July 2016">Jul 2016</th>
                            <th scope="col" id="month3" aria-label="August 2016">Aug 2016</th>
                            <th scope="col" id="month4" aria-label="September 2016">Sep 2016</th>
                            <th scope="col" id="month5" aria-label="October 2016">Oct 2016</th>
                            <th scope="col" id="month6" aria-label="November 2016">Nov 2016</th>
                            <th scope="col" id="month7" aria-label="December 2016">Dec 2016</th>
                            <th scope="col" id="month8" aria-label="January 2017">Jan 2017</th>
                            <th scope="col" id="month9" aria-label="February 2017">Feb 2017</th>
                            <th scope="col" id="month10" class="separate-cell year" aria-label="March 2017">Mar 2017</th>

                            <th scope="col" id="month11" aria-label="April 2017">Apr 2017</th>
                            <th scope="col" id="month12" aria-label="May 2017">May 2017</th>
                            <th scope="col" id="month13" aria-label="June 2017">Jun 2017</th>
                            <th scope="col" id="month14" aria-label="July 2017">Jul 2017</th>
                            <th scope="col" id="month15" aria-label="August 2017">Aug 2017</th>
                            <th scope="col" id="month16" aria-label="September 2017">Sep 2017</th>
                            <th scope="col" id="month17" aria-label="October 2017">Oct 2017</th>
                            <th scope="col" id="month18" aria-label="November 2017">Nov 2017</th>
                            <th scope="col" id="month19" aria-label="December 2017">Dec 2017</th>
                            <th scope="col" id="month20" aria-label="January 2018">Jan 2018</th>
                            <th scope="col" id="month21" aria-label="February 2018">Feb 2018</th>
                            <th scope="col" id="month22" class="separate-cell year" aria-label="March 2018">Mar 2018</th>

                            <th scope="col" id="month23" aria-label="April 2018">Apr 2018</th>
                            <th scope="col" id="month24" aria-label="May 2018">May 2018</th>
                            <th scope="col" id="month25" aria-label="June 2018">Jun 2018</th>
                            <th scope="col" id="month26" aria-label="July 2018">Jul 2018</th>
                            <th scope="col" id="month27" aria-label="August 2018">Aug 2018</th>
                            <th scope="col" id="month28" aria-label="September 2018">Sep 2018</th>
                            <th scope="col" id="month29" aria-label="October 2018">Oct 2018</th>
                            <th scope="col" id="month30" aria-label="November 2018">Nov 2018</th>
                            <th scope="col" id="month31" aria-label="December 2018">Dec 2018</th>
                            <th scope="col" id="month32" aria-label="January 2019">Jan 2019</th>
                            <th scope="col" id="month33" aria-label="February 2019">Feb 2019</th>
                            <th scope="col" id="month34" class="separate-cell year" aria-label="March 2019">Mar 2019</th>

                            <th scope="col" id="month35" aria-label="April 2019">Apr 2019</th>
                            <th scope="col" id="month36" aria-label="May 2019">May 2019</th>

                            <th scope="col" class="total fix-right2" id="grand-total">Total</th>
                            <th scope="col" class="total eligible fix-right" id="eligible-project-cost">Eligible project costs</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr th:class="${(param.spend != null and param.spend[0] == 'high' ? 'error-in-row totals' : 'totals')}">
                            <th scope="row" id="total" class="fix-left" colspan="2">Total</th>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td class="separate-cell year">26,000</td>

                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td class="separate-cell year">26,000</td>

                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td>26,000</td>
                            <td class="separate-cell year">26,000</td>

                            <td>26,000</td>
                            <td>26,000</td>

                            <td class="total fix-right2">936,000</td>
                            <td class="total eligible fix-right">936,000</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <th:block th:if="${param.status == null or param.status[0] != 'edit'}">
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Staff '}, value=${'12,500'}, total=${'450,000'}, section=${'Directly incurred'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Travel and subsistence '}, value=${'2,500'}, total=${'90,000'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Other costs '}, value=${'3,000'}, total=${'108,000'}, border=borderBottom" th:remove="tag"/>

                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Investigations '}, value=${'3,000'}, total=${'108,000'}, section=${'Directly allocated'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Estate costs '}, value=${'3,000'}, total=${'108,000'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Other costs '}, value=${'1,000'}, total=${'36,000'}, border=borderBottom" th:remove="tag"/>

                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Investigations '}, value=${'334'}, total=${'12,000'}, section=${'Indirect costs'}, border=borderBottom" th:remove="tag"/>

                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Staff '}, value=${'333'}, total=${'12,000'}, section=${'Exceptions'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row" th:with="header=${'Other costs '}, value=${'333'}, total=${'12,000'}" th:remove="tag"/>



                        </th:block>

                        <div th:if="${param.status != null and param.status[0] == 'edit'}" th:remove="tag">
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Staff '}, value=${'12,500'}, total=${'450,000'}, section=${'Directly incured'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Travel and subsistence '}, value=${'2,500'}, total=${'90,000'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Other costs '}, value=${'3,000'}, total=${'108,000'}, border=borderBottom" th:remove="tag"/>

                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Investigations '}, value=${'3,000'}, total=${'108,000'}, section=${'Directly allocated'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Estate costs '}, value=${'3,000'}, total=${'108,000'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Other costs '}, value=${'1,000'}, total=${'36,000'}, border=borderBottom" th:remove="tag"/>

                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Investigations '}, value=${'334'}, total=${'12,000'}, section=${'Indirect costs'}, border=borderBottom" th:remove="tag"/>

                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Staff '}, value=${'333'}, total=${'12,000'}, section=${'Exceptions'}" th:remove="tag"/>
                            <div th:include="prototypes/fragments/project-setup :: prototype-spend-academic-row-edit" th:with="header=${'Other costs '}, value=${'333'}, total=${'12,000'}" th:remove="tag"/>

                        </div>
                    </tbody>
                </table>
            </div>
            <div class="flex-right"></div>
        </div>

</div>


<!-- ===========================Spend profile totals=========================== --> 

<div th:fragment="prototype-spend-profile-totals">
    
    <div class="centralise">
        <div th:include="prototypes/fragments/applicant-view :: prototype-spend-year-totals" th:remove="tag" />
    </div>

</div>


<!-- ===========================Spend profile main table=========================== --> 


<div th:fragment="prototype-spend-profile-controls">

    <div class="centralise">

        <div th:unless="${(param.status != null and param.status[0] == 'edit') or (param.status != null and param.status[0] == 'Submitted') or (param.task != null and param.task[0] == 'reviewProject')}" th:remove="tag">

            <!--<div th:if="${param.user == null or param.user[0] != 'nonLead' and param.status != null and param.status[0] == 'MarkedComplete'}" th:remove="tag">-->
                <!--<p>If required, you can edit this spend profile. It will not be possible to submit the spend profile to Innovate UK until the section is marked as complete.</p>-->
            <!--</div>-->

            <th:block th:unless="${type == 'academic'}">
                <div class="extra-margin" th:unless="${param.user != null and param.user[0] == 'nonLead'}">
                    <a th:href="${(param.spend != null and param.spend[0] == 'high' ? '/prototypes/3100-spend?status=edit&#38;spend=high#table-forecast' : '/prototypes/3100-spend?status=edit'  )}" class="button button-secondary">Edit spend profile</a>
                </div>

                 <div class="extra-margin" th:unless="${param.user == null}">
                    <a th:href="${(param.spend != null and param.spend[0] == 'high' ? '/prototypes/3100-spend?status=edit&#38;spend=high&#38;user=nonLead#table-forecast' : '/prototypes/3100-spend?status=edit&#38;user=nonLead#table-forecast')}" class="button button-secondary">Edit spend profile</a>
                </div>
            </th:block>

            <th:block th:if = "${type == 'academic'}">
                <a th:href="@{'?status=edit&#38;user=nonLead'}" class="button button-secondary">Edit spend profile</a>        
            </th:block>

            <p class="extra-margin" th:unless="${param.user == null or param.user[0] != 'nonLead'}">Before you submit to the lead partner, make sure you are satisfied with your spend profile. It should match the eligible project costs. The lead partner will submit all costs to Innovate UK.</p>

            <p class="extra-margin" th:unless="${param.user != null and param.user[0] == 'nonLead' or param.status != null and param.status[0] == 'MarkedComplete'}">You can still edit this spend profile but you cannot submit until the section is marked as complete.</p>


            <div th:if="${param.user != null and param.user[0] == 'nonLead'}" th:remove="tag">

                <div class="extra-margin" th:unless="${param.spend != null and param.spend[0] == 'high'}">
                    <a href="#" class="button button-large" data-js-modal="modal-send-to-lead">Submit to lead partner</a>
                </div>

                <div class="extra-margin" th:unless="${param.spend == null or param.spend[0] != 'high'}">
                    <a href="#" class="button button-large" disabled="disabled">Send to lead partner</a>
                </div>

                <div class="modal-send-to-lead" role="dialog" aria-hidden="true" style="margin-top: -174px;">
                    <button class="js-close close" aria-label="Close Popup">X</button>
                    <div>

                        <h2 class="heading-medium no-margin">Send to lead partner</h2>

                        <p>Are you sure you want to submit your spend profile to the lead partner?</p>

                        <hr />

                        <div class="alignright-button">
                            
                            <a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a> 

                            <a th:href="@{?status=Submitted&#38;user=nonLead}" class="button">Send</a>
                        </div>

                    </div>
                </div>

            </div>

            <div th:if="${param.user == null or param.user[0] != 'nonLead'}" th:unless="${param.status != null and param.status[0] == 'MarkedComplete'}" th:remove="tag">

                <input type="hidden" name="status" id="status" value="MarkedComplete" th:unless="${param.spend != null and param.spend[0] == 'high'}"/>

                <div class="extra-margin">
                    <button formaction="/prototypes/2472-spend-lead-overview?status=MarkedComplete" class="button button-large" th:disabled="${param.spend != null and param.spend[0] == 'high'}"> Mark as complete</button>
                </div>

            </div>
        </div>

    </div>

    <div th:if="${param.status != null and param.status[0] == 'edit'}" th:remove="tag">

        <div class="centralise extra-margin">

            <th:block th:unless="${type == 'academic'}">

                <a th:href="${param.user != null and param.user[0] == 'nonLead' ? '/prototypes/3100-spend?user=nonLead':'/prototypes/3100-spend'}" class="button button-secondary" th:unless="${param.spend != null and param.spend[0] == 'high'}" >Save and return to spend profile overview</a>

                <a href="#" class="button-secondary" data-js-modal="modal-save-error" th:unless="${param.spend == null or param.spend[0] != 'high'}">Save and return to spend profile overview</a>

                <div class="modal-save-error" role="dialog" aria-hidden="true" style="margin-top: -174px;">
                    <button class="js-close close" aria-label="Close Popup">X</button>
                    <div>

                        <h2 class="heading-medium no-margin">Save</h2>

                        <p>Are you sure you wish to save your spend profile with higher costs than your eligible project costs?</p>

                        <p>You will not be able to submit your spend profile until this is corrected.</p>

                        <hr />

                        <div class="alignright-button">
                            
                            <a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a> 

                            <a th:href="${(param.user != null and param.user[0] == 'nonLead' ? '/prototypes/3100-spend?spend=high&#38;user=nonLead' : '/prototypes/3100-spend?spend=high')}" class="button">Save</a>
                        </div>

                    </div>
                </div>

            </th:block>

            <th:block th:if="${type == 'academic'}">
                <a th:href="@{'?user=nonLead'}" class="button button-secondary">Save and return to spend profile overview</a>
            </th:block>

        </div>

    </div>

    <div th:if="${param.task != null and param.task[0] == 'reviewPartner'}" th:remove="tag">
        
        <div class="centralise">

            <p>If required, you can edit this spend profile. It will not be possible to submit the spend profile to Innovate UK until the section is marked as complete</p>

            <div class="extra-margin">
                <a href="#" class="button button-secondary" data-js-modal="modal-allow-edits">Allow partner to edit</a>
            </div>

            <div class="modal-allow-edits" role="dialog" aria-hidden="true" style="margin-top: -174px;">
                <button class="js-close close" aria-label="Close Popup">X</button>
                <div>

                    <h2 class="heading-medium no-margin">Allow partner to edit</h2>

                    <p><strong>Biotech Corp's</strong> spend profile has been returned to them. They have been informed by email. If you have any specific requirements please contact them directly.</p>

                    <hr />

                    <div class="alignright-button">
                        <a href="/prototypes/2472-spend-lead-overview" class="button">OK</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div th:if="${param.task != null and param.task[0] == 'reviewProject'}" th:remove="tag">

        <div class="extra-margin centralise" th:unless="${param.status != null and param.status[0] == 'Submitted'}">
            <a href="#" class="button button-large" data-js-modal="modal-submit-spend">Submit project spend profile</a>
        </div>

        <div class="modal-submit-spend" role="dialog" aria-hidden="true" style="margin-top: -174px;">
            <button class="js-close close" aria-label="Close Popup">X</button>
            <div>

                <h2 class="heading-medium no-margin">Submit project spend profile</h2>

                <p>The project spend profile will be submitted to both Innovate UK and the Monitoring Officer assigned to this project. This will be used for reference and the base for progress.</p>

                <hr />

                <div class="alignright-button">
                    <a href="#" aria-label="Close Popup" class="button-link js-close">Cancel</a> 
                    <a href="/prototypes/1588-project-status?stage=level4" class="button">Submit</a>
                </div>

            </div>
        </div>
    </div>
</div>



</html>