.app-dashboard {

	.column-assessment-details{
		@include grid-column( 13/16 );
	}

	.column-assessment-status{
		@include grid-column( 3/16 );
	}

	@include media-down(tablet) {
		
		.column-assessment-details{
			@include grid-column( 12/16 );
		}

		.column-assessment-status{
			@include grid-column( 4/16 );
		}

	}

	.boxed-list{
		max-width: 96%;
		@include media-down(mobile) {
			max-width: 92%;
		}
	}

	.awaiting-assessment{
		background: url(../images/icons/icon-awaiting-assessment.png) no-repeat;
		width: 105px;
		text-align: center;
		line-height: 1.2em;
		font-size: 14px;
		padding-top: 110px;
		float: right;
		color: $secondary-text-colour;
		margin: 12px 12px 0 0;
	}

	.assessment-submit-checkbox{
		position: absolute;
		top: 35%;
		right: -34px;
	}
	
	.application-status{
		border-left: 1px solid $border-colour;
		text-align: center;
		margin: -15px;
		min-height: 110px;
		
		@include media-down(mobile) {
			min-height: auto;
		}

		p{
			margin: 0;
			padding: 5px;
			color: $secondary-text-colour;
		}

		&.pending{
			p{
				&.application-listing_pending{
					background-color: $link-colour;
					padding: 35px 0;
					a{
						color: $page-colour;
						text-decoration: none;
					}
				}
			}
		}

		&.open{
			p{
				padding-top: 45px;
			}
		}

		&.assessed,
		&.submitted{
			
			&.yes{
				background: #d9ece1;
			}	

			&.no{
				background: #fae0e0;
			}

			.application-listing_pending{display: none;}

			.score{
				font-size: 40px;
				color: $black;
				font-weight: bold;
				line-height: 1em;
			}

			.recommend-container + p{
				display: none;
			}

			p.recommend{
				background: $grey-2;
				font-size: 14px;
    			font-weight: 700;
    			color: black;
				
				&.yes{
					span{
						background: url(../images/tick-green.png) left 50% no-repeat;
						padding: 0 0 0 20px;
					}
				}

				&.no{
					span{
						background: url(../images/cross-red.png) left 3px no-repeat;
						padding: 0 0 0 20px; 
					}
				}

			}

		}

		@include media-down(mobile) {
			
			border-top: 1px solid $border-colour;
			border-left: none;

			&.open{
				p{
					padding: 5px;
				}
			}

			&.pending{
				p{
					&.application-listing_pending{
						padding: 15px;
					}
				}
			}
		}

	}

	.submitted{
		.boxed-list{
			li{
				background: #e8e9eb; 
			}
		}
		.application-status{
			background: #e8e9eb !important;
		}
	}

	.button[name="submit_assessments"]{
		margin: 15px 0 0 0;

	}

	.boxed-list .progress-container {
		margin: 20px 37px 55px 0;
	}
	.boxed-list .column-half + .column-half{
		padding: 15px 30px 0 0;
		text-align:right;
	} 
	.boxed-list .pie-container {
		vertical-align:top;
		margin-left:30px;
	}
    @include media-down(tablet) {
		.boxed-list .column-half + .column-half{
			text-align:left;
			padding: 15px 15px;	
		}
	}

	.grid-row{
		.row{
			@include grid-column(1);
		}
	}

	
	.competition-details{
		
		.list-bullet{
			margin-bottom: 45px;
		}

	}

	.panel-indent{
		margin-bottom: 0;
	}

	.form-hint{
		margin-bottom: 25px;
	}

	.collapsible{
		.column-three-quarters{
			padding-left: 30px;
		}

		.column-full{
			padding: 0 18px;
		}

		.accordion_item{

			border-top: 1px solid $border-colour;
			padding-top: 20px;

			&:first-child{
				border: none;
			}
		}
	
		.assessor-score{
			text-align: center;
			margin-right: 60px;
			font-weight: bold;
			float: right;
			.score{
				font-size: 48px;
			}
		}

	}

	textarea{
		&.form-control-large{
			width: 100%;
		}
	}

	select{
		&#suitable-for-funding{
			max-width: 120px;
		}
	}

} 