.app-form {
	form{
		padding : 20px 0px 30px 0;
	}
	form h1 {
		margin: 0
	}
	.form-label-bold {
		font-size:24px;
	}
	//for the # links
	// .form-group {
	//     margin-top: 30px;
	//     margin-bottom:0;
	// }
	.last-update strong {
		font-weight:300;
	}

}

.question {
	clear:both;
}