.app-form {

	.labour-costs-table td {
		 	border-top:1px solid $border-colour;
			border-bottom:none;
	}
	.labour-costs-table tr:last-child td,
	.labour-costs-table tr:nth-last-child(2) td[rowspan] {
		border-bottom:1px solid $border-colour;
	}
	.labour-costs-table th[rowspan],
	.labour-costs-table td[rowspan] {
			padding:0;
			text-align:center;
	}
	.labour-costs-table th[colspan],
	.labour-costs-table td[colspan] {
			border-top:none;
	}
	.labour-costs-table .control {
		 padding:0;
	 }
	.form-label-bold {
		font-size:24px;
	}
	//for the # links
	// .form-group {
	//     margin-top: 30px;
	//     margin-bottom:0;
	// }
	.last-update strong {
		font-weight:300;
	}

	.button{
		&.button-block{
			display: block;
			width: 100%;
			text-align: center;
			padding: 15px;
		}
	}
	// .js-enabled &{
	// 	input[name="submit-section"]{
	// 		display: none;
	// 	}
	// }
	.form-row .form-label {
			width:50%;
		}

}

.form-row {
	border-bottom:1px solid $border-colour;
	padding:20px 0;
	&:first-child { border-top:1px solid $border-colour; }


}

.question {
	clear:both;
}
