.app-summary {

	h1.heading-xlarge{
		margin-bottom:0;
	}
	.icon-information {
		float:left;
		width:54px;
		height:54px;
		margin-right:10px;
		background-image: url('../images/icons/icon-information-2x.png')

	}
	div.alignright-button {
		padding-top:30px;
	}
	a.back {
		font-size: 16px;
		display: block;
		margin-top:1em;
	}
	
	.question {
		overflow: hidden;
		margin:20px; 
	}
} 