
//everything should be wrapped within this body class. 
.app-details {

	.assignee {
		color:$secondary-text-colour;
		font-size:16px;
		padding: 25px 35px 20px 60px;	
	}

	.alignright-button {
		padding-top:40px;
	}
	.progress-container {
		margin-left: 0;
		margin-right:140px;
	}
	.collapsible h2 + [aria-hidden="false"] {
		padding:0;
	}
	.assign-container .assign-button > button {
		margin: 0 0 2px -4px;
	}
	.assign-team {
		margin-top:0;
		right:0;
	}
}

@include media-down(mobile){
	.app-details .progress-container  {
		margin: 0 25px 65px;
	}
}