<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />



	<div th:if="${param.filterInnovationArea != null}" th:remove="tag">
		<style>
			#application-list tbody tr{
				display: none;
			}
			.pagination{
				display: none;
			}
			#application-list tbody tr.filtered-result{
				display: table-row;
			}
		</style>
	</div>

</head>

<body class="full-width show-full-table">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Competitions dashboard'}, ${'/prototypes/860-comp-applications-dashboard?invitesSent'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title(${'Innovate UK, Technology inspired, (4891061)'}, ${'Manage applications'})" />

	<div id="sticky-zone">

		<section class="info-area">

			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-allocation-summary" />

			<div class="grid-row extra-margin">
				<div class="column-quarter">
					<p>Assigned <br /><span class="heading-medium">250</span></p>
				</div>

				<div class="column-quarter">
					<p>Accepted <br /><span class="heading-medium">225</span></p>
				</div>

				<div class="column-quarter">
					<p>Started <br /><span class="heading-medium">125</span></p>
				</div>

				<div class="column-quarter">
					<p>Completed <br /><span class="heading-medium">25</span></p>
				</div>
			</div>

		    <div th:if="${param.sendAssignments != null}" th:remove="tag">
		    	<div class="highlight-panel extra-margin">
			        <div class="alignright-button" id="added-assessors">
						<a href="/prototypes/1385-application-allocation-confirm" class="button">Send updates to assessors</a>
					</div>
				</div>
			</div>

		</section>

		<!-- <p class="form-hint">Add assessors to the invite list by selecting '<strong>Add</strong>' from the list of <strong>current assessors</strong> in the section below</p> -->

		<section class="data-area">

			<h2 class="heading-large" id="current-assessors">Application list</h2>

			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-search-filters" th:with="filterTitle=${'applications'}" />

			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-application-list-table" th:with="adminTask='manage'" />

			<div th:if="${param.filterStatus == null}" th:remove="tag">

				<ul class="pagination">
				    <li class="next">
				        <a href="#" rel="next" title="Navigate to next part">
				            <span class="pagination-label">Next</span>
				            <span class="pagination-part-title">2 of 4</span>
				        </a>
				    </li>
				</ul>

			</div>

		</section>

	</div>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
</body>
</html>
