<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />



	<div th:if="${param.filterInnovationArea != null}" th:remove="tag">
		<style>
			#application-list tbody tr{
				display: none;
			}
			.pagination{
				display: none;
			}
			#application-list tbody tr.filtered-result{
				display: table-row;
			}
		</style>
	</div>

</head>

<body th:class="${(param.fullWidth != null ? 'comp-assessors show-applications' : 'comp-assessors full-width show-applications')}">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Competition overview'}, ${'/prototypes/860-comp-applications-dashboard'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title(${'Innovate UK, Technology inspired, (4891061)'}, ${'Application allocation'})" />

	<div id="sticky-zone">

		<div class="info-area">
			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-allocation-summary" />

			<div th:if="${param.sendAssignments != null}" th:remove="tag">
			    <div class="highlight-panel">
			        <div id="added-assessors">
						<a href="/prototypes/1385-application-allocation-confirm" class="button">Confirm assignments</a>
					</div>
				</div>
			</div>

		</div>


		<!-- <p class="form-hint">Add assessors to the invite list by selecting '<strong>Add</strong>' from the list of <strong>current assessors</strong> in the section below</p> -->


		<div class="data-area">

			<h2 class="heading-large" id="current-assessors">Application list</h2>

			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-search-filters" th:with="filterTitle=${'applications'}" />

			<th:block th:insert="prototypes/fragments/comp-admin :: prototype-application-list-table" />

			<div th:if="${param.filterStatus == null}" th:remove="tag">

				<ul class="pagination">
				    <li class="next">
				        <a href="#" rel="next" title="Navigate to next part">
				            <span class="pagination-label">Next</span>
				            <span class="pagination-part-title">2 of 4</span>
				        </a>
				    </li>
				</ul>

			</div>
		</div>


	</div>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
</body>
</html>
