<!DOCTYPE html>
<html  class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle=|Unsuccessful applications - CompetitionName|" />
    </head>

    <body>
        <th:block th:insert="fragments/layout :: body-start" />
       <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">

            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='All competitions',linkClass='link-back',linkUrl='#'" />
            <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Unsuccessful applications',subTitle=|1: CompetitionName|,size='govuk-heading-xl'" />


            <div class="govuk-grid-row sorting">
              <div class="govuk-grid-column-full">
                  <span class="govuk-heading-xl govuk-!-margin-0">6</span>
                  <span class="govuk-heading-s">applications</span>
              </div>
            </div>
            <div class="table-overflow">
                <table id="application-list">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Application number</th>
                            <th class="govuk-table__header" scope="col">Project title</th>
                            <th class="govuk-table__header" scope="col">Lead organisation</th>
                            <th class="govuk-table__header" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a href="#">123</a>
                            </td>
                            <td class="govuk-table__cell">Machine learning in robotics</td>
                            <td class="govuk-table__cell">PWC</td>
                            <td class="govuk-table__cell">Ineligible</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a href="#">124</a>
                            </td>
                            <td class="govuk-table__cell">Automated Project Title generator</td>
                            <td class="govuk-table__cell">B.Systems</td>
                            <td class="govuk-table__cell">Not funded</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a href="#">125</a>
                            </td>
                            <td class="govuk-table__cell">A look into creating a better Innovation Funding Service</td>
                            <td class="govuk-table__cell">Competition systems ltd.</td>
                            <td class="govuk-table__cell">Ineligible</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a href="#">127</a>
                            </td>
                            <td class="govuk-table__cell">Machine learning in robotics</td>
                            <td class="govuk-table__cell">PWC</td>
                            <td class="govuk-table__cell">Ineligible</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a href="#">130</a>
                            </td>
                            <td class="govuk-table__cell">Automated Project Title generator</td>
                            <td class="govuk-table__cell">B.Systems</td>
                            <td class="govuk-table__cell">Not funded</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a href="#">133</a>
                            </td>
                            <td class="govuk-table__cell">A look into creating a better Innovation Funding Service</td>
                            <td class="govuk-table__cell">Competition systems ltd.</td>
                            <td class="govuk-table__cell">Ineligible</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--/* <th:block th:insert="fragments/elements :: general-pagination(pagination=${model.pagination})" /> */-->

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
