<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body th:class="${(param.view != null and param.view[0] == 'full' ? 'app-overview full-width' : 'app-overview ')}">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

	<th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Set up your project'}, ${'/prototypes/1588-project-status'})" />


	<!-- HARDCODED PROTOTYPE HTML -->
	<th:block th:insert="prototypes/fragments/applicant-view :: prototype-project-page-title(${'194741: Machine learning in robots'}, ${'Project team status'})" />

	<p>Additional information is needed before your project can begin. This table will help you to keep track of what tasks have been completed and what is outstanding.</p>


	<div class="table-overflow">
		<table id="table-project-status">
			<thead>
				<tr>
					<th scope="col" rowspan="2">Partner</th>
					<th scope="col" colspan="8" class="aligncentre">Project setup stage</th>
				</tr>
				<tr>
					<th class="status" scope="col">Project details</th>
					<th class="status" scope="col">Monitoring Officer</th>
					<th class="status" scope="col">Bank details</th>
					<th class="status" scope="col">Finance checks</th>
					<th class="status" scope="col">Spend profile</th>
					<th class="status" scope="col">Other docs</th>
					<th class="status" scope="col">Grant offer letter</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Aptrans Ltd</td>
					<td class="status ok" title="OK"><span class="visuallyhidden">OK</span></td>
					<td id="assignMo" class="status ok" title="OK"><span class="visuallyhidden">OK</span></td>
					<td class="status ok" title="OK"><span class="visuallyhidden">OK</span></td>
					<td class="status ok" title="OK"><span class="visuallyhidden">OK</span></td>
					<td class="status action" title="Assigned to me"><span class="visuallyhidden">Assigned to me</span></td>
					<td class="status action" title="Assigned to me"><span class="visuallyhidden">Assigned to me</span></td>
					<td class="status with-partner">-</td>
				</tr>
				<tr>
					<td>Biotech Corp</td>
					<td class="status ok"><span class="visuallyhidden">OK</span></td>
					<td class="status na">&nbsp;</td>
					<td class="status ok"><span class="visuallyhidden">OK</span></td>
					<td class="status waiting" title="Awaiting review from Innovate UK"><span class="visuallyhidden">Awaiting review from Innovate UK</span></td>
					<td class="status">-</td>
					<td class="status na">&nbsp;</td>
					<td class="status na">&nbsp;</td>
				</tr>
				<tr>
					<td>University of Cardiff</td>
					<td class="status ok"><span class="visuallyhidden">OK</span></td>
					<td class="status na">&nbsp;</td>
					<td class="status waiting" title="Awaiting review from Innovate UK"><span class="visuallyhidden">Awaiting review from Innovate UK</span></td>
					<td class="status">-</td>
					<td class="status">-</td>
					<td class="status na">&nbsp;</td>
					<td class="status na">&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>

<script type="text/javascript">
	// <![CDATA[

	// ]]>
</script>
</body>
</html>
