<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Back'}, ${'/prototypes/1972-project-invite-signup'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<h1 class="govuk-heading-l">Join a project</h1>

	<div class="panel">
		<p>You have been invited to join a collaborative project.</p>

		<dl class="standard-definition-list">
			<dt>Project</dt>
			<dd>A novel solution to an old problem</dd>

			<dt>Competition</dt>
			<dd>Technology inspired</dd>

			<dt>Lead organisation</dt>
			<dd>Empire Ltd</dd>

			<dt>Lead applicant</dt>
			<dd>Steve Smith</dd>
		</dl>

		<p>You have been invited to join this project on behalf of the following organisation: <strong>Nomensa</strong></p>
	</div>

	<h2 class="govuk-heading-m">Your Organisation</h2>

	<fieldset>
		<legend class="visuallyhidden">Your Organisation</legend>
		<div class="form-block">
			<h3 class="govuk-heading-s">Organisation name</h3>
			<p>Nomensa</p>
			<h3 class="govuk-heading-s">Registration number</h3>
			<p>0123456789</p>
			<h3 class="govuk-heading-s">Address</h3>
			<p>13 Queens Square <br />
				Bristol <br />
				BS1 4NT
			</p>
		</div>
	</fieldset>

	<a href="/prototypes/675-dashboard?status=projectSetup&#38;user=nonLead" class="button button-large extra-margin" name="select-org-size" th:unless="${param.action != null and param.action[0] == 'signUp'}">Continue to project</a>

	<a href="/prototypes/1972-project-create-acc" class="button button-large extra-margin" name="select-org-size" th:unless="${param.action == null or param.action[0] != 'signUp'}">Create account</a>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
