<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="app-dashboard">
<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">


	<!-- HARDCODED PROTOTYPE HTML -->

	<h1 class="govuk-heading-xl">Your dashboard</h1>

	<div th:unless="${param.action != null and param.action[0] == 'accVerified'}" th:remove="tag">

		<div th:if="${param.status != null and param.status[0] == 'successful' or param.status != null and param.status[0] == 'successfulFeedback'}" th:remove="tag">

      <div class="progress-list">
  			<h2 class="govuk-heading-m">Projects in setup</h2>

  			<ul>
  				<li th:unless="${param.status[0] == 'successful'}">
              <div class="task">
                  <h2 class="govuk-heading-s">
                  <a th:href="${(param.user == null ? '/prototypes/1588-project-status' : '/prototypes/1588-project-status?user=nonLead')}">Mobile Phone Data for Logistics Analytics</a>
                  </h2>
                  <ul class="application-details">
                    <li>Application number: 194741</li>
                    <li>Competition: Technology inspired</li>
                  </ul>
              </div>
              <div class="status">
                  <strong class="status-msg msg-progress">In progress</strong>
              </div>
  			    </li>
  			    <li th:unless="${param.status[0] == 'successfulFeedback'}">
		            <div class="task">
		                <h2 class="govuk-heading-s">
		                  <a th:href="${(param.user == null ? '/prototypes/1588-project-status' : '/prototypes/1588-project-status?user=nonLead')}">Machine learning in robots</a>
		                </h2>
                    <ul class="application-details">
                      <li>Application number: 10294856</li>
                      <li>Competition: Technology inspired</li>
                    </ul>
		            </div>
                <div class="status">
                    <strong class="status-msg msg-progress">In progress</strong>
                </div>
  			    </li>
  			</ul>
      </div>

		</div>

    <div class="progress-list">
  		<h2 class="govuk-heading-m">Previous applications</h2>
  		<ul>
  			 <li class="negative" th:unless="${param.status != null and param.status[0] != 'unsuccessful'}">
            <div class="task">
                <h2 class="govuk-heading-s"><a href="/prototypes/2111-submitted-application-overview?status=unsuccessful">Machine learning in robots</a></h2>
                <ul class="application-details">
                  <li>Application number: 10294856</li>
                  <li>Competition: Technology inspired</li>
                </ul>
            </div>
            <div class="status">
                <strong class="status-msg msg-progress">Unsuccessful</strong>
            </div>
  		    </li>
  		    <li class="positive" th:unless="${param.status != null and param.status[0] != 'successful'}">
	            <div class="task">
	                <h2 class="govuk-heading-s"><a href="/prototypes/2111-submitted-application-overview?status=successful">Machine learning in robots</a></h2>
                  <ul class="application-details">
                    <li>Application number: 0294856</li>
                    <li>Competition: Technology inspired</li>
                  </ul>
              </div>
              <div class="status">
                  <strong class="status-msg msg-progress">Successful</strong>
              </div>
  		    </li>
  		    <li class="positive" th:unless="${param.status != null and param.status[0] != 'successfulFeedback'}">
	            <div class="task">
	                <h2 class="govuk-heading-s"><a href="/prototypes/2111-submitted-application-overview?status=successfulFeedback">Mobile Phone Data for Logistics Analytics</a></h2>
                  <ul class="application-details">
                    <li>Application number: 10294855</li>
                    <li>Competition: Technology inspired</li>
                  </ul>
              </div>
              <div class="status">
                  <strong class="status-msg msg-progress">Successful</strong>
              </div>
  		    </li>
  		    <li class="negative" th:unless="${param.status != null and param.status[0] != 'unsuccessfulFeedback'}">
	            <div class="task">
                  <h2 class="govuk-heading-s"><a href="/prototypes/2111-submitted-application-overview?status=unsuccessfulFeedback">Mobile Phone Data for Logistics Analytics</a></h2>
                  <ul class="application-details">
                    <li>Application number: 10294855</li>
                    <li>Competition: Technology inspired</li>
                  </ul>
              </div>
              <div class="status">
                  <strong class="status-msg msg-progress">Unsuccessful</strong>
              </div>
  		    </li>

  			<div th:if="${param.status != null and param.status[0] == 'notSubmitted'}" th:remove="tag">
  				<li class="negative">
	            <div class="task">
	                <h2 class="govuk-heading-s"><a href="/prototypes/2111-submitted-application-overview?status=unsuccessful">Machine learning in robots</a></h2>
                  <ul class="application-details">
                    <li>Application number: 10294856</li>
                    <li>Competition: Technology inspired</li>
                  </ul>
              </div>
              <div class="status">
                  <strong class="status-msg msg-progress">Unsuccessful</strong>
              </div>
  		   		</li>
  				<li>
	            <div class="task">
	                <h2 class="govuk-heading-s"><a href="/prototypes/2111-submitted-application-overview?status=notSubmitted">Additive manufacturing</a></h2>
                  <ul class="application-details">
                    <li>Application number: 10295748</li>
                    <li>Competition: Technology inspired</li>
                  </ul>
	            </div>
              <div class="status">
                  <strong class="status-msg msg-progress">Not submitted</strong>
              </div>
  				</li>
  			</div>

  		</ul>
  </div>

  <div class="progress-list">
    <h2 class="govuk-heading-m">Live projects</h2>

  	<p>View your live projects on <a href="#">_connect</a></p>

  	<ul>
  		<li>
        <div class="task">
          <h2 class="govuk-heading-s"><a href="/prototypes/1588-project-status?stage=level7&#38;status=setup-complete">Machine learning in robots</a></h2>
          <ul class="application-details">
            <li>Application number: 10294856</li>
            <li>Competition: Technology inspired</li>
          </ul>
        </div>
  		</li>
  	</ul>

  </div>



	<h2 class="govuk-heading-l">Your profile</h2>


	<ul class="govuk-list govuk-list--bullet">
		<li>
			<a href="/prototypes/6291-applicant-details">your details</a>
		</li>
    <li>
			<a href="/prototypes/6292-applicant-org">your organisation</a>
		</li>
		<li>
			<a href="/prototypes/675-change-password">change your password</a>
		</li>
		<li>
			<a href="/info/terms-and-conditions">read the terms and conditions</a>
		</li>
	</ul>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script type="text/javascript">

	jQuery('input#address-same').on('click',function(e){
		//e.preventDefault();
		if ( jQuery(this).is(':checked') ) {
			jQuery("#manual-company-input").hide();
		}else{
			jQuery("#manual-company-input").show();
		}

	});

	jQuery('#manual-company-trigger').on('click',function(e){
		e.preventDefault();
		jQuery("#manual-company-input").show();
		jQuery("#org-results").hide();

	});

	jQuery('#postcode-lookup').on('click',function(e){
		e.preventDefault();
		jQuery("#select-address-block").show();

	});

	jQuery('#select-address').on('change',function(e){
		e.preventDefault();
		jQuery("#address-details").show();
		jQuery("#street").val("King William House");
		jQuery("#street-2").val("13 Queens Square");
		jQuery("#town").val("Bristol");
		jQuery("#postcode").val("BS1 4NT");

	});

	jQuery('#enter-address-manually').on('click',function(e){
		e.preventDefault();
		jQuery("#address-details").show();
		jQuery("#select-address-block").hide();
	});
</script>
</body>
</html>
