<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main id="content">



  <th:block th:insert="prototypes/fragments/applicant-view :: prototype-applicant-subheader(${'Application overview'}, ${'/prototypes/635-application-overview'})" />

	<!-- HARDCODED PROTOTYPE HTML -->
  <th:block th:insert="prototypes/fragments/applicant-view :: prototype-applicant-page-title(${null}, ${'Finances'})" />

  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Finances</h2>
  <p class="govuk-body">Each partner should submit their own project finances and funding rates. The overall project costs for all partners can be seen in the 'finances overview' section.</p>

  <details class="govuk-!-margin-bottom-6">
    <summary><span class="summary">Not requesting funding</span></summary>
    <div class="panel-indent">
      <p class="govuk-body">If your organisation is not funded by Innovate UK then you do not need to submit organisational or funding details. <span id="prototype-confirmation-text">Please confirm below.</span></p>
      <!--<form action="#">-->
        <!--<div class="govuk-form-group">-->
          <!--<fieldset class="govuk-fieldset">-->
            <!--<label for="no-funding" class="block-label">-->
              <!--<input id="no-funding" value="no-funding" type="checkbox" />-->
              <!--This organisation does not request funding from Innovate UK for participation in the project.-->
            <!--</label>-->
          <!--</fieldset>-->
        <!--</div>-->
      <!--</form>-->
      <button class="govuk-button" id="prototype-funding">Not requesting funding</button>
    </div>
  </details>

  <ul class="govuk-list list-overview">
    <li class="section-status assigned-to-me">
      <div class="govuk-grid-row">
        <div class="column-two-thirds">
          <h3 class="govuk-heading-s"><a href="/prototypes/4600-your-finances">Your project costs</a></h3>
        </div>

      </div>
    </li>
    <li class="funding assigned-to-me">
      <div class="govuk-grid-row">
        <div class="column-two-thirds">
          <h3 class="govuk-heading-s"><a href="/prototypes/4600-your-org">Your organisation size</a></h3>
        </div>
      </div>
    </li>
    <li class="funding" th:classappend="${(param.status != null and param.status[0] == 'initialView' ? '' : 'assigned-to-me')}" >
      <div class="govuk-grid-row">
        <div class="column-one">

          <th:block th:if="${param.status != null and param.status[0] == 'initialView'}">
            <h3 class="govuk-heading-s">Your funding</h3>
            <p class="govuk-body">Before you can supply your funding information this project must be given a research area in <a href="/prototypes/5452-application-details">project details</a>, and your organisation size defined in the <a href="/prototypes/4600-your-org">your organisation</a> section.</p>
          </th:block>

          <th:block th:if="${param.status == null or param.status[0] != 'initialView'}">
            <h3 class="govuk-heading-s"><a href="/prototypes/6618-your-funding">Your funding</a></h3>
          </th:block>

        </div>
      </div>
    </li>


    <li class="no-funding hidden">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">Your organisation size</h3>
        </div>
        <div class="govuk-grid-column-one-half alignright">
          <span class="govuk-hint">Not required</span>
        </div>
      </div>
    </li>
    <li class="no-funding hidden">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">Your funding</h3>
        </div>
        <div class="govuk-grid-column-one-half alignright">
          <span class="govuk-hint">Not required</span>
        </div>
      </div>
    </li>




  </ul>

  <h2 class="govuk-heading-m">Finance summary</h2>

  <p class="govuk-body">This is a breakdown of your project costs and sources of funding for this project.</p>

  <div class="table-overflow">
    <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th scope="col" class="numeric width-small">Total project costs</th>
              <th scope="col" class="numeric width-small">% Grant</th>
              <th scope="col" class="numeric width-small">Funding sought</th>
              <th scope="col" class="numeric width-small">Other public sector funding</th>
              <th scope="col" class="numeric width-small">Contribution to project</th>
          </tr>
      </thead>
      <tbody class="govuk-table__body">
        <th:block th:if="${param.status != null and param.status[0] == 'initialView'}">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>&pound;0</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0</td>
          </tr>
        </th:block>

        <th:block th:if="${param.status == null or param.status[0] != 'initialView'}">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>&pound;110,000</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">70%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;60,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;30,000</td>
          </tr>
        </th:block>
      </tbody>
    </table>
  </div>

  <!--<h2 class="govuk-heading-m govuk-!-margin-bottom-0">Organisation size</h2>
  <p class="govuk-body">Medium (Claim up to 60%)</p>

	<p class="govuk-hint">To determine the level of funding you are eligible to receive please provide your business sizing using the <a href="http://ec.europa.eu/growth/smes/business-friendly-environment/sme-definition/index_en.htm" target="_blank" rel="external">EU Definition</a> for guidance.</p>
	<div class="form-block">
		<label class="block-label selection-button-radio" for="radio-1">
			<input id="radio-1" type="radio" name="radio-group" value="Micro"/>
			Micro / small - claim up to 70%
		</label>
		<label class="block-label selection-button-radio" for="radio-2">
			<input id="radio-2" type="radio" name="radio-group" value="Medium"/>
			Medium - claim up to 60%
		</label>
		<label class="block-label selection-button-radio" for="radio-3">
			<input id="radio-3" type="radio" name="radio-group" value="Large"/>
			Large - claim up to 50%
		</label>
	</div>

<fieldset class="govuk-fieldset">
	<div class="govuk-form-group extra-margin">
		<label class="govuk-label" for="other-funding">
			<span class="govuk-heading-m">Funding level</span>
			<span class="govuk-hint">Please enter the funding level that you would like to apply for in this application. This is based on the size of your organisation.</span>
		</label>
		<details>
		    <summary><span class="summary">What funding level should I enter?</span></summary>
		    <div class="panel">
		    	You can apply for any funding percentage between 0% and the maximum allowable for your organisation size, as shown above. The amount you apply for must reflect other funding you may have received and be within participation levels which you can review on the Finances Overview page.
		    </div>
		</details>
		<input class="form-control width-small" type="text" id="other-funding" name="other-funding" value="50" /> %
	</div>
</fieldset>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <label for="agree-terms" class="block-label selection-button-checkbox">
      <input id="agree-terms" value="agree-terms" type="checkbox" />
      As a member of this project I agree to the funding <a href="#">terms and conditions</a> set out by Innovate UK.
    </label>
    <label for="confirm-costs" class="block-label selection-button-checkbox">
      <input id="confirm-costs" value="confirm-costs" type="checkbox" />
      I confirm that my costs are eligible for state aid funding.
    </label>
  </fieldset>
</div> -->



	<!-- <th:block th:insert="prototypes/fragments/finance-questions :: finance-other-funding" /> -->

	<!-- <div class="alignright-button extra-margin">
		<button type="submit" name="mark_as_complete" class="govuk-button" formaction="#" value="1">Mark as complete
		</button>
	</div> -->

  <div class="extra-margin">
    <a href="/prototypes/635-application-overview" class="button-secondary">Return to application overview</a>
  </div>

	<ul class="pagination">
    <li class="prev">
        <a rel="prev" title="Navigate to previous part" href="/prototypes/635-application-question10">
            <span class="pagination-label">Previous</span>
            <span class="pagination-part-title">Adding value</span>
        </a>
    </li>
	    <li class="next">
	        <a rel="next" title="Navigate to next part" href="/prototypes/631-finances-overview">
	            <span class="pagination-label">Next</span>
	            <span class="pagination-part-title">Finances overview</span>
	        </a>
	    </li>
	</ul>




	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

<script type="text/javascript">

//jQuery("input#no-funding").on('click',function(e){
//  if ( jQuery(this).is(':checked') ) {
//    jQuery(".no-funding").removeClass('hidden');
//    jQuery(".funding").addClass('hidden');
//  }else{
//    jQuery(".no-funding").addClass('hidden');
//    jQuery(".funding").removeClass('hidden');
//  }
//});
  var buttonChecked = false;
  jQuery("#prototype-funding").on('click',function(e){
    if ( buttonChecked ) {
      buttonChecked = false;
      jQuery(this).text("Not requesting funding");
      jQuery(".no-funding").addClass('hidden');
      jQuery(".funding").removeClass('hidden');
      jQuery("#prototype-confirmation-text").removeClass('hidden');
    }else{
      buttonChecked = true;
      jQuery(this).text("Request funding");
      jQuery(".no-funding").removeClass('hidden');
      jQuery(".funding").addClass('hidden');
      jQuery("#prototype-confirmation-text").addClass('hidden');
    }
  });

</script>

</body>
</html>
