<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
    <style> .message-alert {
        background: #e4eff6;
        padding-left: 30px;
        } </style>
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main id="content">



  <th:block th:insert="prototypes/fragments/applicant-view :: prototype-applicant-subheader(${'Application overview'}, ${'/prototypes/635-application-overview'})" />

	<!-- HARDCODED PROTOTYPE HTML -->
  <th:block th:insert="prototypes/fragments/applicant-view :: prototype-applicant-page-title(${null}, ${'Finances'})" />

  <h2 class="govuk-heading-m no-margin-bottom">Finances</h2>
  <p class="govuk-body">Each partner is required to submit their own project finances and funding rates. The overall project costs for all partners can be seen in the 'finances overview' section</p>
  <ul class="govuk-list list-overview">
    <li class="section-status assigned-to-me">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h3 class="govuk-heading-s"><a href="/prototypes/4600-your-finances">Your project costs</a></h3>
        </div>

      </div>
    </li>
    <li class="assigned-to-me">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h3 class="govuk-heading-s"><a href="/prototypes/4600-your-org">Your organisation</a></h3>
        </div>
      </div>
    </li>
  </ul>

  <h2 class="govuk-heading-m">Finance summary</h2>

  <div class="table-overflow">
    <table>
      <thead>
          <tr>
              <th scope="col" class="numeric width-small">Total</th>
              <th scope="col" class="numeric width-small">Labour</th>
              <th scope="col" class="numeric width-small">Overheads</th>
              <th scope="col" class="numeric width-small">Materials</th>
              <th scope="col" class="numeric width-small">Capital usage</th>
              <th scope="col" class="numeric width-small">Subcontracting costs</th>
              <th scope="col" class="numeric width-small">Travel and subsistence</th>
              <th scope="col" class="numeric width-small">Other costs</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td class="numeric"><strong>&pound;257,033</strong></td>
            <td class="numeric">&pound;126,207</td>
            <td class="numeric">&pound;86,167</td>
            <td class="numeric">&pound;44,659</td>
            <td class="numeric">&pound;257,033</td>
            <td class="numeric">&pound;126,207</td>
            <td class="numeric">&pound;86,167</td>
            <td class="numeric">&pound;44,659</td>
          </tr>
      </tbody>
    </table>
  </div>

  <h2 class="govuk-heading-m no-margin-bottom">Organisation size</h2>
  <p class="govuk-body">Medium (Claim up to 60%)</p>

	<!-- <p class="form-hint">To determine the level of funding you are eligible to receive please provide your business sizing using the <a href="http://ec.europa.eu/growth/smes/business-friendly-environment/sme-definition/index_en.htm" target="_blank" rel="external">EU Definition</a> for guidance.</p>
	<div class="form-block">
		<label class="block-label" for="radio-1">
			<input id="radio-1" type="radio" name="radio-group" value="Micro"/>
			Micro / small - claim up to 70%
		</label>
		<label class="block-label" for="radio-2">
			<input id="radio-2" type="radio" name="radio-group" value="Medium"/>
			Medium - claim up to 60%
		</label>
		<label class="block-label" for="radio-3">
			<input id="radio-3" type="radio" name="radio-group" value="Large"/>
			Large - claim up to 50%
		</label>
	</div> -->

<fieldset>
	<div class="form-group extra-margin">
		<label class="form-label" for="other-funding">
			<span class="govuk-heading-m">Funding level</span>
			<span class="form-hint">Please enter the funding level that you would like to apply for in this application. This is based on the size of your organisation.</span>
		</label>
		<details>
		    <summary><span class="summary">What funding level should I enter?</span></summary>
		    <div class="panel">
		    	You can apply for any funding percentage between 0% and the maximum allowable for your organisation size, as shown above. The amount you apply for must reflect other funding you may have received and be within participation levels which you can review on the Finances Overview page.
		    </div>
		</details>
		<input class="form-control width-small" type="text" id="other-funding" name="other-funding" value="50" /> %
	</div>
</fieldset>


<div class="form-group">
  <fieldset>
    <label for="agree-terms" class="block-label">
      <input id="agree-terms" value="agree-terms" type="checkbox" />
      As a member of this project I agree to the funding <a href="#">terms and conditions</a> set out by Innovate UK.
    </label>
    <label for="confirm-costs" class="block-label">
      <input id="confirm-costs" value="confirm-costs" type="checkbox" />
      I confirm that my costs are eligible for state aid funding.
    </label>
  </fieldset>
</div>



	<!-- <th:block th:insert="prototypes/fragments/finance-questions :: finance-other-funding" /> -->

	<div class="alignright-button extra-margin">
		<button type="submit" name="mark_as_complete" class="button" formaction="#" value="1">Mark as complete
		</button>
	</div>

	<ul class="pagination">
	    <li class="next">
	        <a rel="next" title="Navigate to next part" href="/prototypes/4600-your-finances">
	            <span class="pagination-label">Next</span>
	            <span class="pagination-part-title">Your project costs</span>
	        </a>
	    </li>
	</ul>

	<a href="/prototypes/635-application-overview" class="button-secondary">Save and return to application overview</a>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
