<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

    <th:block th:if="${param.userType != null and param.userType[0] == 'applicant'}">
      <meta http-equiv="refresh" content="0;URL='/prototypes/2113-dashboard'" />
    </th:block>

    <th:block th:if="${param.userType != null and param.userType[0] == 'assessor'}">
      <meta http-equiv="refresh" content="0;URL='/prototypes/865-assessor-dashboard-invites'" />
    </th:block>



</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">



	<!-- HARDCODED PROTOTYPE HTML -->

  <h1 class="govuk-heading-l">Sign in successful</h1>
  <p>Thank you for signing into the Innovation Funding Service.</p>

  <form th:action="${#httpServletRequest.requestURI}" class="extra-margin">

    <fieldset class="inline extra-margin">
      <legend class="govuk-heading-m">Please choose the role you are signing in as today</legend>

      <div class="form-group">

        <label class="block-label selection-button-radio" for="user-assessor">
          <input type="radio" name="userType" id="user-assessor" value="assessor" />
          Assessor
        </label>

        <label class="block-label selection-button-radio" for="user-applicant">
          <input type="radio" name="userType" id="user-applicant" value="applicant" />
          Applicant
        </label>

      </div>

    </fieldset>

    <button type="submit" class="button" id="continue" th:unless="${param.userType != null}" disabled="disabled">Continue</button>


  </form>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

<script type="text/javascript">
	// <![CDATA[
  jQuery( document ).ready(function() {
    if ( jQuery("input[name='userType']").is(':checked') ) {
			jQuery("#continue").removeAttr('disabled');
		}
  });

	jQuery("input[name='userType']").on('click',function(e){
    if ( jQuery(this).is(':checked') ) {
			jQuery("#continue").removeAttr('disabled');
		}
	});
	// ]]>
</script>
</body>
</html>
