<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

    <th:block th:insert="prototypes/fragments/layout :: prototype-sub-header" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<div class="grid-row">
		<div class="column-two-thirds">
            <div class="hgroup" style="padding-top: 20px">
				<p class="subtitle no-margin">A novel solution to an old problem</p>
				<h1 class="govuk-heading-xl no-margin-top">Empire Ltd finances</h1>
			</div>
        </div>
        <div class="column-third competition-details">
            <th:block th:insert="prototypes/fragments/layout :: prototype-application-progress" />
        </div>
    </div>

	<h2 class="govuk-heading-m">Assign a member of your team responsible for submitting for your organisation</h2>

	<form action="/prototypes/631-finances-assigned-to-you">
		<fieldset>
			<legend class="govuk-visually-hidden">Assign a member of your team responsible for submitting for your organisation</legend>

			<div class="form-block">
				<label class="block-label selection-button-radio" for="radio-1">
					<input id="radio-1" type="radio" name="radio-group" value="Charles Barron" />
					Charles Barron
				</label>
				<label class="block-label selection-button-radio" for="radio-2">
					<input id="radio-2" type="radio" name="radio-group" value="Mark Malone" />
					Mark Malone
				</label>
				<label class="block-label selection-button-radio" for="radio-3">
					<input id="radio-3" type="radio" name="radio-group" value="Ryann Blessed" />
					Ryan Blessed
				</label>
			</div>

		</fieldset>

		<button class="button button-large extra-margin" name="create-account" type="submit">Assign</button>
	</form>

	<ul class="pagination">
	    <li class="next">
	        <a rel="next" title="Navigate to next part" href="/prototypes/631-finances-overview">
	            <span class="pagination-label">Next</span>
	            <span class="pagination-part-title">Finance overview</span>
	        </a>
	    </li>
	</ul>

	<a href="/prototypes/635-application-overview" class="button-secondary">Save and return to application overview</a>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
