<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

    <th:block th:insert="prototypes/fragments/layout :: prototype-sub-header" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<div class="hgroup" style="padding-top: 20px">
		<p class="subtitle govuk-!-margin-0">Technology inspired - Application number: 12347353</p>
		<h1 class="govuk-heading-xl govuk-!-margin-0">Finances overview</h1>
		<p class="govuk-body">This is the financial overview of all partners in this collaboration. Each partner should submit their organisations finances in "your finances" section. All partners will see this level of detail.</p>
	</div>

	<h2 class="govuk-heading-m">Funding rules for this competition</h2>
	<p class="govuk-body">We will fund projects between &pound;200,000 and &pound;1 million. We may consider projects with costs outside of this range. We expect projects to last between 12 and 24 months.</p>

	<p class="govuk-body">Business partners can claim funding at the following rates:</p>

	<ul class="govuk-list govuk-list--bullet">
		<li>small businesses - 70% of total eligible costs</li>
		<li>medium size businesses - 60% of total eligible costs</li>
		<li>large - 50% of total eligible costs</li>
	</ul>

	<h2 class="govuk-heading-m">Finances summary</h2>
	<p class="govuk-body">This is the level of cost detail that the assessors will see during the assessment process</p>

	<div class="govuk-form-group">
	    <table class="govuk-table">
	        <thead class="govuk-table__head">
	            <tr class="govuk-table__row">
	                <th class="govuk-table__header" scope="col">&nbsp;</th>
	                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total costs</th>
	                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
	                    % Grant
	                </th>
	                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
	                    Funding sought
	                </th>
	                <th scope="col" class="numeric width-medium">
	                    Other public sector funding
	                </th>
	                <th scope="col" class="numeric width-medium">
	                    Contribution to project
	                </th>
	            </tr>
	        </thead>
	        <tbody class="govuk-table__body">
	            <tr class="govuk-table__row">
	                <th class="govuk-table__header" scope="col"> <div>Empire Ltd</div>
	                    <div><small>Lead organisation</small></div></th>
	                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£450,983</strong></td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">63</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£105,517</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£60,659</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£284,807</td>
	            </tr>
	            <tr class="govuk-table__row">
	                <th class="govuk-table__header" scope="col"><div>Ludlow</div>
	                    <div><small>Partner</small></div></th>
	                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£192,256</strong></td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£31,655</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£18,198</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£142,404</td>
	            </tr>
	            <tr class="govuk-table__row">
	                <th class="govuk-table__header" scope="col"><div>EGGS</div>
	                    <div><small>Partner</small></div></th>
	                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£258,727</strong></td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">70</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£73,862</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£42,461</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£37,402</td>
	            </tr>
	            <tr class="govuk-table__row">
	                <th class="govuk-table__header" scope="col"><div>University of Bristol</div>
	                    <div><small>Academic partner</small></div></th>
	                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£30,000</strong></td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£30,000</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	            </tr>
	            <tr class="govuk-table__row">
	                <th class="govuk-table__header" scope="col">Total</th>
	                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£192,256</strong></td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	            </tr>
	        </tbody>
	    </table>
	</div>

	<p class="govuk-hint icon-info-small-blue">Please provide your financial breakdown in <a href="/prototypes/631-finances-assign-user">Your finances section</a></p>


	<h2 class="govuk-heading-m">Project cost breakdown</h2>

	<div class="govuk-form-group">
	    <div style="overflow: auto;">
	        <table class="govuk-table">
	            <thead class="govuk-table__head">
	                <tr class="govuk-table__row">
	                    <th class="govuk-table__header" scope="col">&nbsp;</th>
	                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total</th>
	                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">
	                       Labour
	                    </th>
	                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">
	                        Overheads
	                    </th>
	                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">
	                        Materials
	                    </th>
	                    <th scope="col" class="numeric width-small">Capital usage</th>
	                    <th scope="col" class="numeric width-small">Subcontracting cost</th>
	                    <th scope="col" class="numeric width-small">Travel and subsistence</th>
	                    <th scope="col" class="numeric width-small">Other Costs</th>
	                </tr>
	            </thead>
	            <tbody class="govuk-table__body">
	                <tr class="govuk-table__row">
	                    <th class="govuk-table__header" scope="col"><div>Empire Ltd</div>
	                        <div><small>Lead organisation</small></div></th>
	                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£257,033</strong></td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£126,207</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£86,167</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£44,659</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£257,033</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£126,207</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£86,167</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£44,659</td>
	                </tr>
	                <tr class="govuk-table__row">
	                    <th class="govuk-table__header" scope="col"><div>Ludlow</div>
	                        <div><small>Partner</small></div></th>
	                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£0</strong></td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                </tr>
	                <tr class="govuk-table__row">
	                    <th class="govuk-table__header" scope="col"><div>EGGS</div>
	                        <div><small>Partner</small></div></th>
	                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£38,950</strong></td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£8,600</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£19,350</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£11,000</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£38,950</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£8,600</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£19,350</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£11,000</td>
	                </tr>
	                <tr class="govuk-table__row">
	                    <th class="govuk-table__header" scope="col"><div>University of Bristol</div>
	                    <div><small>Academic partner</small></div></th>
	                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£155,000</strong></td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£150,000</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£5,000</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£155,000</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£150,000</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">£5,000</td>
	                </tr>
	                <tr class="govuk-table__row">
	                    <th class="govuk-table__header" scope="col">Total</th>
	                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£450,983</strong></td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                    <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>

	<h2 class="govuk-heading-m">Academic partner breakdown</h2>
	<p class="govuk-body">Academic partners submit their project costs through the Je-S system. For a full brealkdown of their project costs, please see the below documents.</p>

	<h3 class="govuk-heading-m">University of Bristol</h3>
	<div class="upload-section">
		<h3 class="govuk-heading-s govuk-!-margin-0">Download Je-S form:</h3>
		<div class="uploaded-file"><a href="#">jes-1601603.pdf</a> (161.96kb)</div>
	</div>

	<h3 class="govuk-heading-m">University of Bath</h3>
	<div class="upload-section">
		<h3 class="govuk-heading-s govuk-!-margin-0">Download Je-S form:</h3>
		<div class="uploaded-file">No file currently uploaded</div>
	</div>


	<ul class="pagination">
	    <li class="prev">
	        <a rel="prev" title="Navigate to next part" href="/prototypes/637-academic-finances">
	            <span class="pagination-label">Previous</span>
	            <span class="pagination-part-title">Your finances</span>
	        </a>
	    </li>
	</ul>

	<a href="/prototypes/635-application-overview" class="button-secondary">Return to application overview</a>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
