<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Back'}, ${'/prototypes/642-signup-create-acc'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<!--<h1 class="govuk-heading-l">Create your account</h1>

	 <p class="form-hint icon-info-small-blue">Before creating your account you need to enter the details for the organisation that you will be working for if the application is successful</p> -->

	<h2 class="govuk-heading-l">Your organisation</h2>

	<div class="panel">

		<p class="govuk-body">You have been invited to join a collaborative application for the competition <a href="/prototypes/650-comp-details">Technology Inspired</a>.</p>
		<p class="govuk-body">Lead organisation: <strong>Worth Systems</strong><br />
		Lead applicant: <strong>John Smith</strong></p>

		<p class="govuk-body">The lead applicant has invited you to join this application on behalf of the following organisation:
		Nomensa</p>

		<p class="govuk-body">If this is not the correct organisation <a href="mailto:lead@competition.com">email the application lead</a></p>
	</div>

	<h2 class="govuk-heading-m">Please select your organisation type</h2>

	<form>
		<fieldset>
			<legend class="visuallyhidden">Please select your organisation type</legend>
			<div class="form-block">
				<label class="block-label selection-button-radio" for="radio-1">
					<input id="radio-1" type="radio" name="radio-group" value="Business" onClick="location.href='/prototypes/642-create-acc-business';"/>
					Business
				</label>
				<label class="block-label selection-button-radio" for="radio-2">
					<input id="radio-2" type="radio" name="radio-group" value="Research" onClick="location.href='/prototypes/642-create-acc-research-choice';"/>
					Research
				</label>
				<label class="block-label selection-button-radio" for="radio-3">
					<input id="radio-3" type="radio" name="radio-group" value="Academic" onClick="location.href='/prototypes/642-create-acc-research?org=Public sector';"/>
					Public sector
				</label>
				<label class="block-label selection-button-radio" for="radio-4">
					<input id="radio-4" type="radio" name="radio-group" value="Academic" onClick="location.href='/prototypes/642-create-acc-research?org=Charity';"/>
					Charity
				</label>
			</div>

		</fieldset>
		<button class="button button-large extra-margin" name="select-company-type" type="submit" formaction="/prototypes/642-create-acc-business">Continue</button>
	</form>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
