<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Back'}, ${'/prototypes/643-org-selected-from-companies-house-lead'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<h1 class="govuk-heading-l">Create your account</h1>

	<!-- <p class="govuk-hint icon-info-small-blue">Your organisation must be UK based to receive funding from Innovate UK</p> -->

	<div class="govuk-body panel">
		<p class="govuk-body">The profile that you are creating will be linked to the following organisation <br />
		<strong>Nomensa</strong></p>
	</div>

	<h2 class="govuk-heading-m">Your details</h2>

	<form>
		<fieldset class="govuk-fieldset">
			<legend class="govuk-visually-hidden">Your details</legend>
			<div class="govuk-form-group">
				<label class="govuk-label" for="title">
					<span class="govuk-label">Title</span>
				</label>
				<select class="govuk-select govuk-!-width-one-quarter" id="title" name="title">
					<option value="">Mr</option>
					<option value="">Miss</option>
					<option value="">Mrs</option>
					<option value="">Ms</option>
					<option value="">Dr</option>
				</select>
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="first-name">
					<span class="govuk-label">First name</span>
				</label>
				<input class="govuk-input" id="first-name" name="first-name" type="text" />
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="last-name">
					<span class="govuk-label">Last name</span>
				</label>
				<input class="govuk-input" id="last-name" name="last-name" type="text" />
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="phone-number">
					<span class="govuk-label">Phone number</span>
					<span class="govuk-hint">We may use this to contact you about the application</span>
				</label>
				<input class="govuk-input" id="phone-number" name="phone-number" type="text" />
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="email">
					<span class="govuk-label">Email</span>
					<span class="govuk-hint">You will need this to sign into your account</span>
				</label>
				<input class="govuk-input" id="email" name="email" type="text" />
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="password">
					<span class="govuk-label">Password</span>
					<span class="govuk-hint">
						Your password is case-sensitive and needs to:<br />
						<ul class="govuk-list govuk-list--bullet">
							<li>be at least 8 characters</li>
							<li>contain at least 1 capital letter</li>
							<li>contain at least 1 number </li>
						</ul>
					</span>
					<span class="govuk-hint">Your password can include spaces to make a phrase.
</span>

          <div class="password-toggle-container">
            <input class="form-control width-full" id="password" name="password" type="password" />
            <th:block th:if="${param.action != null and param.action[0] == 'toggle'}">
              <a th:href="@{?action=password}" class="password-toggle">Show <span class='visually-hidden'>password</span></a>
            </th:block>
          </div>

				</label>
			</div>
			<div class="govuk-form-group" th:unless="${param.action != null and param.action[0] == 'toggle'}">
				<label class="govuk-label" for="retype-password">
					<span class="govuk-label">Re-type password</span>
				</label>
				<input class="form-control" id="retype-password" name="retype-password" type="password" />
			</div>
			<div class="form-block">
				<label class="block-label selection-button-checkbox" for="terms-conditions">
					<input id="terms-conditions" type="checkbox" value="terms-conditions"/>
					I agree to the <a href="#">terms and conditions</a>
				</label>
			</div>
		</fieldset>
		<button class="govuk-button button-large extra-margin" name="create-account" formaction="/prototypes/651-652-create-application-invite" type="submit">Create account</button>
	</form>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script type="text/javascript">
	// <![CDATA[
  jQuery(document).ready(function(){

      jQuery('.password-toggle').on('click',function(e){
        e.preventDefault();

        var inputType = jQuery('#password').attr('type');

        //alert(inputType);

        if (inputType == 'password'){
            jQuery('#password').attr('type', 'text');
            jQuery(this).html("Hide <span class='visually-hidden'>password</span>");
        }else{
            jQuery('#password').attr('type', 'password');
            jQuery(this).html("Show <span class='visually-hidden'>password</span>");
        }

      });


  });
  // ]]>
</script>
</body>
</html>
