<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="app-dashboard">
<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">


	<!-- HARDCODED PROTOTYPE HTML -->

	<h1 class="govuk-heading-xl">Your dashboard</h1>

	<th:block th:if="${param.status != null} and ${param.status[0] == 'projectSetup'}">
		<!---->
		<!--<h2 class="govuk-heading-l">Projects in setup</h2>-->

		<!--<ul class="govuk-list boxed-list">-->
			<!--<li>-->
		        <!--<div class="grid-row">-->
		            <!--<div class="column-assessment-details">-->
		                <!--<h2 class="govuk-heading-m">-->
		                <!--<a th:href="${(param.user == null ? '/prototypes/1588-project-status' : '/prototypes/1588-project-status?user=nonLead')}">194741: Machine learning in robots</a>-->
		                <!--</h2>-->
		            <!--</div>-->
		            <!--<div class="column-assessment-status">-->
		                <!--<div class="awaiting-assessment">-->
		                	<!--<img src="../images/icons/icon-awaiting-assessment.png" width="36" height="36" alt=""/>-->
		                    <!--<p class="govuk-body">Project in set-up</p>-->
		                <!--</div>-->
		            <!--</div>-->
		        <!--</div>-->
		    <!--</li>-->
		<!--</ul>-->

		<div class="progress-list">
			<h3 class="govuk-heading-m">Projects in setup</h3>
			<ul>
				<li>
					<div class="task">
						<h4 class="govuk-heading-s"><a th:href="${(param.user == null ? '/prototypes/1588-project-status' : '/prototypes/1588-project-status?user=nonLead')}">Machine learning in robots</a></h4>
            <ul class="application-details">
              <li>Application number: 19474</li>
              <li>Competition: Technology inspired</li>
            </ul>
					</div>
					<div class="status">
            <strong class="status-msg msg-progress">In progress</strong>
          </div>
				</li>
			</ul>
		</div>

	</th:block>


	<th:block th:unless="${param.action != null and param.action[0] == 'accVerified'}">

		<!--<h2 class="govuk-heading-l">In progess</h2>-->
		<!--<ul class="govuk-list boxed-list">-->
		    <!--<li>-->
		        <!--<div class="grid-row">-->
		            <!--<div class="column-assessment-details">-->
		                <!--<h2 class="govuk-heading-m">-->
		                <!--<a href="#">0000002: Providing sustainable childcare</a>-->
		                <!--</h2>-->
		                <!--<strong class="greentext">Application submitted</strong>-->
		            <!--</div>-->
		            <!--<div class="column-assessment-status">-->
		                <!--<div class="awaiting-assessment">-->
		                	<!--<img src="../images/icons/icon-awaiting-assessment.png" width="36" height="36" alt="" />-->
		                    <!--<p class="govuk-body">Awaiting assessment</p>-->
		                <!--</div>-->
		            <!--</div>-->
		        <!--</div>-->
		    <!--</li>-->
		    <!--<li>-->
		        <!---->
		        <!--<div class="grid-row">-->
		            <!--<div class="column-assessment-details">-->
		                <!--<h2 class="govuk-heading-m">-->
		                <!--<a href="#">0000005: A new innovative solution</a>-->
		                <!--</h2>-->
		                <!--<strong class="greentext">Application submitted</strong>-->
		            <!--</div>-->
		            <!--<div class="column-assessment-status">-->
		            	<!--<div class="awaiting-assessment">-->
		                	  <!--<img src="../images/icons/icon-awaiting-assessment.png" width="36" height="36" alt="" />-->
		                    <!--<p class="govuk-body">Awaiting assessment</p>-->

		                <!--</div>-->
		            <!--</div>-->
		        <!--</div>-->
		    <!--</li>-->
		<!--</ul>-->

		<div class="progress-list">
			<h3 class="govuk-heading-m no-margin-top">Applications in progress</h3>
			<ul>
				<li class="status-2-col">
					<div class="task">
						<h4 class="govuk-heading-s"><a href="/prototypes/635-application-overview#">Providing sustainable childcare</a></h4>
            <ul class="application-details">
              <li>Application number: 2</li>
              <li>Competition: Technology inspired</li>
            </ul>
					</div>
					<div class="status">
						<span class="status-msg msg-deadline-waiting">Awaiting assessment</span>
						<span class="status-msg msg-progress">Application submitted</span>
					</div>
				</li>
				<li class="status-2-col">
					<div class="task">
						<h4 class="govuk-heading-s"><a href="/prototypes/635-application-overview">Providing sustainable childcare</a></h4>
            <ul class="application-details">
              <li>Application number: 8</li>
              <li>Competition: Technology inspired</li>
            </ul>
					</div>
					<div class="status">
						<span class="status-msg msg-deadline">
              <strong class="bold-medium">41</strong><br />
              Days left <br />
              Deadline 28 January
            </span>
						<span class="status-msg msg-progress">50% complete</span>
					</div>
				</li>
				<li class="status-2-col">
					<div class="task">
						<h4 class="govuk-heading-s"><a href="/prototypes/635-application-overview">A new innovative solution</a></h4>
            <ul class="application-details">
              <li>Application number: 5</li>
              <li>Competition: Technology inspired</li>
            </ul>
					</div>
          <div class="status">
						<span class="status-msg msg-deadline-waiting">Awaiting assessment</span>
						<span class="status-msg msg-progress">Application submitted</span>
					</div>
				</li>
			</ul>
		</div>

	</th:block>

	<th:block th:unless="${param.action != null and param.action[0] == 'accVerified'}">

		<!--<h2 class="govuk-heading-l">Previous applications</h2>-->

		<!--<ul class="govuk-list boxed-list">-->
			<!--<li>-->
		        <!--<div class="grid-row">-->
		            <!--<div class="column-assessment-details">-->
		                <!--<h2 class="govuk-heading-m">0000004: Using natural gas to heat homes</h2>-->
		            <!--</div>-->
		            <!--<div class="column-assessment-status navigation-right">-->
		                <!--<div class="no application-status assessed">-->
		                    <!--<h3 class="results-status">Unsuccessful</h3>-->
		                <!--</div>-->
		                <!--&lt;!&ndash; <p class="feedback">Feedback due: <br />14/06/16</p> &ndash;&gt;-->
		            <!--</div>-->
		        <!--</div>-->
		    <!--</li>-->
		    <!--<li>-->
		        <!--<div class="grid-row">-->
		            <!--<div class="column-assessment-details">-->
		                <!--<h2 class="govuk-heading-m">000003: Mobile Phone Data for Logistics Analytics</h2>-->
		            <!--</div>-->
		            <!--<div class="column-assessment-status navigation-right">-->
		                <!--<div class="yes application-status assessed">-->
		                    <!---->
		                    <!--<h3 class="results-status">Successful</h3>-->
		            <!---->
		                <!--</div>-->
		            <!--</div>-->
		        <!--</div>-->
		    <!--</li>-->
		    <!--<li>-->
		        <!--<div class="grid-row">-->
		            <!--<div class="column-assessment-details">-->
		                <!--<h2 class="govuk-heading-m"> <a href="/prototypes/545-application-feedback">0000003: Mobile Phone Data for Logistics Analytics</a></h2>-->
		            <!--</div>-->
		            <!--<div class="column-assessment-status navigation-right">-->
		                <!--<div class="yes application-status assessed">-->
		                    <!---->
		                    <!--<h3 class="results-status">Successful</h3>-->
		                    <!---->
		                <!--</div>-->
		            <!--</div>-->
		        <!--</div>-->
		    <!--</li>-->
		    <!--<li>-->
		        <!--<div class="grid-row">-->
		            <!--<div class="column-assessment-details">-->
		                <!--<h2 class="govuk-heading-m"><a href="/prototypes/545-application-feedback?unsuccessful">0000004: Using natural gas to heat homes</a></h2>-->
		            <!--</div>-->
		            <!--<div class="column-assessment-status navigation-right">-->
		                <!--<div class="no application-status assessed">-->
		                    <!--<h3 class="results-status">Unsuccessful</h3>-->
		                <!--</div>-->
		            <!--</div>-->
		        <!--</div>-->
		    <!--</li>-->
		<!--</ul>-->

		<div class="progress-list">
			<h3 class="govuk-heading-m no-margin-top">Previous applications</h3>
			<ul>
				<li class="negative">
					<div class="task">
						<h4 class="govuk-heading-s"><a href="/prototypes/545-application-feedback?unsuccessful">Using natural gas to heat homes</a></h4>
            <ul class="application-details">
              <li>Application number: 4</li>
              <li>Competition: Technology inspired</li>
            </ul>
					</div>
					<div class="status">
            <strong class="status-msg msg-progress">Not successful</strong>
          </div>
				</li>
				<li class="positive">
					<div class="task">
						<h4 class="govuk-heading-s"><a href="/prototypes/545-application-feedback">Mobile Phone Data for Logistics Analytics</a></h4>
            <ul class="application-details">
              <li>Application number: 3</li>
              <li>Competition: Technology inspired</li>
            </ul>
					</div>
          <div class="status">
					  <strong class="status-msg msg-progress">Successful</strong>
          </div>
				</li>
				<li class="positive">
					<div class="task">
						<h4 class="govuk-heading-s"><a href="/prototypes/545-application-feedback">Mobile Phone Data for Logistics Analytics</a></h4>
            <ul class="application-details">
              <li>Application number: 2</li>
              <li>Competition: Technology inspired</li>
            </ul>
					</div>
					<div class="status">
            <strong class="status-msg msg-progress">Successful</strong>
          </div>
				</li>
				<li class="negative">
					<div class="task">
						<h4 class="govuk-heading-s"><a href="/prototypes/545-application-feedback?unsuccessful">Using natural gas to heat homes</a></h4>
            <ul class="application-details">
              <li>Application number: 1</li>
              <li>Competition: Technology inspired</li>
            </ul>
					</div>
					<div class="status">
            <strong class="status-msg msg-progress">Not successful</strong>
          </div>
				</li>
			</ul>
		</div>
	</th:block>

	<h2 class="govuk-heading-l">Your profile</h2>

	<ul class="govuk-list govuk-list--bullet">
		<li>
			<a href="/prototypes/675-profile-details">view and edit your profile details</a>
		</li>
		<li>
			<a href="/prototypes/675-change-password">change your password</a>
		</li>
		<li>
			<a href="/info/terms-and-conditions">read the terms and conditions</a>
		</li>
	</ul>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script type="text/javascript">

	jQuery('input#address-same').on('click',function(e){
		//e.preventDefault();
		if ( jQuery(this).is(':checked') ) {
			jQuery("#manual-company-input").hide();
		}else{
			jQuery("#manual-company-input").show();
		}

	});

	jQuery('#manual-company-trigger').on('click',function(e){
		e.preventDefault();
		jQuery("#manual-company-input").show();
		jQuery("#org-results").hide();

	});

	jQuery('#postcode-lookup').on('click',function(e){
		e.preventDefault();
		jQuery("#select-address-block").show();

	});

	jQuery('#select-address').on('change',function(e){
		e.preventDefault();
		jQuery("#address-details").show();
		jQuery("#street").val("King William House");
		jQuery("#street-2").val("13 Queens Square");
		jQuery("#town").val("Bristol");
		jQuery("#postcode").val("BS1 4NT");

	});

	jQuery('#enter-address-manually').on('click',function(e){
		e.preventDefault();
		jQuery("#address-details").show();
		jQuery("#select-address-block").hide();
	});
</script>
</body>
</html>
