<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'"/>
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="app-overview">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav"/>
<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>


    <main id="content">
        <th:block
            th:include="prototypes/fragments/applicant-view :: prototype-subheader(${'Application details'}, ${'/prototypes/5452-application-details'})"/>



        <!-- HARDCODED PROTOTYPE HTML -->
        <th:block
            th:include="prototypes/fragments/applicant-view :: prototype-applicant-page-title(${'Technology inspired'}, 'Innovation area')"/>

        <form action="#">
            <fieldset>
                <legend class="extra-margin-bottom">
                    <span class="govuk-heading-m">Choose the primary innovation area for your project.</span>
                    <span class="form-hint">This will help us to select suitable assessors for your application, if you need help choosing, read our <a href="#">guidance on the innovation areas</a>.
</span>
                </legend>

                <label class="block-label form-label-bold selection-button-radio" for="category-1">
                    <input id="category-1" type="radio" name="categoryGroup" value="Advanced materials" />
                    Advanced materials
                    <span class="form-hint">Description of the innovation area above. More detail to be added.</span>
                </label>

                <label class="block-label form-label-bold selection-button-radio" for="category-2">
                    <input id="category-2" type="radio" name="categoryGroup" value="Advanced therapies" />
                    Advanced therapies
                    <span class="form-hint">Description of the innovation area above. More detail to be added.</span>
                </label>

                <label class="block-label form-label-bold selection-button-radio" for="category-3">
                    <input id="category-3" type="radio" name="categoryGroup" value="Aerospace" />
                    Aerospace
                    <span class="form-hint">Description of the innovation area above. More detail to be added.</span>
                </label>

                <label class="block-label form-label-bold selection-button-radio" for="category-4">
                    <input id="category-4" type="radio" name="categoryGroup" value="Automotive" />
                    Automotive
                    <span class="form-hint">Description of the innovation area above. More detail to be added.</span>
                </label>

                <label class="block-label form-label-bold selection-button-radio" for="category-5">
                    <input id="category-5" type="radio" name="categoryGroup" value="Biosciences" />
                    Biosciences
                    <span class="form-hint">Description of the innovation area above. More detail to be added.</span>
                </label>

                <p class="block-label">
                  or
                </p>

                <label class="block-label form-label-bold selection-button-radio" for="category-other">
                    <input id="category-other" type="radio" name="categoryGroup" value="My innovation area is not listed" />
                    My innovation area is not listed
                    <span class="form-hint">Description of the innovation area above. More detail to be added.</span>
                </label>

              </fieldset>

              <div class="extra-margin-top">
                <button class="button" formaction="/prototypes/5452-application-details">Save</button>
                <a href="#" class="button-link-style">Cancel</a>
              </div>


        </form>

        <!-- END OFHARDCODED PROTOTYPE HTML -->

        <th:block th:include="fragments/layout :: main-content-end"/>
    </main>

<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>

</body>

</html>
