<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />


	<div th:if="${param.filterResponse != null}" th:remove="tag">
		<div th:if="${param.filterResponse[0] == 'Accepted'}" th:remove="tag">
			<style>
				#assessor-accepted, #assessor-rejected, #assessor-awaiting{
					display: none;
				}

				#assessor-accepted{
					display: block;
				}
			</style>
		</div>
		<div th:if="${param.filterResponse[0] == 'Rejected'}" th:remove="tag">
			<style>
				#assessor-accepted, #assessor-rejected, #assessor-awaiting{
					display: none;
				}

				#assessor-rejected{
					display: block;
				}
			</style>
		</div>
		<div th:if="${param.filterResponse[0] == 'Awaiting response'}" th:remove="tag">
			<style>
				#assessor-accepted, #assessor-rejected, #assessor-awaiting{
					display: none;
				}

				#assessor-awaiting{
					display: block;
				}
			</style>
		</div>
		<div th:if="${param.filterResponse[0] == 'All'}" th:remove="tag">
			<style>
				#assessor-accepted, #assessor-rejected, #assessor-awaiting{
					display: block;
				}
			</style>
		</div>
	</div>

</head>
<body class="comp-assessors">


<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Competition overview'}, ${'/prototypes/997-comp-applications-dashboard-open'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title(${'Innovate UK, Technology inspired, (4891061)'}, ${'Manage invites'})" />

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-summary" />


	<h2 class="govuk-heading-l">Invite list</h2>

	<div class="govuk-grid-row highlight-panel">
		<div class="govuk-grid-column-one-third">
			<p class="govuk-body"><span class="govuk-heading-m">2</span> accepted</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="govuk-body"><span class="govuk-heading-m">3</span> rejected</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="govuk-body"><span class="govuk-heading-m">6</span> invited</p>
		</div>
	</div>

	<!-- <p class="govuk-hint">Add assessors to the invite list by selecting '<strong>Add</strong>' from the list of <strong>current assessors</strong> in the section below</p> -->

	<h2 class="govuk-heading-l" id="current-assessors">Current responses</h2>

	<div class="search-filters extra-margin">

		<form formaction="/prototypes/863-manage-invites" method="GET">

			<h2 class="govuk-heading-m govuk-!-margin-0">Filter invites</h2>

			<div class="govuk-grid-row">
				<div class="column-two-thirds">
					<label class="form-label" for="filterResponse">Response</label>
					<select class="govuk-select" id="filterResponse" name="filterResponse">

						<option th:if="${param.filterResponse != null}" th:remove="tag">
							<option th:text="${param.filterResponse[0]}" selected="selected">TEST</option>
						</option>

						<option value="All">All</option>
						<option value="Accepted">Accepted</option>
						<option value="Rejected">Rejected</option>
						<option value="Awaiting response">Awaiting response</option>
					</select>
				</div>

				<div class="govuk-grid-column-one-third alignright">
					<button class="govuk-button">Filter</button>
				</div>

			</div>

		</form>

	</div>

	<section id="assessor-accepted">

		<h2 class="govuk-heading-m">Accepted (2)</h2>

		<div class="table-overflow">
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th style="width: 50%" scope="col">Assessor</th>
						<th style="width: 50%" scope="col">Contract and DOI</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="filtered-result">
						<th scope="row">Bill Knightly</th>
						<td class="govuk-table__cell"><span class="yes">Yes</span></td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row">Dave Redford</th>
						<td class="govuk-table__cell"><span class="yes">Yes</span></td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>

	<section id="assessor-rejected">

		<h2 class="govuk-heading-m">Rejected (2)</h2>

		<div class="table-overview">
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th style="width: 30%" scope="col">Assessor</th>
						<th style="width: 20%" scope="col">Reason</th>
						<th style="width: 50%" scope="col">Further information</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="filtered-result">
						<th scope="row">Peter Newman</th>
						<td class="govuk-table__cell">Conflict of interest</td>
						<td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores accusamus sit dolore voluptatem delectus in corporis itaque ab inventore dignissimos dolor, maiores, consectetur id non repudiandae eligendi, laborum, doloribus dolorum.</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row">Juanita	Luna</th>
						<td class="govuk-table__cell">Too many assessments</td>
						<td class="govuk-table__cell">Quam accusantium, tenetur corporis rem cum ratione nesciunt nulla deleniti cupiditate blanditiis, recusandae optio iusto provident quis, quaerat, delectus doloremque inventore porro.</td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>

	<section id="assessor-awaiting">
		<h2 class="govuk-heading-m">Awaiting response (5)</h2>

		<h3 class="govuk-heading-s">Current assessors (3)</h3>

		<div class="table-overflow">
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th style="width: 50%" scope="col">Assessor</th>
						<th style="width: 50%" scope="col">Contract and DOI</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="filtered-result">
						<th scope="row">Blake Kelley</th>
						<td class="govuk-table__cell"><span class="yes">Yes</span></td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row">Oliver Romero</th>
						<td class="govuk-table__cell"><span class="yes">Yes</span></td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row">Lori Underwood</th>
						<td class="govuk-table__cell"><span class="yes">Yes</span></td>
					</tr>
				</tbody>
			</table>
		</div>


		<h3 class="govuk-heading-s">New assessors (2)</h3>

		<div class="table-overflow">
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th style="width: 50%" scope="col">Assessor</th>
						<th style="width: 50%" scope="col">Email</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="filtered-result">
						<th scope="row">Verna Richards</th>
						<td class="govuk-table__cell">v.richards@assessor.com</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row">Phil Bill</th>
						<td class="govuk-table__cell">p.bill@assessor.com</td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>


	<p class="alignright-button extra-margin">

		<a href="/prototypes/863-invite-assessors" class="govuk-button large view-invite-list">Invite more assessors</a>

	</p>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
