<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-dashboard">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">


	<!-- HARDCODED PROTOTYPE HTML -->
	<div class="hgroup">
        <h1 class="govuk-heading-l">Assessor dashboard</h1>
    </div>

    <th:block th:if="${param.user != null and param.user[0] == 'assessor'}">
        <div class="message-alert govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-s govuk-!-margin-0">Complete your assessor account</h2>
            <p class="govuk-body">You must complete your profile before we can assign you applications.</p>
            <ul class="govuk-list govuk-list--bullet extra-margin-top">
                <li>
                    <a href="/prototypes/1177-assessor-skills?version=v2">your skills</a>
                </li>
                <li>
                    <a href="/prototypes/1247-assessor-doi?&#38;version=v2">your declaration of interest</a>
                </li>
                <li>
                    <a href="/prototypes/1176-assessor-contracts?version=v2">your contract</a>
                </li>

            </ul>
        </div>
    </th:block>

    <th:block th:unless="${param.user != null and param.user[0] == 'assessor'}">
        <div class="success-alert govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-s govuk-!-margin-0">Assessor account complete</h2>
        </div>
    </th:block>

    <div class="my-applications">

        <div th:if="${param.noInvites != null}" th:remove="tag">
            <th:block th:insert="prototypes/fragments/assessor-view :: prototype-assessor-dashboard-invites-empty" />
        </div>

        <div th:if="${param.noInvites == null}" th:remove="tag">
            <!-- Standard view invite sent -->
            <div th:if="${param.accepted == null}" th:remove="tag">
                <th:block th:insert="prototypes/fragments/assessor-view :: prototype-assessor-dashboard-invites" />

                <th:block th:insert="prototypes/fragments/assessor-view :: prototype-assessor-dashboard-competitions" />
            </div>

            <!-- Invite either accepted or declined -->
            <div th:if="${param.accepted != null}" th:remove="tag">
                <div th:if="${param.accepted[0] == 'yes'}" th:remove="tag">
                    <th:block th:insert="prototypes/fragments/assessor-view :: prototype-assessor-dashboard-competitions" />
                    <th:block th:insert="prototypes/fragments/assessor-view :: prototype-assessor-dashboard-invite-accepted" />
                </div>

                <div th:if="${param.accepted[0] == 'no'}" th:remove="tag">
                    <th:block th:insert="prototypes/fragments/assessor-view :: prototype-assessor-dashboard-competitions" />
                </div>
            </div>
        </div>
    </div>

    <th:block th:insert="prototypes/fragments/assessor-view :: prototype-assessor-profile" />

    <hr />

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
