<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="comp-dashboard">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Dashboard'}, ${'/prototypes/1345-comp-dashboard'})" />

	<!-- HARDCODED PROTOTYPE HTML -->

	<div class="hgroup no-margin-top" style="padding-top: 20px; margin-bottom: 30px">
        <h1 class="heading-large no-margin">Technology inspired</h1>
    </div>

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-details" th:with="status='open'" />

	<th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-breakdown" th:with="status='open'" />

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
