<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-dashboard">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main id="content">




	<!-- HARDCODED PROTOTYPE HTML -->

	<header class="page-header group">
	  <div class="hgroup">
	    <h1>Example Page 2</h1>
	    <h2 class="subtitle">This is just a prototype test</h2>
	  </div>
	</header>

	<form action="../prototypes">

		<fieldset class="govuk-fieldset">
			<legend class="govuk-visually-hidden">Your name</legend>
			<div class="govuk-form-group">
				<label class="form-label" for="first-name-2">First name</label>
				<input class="form-control" id="first-name-2" type="text" />
			</div>
			<div class="govuk-form-group">
				<label class="form-label" for="last-name-2">Last name</label>
				<input class="form-control" id="last-name-2" type="text" />
			</div>
		</fieldset>

		<fieldset class="govuk-fieldset">
		    <legend>
		      <span class="govuk-label">
		        What is your nationality?
		      </span>
		    </legend>
		    <p class="govuk-body">
		      Select all options that are relevant to you.
		    </p>
		    <div class="govuk-form-group form-group-compound">
		      <label class="block-label selection-button-checkbox" for="nationality-british">
		        <input id="nationality-british" value="British" type="checkbox" />
		        British (including English, Scottish, Welsh and Northern Irish)
		      </label>
		      <label class="block-label selection-button-checkbox" for="nationality-irish">
		        <input id="nationality-irish" value="Irish" type="checkbox" />
		        Irish
		      </label>
		      <label class="block-label selection-button-checkbox" for="nationality-other" data-target="example-different-country">
		        <input id="nationality-other" value="Citizen of a different country" type="checkbox" />
		        Citizen of a different country
		      </label>
		    </div>
		    <div class="panel js-hidden" id="example-different-country">
		      <label class="form-label" for="nationality-other-country">Country name</label>
		      <input class="form-control" id="nationality-other-country" type="text" />
		    </div>
		  </fieldset>

		  <button class="govuk-button">Save and continue</button>


	</form>


	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
