<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="app-dashboard">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main id="content">




	<!-- HARDCODED PROTOTYPE HTML -->

	<header class="page-header group">
	  <div class="hgroup">
	    <h1>Example Page 1</h1>
	    <h2 class="subtitle">This is just a prototype test</h2>
	  </div>
	</header>

	<ul class="govuk-list govuk-list--bullet">
		<li>here is a bulleted list</li>
		<li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
		<li>vestibulum id ligula porta felis euismod semper</li>
		<li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
	</ul>

	<a href="/prototypes/example2" class="govuk-button button-get-started" role="button">Start now</a>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
