<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Set up your project'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="prototypes/fragments/layout :: prototype-assessor-header" th:with="status='loggedIn'" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Dashboard'}, ${'#'})" />

    <!-- HARDCODED PROTOTYPE HTML -->

    <th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'Mobile Phone Data for Logistics Analytics'}, ${'Set up your project'}, ${null})" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <dl class="govuk-list govuk-!-font-size-16">
                <dt>Project numer:</dt>
                <dd>11</dd>
                <dt>Competition:</dt>
                <dd>Connected digital additive manufacturing</dd>
                <dt>Funding body:</dt>
                <dd>Innovate UK</dd>
            </dl>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">view application feedback</a></li>
                <li><a href="#">view the grant terms and conditions</a></li>
                <li><a href="/prototypes/IFS-1984-project-details">view project details</a></li>
            </ul>
        </div>
    </div>

    <div class="message-alert" th:unless="${param.status[0] == 'step9'}">
        <p class="govuk-body">You must complete the following tasks to finish setting up your project.</p>
        <p class="govuk-body">All project partners have individual steps to complete in this section.</p>
        <p class="govuk-body"><a href="#">View the status of partners.</a></p>
    </div>

    <div class="success-alert" th:if="${param.status[0] == 'step9'}">
        <p class="govuk-body">You have completed all of the required steps to set up your project.</p>
        <p class="govuk-body">Your project will begin on 15th March 2018.</p>
    </div>

    <div id="tasks-container" class="tabs">
        <ul>
            <li><a href="#section1">To complete
                <th:block th:if="${param.status == null or param.status[0] == 'step1'}">(2)</th:block>
                <th:block th:if="${param.status[0] == 'step2' or param.status[0] == 'step3' or param.status[0] == 'step5' or param.status[0] == 'step7'}">(1)</th:block>
                <th:block th:if="${param.status[0] == 'step4' or param.status[0] == 'step5a' or param.status[0] == 'step6' or param.status[0] == 'step8' or param.status[0] == 'step9'}"></th:block>
            </a></li>
            <li><a href="#section2">Completed tasks</a></li>
        </ul>

        <section id="section1">

            <h2 class="govuk-heading-m">To complete
                    <th:block th:if="${param.status == null or param.status[0] == 'step1'}">(1)</th:block>
                    <th:block th:if="${param.status[0] == 'step2' or param.status[0] == 'step3' or param.status[0] == 'step5' or param.status[0] == 'step7'}">(1)</th:block>
                    <th:block th:if="${param.status[0] == 'step4' or param.status[0] == 'step5a' or param.status[0] == 'step6' or param.status[0] == 'step8' or param.status[0] == 'step9'}"></th:block>
            </h2>

            <span class="govuk-heading-s">Current tasks</span>

            <th:block th:if="${param.status[0] == 'step4' or param.status[0] == 'step5a' or param.status[0] == 'step6'}">
                <p class="govuk-body">There are no current tasks to complete.<br />Your tasks require action from Innovate UK and will appear when they are ready.</p>
            </th:block>

            <th:block th:if="${param.status[0] == 'step8'}">
                <p class="govuk-body">There are no current tasks to complete.</p>
            </th:block>

            <th:block th:if="${param.status[0] == 'step9'}">
                <p class="govuk-body">You have completed all tasks.</p>
            </th:block>

            <div class="progress-list progress-list--individual-blocks">
                <ul>
                    <li class="require-action" th:if="${param.status == null or param.status[0] == 'step1'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-ps-bank-details">Bank details</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Each organisation must submit their bank details to be reviewed.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-action-required">To be completed</span>
                            </div>
                        </div>
                    </li>
                    <li class="require-action" th:if="${param.status == null or param.status[0] == 'step1' or param.status[0] == 'step2'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-ps-other-documents">Other documents</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                The Project Manager must upload these documents to set up the project.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-action-required">To be completed</span>
                            </div>
                        </div>
                    </li>
                    <li class="require-action" th:if="${param.status[0] == 'step3'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-ps-finance-checks">Finance checks</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                You have a pending finance query to respond to.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="negative-text">Pending query</span>
                            </div>
                        </div>
                    </li>
                    <li class="require-action" th:if="${param.status[0] == 'step5'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-ps-spend-profile">Spend profile</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Each organisation must submit their spend profile to the lead for review by Innovate UK.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-action-required">To be completed</span>
                            </div>
                        </div>
                    </li>
                    <li class="require-action" th:if="${param.status[0] == 'step7'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-ps-grant-offer-letter">Grant offer letter</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                The Project Manager must sign and upload the grant offer letter.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-action-required">To be completed</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <span class="govuk-heading-s" th:unless="${param.status[0] == 'step9'}">Pending tasks</span>

            <th:block th:if="${param.status[0] == 'step7'}">
                <p class="govuk-body">There are no pending tasks to complete.</p>
            </th:block>

            <th:block th:if="${param.status[0] == 'step'}">
                <p class="govuk-body">You have completed all tasks.</p>
            </th:block>

            <div class="progress-list progress-list--individual-blocks">
                <ul>
                    <li class="waiting" th:if="${param.status == null or param.status[0] == 'step1'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-project-details">Monitoring Officer</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Innovate UK are assigning you a Monitoring Officer.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-waiting">Pending</span>
                            </div>
                        </div>
                    </li>
                    <li class="waiting" th:if="${param.status[0] == 'step2'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-project-details">Bank details</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                You bank details are being reviewed by Innovate UK.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-waiting">Awaiting review</span>
                            </div>
                        </div>
                    </li>
                    <li class="waiting" th:if="${param.status[0] == 'step3'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-project-details">Other documents</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Your documents have been uploaded and are being reviewed by Innovate UK.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-waiting">Awaiting review</span>
                            </div>
                        </div>
                    </li>
                    <li class="waiting" th:if="${param.status == null or param.status[0] == 'step1' or param.status[0] == 'step2' or param.status[0] == 'step4'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Finance checks</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Innovate UK will review your finances once bank details have been submitted.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-waiting" th:text="${param.status == null or param.status[0] == 'step1' ? 'Pending' : 'Awaiting review'}">Pending</span>
                            </div>
                        </div>
                    </li>
                    <li class="waiting" th:if="${param.status == null or param.status[0] == 'step1' or param.status[0] == 'step2' or param.status[0] == 'step3' or param.status[0] == 'step4' or param.status[0] == 'step5a'  or param.status[0] == 'step6'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Spend profile</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                You can update your spend profile once finances have been approved.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-waiting" th:text="${param.status[0] == 'step5a' or param.status[0] == 'step6' ? 'Awaiting review' : 'Pending'}">Pending</span>
                            </div>
                        </div>
                    </li>
                    <li class="waiting" th:unless="${param.status[0] == 'step7' or param.status[0] == 'step9'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Grant offer letter</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                The Project Manager can review and accept this once all tasks have been completed.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-waiting" th:text="${param.status[0] == 'step8' ? 'Awaiting review' : 'Pending'}">Pending</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </section>

        <section id="section2">
            <h2 class="govuk-heading-m">Completed tasks</h2>

            <div class="progress-list progress-list--individual-blocks">
                <ul>
                    <li class="complete">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="/prototypes/IFS-1984-project-details">Project details</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Your project details have been completed for each organisation.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="complete" th:unless="${param.status[0] == 'step1'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Monitoring officer</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Innovate UK have assigned your Monitoring Officer, James Smith.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="complete" th:unless="${param.status[0] == 'step1' or param.status[0] == 'step2'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Bank details</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Your bank details have been approved by Innovate UK.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="complete" th:unless="${param.status[0] == 'step1' or param.status[0] == 'step2' or param.status[0] == 'step3'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Other documents</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Your documents have been uploaded and approved by Innovate UK.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="complete" th:unless="${param.status[0] == 'step1' or param.status[0] == 'step2' or param.status[0] == 'step3' or param.status[0] == 'step4'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Finance checks</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Your finances have been approved by Innovate UK.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="complete" th:if="${param.status[0] == 'step7' or param.status[0] == 'step8' or param.status[0] == 'step9'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Spend profile</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Your spend profile has been approved by Innovate UK.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="complete" th:if="${param.status[0] == 'step9'}">
                        <div class="task">
                            <h2 class="govuk-heading-s">
                                <a href="#">Grant offer letter</a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-0">
                                Your grant offer letter has been signed and approved by Innovate UK.
                            </p>
                        </div>
                        <div class="status">
                            <div class="status-msg msg-progress">
                                <span class="status-complete">Complete</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <!-- END OF HARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<th:block th:if="${param.status[0] == 'step4'}">
    <script type="text/javascript">
        // <![CDATA[
        jQuery(document).ready(function() {
            setTimeout(function () {
                window.location.href = "/prototypes/IFS-1984-ps-dashboard-steps?status=step5";
            }, 20000);
        });
        // ]]>
    </script>
</th:block>
<th:block th:if="${param.status[0] == 'step5a'}">
    <script type="text/javascript">
        // <![CDATA[
        jQuery(document).ready(function() {
            setTimeout(function () {
                window.location.href = "/prototypes/IFS-1984-ps-dashboard-steps?status=step6";
            }, 10000);
        });
        // ]]>
    </script>
</th:block>
<th:block th:if="${param.status[0] == 'step6'}">
    <script type="text/javascript">
        // <![CDATA[
        jQuery(document).ready(function() {
            setTimeout(function () {
                window.location.href = "/prototypes/IFS-1984-ps-dashboard-steps?status=step7";
            }, 10000);
        });
        // ]]>
    </script>
</th:block>
<th:block th:if="${param.status[0] == 'step8'}">
    <script type="text/javascript">
        // <![CDATA[
        jQuery(document).ready(function() {
            setTimeout(function () {
                window.location.href = "/prototypes/IFS-1984-ps-dashboard-steps?status=step9";
            }, 10000);
        });
        // ]]>
    </script>
</th:block>
</body>
</html>
