<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Finance checks'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="prototypes/fragments/layout :: prototype-assessor-header" th:with="status='loggedIn'" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Set up your project'}, ${'/prototypes/IFS-1984-ps-dashboard-steps?status=step3'})" />

    <!-- HARDCODED PROTOTYPE HTML -->

    <th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'Mobile Phone Data for Logistics Analytics'}, ${'Finance checks'}, ${null})" />

    <p class="govuk-body">Innovate UK is reviewing
        <a href="#">your finances</a>.
        You can also view the <a href="#">project finance overview</a>.
    </p>
    <div class="warning-alert">
        <p class="govuk-body">You have a pending finance query.</p>
    </div>
    <h2 class="govuk-heading-m">Queries</h2>
    <div class="collapsible">
        <h2>Overheads costs<div class="section-status section-incomplete">Pending query</div></h2>
        <div class="collapsible-content">
            <div>
                <div class="govuk-heading-s govuk-!-margin-0">
                    Innovate UK - Finance team
                    <small>
                        7 March 2018
                        10:56am
                    </small>
                </div>
                <p class="govuk-body">Can you please provide more information on your overheads costs?</p>
            </div>
            <a id="post-new-response-1" href="/prototypes/IFS-1984-ps-dashboard-steps?status=step4" class="extra-margin-top button">Respond</a>
        </div>
    </div>


    <!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function() {
        jQuery('#prototype-upload').on('click', function () {
            jQuery('#prototype-cta').prop('disabled', false);
        });
    });
    // ]]>
</script>
</body>
</html>
