<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Allocate applications'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="prototypes/fragments/layout :: prototype-assessor-header" th:with="status='loggedIn'" />


<main id="content">


    <!-- HARDCODED PROTOTYPE HTML -->

    <h1 class="govuk-heading-xl">Assessor dashboard</h1>

    <h2 class="govuk-heading-m">Your details</h2>

    <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">personal skills</a></li>
        <li><a href="#">skills</a></li>
        <li><a href="#">declaration of interest</a></li>
        <li><a href="#">assessor agreement</a></li>
        <li><a href="#">travel and subsistence rates</a></li>
    </ul>

    <div class="my-applications cf extra-margin-top">
        <div class="progress-list">
            <h2 class="govuk-heading-m no-margin-top">Competitions for assessment (1)</h2>
            <ul>
                <li>
                    <div class="task">
                        <h3 class="govuk-heading-s"><a href="#">Sustainable living models for the future</a></h3>
                        <div class="action-required">
                            <strong>
                                <span class="pending-applications">3</span> applications awaiting acceptance |
                                <span class="accepted-applications">3</span> applications to assess
                            </strong>
                        </div>
                    </div>
                    <div class="status">
                        <div class="status-msg msg-deadline">
                            <strong class="bold-medium days-remaining">10</strong><br /> days left<br /> Deadline <span class="day">28</span>
                            <span class="month">July</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="progress-list">
            <h2 class="govuk-heading-m no-margin-top">Invitations to interview panel (1)</h2>
            <ul>
                <li th:unless="${param.status != null and param.status[0] == 'noApplications'}">
                    <div class="task">
                        <h3 class="govuk-heading-s"><a href="/prototypes/IFS-2252-interview-yes-no">Technology inspired</a></h3>
                        <div class="action-required">
                            You have been asked to attend an interview panel for this competition. Please respond.
                        </div>
                    </div>
                </li>
                <li th:if="${param.status != null and param.status[0] == 'noApplications'}">
                    <div class="task">
                        <h3 class="govuk-heading-s"><a href="/prototypes/IFS-2252-interview-yes-no">Technology inspired</a></h3>
                        <div class="action-required">
                            <strong>
                                <span class="pending-applications">0</span> applications awaiting review  |
                                Applications to be added soon
                            </strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="progress-list" th:unless="${param.status != null and param.status[0] == 'noApplications'}">
        <h2 class="govuk-heading-m no-margin-top">Interviews you have agreed to attend (3)</h2>
        <ul>
            <li>
                <div class="task">
                    <h3 class="govuk-heading-s"><a href="/prototypes/IFS-2254-apps-for-interview">Photonics for health</a></h3>
                    <div class="action-required">
                        <strong>
                            <span class="pending-applications">3</span> applications awaiting review
                        </strong>
                    </div>
                </div>
            </li>
            <li>
                <div class="task">
                    <h3 class="govuk-heading-s"><a href="/prototypes/IFS-2254-apps-for-interview">Photonics for health</a></h3>
                    <div class="action-required">
                        Applications awaiting review will be added here.
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	// <![CDATA[

	// ]]>
</script>
</body>
</html>
