<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="wide-page">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="prototypes/fragments/layout :: prototype-comp-admin-header" th:with="status='loggedIn'" />


<main id="content">


  <th:block th:unless="${param.status != null and param.status[0] == 'resendInvites'}" th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Assign applications to interview panel'}, ${'/prototypes/IFS-2246-assign-applications?tab=invite'})" />
  <th:block th:if="${param.status != null and param.status[0] == 'resendInvites'}" th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Assign applications to interview panel'}, ${'/prototypes/IFS-2246-assign-applications?tab=view'})" />

    <!-- HARDCODED PROTOTYPE HTML -->

    <th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'68: Technology inspired, competition closed'}, ${(param.status != null and param.status[0] == 'resendInvites' ? 'Resend invites to interview panel' : 'Send invites to interview panel' )}, ${null})" />

    <th:block th:if="${param.status != null and param.status[0] == 'error'}">
        <div class="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem on this page.
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#">Your upload must be a PDF.</a>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>

    <p class="govuk-body">Upload additional assessment feedback for applicants, edit the email and click send. The applications will then be assigned to this interview panel.</p>

    <details>
        <summary><span class="summary">Additional feedback guidance</span></summary>
        <div class="panel">
            <p class="govuk-body">You may upload additional assessment feedback per application, if available. The applicant can download this
            along with their overall feedback document which is sent out automatically.</p>

            <p class="govuk-body">The feedback document should be:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a portable document format (.pdf)</li>
                <li>readable with 100% magnification</li>
                <li>less than 100mb in size</li>
            </ul>
        </div>
    </details>

    <th:block th:if="${param.status == null or param.status[0] != 'resendInvites'}">
        <div class="govuk-grid-row sorting extra-margin">
            <span class="govuk-heading-xl govuk-!-margin-0">4</span>
            <span class="govuk-heading-s">applications</span>
        </div>
    </th:block>

    <form>

        <div class="table-overflow">
            <th:block th:if="${param.status == null or param.status[0] != 'resendInvites'}">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="width-small">Application number</th>
                        <th class="govuk-table__header" scope="col">Project title</th>
                        <th class="govuk-table__header" scope="col">Lead organisation</th>
                        <th class="govuk-table__header" scope="col">Additional feedback</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="#">114</a></td>
                        <td class="govuk-table__cell">Electronics, sensors &#38; photonics, Materials</td>
                        <td class="govuk-table__cell">Ooba</td>
                        <td class="govuk-table__cell">
                            <div class="upload-section">
                                <input type="file" id="file-upload-1" class="inputfile">
                                <label for="file-upload-1" class="button-secondary">
                                    + Upload
                                </label>
                                <button name="upload_file" class="button-secondary" type="submit" data-for-file-upload="formInput-1">Save</button>
                                <!-- WE WILL NEED TO ADD CSS TO PRODUCTION CODE TO GET THIS LOOKING RIGHT. -->
                            </div>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="#">269</a></td>
                        <td class="govuk-table__cell">Healthcare, Regentative medicine, Stratified medicine</td>
                        <td class="govuk-table__cell">Empire Ltd</td>
                        <td class="govuk-table__cell">
                            <div class="upload-section">
                                <div th:class="${param.status != null and param.status[0] == 'error'} ? 'govuk-form-group--error'">
                                    <th:block th:if="${param.status != null and param.status[0] == 'error'}">
                                        <span class="govuk-error-message">Your upload must be a PDF.</span>
                                        <p class="uploaded-file">No file currently uploaded</p>
                                    </th:block>
                                    <button class="button-secondary" th:formaction="${#httpServletRequest.requestURI}">+ Upload</button>
                                    <input type="hidden" name="status" value="error" />
                                    <!-- WE WILL NEED TO ADD CSS TO PRODUCTION CODE TO GET THIS LOOKING RIGHT. -->
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="#">171</a></td>
                        <td class="govuk-table__cell">Healthcare, Analytical science</td>
                        <td class="govuk-table__cell">Ideas</td>
                        <td class="govuk-table__cell">
                            <div class="upload-section">
                                <input type="file" id="file-upload-3" class="inputfile">
                                <label for="file-upload-3" class="button-secondary">
                                    + Upload
                                </label>
                                <button name="upload_file" class="button-secondary" type="submit" data-for-file-upload="formInput-3">Save</button>
                                <!-- WE WILL NEED TO ADD CSS TO PRODUCTION CODE TO GET THIS LOOKING RIGHT. -->
                            </div>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="#">265</a></td>
                        <td class="govuk-table__cell">Architectures and operating systems</td>
                        <td class="govuk-table__cell">Wordpedia</td>
                        <td class="govuk-table__cell">
                            <div class="upload-section">
                                <div class="govuk-grid-row">
                                    <div class="column-two-thirds">
                                        <a class="uploaded-file-1" href="#" target="_blank">Uploaded-file.pdf</a>
                                        <p class="govuk-hint">(opens in a new window)</p>
                                    </div>
                                   <div class="govuk-grid-column-one-third">
                                       <button name="remove_uploaded_file" value="" class="govuk-button button-clear" type="submit">Remove</button>
                                   </div>
                                </div>
                                <!-- WE WILL NEED TO ADD CSS TO PRODUCTION CODE TO GET THIS LOOKING RIGHT. -->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th:block>

            <th:block th:if="${param.status != null and param.status[0] == 'resendInvites'}">
                <table class="extra-margin">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="width-small">Application number</th>
                        <th class="govuk-table__header" scope="col">Project title</th>
                        <th class="govuk-table__header" scope="col">Lead organisation</th>
                        <th class="govuk-table__header" scope="col">Date assigned</th>
                        <th class="govuk-table__header" scope="col">Additional feedback</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="#">114</a></td>
                        <td class="govuk-table__cell">Electronics, sensors &#38; photonics, Materials</td>
                        <td class="govuk-table__cell">Ooba</td>
                        <td class="govuk-table__cell">01/09/2017</td>
                        <td class="govuk-table__cell">
                            <div class="upload-section">
                                <div class="govuk-grid-row">
                                    <div class="column-two-thirds">
                                        <a class="uploaded-file-1" href="#" target="_blank">Uploaded-file.pdf</a>
                                        <p class="govuk-hint">(opens in a new window)</p>
                                    </div>
                                    <div class="govuk-grid-column-one-third">
                                        <button name="remove_uploaded_file" value="" class="govuk-button button-clear" type="submit">Remove</button>
                                    </div>
                                </div>
                                <!-- WE WILL NEED TO ADD CSS TO PRODUCTION CODE TO GET THIS LOOKING RIGHT. -->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th:block>

        </div>

        <fieldset class="extra-margin">

            <legend class="govuk-visually-hidden">Email invite for interview</legend>

            <div class="govuk-form-group">
                <label class="form-label-bold" for="subject">Email subject</label>
                <input class="form-control width-full" id="subject" type="text" value="Please attend an interview for an Innovate UK funding competition" />
            </div>

            <div class="govuk-form-group">
              <h3 class="govuk-heading-s govuk-!-margin-0">Message</h3>
              <p class="govuk-hint" style="white-space: pre-wrap">Competition: [competition title]
Application number: [application number]
Project title: [project title]
              </p>
            </div>

            <div class="govuk-form-group">
                <label class="form-label-bold" for="message">Additional text</label>
                <div class="textarea-wrapped">
                    <textarea id="message" rows="8" data-editor="md" class="width-full">
                    </textarea>
                </div>
            </div>

            <p class="govuk-hint">
              Yours sincerely,
            </p>

            <p class="govuk-hint extra-margin">
                Innovate UK, part of UK Research and Innovation <br />
                Tel: 0300 321 4357 <br />
                Email: competitions@innovateuk.ukri.org
            </p>

            <div class="extra-margin">
                <a href="/prototypes/IFS-2246-assign-applications?tab=view" class="govuk-button" th:text="${(param.status != null and param.status[0] == 'resendInvites' ? 'Resend invite' : 'Send invite')}">Send invite</a>
                <a href="/prototypes//IFS-2246-assign-applications?tab=assign" class="govuk-button button-clear">Cancel</a>
            </div>

        </fieldset>

    </form>

	<!-- END OFHARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>

<script type="text/javascript">
	// <![CDATA[

	// ]]>
</script>
</body>
</html>
