<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Spend profile'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="prototypes/fragments/layout :: prototype-assessor-header" th:with="status='loggedIn'" />


<main id="content">

    <th:block th:insert="prototypes/fragments/applicant-view :: prototype-subheader(${'Set up your project'}, ${'/prototypes/IFS-1984-ps-dashboard-steps?status=step5'})" />

    <!-- HARDCODED PROTOTYPE HTML -->

    <th:block th:insert="prototypes/fragments/comp-admin :: prototype-comp-admin-page-title-subheading(${'Mobile Phone Data for Logistics Analytics'}, ${'Spend profile'}, ${null})" />

    <p class="govuk-body">We have reviewed and confirmed your project costs. You should now develop a spend profile together with your project partners. This is so we can plan the allocation of the grant funding to your project.</p>
    <dl class="standard-definition-list">
        <dt>Project start date</dt>
        <dd>
            1 October 2020
        </dd>
        <dt>Duration</dt>
        <dd>3 months</dd>
    </dl>
    <h2 class="govuk-heading-m">Electric Sounds Ltd - Spend profile</h2>
    <p class="govuk-body">We have reviewed and approved your project costs. Each organisation should now edit their spend profile costs to reflect your proposed project costs.</p>
    <form>
        <div class="spend-profile-table">
            <div class="flex-table-before"></div>
            <div class="flex-table-wrap">
                <table>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col class="total">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="row" id="month">Month</th>
                        <th scope="col" id="month-0">Oct 2020</th>
                        <th scope="col" id="month-1">Nov 2020</th>
                        <th scope="col" id="month-2">Dec 2020</th>
                        <th scope="col" class="fix-right">Total</th>
                        <th scope="col" class="fix-right">Eligible project cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="form-group-row">
                        <th scope="row">
                            <span>Labour</span>
                        </th>
                        <td>1,027</td>
                        <td>1,027</td>
                        <td>1,027</td>
                        <td class="fix-right">
                            £3,081
                        </td>
                        <td class="fix-right">
                            £3,081
                        </td>
                    </tr>
                    <tr class="form-group-row">
                        <th scope="row">
                            <span>Overheads</span>
                        </th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td class="fix-right">£0</td>
                        <td class="fix-right">£0</td>
                    </tr>
                    <tr class="form-group-row">
                        <th scope="row">
                            <span>Materials</span>
                        </th>
                        <td>33,400</td>
                        <td>33,400</td>
                        <td>33,400</td>
                        <td class="fix-right">£100,200</td>
                        <td class="fix-right">£100,200</td>
                    </tr>
                    <tr class="form-group-row">
                        <th scope="row">
                            <span>Capital usage</span>
                        </th>
                        <td>184</td>
                        <td>184</td>
                        <td>184</td>
                        <td class="fix-right">£552</td>
                        <td class="fix-right">£552</td>
                    </tr>
                    <tr class="form-group-row">
                        <th scope="row">
                            <span>Subcontracting</span>
                        </th>
                        <td>30,000</td>
                        <td>30,000</td>
                        <td>30,000</td>
                        <td class="fix-right">£90,000</td>
                        <td class="fix-right">£90,000</td>
                    </tr>
                    <tr class="form-group-row">
                        <th scope="row">
                            <span>Travel and subsistence</span>
                        </th>
                        <td>1,990</td>
                        <td>1,990</td>
                        <td>1,990</td>
                        <td class="fix-right">£5,970</td>
                        <td class="fix-right">£5,970</td>
                    </tr>
                    <tr class="form-group-row">
                        <th scope="row">
                            <span>Other costs</span>
                        </th>
                        <td>368</td>
                        <td>366</td>
                        <td>366</td>
                        <td class="fix-right">£1,100</td>
                        <td class="fix-right">£1,100</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="form-group-row">
                        <th scope="row" colspan="1">
                            <span>Total</span>
                        </th>
                        <td data-calculation-operations="+" data-calculation-fields="input[class*=oct-2020]">
                            £66,969
                        </td>
                        <td data-calculation-operations="+" data-calculation-fields="input[class*=nov-2020]">
                            £66,967
                        </td>
                        <td data-calculation-operations="+" data-calculation-fields="input[class*=dec-2020]">
                            £66,967
                        </td>
                        <td class="fix-right">
                            <input value="£200,903" readonly="readonly" data-calculation-operations="+" id="spend-profile-total-total" data-calculation-fields="input[id*=row-total-]">
                        </td>
                        <td class="fix-right">
                            <input readonly="readonly" value="£200,903" data-calculation-rawvalue="200903">
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="flex-table-after"></div>
        </div>

        <div class="grid-container">
            <h2 class="govuk-heading-m">Project costs for financial year</h2>
            <p class="govuk-body">Your submitted spend profile will be used as the base for your project spend over the following financial years.</p>
            <table class="govuk-!-margin-bottom-6" style="width: 50%;">
                <thead>
                <tr>
                    <th scope="col" style="width: 50%">Financial year (April to March)</th>
                    <th scope="col" style="width: 50%">Project spend</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2020 to 2021</td>
                    <td>£200,903</td>
                </tr>
                </tbody>
            </table>

        </div>
    </form>
    <div class="grid-container">
        <a class="govuk-button button-secondary extra-margin" href="#">Edit spend profile</a>
        <p class="govuk-body extra-margin">You need to mark this section as complete. You can then send completed spend profiles to Innovate UK.</p>
        <form>
            <button id="prototype-cta" class="govuk-button" name="mark-as-complete">Mark as complete</button>
        </form>
    </div>


    <!-- END OF HARDCODED PROTOTYPE HTML -->

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<script src="/js/ifs_prototype/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/js/ifs_prototype/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function() {
        jQuery('#prototype-cta').on('click', function () {
            window.location.href = "/prototypes/IFS-1984-ps-dashboard-steps?status=step5a";
            return false;
        });
    });
    // ]]>
</script>
</body>
</html>
