<!DOCTYPE html>
<html class="govuk-template" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Prototype index page'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body class="govuk-template__body app-dashboard">

    <th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
    <th:block th:insert="fragments/layout :: body-start" />
    <th:block th:insert="fragments/layout :: global-header" />

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="content">

            <!-- HARDCODED PROTOTYPE HTML -->

            <th:block th:insert="prototypes/fragments/layout :: prototype-sprint-nav" th:with="sprint='eu2020'"/>

            <h1 class="govuk-heading-l">EU funding data capture</h1>

            <h2 class="govuk-heading-m">
                EU2020 application transfer
                <a href="https://devops.innovateuk.org/issue-tracking/browse/IFS-4104">IFS-4104</a>
            </h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a class="govuk-link govuk-heading-s" href="/prototypes/IFS-4104-funding-dashboard">Funding dashboard</a>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link" href="/prototypes/IFS-4104-funding-org">Your organisation</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/prototypes/IFS-4104-funding-business">Business</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/prototypes/IFS-4104-funding-org-selected">Confirm your business</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/prototypes/IFS-4104-funding-org-selected?status=readonly&section1=true">Edit your organisation</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="govuk-link govuk-heading-s" href="/prototypes/IFS-4104-funding-dashboard?section1=true&section2=true">Funding dashboard with section1 complete</a>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link" href="/prototypes/IFS-4104-funding-contact-details?section1=true">Contact details</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/prototypes/IFS-4104-funding-contact-details?status=readonly&section1=true&section2=true">Edit contact details</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="govuk-link govuk-heading-s" href="/prototypes/IFS-4104-funding-dashboard?section1=true&section2=true">Funding dashboard with section1 and section2 complete</a>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link" href="/prototypes/IFS-4104-funding-details?section1=true&section2=true">Your funding</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/prototypes/IFS-4104-funding-details?status=readonly&section1=true&section2=true&section3=true">Edit funding details</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="govuk-link govuk-heading-s" href="/prototypes/IFS-4104-funding-dashboard?section1=true&section2=true&section3=true">Funding dashboard with all sections complete</a>
                </li>
                <li>
                    <a class="govuk-link govuk-heading-s" href="/prototypes/IFS-4104-email">Confirmation email</a>
                </li>
            </ul>

            <!-- END OF HARDCODED PROTOTYPE HTML -->


            <th:block th:insert="fragments/layout :: main-content-end"/>
        </main>
    </div>

    <th:block th:insert="fragments/layout :: body-end" />
    <th:block th:insert="prototypes/fragments/layout :: prototype-js" />

</body>

</html>
