<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Prototype index page'" />
    <link href="/css/prototype.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body class="app-dashboard">

<th:block th:insert="prototypes/fragments/layout :: prototype-nav" />
<th:block th:insert="fragments/layout :: body-start" />

<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">

        <div th:include="fragments/elements :: header-logo"></div>
    </div>
  </div>
</header>

<main id="content">




	<!-- HARDCODED PROTOTYPE HTML -->

	<th:block th:insert="prototypes/fragments/layout :: prototype-sprint-nav-archive" th:with="sprint='sprint4'" />


	<section class="govuk-grid-row">
		<div class="row">
			<h1 class="govuk-heading-l">Sprint 4</h1>

			<section>
				<h2 class="govuk-heading-m">HTML emails</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li><h3><a href="/prototypes/1325-html-email-template-invite"><strong>INFUND-1325</strong></a></h3>HTML email template for invite collaborators
						<ul class="govuk-list govuk-list--bullet">
							<li><a href="/prototypes/1325-html-email-template-invite-assessor">INFUND-1325</a> - Invite assessor</li>
						</ul>
					</li>
				</ul>
			</section>


			<section>
				<h2 class="govuk-heading-m">User testing iteration</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li><h3>INFUND-1618</h3> As prot team we need to iterate the assessor journey following testing</li>
					<li>
						<h3><strong>INFUND-1625</strong></h3> As prot team we need to iterate comp admin pages following testing

						<ul class="govuk-list govuk-list--bullet">
							<li><a href="/prototypes/1373-manage-applications">INFUND-1737</a> - Create a fixed panel to show main application information for the comp administrators. This should remain in 'fixed' view at all times, with scrollable data tables sitting along side. <strong>Appears when viewport > 1200px wide</strong></li>
							<li><a href="/prototypes/1382-application-allocate-assessors">INFUND-1739</a> - Creating a view, of 1382, including Type, Innovation area and Skills in the Assessor tables.</li>
							<li><a href="/prototypes/1381-application-allocation">INFUND-1740</a> - Removal of the details column from 1381 &#38; 1381 wide , as it duplicates functionality with 'Allocate Assessors'</li>
							<li><a href="/prototypes/863-invite-assessors">INFUND-1741</a> - Updates to be made to 863, the consistency in labeling of application information. The addition of a 'type' filter (Academic/Industry) to the filter bar. And adding 'Type' &#38; Innovation Area to the Assessor table.</li>
							<li><a href="/prototypes/863-invite-list">INFUND-1742</a> - Create additional columns for the Current assessors that have been added to the account(Type &#38; Innovation Area)</li>
							<li><a href="/prototypes/1373-manage-applications">INFUND-1746</a> - Updates to CTAs - <strong>Most pages around comp admin have had slight tweaks see jira ticket for full details</strong></li>
						</ul>

					</li>
					<li><h3>INFUND-1569</h3> Review/Redesign header and navigation elements for ALL users of the system - external and internal</li>
					<li><h3>INFUND-1573</h3> As the prototyping team we need to support a content review and implement changes to the copy within all prototype pages</li>
				</ul>
			</section>

			<section>
				<h2 class="govuk-heading-m">Competition team / administration </h2>
				<ul class="govuk-list govuk-list--bullet">
					<li><h3>INFUND-1558</h3> As the comps team I want to track progress by assessor so that I can target those who have not completed more efficiently</li>
					<li><h3><a href="/prototypes/1559-remove-invites"><strong>INFUND-1559</strong></a></h3> As comps team I want to action a mass removal of applications from assessors if they fail to accept before the a/r deadline so that I can reassign the applications to another assessor</li>
					<li><h3><a href="/prototypes/1568-assessor-profile"><strong>INFUND-1568</strong></a></h3> As the comps team I need to be able to view the details of an individual assessor to further understand their skills, assessment history etc.
						<ul class="govuk-list govuk-list--bullet">
							<li><a href="/prototypes/1568-assessor-profile-doi">INFUND-1568</a> Link through to declaration of interest</li>
						</ul>
					</li>

					<li><h3><strong>INFUND-1560</strong></h3> As comps team I need to input the revised scores from assessment panel to be able to generate our final funding list

						<ul class="govuk-list govuk-list--bullet">
							<li><a href="/prototypes/1825-panel-findings">INFUND-1825</a> Create a view that allows a member of the comp team to input the scores from the Assessor Panel</li>
							<li><a href="/prototypes/1826-input-panel-assessors">INFUND-1826</a> Create a view that allows a member of the comp team to select the assessors that attended the assessors panel</li>
							<li><a href="/prototypes/1827-assessment-closed">INFUND-1827</a> Create a view that allows a members of the comp team to select applications to take to the Assessors panel</li>
						</ul>

					</li>


					<li><h3><strong>INFUND-1561</strong></h3> As comps team I need to be able to input the outcome of the funders panel by marking successful projects within IFS and make note of special circumstances or discussions

						<ul class="govuk-list govuk-list--bullet">
							<li><a href="/prototypes/1828-funders-panel">INFUND-1828</a> Create a view that allows a member of the comp team to select applications to take to the Funders panel</li>
							<li><a href="/prototypes/1852-confirm-funding">INFUND-1852</a> Create a view that allows the decisions from the funders panel to be input</li>
						</ul>

					</li>
					<li><h3><strong>INFUND-1562</strong></h3> As comps team I need to create a final closed view of the applications and assessments indicating which applications have been successful so that we can store the final outcomes of this competition within the system
						<ul class="govuk-list govuk-list--bullet">
							<li><a href="/prototypes/1850-funders-panel-results">INFUND-1850</a> Create a view that allows the Comp team to view successful and unsuccessful applications along with funders panel comments
</li>
						</ul>

					</li>
					<li><h3>INFUND-1563</h3> As comps team I need to generate notifications to applicants of whether they have been successful or unsuccessful so that they can begin the project set up process</li>
					<li><h3>INFUND-1565</h3> As comps team I need to review all assessor feedback and remove assessor comments if required so that I can moderate inappropriate language</li>
					<li><h3>INFUND-1566</h3> As comps team I need to distribute all application feedback to applicants so that they can understand how to improve their applications</li>
					<li><h3>INFUND-1567</h3> As comps team I need to transition all successful applications into the project set up stage so that they can provide the appropriate details</li>
					<li><h3>INFUND-1627</h3> As the finance team (and other internal) I need to view and access all projects that have been successful within a competition so that I can begin the due diligence process</li>
					<li><h3>INFUND-1570</h3> As the Innovate UK ops teams we need a consistent competition dashboard to facilitate the needs of all internal teams and refine information shown at each stage</li>


				</ul>
			</section>


			<section>
				<h2 class="govuk-heading-m">Applicant</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li><h3>INFUND-1564</h3> As an applicant I need to be notified of my success (or not) within a competition</li>
					<li><h3>INFUND-920</h3> As an applicant i want the process information separate from applying, so that i don't have to apply in order to find out general information</li>
				</ul>
			</section>


			<section>
				<h2 class="govuk-heading-m">Assessor</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li><h3>INFUND-1179</h3> As an assessor I want to be able to log in with an existing account by having the option to select Applicant or Assessor when I log in, if I have a user account with both role profiles so that I don't access the wrong profile information</li>
					<li><h3>INFUND-1175</h3> As an assessor I want to be shown a countdown indicator informing me of an approaching deadline for completion of assessment so that I can manage my workload and contact Innovate UK if necessary</li>
				</ul>
			</section>

			<section>
				<h2 class="govuk-heading-m">Comp admin</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li><h3>INFUND-1203</h3> As a Comp Admin I want to be able to dynamically view all assessment information and scoring calculations for a competition together in a table so that I can rank the list and see identify areas requiring further review</li>
					<li><h3>INFUND-1196</h3> As a Competition Administrator I want to be able to view details of applications and completed assessments so I can review the detail and comments if necessary</li>
					<li><h3><a href="/prototypes/860-comp-applications-dashboard?invitesSent"><strong>INFUND-870</strong></a></h3> As a Competition Administrator I want to manually allocate a new assessor to an application when an appointed assessor declines so that I can have the correctly designated number of assessor for each application

						<ul class="govuk-list govuk-list--bullet">
							<li><a href="/prototypes/1373-manage-applications">INFUND-1373</a> -Manage applications</li>
							<li><a href="/prototypes/1393-application-allocate-assessors">INFUND-1393 / 1521</a> Allocate assessors</li>
							<li><a href="/prototypes/1521-application-allocate-applications">INFUND-1521</a> Allocate applications</li>
							<li><a href="/prototypes/1385-application-allocation-confirm">INFUND-1385</a> Confirm changes</li>
							<li><a href="/prototypes/1402-manage-assessors">INFUND-1402</a> Manage assessors</li>
						</ul>


					</li>
					<li><h3>INFUND-1197</h3> As a Competition Administrator I want to be able to export information for the Panel Sheet so I can input into a spreadsheet</li>

				</ul>
			</section>

			<section>
				<h2 class="govuk-heading-m">Accessibility</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li><h3>INFUND-636</h3>As a UX team member I want to make  refinements to the components we already have for accessibility, code validity  and usability, so we can make small improvements which don't fit in a specific user story.</li>
				</ul>
			</section>

		</div>
	</section>

	<!-- END OFHARDCODED PROTOTYPE HTML -->



    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="prototypes/fragments/layout :: prototype-js" />

</body>
</html>
