<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Create a monitoring officer from an existing user'"/>
</head>

<body class="govuk-template__body">

<th:block th:insert="fragments/modals :: modal-overlay" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />

    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Back',linkUrl='/project-setup-management/monitoring-officer/search-by-email'" />

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Add a monitoring officer</h2>
                <div class="message-alert govuk-!-margin-bottom-6">
                    <p class="govuk-body">We have found a user with this email address.</p>
                </div>
                <dl class="govuk-list">
                    <dt>Email address</dt>
                    <dd id="emailAddress" th:text="${model.emailAddress}"></dd>
                    <dt>First name</dt>
                    <dd id="firstName" th:text="${model.firstName}"></dd>
                    <dt>Last name</dt>
                    <dd id="lastName" th:text="${model.lastName}"></dd>
                    <dt>Phone number</dt>
                    <dd id="phoneNumber" th:text="${model.phoneNumber}"></dd>
                </dl>

                <form method="post" th:action="@{/monitoring-officer/{userId}/assign-role-without-edit(userId=${model.userId})}">
                    <div class="govuk-form-group">
                        <button type="submit" class="govuk-button govuk-!-margin-top-6">
                            Add monitoring officer
                        </button>
                    </div>
                </form>

                <th:block th:insert="fragments/layout :: main-content-end" />
            </div>
        </div>
    </main>

</div>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
