<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Manage users'" />
</head>
<body class="competition-management">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='External user list',size='heading-large'" />

    <ul class="inline-nav cf">
        <li>
            <a th:href="@{/admin/users/created}">Users with account</a>
        </li>
        <li th:classappend="selected">
            <a th:href="@{/admin/invites}">Invited users</a>
        </li>
    </ul>

    <th:block th:insert="fragments/invited-users :: invite-list(invites=${invites})" />

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
