<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Upload files',hasFormErrors=${#fields.hasErrors('${form.*}')}" />
</head>
<body class="govuk-template__body">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div th:if="${#fields.hasErrors('${form.*}')}" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
            <th:block th:insert="fragments/elements :: error-summary-list(form)" />
        </div>

        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Assessment as a Service',size='govuk-heading-l'" />
        <p class="govuk-body">Upload files</p>
        <form th:object="${form}" method="post" novalidate="novalidate"  th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}">
            <div class="success-alert govuk-!-margin-bottom-6"
                 th:attr="aria-hidden=${model.uploadSuccess == false}"
                 data-js-toggle-on-file-upload="">
                <h2 class="govuk-heading-s govuk-!-margin-top-0">The external file uploaded successfully in IFS.</h2>
            </div>
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('*{file}')} ? 'govuk-form-group--error'">
                <th:block th:if="${#fields.hasErrors('file')}">
                    <span class="govuk-error-message" th:each="err : ${#fields.errors('file')}" th:text="${err}"></span>
                </th:block>
                <div id="upload-csv" class="upload-section ">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Upload your file
                    </legend>
                    <details class="govuk-details govuk-!-margin-bottom-1" role="group">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">What can I upload?</span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body govuk-!-margin-bottom-0  govuk-!-font-weight-bold">Your file must be:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>in csv format (CSV) </li>
                                <li>less than 10 MB in size</li>
                            </ul>
                        </div>
                    </details>
                    <div class="govuk-form-group">
                        <th:block th:insert="question-type/types :: fileupload-fragment('edit',
                                    ' ',
                                    ${form.fileName},
                                    file,
                                    file,
                                    true,
                                    remove_file,
                                    upload_file)"/>
                    </div>
                </div>
            </div>
        </form>
        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
