<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Manage users'" />
</head>
<body class="govuk-template__body competition-management">

<th:block th:insert="fragments/modals :: modal-overlay" />
<th:block th:insert="fragments/modals :: modal-resend-internal-user" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Manage users',size='govuk-heading-l'" />

        <p class="govuk-body">You can view the status of all internal users and add new users.</p>
        <p class="govuk-body"><a th:href="@{/admin/invite-user}" class="govuk-link">Invite a new internal user</a></p>

        <!--/*
         TODO: Uncomment this when search feature is implemented.  Probably after IFS-34.
        <p class="govuk-body">You can view, edit and search for internal users here.</p>
        <p class="govuk-body"><a href="/" class="govuk-link">Invite a new internal user</a></p>

        <div class="search-filters govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">Search users</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <label class="govuk-label" for="search">Search for a name, job role, permission or email address</label>
              <input type="text" class="govuk-input govuk-!-margin-bottom-6" id="search" name="search" />
              <a href="/" class="govuk-link">Clear search</a>
            </div>
            <div class="govuk-grid-column-one-third">
              <button class="govuk-button">Search</button>
            </div>
          </div>
        </div>
        */-->

        <ul class="govuk-list inline-nav cf">
          <li th:classappend="${model.tab == 'active'} ? 'selected'">
            <a th:href="active" th:text="|Active (${model.activeCount})|" class="govuk-link">Active (38)</a>
          </li>
          <li th:classappend="${model.tab == 'inactive'} ? 'selected'">
            <a th:href="inactive" th:text="|Inactive (${model.inactiveCount})|" class="govuk-link">Inactive (10)</a>
          </li>
          <li th:classappend="${model.tab == 'pending'} ? 'selected'">
            <a th:href="pending" th:text="|Pending (${model.pendingCount})|" class="govuk-link">Pending (10)</a>
          </li>
        </ul>

        <th:block th:if="${model.tab == 'active'}" th:insert="fragments/admin-users :: active(users=${model.activeUsers}, count=${model.activeCount}, pagination=${model.activeUsersPagination})" />

        <th:block th:if="${model.tab == 'inactive'}" th:insert="fragments/admin-users :: inactive(users=${model.inactiveUsers}, count=${model.inactiveCount}, pagination=${model.inactiveUsersPagination})" />

        <th:block th:if="${model.tab == 'pending'}" th:insert="fragments/admin-users :: pending(invites=${model.pendingInvites}, count=${model.pendingCount}, pagination=${model.pendingInvitesPagination})" />

        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>
<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
