<#ftl output_format="HTML" auto_esc=true>
<#import "layout/default.html" as layout>
    <@layout.default>
    <p style="margin: 0 0 1em 0;">Dear ${notificationTarget.name},</p>
    <p style="margin: 0 0 1em 0;">We have raised a query around your project finances.</p>
    <p style="margin: 0 0 1em 0;">You can view and respond to the query in your <a href="${dashboardUrl}">project setup.</a> Please sign in and navigate to the finance checks section.</p>
    <p style="margin: 0 0 1em 0;">If you have any questions please contact the competitions team using the details below.</p>

    <p style="margin: 0 0 1em 0;">Yours sincerely,</p>
    <@layout.senderHTML />
</@layout.default>
