<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:ifs="http://www.w3.org/1999/xhtml">

<th:block th:fragment="summary(model)">

    <th:block th:each="section : ${model.sections}">

        <h2 th:text="${section.name}"
            class="govuk-heading-m govuk-!-margin-top-6"/>

        <!--/* Show the collapsible sections */-->
        <th:block th:each="question : ${section.questions}">
            <div class="collapsible">
                <h3 th:text="${question.name}"></h3>
                <div class="question">
                    <th:block th:insert="new/question-summaries :: ${question.fragment} (${question})"/>
                </div>
            </div>
        </th:block>
    </th:block>
</th:block>

</html>
