<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:ifs="http://www.w3.org/1999/xhtml">
    <head>
        <div th:include="fragments/layout :: head" th:with="pageTitle='Annex ' + ${model.annex}" th:remove="tag"></div>
    </head>

    <body th:with="context='assessment'">
        <div th:include="fragments/layout :: body-start" th:remove="tag"></div>
        <div th:include="fragments/layout :: global-header" th:remove="tag"></div>

        <main id="content">
            <div th:include="fragments/layout :: main-content-start" th:remove="tag"></div>
            <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Terms of contract',linkClass='link-back',linkUrl=@{/profile/terms}" th:remove="tag" />

            <div class="hgroup no-margin-top">
                <h1 class="heading-xlarge no-margin" th:text="|Annex ${model.annex}|">Annex A</h1>
            </div>

            <div ifs:utext="${model.text}"/>

            <div th:include="fragments/layout :: main-content-end" th:remove="tag"></div>
        </main>

        <div th:include="fragments/layout :: footer" th:remove="tag"></div>
        <div th:include="fragments/layout :: body-end" th:remove="tag"></div>
    </body>
</html>