<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Your details'" cache:name="Your-details" />
    </head>

    <body th:with="context='assessment'">
        <th:block th:insert="fragments/layout :: body-start"  cache:name="body-start" />
        <th:block th:insert="fragments/layout :: global-header"  />

        <main id="content">
            <th:block th:insert="fragments/layout :: main-content-start"  cache:name="main-content-start" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Back to assessor dashboard',linkClass='link-back',linkUrl=@{/assessor/dashboard}" />

            <h1 class="heading-xlarge">Your profile</h1>

            <h2 class="heading-medium no-margin-bottom">Your details &nbsp; <small><a th:href="@{/profile/details/edit}"> Edit your details</a></small></h2>

            <h3 class="heading-small">Your name</h3>
            <p>
                <th:block th:text="${model.title}" />
                <th:block th:text="${model.firstName}" />
                <th:block th:text="${model.lastName}" />
            </p>
            <h3 class="heading-small" th:if="${model.gender}">Gender</h3>
            <p th:if="${model.gender}" th:text="${model.gender}? ${model.gender.displayName}" />
            <h3 class="heading-small" th:if="${model.ethnicity}">Your ethnic group</h3>
            <p th:if="${model.ethnicity}" th:text="${model.ethnicity}? ${model.ethnicity.description}" />
            <h3 class="heading-small" th:if="${model.disability}">Do you consider yourself disabled?</h3>
            <p th:if="${model.disability}" th:text="${model.disability}? ${model.disability.displayName}" />
            <h3 class="heading-small" th:if="${model.address}">Address</h3>
            <p th:if="${model.address}">
                <th:block th:text="${model.address.addressLine1}" /><br />
                <th:block th:unless="${#strings.isEmpty(model.address.addressLine2)}">
                    <th:block th:text="${model.address.addressLine2}" /><br />
                </th:block>
                <th:block th:unless="${#strings.isEmpty(model.address.addressLine3)}">
                    <th:block th:text="${model.address.addressLine3}" /><br />
                </th:block>
                <th:block th:text="${model.address.town}" /><br />
                <th:block th:text="${model.address.county}" /><br />
                <th:block th:text="${model.address.postcode}" />
            </p>
            <h3 class="heading-small" th:if="${model.phoneNumber}">Phone number</h3>
            <p th:if="${model.phoneNumber}" th:text="${model.phoneNumber}" />
            <h3 class="heading-small">Email address</h3>
            <p th:text="${model.email}" />

            <th:block th:insert="fragments/layout :: main-content-end"  cache:name="main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer"  cache:name="footer" />
        <th:block th:insert="fragments/layout :: body-end"  cache:name="body-end" />
    </body>
</html>
