<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Your skills'" />
    </head>

    <body th:with="context='assessment'">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Assessor dashboard',linkClass='link-back',linkUrl=@{/assessor/dashboard}" />

            <h1 class="heading-xlarge">Your skills</h1>

            <p>These innovation areas have been chosen as your current areas of expertise. They will influence the types
                of competition you will be invited to assess. If you would like to amend them or add new ones please
                contact a member of the Competitions team <a href="mailto:support@innovateuk.gov.uk">support@innovateuk.gov.uk</a>.
            </p>

            <h2 class="heading-medium no-margin-bottom">Innovation areas</h2>

            <ul class="list list-bullet" th:unless="${#maps.isEmpty(model.innovationAreas)}">
              <th:block th:each="innovationSectorEntry : ${model.innovationAreas}"
                        th:with="innovationSector=${innovationSectorEntry.key},innovationAreas=${innovationSectorEntry.value}">
                <li th:each="innovationArea: ${innovationAreas}" th:text="${innovationArea}">
                  information and communications technology (ICT)
                </li>
              </th:block>
            </ul>

            <h2 class="heading-medium">Skill areas</h2>
            <p id="skillAreas"
               th:text="${model.skillAreas} ? (${model.skillAreas} != '' ? ${model.skillAreas} : 'None declared') : 'Not answered'" />

            <h2 class="heading-medium">Assessor type</h2>
            <p id="assessorType"
               th:text="${model.assessorType} ? ${model.assessorType.displayName} : 'Not answered'" />

            <div class="grid-row extra-margin-top">
                <div class="column-half">
                    <a th:href="@{/assessor/dashboard}" class="button">Return to assessor dashboard</a>
                </div>
                <div class="column-half alignright">
                    <a th:href="@{/profile/skills/edit}" class="button-secondary">Edit</a>
                </div>
            </div>

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
