<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Edit your skills'" />
    </head>

    <body th:with="context='assessment'">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Your skills',linkClass='link-back',linkUrl=@{/profile/skills}" />

            <div class="error-summary" th:if="${#fields.hasErrors('${form.*}')}">
                <h2 class="heading-medium error-summary-heading">We were unable to save your changes</h2>
                <ul class="error-summary-list">
                    <li th:each="err : ${#fields.errors('${form.*}')}" th:text="${err}"></li>
                </ul>
            </div>

            <div class="hgroup">
                <h1 class="heading-xlarge">Edit your skills</h1>
            </div>

            <h2 class="heading-medium no-margin-bottom">Innovation areas</h2>

            <p class="form-hint">These innovation areas have been chosen as your current areas of expertise. They will influence the types
                of competition you will be invited to assess. If you would like to amend them or add new ones please
                contact a member of the Competitions team <a href="mailto:support@innovateuk.gov.uk">support@innovateuk.gov.uk</a>.
            </p>

            <ul class="list list-bullet" th:unless="${#maps.isEmpty(model.innovationAreas)}">
                <th:block th:each="innovationSectorEntry : ${model.innovationAreas}"
                    th:with="innovationSector=${innovationSectorEntry.key},innovationAreas=${innovationSectorEntry.value}">
                    <li th:each="innovationArea: ${innovationAreas}" th:text="${innovationArea}">
                        information and communications technology (ICT)
                    </li>
                </th:block>
            </ul>

            <form th:action="@{/profile/skills/edit}" method="post" th:object="${form}" class="extra-margin">
                <div class="form-group" th:classappend="${#fields.hasErrors('skillAreas')}? error">
                    <label class="form-label" th:for="skillAreas">
                        <span class="heading-medium">Skill areas</span>
                        <span th:if="${#fields.hasErrors('skillAreas')}" th:remove="tag">
                            <span class="error-message"  th:each="err : ${#fields.errors('skillAreas')}" th:text="${err}" />
                        </span>
                    </label>
                    <p class="form-hint">
                        Please tell us about your main areas of expertise or any specialist skills you have. This will help us to assign you the most appropriate applications for assessment.<br />
                        For example; Solar Power, Genetics, Recycling
                    </p>
                    <div class="textarea-wrapped word-count">
                        <textarea
                            class="form-control width-full"
                            maxlength="5000"
                            data-max_words="100"
                            data-maxwordslength="100"
                            data-maxwordslength-errormessage="Maximum word count exceeded. Please reduce your word count to 100."
                            th:attr="data-maxlength-errormessage=#{validation.field.too.many.characters(null,5000)}"
                            th:errorclass="field-error"
                            rows="4"
                            th:field="*{skillAreas}"></textarea>
                        <div class="textarea-footer" th:with="skillAreas=*{skillAreas}">
                            <th:block th:insert="question-type/form-elements :: form-word-count (maxWords=100, currentWordsLeft=${#ifsUtil.wordsRemaining(100, skillAreas)})" />
                        </div>
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('assessorType')}? error">
                    <fieldset>
                        <legend>
                            <span class="heading-medium">Assessor type</span>
                            <span th:if="${#fields.hasErrors('assessorType')}" th:remove="tag">
                                <span class="error-message"  th:each="err : ${#fields.errors('assessorType')}" th:text="${err}" />
                            </span>
                        </legend>
                        <p class="form-hint">Please select your current area of work. If you are working in both areas please select the most dominant.</p>
                        <div class="multi-choice" th:each="type : ${T(org.innovateuk.ifs.user.resource.BusinessType).values()}">
                            <input th:field="*{assessorType}"
                                   th:value="${type}"
                                   type="radio"
                                   required="required"
                                   th:attr="data-required-errormessage=#{validation.standard.assessortype.required}" />
                            <label th:for="${#ids.next('assessorType')}">
                                <th:block th:text="${type.displayName}" />
                            </label>
                        </div>
                    </fieldset>
                </div>

                <button class="button button-large" type="submit">Save and return to your skills</button>
                <a class="button button-clear" th:href="@{/profile/skills}">Cancel</a>
            </form>

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
