<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="your_finance">
    <h2 class="heading-medium no-margin" th:text="${#strings.replace(question.name,'{organisationName}',userOrganisation.name)}"/>
    <p ifs:utext="${question.description}"/>
        <fieldset>
            <h2 class="heading-medium">Innovate UK funding</h2>
            <legend class="visuallyhidden">Innovate UK (TSB) contribution</legend>
            <p>Innovate UK is the new name for the Technology Strategy Board (TSB).</p>

            <p>To receive Innovate UK funding, your academic organisation must apply for funding through the Je-S system. To find out more about the Je-S requirements and processes please go to the <a href="https://je-s.rcuk.ac.uk/" rel="external">Je-S website</a>.</p>

            <p>All finances need to be provided before this application can be submitted. If there are any finances outstanding at the competition deadline this
                application will not be submitted into this competition.</p>

            <h3 class="heading-small">Your project costs</h3>

            <p>Provide key figures from the Je-S form here to allow your partners to see the overall project costs and contribution required from Innovate
                UK</p>
            <p>Enter the figures from the following fields on the Je-S form:</p>
            <div class="form-group" th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.tsbReference?.id +']}')}? 'error'">
                <label class="form-label" for="tsb-ref">
          		    		<span class="form-label-bold">TSB reference</span>
                      <span class="form-hint">This number is found at the top of your Je-S form</span>
                      <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.tsbReference?.id})" />
                </label>
                <input class="form-control" id="tsb-ref" type="text" th:name="cost- + ${academicFinance.tsbReference?.id} + -tsb_reference"
                       th:value="${academicFinance.tsbReference?.value}"
                       th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                       required="required"
                       th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.tsbReference?.id +']}')}? 'field-error'" />
            </div>
        </fieldset>
        <fieldset class="academic">
            <h2 class="heading-medium no-margin">Financial resources</h2>
            <legend class="visuallyhidden">Financial resources</legend>
            <p>Please enter the following costs from the summary of resources section on your Je-S form</p>

            <div class="grid-row">
                <div class="column-third"><strong>Directly incurred</strong></div>
                <div class="column-two-thirds"><strong>TSB Contribution (please refer to the TSB contribution column)</strong></div>
            </div>
            <hr class="underline"/>

            <div class="grid-row">
                <div class="form-group"
                    th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.incurredStaff?.id +'-cost]}')}? 'error'">

                    <label class="form-label column-third" for="incurred-staff">
                        <span>Staff</span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.incurredStaff?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input type="text"
                               class="form-control width-full"
                               id="incurred-staff"
                               th:name="cost- + ${academicFinance.incurredStaff?.id} + -incurred_staff"
                               ifs:nonZeroValue="${academicFinance.incurredStaff?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                              th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.incurredStaff?.id +'-cost]}')}? 'field-error'" />
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group" th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.incurredTravelAndSubsistence?.id +'-cost]}')}? 'error'">

                    <label class="form-label column-third" for="travel">
                        <span>Travel &amp; subsistence </span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+ academicFinance.incurredTravelAndSubsistence?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               id="travel"
                               th:name="cost- + ${academicFinance.incurredTravelAndSubsistence?.id} + -incurred_travel_subsistence"
                               type="text"
                               ifs:nonZeroValue="${academicFinance.incurredTravelAndSubsistence?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                               th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.incurredTravelAndSubsistence?.id +'-cost]}')}? 'field-error'"/>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group"  th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.incurredOtherCosts?.id +'-cost]}')}? 'error'">
                    <label class="form-label column-third" for="other">
                        <span>Other costs</span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.incurredOtherCosts?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               id="other"
                               th:name="cost- + ${academicFinance.incurredOtherCosts?.id} + -incurred_other_costs"
                               type="text"
                               ifs:nonZeroValue="${academicFinance.incurredOtherCosts?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                               th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.incurredOtherCosts?.id +'-cost]}')}? 'field-error'" />
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group">
                    <label class="form-label column-third" for="subtotal-resources">
                        <span class="form-label-bold">Subtotal</span>
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full" id="subtotal-resources" data-calculation-fields="#incurred-staff,#travel,#other"
                               data-calculation-operations="+" type="text" readonly="readonly"
                               th:value="'£ ' + ${#numbers.formatDecimal(academicFinance.getTotalIncurred(),0, 'COMMA', 0, 'POINT')}"/>
                    </div>
                </div>
            </div>
        </fieldset>


        <fieldset>

            <legend class="visuallyhidden">Directly allocated</legend>
            <strong>Directly allocated</strong>
            <hr class="underline"/>


            <div class="grid-row">
                <div class="form-group" th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.allocatedInvestigators?.id +'-cost]}')}? 'error'">
                    <label class="form-label column-third" for="investigators">
                        <span>Investigators</span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.allocatedInvestigators?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               id="investigators"
                               th:name="cost- + ${academicFinance.allocatedInvestigators?.id} + -allocated_investigators" type="text"
                               ifs:nonZeroValue="${academicFinance.allocatedInvestigators?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                               th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.allocatedInvestigators?.id +'-cost]}')}? 'field-error'"/>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group" th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.allocatedEstatesCosts?.id +'-cost]}')}? 'error'">
                    <label class="form-label column-third" for="estates">
                        <span>Estates Costs</span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.allocatedEstatesCosts?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               id="estates"
                               th:name="cost- + ${academicFinance.allocatedEstatesCosts?.id} + -allocated_estates_costs" type="text"
                               ifs:nonZeroValue="${academicFinance.allocatedEstatesCosts?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                               th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.allocatedEstatesCosts?.id +'-cost]}')}? 'field-error'"/>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group" th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.allocatedOtherCosts?.id +'-cost]}')}? 'error'">
                    <label class="form-label column-third" for="other-direct">
                        <span>Other costs</span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.allocatedOtherCosts?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               id="other-direct"
                               th:name="cost- + ${academicFinance.allocatedOtherCosts?.id} + -allocated_other_costs" type="text"
                               ifs:nonZeroValue="${academicFinance.allocatedOtherCosts?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                               th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.allocatedOtherCosts?.id +'-cost]}')}? 'field-error'"/>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group">
                    <label class="form-label column-third" for="subtotal-directly-allocated">
                        <span class="form-label-bold">Subtotal</span>
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full" data-calculation-fields="#investigators,#estates,#other-direct" data-calculation-operations="+"
                               readonly="readonly" id="subtotal-directly-allocated"
                               th:value="'£ ' + ${#numbers.formatDecimal(academicFinance.getTotalAllocated(),0, 'COMMA', 0, 'POINT')}"/>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr class="underline"/>

        <fieldset>
            <legend class="visuallyhidden">Indirect costs</legend>
            <div class="grid-row">
                <div class="form-group border-top"  th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.indirectCosts?.id +'-cost]}')}? 'error'">
                    <label class="form-label column-third" for="indirect">
                        <span class="form-label-bold">Indirect costs </span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.indirectCosts?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               id="indirect"
                               th:name="cost- + ${academicFinance.indirectCosts?.id} + -indirect_costs"
                               type="text"
                               ifs:nonZeroValue="${academicFinance.indirectCosts?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                               th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.indirectCosts?.id +'-cost]}')}? 'field-error'" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend class="visuallyhidden">Exceptions</legend>

            <strong>Exceptions</strong>
            <hr class="underline"/>

            <div class="grid-row">
                <div class="form-group"  th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.exceptionsStaff?.id +'-cost]}')}? 'error'">
                    <label class="form-label column-third" for="exceptions-staff">
                        <span>Staff</span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.exceptionsStaff?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               id="exceptions-staff"
                               th:name="cost- + ${academicFinance.exceptionsStaff?.id} + -exceptions_staff" type="text"
                               ifs:nonZeroValue="${academicFinance.exceptionsStaff?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                               th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.exceptionsStaff?.id +'-cost]}')}? 'field-error'" />
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group" th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.exceptionsOtherCosts?.id +'-cost]}')}? 'error'">
                    <label class="form-label column-third" for="exceptions-other-direct">
                        <span>Other costs</span>
                        <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-'+academicFinance.exceptionsOtherCosts?.id+'-cost'})" />
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               id="exceptions-other-direct"
                               th:name="cost- + ${academicFinance.exceptionsOtherCosts?.id} + -exceptions_other_costs"
                               type="text"
                               ifs:nonZeroValue="${academicFinance.exceptionsOtherCosts?.numberValue}"
                               placeholder="0"
                               th:readonly="${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id)))}"
                               th:classappend="${#fields.hasErrors('${form.formInput[cost-'+ academicFinance.exceptionsOtherCosts?.id +'-cost]}')}? 'field-error'" />
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group">
                    <label class="form-label column-third" for="subtotal-exceptions">
                        <span class="form-label-bold">Subtotal</span>
                    </label>
                    <div class="column-two-thirds">
                        <input id="subtotal-exceptions" class="form-control width-full" data-calculation-fields="#exceptions-staff,#exceptions-other-direct"
                               data-calculation-operations="+" readonly="readonly"
                               th:value="'£ ' + ${#numbers.formatDecimal(academicFinance.getTotalExceptions(),0, 'COMMA', 0, 'POINT')}"/>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="form-group totals">
                    <label class="form-label column-third" for="total">
                        <span class="form-label-bold">Total</span>
                    </label>
                    <div class="column-two-thirds">
                        <input class="form-control width-full"
                               data-calculation-fields="#subtotal-resources,#indirect,#subtotal-directly-allocated,#subtotal-exceptions"
                               data-calculation-operations="+" id="total" readonly="readonly"
                               th:value="'£ ' + ${#numbers.formatDecimal(academicFinance.getTotal(),0, 'COMMA', 0, 'POINT')}"/>
                    </div>
                </div>
            </div>
        </fieldset>
</th:block>

<!-- ===========================Form: Fileupload =========================== -->
<th:block th:fragment="finance_upload"
     th:with="viewmode=${(readonly or (question.isMarkAsCompletedEnabled() and markedAsComplete?.contains(question.id))) ? 'readonly' : 'edit'},
         downloadUrl='/application/'+ ${model.application.currentApplication.id} + '/form/' + ${model.financeViewModel.applicationFinanceId} + '/finance-download',
         filename=${filename},
         inputField='jes-upload',
         validationField='formInput[jes-upload]',
         mayRemove=true,
         removeName='remove_finance_document',
         saveName='upload_file'">
    <div class="upload-section">
         <h3 class="heading-small no-margin" th:text="${formInput.getDescription()}">Upload a pdf copy of the Je-S output form once you have a status of 'With Council'.</h3>
         <th:block th:if="${viewmode=='edit'}" th:insert="question-type/form-elements :: form-guidance (guidable=${formInput})" />
         <th:block th:insert="question-type/types :: fileupload-fragment(${viewmode},${downloadUrl},${filename},${inputField},${validationField},${mayRemove},${removeName},${saveName})" />
    </div>
</th:block>
</html>
