<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- ===========================Form: financial summary (question type) =========================== -->
    <div th:fragment="financial_summary" th:if="${financeTotalPerType}">
        <div th:class="${researchParticipationPercentage &gt; currentCompetition.maxResearchRatio} ? 'eligibility warning' : 'eligibility'" >
            <dl class="list-eligibility">
                <dt>Maximum research participation</dt>
                <dd th:text="${currentCompetition.maxResearchRatio}+' %'"></dd>
                <dt>Current research participation</dt>
                <dd th:class="${researchParticipationPercentage &gt; currentCompetition.maxResearchRatio} ? 'warning'" th:text="(${researchParticipationPercentage} % 1 == 0 ? ${#numbers.formatDecimal(researchParticipationPercentage,0,0)} : ${researchParticipationPercentage}) +' %'"></dd>
            </dl>

            <div th:replace="finance/finance-summary :: research_participation_alert"></div>
        </div>

        <h2 class="heading-medium">Finances Summary</h2>
        <div th:include="finance/finance-summary :: application_finances_summary" th:remove="tag" />
        <!--/* <div class="icon icon-information"></div><span>Please provide your financial breakdown in the <a th:href="@{/application/{id}/form/section/7/(id=${currentApplication.getId()})}" >Your finances</a> section.</span> */-->
        <h2 class="heading-medium">Project cost breakdown</h2>
        <div th:include="finance/finance-summary :: financial_summary_table" th:remove="tag"/>
        <p>This is the level of cost detail that the assessors will see during the assessment process.</p>

        <h2 class="heading-medium">Academic partner breakdown</h2>
        <p>Academic partners submit their project costs through the Je-S system. For a full breakdown of their project costs please see the documents below.</p>
        <div th:include="finance/finance-summary :: academic_partner_breakdown" th:remove="tag"/>
    </div>


    <div th:fragment="academic_partner_breakdown" th:if="${financeTotalPerType}">
        <div th:each="organisation : ${academicOrganisations}" th:unless="${academicFileEntries == null}">
            <h3 th:text="${organisation.name}" class="heading-medium">University</h3>
            <div th:if="${academicFileEntries.containsKey(organisation.id)}" th:with="applicationFinanceResource = ${academicFileEntries.get(organisation.id).left}, fileEntry = ${academicFileEntries.get(organisation.id).right}">
                <div class="upload-section">
                    <h3 class="heading-small no-margin">Download Je-S form:</h3>
                    <div class="uploaded-file"><a th:href="'/application/'+ ${currentApplication.id} + '/form/' + ${applicationFinanceResource.id} + '/finance-download'" th:text="${fileEntry.name}"></a></div>
                </div>
            </div>
            <div th:unless="${academicFileEntries.containsKey(organisation.id)}">
                <div class="upload-section">
                    <h3 class="heading-small no-margin">Download Je-S form:</h3>
                    <div class="uploaded-file">No file currently uploaded</div>
                </div>
            </div>
        </div>
    </div>


    <!-- ===========================Form: financial summary/breakdown table =========================== -->
    <div th:fragment="financial_summary_table" th:if="${financeTotalPerType}">
        <div class="form-group project-cost-breakdown">
            <div style="overflow: auto;">
                <th:block th:unless="${applicationOrganisations != null}">
                    <div class="warning-alert">
                        This competition has already closed, you are no longer able to submit your application.
                    </div>
                </th:block>
                <table>
                    <thead>
                    <tr>
                        <td />
                        <th scope="col" class="numeric">Total</th>
                        <th th:each="financeSubSection, iteration : ${financeSectionChildren}"
                            th:with="question=${financeSectionChildrenQuestionsMap.get(financeSubSection.id).get(0)}"
                            th:text="${financeSubSection.name}"
                            scope="col"
                            class="numeric"
                            th:classappend="${iteration.count} > 3 ? ' width-small'"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="applicationOrganisation : ${applicationOrganisations}">
                        <th:block th:if="${organisationFinances != null}">
                            <th scope="row">
                                <div th:text="${applicationOrganisation.name}"></div>
                                <div th:if="${applicationOrganisation.id.equals(leadOrganisation.id)}"><small>Lead organisation</small></div>
                                <div th:unless="${applicationOrganisation.id.equals(leadOrganisation.id)}"><small>Partner</small></div>
                            </th>
                            <td class="numeric bold" th:with="organisationFinance= ${organisationFinances.get(applicationOrganisation.id)}" th:if="${organisationFinances.containsKey(applicationOrganisation.id)}">
                                <span th:text="'£'+${#numbers.formatDecimal(organisationFinance.total, 0, 'COMMA', 0, 'POINT')}" />
                            </td>
                            <div th:unless="${organisationFinances.containsKey(applicationOrganisation.id)}" th:remove="tag">
                                <td class="numeric bold"><span>&pound;0</span></td>
                            </div>
                            <div th:each="financeSubSection : ${financeSectionChildren}" th:with="question=${financeSectionChildrenQuestionsMap.get(financeSubSection.id).get(0)},formInput=${financeSectionChildrenQuestionFormInputs.get(question.id).get(0)}" th:remove="tag">
                                <div th:with="organisationFinance= ${organisationFinances.get(applicationOrganisation.id)}" th:if="${organisationFinances.containsKey(applicationOrganisation.id)}" th:remove="tag">
                                    <td class="numeric"
                                        th:with="formInputType=${formInput.formInputType},category = ${organisationFinance.getFinanceOrganisationDetails(T(com.worth.ifs.finance.resource.cost.FinanceRowType).fromString(formInput.formInputTypeTitle))}"
                                        th:text="'£'+${#numbers.formatDecimal(category.total, 0, 'COMMA', 0, 'POINT')}">
                                    </td>
                                </div>
                                <div th:unless="${organisationFinances.containsKey(applicationOrganisation.id)}" th:remove="tag">
                                    <td class="numeric">&pound;0</td>
                                </div>
                            </div>
                        </th:block>
                    </tr>
                    <tr th:each="pendingOrganisationName : ${pendingOrganisationNames}">
                        <th scope="row">
                            <div th:text="${pendingOrganisationName}"></div>
                            <div><small>(pending)</small></div>
                        </th>
                        <div th:remove="tag">
                            <td class="numeric bold"><span>&pound;0</span></td>
                        </div>
                        <div th:each="financeSubSection : ${financeSectionChildren}" th:remove="tag">
                            <td class="numeric">&pound;0</td>
                        </div>
                    </tr>
                    <tr>
                        <th scope="row">Total</th>
                        <td class="numeric bold">
                            <span th:if="${financeTotal != null}" th:text="'£'+${#numbers.formatDecimal(financeTotal, 0, 'COMMA', 0, 'POINT')}" />
                        </td>
                        <div th:remove="tag" th:each="financeSubSection : ${financeSectionChildren}"
                             th:with="question=${financeSectionChildrenQuestionsMap.get(financeSubSection.id).get(0)},formInput=${financeSectionChildrenQuestionFormInputs.get(question.id).get(0)}">
                            <td class="numeric" th:each="financeTotal: ${financeTotalPerType.get(T(com.worth.ifs.finance.resource.cost.FinanceRowType).fromString(formInput.formInputTypeTitle))}"
                                th:if="${financeTotal != null}"
                                th:text="'£'+${#numbers.formatDecimal(financeTotal, 0, 'COMMA', 0, 'POINT')}" />
                        </div>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- ===========================Form: funding breakdown =========================== -->
    <div th:fragment="application_finances_summary" th:if="${financeTotalPerType}">
        <div th:include="finance/finance-summary :: application_finances_incomplete_warning" th:remove="tag" />

        <div class="form-group finance-summary" style="overflow:auto;">
            <table>
                <thead>
                <tr>
                    <th />
                    <th scope="col" class="numeric">Total costs</th>
                    <th scope="col" class="numeric width-small">% Grant</th>
                    <th scope="col" class="numeric width-small-medium">Funding sought</th>
                    <th scope="col" class="numeric width-medium">Other public sector funding</th>
                    <th scope="col" class="numeric width-small-medium">Contribution to project</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="applicationOrganisation : ${applicationOrganisations}">
                    <th scope="row">
                        <div>
                            <div th:text="${applicationOrganisation.name}" />
                            <div th:if="${applicationOrganisation.id.equals(leadOrganisation.id)}">
                                <small>Lead organisation</small>
                            </div>
                            <div th:unless="${applicationOrganisation.id.equals(leadOrganisation.id)}">
                                <small>Partner</small>
                            </div>

                            <a th:if="${!form.isAdminMode() and !currentCompetition.isOpen() and applicationOrganisation.id.equals(userOrganisation.id)}"
                               th:href='${"/application/"+currentApplication.id+"/form/section/"+financeSectionId+"/"}'>
                                Detailed Organisation Finances
                            </a>

                            <div th:remove="tag" th:if="${currentApplication.isOpen()}">
                              <img class="table-tick" th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/field/tick-icon.png')}"
                                   th:if="${completedSectionsByOrganisation.get(applicationOrganisation.id).contains(eachCollaboratorFinanceSectionId)}" alt="has marked the Finances as complete"/>
                              <img class="table-tick" th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/warning-icon.png')}"
                                   th:unless="${completedSectionsByOrganisation.get(applicationOrganisation.id).contains(eachCollaboratorFinanceSectionId)}" alt="has not yet marked the Finances as complete" />
                            </div>
                        </div>
                    </th>
                    <div th:with="organisationFinance=${organisationFinances.get(applicationOrganisation.id)}" th:if="${organisationFinances.containsKey(applicationOrganisation.id)}" th:remove="tag">
                        <td class="numeric">
                            <strong th:text="'£'+${#numbers.formatDecimal(organisationFinance.total, 0, 'COMMA', 0, 'POINT')}" />
                        </td>
                        <td class="numeric" th:text="${organisationFinance.grantClaimPercentage}+'%'"/>
                        <td class="numeric" th:text="'£'+${#numbers.formatDecimal(organisationFinance.totalFundingSought, 0, 'COMMA', 0, 'POINT')}"/>
                        <td class="numeric" th:text="'£'+${#numbers.formatDecimal(organisationFinance.totalOtherFunding, 0, 'COMMA', 0, 'POINT')}"/>
                        <td class="numeric" th:text="'£'+${#numbers.formatDecimal(organisationFinance.totalContribution, 0, 'COMMA', 0, 'POINT')}"/>
                    </div>
                    <div th:unless="${organisationFinances.containsKey(applicationOrganisation.id)}" th:remove="tag">
                        <td class="numeric">
                            <strong>&pound;0</strong>
                        </td>
                        <td class="numeric">0%</td>
                        <td class="numeric">&pound;0</td>
                        <td class="numeric">&pound;0</td>
                        <td class="numeric">&pound;0</td>
                    </div>
                </tr>
                <tr th:each="pendingOrganisationName : ${pendingOrganisationNames}">
                    <th scope="row">
                        <div>
                            <div th:text="${pendingOrganisationName}" />
                            <div>
                                <small>(pending)</small>
                            </div>

                        </div>
                    </th>
                    <div th:remove="tag">
                        <td class="numeric">
                            <strong>&pound;0</strong>
                        </td>
                        <td class="numeric">0%</td>
                        <td class="numeric">&pound;0</td>
                        <td class="numeric">&pound;0</td>
                        <td class="numeric">&pound;0</td>
                    </div>
                </tr>
                <tr>
                    <th scope="row">Total</th>
                    <td class="numeric">
                        <strong th:text="'£'+${#numbers.formatDecimal(financeTotal, 0, 'COMMA', 0, 'POINT')}" />
                    </td>
                    <td />
                    <td class="numeric" th:text="'£'+${#numbers.formatDecimal(totalFundingSought, 0, 'COMMA', 0, 'POINT')}" />
                    <td class="numeric" th:text="'£'+${#numbers.formatDecimal(totalOtherFunding, 0, 'COMMA', 0, 'POINT')}" />
                    <td class="numeric" th:text="'£'+${#numbers.formatDecimal(totalContribution, 0, 'COMMA', 0, 'POINT')}" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ===========================Form: finances incomplete =========================== -->

    <div th:fragment="application_finances_incomplete_warning">
        <div th:if="${hasFinanceSection and currentApplication.isOpen() and !sectionsMarkedAsComplete.contains(financeSectionId)}" class="warning-alert">
            <h2 class="heading-small no-margin">The following organisations have not marked their finances as complete:</h2>
            <ul class="list-bullet">
                <div th:remove="tag" th:each="applicationOrganisation : ${applicationOrganisations}">
                    <li th:unless="${completedSectionsByOrganisation.get(applicationOrganisation.id).contains(eachCollaboratorFinanceSectionId)}" th:text="${applicationOrganisation.name}" />
                </div>
            </ul>
            <div th:remove="tag" th:each="applicationOrganisation : ${applicationOrganisations}">
                <a th:if="${applicationOrganisation.id == userOrganisation.id}"
                   th:unless="${completedSectionsByOrganisation.get(applicationOrganisation.id).contains(eachCollaboratorFinanceSectionId)}"
                   th:href="@{/application/{id}/form/section/7/(id=${currentApplication.getId()})}" >Return to the finances section to complete your finances</a>
            </div>

            <p>This application cannot be submitted unless finances have been marked as complete by all partners.</p>
        </div>
    </div>

    <!-- ===========================Form: Research Participations alert messages =========================== -->
    <div th:fragment="research_participation_alert">
        <div th:unless="${researchParticipationPercentage &gt; currentCompetition.maxResearchRatio}" class="success-alert">
            <h2 class="heading-small no-margin">The participation levels of this project are within the required range.</h2>
            <p>This application can be submitted with these project costs.</p>
        </div>
        <div th:if="${researchParticipationPercentage &gt; currentCompetition.maxResearchRatio}" class="warning-alert">
            <h2 class="heading-small no-margin">The participation levels of this project are not within the required range</h2>
            <p>You will not be able to submit this application until the research participation is <span th:text="${currentCompetition.maxResearchRatio}"></span>% or less.</p>
        </div>
    </div>
</html>
