<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- ===========================Form: Your funding =========================== -->
    <th:block th:fragment="finance(model, internalView)" th:with="formInput=${model.formInput}, question=${model.question}">
        <th:block th:unless="${model.readonly}">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Are you requesting funding?
                    </legend>

                    <th:block th:insert="question-type/form-elements :: form-validation-messages (id='request-funding')" />

                    <div class="govuk-radios">
                        <div class="govuk-radios__item" data-target="request-funding">
                            <input type="radio"
                                   class="govuk-radios__input"
                                   id="request-funding-yes"
                                   name="request-funding"
                                   value="yes"
                                   th:checked="${model.organisationGrantClaimPercentage > 0}"
                                   required="required" />
                            <label for="request-funding-yes" class="govuk-label govuk-radios__label">Yes</label>
                        </div>
                        <th:block th:insert="finance/finance :: requesting_funding" />
                        <div class="govuk-radios__item">
                            <input type="radio"
                                   class="govuk-radios__input"
                                   id="request-funding-no"
                                   name="request-funding"
                                   value="no"
                                   th:checked="${model.organisationGrantClaimPercentage == 0}"
                                   required="required" />
                            <label for="request-funding-no" class="govuk-label govuk-radios__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </th:block>
        <th:block th:if="${model.readonly}">
            <dl class="govuk-list readonly-data" th:unles="${model.organisationGrantClaimPercentage == null}">
                <dt th:text="${question.name}">Your Funding level</dt>
                <dd th:text="${model.organisationGrantClaimPercentage+'%'}">50%</dd>
            </dl>
        </th:block>
    </th:block>

    <th:block th:fragment="requesting_funding">
        <div class="govuk-radios__conditional" id="request-funding">
            <div th:class="govuk-form-group" th:classappend="${model.maximumGrantClaimPercentageIsSmallerThanOrganisationGrantClaimPercentage()} ? 'govuk-form-group--error'">
                <label class="govuk-label" th:for="|formInput[cost-${model.organisationGrantClaimPercentageId}-grantClaimPercentage]|">
                    <th:block th:text="${'Select a funding level'}" />
                    <span class="govuk-hint" th:with="isBusiness=${model.currentApplicant.organisation.organisationTypeName=='Business'}">
                        <th:block th:if="${isBusiness}">
                            <th:block th:text="'The maximum you can enter is ' + ${model.maximumGrantClaimPercentage} + '%, based on your organisation size and project research category. The amount you apply for must reflect other funding received and be within the participation levels listed on the' " />
                            <a class="govuk-link" th:href="@{/application/{applicationId}/form/OVERVIEW_FINANCES(applicationId=${model.applicantSection.application.id})}"
                                th:text="${'finances overview'}" />.
                        </th:block>
                        <th:block th:unless="${isBusiness}">
                            The amount you apply for must reflect other funding received and be within the participation
                            levels listed on the
                            <a class="govuk-link" th:href="@{/application/{applicationId}/form/OVERVIEW_FINANCES(applicationId=${model.applicantSection.application.id})}"
                                th:text="${'finances overview'}" />.
                        </th:block>
                    </span>
                </label>

                <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-' + model.organisationGrantClaimPercentageId + '-grantClaimPercentage'})" />
                <th:block th:insert="question-type/form-elements :: form-validation-messages (id=${'cost-' + model.organisationGrantClaimPercentageId})" />
                <input type="number" min="0" required="required" class="govuk-input govuk-input--width-4 govuk-!-margin-right-1"
                    th:max="${model.maximumGrantClaimPercentage}" th:readonly="${model.readonly}" th:classappend="${model.maximumGrantClaimPercentageIsSmallerThanOrganisationGrantClaimPercentage()} ? 'govuk-input--error'"
                    th:id="|formInput[cost-${model.organisationGrantClaimPercentageId}-grantClaimPercentage]|" th:name="${'finance-grantclaimpercentage-' + question.id + '-' + model.organisationGrantClaimPercentageId}"
                    th:value="${model.organisationGrantClaimPercentage}" placeholder="0" th:attr="data-min-errormessage=#{validation.field.percentage.max.value.or.higher('%min%')},
                                    data-max-errormessage=#{validation.finance.grant.claim.percentage.max('%max%')}" /><span
                    class="govuk-body govuk-!-padding-left-1">&percnt;</span>
            </div>
        </div>
    </th:block>

</html>
