<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- ===========================Form: financial summary (question type) =========================== -->
    <th:block th:fragment="financial_summary" th:if="${financeTotalPerType}">
        <div class="govuk-!-margin-bottom-6 govuk-!-padding-top-2 govuk-!-padding-bottom-0"
            th:classappend="${researchParticipationPercentage &gt; currentCompetition.maxResearchRatio} ? 'eligibility warning' : 'eligibility'">
            <dl class="list-eligibility">
                <dt>Maximum research participation</dt>
                <dd th:text="${currentCompetition.maxResearchRatio}+' %'"></dd>
                <dt>Current research participation</dt>
                <dd th:class="${researchParticipationPercentage &gt; currentCompetition.maxResearchRatio} ? 'warning'" th:text="(${researchParticipationPercentage} % 1 == 0 ? ${#numbers.formatDecimal(researchParticipationPercentage,0,0)} : ${researchParticipationPercentage}) +' %'"></dd>
            </dl>

            <div th:replace="finance/finance-summary :: research_participation_alert"></div>
        </div>

        <th:block th:unless="${currentCompetition.fundingType == T(org.innovateuk.ifs.competition.publiccontent.resource.FundingType).PROCUREMENT}">
            <h2 class="govuk-heading-m">Finances summary</h2>
            <th:block th:insert="finance/finance-summary :: application_finances_summary (yourFinancesCompleteForAllOrganisations = ${model.yourFinancesCompleteForAllOrganisations})" />
        </th:block>
        <h2 class="govuk-heading-m">Project cost breakdown</h2>
        <th:block th:insert="finance/finance-summary :: financial_summary_table" />
        <p class="govuk-body">This is the level of cost detail that the assessors will see during the assessment process.</p>

    </th:block>

    <!-- ===========================Form: financial summary/breakdown table =========================== -->
    <th:block th:fragment="financial_summary_table" th:if="${financeTotalPerType}">
        <div class="project-cost-breakdown"
            th:with="hasLabour=${currentCompetition.financeRowTypes.contains(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).LABOUR)},
                     hasOverheads=${currentCompetition.financeRowTypes.contains(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).OVERHEADS)},
                     hasProcurementOverheads=${currentCompetition.financeRowTypes.contains(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).PROCUREMENT_OVERHEADS)},
                     hasVatColumn=${isVatRegistered},
                     hasMaterials=${currentCompetition.financeRowTypes.contains(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).MATERIALS)},
                     hasCapitalUsage=${currentCompetition.financeRowTypes.contains(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).CAPITAL_USAGE)},
                     hasSubcontracting=${currentCompetition.financeRowTypes.contains(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).SUBCONTRACTING_COSTS)},
                     hasTravel=${currentCompetition.financeRowTypes.contains(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).TRAVEL)},
                     hasOther=${currentCompetition.financeRowTypes.contains(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).OTHER_COSTS)}">
            <div class="table-overflow">
                <th:block th:unless="${applicationOrganisations != null}">
                    <div class="warning-alert">
                        <p class="govuk-body">Registration is now closed, you are no longer able to submit your application.</p>
                    </div>
                </th:block>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"></td>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total</th>
                        <th scope="col"
                            th:if="${hasLabour}"
                            class="govuk-table__header govuk-table__header--numeric">Labour (&pound;)</th>
                        <th scope="col"
                            th:if="${hasOverheads}"
                            class="govuk-table__header govuk-table__header--numeric">Overhead costs (&pound;)</th>
                        <th scope="col"
                            th:if="${hasProcurementOverheads}"
                            class="govuk-table__header govuk-table__header--numeric">Overhead costs (&pound;)</th>
                        <th scope="col"
                            th:if="${hasMaterials}"
                            class="govuk-table__header govuk-table__header--numeric">Materials (&pound;)</th>
                        <th scope="col"
                            th:if="${hasCapitalUsage}"
                            class="govuk-table__header govuk-table__header--numeric width-80">Capital usage (&pound;)</th>
                        <th scope="col"
                            th:if="${hasSubcontracting}"
                            class="govuk-table__header govuk-table__header--numeric width-80">Subcontracting costs (&pound;)</th>
                        <th scope="col"
                            th:if="${hasTravel}"
                            class="govuk-table__header govuk-table__header--numeric width-80">Travel and subsistence (&pound;)</th>
                        <th scope="col"
                            th:if="${hasOther}"
                            class="govuk-table__header govuk-table__header--numeric width-80">Other costs (&pound;)</th>
                        <th scope="col" th:if="${hasVatColumn}"
                            class="govuk-table__header govuk-table__header--numeric width-80">Total VAT (&pound;)</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row" th:each="applicationOrganisation : ${applicationOrganisations}">
                        <th:block th:if="${organisationFinances != null}">
                            <th class="govuk-table__header" scope="row">
                                <div th:text="${applicationOrganisation.name}"></div>
                                <div th:if="${applicationOrganisation.id.equals(leadOrganisation.id)}"><small>Lead organisation</small></div>
                                <div th:unless="${applicationOrganisation.id.equals(leadOrganisation.id)}"><small>Partner</small></div>

                                <a th:if="${showAssessorDetailedFinanceLink}"
                                   th:href="@{/{assessmentId}/detailed-finances/organisation/{organisationId}(assessmentId=${assessmentId}, organisationId=${applicationOrganisation.id})}"
                                   class="govuk-link govuk-!-font-weight-regular">
                                    View finances
                                </a>
                                <th:block th:if="${(form == null || !form.isAdminMode()) and applicationOrganisation.equals(userOrganisation)}">
                                    <a th:if="${supportUserAndSummaryPage}" th:href="@{/application/{applicationId}/form/section/{sectionId}/{organisationId}(applicationId=${currentApplication.id}, sectionId=${financeSection.id}, organisationId=${applicationOrganisation.id})}"
                                       class="govuk-link govuk-!-font-weight-regular">
                                        View finances
                                    </a>
                                    <a th:unless="${!currentApplication.submitted or (supportUserAndSummaryPage ?: false) }"
                                       th:href="@{/application/{applicationId}/form/section/{sectionId}(applicationId=${currentApplication.id}, sectionId=${financeSection.id})}"
                                       class="govuk-link govuk-!-font-weight-regular">
                                        View finances
                                    </a>
                                </th:block>

                                <th:block th:unless="${(form == null || !form.isAdminMode()) and applicationOrganisation.equals(userOrganisation)}">
                                    <a th:if="${(supportUserAndSummaryPage != null && supportUserAndSummaryPage) || (showDetailedFinanceLink != null && showDetailedFinanceLink.get(applicationOrganisation.id))}"
                                       th:href="@{~/application/{applicationId}/form/section/{sectionId}/{organisationId}(applicationId=${currentApplication.id}, sectionId=${financeSection.id}, organisationId=${applicationOrganisation.id})}"
                                       class="govuk-link govuk-!-font-weight-regular">
                                        View finances
                                    </a>
                                </th:block>
                            </th>
                            <th:block th:with="organisationFinance=${organisationFinances.get(applicationOrganisation.id)}"
                                      th:if="${organisationFinances.containsKey(applicationOrganisation.id)}">
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
                                    <span th:text="'£'+${#numbers.formatInteger(isVatRegistered ? organisationFinance.vatTotal : organisationFinance.total, 0, 'DEFAULT')}" />
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                    th:if="${hasLabour}"
                                    th:with="category = ${organisationFinance.getFinanceOrganisationDetails(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).LABOUR)}"
                                    th:text="${#numbers.formatInteger(category.total, 0, 'DEFAULT')}">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                    th:if="${hasOverheads}"
                                    th:with="category = ${organisationFinance.getFinanceOrganisationDetails(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).OVERHEADS)}"
                                    th:text="${#numbers.formatInteger(category.total, 0, 'DEFAULT')}">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                    th:if="${hasProcurementOverheads}"
                                    th:with="category = ${organisationFinance.getFinanceOrganisationDetails(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).PROCUREMENT_OVERHEADS)}"
                                    th:text="${#numbers.formatInteger(category.total, 0, 'DEFAULT')}">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                    th:if="${hasMaterials}"
                                    th:with="category = ${organisationFinance.getFinanceOrganisationDetails(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).MATERIALS)}"
                                    th:text="${#numbers.formatInteger(category.total, 0, 'DEFAULT')}">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                    th:if="${hasCapitalUsage}"
                                    th:with="category = ${organisationFinance.getFinanceOrganisationDetails(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).CAPITAL_USAGE)}"
                                    th:text="${#numbers.formatInteger(category.total, 0, 'DEFAULT')}">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                    th:if="${hasSubcontracting}"
                                    th:with="category = ${organisationFinance.getFinanceOrganisationDetails(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).SUBCONTRACTING_COSTS)}"
                                    th:text="${#numbers.formatInteger(category.total, 0, 'DEFAULT')}">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                    th:if="${hasTravel}"
                                    th:with="category = ${organisationFinance.getFinanceOrganisationDetails(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).TRAVEL)}"
                                    th:text="${#numbers.formatInteger(category.total, 0, 'DEFAULT')}">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                    th:if="${hasOther}"
                                    th:with="category = ${organisationFinance.getFinanceOrganisationDetails(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).OTHER_COSTS)}"
                                    th:text="${#numbers.formatInteger(category.total, 0, 'DEFAULT')}">
                                </td>
                                <td th:if="${hasVatColumn}" class="govuk-table__cell govuk-table__cell--numeric"
                                    th:text="${#numbers.formatInteger(vatTotal, 0, 'DEFAULT')}">
                                </td>
                            </th:block>
                            <th:block th:unless="${organisationFinances.containsKey(applicationOrganisation.id)}">
                                <td th:if="${hasLabour}"
                                    class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><span>&pound;0</span></td>
                                <td th:if="${hasLabour}"
                                    class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                <td th:if="${hasOverheads}"
                                    class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                <td th:if="${hasProcurementOverheads}"
                                    class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                <td th:if="${hasMaterials}"
                                    class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                <td th:if="${hasCapitalUsage}"
                                    class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                <td th:if="${hasSubcontracting}"
                                    class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                <td th:if="${hasTravel}"
                                    class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                <td th:if="${hasOther}"
                                    class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            </th:block>
                        </th:block>
                    </tr>
                    <tr class="govuk-table__row" th:each="pendingOrganisationName : ${pendingOrganisationNames}">
                        <th class="govuk-table__header" scope="row">
                            <div th:text="${pendingOrganisationName}"></div>
                            <div><small>(pending)</small></div>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><span>&pound;0</span></td>
                        <td th:if="${hasLabour}"
                            class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td th:if="${hasOverheads}"
                            class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td th:if="${hasProcurementOverheads}"
                            class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td th:if="${hasMaterials}"
                            class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td th:if="${hasCapitalUsage}"
                            class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td th:if="${hasSubcontracting}"
                            class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td th:if="${hasTravel}"
                            class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td th:if="${hasOther}"
                            class="govuk-table__cell govuk-table__cell--numeric">0</td>
                    </tr>
                    <tr class="govuk-table__row" th:if="${model.collaborativeProject}">
                        <th class="govuk-table__header" scope="row">Total</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
                            <span th:if="${financeTotal != null}" th:text="'£'+${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}" />
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${financeTotalPerType.get(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).LABOUR)}"
                            th:if="${hasLabour}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${financeTotalPerType.get(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).OVERHEADS)}"
                            th:if="${hasOverheads}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${financeTotalPerType.get(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).PROCUREMENT_OVERHEADS)}"
                            th:if="${hasProcurementOverheads}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${financeTotalPerType.get(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).MATERIALS)}"
                            th:if="${hasMaterials}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${financeTotalPerType.get(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).CAPITAL_USAGE)}"
                            th:if="${hasCapitalUsage}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${financeTotalPerType.get(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).SUBCONTRACTING_COSTS)}"
                            th:if="${hasSubcontracting}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${financeTotalPerType.get(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).TRAVEL)}"
                            th:if="${hasTravel}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${financeTotalPerType.get(T(org.innovateuk.ifs.finance.resource.cost.FinanceRowType).OTHER_COSTS)}"
                            th:if="${hasOther}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                        <td th:if="${hasVatColumn}" class="govuk-table__cell govuk-table__cell--numeric"
                            th:with="financeTotal = ${vatTotal}"
                            th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </th:block>

    <!-- ===========================Form: funding breakdown =========================== -->
    <th:block th:fragment="application_finances_summary"
              th:if="${financeTotalPerType}"
              th:with="collaborativeProject=${model.collaborativeProject}">
        <th:block
            th:insert="finance/finance-summary :: application_finances_incomplete_warning (collaborativeProject=${collaborativeProject})" />

        <div class="govuk-form-group finance-summary table-overflow">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"/>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total costs</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric width-80">Funding level (%)</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric width-100">Funding sought (&pound;)</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric width-150">Other public sector funding (&pound;)</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric width-100">Contribution to project (&pound;)</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row" th:each="applicationOrganisation : ${applicationOrganisations}">
                    <th class="govuk-table__header" scope="row">
                        <div>
                            <div th:text="${applicationOrganisation.name}" />
                            <div th:if="${applicationOrganisation.id.equals(leadOrganisation.id)}">
                                <small>Lead organisation</small>
                            </div>
                            <div th:unless="${applicationOrganisation.id.equals(leadOrganisation.id)}">
                                <small>Partner</small>
                            </div>

                            <th:block th:if="${currentApplication.isOpen()}">
                                <th:block th:if="${completedSectionsByOrganisation.get(applicationOrganisation.id).contains(eachCollaboratorFinanceSectionId)}">
                                    <img class="table-tick" width="20" height="17"
                                        th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/ifs-images/icons/icon-tick.png')}"
                                        alt="has marked the Finances as complete"/>
                                    <span class="govuk-visually-hidden">Complete</span>
                                </th:block>
                                <th:block th:unless="${completedSectionsByOrganisation.get(applicationOrganisation.id).contains(eachCollaboratorFinanceSectionId)}">
                                    <img class="table-tick" width="20" height="20"
                                        th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/ifs-images/icons/icon-alert.png')}"
                                        alt="has not yet marked the Finances as complete" />
                                    <span class="govuk-visually-hidden">Incomplete</span>
                                </th:block>
                            </th:block>
                        </div>
                    </th>
                    <th:block th:with="organisationFinance=${organisationFinances.get(applicationOrganisation.id)}"
                              th:if="${organisationFinances.containsKey(applicationOrganisation.id)}">
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <strong>&pound;<th:block th:text="${#numbers.formatInteger(organisationFinance.total, 0, 'DEFAULT')}" /></strong>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" th:text="${organisationFinance.grantClaimPercentage}+'%'"/>
                        <td class="govuk-table__cell govuk-table__cell--numeric" th:text="${#numbers.formatInteger(organisationFinance.totalFundingSought, 0, 'DEFAULT')}"/>
                        <td class="govuk-table__cell govuk-table__cell--numeric" th:text="${#numbers.formatInteger(organisationFinance.totalOtherFunding, 0, 'DEFAULT')}"/>
                        <td class="govuk-table__cell govuk-table__cell--numeric" th:text="${#numbers.formatInteger(organisationFinance.totalContribution, 0, 'DEFAULT')}"/>
                    </th:block>
                    <th:block th:unless="${organisationFinances.containsKey(applicationOrganisation.id)}">
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <strong>&pound;0</strong>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                    </th:block>
                </tr>
                <tr class="govuk-table__row" th:each="pendingOrganisationName : ${pendingOrganisationNames}">
                    <th class="govuk-table__header" scope="row">
                        <div>
                            <div th:text="${pendingOrganisationName}" />
                            <div>
                                <small>(pending)</small>
                            </div>

                        </div>
                    </th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong>&pound;0</strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                </tr>
                <tr class="govuk-table__row" th:if="${collaborativeProject}">
                    <th class="govuk-table__header" scope="row">Total
                        <div th:if="${currentApplication.isOpen()}">
                            <th:block th:if="${yourFinancesCompleteForAllOrganisations}">
                                <img class="table-total-tick" width="20" height="17"
                                     th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/ifs-images/icons/icon-tick.png')}"
                                     alt="has marked the Finances as complete"/>
                                <span class="govuk-visually-hidden">Complete</span>
                            </th:block>
                            <th:block th:unless="${yourFinancesCompleteForAllOrganisations}">
                                <img class="table-total-tick" width="20" height="20"
                                     th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/ifs-images/icons/icon-alert.png')}"
                                     alt="has not yet marked the Finances as complete" />
                                <span class="govuk-visually-hidden">Incomplete</span>
                            </th:block>
                        </div>
                    </th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong>&pound;<th:block th:text="${#numbers.formatInteger(financeTotal, 0, 'DEFAULT')}" /></strong>
                    </td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" th:text="${#numbers.formatInteger(totalFundingSought, 0, 'DEFAULT')}"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" th:text="${#numbers.formatInteger(totalOtherFunding, 0, 'DEFAULT')}"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" th:text="${#numbers.formatInteger(totalContribution, 0, 'DEFAULT')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    <!-- ===========================Form: finances incomplete =========================== -->

    <th:block th:fragment="application_finances_incomplete_warning (collaborativeProject)"
              th:if="${isApplicant and hasFinanceSection and currentApplication.isOpen()}"
              th:with="financeSectionMarkedAsComplete=${sectionsMarkedAsComplete.contains(financeSectionId)},
                       enoughCollaboratorsSeekingFunding=${yourFinancesCompleteForAllOrganisations}">

        <th:block th:unless="${financeSectionMarkedAsComplete}">
            <div th:if="${collaborativeProject}" class="warning-alert">
                <h2 class="govuk-heading-s govuk-!-margin-0">The following organisations have not marked their finances as complete:</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <th:block th:each="applicationOrganisation : ${applicationOrganisations}">
                        <li th:unless="${completedSectionsByOrganisation.get(applicationOrganisation.id).contains(eachCollaboratorFinanceSectionId)}" th:text="${applicationOrganisation.name}" />
                    </th:block>
                </ul>
                <th:block th:each="applicationOrganisation : ${applicationOrganisations}">
                    <p class="govuk-body"
                       th:if="${applicationOrganisation.id == userOrganisation.id}"
                       th:unless="${completedSectionsByOrganisation.get(applicationOrganisation.id).contains(eachCollaboratorFinanceSectionId)}">
                      <a th:href="@{/application/{id}/form/{sectionType}(id=${currentApplication.id},sectionType=${T(org.innovateuk.ifs.form.resource.SectionType).FINANCE})}"
                         class="govuk-body govuk-link">Return to the finances section</a> to complete your finances.</p>
                </th:block>
                <p class="govuk-body">This application cannot be submitted unless finances have been marked as complete by all partners.</p>
            </div>
            <div th:unless="${collaborativeProject}" class="warning-alert">
                <h2 class="govuk-heading-s govuk-!-margin-0">You have not marked your finances as complete.</h2>
                <p class="govuk-body">
                    <a th:href="@{/application/{id}/form/{sectionType}(id=${currentApplication.id},sectionType=${T(org.innovateuk.ifs.form.resource.SectionType).FINANCE})}"
                       class="govuk-body govuk-link">Return to the finances section</a> to complete your finances.</p>
                <p class="govuk-body">This application cannot be submitted unless finances have been marked as complete.</p>
            </div>
        </th:block>

        <div
            th:if="${!enoughCollaboratorsSeekingFunding and financeSectionMarkedAsComplete}" class="warning-alert">
            <p class="govuk-body">This competition only accepts collaborations. At least 2 partners must request funding.</p>
        </div>
    </th:block>

    <!-- ===========================Form: Research Participations alert messages =========================== -->
    <th:block th:fragment="research_participation_alert">
        <div th:if="${researchParticipationPercentage &gt; currentCompetition.maxResearchRatio}" class="warning-alert">
            <h2 class="govuk-heading-s govuk-!-margin-0">The participation levels of this project are not within the required range</h2>
            <p class="govuk-body">The research participation costs must be <span th:text="${currentCompetition.maxResearchRatio}"></span>% or less of the total project costs.</p>
        </div>
    </th:block>
</html>
