<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:ifs="http://www.w3.org/1999/xhtml">

    <!-- ===========================Your finances section view =========================== -->
    <div th:fragment="your_finances">
        <th:block th:if="${model.currentSection.type == T(org.innovateuk.ifs.application.resource.SectionType).FINANCE}">
            <div class="your-finances">
                <h2 class="heading-medium no-margin-bottom">Finances</h2>
                <p>Each partner should submit their own project finances and funding rates. The overall project costs for all partners can be seen in the 'finances overview' section.</p>

                <details class="extra-margin-bottom">
                    <summary><span class="summary">Not requesting funding</span></summary>
                    <div class="panel-indent">
                        <p>If your organisation is not funded by Innovate UK then you do not need to submit organisational or funding details. <span id="prototype-confirmation-text">Please confirm below.</span></p>
                        <button class="button" id="prototype-funding">Not requesting funding</button>
                    </div>
                </details>


                <ul class="list-overview extra-margin">
                    <th:block th:each="subSection : ${model.subSections.get(model.currentSection.id)}">
                        <div th:include="finance/your-finances-sub-sections :: finance_sub_section_row" th:remove="tag"/>
                    </th:block>
                </ul>
            </div>

            <h2 class="heading-medium">Finance summary</h2>
            <p>This is a breakdown of your project costs and sources of funding for this project.</p>
            <div th:include="finance/your-finances-sub-sections :: your_finance_summary"/>

        </th:block>
    </div>


    <!-- ===========================Your finances agree terms view =========================== -->
    <div th:fragment="agree_terms">
        <th:block th:if="${(model.application.currentCompetition.isOpen())} and ${null != model.currentSection}"
            th:with="currentSection=(${model.currentSection}), completedSections=(${model.completedSections})">
            <th:block th:if="${model.showAgreeToStateAidOption}">
                <div th:include="fragments/elements :: application-agree-to-state-aid" th:with="fieldName='form.stateAidAgreed'" class="agree-to-terms-container"  th:remove="tag" />
            </th:block>
            <th:block th:if="${model.showAgreeToTermsOption}">
                <div th:include="fragments/elements :: application-agree-to-terms" th:with="fieldName='form.termsAgreed'" class="agree-to-terms-container"  th:remove="tag" />
            </th:block>
        </th:block>
    </div>


    <!-- ===========================Subsection buttons =========================== -->
    <div th:fragment="subsection_buttons">
        <th:block th:if="${model.subFinanceSection}">
            <div>
                <button id="mark-all-as-complete" th:unless="${model.sectionsMarkedAsComplete.contains(model.currentSection.id)}" type="submit" name="mark_section_as_complete" class="button">Mark as complete</button>
                <button th:if="${model.sectionsMarkedAsComplete.contains(model.currentSection.id)}" type="submit" name="mark_section_as_incomplete" class="button"
                        th:text="${'Edit ' + #strings.toLowerCase(model.currentSection.name)}">Edit</button>
            </div>
            <div>
                <a th:href="@{/application/{id}/form/section/{sectionId}(id=${model.application.currentApplication.id}, sectionId=${model.currentSection.getParentSection()})}" class="button-secondary extra-margin">
                    Return to finances
                </a>
            </div>
        </th:block>
    </div>

    <div th:fragment="finance_sub_section_row">

        <li class="grid-row section">
            <div class="column-one">
                <th:block th:unless="${subSection.type == T(org.innovateuk.ifs.application.resource.SectionType).FUNDING_FINANCES and model.fundingSectionLocked}">
                    <h3 class="heading-small">
                        <a  th:href="@{/application/{id}/form/section/{sectionId}(id=${model.application.currentApplication.id},sectionId=${subSection.id})}"
                            th:text="${subSection.name}"></a>
                    </h3>
                </th:block>
                <th:block th:if="${subSection.type == T(org.innovateuk.ifs.application.resource.SectionType).FUNDING_FINANCES and model.fundingSectionLocked}">
                    <h3 class="heading-small" th:text="${subSection.name}"></h3>
                    <p>Before you can supply your funding information this project must be given a research area in <a th:href="@{/application/{id}/form/question/{questionId}(id=${model.application.currentApplication.id}, questionId=${model.applicationDetailsQuestionId})}">application details</a>, and your organisation size defined in the <a th:href="@{/application/{id}/form/section/{sectionId}(id=${model.application.currentApplication.id}, sectionId=${model.yourOrganisationSectionId})}">your organisation</a> section.</p>
                </th:block>
            </div>
            <th:block th:unless="${subSection.type == T(org.innovateuk.ifs.application.resource.SectionType).FUNDING_FINANCES and model.fundingSectionLocked}">
                <img class="section-status complete"
                     src="/images/field/field-done-right.png"
                     th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/field/field-done-right.png')}"
                     width="30"
                     height="30"
                     th:alt="'The &quot;'+${subSection.getName()}+'&quot; section is marked as done'"
                     th:title="'The &quot;'+${subSection.getName()}+'&quot; section is marked as done'"
                     th:if="${model.sectionsMarkedAsComplete.contains(subSection.id)}"/>
                <img class="section-status assigned"
                     src="/images/field/field-assigned-right.png"
                     th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/field/field-assigned-right.png')}"
                     width="30"
                     height="30"
                     th:alt="'The &quot;'+${subSection.getName()}+'&quot; section is assigned to you'"
                     th:title="'The &quot;'+${subSection.getName()}+'&quot; section is assigned to you'"
                     th:unless="${model.sectionsMarkedAsComplete.contains(subSection.id)}"/>
            </th:block>
        </li>
    </div>

    <div th:fragment="your_finance_summary">

        <div class="form-group" style="overflow:auto;">
            <table>
                <thead>
                <tr>
                    <th scope="col" class="numeric width-small">Total project costs</th>
                    <th scope="col" class="numeric width-small">% Grant</th>
                    <th scope="col" class="numeric width-small">Funding sought</th>
                    <th scope="col" class="numeric width-small">Other public sector funding</th>
                    <th scope="col" class="numeric width-small">Contribution to project</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <div th:if="${organisationFinance}" th:remove="tag">
                    <td class="numeric">
                        <strong th:text="'£'+${#numbers.formatDecimal(organisationFinanceTotal, 0, 'COMMA', 0, 'POINT')}" />
                    </td>
                    <td class="numeric" th:text="${organisationGrantClaimPercentage}+'%'"/>
                    <td class="numeric" th:text="'£'+${#numbers.formatDecimal(organisationTotalFundingSought, 0, 'COMMA', 0, 'POINT')}"/>
                    <td class="numeric" th:text="'£'+${#numbers.formatDecimal(organisationTotalOtherFunding, 0, 'COMMA', 0, 'POINT')}"/>
                    <td class="numeric" th:text="'£'+${#numbers.formatDecimal(organisationTotalContribution, 0, 'COMMA', 0, 'POINT')}"/>
                </div>
                <div th:unless="${organisationFinance}" th:remove="tag">
                    <td class="numeric">
                        <strong>&pound;0</strong>
                    </td>
                    <td class="numeric">0%</td>
                    <td class="numeric">&pound;0</td>
                    <td class="numeric">&pound;0</td>
                    <td class="numeric">&pound;0</td>
                </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</html>
