<div th:fragment="application-summary (assessorFeedbackDownloadLink)">
  <section th:each="section : ${sections.values()}" th:unless="${section.name.equals('Finances')}">

      <h2 th:text="${section.name}" class="heading-medium" th:unless="${section.name.equals('Project details') and !currentApplication.isOpen()}"/>

      <div th:remove="tag" th:each="question : ${sectionQuestions.get(section.id)}">
          <div class="collapsible" th:unless="${question.shortName.equals('Application details') and !currentApplication.isOpen()}">
            <h3>
                <div th:text="${question.questionNumber!=null ? question.questionNumber + '. ' : '' } + ${question.shortName}" th:remove="tag"/>
                <div th:remove="tag" th:if="${currentApplication.isOpen()}">
                    <div class="section-status section-complete" th:if="${question.isMarkAsCompletedEnabled() and markedAsComplete.contains(question.id)}">
                        Complete
                    </div>
                    <div class="section-status section-incomplete"
                         th:unless="${question.isMarkAsCompletedEnabled() and markedAsComplete.contains(question.id)}">Incomplete
                    </div>
                </div>
            </h3>
            <div class="question" th:each="formInput, status : ${questionFormInputs?.get(question?.id)}" th:if='${formInput.isIncludedInApplicationSummary()}'
                 th:with="formInputIndex=(${status.index}), readonly=true, appIsClosed=${!currentApplication.isOpen()}, response=(${responses.get(formInput.getId())}), questionAssignee=(${questionAssignees.containsKey(question.getId()) ? questionAssignees.get(question.getId()) : null})"
                 th:id="'form-input-'+${formInput.getId()}">
                <div th:replace="question-type/types :: ${formInput.formInputTypeTitle}"
                     th:unless='${formInput.getFormInputTypeTitle().equals("finance"}'/>
            </div>
        </div>
         <div th:remove="tag" th:if="${question.shortName.equals('Application details') and !currentApplication.isOpen()}">
             <div class="boxed extra-margin">
               <div th:each="formInput, status : ${questionFormInputs?.get(question?.id)}" th:if='${formInput.isIncludedInApplicationSummary()}'
                    th:with="formInputIndex=(${status.index}), readonly=true, appIsClosed=${!currentApplication.isOpen()}, response=(${responses.get(formInput.getId())}), questionAssignee=(${questionAssignees.containsKey(question.getId()) ? questionAssignees.get(question.getId()) : null})"
                    th:id="'form-input-'+${formInput.getId()}">
                   <div th:replace="question-type/types :: ${formInput.formInputTypeTitle}"
                        th:unless='${formInput.getFormInputTypeTitle().equals("finance"}'/>
               </div>
             </div>

             <div th:if="${assessorFeedback != null}" th:remove="tag">

                 <div class="upload-section" th:if="${form.adminMode and !assessorFeedback.readonly}">
                     <h3 class="heading-small no-margin">Assessor feedback</h3>
                     <p>Upload the assessor feedback page</p>

                     <div th:if="${!assessorFeedback.fileUploaded}"
                          th:action="@{/competition/{competitionId}/application/{applicationId}/assessorFeedback(competitionId=${currentApplication.competition}, applicationId=${currentApplication.id})}"
                          th:classappend="${#fields.hasErrors('assessorFeedback')} ? error : ''">

                         <div th:if="${#fields.hasErrors('assessorFeedback')}" th:remove="tag">
                             <span class="error-message" th:each="err : ${#fields.errors('assessorFeedback')}" th:text="${err}" />
                         </div>

                         <input type="file" id="assessorFeedback" name="assessorFeedback" class="inputfile"/>
                         <label for="assessorFeedback" class="button-secondary extra-margin">+ Upload</label>
                         <button th:if="${!assessorFeedback.fileUploaded}" name="uploadAssessorFeedback" class="button-secondary" type="submit" data-for-file-upload="assessorFeedback">Save</button>
                     </div>

                     <div th:if="${assessorFeedback.fileUploaded}">
                         <div>
                             <a th:href="${assessorFeedbackDownloadLink}" class="uploaded-file" th:text="${assessorFeedback.filename}">The-uploaded-file-example.pdf</a>
                         </div>
                         <div class="alignright">
                             <button class="button-secondary no-margin-right" type="submit" name="removeAssessorFeedback">Remove</button>
                         </div>
                     </div>
                     <div th:if="${!assessorFeedback.fileUploaded}">
                         <p class="uploaded-file">No file currently uploaded</p>
                     </div>
                 </div>

                 <div th:if="${assessorFeedback.fileUploaded and assessorFeedback.readonly}" th:remove="tag">
                     <div th:replace="question-type/form-elements :: readonly-file-download
                                 (filename=${assessorFeedback.filename},
                                  filesizeKbytes=${assessorFeedback.filesizeKbytes},
                                  fileDescription=${'View the application feedback:'},
                                  downloadURL=${assessorFeedbackDownloadLink})">
                     </div>
                 </div>

             </div>

             <h2 th:text="${section.name}" class="heading-medium" />
         </div>
      </div>

  </section>

  <section th:if="${hasFinanceSection}">
      <h2 class="heading-medium">Finance</h2>
      <div class="collapsible">
          <h3>Finances Summary
              <div th:remove="tag" th:if="${currentApplication.isOpen()}">
                  <div class="section-status section-complete" th:if="${sectionsMarkedAsComplete.contains(financeSectionId)}">Complete</div>
                  <div class="section-status section-incomplete" th:unless="${sectionsMarkedAsComplete.contains(financeSectionId)}">Incomplete</div>
              </div>
          </h3>
          <div class="question">
              <p>This is the overview of the finances provided by all partners in this project.</p>
              <p th:if="${currentApplication.isOpen()}">To make changes to your organisations' finances, go back to the <a th:href='${"/application/"+currentApplication.id+"/form/section/"+financeSectionId+"/"}'>your                  finances</a> section.</p>

              <div th:replace="finance/finance-summary :: application_finances_summary"></div>
              <div th:replace="finance/finance-summary :: research_participation_alert" th:if="${currentApplication.isOpen()}"></div>

              <h2 class="heading-medium">Funding breakdown</h2>
              <div th:include="finance/finance-summary :: financial_summary_table" th:remove="tag"/>

              <div th:if="${academicOrganisations != null and academicOrganisations.size() > 0}">
                  <h2 class="heading-medium">Academic partner breakdown</h2>
                  <p>Academic partners submit their project costs through the Je-S system. For a full breakdown of their project costs, please see the
                      below documents.</p>
                  <div th:include="finance/finance-summary :: academic_partner_breakdown" th:remove="tag"/>
              </div>
          </div>
      </div>
  </section>
</div>
