<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--/* id of the competition for in the page title */-->
<!--/* TODO: Why ask for competition object when all you need is id here?  Can you please ask for just two value parameters instead?  It simplifies view model: */-->
<th:block th:fragment="competition-id(competition)">
    <th:block th:insert="fragments/competition-management :: competition-id-simple(${competition.competitionId})" />
</th:block>

<!--/* TODO: Following on from previous to do, we can do it like this: */-->
<th:block th:fragment="competition-id-simple(competitionId)">
    <p class="subtitle"><th:block th:text="${competitionId}" /> : Innovate UK</p>
</th:block>

<th:block th:fragment="competition-id-and-name(competitionId, competitionName)">
    <p class="subtitle"><th:block th:text="${competitionId}"/> : <th:block th:text="${competitionName}"/></p>
</th:block>

<!--/* competition status with blue block */-->
<th:block th:fragment="competition-status(competition)">
    <th:block th:unless="${competition == 'setup'}">
      <h2 th:switch="${competition.competitionStatus.name()}" class="bold-small blue-block">
          <th:block th:case="'NOT_STARTED'">Competition not yet started</th:block>
          <th:block th:case="'OPEN'">Competition open</th:block>
          <th:block th:case="'IN_ASSESSMENT'">In assessment</th:block>
          <th:block th:case="'FUNDERS_PANEL'">Funders Panel</th:block>
          <th:block th:case="'ASSESSOR_FEEDBACK'">Assessor Feedback</th:block>
          <th:block th:case="'PROJECT_SETUP'">Project setup</th:block>
          <th:block th:case="*">test2</th:block>
      </h2>
    </th:block>
    <h2 th:if="${competition == 'setup'}" class="bold-small blue-block">Competition Setup</h2>
</th:block>


<!--/* competition management menu */-->
<th:block th:fragment="competition-mgt-menu(competitionStatus,competitionId)">

    <th:block th:switch="${competitionStatus}">

        <th:block th:case="'OPEN'">
          <th:block th:insert="fragments/competition-management :: competition-mgt-menu-open(id=${competitionId})" />
        </th:block>

        <th:block th:case="'IN_ASSESSMENT'">
          <th:block th:insert="fragments/competition-management :: competition-mgt-menu-assessment(id=${competitionId})" />
        </th:block>
        <th:block th:case="'FUNDERS_PANEL'">
        	<th:block th:insert="fragments/competition-management :: competition-mgt-menu-assessment(id=${competitionId})" />
        </th:block>
        <th:block th:case="'ASSESSOR_FEEDBACK'">
        	<th:block th:insert="fragments/competition-management :: competition-mgt-menu-assessor-feedback(id=${competitionId})" />
        </th:block>
        <!--/* future
        <div th:remove="tag" th:case="'PROJECT_SETUP'"></div>
        */-->
    </th:block>
</th:block>

<th:block th:fragment="competition-mgt-menu-assessor-feedback(id)">
  <ul class="inline-nav extra-margin">
    <li th:class="${activeTab == 'overview' ? 'selected':''}"><a th:href="${'/management/competition/' + id + '/applications?tab=overview'}">Overview</a></li>
    <li th:class="${activeTab == 'submitted' ? 'selected':''}"><a th:href="${'/management/competition/' + id + '/applications?tab=submitted'}">Applications submitted</a></li>
    <li th:class="${activeTab == 'notSubmitted' ? 'selected':''}"><a th:href="${'/management/competition/' + id + '/applications?tab=notSubmitted'}">Applications not submitted</a></li>
  </ul>
</th:block>

<th:block th:fragment="competition-mgt-menu-assessment(id)">
  <ul class="inline-nav extra-margin">
    <li th:class="${activeTab == 'submitted' ? 'selected':''}"><a th:href="${'/management/competition/' + id + '/applications?tab=submitted'}">Applications submitted</a></li>
    <li th:class="${activeTab == 'notSubmitted' ? 'selected':''}"><a th:href="${'/management/competition/' + id + '/applications?tab=notSubmitted'}">Applications not submitted</a></li>
  </ul>
</th:block>

<th:block th:fragment="competition-mgt-menu-open(id)">
  <ul class="inline-nav extra-margin">
    <li th:class="${activeTab == 'allApplications' ? 'selected':''}"><a th:href="@{/competition/{competitionId}/applications(competitionId=${id})}">All applications</a></li>
  </ul>
</th:block>

<!-- Applications table -->
<th:block th:fragment="applications-table(competition,results)">
   <table th:if="${competition.competitionStatus.name() == 'OPEN'}">
     <thead>
       <tr>
         <th scope="col">Application number</th>
         <th scope="col">Project title</th>
         <th scope="col">Lead name</th>
         <th scope="col">Lead</th>
         <th scope="col">Status</th>
         <th scope="col">Percentage complete</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="result : ${results.content}">
         <td><a th:href="${'/management/competition/' + competition.competitionId + '/application/' + result.id}" th:text="${result.id}" /></td>
         <td th:text="${result.name}"></td>
         <td th:text="${result.leadApplicant}"></td>
         <td th:text="${result.lead}"></td>
         <td th:text="${result.status}"></td>
         <td th:text="${result.completedPercentage}"></td>
       </tr>
     </tbody>
   </table>

   <th:block th:if="${competition.competitionStatus.name() == 'IN_ASSESSMENT' or competition.competitionStatus.name() == 'FUNDERS_PANEL' or competition.competitionStatus.name() == 'ASSESSOR_FEEDBACK'}">
        <table th:if="${activeTab == 'submitted'}">
           <thead>
             <tr>
               <th scope="col" id="fund-project-label">Select applications</th>
               <th scope="col">Application number</th>
               <th scope="col">Project title</th>
               <th scope="col">Lead</th>
               <th scope="col">Number of partners</th>
               <th scope="col">Grant requested (£)</th>
               <th scope="col">Total project cost (£)</th>
               <th scope="col">Duration (months)</th>
               <th scope="col" id="fund-project-label">Funding decision</th>
             </tr>
           </thead>
           <tbody>
             <tr th:each="result, index : ${results.content}" th:class="${competition.competitionStatus.name() == 'FUNDERS_PANEL' ? 'form-group' : ''}">
               <td>
                   <label th:if="${result.applicationFundingDecisionIsChangeable()}" class="block-label selection-button-checkbox" th:for="${'app-row-'+index.count}">
                       <input  data-switches-button-status="[name=fundingDecision]" type="checkbox" name="applicationIds" th:id="${'app-row-'+index.count}" th:value="${result.id}" aria-labelledby="select-applications-label">
                       <span class="invisible">Select application</span>
                   </label>
                   <th:block th:unless="${result.applicationFundingDecisionIsChangeable()}">
                       -
                   </th:block>
               </td>
               <td><a th:href="${'/management/competition/' + competition.competitionId + '/application/' + result.id} + ${originQuery}"  th:text="${result.id}"/></td>
               <td th:text="${result.name}"></td>
               <td th:text="${result.lead}"></td>
               <td th:text="${result.numberOfPartners}"></td>
               <td th:text="${result.grantRequested}"></td>
               <td th:text="${result.totalProjectCost}"></td>
               <td th:text="${result.duration}"></td>
                 <td scope="col" th:text="${result.fundingDecision?.name}"/>
             </tr>
           </tbody>
         </table>

         <table th:if="${activeTab == 'notSubmitted'}">
           <thead>
             <tr>
               <th scope="col">Application number</th>
               <th scope="col">Project title</th>
               <th scope="col">Lead</th>
               <th scope="col">Percentage complete</th>
             </tr>
           </thead>
           <tbody>
             <tr th:each="result : ${results.content}">
                 <td><a th:href="${'/management/competition/' + competition.competitionId + '/application/' + result.id}"  th:text="${result.id}"/></td>
               <td th:text="${result.name}"></td>
               <td th:text="${result.lead}"></td>
               <td th:text="${result.completedPercentage}"></td>
             </tr>
           </tbody>
         </table>
     </th:block>

</th:block>

<!-- Applications pagination -->
<th:block th:fragment="applications-pagination(results)">
	<div class="pagination" th:if="${results.hasPrevious() or results.hasNext()}">
      <button class="prev" th:if="${results.hasPrevious()}" type="submit" name="page" th:value="${results.number}">Prev</button>
      <div class="status">
        Page <span th:text="${results.number + 1}"></span> of <span th:text="${results.totalPages}"></span>
      </div>
      <button class="next" th:if="${results.hasNext()}" type="submit" name="page" th:value="${results.number + 2}">Next</button>
    </div>
</th:block>

<!-- Applications sort -->
<th:block th:fragment="applications-sort(activeTab, activeSortField)">
	<label for="sort-by">Sort by</label>
    <select id="sort-by" name="sort" class="js-auto-submit form-control" th:if="${activeTab == 'submitted'}">
        <option value="id" th:selected="${(activeSortField == 'id')}">Application no.</option>
        <option value="name" th:selected="${(activeSortField == 'name')}">Project title</option>
        <option value="lead" th:selected="${(activeSortField == 'lead')}">Lead</option>
        <option value="numberOfPartners" th:selected="${(activeSortField == 'numberOfPartners')}">Number of partners</option>
        <option value="grantRequested" th:selected="${(activeSortField == 'grantRequested')}">Grant requested</option>
        <option value="totalProjectCost" th:selected="${(activeSortField == 'totalProjectCost')}">Total project cost</option>
        <option value="duration" th:selected="${(activeSortField == 'duration')}">Duration</option>

    </select>
    <select id="sort-by" name="sort" class="js-auto-submit form-control" th:if="${activeTab == 'notSubmitted'}">
        <option value="id" th:selected="${(activeSortField == 'id')}">Application no.</option>
        <option value="name" th:selected="${(activeSortField == 'name')}">Project title</option>
        <option value="lead" th:selected="${(activeSortField == 'lead')}">Lead</option>
        <option value="percentageComplete" th:selected="${(activeSortField == 'percentageComplete')}">Percentage complete</option>
    </select>
    <button type="submit" class="button button-secondary no-margin">Sort</button>
</th:block>
</html>
