@mixin with-hourglass {
  @include govuk-font(14);
  background: url(../images/ifs-images/icons/icon-awaiting-assessment.png) no-repeat;
  width: 105px;
  text-align: center;
  line-height: 1.2em;
  float: right;
  color: $govuk-secondary-text-colour;
  margin: 0;
}

//.column-assessment-details{
//  @include grid-column( 13/16 );
//
//  @include media-down(tablet) {
//    @include grid-column( 12/16 );
//  }
//}
//
//.column-assessment-status{
//  @include grid-column( 3/16 );
//
//  @include media-down(tablet) {
//    @include grid-column( 4/16 );
//  }
//}

.app-dashboard,
.assessor-dashboard,
.assessor-comp-dashboard {
  .competition-deadline {
    margin:0;
  }

  @include govuk-media-query(tablet) {
    .my-applications {
      .in-progress {
        .govuk-grid-row {
          margin: 5px 0 0 12px;
        }
      }
    }
  }

  .boxed-list {
    &.bulk-select {
      @include media-down(mobile) {
        max-width: 92%;
      }

      max-width: 96%;
    }
  }

  .awaiting-assessment {
    @include with-hourglass;
    padding-top: 110px;
  }

  .project-in-setup {
    @include with-hourglass;
    padding-top: 46px;
    background-size: 36px 36px;
    background-position: 32px 0px;
  }

  .assessment-submit-checkbox {
    position: absolute;
    top: 35%;
    right: -34px;
  }

  .submitted {
    .boxed-list {
      > li {
        background: #e8e9eb;
      }
    }

    .application-status {
      background: #e8e9eb !important;
    }
  }

  .govuk-button {
    &[name="submit_assessments"] {
      margin: 15px 0 0 0;
    }
  }

  .modal-confirm-submit {
    .govuk-button {
      &[name="submit_assessments"] {
        margin: 0;
      }
    }
  }

  .boxed-list {
    .progress-container {
      margin: 20px 0 55px 0;
    }

    .govuk-grid-column-one-half + .govuk-grid-column-one-half {
      padding: 0 20px 0 0;
      text-align:right;
    }
  }

  @include media-down(tablet) {
    .boxed-list {
      .govuk-grid-column-one-half + .govuk-grid-column-one-half {
        text-align:left;
        padding: 15px 15px;
      }
    }
  }

  .competition-details {
    .govuk-list--bullet {
      margin-bottom: 45px;
    }
  }

  .collapsible {
    .govuk-grid-column-three-quarters {
      padding-left: 30px;
    }

    .govuk-grid-column-full {
      padding: 0 18px;
    }

    .accordion_item {
      border-top: 1px solid $govuk-border-colour;
      padding-top: 20px;

      &:first-child {
        border: none;
      }
    }

    .assessor-score {
      text-align: center;
      margin-right: 60px;
      font-weight: bold;
      float: right;

      .score {
        @include govuk-font(48);
      }
    }
  }

  .my-applications {
    .in-progress {
      li {
        .govuk-grid-row {
          margin: 0 -15px;
        }
      }
    }
  }

  .bulk-select {
    max-width: 96%;
  }
}
