.app-form {

	.labour-costs-table td {
		 	border-top:1px solid $border-colour;
			border-bottom:none;
	}
	.labour-costs-table tr:last-child td,
	.labour-costs-table tr:nth-last-child(2) td.rowspan {
		border-bottom:1px solid $border-colour;
	}
	.labour-costs-table th.rowspan,
	.labour-costs-table td.rowspan {
			padding:0;
			text-align:center;
	}
	.labour-costs-table th.colspan,
	.labour-costs-table td.colspan {
			border-top:none;
	}
	.labour-costs-table .control {
		 padding:0;
	 }
	.form-label-bold {
		font-size:24px;
	}
	//for the # links
	// .form-group {
	//     margin-top: 30px;
	//     margin-bottom:0;
	// }
	.last-update strong {
		font-weight:300;
	}

	.button{
		&.button-block{
			display: block;
			width: 100%;
			text-align: center;
			padding: 15px;
		}
	}
	// .js-enabled &{
	// 	input[name="submit-section"]{
	// 		display: none;
	// 	}
	// }
	.form-row .form-label {
			width:50%;
		}

}

.form-row {
	border-bottom:1px solid $border-colour;
	padding:20px 0;
	overflow: hidden;
	&:first-child { border-top:1px solid $border-colour; }
	+ .alignright {
		margin-top:10px;
	}

}

.question {
	clear:both;
}

//finances
.total-cost{
		padding:15px 0;
		border-top:1px solid $border-colour;
		margin:25px 0 0;

		.column-half {
			padding:0;
		}
		.heading-medium {
			margin-top:0;
		}
		label {
			display: block;
		}
		input[readonly]{
			border:none;
			background:#fff;
			@include box-sizing(border-box);
			padding-right:45px;
		}
}
table th > div {
	position: relative;
}
table img.table-tick {
  position:absolute;
  right:-1.25em;
  top:50%;margin-top:-8px;
}

/* acadmic finances */

.academic .form-group.error {
		padding-left:0;
}
.academic .form-label-bold {
	font-size:19px;
}
.academic .totals {
		background: #dee0e2;
    border: 1px solid $grey-2;
		padding:10px 0;
}
#other-costs-table textarea{
	min-height: 80px;
}
#other-costs-table textarea,
#other-costs-table input {
	width:100%;
	resize:vertical;
}
#other-costs-table td {
	vertical-align:top;
	&:first-child {
		min-width:60%;
	}
}
