.print-bar  {
  position: fixed;
  bottom:0;
  width:100%;
  text-align: center;
  z-index: 999;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  border-top:1px solid $grey-2;
  padding:15px 0;

  button {
    margin:0;
  }
}

.no-js {
  .print-bar {
    background-color: #fff;

    button {
      display:none;
    }

    .hidden {
      display:block;
      visibility: visible;
      text-align:center;
    }
  }
}

.print-doc {
  background: #dee0e2;
  margin: 0;
  line-height: 1.5;

  section {
    @include box-shadow("0 2px 2px 0 rgba(0,0,0,0.1), 0 3px 1px -2px rgba(0,0,0,0.1), 0 1px 5px 0 rgba(0,0,0,0.1)");
    background: #fff;
    width: 19cm;
    min-height: 26.7cm;
    display: block;
    margin: 0.5cm auto;
    box-sizing:border-box;
    padding:1.5cm;
    position: relative;
    overflow: hidden;
  }

  .textarea-wrapped {
    .readonly {
      margin-top:10px;
      min-height: 1em;
      resize:none;
      background-color: #fff;
      width:99%;
    }
  }

  table {
    th,
    small{
      font-size: 14px;
    }

    td {
      font-size:16px;
    }
  }

  .form-group {
    float:none;
  }

  //for preview
  .landscape {
    width: 29.7cm;
    min-height: 21cm;

    h1,
    h2 {
      margin-top:0;
    }
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
    font-size:12pt;
  }

  .print-doc {
    section {
      margin: 0;
      padding: 0;
      font-size:12pt;
      width: auto;
      min-height: auto;
      height: auto;
      box-shadow: none;

      + section {
        page-break-before: always;
      }
    }

    .landscape {
      width: auto;
      height: auto;
      box-shadow: none;
      min-height: 24cm;
      overflow: visible;
      margin:0;
      padding:0;

      > div {
        @include transform(translateY(-50%) rotate(-90deg));
        page-break-inside:avoid;
        width:23cm;
        position: absolute;
        top:50%;
        right:5%;

        table {
          th,
          small{
            font-size: 9pt;
          }

          td {
            font-size:10pt;
          }
        }

        @include ie-lte(8) {
          left:auto;
          top:auto;
          width:19cm;

          table {
            max-width:17cm;

            td,
            th {
              font-size:9pt;
              padding:2px;
            }

            small {
              font-size:9pt;
            }
          }
        }
      }
    }

    .form-group {
      page-break-inside : avoid;
    }
  }

  .heading-large {
    font-size:19pt;
  }

  .print-bar,
  #global-header,
  #skiplink-container {
    display:none;
  }

  @page {
    size: A4;
    margin:1.5cm;
  }
}
