.app-summary {

  div {
    &.alignright-button {
      padding-top: 30px;
    }
  }

  a {
    &.back {
      @include govuk-font(16);
      display: block;
      margin-top: 1em;
    }
  }

  .question {
    overflow: hidden;
    margin: 20px 0;
  }

  .incomplete-edi-status {
    @extend %action-required;
    @include govuk-font(19);
    background-position: left center;
    font-weight: normal;
    padding-left: 20px;
    vertical-align: middle;
  }

  .complete-edi-status {
    @extend %icon-tick;
    @include govuk-font(19);
    background-position: left center;
    background-size: 14px;
    color: $govuk-button-colour;
    font-weight: normal;
    padding-left: 20px;
    vertical-align: middle;
  }
}

.no-js {
  .app-summary {
    .agree-to-terms-container {
      display: none;
    }
  }
}

.app-summary {
  &.is-closed {

    [readonly],
    .readonly {
      border:none;
      padding:0;
      background:transparent;
      min-height: 0;
      resize:none;
      overflow:visible;

      p {
        &:last-child {
          margin-bottom:0;
        }
      }
    }

    .textarea-footer {
      display: none;
      min-height: 0;
      resize: none;
    }
  }
}
