.form-row {
  @include govuk-clearfix;
  border-bottom: 1px solid $govuk-border-colour;
  padding: 20px 0;

  &:first-child {
    border-top: 1px solid $govuk-border-colour;
  }

  + .alignright {
    margin-top: 10px;
  }

}

.question {
  clear: both;
}

//finances
.total-cost {
  padding: 15px 0;
  margin: 25px 0 0;

  .govuk-grid-column-one-half {
    padding:0;
  }

  .govuk-heading-m {
    margin-top:0;
  }

  label {
    display: block;
  }

  input {
    &[readonly] {
      @include box-sizing(border-box);
      border:none;
      background:#fff;
      padding-right:15px;
      width: 100%;
    }
  }
}

table {
  th {
    > div {
      position: relative;
      padding-right: 20px;
    }
  }

  img {
    &.table-tick,
    &.table-total-tick{
      position: absolute;
      right: 0;
      top: 50%;
    }

    &.table-tick {
      margin-top: -8px;
    }

    &.table-total-tick {
      margin-top: -22px;
    }
  }
}

.section-total-summary {
  clear: both;
  margin-right: 30px;

  span {
    margin-left: 10px;
  }
}

/* academic finances */

.academic {
  .form-group {
    &.form-group-error {
      padding-left: 0;
    }
  }

  .totals {
    background: #dee0e2;
    border: 1px solid govuk-colour("mid-grey");
    padding: 10px 0;
  }
}

#other-costs-table {
  textarea {
    min-height: 80px;
    width: 100%;
    resize: vertical;
  }

  input {
    width: 100%;
    resize: vertical;
  }

  td {
    vertical-align: top;

    &:first-child {
      min-width: 60%;
    }
  }
}

.your-finances {
  margin-bottom: 30px;
}

.finance-total {
  @extend .govuk-accordion__section-button;
}

.govuk-accordion {
  .finance-total {
    text-align: right;
    float: right;
    padding-left: 20px;
  }
}


