tfoot {
  &.bank-export {
    td {
      border:none;
      padding:none;

      &:nth-child(2) {
        border-left: 1px solid $border-colour;
        border-right: 1px solid $border-colour;
        padding:5px;
      }
    }
  }
}
