.form-search {
  position: relative;
  margin: 2.5em 15px 1.25em;

  input {
    &.search-query {
      @include govuk-font(19);
      padding-right:35px;
      height: 35px;
      box-sizing: border-box;
      width: 100%;
      font-weight: 200;
    }

    &[type='submit'] {
      @include border-radius(0);
      position: absolute;
      z-index: 4;
      right: 0px;
      top: 0;
      width: 35px;
      height: 35px;
      border:none;
      border-left: 1px solid govuk-colour("mid-grey");
      overflow: hidden;
      text-indent: -5000px;
      color: #fff;
      background: govuk-colour("blue") url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABGCAMAAAD4pkrrAAAAM1BMVEX///////////////////////////////////////////////////////////8AAAD///8VtYL2AAAAEHRSTlMgsFDgkKAwcGCAwEDw0BAAV51l0wAAAYhJREFUeF7t192OhCAMBeBRlJ9S8Lz/027A7DTjkrSZhL3iXBmjflKbBl/Xf2VJn1nSkpa0pCUtaUn+KGgpZ54qZYLE7fOkA5/Z6hypEnroSIm4U6VOkTrEod5udDc1QTqe9UqNIquUczbauUHnhx0bFS1STdwrsFtrdz70AIANUi1AIWLg0CEPgOuIj7pU4HIDExBMDR6GJd1UKbzfMbYjJQXA4CIHQJWKrJv0RQGg8VLhNQmQJsKmSuOvGQBkVSIpN8ggpYGUTZL05/61FC2Sk0tOpC+/U7JI6T20MvAy9B6PT+u9VxnUqcwol5ZzOHheAIoqXZ7BZ0pFBpoy9tzQD4rUVUILH2yg3KAndhlR2iz3IaW9Xt5A7X8Ht+euq9LznqhQGx6l2huEapSEUstXS6Mo/z7oRE+pVknO2yi4I+SYOiuUXbJvWSRCmSV7IkPCqRahrJLd2nCntE2SUFP25bnldoWaIUnGlEhzKJorCcV+piSUQHMkoegJrb/PJS1pSUta0pJ+AIynqm4LtSuyAAAAAElFTkSuQmCC) no-repeat 0 50%;
      cursor: pointer;
    }
  }
}
