#table-project-status {
  th {
    &[scope="row"] {
      font-weight:normal;
    }
  }

  tbody {
    th {
      @include media-down(tablet) {
        min-width: auto;

        .govuk-grid-column-one-half {
          width: 100%;
          text-align: left;
        }
      }

      min-width: 450px;
      word-break: normal;
    }

    td {
      word-break: normal;
    }
  }
}

#table-mo-spend-profile {
  tbody {
    tr {
      td {
        position: relative;

        .status {
          @include media-down(mobile) {
            width: 50%;
          }

          float: right;
          vertical-align: middle;
          text-align: center;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 0;

          >:nth-child(2),
          >:only-child{
            padding-right: 0;
          }
        }

        .task-status {
          @include media-down(mobile) {
            position: static;
            margin: 10px 0;
            text-align: right;
          }

          position: absolute;
          bottom: 50%;
          right: 10px;
          margin-bottom: -10px;

          span {
            @include govuk-font(16);
            padding-left: 20px;
            text-align: right;
          }
        }

        .task-status-complete {
          @extend .task-status;
          right: 0;

          span {
            @extend %icon-tick;
            @include govuk-font(16);
            background-size: 14px;
            color: $govuk-button-colour;
            font-weight: bold;
          }
        }

        .task-status-rejected {
          @extend .task-status;
          right: 0;

          span {
            @extend %icon-cross-action;
            @include govuk-font(16);
            color: $govuk-error-colour;
            font-weight: bold;
          }
        }

        .task-status-incomplete {
          @extend .task-status;
          right: 0;

          span {
            @extend %action-required;
            @include govuk-font(16);
            font-weight: bold;
          }
        }

        .task-status-incomplete-no-action {
          @extend .task-status;
          right: 0;

          span {
            color: $govuk-text-colour;
            font-weight: bold;
          }
        }

        .task-status-info {
          @extend .task-status;
          right: 0;

          span {
            color: $govuk-secondary-text-colour;
            font-weight: bold;
          }
        }

        .notification {
          @include govuk-font(16);
          @include media-down(mobile) {
            display: block;
            width: 100%;
            margin-top: 10px;
            padding-left: 0;
          }

          display: inline-block;
          width: 30%;
          padding-left: 20px;
          margin-bottom: 0;
          margin-top: 5px;

          .assign-team {
            margin-top: 0;
            margin-bottom: 10px;

            .no-js & {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}


