<?xml version='1.0' encoding='utf-8'?>
<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />

  <Service name="Catalina">
    <Connector
           protocol="org.apache.coyote.http11.Http11AprProtocol"
           port="8009"
           proxyName="idp"
           proxyPort="443"
           redirectPort="8443"
           scheme="https" secure="true" SSLEnabled="true"
           SSLCertificateFile="/etc/tomcat8/certs/server.crt"
           SSLCertificateKeyFile="/etc/tomcat8/certs/server.key"
           SSLVerifyClient="optionalNoCA" SSLProtocol="all"
    />

    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">
      </Host>
    </Engine>
  </Service>
</Server>
