<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Finance Checks'" />
</head>
<body th:with="context='project'" class="project spend-profile">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />

    <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Project setup status',linkClass='link-back',linkUrl=@{/project/{id}(id=${model.projectId})}"  th:remove="tag"></div>


    <div class="page-title">
        <th:block th:insert="fragments/elements :: project-title (projectId=${model.projectId}, projectName=${model.projectName})"/>
        <h1 class="heading-xlarge">Changes to finances</h1>
    </div>

    <hr />

    <th:block th:fragment="summary" th:with="summaryModel=${model.financeCheckEligibility}">
        <h2 class="heading-medium">Application finances</h2>
        <div class="table-overflow">
            <table class="table-overview">
                <thead>
                <tr>
                    <th scope="col">Total costs</th>
                    <th scope="col" class="numeric">% Grant</th>
                    <th scope="col" class="numeric">Funding sought</th>
                    <th scope="col" class="numeric">Other public sector funding</th>
                    <th scope="col" class="numeric">Contribution to project</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="numeric">&pound; <th:block th:text="${#numbers.formatInteger(summaryModel.totalCost,1,'COMMA')}" /></td>
                    <td class="numeric" th:text="${#numbers.formatInteger(summaryModel.percentageGrant,1,'NONE')+'%'}" />
                    <td class="numeric">&pound; <th:block th:text="${#numbers.formatInteger(summaryModel.fundingSought,1,'COMMA')}" /></td>
                    <td class="numeric">&pound; <th:block th:text="${#numbers.formatInteger(summaryModel.otherPublicSectorFunding,1,'COMMA')}" /></td>
                    <td class="numeric">&pound; <th:block th:text="${#numbers.formatInteger(summaryModel.contributionToProject,1,'COMMA')}" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>

    <th:block th:fragment="section_changes" th:with="sectionDiffs=${model.sectionDifferences}">
        <h2 class="heading-medium">Section changes</h2>
        <div class="table-overflow">
            <table class="table-overview">
                <thead>
                <tr>
                    <th:block th:each="rowType : ${sectionDiffs.keySet()}">
                        <th th:unless="${#strings.isEmpty(rowType.name)}" scope="col" class="numeric" th:text="${rowType.name}"></th>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th:block th:each="rowType : ${sectionDiffs.keySet()}">
                        <td th:unless="${#strings.isEmpty(rowType.name)}" class="numeric">&pound; <th:block th:text="${#numbers.formatInteger(sectionDiffs.get(rowType),1,'COMMA')}" /></td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>

    <th:block th:fragment="row_changes">
        <h2 class="heading-medium">Changes from submitted finances</h2>
        <div class="table-overflow">
            <table class="project-changes">
                <thead>
                <tr>
                    <th scope="col" style="width: 15%">Action</th>
                    <th scope="col" style="width: 15%">Section</th>
                    <th scope="col" style="width: 15%">Detail</th>
                    <th scope="col" style="width: 20%">Submitted</th>
                    <th scope="col" style="width: 20%">Updated</th>
                    <th scope="col" style="width: 15%" class="numeric">Cost</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Overall</th>
                    <th colspan="5" class="numeric">-&pound;60,045</th>
                </tr>
                </tfoot>
                <tbody>

                <th:block th:each="rowType : ${changes.keySet()}">
                    <th:block th:each="changePair : ${changes.get(rowType)}" th:with="typeOfChange=${changePair.typeName},rowTypeName=${rowType.name}">
                        <th:block th:fragment="">
                        <tr>
                            <td rowspan="4" th:text="${typeOfChange}">Change</td>
                            <td rowspan="4" th:text="${rowTypeName}">Labour</td>

                            <th scope="row">Role</th>
                            <td th:text="${changePair.submitted.role}">Programmer</td>
                            <td colspan="2" th:text="${changePair.changed.role}">Programmer</td>
                        </tr>

                        <tr>
                            <th scope="row">Gross annual salary</th>
                            <td th:text="${changePair.submitted.grossAnnualSalary}">&pound;25,000</td>
                            <td th:text="${changePair.changed.grossAnnualSalary}" colspan="2">&pound;25,000</td>
                        </tr>
                        <tr>
                            <th scope="row">Rate</th>
                            <td th:text="${changePair.submitted.rate}">24</td>
                            <td th:text="${changePair.changed.rate}" colspan="2">24</td>
                        </tr>
                        <tr class="item-changed">
                            <th scope="row">Days to be spent</th>
                            <td th:text="${changePair.submitted.labourDays}">258</td>
                            <td th:text="${changePair.changed.labourDays}" colspan="2" class="item-changed">189</td>
                        </tr>
                        <!--<tr class="change-row">-->
                            <!--<td colspan="6" class="numeric">-->
                                <!-- -&pound;50,000-->
                            <!--</td>-->
                        <!--</tr>-->
                        </th:block>
                    </th:block>
                </th:block>

                <tr class="item-changed">
                    <td>Change</td>
                    <td>Admin support costs</td>
                    <th scope="row">Percentage of labour costs</th>
                    <td>35%</td>
                    <td class="item-changed" colspan="2">20%</td>
                </tr>
                <tr class="change-row">
                    <td colspan="6" class="numeric">
                        -&pound;3,000
                    </td>
                </tr>

                <tr>
                    <td rowspan="4">Change</td>
                    <td rowspan="4">Materials</td>
                    <th scope="row">Item</th>
                    <td>Office chair</td>
                    <td colspan="2">Office chair</td>
                </tr>
                <tr class="item-changed">
                    <th scope="row">Quantity</th>
                    <td>18</td>
                    <td colspan="2">17</td>
                </tr>
                <tr>
                    <th scope="row">Cost per item</th>
                    <td>&pound;45</td>
                    <td colspan="2">&pound;45</td>
                </tr>
                <tr>
                    <th scope="row">Total</th>
                    <td>&pound;810</td>
                    <td colspan="2">&pound;765</td>
                </tr>
                <tr class="change-row">
                    <td colspan="6" class="numeric">
                        -&pound;345
                    </td>
                </tr>

                <tr>
                    <td rowspan="7">Remove</td>
                    <td rowspan="7">Capital usage</td>
                    <th scope="row">Item description</th>
                    <td>Description of capital usage</td>
                    <td colspan="2">Removed</td>
                </tr>
                <tr>
                    <th scope="row">New or existing</th>
                    <td>New</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row">Depreciation period</th>
                    <td>12 months</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row">Net present value</th>
                    <td>&pound;4,500</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row">Residual value</th>
                    <td>&pound;0</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row">Utilisation</th>
                    <td>100%</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row">Net cost</th>
                    <td>&pound;4,500</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr class="change-row">
                    <td colspan="6" class="numeric">
                        -&pound;4,000
                    </td>
                </tr>

                <tr>
                    <td rowspan="4">Change</td>
                    <td rowspan="4">Subcontracting costs</td>
                    <th scope="row">Suncontractor name</th>
                    <td>Paul Davidson</td>
                    <td colspan="2">Paul Davidson</td>
                </tr>
                <tr>
                    <th scope="row">Country</th>
                    <td>United Kingdom</td>
                    <td colspan="2">United Kingdom</td>
                </tr>
                <tr class="item-changed">
                    <th scope="row">Role</th>
                    <td>Overall design of the website for the product</td>
                    <td colspan="2">Supporting design of the website for the product</td>
                </tr>
                <tr class="change-row item-changed">
                    <th scope="row">Cost</th>
                    <td>&pound;4,000</td>
                    <td colspan="2">&pound;2,000</td>
                </tr>
                <tr class="change-row">
                    <td colspan="6" class="numeric">
                        -&pound;2,000
                    </td>
                </tr>


                <tr>
                    <td rowspan="4">Change</td>
                    <td rowspan="4">Travel and subsistance</td>
                    <th scope="row">Purpose of journey</th>
                    <td>Commute to Glasgow</td>
                    <td colspan="2">Commute to Glasgow</td>
                </tr>
                <tr class="item-changed">
                    <th scope="row">Number of times</th>
                    <td>50</td>
                    <td colspan="2">0</td>
                </tr>
                <tr>
                    <th scope="row">Cost each</th>
                    <td>&pound;10</td>
                    <td colspan="2">&pound;0</td>
                </tr>
                <tr>
                    <th scope="row">Total</th>
                    <td>&pound;500</td>
                    <td colspan="2">&pound;0</td>
                </tr>
                <tr class="change-row">
                    <td colspan="6" class="numeric">
                        -&pound;500
                    </td>
                </tr>

                <tr>
                    <td rowspan="2">New</td>
                    <td rowspan="2">Other costs</td>
                    <th scope="row">Description and justification of cost</th>
                    <td>New</td>
                    <td colspan="2">An additional cost that could not be added to the other sections.</td>
                </tr>
                <tr class="item-changed">
                    <th scope="row">Total</th>
                    <td>-</td>
                    <td colspan="2">&pound;3,700</td>
                </tr>
                <tr class="change-row">
                    <td colspan="6" class="numeric">
                        &pound;3,700
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </th:block>

    <hr/>

    <a class="button button-secondary" th:href="@{/project/{projectId}/partner-organisation/{orgId}/finance-checks/eligibility(projectId=${model.projectId},orgId=${model.organisationId})}">Return to eligibility</a>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
