<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Queries'" th:remove="tag" />
</head>

<body th:with="context='project-management'" class="query-form">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Finance checks',linkClass='link-back',linkUrl=@{/project/{projectId}/finance-check(projectId=${model.projectId})},currentCompetition=null"  />

    <div class="page-title">
        <div th:include="fragments/elements :: project-title (projectId=${model.projectId}, projectName=${model.projectName})" th:remove="tag" />
        <h1 class="heading-xlarge">
            <th:block th:text="${model.organisationName}" />
            <small th:if="${model.leadPartnerOrganisation}">(Lead Partner)</small>
        </h1>
    </div>

    <h2 class="heading-medium">Finance Contact</h2>
    <p>
        <th:block th:text="${model.financeContactName}">Finance Contact</th:block> <br />
        <a th:href="${'mailto:'+model.financeContactEmail}" th:text="${model.financeContactEmail}">example@example.com</a> <br />
        <th:block th:text="${model.financeContactPhoneNumber}">0</th:block>
    </p>

    <h2 class="heading-medium">Queries</h2>
    <p>
        If you have a query with the finances, use this section to raise your query with the finance contact.
        You must confirm any finance changes with the contact before you approve.
    </p>
    <div class="grid-row extra-margin-top">
        <div class="column-half">
            <a id="post-new-query" th:href="@{/${model.baseUrl}/new-query(projectId=${model.projectId},organisationId=${model.organisationId},query_section=${model.querySection})}" class="button button-large">Post a new query</a>
        </div>
    </div>

    <th:block th:each="query : ${model.getQueries()}">
        <hr />
        <h2 class="heading-medium non-margin-bottom" th:text="${query.title}">Query Thread Title</h2>
        <h3 class="heading-small no-margin" th:text="${query.sectionType}">Query Thread Section</h3>
        <th:block th:each="(post, iteration : ${query.viewModelPosts})">
            <th:block th:if="${iteration.index == 0}">
                <p class="heading-small no-margin">
                    <th:block th:text="${post.username}">Created by user</th:block>
                    <small th:text="${#temporals.format(post.createdOn, 'dd/MM/yyyy HH:mm')}">Date and Time</small>
                </p>
                <p th:text="${post.postBody}"></p>
                <legend th:if="${post.viewModelAttachments.size() > 0}" class="heading-small">Supporting documentation</legend>
                <th:block th:each="attachment : ${post.viewModelAttachments}">
                    <a th:href="@{/${model.baseUrl}/attachment/{attachmentId}(projectId=${model.projectId},organisationId=${model.organisationId},attachmentId=${attachment.localFileId})}" th:text="${attachment.filename}">file</a>
                </th:block>
            </th:block>
            <th:block th:unless="${iteration.index == 0}">
                <div class="panel">
                    <p>
                        <strong th:text="${post.username}">Created by user</strong>
                        <small th:text="${#temporals.format(post.createdOn, 'dd/MM/yyyy HH:mm')}">Date and Time</small>
                    </p>
                    <p th:text="${post.postBody}"></p>
                    <h3 th:if="${post.viewModelAttachments.size() > 0}" class="heading-small">Supporting documentation</h3>
                    <th:block th:each="attachment : ${post.viewModelAttachments}">
                        <a th:href="@{/${model.baseUrl}/attachment/{attachmentId}(projectId=${model.projectId},organisationId=${model.organisationId},attachmentId=${attachment.localFileId})}" th:text="${attachment.filename}">file</a>
                    </th:block>
                </div>
            </th:block>
        </th:block>
        <hr />
        <th:block th:if="${!query.awaitingResponse}">
            <div class="grid-row extra-margin-top">
                <div class="column-half"><a id="post-new-response" th:href="@{/${model.baseUrl}/{queryId}/new-response(projectId=${model.projectId},organisationId=${model.organisationId},query_section=${model.querySection},queryId=${query.id})}" class="button button-secondary">Respond</a><br />
                </div>
            </div>
        </th:block>
    </th:block>

    <th:block th:include="fragments/layout :: main-content-end" />
</main>
<th:block th:include="fragments/layout :: footer" />
<th:block th:include="fragments/layout :: body-end" />
</body>
</html>
