apiVersion: apps/v1
kind: Deployment
metadata:
  name: sil-stub
spec:
  template:
    spec:
      containers:
        - name: sil-stub
          livenessProbe:
            httpGet:
              path: /monitoring/health
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 31
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /monitoring/health
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 1
          resources:
            limits:
              cpu: 750m
            requests:
              cpu: 100m
              memory: 750M