<h1 class="heading-xlarge">Progress list - Set up your project dashboard</h1>

<section class="projects-in-setup">
    <div class="progress-list">
        <h2 class="heading-medium">Set up your project</h2>
        <ul>
            <li>
                <div class="task">
                    <h3 class="heading-small">
                        <a href="#">Mobile Phone Data for Logisitics Analytics</a>
                    </h3>
                    <ul class="application-details">
                        <li>Project number: 11</li>
                        <li>Competition: Connected digital additive manufacturing</li>
                    </ul>
                </div>
                <div class="status">
                    <span class="status-msg msg-progress">Project in setup</span>
                </div>
            </li>
            <li>
                <div class="task">
                    <h3 class="heading-small">
                        <a href="#">Magic material</a>
                    </h3>
                    <ul class="application-details">
                        <li>Project number: 112</li>
                        <li>Competition: New designs for a circular economy</li>
                    </ul>
                </div>
                <div class="status">
                    <span class="status-msg msg-progress">Project in setup</span>
                </div>
            </li>
        </ul>
    </div>
</section>
