<h1 class="heading-xlarge">Progress list - Set up your project</h1>

<section class="projects-in-setup">
    <div class="progress-list">
        <h2 class="heading-medium">Set up your project</h2>
        <ul>
            <li class="negative">
                <div class="task">
                    <h3 class="heading-small">
                        <a href="#">3D-printed buildingss</a>
                    </h3>
                    <ul class="application-details">
                        <li>Project number: 23</li>
                        <li>Competition: Sustainable living models for the future</li>
                    </ul>
                </div>
                <div class="status">
                    <span class="status-msg msg-progress not-submitted">Not submitted</span>
                </div>
            </li>
            <li class="negative">
                <div class="task">
                    <h3 class="heading-small">
                        <a href="#">Informed ineligible application</a>
                    </h3>
                    <ul class="application-details">
                        <li>Project number: 63</li>
                        <li>Competition: Sustainable living models for the future</li>
                    </ul>
                </div>
                <div class="status">
                    <span class="status-msg msg-progress">Ineligible</span>
                </div>
            </li>
            <li class="positive">
                <div class="task">
                    <h3 class="heading-small">
                        <a href="#">Magic material</a>
                    </h3>
                    <ul class="application-details">
                        <li>Project number: 112</li>
                        <li>Competition: New designs for a circular economy</li>
                    </ul>
                </div>
                <div class="status">
                    <span class="status-msg msg-progress">Successful</span>
                </div>
            </li>
        </ul>
    </div>
</section>
