<h1 class="heading-xlarge">Progress list - Assessor dashboard</h1>

<div class="invite-to-assess">
  <div class="progress-list">
    <h2 class="heading-medium">Invitations to assess (1)</h2>
    <ul>
      <li class="status-2-col">
        <div class="task">
          <h3 class="heading-small"><a href="#">Photonics for health</a></h3>
          <p class="no-margin">You have been asked to assess this competition. Please respond.</p>
        </div>
        <div class="assessment-period">
          <h3 class="heading-small no-margin">Assessment period</h3>
          <dl class="standard-definition-list reduced-width">
            <dt>Begins</dt>
            <dd>12 June 2018</dd>
            <dt>Ends</dt>
            <dd>28 January 2019</dd>
          </dl>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="my-applications">
  <div class="progress-list">
    <h2 class="heading-medium no-margin-top">Competitions for assessment (1)</h2>
    <ul>
      <li>
        <div class="task">
          <h3 class="heading-small"><a href="#">Sustainable living models for the future</a></h3>
          <div class="action-required">
            <strong>
              <span class="pending-applications">3</span> applications awaiting acceptance |
              <span class="accepted-applications">3</span> applications to assess
            </strong>
          </div>
        </div>
        <div class="status">
          <div class="status-msg msg-deadline">
            <strong class="bold-medium days-remaining">10</strong><br />
            days left<br />
            Deadline <span class="day">28</span>
            <span class="month">June</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
