hibernate:
    dialect:
        storage_engine: innodb
idp:
    rest:
        baseURL: http://registration-svc:8080
        createuser: /user
        key: 1234567890
        updateuser: /user
        user: /identities/
ifs:
    companies:
        house:
            enabled: false
    data:
        companies:
            house:
                key: mock-key
                lookup:
                    enabled: false
                url: https://api.companieshouse.gov.uk/
        postcode:
            lookup:
                key: ''
        postcode-lookup:
            country: uk
            format: json
            level: address
            lines: 3
            url: http://ws.postcoder.com/pcw
            validation: /codepoint/validatepostcode
        service:
            file:
                storage:
                    applicationfinance:
                        max:
                            filesize:
                                bytes: 10485760
                        valid:
                            media:
                                types: application/pdf
                    assessorfeedback:
                        valid:
                            media:
                                types: application/pdf
                    base: /tmp
                    competition:
                        terms:
                            max:
                                filesize:
                                    bytes: 10485760
                            valid:
                                media:
                                    types: application/pdf
                    containing:
                        folder: ifs
                    create: true
                    eu:
                        grant:
                            transfer:
                                agreement:
                                    max:
                                        filesize:
                                            bytes: 36700160
                                    valid:
                                        media:
                                            types: application/pdf
                    form:
                        input:
                            template:
                                max:
                                    filesize:
                                        bytes: 10485760
                                valid:
                                    media:
                                        types: application/vnd.oasis.opendocument.spreadsheet,
                                            application/vnd.oasis.opendocument.text
                    forminputresponse:
                        max:
                            filesize:
                                bytes: 33554432
                    interview:
                        feedback:
                            max:
                                filesize:
                                    bytes: 10485760
                            valid:
                                media:
                                    types: application/pdf
                        response:
                            max:
                                filesize:
                                    bytes: 10485760
                            valid:
                                media:
                                    types: application/pdf
                    overheadcalculation:
                        max:
                            filesize:
                                bytes: 10485760
                        valid:
                            media:
                                types: application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                    application/vnd.oasis.opendocument.spreadsheet
                    projectfinance:
                        threadsattachments:
                            max:
                                filesize:
                                    bytes: 10485760
                            valid:
                                media:
                                    types:
                                        external: application/vnd.oasis.opendocument.spreadsheet,
                                            application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                            application/vnd.oasis.opendocument.text,
                                            application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                            application/pdf
                                        internal: application/vnd.oasis.opendocument.spreadsheet,
                                            application/vnd.oasis.opendocument.text,
                                            application/pdf
                    projectsetupdocuments:
                        max:
                            filesize:
                                bytes: 10485760
                    projectsetupgrantofferletter:
                        max:
                            filesize:
                                bytes: 10485760
                        valid:
                            media:
                                types: application/pdf
                    publiccontentattachment:
                        max:
                            filesize:
                                bytes: 5242880
                        valid:
                            media:
                                types: application/pdf
                    virus:
                        scanning:
                            enabled: false
                            holding:
                                folder: virus-scan-holding
                            quarantine:
                                folder: virus-scan-quarantined
                            scanned:
                                folder: virus-scan-scanned
                                move:
                                    delay:
                                        millis: 5000
                upload:
                    files:
                        valid:
                            media:
                                types: application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/csv,text/csv
            jes:
                organisation:
                    importer:
                        archive:
                            location: file:///tmp/archived-jes-list.csv
                            source:
                                file: true
                        connection:
                            timeout:
                                millis: 10000
                        cron:
                            expression: 0/10 * * ? * *
                        download:
                            url: file:///tmp/ListOrganisations.csv
                        enabled: true
                        read:
                            timeout:
                                millis: 10000
            rest:
                baseURL: http://data-service:8080
            token:
                email:
                    validity:
                        mins: 2880
        survey:
            diversity:
                url: https://www.surveymonkey.co.uk/r/ifsaccount
    docusign:
        api:
            account: mock-key
            base: https://demo.docusign.net/restapi
        auth:
            base: account-d.docusign.com
            client: mock-key
            key: mock-key
            user: mock-key
    early:
        metrics:
            url: http://localhost/early-metrics
    edi:
        update:
            enabled: true
    finance:
        totals:
            enabled: true
    finance-totals:
        authSecretKey: supersecretkey
        baseURL: http://finance-data-service:8080
    ktp:
        fec:
            finance:
                model:
                    enabled: true
        phase2:
            enabled: true
    loan:
        partb:
            enabled: true
        survey:
            question:
                enabled: true
    monitoringofficer:
        journey:
            update:
                enabled: true
        spendprofile:
            update:
                enabled: true
    new:
        organisation:
            search:
                enabled: true
    procurement:
        milestones:
            enabled: true
    slack:
        auth:
            key: ''
    spend:
        profile:
            generation:
                strategy: ByProjectFinanceCostCategorySummaryStrategy
    subsidy:
        control:
            northern:
                ireland:
                    enabled: true
    system:
        email:
            address: noreply-innovateuk@example.com
        internal:
            user:
                email:
                    domains: iuk.ukri.test,innovateuk.ukri.test,innovateuk.test
        kta:
            user:
                email:
                    domain: ktn-uk.test
        name: Innovation Funding Service
    thirdparty:
        ofgem:
            enabled: true
    web:
        baseURL: https://ifs.local-dev
        system:
            user:
                uid: 8394d970-b250-4b15-9621-3534325691b4
logging:
    api:
        inbound:
            filter:
                endpoints: /application-update,/user/v1/edi
                includeHeaders: true
                includePayload: true
                includeQueryString: true
                maxPayloadLength: 10000
    level:
        org:
            innovateuk:
                ifs: INFO
                ifs.authentication.service.RestIdentityProviderService: INFO
                ifs.config.rest.InboundAPIRequestLoggingFilter: DEBUG
            springframework: WARN
        root: WARN
management:
    endpoint:
        health:
            show-components: ALWAYS
            show-details: ALWAYS
        restart:
            enabled: false
        shutdown:
            enabled: false
    endpoints:
        enabled-by-default: true
        health:
            enabled: true
        info:
            enabled: true
        web:
            base-path: /monitoring
            exposure:
                exclude: threaddump,heapdump
                include: '*'
server:
    connection-timeout: 600000
    port: 8080
    servlet:
        session:
            cookie:
                http-only: false
                secure: true
    tomcat:
        accept-count: 700
        max-connections: 700
        max-threads: 300
        min-spare-threads: 20
sil:
    rest:
        baseURL: http://sil-stub:8080/silstub
        crmApplications: /loanssubmission
        crmApplications.eligibilityStatusChangeSource: IFS
        crmContacts: /contacts
        crmDecisionmatrix: /decisionmatrix
        experianValidate: /experianValidate
        experianVerify: /experianVerify
        sendmail: /sendmail
spring:
    application:
        name: IFS Data Service
    datasource:
        driver-class-name: org.mariadb.jdbc.Driver
        password: password
        test-on-borrow: true
        url: jdbc:mysql://ifs-database:3306/ifs
        username: root
        validation-query: SELECT 1
    flyway:
        check-location: false
        driver-class-name: org.mariadb.jdbc.Driver
        enabled: true
    jpa:
        database-platform: org.hibernate.dialect.MySQL57Dialect
        generate-ddl: false
        hibernate:
            ddl-auto: validate
            naming:
                physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        open-in-view: false
        properties:
            hibernate:
                id:
                    new_generator_mappings: false
                temp:
                    use_jdbc_metadata_defaults: false
    main:
        allow-circular-references: true
    messages:
        basename: ValidationMessages
