<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Project Manager'" th:remove="tag" />
</head>
<body th:with="context='applicant'" class="project-detail project-manager">
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Project details',linkClass='link-back',linkUrl=@{/project/{projectId}/details(projectId=${project.id})}"  th:remove="tag"></div>

    <div class="page-title">
        <p class="subtitle" th:text="${#numbers.formatInteger(project.id,8)} + ': ' + ${app.getApplicationDisplayName()} "/>
        <h1 class="heading-xlarge">Project manager</h1>
    </div>


    <form method="POST" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}" th:object="${form}" novalidate="novalidate">
        <fieldset>
          <div class="form-group" th:classappend="${#fields.hasErrors('projectManager') ? 'error' : ''}">
              <h2 class="heading-medium">Project manager</h2>
              <legend>
                <span class="visuallyhidden">Project manager</span>
                 <div th:if="${#fields.hasErrors('projectManager')}" th:remove="tag">
                    <span class="error-message" th:each="err : ${#fields.errors('projectManager')}" th:text="${err}" />
                </div>
              </legend>
              <p class="form-hint">Who will be the project manager for your project?</p>
              <p>As lead partner you must choose a project manager for the duration of your project. We need this information now so that your Monitoring Officer can contact the project manager.</p>
              <div class="extra-margin">
                <div th:each="user : ${allUsers}" th:remove="tag">
                    <label th:for="${#ids.next('projectManager')}" class="block-label">
                        <input type="radio" th:field="*{projectManager}" th:value="${user.user}" required="required"  />
                        <span th:text="${user.userName}" th:remove="tag"></span>
                    </label>
                </div>
              </div>
            </div>
        </fieldset>
        <button class="button extra-margin">Save</button>
    </form>

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

</body>
</html>
