<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!-- ===========================Project setup select address=========================== -->

<div th:fragment="select-address">
    <fieldset>
      <div class="form-group" th:classappend="${#fields.hasErrors('*{addressType}') ? 'error' : ''}">
        <legend>
            <span class="visuallyhidden">Operating address</span>
            <span th:if="${#fields.hasErrors('*{addressType}')}" th:remove="tag">
                <span class="error-message" th:each="err : ${#fields.errors('addressType')}" th:text="${err}" />
            </span>
        </legend>

        <div class="form-block" th:if="${model.registeredAddress}">
            <label class="block-label selection-button-radio" for="address-use-org" data-target="registeredAddress">
                <input id="address-use-org" type="radio" name="bank-address-group" required="required" th:attr="data-required-errormessage=#{validation.bankdetailsresource.organisationaddress.required}" value="REGISTERED" th:field="*{addressType}"/>
                Use organisation address (<strong th:text="${model.registeredAddress.postcode}">BS1 4NT</strong>)
            </label>
        </div>

        <div class="form-block" th:if="${model.operatingAddress}">
            <label class="block-label selection-button-radio" for="address-use-operating" data-target="operatingAddress">
                <input id="address-use-operating" type="radio" name="bank-address-group" required="required" th:attr="data-required-errormessage=#{validation.bankdetailsresource.organisationaddress.required}" value="OPERATING" th:field="*{addressType}"/>
                Use operating address (<strong th:text="${model.operatingAddress?.postcode}">SN1 2UE</strong>)
            </label>
        </div>

        <div class="form-block">
            <label class="block-label selection-button-radio" for="address-add-bank" data-target="custom-postcode">
                <input id="address-add-bank" type="radio" name="bank-address-group" required="required" th:attr="data-required-errormessage=#{validation.bankdetailsresource.organisationaddress.required}" value="ADD_NEW" th:field="*{addressType}"/>
                Enter an alternative billing address
            </label>
        </div>
      </div>
    </fieldset>

    <div id="registeredAddress" class="boxed extra-margin" th:if="${model.registeredAddress}">
        <h3 class="heading-medium no-margin-top">Confirm billing address</h3>
        <p>
          <span th:each="addressLine : ${model.registeredAddress.getNonEmptyLines()}" th:remove="tag">
              <span th:text="${addressLine}" th:remove="tag">An address line</span><br />
          </span>
        </p>
    </div>
    <div id="operatingAddress" class="boxed extra-margin" th:if="${model.operatingAddress}">
        <h3 class="heading-medium no-margin-top" th:text="${(address != null and address == 'bankDetails' ? 'Confirm organisation address' : 'Confirm billing address')}">LOCATION TITLE</h3>
        <p>
          <span th:each="addressLine : ${model.operatingAddress.getNonEmptyLines()}" th:remove="tag">
              <span th:text="${addressLine}" th:remove="tag">An address line</span><br />
          </span>
        </p>
    </div>
    <div id="bankAddress" class="boxed extra-margin" th:if="${model.bankAddress}">
        <h3 class="heading-medium no-margin-top">Confirm banking address</h3>
        <p>
          <span th:each="addressLine : ${model.operatingAddress.getNonEmptyLines()}" th:remove="tag">
              <span th:text="${addressLine}" th:remove="tag">An address line</span><br />
          </span>
        </p>
    </div>

    <div id="custom-postcode">
        <th:block th:insert="fragments/addresses :: company-address-details" th:with="form=${form}" />
    </div>
</div>
</html>
