<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Bank Details'" th:remove="tag" />
</head>
<body th:with="context='project'" class="bank-detail">
  <div th:include="fragments/layout :: body-start" th:remove="tag" />
  <div th:include="fragments/layout :: global-header" th:remove="tag" />

  <div th:include="fragments/modals :: modal-overlay" th:remove="tag" />

<main id="content">
  <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
  <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Project setup status',linkClass='link-back',linkUrl=@{/project/{id}(id=${project.id})}"  th:remove="tag"></div>

  <div class="page-title">
      <div th:include="fragments/elements :: project-title (projectId=${applicationId}, projectName=${project.name})" th:remove="tag" />
      <h1 class="heading-xlarge">Bank account</h1>
  </div>
  <form th:object="${form}" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}" method="post" th:with="readonly=${bankDetails == null ? false : true}">

  <div class="error-summary" th:if="${#fields.hasErrors('*')}">
      <h2 class="heading-medium error-summary-heading">
          We are unable to save your bank account details:
      </h2>
      <ul class="error-summary-list">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
      </ul>
  </div>

  <th:block th:unless="${bankDetails == null}" >
      <p th:unless="${bankDetails.approved}">The bank account details below are being reviewed. We will contact you if we need any further information.</p>
      <div class="success-alert" th:if="${bankDetails.approved}"><p><strong>Your bank details have been approved.</strong></p></div>
  </th:block>
  <p class="extra-margin" th:if="${bankDetails?.approved}">Your details have been verified and can be used for this project.</p>

  <th:block th:if="${bankDetails == null}">
    <p class="extra-margin">In order for Innovate UK to fund your project we need your bank account details. We will then verify the bank account to the lead organisation.</p>
    <p>The bank account must belong to the organisation below.</p>
  </th:block>


	<h2 class="heading-medium">Organisation information</h2>
	<p class="form-hint">This information provided during the application process cannot be changed.</p>

	<p class="extra-margin">
        <th:block th:text="${organisation.name}">ACME Limited</th:block> <br />
        <th:block th:if="${organisation.companyHouseNumber}" th:text="|Company no. ${organisation.companyHouseNumber}|">02423435</th:block>
	</p>

    <h2 class="heading-medium no-margin-bottom">Account details</h2>
    <p th:if="${bankDetails == null}" class="form-hint">Please enter the bank account that you wish to use during the project.</p>

    <!--/* open */-->
    <th:block th:unless="${readonly}">

      <div class="form-group extra-margin" th:classappend="${#fields.hasErrors('accountNumber') ? 'error' : ''}">
        <label for="bank-acc-number">
          <span class="form-label-bold">Account number</span>
          <span class="form-hint">For example: 15481965</span>
          <span th:if="${#fields.hasErrors('accountNumber')}" th:remove="tag">
                <span class="error-message"  th:each="err : ${#fields.errors('accountNumber')}" th:text="${err}" />
          </span>
        </label>
        <input type="text" data-required-errormessage="Please enter an account number" data-minlength-errormessage="Please enter a valid account number" th:errorclass="field-error" required="required" maxlength="8" minlength="8" id="bank-acc-number" class="form-control width-medium" th:field="*{accountNumber}"/>
      </div>

      <div class="form-group"  th:classappend="${#fields.hasErrors('sortCode') ? 'error' : ''}">
        <label for="bank-sort-code">
          <span class="form-label-bold">Sort code</span>
          <span class="form-hint">For example: 311212</span>
          <span th:if="${#fields.hasErrors('sortCode')}" th:remove="tag">
                <span class="error-message"  th:each="err : ${#fields.errors('sortCode')}" th:text="${err}" />
          </span>
        </label>
        <input type="text" data-required-errormessage="Please enter a sort code" data-minlength-errormessage="Please enter a valid sort code" th:errorclass="field-error" required="required" maxlength="6" minlength="6" id="bank-sort-code" class="form-control width-medium" th:field="*{sortCode}"/>
      </div>

      <div class="form-group">
          <fieldset>
              <h2 class="heading-medium">Billing address</h2>
              <legend>
                <span class="visuallyhidden">Billing address</span>
              </legend>
              <p class="form-hint">This is the billing address connected to this bank account. This is not the address of the bank.</p>
              <div th:include="project/bank-address-fragment :: select-address" th:with="form=${form}" th:remove="tag"/>
          </fieldset>
      </div>

      <div th:include="fragments/modals :: modal-bank-details" th:remove="tag" />
      <button th:attr="formaction=@{/project/{id}/bank-details/confirm(id=${project.id})}" class="button extra-margin" data-js-modal="modal-bank">Submit bank account details</button>


    </th:block>

    <!--/* closed readonly */-->

    <th:block th:if="${readonly}">
      <dl class="standard-definition-list extra-margin">
    		<dt>Account number</dt>

    		<dd>
          <th:block th:text="*{'*****'+#strings.substring(accountNumber,5,8)}" />
    		</dd>
    		<dt>Sort code</dt>
        <dd>
          <th:block th:text="*{'****'+#strings.substring(sortCode,4,6)}" />
        </dd>
    	</dl>

          <h2 class="heading-medium no-margin-bottom">Billing address</h2>
          <p th:if="${bankDetails?.organisationAddress.address == null}" class="form-hint">This is the billing address of the bank account. This is not the address of the bank.</p>

      <p class="extra-margin" th:if="${bankDetails?.organisationAddress.address}" >
        <th:block th:each="addressLine,stats : ${bankDetails?.organisationAddress.address.getNonEmptyLines()}">
            <span th:text="${addressLine+' '}" th:remove="tag">An address line</span><br th:unless="${stats.index == 0}"/>
        </th:block>
      </p>

    </th:block>


	</form>

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>
