<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Project address',hasFormErrors=${#fields.hasErrors('${form.*}')}" />
    </head>

    <body class="govuk-template__body project-details project-address">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <div class="govuk-width-container">
            <th:block th:insert="fragments/layout :: phase-banner" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Project details',linkUrl=@{/project/{id}/details(id=${model.projectId})}" />

            <main class="govuk-main-wrapper" id="main-content" role="main">
                <div th:if="${#fields.hasErrors('${form.*}')}" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title"  id="error-summary-title">We were unable to save your changes.</h2>
                    <th:block th:insert="fragments/elements :: error-summary-list(form)" />
                </div>

                <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Project address',subTitle=${model.projectName},size='govuk-heading-xl'" />

                <p class="govuk-body">We will assign a Monitoring Officer who will visit your project at this address.</p>

                <form th:object="${form}" th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}" method="post" novalidate="novalidate">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Project address</h2>
                    <p class="govuk-hint govuk-!-margin-top-0">Please select the address where the majority of work will be carried out.</p>
                    <div id="custom-postcode" class="govuk-body">
                        <th:block th:insert="fragments/addresses :: address-details" th:with="form=${form},legend=${'Find UK address'}" />
                    </div>
                    <p class="govuk-body">You can change your project address up until your grant offer letter is generated.</p>
                    <button class="govuk-button govuk-!-margin-top-6">Save project address</button>
                </form>

                <th:block th:insert="fragments/layout :: main-content-end" />
            </main>
        </div>
        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
        <th:block th:insert="fragments/service-layout :: body-end" />
    </body>
</html>
