<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Target start date',hasFormErrors=${#fields.hasErrors('${form.*}')}" />
    </head>

    <body class="govuk-template__body project-details start-date">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <div class="govuk-width-container">
            <th:block th:insert="fragments/layout :: phase-banner" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Project details',linkClass='link-back',linkUrl=@{/project/{id}/details(id=${model.projectId})}" />

            <main class="govuk-main-wrapper" id="main-content" role="main">
                <div th:if="${#fields.hasErrors('${form.*}')}" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title"  id="error-summary-title">We are unable to save your target start date.</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li th:each="err : ${#fields.errors('${form.*}')}">
                                <a href="#projectStartDate_month" th:text="${err}">The error message</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Target start date',subTitle=${model.projectName},size='govuk-heading-xl'" />
                <p class="govuk-body">The project can only start when:</p>

                <ol class="govuk-list govuk-list--number">
                    <li>You have provided the documents we need.</li>
                    <li>We have approved your financial information.</li>
                    <li>You have received, signed and returned the grant offer letter on behalf of the project.</li>
                </ol>

                <form th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}" th:object="${form}" method="post" novalidate="novalidate">
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('projectStartDate')} ? 'govuk-form-group--error'">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" id="projectStartDate">
                                <h2 class="govuk-fieldset__heading">Target start date</h2>
                            </legend>
                            <span class="govuk-hint">Projects must start on the first day of a month so please choose the month and year of your project start.</span>
                            <th:block th:if="${#fields.hasErrors('projectStartDate')}">
                                <span class="error-message" th:each="err : ${#fields.errors('projectStartDate')}" th:text="${err}" />
                            </th:block>
                            <th:block th:insert="question-type/form-elements :: form-dateinput (id='projectStartDate', field='projectStartDate', dayReadonly=true)" />
                        </fieldset>
                    </div>

                    <p class="govuk-body">You can change your target start date up until the spend profile is generated.</p>

                    <h2 class="govuk-heading-m">Project duration</h2>
                    <p class="govuk-body">
                        <span th:text="|${model.projectDurationInMonths} months|">9 months</span>
                    </p>

                    <button type="submit" class="govuk-button">Save</button>
                </form>

                <th:block th:insert="fragments/layout :: main-content-end" />
            </main>
        </div>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
        <th:block th:insert="fragments/service-layout :: body-end" />
    </body>
</html>
