<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Project details'" th:remove="tag" />
</head>
<body th:with="context='project'" class="project-details start-date">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />


<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Project details',linkClass='link-back',linkUrl=@{/project/{id}/details(id=${model.projectId})}"  th:remove="tag" />

    <div class="page-title">
        <div th:include="fragments/elements :: project-title (projectId=${model.applicationId}, projectName=${model.projectName})" th:remove="tag" />
        <h1 class="heading-xlarge">Project details</h1>
    </div>

    <form th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}" th:object="${form}" method="post">

    <fieldset>
      <h2 class="heading-medium">Target project start date</h2>
      <div class="form-group" th:classappend="${#fields.hasErrors('projectStartDate') ? 'error' : ''}">
        <legend>
          <span class="visuallyhidden">Target project start date</span>
          <div th:if="${#fields.hasErrors('projectStartDate')}" th:remove="tag">
              <span class="error-message" th:each="err : ${#fields.errors('projectStartDate')}" th:text="${err}" />
          </div>
        </legend>
        <p>Please select the date you want the project to start. Projects must start on the first day of a month.</p>
        <p><strong>Please remember the project can start only when:</strong></p>

        <ul class="list-bullet">
            <li>you have provided the documents we need</li>
            <li>we have approved your financial information</li>
            <li>you have received, signed and returned the grant offer letter on behalf of the project</li>
        </ul>
        <p>Please consider the above information when selecting your target start date. The above processes must be complete before your project can begin.</p>
        <p>If required, the start date can be changed later.</p>

        <div th:include="question-type/form-elements :: form-dateinput (id=${'projectStartDate'}, field=${'projectStartDate'}, dayReadonly=true)" th:remove="tag" />
        <h3 class="heading-medium">Project duration</h3>
        <p>Project duration stated in your application: <br /><strong><span th:text="${model.projectDurationInMonths}">9</span> months</strong></p>
      </div>
    </fieldset>

    <button type="submit" class="button">Save</button>

    </form>

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

</body>
</html>
