<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head"
              th:with="pageTitle=|Finance checks - ${model.projectName}|"/>
</head>
<body class="govuk-template__body project spend-profile">
<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner"/>
    <th:block th:insert="fragments/layout :: header-sub"
              th:with="linkTitle='Back to project setup',linkUrl=@{/project/{id}(id=${model.projectId})}"/>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <th:block th:insert="fragments/layout :: page-title"
                  th:with="pageTitle='Finance checks',subTitle=${model.getApplicationId()+ ': ' + model.getProjectName()},size='govuk-heading-xl'"/>

        <th:block th:insert="fragments/layout :: main-content-end"/>
    </main>
</div>

<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>
<th:block th:insert="fragments/service-layout :: body-end"/>

</body>
</html>
