<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Grant Offer Letter'" />
</head>
<body th:with="context='project'" class="project-detail gol">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <div th:insert="fragments/layout :: header-sub" th:with="linkTitle='Project setup status',linkClass='link-back',linkUrl=@{/project/{projectId}(projectId=${model.projectId})}" th:remove="tag"></div>

    <div class="page-title">
        <th:block th:insert="fragments/elements :: project-title (projectName=${model.projectName})" />
        <h1 class="heading-xlarge">Grant offer letter</h1>
    </div>

    <form th:object="${form}" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}" method="post" enctype="multipart/form-data">

        <div class="error-summary" th:if="${#fields.hasErrors('*')}">
            <h2 class="heading-medium error-summary-heading">Unable to submit grant offer letter</h2>
            <ul class="error-summary-list">
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>

        <th:block th:if="${model.submitted}">
          <th:block th:unless="${model.offerApproved}">
              <p>The signed grant offer letter has been received by Innovate UK and is awaiting review.</p>
              <p>The unsigned grant offer letter is available for your records.</p>
          </th:block>

          <div th:if="${model.offerApproved}" class="success-alert extra-margin-bottom">
              <p>Your signed grant offer letter has been received and accepted by Innovate UK</p>
          </div>
          <p th:if="${model.offerApproved}">The grant offer letter is available for your records below.</p>
        </th:block>

        <th:block th:if="${model.leadPartner}">
            <p th:unless="${model.submitted}">The grant offer letter has been provided by Innovate UK. It has been
                created using the information provided during project setup.</p>

            <th:block th:unless="${model.submitted}">
                <h2 class="heading-medium">Next steps</h2>
                <ul class="list list-bullet">
                    <li>review grant offer letter and annex if provided</li>
                    <li>the Project Manager will need to sign the document</li>
                    <li>the signed grant offer letter should then be sent to Innovate UK</li>
                    <br/>
                    <p>After the signed grant offer letter is received and approved by Innovate UK, project setup will
                        be complete.</p>
                </ul>
            </th:block>

            <h2 class="heading-medium">Grant offer letter</h2>
            <p th:unless="${model.submitted}">This document is awaiting signature by the Project Manager.</p>

            <th:block th:if="${model.isGrantOfferLetterSent()}">
                <p><a th:href="@{/project/{id}/offer/grant-offer-letter(id=${model.projectId})}" th:text="${model.grantOfferLetterFile?.filename}" class="grant-offer-download">Grant offer letter 2016-07-28a.PDF</a></p>
            </th:block>

            <th:block th:if="${model.signedGrantOfferLetterFile != null && model.signedGrantOfferLetterFile.filename != null}">
                <h2 class="heading-medium">Signed grant offer letter</h2>
                <p><a th:href="@{/project/{id}/offer/signed-grant-offer-letter(id=${model.projectId})}" th:text="${model.signedGrantOfferLetterFile.filename}">Signed grant offer letter 2016-07-28a.PDF</a></p>
            </th:block>

            <th:block th:if="${model.additionalContractFile != null}">
                <h2 class="heading-medium">Annex</h2>
                <p>The annex contains any additional contracts agreed upon during the application process. In signing the grant offer letter you also agree to any conditions set out in the annex.</p>
                <p><a th:href="@{/project/{id}/offer/additional-contract(id=${model.projectId})}" th:text="${model.additionalContractFile?.filename}">Grant offer letter 2016-07-28a.PDF</a></p>
            </th:block>

            <div th:if="${model.isGrantOfferLetterSent() and !model.submitted and model.getGrantOfferLetterFile() != null}" class="upload-section">
                <h2 class="heading-medium">Sending your signed grant offer letter to Innovate UK</h2>
                <h2 class="heading-small no-margin">Upload signed grant offer letter</h2>
                The Project Manager is required to provide a signed copy of the grant offer letter.
                <details>
                    <summary><span class="summary">What are the requirements for upload?</span></summary>
                    <div class="panel">
                        <p>The uploaded signed grant offer letter agreement must:</p>
                        <ul class="list list-bullet">
                            <li>contain signed pages</li>
                            <li>be in a portable document format (.pdf)</li>
                            <li>be legible at 100% magnification</li>
                            <li>be less than 1mb in file size</li>
                        </ul>
                        <p>Unable to upload? Contact Customer Support on 0300 321 4357.</p>
                    </div>
                </details>

                <!-- /* file is not uploaded */-->
                <div th:classappend="${#fields.hasErrors('signedGrantOfferLetter') ? 'error' : ''}" th:unless="${model.signedGrantOfferLetterFile}">
                    <th:block th:if="${#fields.hasErrors('signedGrantOfferLetter')}">
                        <span class="error-message" th:each="err : ${#fields.errors('signedGrantOfferLetter')}" th:text="${err}"/>
                    </th:block>
                    <input th:field="*{signedGrantOfferLetter}" type="file" class="inputfile"/>
                    <label for="signedGrantOfferLetter" class="button-secondary extra-margin">+ Upload</label>
                    <button name="uploadSignedGrantOfferLetterClicked" class="button-secondary" type="submit" data-for-file-upload="signedGrantOfferLetter">Save</button>
                </div>
                <!--/* file is uploaded */-->
                <th:block th:if="${model.signedGrantOfferLetterFile}">
                    <a th:href="@{/project/{id}/offer/signed-grant-offer-letter(id=${model.projectId})}" class="uploaded-file" th:text="${model.signedGrantOfferLetterFile.filename}">The-uploaded-file-example.pdf</a>
                    <button name="removeSignedGrantOfferLetterClicked" class="button-secondary no-margin-right" type="submit">Remove</button>
                </th:block>
            </div>

            <th:block th:if="${model.isGrantOfferLetterSent()}">
                <a th:if="${model.isShowSubmitButton()}"
                   th:href="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)} + '/confirmation'}"
                   data-js-modal="modal-confirm-grant-offer-letter" class="button">Send to Innovate UK</a>
                <button th:if="${model.isGrantOfferLetterSent() and model.isShowDisabledSubmitButton()}"
                        disabled="disabled" class="button">Send to Innovate UK
                </button>
            </th:block>

            <th:block th:insert="fragments/modals :: modal-overlay" />
            <th:block th:insert="fragments/modals :: modal-confirm-grant-offer-letter" />

        </th:block>

        <th:block th:if="${!model.leadPartner}">
            <th:block th:if="${!model.submitted}">
                <p th:if="${!model.offerApproved}">The grant offer letter has been provided by Innovate UK. It has been created using the information provided during project setup. It is now awaiting signature by the lead applicant.</p>
                <p th:if="${!model.offerApproved}">A copy of the unsigned grant offer letter is available for your records.</p>
            </th:block>

            <h2 class="heading-medium">Grant offer letter</h2>
            <p><a th:href="@{/project/{id}/offer/grant-offer-letter(id=${model.projectId})}" th:text="${model.grantOfferLetterFile?.filename}" class="grant-offer-download">Grant offer letter 2016-07-28a.PDF</a></p>

            <th:block th:if="${model.additionalContractFile}">
                <h2 class="heading-medium">Annex</h2>
                <p>The annex contains any additional contracts agreed upon during the application process. In signing the grant offer letter you also agree to any conditions set out in the annex.</p>
                <p><a th:href="@{/project/{id}/offer/additional-contract(id=${model.projectId})}" th:text="${model.additionalContractFile?.filename}">Grant offer letter 2016-07-28a.PDF</a></p>
            </th:block>
        </th:block>


    </form>
    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
