<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Grant Offer Letter Confirmation'" th:remove="tag" />
</head>
<body>
<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />
    <h2 class="heading-medium no-margin">Confirm submission</h2>
    <p>After your submission of the signed Grant offer letter Innovate UK will review signed document</p>
    <div class="alignright-button">
        <form th:action="@{/project/{id}/offer/submit(id=${projectId})}" method="post">
            <button class="button large" name="confirmSubmit">Confirm submission</button>
        </form>
    </div>
    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />
</body>
</html>
