
<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Monitoring officer'" />
</head>
<body th:with="context='project'" class="project-detail monitoring-officer">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Project setup status',linkClass='link-back',linkUrl=@{/project/{projectId}(projectId=${model.projectId})}" />
    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Monitoring Officer',subTitle=${model.projectName},size='heading-xlarge'" />

    <!--/* has a monitoringOfficer */-->
    <th:block th:if="${model.monitoringOfficerAssigned}">
      <div class="success-alert extra-margin-bottom">
    		<p><strong>We have assigned a Monitoring Officer to your project.</strong></p>
    	</div>
      <p class="extra-margin">
        No action needs to be taken by your team. The Monitoring Officer will make contact shortly.
        If you have any questions about this appointment please contact Innovate UK.
      </p>
      <div class="boxed">
          <th:block th:unless="${#strings.isEmpty(model.monitoringOfficerName)}">
            <th:block th:text="${model.monitoringOfficerName}" /><br/>
          </th:block>
          <th:block th:unless="${#strings.isEmpty(model.monitoringOfficerEmailAddress)}">
            <a th:href="'mailto:'+${model.monitoringOfficerEmailAddress}" th:text="${model.monitoringOfficerEmailAddress}" /><br/>
          </th:block>
          <th:block th:unless="${#strings.isEmpty(model.monitoringOfficerPhoneNumber)}">
            <th:block th:text="${model.monitoringOfficerPhoneNumber}" /><br/>
          </th:block>
      </div>
    </th:block>
    <!--/* no monitoringOfficer */-->
    <th:block th:unless="${model.monitoringOfficerAssigned}">
      <p>Your project has not yet been assigned a Monitoring Officer.</p>
    </th:block>

    <h3 class="heading-medium">Role of Monitoring Officer</h3>
		<p>The Monitoring Officer will be the primary point of contact for the project. They will monitor and report progress to Innovate UK.</p>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
