<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Project details'" />
</head>
<body class="govuk-template__body project-detail">

<th:block th:insert="fragments/modals :: modal-overlay" />
<th:block th:insert="fragments/modals :: modal-project-details" />

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Set up your project',linkUrl=@{/project/{projectId}/new-details(projectId='4')}" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Project details',subTitle='Magic material',size='govuk-heading-xl'" />
        <p class="govuk-body">We need this information to set up your project.</p>
        <h2 class="govuk-heading-m">Project information</h2>
        <p class="govuk-body">As the lead you must complete these details on behalf of the overall project.</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header larger-cols"><span class="govuk-visually-hidden">Action</span></th>
                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Information</span></th>
                <th scope="col" class="govuk-table__header smaller-col"><span class="govuk-visually-hidden">Status</span></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <a href="/" class="govuk-link">Target start date</a>
                </td>
                <td class="govuk-table__cell">1 Mar 2019</td>
                <td class="govuk-table__cell">
                    <strong class="complete">Complete</strong>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <a href="/" class="govuk-link">Correspondence address</a>
                </td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">
                    <strong class="incomplete">Incomplete</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m">Project location</h2>
        <p class="govuk-body">Each partner must provide a project location. We will assign the Monitoring Officer based on the location.</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header larger-cols">Partner</th>
                <th scope="col" class="govuk-table__header">Project location</th>
                <th scope="col" class="govuk-table__header smaller-col">Complete</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Empire Ltd (Lead)</td>
                <td class="govuk-table__cell">
                    <a href="/" class="govuk-link">Select project location</a>
                </td>
                <td class="govuk-table__cell">
                    <span class="no">No</span>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">EGGS</td>
                <td class="govuk-table__cell">AB12 3CD</td>
                <td class="govuk-table__cell">
                    <span class="yes">Yes</span>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Ludlow</td>
                <td class="govuk-table__cell">AB12 3CD</td>
                <td class="govuk-table__cell">
                    <span class="yes">Yes</span>
                </td>
            </tr>
            </tbody>
        </table>
        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />

</body>
</html>
