
<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Project location'" />
</head>

<body th:with="context='project'" class="project-detail finance-contact">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Project details',linkClass='link-back',linkUrl=@{/project/{projectId}/details(projectId=${model.projectId})}" />
    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Project location',subTitle=${model.projectName},size='heading-xlarge'" />

    <p>We will assign a Monitoring Officer who will visit your project location.</p>

    <form th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}" th:object="${form}" method="post" novalidate="novalidate">
        <h2 class="heading-medium">Project location</h2>

        <div class="form-group">
            <label class="form-label-bold" for="postCode">
                Postcode
                <span class="form-hint">Please enter the postcode of the location where the majority of work will be carried out.</span>
            </label>
            <input class="form-control width-medium" name="postCode" id="postCode" type="text">
        </div>

        <p>You can change your project location up until a Monitoring Officer is assigned to your project.</p>

        <button class="button" type="submit">Save project location</button>
    </form>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
