<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml" >
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Project Manager',hasFormErrors=${#fields.hasErrors('${form.*}')}" />
    </head>

    <body class="govuk-template__body project-detail project-manager">
        <th:block th:insert="fragments/modals :: modal-overlay" />
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />
        <th:block th:insert="fragments/modals :: modal-resend-project-manager"/>

        <div class="govuk-width-container">
            <th:block th:insert="fragments/layout :: phase-banner" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Project details',linkClass='link-back',linkUrl=@{/project/{projectId}/details(projectId=${model.projectId})}" />

            <main class="govuk-main-wrapper" id="main-content" role="main">
                <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Project Manager',subTitle=${model.projectName},size='govuk-heading-xl'" />

                <p class="govuk-body">As lead partner you must choose a Project Manager who will be responsible for setting up your project. We need this information now so that your Monitoring Officer can contact the Project Manager.</p>

                <form method="POST" th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}" novalidate="novalidate" th:object="${form}">
                    <fieldset>
                        <div class="form-group" id="project-manager-section" th:classappend="${#fields.hasErrors('*') ? 'form-group-error' : ''}">
                            <legend>
                                <span class="govuk-heading-m">Project Manager</span>
                                <th:block th:if="${#fields.hasErrors('*')}">
                                    <span class="error-message" th:each="err : ${#fields.errors('*')}" th:text="${err}"></span>
                                </th:block>
                            </legend>
                            <p class="form-hint">Who will be the Project Manager for your project?</p>
                            <div class="multiple-choice" th:each="user : ${model.organisationUsers}" >
                                <input type="radio" th:field="*{projectManager}" th:value="${user.id}" required="required" th:attr="data-required-errormessage=#{validation.projectmanagerform.projectmanager.required}" />
                                <label th:for="${#ids.prev('projectManager')}" th:text="${user.name}" data-set-section-valid="#project-manager-section" data-clear-inputs="#name-project-manager,#email-project-manager"></label>
                            </div>

                            <div class="multiple-choice" th:each="user : ${model.invitedUsers}">
                                <input th:id="'invite-'+${user.id}" value="" type="radio" disabled="disabled" />
                                <label th:for="'invite-'+${user.id}" th:text="${user.name}"></label>
                                <a th:inline="text"
                                    data-js-modal="modal-resend-project-manager"
                                    th:attr="data-modal-form-action=@{/project/{projectId}/details/project-manager(projectId=${model.projectId})},data-modal-input-resend-pm-invite=${user.id}"
                                    th:href="@{/project/{projectId}/details/project-manager/confirm?resend-pm-invite={userId}(projectId=${model.projectId},userId=${user.id})}"
                                    class="button-clear govuk-!-margin-0">
                                    Resend invite
                                </a>
                            </div>

                            <div class="multiple-choice" data-target="project-manager-table">
                                <input id="new" name="projectManager" th:checked="${model.inviteAction} or *{projectManager == -1}" required="required"  type="radio" value="-1" th:attr="data-required-errormessage=#{validation.projectmanagerform.projectmanager.required}" />
                                <label for="new">
                                    Add new team member
                                    <span class="form-hint">A new team member will be invited to join the project</span>
                                </label>
                            </div>

                            <table id="project-manager-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col" id="project-manager-name">Name</th>
                                        <th scope="col" colspan="2" id="project-manager-email">E-mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <span class="govuk-visually-hidden">invitee</span>
                                        </th>
                                        <td>
                                            <label for="name-project-manager">
                                              <span class="govuk-visually-hidden">name</span>
                                            </label>
                                            <input type="text" class="form-control width-full" th:value="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'form-control-error'" name="name" id="name-project-manager" required="required" th:attr="data-required-errormessage=#{validation.project.invite.name.required}"/>
                                        </td>
                                        <td>
                                            <label for="email-project-manager" class="govuk-visually-hidden">email</label>
                                            <input type="email" class="form-control width-full" th:value="*{inviteEmail}" th:classappend="${#fields.hasErrors('inviteEmail')} ? 'form-control-error'" name="inviteEmail" id="email-project-manager" required="required" th:attr="data-required-errormessage=#{validation.project.invite.email.required}"/>
                                        </td>
                                        <td class="alignright">
                                            <button class="button-clear govuk-!-margin-bottom-0" id="invite-project-manager" name="invite-pm">Invite to project</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>

                    <p class="govuk-body">You can change your Project Manager up until your grant offer letter is generated.</p>

                    <button class="govuk-button govuk-!-margin-top-6" type="submit" id="save" name="save-pm">Save</button>
                </form>

                <th:block th:insert="fragments/layout :: main-content-end" />
            </main>
        </div>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
        <th:block th:insert="fragments/service-layout :: body-end" />
    </body>
</html>
