<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Project Manager'" />
    </head>

    <body th:with="context='project'" class="project-detail project-manager">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Project details',linkClass='link-back',linkUrl=@{/project/{projectId}/details(projectId=${model.projectId})}" />

            <div class="page-title">
                <th:block th:insert="fragments/elements :: project-title (projectName=${model.projectName})" />
                <h1 class="heading-xlarge">Project Manager</h1>
            </div>

            <p>As lead partner you must choose a Project Manager who will be responsible for setting up your project. We need this information now so that your Monitoring Officer can contact the Project Manager.</p>

            <form method="POST" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}" novalidate="novalidate" th:object="${form}">
                <fieldset>
                    <div class="form-group" id="project-manager-section" th:classappend="${#fields.hasErrors('*') ? 'form-group-error' : ''}">
                        <legend>
                            <span class="heading-medium">Project Manager</span>
                            <div th:if="${#fields.hasErrors('*')}" th:remove="tag">
                                <span class="error-message" th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                            </div>
                        </legend>
                        <p class="form-hint">Who will be the Project Manager for your project?</p>
                        <div class="multi-choice">
                            <label data-set-section-valid="#project-manager-section" data-clear-inputs="#name-project-manager,#email-project-manager" th:each="user : ${model.organisationUsers}" th:for="${#ids.next('projectManager')}">
                                <th:block th:text="${user.name}" />
                            </label>
                        </div>

                        <label th:each="user : ${model.invitedUsers}" th:for="${#ids.next('projectManager')}" class="block-label">
                            <span th:text="${user.name}" th:remove="tag"></span>
                        </label>

                        <div class="multi-choice" data-target="project-manager-table">
                            <input id="new" name="projectManager" th:checked="${model.inviteAction} or *{projectManager == -1}" required="required"  type="radio" value="-1" th:attr="data-required-errormessage=#{validation.projectmanagerform.projectmanager.required}" />
                            <label for="new">
                                Add new team member
                                <span class="form-hint">A new team member will be invited to join the project</span>
                            </label>
                        </div>

                        <table id="project-manager-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col" id="project-manager-name">Name</th>
                                    <th scope="col" colspan="2" id="project-manager-email">E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <span class="visuallyhidden">invitee</span>
                                    </th>
                                    <td>
                                        <label for="name-project-manager">
                                          <span class="visuallyhidden">name</span>
                                        </label>
                                        <input type="text" class="form-control width-full" th:value="*{name}" th:classappend="${#fields.hasErrors('name') ? 'field-error' : ''}" name="name" id="name-project-manager" required="required" th:attr="data-required-errormessage=#{validation.project.invite.name.required}"/>
                                    </td>
                                    <td>
                                        <label for="email-project-manager" class="visuallyhidden">email</label>
                                        <input type="email" class="form-control width-full" th:value="*{email}" th:classappend="${#fields.hasErrors('email') ? 'field-error' : ''}" name="email" id="email-project-manager" required="required" th:attr="data-required-errormessage=#{validation.project.invite.email.required}"/>
                                    </td>
                                    <td class="alignright">
                                        <button class="buttonlink no-margin-bottom" id="invite-project-manager" name="invite_pm">Invite to project</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>

                <button class="button extra-margin" type="submit" id="save" name="save_pm">Save</button>
            </form>

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
