<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml"
      th:with="pageTitle=${model.monitoringOfficer ? 'Monitor project' : 'Set up your project'}">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle=${pageTitle + ' - ' + model.projectName}" />
</head>
<body class="govuk-template__body project-overview">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Dashboard',linkUrl=${model.monitoringOfficer ? '/project-setup/monitoring-officer/dashboard' : '/applicant/dashboard'}" />
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle=${pageTitle},subTitle=${model.projectName},size='govuk-heading-xl'" />

        <div class="message-alert" th:if="${model.projectState.offline}">
            <p class="govuk-body">Innovate UK is managing this project's setup offline. For help call 0300 321 4357.</p>
        </div>

        <div class="message-alert" th:if="${model.projectState.withdrawn}">
            <p class="govuk-body">Innovate UK has withdrawn this project. For help call 0300 321 4357.</p>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <dl class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-6">
                    <dt>Project number:</dt>
                    <dd th:text="${model.applicationId}"/>
                    <dt>Competition:</dt>
                    <dd th:text="${model.competitionName}"/>
                    <dt>Funding body:</dt>
                    <dd>Innovate UK</dd>
                </dl>
            </div>
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list govuk-list--bullet">
                    <li th:if="${model.showApplicationFeedbackLink}"><a th:href="${'/application/' + model.applicationId + '/feedback'}"
                           class="govuk-link">
                        view application feedback</a></li>
                    <li>
                        <a th:href="${'/competition/' + model.competitionId + '/info/terms-and-conditions'}"
                           class="govuk-link">
                            <th:block th:if="${model.investorPartnershipCompetition}">
                                view the Investor Partnerships terms and conditions
                            </th:block>
                            <th:block th:unless="${model.investorPartnershipCompetition}">
                                view the award terms and conditions
                            </th:block>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <th:block th:if="${model.projectState.live}">
            <div class="success-alert govuk-!-margin-bottom-6">
                <p class="govuk-body">The project is live, you can review progress at <a href="https://grants.innovateuk.org" class="govuk-link">_connect</a></p>
            </div>

            <p class="govuk-body">The following steps have been completed by all partners. The project can now start.</p>
        </th:block>

        <th:block th:if="${model.projectState.active && !model.loanCompetition}">
            <div class="message-alert">
                <th:block th:unless="${model.monitoringOfficer}">
                    <th:block th:if="${model.isCollaborativeProject()}">
                        <p class="govuk-body">You must complete your project and bank details within 30 days of our notification to you.</p>
                        <p class="govuk-body">All project partners have individual steps to complete in this
                            section.</p>
                        <p class="govuk-body"><a th:href="@{/project/{id}/team-status(id=${model.projectId})}"
                                                 class="govuk-link">View the status of partners</a>.</p>
                    </th:block>
                    <th:block th:unless="${model.isCollaborativeProject()}">
                        <p class="govuk-body">You must complete your project and bank details within 30 days of our notification to you.</p>
                    </th:block>
                </th:block>
                <th:block th:if="${model.monitoringOfficer}">
                    <p class="govuk-body">You are viewing project setup exactly as the partners see it.
                        Partners must complete their project and bank details within 30 days of our notification to
                        them.
                        All partners have individual steps to complete in this section.</p>
                    <p class="govuk-body"><a th:href="@{/project/{id}/team-status(id=${model.projectId})}"
                                             class="govuk-link">View the status of partners</a>.</p>
                </th:block>
            </div>
        </th:block>

        <div class="progress-list progress-list--individual-blocks">
            <ul>
                <li th:each="stage : ${model.stages}" th:classappend="|${stage.status.status} ${stage.access.notAccessible ? 'read-only' : ''}|">
                    <div class="task">
                        <h2 class="govuk-heading-s">
                            <a th:if="${stage.access.accessible}"
                               th:href="|/project-setup${stage.url}|"
                               th:text="${stage.title}"
                               class="govuk-link">Project details</a>
                            <th:block th:unless="${stage.access.accessible}"
                                      th:text="${stage.title}">Project details</th:block>
                        </h2>
                        <p class="govuk-body govuk-!-margin-0" th:text="${stage.subtitle}">Confirm the proposed start date and location of the project.</p>
                    </div>
                    <th:block th:if="${model.shouldShowStatus(stage)}"
                        th:insert="project/fragments :: project-setup-status-indicator(${stage.statusOverride ?: stage.status.status})"/>
                </li>
            </ul>
        </div>
        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />

</body>
</html>
