<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Spend profile'" />
</head>
<body th:class="${(param.view != null and param.view[0] == 'full' ? 'app-overview full-width' : 'app-overview ')}">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />


<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <div th:insert="fragments/layout :: header-sub" th:with="linkTitle='Project setup status',linkClass='link-back',linkUrl=@{/project/{id}(id=${model.projectId})}" th:remove="tag"></div>


    <div class="page-title">
            <th:block th:insert="fragments/elements :: project-title (projectName=${model.projectName})"/>
        <h1 class="heading-xlarge">Spend profile</h1>
    </div>

    <div th:if="${model.submitted and !model.approved}" th:remove="tag">
        <div class="success-alert extra-margin-bottom">
            <p><strong>All project spend profiles have been sent to Innovate UK.</strong></p>
        </div>
    </div>

    <div th:if="${model.submitted and model.approved}" th:remove="tag">
        <div class="success-alert extra-margin-bottom">
            <p><strong>All project spend profiles have been accepted by Innovate UK.</strong></p>
        </div>
    </div>

    <p>This overview shows the spend profile status of each organisation in your project.</p>

    <div th:if="${model.submitted}" th:remove="tag">
        <h2 class="heading-medium">Spend profile</h2>
        <p th:if="${!model.approved}" >All spend profiles have been sent to Innovate UK and the Monitoring Officer assigned to this application.
           You may view these profiles.</p>
        <p th:if="${model.approved}" >All spend profiles have been accepted by Innovate UK and the Monitoring Officer assigned to this application.
            You may view these profiles.</p>
    </div>

    <h2 class="heading-medium">Partner progress</h2>

    <ul class="task-list">
        <li th:unless="${#lists.isEmpty(model.partnerOrganisations) and partnerSpendProfileProgress != null}"
            th:each="partnerProgress : ${model.partnerSpendProfileProgress}">
            <div th:each="partner : ${model.partnerOrganisations}"
                 th:if="${partner.name.equals(partnerProgress.key)}"
                 class="task">
                <h3 class="heading-small">
                    <a th:if="${partnerProgress.value or model.editablePartners.get(partnerProgress.key)}"
                       th:href="@{/project/{id}/partner-organisation/{organisationId}/spend-profile/review(id=${model.projectId}, organisationId=${partner.id})}"
                       th:text="${partnerProgress.key}" />
                    <th:block th:unless="${partnerProgress.value or model.editablePartners.get(partnerProgress.key)}"
                              th:text="${partnerProgress.key}" />
                    <th:block th:if="${partner.name.equals(model.leadOrganisation.name)}"> (Lead)</th:block>
                </h3>
            </div>
            <div th:unless="${partnerProgress.value}" class="notification">
                In progress
            </div>
            <div th:if="${partnerProgress.value}" class="task-status-complete">
                <span>Complete</span>
            </div>
        </li>
    </ul>

    <div th:if="${model.markAsComplete and !model.submitted}" th:remove="tag">

        <p class="extra-margin">Please review each partner's spend profile once they are marked as complete.</p>

        <a th:href="@{/project/{id}/spend-profile/total(id=${model.projectId})}" class="button">Review and send total project spend profile</a>

    </div>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
