<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Submit to lead partner'" />
</head>
<body th:with="context='project'">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start"/>
    <th:block th:insert="fragments/layout :: header-sub"/>

    <form th:action="@{/project/{projectId}/partner-organisation/{organisationId}/spend-profile/incomplete(projectId=${projectId},organisationId=${organisationId})}" method="POST" >
        <h2 class="heading-medium no-margin">Allow partner to edit</h2>
        <p><span class="heading-small no-margin"><th:block th:text="${model.getOrganisationName()}" />'s</span> spend profile will be returned to them. They will be informed by email. If you have any specific requirements please contact them directly.</p>
        <hr />
        <input type="submit" class="button large" value="Allow edits"/>
    </form>

    <th:block th:insert="fragments/layout :: main-content-end"/>
</main>

<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>

</body>
</html>
