<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle=|Project team - ${model.projectName}|"/>
</head>
<body class="govuk-template__body project-detail team"
      th:classappend="${model.internal ? 'competition-management' : ''}">

<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>
<th:block th:insert="fragments/modals :: modal-overlay"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner"/>
    <th:block th:unless="${model.internal}">
        <th:block th:insert="fragments/layout :: header-sub"
                  th:with="linkTitle='Set up your project',linkUrl=@{/project/{id}(id=${model.projectId})}"/>
    </th:block>

    <th:block th:if="${model.internal}">
        <th:block th:insert="fragments/layout :: header-sub"
                  th:with="linkTitle='Projects in setup',linkUrl=@{/competition/{id}/status (id=${model.competitionId})}, dynamicBackLink=${true}"/>
    </th:block>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div th:if="${#fields.hasErrors('${form.*}')}" class="govuk-error-summary" role="alert"
             aria-labelledby="error-summary-title" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
            <th:block th:insert="fragments/elements :: error-summary-list(form)"/>
        </div>

        <th:block th:insert="fragments/layout :: page-title"
                  th:with="pageTitle='Project team',subTitle=${model.projectName},size='govuk-heading-xl'"/>

        <th:block th:if="${model.collaborativeProject}">
            <p class="govuk-body">The lead partner must choose a project manager who will be responsible for setting up
                the project. Each partner must provide a finance contact. We will contact the assigned person with any
                finance queries.</p>
            <th:block th:if="${model.internalUserView}">
                <p class="govuk-body">Everyone below can view all of project setup. If they add a new person they will
                    show as pending until they register for the website.</p>
            </th:block>
            <th:block th:unless="${model.internalUserView}">
                <p class="govuk-body">Everyone below can view all of project setup. If you add a new person they will
                    show as pending until they register for the website.
                    Once they register you can assign them a role.</p>
            </th:block>
        </th:block>

        <th:block th:unless="${model.collaborativeProject}">
            <th:block th:if="${model.internalUserView}">
                <p class="govuk-body">The organisation must choose a project manager who is responsible for setting up
                    the project and a finance contact to answer finance queries.</p>
                <p class="govuk-body">The team can view all of project setup. If a new person is added to the team, they
                    are shown as pending until they register for the service.</p>
            </th:block>
            <th:block th:unless="${model.internalUserView}">
                <p class="govuk-body">You must choose:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>a project manager, who will be responsible for setting up the project</li>
                    <li>a finance contact we can approach for queries</li>
                </ul>
                <p class="govuk-body">All members of your team can view all of project setup. If you add a new person
                    they will show as pending until they register for the website. Once they register you can assign
                    them a role.
                </p>
            </th:block>
        </th:block>

        <th:block th:unless="${model.internal or model.readOnly}">
            <th:block th:insert="projectteam/project-team-fragments :: assign-role(${model})"/>
        </th:block>

        <form th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}" th:object="${form}" novalidate="novalidate"
              method="post">
            <th:block th:each="organisation: ${model.partners}">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    <th:block th:text="${organisation.name}"></th:block>
                    <th:block th:if="${organisation.lead && model.collaborativeProject}">(Lead)</th:block>
                </h2>
                <table class="govuk-table"
                       th:classappend="${organisation.canAddUsers ? 'govuk-!-margin-bottom-2' : ''}">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Full name</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Email</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">
                            <th:block th:if="${model.internal}">Role</th:block>
                            <span class="govuk-visually-hidden">Remove</span></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr th:each="user : ${organisation.users}"
                        class="govuk-table__row">
                        <th:block
                            th:insert="projectteam/project-team-fragments :: partner-invite-row(${model}, ${organisation}, ${user})"
                            th:if="${organisation.partnerInvite}"/>
                        <th:block
                            th:insert="projectteam/project-team-fragments :: project-invite-row(${model}, ${organisation}, ${user})"
                            th:if="${user.invite && !organisation.partnerInvite}"/>
                        <th:block
                            th:insert="projectteam/project-team-fragments :: project-user-row(${model}, ${organisation}, ${user})"
                            th:if="${!user.invite && !organisation.partnerInvite}"/>
                    </tr>
                    </tbody>
                </table>
                <th:block th:if="${organisation.canAddUsers}">
                    <th:block th:insert="projectteam/project-team-fragments :: invite-form(${model}, ${organisation})"/>
                </th:block>
                <span th:if="${!organisation.lead and model.canRemovePartnerOrganisation and organisation.canAddUsers}"
                      class="vertical-align-baseline govuk-body govuk-!-margin-left-1 govuk-!-margin-right-1 hint">|</span>
                <th:block th:if="${!organisation.lead and model.canRemovePartnerOrganisation}">
                    <th:block th:unless="${organisation.partnerInvite}">
                        <button name="remove-organisation"
                                class="vertical-align-baseline button-clear govuk-!-margin-bottom-6"
                                th:attr="data-js-modal=${'modal-project-team-remove-organisation-' + organisation.id}">
                            Remove organisation
                        </button>
                    </th:block>
                    <th:block
                        th:insert="fragments/modals :: modal-project-team-remove-organisation (${organisation})"/>
                </th:block>
                <th:block th:if="${organisation.partnerInvite and model.canInvitePartnerOrganisation}">
                    <button name="remove-partner-invite"
                            class="vertical-align-baseline button-clear govuk-!-margin-bottom-6"
                            type="submit"
                            th:value="${organisation.id}">
                        Remove organisation
                    </button>
                </th:block>
            </th:block>
        </form>


        <p th:if="${model.canInvitePartnerOrganisation}"
           class="govuk-body">
            <a th:href="@{/competition/{competitionId}/project/{projectId}/team/partner(competitionId=${model.competitionId}, projectId=${model.projectId})}"
               class="govuk-link">Add a partner organisation</a>
        </p>
        <th:block th:unless="${model.internal}">
            <a th:href="@{/project/{id}(id=${model.projectId})}" class="govuk-button govuk-button--secondary">Return to setup your project</a>
        </th:block>

        <th:block th:insert="fragments/layout :: main-content-end"/>
    </main>
</div>

<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>
<th:block th:unless="${model.internal}">
    <th:block th:insert="fragments/service-layout :: body-end"/>
</th:block>

</body>
</html>

