apiVersion: v1
kind: Service
metadata:
  name: application-svc
  labels:
    app: application-svc
  annotations:
    javaDebug: javaDebug
spec:
  ports:
    - name: 8080-tcp
      port: 8080
      targetPort: 8080
    - name: 8009-tcp
      port: 8009
      targetPort: 8009
  selector:
    app: application-svc
