<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Before you apply'" />
</head>
<body th:with="context='applicant'" class="assessment-review">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Competition eligibility',linkClass='link-back',linkUrl=@{eligibility},currentApplication=${currentApplication}" />


    <div class="page-title">
        <h1 class="heading-xlarge no-margin" th:text="${currentCompetition.name}" />
        <h2 class="heading-large">Before you apply</h2>
    </div>
    <p>This innovation funding service is an online service run by Innovate UK. It provides the process and online support to apply for funding offered through Innovate UK competitions. As the lead organisation you will be seeking funding for your project.</p>
    <hr />

    <h3 class="heading-medium">Creating an account</h3>
    <p>When you create an account you will be able to:</p>

    <ul class="list list-bullet">
      <li>apply for competitions</li>
      <li>track competition applications</li>
      <li>view application feedback</li>
      <li>set up successful projects</li>
    </ul>

    <h3 class="heading-medium">Lead organisation</h3>
    <p>You are the lead organisation if:</p>

    <ul class="list list-bullet">
      <li>you are responsible for collecting the information for the application</li>
      <li>you are responsible for inviting other contributors and/or collaborators</li>
      <li>you will lead the project if your application is successful</li>
    </ul>

    <h3 class="heading-medium">Contributors and collaborators</h3>
    <p>You may invite contributors from your organisation to help you complete your application.</p>
    <p>You may collaborate with partner organisations to deliver the project. You will need to invite collaborators as representatives of your partners to complete the application. Collaborators are responsible for entering their own project costs and contributions into the application. As the lead organisation you will be able to see a summary of your partners’ costs but will not see the detailed breakdown.</p>
    <p>Partner organisations may be:</p>

    <ul class="list list-bullet">
      <li>other businesses</li>
      <li>research organisations</li>
      <li>a public sector organisation</li>
      <li>a charity</li>
    </ul>

    <p>When you start your application you will be asked to invite contributors and collaborators.</p>

    <h3 class="heading-medium">Research partners</h3>
    <p>Innovate UK supports UK businesses to fund research innovation. We recognise the value of businesses collaborating with academic and other research partners. In order for your research project to be eligible to claim a grant there are participation rules. These rules limit the amount of involvement a research partner may have in your project. The participation rules will be set out in the eligibility criteria for each competition.</p>
    <p>You will not be able to submit your application if your research participation is over the stated percentage for the competition.</p>

    <h3 class="heading-medium">Business eligibility</h3>
    <p>To be eligible to claim public funding for your project, your business must be registered in the UK at the project start. You must also deliver the project in the UK.</p>
    <p>As a business, Innovate UK will fund a percentage of your eligible project costs. You must be able to fund the remainder of the project costs yourselves. The amount of grant funding you can claim will depend upon the size of your organisation and the type of research activity you are undertaking in the project. For further information please see our <a href="https://www.gov.uk/guidance/innovate-uk-funding-general-guidance-for-applicants#funding-rules">funding rules</a>.</p>

    <h3 class="heading-medium">Project costs</h3>
    <p>As a business, if your application is successful, Innovate UK will fund a percentage of your eligible project costs. To be eligible, your costs must be directly incurred as a result of you delivering your research and development project. There are some types of cost which are not eligible. For full details on what costs you can claim please see our <a href="https://www.gov.uk/government/publications/innovate-uk-completing-your-application-project-costs-guidance">project costs guidance</a>.</p>
    <p>Innovate UK pays costs quarterly in arrears. You need to submit a claim for those costs and provide evidence of you incurring them.</p>

    <h3 class="heading-medium">Your application</h3>
    <p>Before you apply into the competition, we recommend you take a look at the questions you will need to answer. It is likely that you will need to take some time to prepare the answers to these questions. By creating an account you and your contributors can log back into the service to work on your application as you collate the information.</p>
    <p>The competition has an application deadline. Please note that this is absolute and will not be extended. We receive a high volume of applications into competitions and the service is typically very busy on the last couple of days prior to a deadline. We recommend that you do not leave your application to the last minute. Service volumes during this period are high and may cause the service to be slower than usual.</p>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
