<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block
        th:fragment="organisation-details-view(organisationDetails)">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table govuk-!-margin-bottom-6">
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Organisation name</th>
                    <td class="govuk-table__cell"th:text="${organisationDetails.organisationName}"></td>
                </tr>
                <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Organisation type</th>
                        <td class="govuk-table__cell"th:text="${organisationDetails.organisationType}"></td>
                </tr>
                <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">UKPRN number</th>
                        <td class="govuk-table__cell"th:text="${organisationDetails.registrationNumber}"></td>
                </tr>
                <tr class="govuk-table__row form-group-row">
                        <th scope="row" class="govuk-table__header vertical-align-top">Registered address</th>
                        <td class="govuk-table__cell form-group-cell fix-left">
                            <div th:each="addressLine : ${organisationDetails.getRegisteredAddressString()}" th:text="${addressLine}" />
                        </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>
