<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Confirm rejection'" cache:name="Confirm-rejection" />
    </head>

    <body th:with="context='assessment'" class="reject-invitation-confirm">
        <th:block th:insert="fragments/layout :: body-start"  cache:name="body-start" />
        <th:block th:insert="fragments/layout :: global-header"  />

        <main id="content">
            <th:block th:insert="fragments/layout :: main-content-start"  cache:name="main-content-start" />

            <div class="page-title">
                <h1 class="heading-xlarge">Confirm rejection</h1>
            </div>

            <p>Are you sure you want to reject <strong>'<span th:text="${model.competitionName}" th:remove="tag" />'</strong>?</p>

            <th:block th:insert="fragments/assessment :: assessor-reject-competition-form (inviteHash=${model.competitionInviteHash})"  />

            <th:block th:insert="fragments/layout :: main-content-end"  cache:name="main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer"  cache:name="footer" />
        <th:block th:insert="fragments/layout :: body-end"  cache:name="body-end" />
    </body>
</html>
