<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:include="fragments/layout :: head" th:with="pageTitle='Invitation to assess'" th:remove="tag" />
    </head>

    <body th:with="context='assessment'" class="app-dashboard">
        <div th:include="fragments/modals :: modal-overlay" th:remove="tag"/>
        <div th:include="fragments/assessment :: assessor-reject-competition-modal (inviteHash=${model.competitionInviteHash})" th:remove="tag" />
        <div th:include="fragments/layout :: body-start" th:remove="tag" />
        <div th:include="fragments/layout :: global-header" th:remove="tag" />

        <main id="content">
            <div th:include="fragments/layout :: main-content-start" th:remove="tag"/>

            <div class="page-title">
                <h1 class="heading-xlarge" th:text="|Invitation to assess '${model.competitionName}'|">Invitation to assess 'My Competition'</h1>
            </div>

            <p>You are invited to act as an assessor for the competition <strong>'<span th:text="${model.competitionName}" th:remove="tag" />'</strong>.<!--/* Please read the information below and confirm whether you are available to assess applications for this competition./*/--></p>

            <section class="boxed">
                <h2 class="heading-medium no-margin" th:text="|${#temporals.format(model.acceptsDate, 'd MMMM yyyy')} to ${#temporals.format(model.deadlineDate, 'd MMMM yyyy')} - assessment period|">15 - 25 April -  assessment period</h2>
                <!--/*p>This is the allocated timescale for reading, scoring, providing written comments and submitting your assessments in our online service. Each assessor could receive up to 10 proposals to assess, however the number could be less dependant on how many applications have been submitted. Our assessment fee for this competition is &pound;100 per application.</p>

                <p>The assessor webinar briefing is mandatory and will last one hour, taking place on 21 March.</p*/-->
            </section>

            <section>
                <!--/*h2 class="heading-medium">Competition details - Technology Inspired</h2>
                <p>Innovate UK is to invest up to &pound;3 million in feasibility studies to stimulate innovation across four enabling technology areas that underpin future UK growth: advanced materials; biosciences; electronics, sensors and photonics; and information and communication technology (ICT).</p>

                <p><a href="#" rel="external">See competition brief</a></p/*/-->

                <h3 class="heading-small">You should reject this competition if:</h3>
                <ul class="list-bullet">
                    <li>you are unavailable for the assessment period dates</li>
                    <li>you are unable to meet the assessment deadlines</li>
                    <li>this competition is outside your area of expertise</li>
                    <li>you have a direct conflict of interest, for example intending to apply to this competition yourself</li>
                </ul>
            </section>

            <form th:action="@{/invite/competition/{inviteHash}/accept(inviteHash=${model.competitionInviteHash})}" method="POST">
                <h2 class="heading-medium">Are you available to assess this competition?</h2>
                <button class="button large extra-margin" type="submit">Accept</button>
                <a class="button button-warning large extra-margin" th:href="@{/invite/competition/{inviteHash}/reject/confirm(inviteHash=${model.competitionInviteHash})}" data-js-modal="reject-competition-modal">Reject</a>
            </form>

            <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
        </main>

        <div th:include="fragments/layout :: footer" th:remove="tag" />
        <div th:include="fragments/layout :: body-end" th:remove="tag" />
    </body>
</html>
