<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Assessor dashboard'" />
</head>

    <body th:with="context='assessment'" class="assessor-dashboard">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />

            <div class="page-title">
                <h1 class="heading-xlarge">Assessor dashboard</h1>
            </div>

            <div class="message-alert extra-margin-bottom" th:unless="${model.profileStatus.complete}">
                <h2 class="heading-small no-margin">Complete your assessor account</h2>

                <p>
                    Please complete the following sections of your account. We cannot assign applications to you for
                    assessment until these sections are complete.
                </p>
                <ul class="list list-bullet extra-margin-top">
                    <li th:unless="${model.profileStatus.skillsComplete}">
                        <a th:href="@{/profile/skills/edit}">your skills</a>
                    </li>
                    <li th:unless="${model.profileStatus.affiliationsComplete}">
                        <a th:href="@{/profile/declaration/edit}">your declaration of interest</a>
                    </li>
                    <li th:unless="${model.profileStatus.agreementComplete}">
                        <a th:href="@{/profile/agreement}">your assessor agreement</a>
                    </li>
                </ul>
            </div>

            <div class="invite-to-assess" th:unless="${#lists.isEmpty(model.pendingInvites)}">
                <div class="progress-list">
                    <h2 class="heading-medium">Invitations to assess (<span
                        th:text="${#lists.size(model.pendingInvites)}"/>)</h2>
                    <ul>
                        <li th:each="pendingInvite : ${model.pendingInvites}" class="status-2-col">
                            <div class="task">
                                <h3 class="heading-small"><a
                                    th:href="@{/invite/competition/{hash}(hash=${pendingInvite.hash})}"
                                    th:text="${pendingInvite.displayLabel}">Technology inspired</a></h3>
                                    <p class="no-margin">You have been asked to assess this competition. Please respond.</p>
                            </div>
                            <div class="assessment-period">
                                <h3 class="heading-small no-margin">Assessment period</h3>
                                <dl class="standard-definition-list reduced-width">
                                    <dt>Begins</dt>
                                    <dd th:text="${#temporals.format(pendingInvite.assessmentPeriodDateFrom, 'd MMMM yyyy')}">
                                        15 November 2017
                                    </dd>
                                    <dt>Ends</dt>
                                    <dd th:text="${#temporals.format(pendingInvite.assessmentPeriodDateTo, 'd MMMM yyyy')}">
                                        25 December 2017
                                    </dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="my-applications">
                <div th:unless="${#lists.isEmpty(model.activeCompetitions)}" th:remove="tag">

                    <div class="progress-list">
                        <h2 class="heading-medium no-margin-top">Competitions for assessment (<span
                            th:text="${#lists.size(model.activeCompetitions)}"/>)</h2>
                        <ul>
                            <li th:each="activeCompetition : ${model.activeCompetitions}">
                                <div class="task">
                                    <h3 class="heading-small"><a
                                        th:href="@{/assessor/dashboard/competition/{competitionId}(competitionId=${activeCompetition.competitionId})}"
                                        th:text="${activeCompetition.displayLabel}"/></h3>
                                    <div class="action-required">
                                        <strong>
                                            <span th:text="${activeCompetition.progressTotal - activeCompetition.progressAssessed}" class="accepted-applications">
                                                COUNT
                                            </span> applications to assess
                                        </strong>
                                    </div>
                                </div>
                                <div class="status">
                                    <div class="status-msg msg-deadline">
                                        <strong class="bold-medium days-remaining" th:text="${activeCompetition.daysLeft}"></strong>
                                        <br />
                                        days left <br />
                                        Deadline
                                        <span class="day" th:text="${#temporals.day(activeCompetition.submitDeadline)}">END DAY</span>
                                        <span class="month" th:text="${#temporals.monthName(activeCompetition.submitDeadline)}">END MONTH</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="upcoming-to-assess" th:unless="${#lists.isEmpty(model.upcomingCompetitions)}">
                <div class="progress-list"><h2 class="heading-medium">Upcoming competitions to assess (<span
                    th:text="${#lists.size(model.upcomingCompetitions)}"/>)</h2>
                    <ul>
                        <li th:each="upcomingCompetition : ${model.upcomingCompetitions}" class="status-2-col">
                            <div class="task">
                                <h3 class="heading-small">
                                    <a th:href="@{/competition/{competitionId}/upcoming(competitionId=${upcomingCompetition.competitionId})}"
                                       th:text="${upcomingCompetition.displayLabel}"/>
                                </h3>
                                <p class="no-margin">Upcoming competition</p>
                            </div>
                            <div class="assessment-period">
                                <h3 class="heading-small no-margin">Assessment period</h3>
                                <dl class="standard-definition-list reduced-width">
                                    <dt>Begins</dt>
                                    <dd th:text="|${#temporals.day(upcomingCompetition.assessmentPeriodDateFrom)} ${#temporals.monthName(upcomingCompetition.assessmentPeriodDateFrom)}|">15 November 2017</dd>
                                    <dt>Ends</dt>
                                    <dd th:text="|${#temporals.day(upcomingCompetition.assessmentPeriodDateTo)} ${#temporals.monthName(upcomingCompetition.assessmentPeriodDateTo)}|">25 December 2017</dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <h2 class="heading-medium">Your assessor details</h2>
            <ul class="list list-bullet">
                <li>
                    <a th:href="@{/profile/skills}">your skills</a>
                </li>
                <li>
                    <a th:href="@{/profile/declaration}">your declaration of interest</a>
                </li>
                <li>
                    <a th:href="@{/profile/agreement}">your assessor agreement</a>
                </li>
                <li>
                    <a th:href="@{/profile/travel}">travel and subsistence rates</a>
                </li>
            </ul>

            <h2 class="heading-medium">Your profile</h2>
            <ul class="list list-bullet">
                <li>
                    <a th:href="@{/profile/details}">your details</a>
                </li>
                <!--/* TODO INFUND-7057
                <li>
                    <a th:href="">change your password</a>
                </li>
                */-->
            </ul>

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
