<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Upcoming competition'" />
    </head>

    <body th:with="context='assessment'" class="app-dashboard">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />
            <th:block th:insert="fragments/assessment :: assessment-header-sub (linkTitle='Assessor dashboard',linkClass='link-back',linkUrl=@{/assessor/dashboard})" />

            <div class="page-title">
                <h1 class="heading-xlarge" th:text="|Upcoming competition '${model.competitionName}'|">Upcoming competition 'My Competition'</h1>
            </div>

            <p th:text="|You have agreed to be an assessor for the upcoming competition '${model.competitionName}'|">You have agreed to be an assessor for the upcoming competition 'My Competition'</p>

            <section class="boxed" th:with="dateFormat=${model.assessmentPeriodDateFrom.year!=model.assessmentPeriodDateTo.year} ? 'dd MMMM yyyy' : 'dd MMMM'">
                <h2 class="heading-medium no-margin">
                    <span th:text="|${#temporals.format(model.assessmentPeriodDateFrom,dateFormat)} to ${#temporals.format(model.assessmentPeriodDateTo,dateFormat)}: Assessment period|" th:remove="tag"/>
                </h2>
                <p>Assessment period for reading, scoring, providing written comments and submitting to our online
                    service. Each assessor could receive up to 10 applications to assess. This depends on the
                    application response. Our assessment fee for this competition is &pound;<span
                            th:text="${#numbers.formatDecimal(model.assessorPay,0, 'COMMA', 0, 'POINT')}" th:remove="tag">100</span> per application.</p>

                <p th:if="${model.assessorBriefingDate}">The assessor briefing is mandatory. It will consist of a one
                    hour webinar on <span th:text="${#temporals.format(model.assessorBriefingDate,dateFormat)}"
                                          th:remove="tag">21 March 2017</span>.</p>
            </section>

            <section>
                <h2 class="heading-medium" th:text="|Competition details: ${model.competitionName}|">Competition details: My Competition</h2>
                <p th:text="${model.competitionDescription}">Competition description</p>

                <p><a th:href="@{~/competition/{cid}/overview(cid=${model.competitionId})}" target="_blank" rel="external noopener noreferrer">View competition brief (opens in a new window)</a></p>

                <p>If you have any queries, please contact the competitions team <a href="mailto:competitions@innovateuk.gov.uk">competitions@innovateuk.gov.uk</a>.</p>
            </section>

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
