<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<!-- ======== Assessment - research category ======= -->
<div th:fragment="assessor_research_category">
    <div class="form-group extra-margin">
        <label class="form-label" for="research-category">
            <span class="form-label-bold">Please select the research category for this project</span>
        </label>
        <select class="form-control" id="research-category" name="research-category">
            <option value="">Please select...</option>
            <option value="Technical feasibility studies">Technical feasibility studies</option>
            <option value="Industrial research">Industrial research</option>
            <option value="Experimental development">Experimental development</option>
        </select>
    </div>
</div>


<!-- ======== Assessment - assessor feedback textarea and word count ======= -->
<div th:fragment="textarea (formInput)">
    <!-- (id=${model.questionId}, name=${inputName}, value=*{value}, readonly=false, maxWords=${model.feedbackWordsLimit}, currentWordsLeft=${model.feedbackWordsRemaining}) -->
    <fieldset>
        <legend class="visuallyhidden">Question feedback</legend>
        <div class="form-group">
            <div class="form-group">
                <label class="form-label form-label-bold" for="assessor-question-feedback-text">Feedback
                    <span class="form-hint">Please justify your score by writing two or three sentences which will be returned to the applicant as feedback</span>
                </label>

                <!--details th:unless="${#strings.isEmpty(model.assessorGuidanceQuestion)}">
                    <summary>
                        <span class="summary" th:text="${model.assessorGuidanceQuestion}" />
                    </summary>
                    <div class="panel-indent" ifs:utext="${model.assessorGuidanceAnswer}" />
                </details-->

                <div class="textarea-wrapped word-count">
                    <textarea th:field="*{formInput}" th:attrappend="data-max_words=${maxWords != null}?@{${maxWords}}">
                    </textarea>

                    <div class="textarea-footer">
                        <div th:include="question-type/form-elements :: form-word-count (maxWords=${maxWords}, currentWordsLeft=${currentWordsLeft})" th:remove="tag"/>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>


<!-- =================== Assessment feedback score ============================== -->
<div th:fragment="assessor_score (formInput)">
    <fieldset>
        <legend class="visuallyhidden">Question score</legend> 
        <div class="form-group">
            <label class="form-label form-label-bold" for="assessor-question-score">Question score</label>
            <select class="form-control width-medium" th:field="*{formInput}" id="assessor-question-score">
                <option value="">Set score</option>
                <option th:value="${val}" th:text="${val}" th:each="val : ${#numbers.sequence(1,10)}" th:selected="${formInput == val}" />
            </select> / 10
        </div>
    </fieldset>
</div>


<!-- =================== Assessment feedback scope ============================== -->
<div th:fragment="assessor_application_in_scope (formInput)">
    <h2 class="heading-small">Is this application in scope?</h2>
    <fieldset class="inline">
        <legend class="visuallyhidden">Is this application in scope?</legend>
        <div class="form-group">
            <label class="block-label" th:each="option : ${ { true, false } }">
                <input th:field="*{formInput}" th:value="${option}" type="radio" th:checked="${option == formInput}" />
                <span th:text="${option ? 'Yes' : 'No'}" th:remove="tag" />
            </label>
        </div>
    </fieldset>
</div>


</html>