<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<!-- ======== Assessment - sub header back to assessment overview ======= -->
<div th:fragment="assessment-header-sub">
    <div class="sub-header">
       <a th:if="${linkTitle != null and linkUrl != null}"
          th:class="${linkClass != null ? linkClass : ''}"
          th:href="${linkUrl}"
          th:text="${linkTitle}" />
          <div class="deadline" th:if="${daysPercentage != null and daysLeft != null}">Days left to submit&nbsp;&nbsp;
          <div th:include="fragments/elements :: pie-small" th:with="daysPercentage=${daysPercentage},daysLeft=${daysLeft}" th:remove="tag" />
        </div>
    </div>
</div>


<!-- =================== Application details ============================== -->
<div th:fragment="application_details (currentApplication, applicationOrganisations, pendingOrganisationNames, leadOrganisation)" th:remove="tag">
    <div class="grid-row">
        <div class="column-half">
            <h3 class="heading-small">Project title</h3>
            <p th:text="${currentApplication.name}" />
            <h3 class="heading-small">Lead organisation</h3>
            <p th:text="${leadOrganisation.name}" />
            <h3 class="heading-small">Partners</h3>
            <ul class="list-bullet">
                <li th:each="organisation : ${applicationOrganisations}" th:unless="${organisation.equals(leadOrganisation)}">
                    <span th:text="${organisation.getName()}"></span>
                </li>
                <li th:each="pendingOrganisationName : ${pendingOrganisationNames}">
                    <span th:text="${pendingOrganisationName}"></span>
                    <small>(pending)</small>
                </li>
            </ul>
        </div>
        <div class="column-half">
            <h3 class="heading-small">Project timescales</h3>
            <p>Project start date:<br/>
            <span th:if="${currentApplication.getStartDate() != null}" th:text="${#temporals.format(currentApplication.getStartDate(), 'd/M/yyyy')}" th:remove="tag" />
            </p>
            <p>Duration:<br/><span th:remove="tag" th:text="${currentApplication.getDurationInMonths()}" /> months</p>
        </div>
    </div>
</div>


<!-- ======== Assessment - assessor summary section ======= -->
<div th:fragment="assessment-summary-section (question)">
    <h2>
        <span th:text="${question.getDisplayLabel()}" />
        <div th:if="${question.isComplete()}" class="section-status section-complete">Complete</div>
        <div th:unless="${question.isComplete()}" class="section-status section-incomplete">Incomplete</div>

        <div class="section-score">
            Score:
            <span th:text="|${question.values.get('SCORE')}/${question.getScorePossible()}|" th:if="${question.values.get('SCORE')}" th:remove="tag" />
<span th:unless="${question.values.get('SCORE')}" th:remove="tag">N/A</span>
        </div>
    </h2>
    <div class="question">
        <div class="form-group">
            <p th:text="${question.values.get('FEEDBACK')}" />
            <p><a th:href="@{/{id}/question/{quid}(id=${assessmentId}, quid=${question.questionId})}">Return to this question in the application</a></p>
        </div>
    </div>
</div>


<!-- ======== Assessment - assessor summary total score ======= -->
<div th:fragment="assessment-summary-total-score(totalGiven, totalPossible, totalPercentage)">
    <div class="extra-margin alignright">
        <p class="no-margin">
            <strong>Total: <span th:text="${totalGiven}" th:remove="tag">0</span>/<span th:text="${totalPossible}" th:remove="tag">100</span></strong>
        </p>
        <p>
            <strong><span th:text="${totalPercentage}+'%'" th:remove="tag">0%</span></strong>
        </p>
    </div>
</div>


</html>