<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Create a new application?'" />
</head>
<body th:with="context='applicant'" class="create-application-eligibility">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="fragments/layout :: header-sub"          th:with="linkTitle='Back',linkClass='link-back',linkUrl='javascript:history.back()',currentApplication=${currentApplication}" />
    <div class="grid-row">


        <h1 class="heading-large">You have an application in progress</h1>
        <p>You have already started an application in this competition. Do you want to continue with your existing application or create a new one in the same competition?</p>

        <form method="post" action="#" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}">

            <fieldset>
                <legend class="visuallyhidden">Create a new application?</legend>
                <div class="form-group">
                    <label class="block-label selection-button-radio" for="new-application-yes">
                        <input id="new-application-yes"
                               type="radio"
                               th:name="create-application"
                               value="true"/>
                         Yes, I want to create a new application.
                    </label>
                    <label class="block-label selection-button-radio" for="new-application-no">
                        <input type="radio"
                               id="new-application-no"
                               name="create-application"
                               value="false"/>
                        No, I want to continue with my existing application.
                    </label>
                </div>
            </fieldset>


            <button type="submit" name="create-application-submit" class="button">
                Continue
            </button>
        </form>


    </div>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
