<!-- =================Application question=========================== -->
<div th:fragment="application-question(question, editable)" xmlns:th="http://www.w3.org/1999/html">
    <th:block th:unless="${editable}">
        <fieldset>
            <legend class="visuallyhidden">Application question</legend>
            <h2 class="heading-medium extra-margin">Application question</h2>

            <dl class="application-question-list grid-row">
                <dt class="column-third">Question heading</dt>
                <dd class="column-two-thirds" th:if="${#strings.isEmpty(question.shortTitle)}">None</dd>
                <dd class="column-two-thirds" th:unless="${#strings.isEmpty(question.shortTitle)}" th:text="${question.shortTitle}"></dd>
                <dt class="column-third">Question title</dt>
                <dd class="column-two-thirds" th:if="${#strings.isEmpty(question.title)}">None</dd>
                <dd class="column-two-thirds" th:unless="${#strings.isEmpty(question.title)}" th:text="${question.title}"></dd>
                <dt class="column-third">Question subtitle</dt>
                <dd class="column-two-thirds" th:if="${#strings.isEmpty(question.subTitle)}">None</dd>
                <dd class="column-two-thirds" th:unless="${#strings.isEmpty(question.subTitle)}" th:text="${question.subTitle}"></dd>
                <dt class="column-third">Guidance title</dt>
                <dd class="column-two-thirds" th:if="${#strings.isEmpty(question.guidanceTitle)}">None</dd>
                <dd class="column-two-thirds" th:unless="${#strings.isEmpty(question.guidanceTitle)}" th:text="${question.guidanceTitle}"></dd>
                <dt class="column-third">Guidance</dt>
                <dd class="column-two-thirds" th:if="${#strings.isEmpty(question.guidance)}">None</dd>
                <dd class="column-two-thirds wysiwyg-styles" th:unless="${#strings.isEmpty(question.guidance)}" ifs:utext="${question.guidance}"></dd>
                <dt class="column-third">Max word count</dt>
                <dd class="column-two-thirds" th:text="${question.maxWords}"></dd>
                <th:block th:if="${question.appendix != null}">
                    <dt class="column-third">Appendix</dt>
                    <dd class="column-two-thirds" th:if="${question.appendix}">Yes</dd>
                    <dd class="column-two-thirds" th:unless="${question.appendix}">No</dd>
                </th:block>
            </dl>
        </fieldset>
        <fieldset th:if="${question.scored != null or question.writtenFeedback != null or question.researchCategoryQuestion != null or question.scope != null}">
            <legend class="visuallyhidden">Assessment of this question</legend>
            <h2 class="heading-medium extra-margin">Assessment of this question</h2>

            <dl class="application-question-list grid-row">
                <th:block th:if="${question.scored != null}">
                    <dt class="column-third">Scored</dt>
                    <dd class="column-two-thirds" th:text="${question.scored ? 'Yes' : 'No'}"></dd>
                    <th:block th:if="${question.scored}">
                        <dt class="column-third">Out of</dt>
                        <dd class="column-two-thirds" th:text="${question.scoreTotal}"></dd>
                    </th:block>
                </th:block>

                <th:block th:if="${question.writtenFeedback != null}">
                    <dt class="column-third">Written feedback</dt>
                    <dd class="column-two-thirds" th:text="${question.writtenFeedback ? 'Yes' : 'No'}"></dd>
                    <th:block th:if="${question.writtenFeedback}">
                        <dt class="column-third">Guidance title</dt>
                        <dd class="column-two-thirds" th:if="${#strings.isEmpty(question.assessmentGuidanceTitle)}">None</dd>
                        <dd class="column-two-thirds" th:unless="${#strings.isEmpty(question.assessmentGuidanceTitle)}" th:text="${question.assessmentGuidanceTitle}"></dd>
                        <dt class="column-third">Guidance</dt>
                        <dd class="column-two-thirds">
                            <p th:text="${question.assessmentGuidance}">Your score should be based on the following:</p>
                            <dl class="grid-row extra-margin">
                                <th:block th:each="score : ${question.guidanceRows}">
                                    <dt class="column-quarter" th:text="${score.subject != null ? score.subject.replace(',', '-') : score.subject}"></dt>
                                    <dd class="column-three-quarters" th:text="${score.justification}"></dd>
                                </th:block>
                            </dl>
                        </dd>
                        <dt class="column-third">Max word count</dt>
                        <dd class="column-two-thirds" th:text="${question.assessmentMaxWords}"></dd>
                    </th:block>
                </th:block>

                <th:block th:if="${question.researchCategoryQuestion != null}">
                    <dt class="column-third">Research category question</dt>
                    <dd class="column-two-thirds" th:text="${question.researchCategoryQuestion ? 'Yes' : 'No'}"></dd>
                </th:block>
                <th:block th:if="${question.scope != null}">
                    <dt class="column-third">Scope 'Y/N' question</dt>
                    <dd class="column-two-thirds" th:text="${question.scope ? 'Yes' : 'No'}"></dd>
                </th:block>
            </dl>
        </fieldset>
    </th:block>
    <th:block th:if="${editable}">

        <h2 class="heading-medium extra-margin">Application question</h2>

        <input type="hidden"
               th:name="question.questionId"
               th:value="${question.questionId}" />
        <input type="hidden"
               th:name="question.shortTitleEditable"
               th:value="${question.shortTitleEditable}" />
        <input type="hidden"
               th:name="question.type"
               th:value="${question.type}" />

        <div class="question">
            <div th:class="${#fields.hasErrors('question.shortTitle')}? 'form-group form-group-error':'form-group'">
                <label class="form-label" for="question.shortTitle">
                    <span class="form-label-bold">Question heading</span>
                    <span th:if="${#fields.hasErrors('question.shortTitle')}" th:remove="tag">
                        <span class="error-message"  th:each="err : ${#fields.errors('question.shortTitle')}" th:text="${err}" />
                    </span>
                </label>

                <input th:class="${#fields.hasErrors('question.shortTitle') ? 'form-control field-group-error width-x-large' : 'form-control width-x-large'}"
                       type="text"
                       required="required"
                       id="question.shortTitle"
                       th:name="question.shortTitle"
                       th:value="${question.shortTitle}"
                       th:readonly="${!question.shortTitleEditable}"
                       maxlength="255"/>
            </div>
            <div th:class="${#fields.hasErrors('question.title')}? 'form-group form-group-error':'form-group'">
                <label class="form-label" for="question.title">
                    <span class="form-label-bold">Question title</span>
                    <span th:if="${#fields.hasErrors('question.title')}" th:remove="tag">
                            <span class="error-message"  th:each="err : ${#fields.errors('question.title')}" th:text="${err}" />
                        </span>
                </label>

                <input th:class="${#fields.hasErrors('question.title') ? 'form-control field-group-error width-x-large' : 'form-control width-x-large'}"
                       type="text"
                       required="required"
                       id="question.title"
                       th:name="question.title"
                       th:value="${question.title}"
                       maxlength="255"/>
            </div>
            <div th:class="${#fields.hasErrors('question.subTitle')}? 'form-group form-group-error':'form-group'">
                <label class="form-label" for="question.subTitle">
                    <span class="form-label-bold">Question subtitle</span>
                    <span th:if="${#fields.hasErrors('question.subTitle')}" th:remove="tag">
                            <span class="error-message"  th:each="err : ${#fields.errors('question.subTitle')}" th:text="${err}" />
                        </span>
                </label>
                <input th:class="${#fields.hasErrors('question.subTitle') ? 'form-control field-group-error width-x-large' : 'form-control width-x-large'}"
                       type="text"
                       id="question.subTitle"
                       th:name="question.subTitle"
                       th:value="${question.subTitle}"
                       maxlength="255"/>
            </div>
            <div th:class="${#fields.hasErrors('question.guidanceTitle')}? 'form-group form-group-error':'form-group'">
                <label class="form-label" for="question.guidanceTitle">
                    <span class="form-label-bold">Question guidance title</span>
                    <span th:if="${#fields.hasErrors('question.guidanceTitle')}" th:remove="tag">
                            <span class="error-message"  th:each="err : ${#fields.errors('question.guidanceTitle')}" th:text="${err}" />
                        </span>
                </label>
                <input th:class="${#fields.hasErrors('question.guidanceTitle') ? 'form-control field-group-error width-x-large' : 'form-control width-x-large'}"
                       type="text"
                       id="question.guidanceTitle"
                       required="required"
                       th:name="question.guidanceTitle"
                       th:value="${question.guidanceTitle}"
                       maxlength="255"/>
            </div>
            <div th:class="${#fields.hasErrors('question.guidance')}? 'form-group form-group-error':'form-group'">
                <label class="form-label" for="question.guidance">
                    <span class="form-label-bold">Question guidance</span>
                    <span th:if="${#fields.hasErrors('question.guidance')}" th:remove="tag">
                            <span class="error-message"  th:each="err : ${#fields.errors('question.guidance')}" th:text="${err}" />
                        </span>
                </label>
                <div class="textarea-wrapped ">
                        <textarea data-max_words="500"
                                  data-editor="html"
                                  id="question.guidance"
                                  th:class="${#fields.hasErrors('question.guidance') ? 'field-error' : ''}"
                                  th:name="question.guidance"
                                  required="required"
                                  ifs:utext="${question.guidance}">
                        </textarea>
                    <div class="textarea-footer">
                        <span class="autosave-info"></span>
                    </div>
                </div>
            </div>
            <div th:class="${#fields.hasErrors('question.maxWords')}? 'form-group form-group-error':'form-group'">
                <label class="form-label" for="question.maxWords">
                    <span class="form-label-bold">Max word count</span>
                    <span th:if="${#fields.hasErrors('question.maxWords')}" th:remove="tag">
                            <span class="error-message"  th:each="err : ${#fields.errors('question.maxWords')}" th:text="${err}" />
                        </span>
                </label>
                <input th:class="${#fields.hasErrors('question.maxWords') ? 'form-control field-group-error width-medium' : 'form-control width-medium'}"
                       type="number"
                       id="question.maxWords"
                       min="1"
                       required="required"
                       th:name="question.maxWords"
                       th:value="${question.maxWords}"
                       th:attr="data-min-errormessage=#{validation.applicationquestionform.maxwords.min}"/>
            </div>
            <div class="form-group" th:if="${question.appendix != null}">
                <fieldset class="inline">
                    <legend class="form-label-bold">Appendix</legend>
                    <div class="multi-choice">
                        <input th:name="question.appendix" th:checked="${question.appendix}" value="1" type="radio" />
                        <label>
                            Yes
                        </label>
                    </div>
                    <div class="multi-choice">
                        <input th:name="question.appendix" th:checked="${!question.appendix}" value="0" type="radio" />
                        <label>
                            No
                        </label>
                    </div>
                </fieldset>
            </div>

            <th:block th:if="${competitionSetupForm.question.type == T(org.innovateuk.ifs.competition.resource.CompetitionSetupQuestionType).ASSESSED_QUESTION or competitionSetupForm.question.type == T(org.innovateuk.ifs.competition.resource.CompetitionSetupQuestionType).SCOPE}">

                <input type="hidden" name="competitionSetupForm.question.type" th:value="${T(org.innovateuk.ifs.competition.resource.CompetitionSetupQuestionType).ASSESSED_QUESTION}"/>

                <h2 class="heading-medium extra-margin">Assessment of this question</h2>

                <th:block th:if="${question.researchCategoryQuestion != null}">

                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="form-label-bold">Research category question</legend>
                            <div class="multi-choice">
                                <input th:name="question.researchCategoryQuestion" th:checked="${question.researchCategoryQuestion == true}" value="1" type="radio" />
                                <label>
                                    Yes
                                </label>
                            </div>
                            <div class="multi-choice">
                                <input th:name="question.researchCategoryQuestion" th:checked="${question.researchCategoryQuestion == false}" value="0" type="radio" />
                                <label>
                                    No
                                </label>
                            </div>
                        </fieldset>
                    </div>

                </th:block>

                <th:block th:if="${question.scored != null}">

                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="form-label-bold">Scored</legend>
                            <div class="multi-choice" data-target="score-total">
                                <input th:name="question.scored" th:checked="${question.scored == true}" value="1" type="radio" />
                                <label>Yes</label>
                            </div>
                            <div class="multi-choice">
                                <input th:name="question.scored" th:checked="${question.scored == false}" value="0" type="radio" />
                                <label>No</label>
                            </div>
                        </fieldset>
                    </div>
                </th:block>

                    <th:block th:if="${question.scored != null}">
                        <div class="form-group " th:classappend="${#fields.hasErrors('question.scoreTotal')}? 'form-group-error':''" id="score-total">
                            <label class="form-label" for="question.scoreTotal">
                                <span class="form-label-bold">Out of</span>
                                <span th:if="${#fields.hasErrors('question.scoreTotal')}" th:remove="tag">
                                        <span class="error-message"  th:each="err : ${#fields.errors('question.scoreTotal')}" th:text="${err}" />
                                    </span>
                            </label>
                            <input th:class="${#fields.hasErrors('question.scoreTotal') ? 'form-control field-group-error width-medium' : 'form-control width-medium'}"
                                   type="number"
                                   id="question.scoreTotal"
                                   min="1"
                                   required="required"
                                   th:name="question.scoreTotal"
                                   th:value="${question.scoreTotal}"/>
                        </div>
                    </th:block>

                    <th:block th:if="${question.scope != null}">

                        <div class="form-group">
                            <fieldset class="inline">
                                <legend class="form-label-bold">Scope 'Y/N' question</legend>
                                <div class="multi-choice">
                                    <input th:name="question.scope" th:checked="${question.scope == true}" value="1" type="radio" />
                                    <label>
                                        Yes
                                    </label>
                                </div>
                                <div class="multi-choice">
                                    <input th:name="question.scope" th:checked="${question.scope == false}" value="0" type="radio" />
                                    <label>
                                        No
                                    </label>
                                </div>
                            </fieldset>
                        </div>

                    </th:block>

                    <th:block th:if="${question.writtenFeedback != null}">

                        <div class="form-group">
                            <fieldset class="inline">
                                <legend class="form-label-bold">Written feedback</legend>
                                <div class="multi-choice" data-target="scored-options">
                                    <input th:name="question.writtenFeedback" th:checked="${question.writtenFeedback}" value="1" type="radio" />
                                    <label>Yes</label>
                                </div>
                                <div class="multi-choice">
                                    <input th:name="question.writtenFeedback" th:checked="${!question.writtenFeedback}" value="0" type="radio" />
                                    <label>No</label>
                                </div>
                            </fieldset>
                        </div>
                    </th:block>
                    <div class="js-hidden" id="scored-options">
                        <th:block th:if="${question.writtenFeedback != null}">
                        <div th:class="${#fields.hasErrors('question.assessmentGuidanceTitle')}? 'form-group form-group-error':'form-group'">
                            <label class="form-label" for="question.assessmentGuidanceTitle">
                                <span class="form-label-bold">Guidance title</span>
                                <span th:if="${#fields.hasErrors('question.assessmentGuidanceTitle')}" th:remove="tag">
                                        <span class="error-message"  th:each="err : ${#fields.errors('question.assessmentGuidanceTitle')}" th:text="${err}" />
                                    </span>
                            </label>
                            <input th:class="${#fields.hasErrors('question.assessmentGuidanceTitle') ? 'form-control field-group-error width-x-large' : 'form-control width-x-large'}"
                                   type="text"
                                   id="question.assessmentGuidanceTitle"
                                   th:name="question.assessmentGuidanceTitle"
                                   th:value="${question.assessmentGuidanceTitle}"
                                   required="required"/>
                        </div>

                        <div th:class="${#fields.hasErrors('question.assessmentGuidance')}? 'form-group form-group-error':'form-group'">
                            <label class="form-label" for="question.assessmentGuidance">
                                <span class="form-label-bold">Guidance</span>
                                <span th:if="${#fields.hasErrors('question.assessmentGuidance')}" th:remove="tag">
                                        <span class="error-message"  th:each="err : ${#fields.errors('question.assessmentGuidance')}" th:text="${err}" />
                                    </span>
                            </label>
                            <input th:class="${#fields.hasErrors('question.assessmentGuidance') ? 'form-control field-group-error width-x-large' : 'form-control width-x-large'}"
                                   type="text"
                                   id="question.assessmentGuidance"
                                   th:name="question.assessmentGuidance"
                                   th:value="${question.assessmentGuidance}"
                                   maxlength="255"/>
                        </div>

                        <div class="form-group">

                            <input type="hidden" name="removeGuidanceRow" />
                            <h3 class="heading-small">Guidance table</h3>
                            <table id="guidance-table" class="assessed-guidance" th:if="${competitionSetupForm.question.type == T(org.innovateuk.ifs.competition.resource.CompetitionSetupQuestionType).ASSESSED_QUESTION}">
                                <thead>
                                    <tr>
                                        <th scope="col">Score <span class="visuallyhidden"> from</span></th>
                                        <th scope="col"><span class="visuallyhidden">Score to</span></th>
                                        <th scope="col">Justification</th>
                                        <th scope="col"><span class="visuallyhidden">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="(score, iteration : ${competitionSetupForm.guidanceRows})">

                                        <tr th:id="${'guidance-'+iteration.index}">
                                            <td class="form-group" th:classappend="${#fields.hasErrors('guidanceRows[__${iteration.index}__].scoreFrom')} ? 'form-group-error'">
                                                <label class="form-label" th:for="${'guidanceRow-'+iteration.index+'-scorefrom'}">
                                                    <span class="visuallyhidden">Score from</span>
                                                    <th:block th:if="${#fields.hasErrors('guidanceRows[__${iteration.index}__].scoreFrom')}">
                                                        <span class="error-message"  th:each="err : ${#fields.errors('guidanceRows[__${iteration.index}__].scoreFrom')}" th:text="${err}" />
                                                    </th:block>
                                                </label>
                                                <input required="required"
                                                       type="number"
                                                       min="0"
                                                       class="form-control width-small"
                                                       th:errorclass="field-error"
                                                       th:id="${'guidanceRow-'+iteration.index+'-scorefrom'}"
                                                       th:field="${competitionSetupForm.guidanceRows[__${iteration.index}__].scoreFrom}"
                                                       th:attr="data-required-errormessage=#{validation.applicationquestionform.scorefrom.required},
                                                                data-min-errormessage=#{validation.applicationquestionform.scorefrom.min}" />
                                            </td>
                                            <td class="form-group" th:classappend="${#fields.hasErrors('guidanceRows[__${iteration.index}__].scoreTo')} ? 'form-group-error'">
                                                <label class="form-label" th:for="${'guidanceRow-'+iteration.index+'-scoreto'}">
                                                    <span class="visuallyhidden">Score to</span>
                                                    <th:block th:if="${#fields.hasErrors('guidanceRows[__${iteration.index}__].scoreTo')}">
                                                        <span class="error-message"  th:each="err : ${#fields.errors('guidanceRows[__${iteration.index}__].scoreTo')}" th:text="${err}" />
                                                    </th:block>
                                                </label>
                                                <input required="required" type="number" min="0"
                                                       class="form-control width-small"
                                                       th:errorclass="field-error"
                                                       th:id="${'guidanceRow-'+iteration.index+'-scoreto'}"
                                                       th:field="${competitionSetupForm.guidanceRows[__${iteration.index}__].scoreTo}" value=""
                                                       th:attr="data-required-errormessage=#{validation.applicationquestionform.scoreto.required},
                                                                data-min-errormessage=#{validation.applicationquestionform.scoreto.min}" />
                                            </td>
                                            <td class="form-group" th:classappend="${#fields.hasErrors('guidanceRows[__${iteration.index}__].justification')} ? 'form-group-error'">
                                                <label class="form-label" th:for="${'guidanceRow-'+iteration.index+'-justification'}">
                                                    <span class="visuallyhidden">Justification</span>
                                                    <th:block th:if="${#fields.hasErrors('guidanceRows[__${iteration.index}__].justification')}">
                                                        <span class="error-message" th:each="err : ${#fields.errors('guidanceRows[__${iteration.index}__].justification')}" th:text="${err}" />
                                                    </th:block>
                                                </label>
                                                <textarea required="required"
                                                       class="form-control width-full"
                                                       th:errorclass="field-error"
                                                       th:id="${'guidanceRow-'+iteration.index+'-justification'}"
                                                       th:field="${competitionSetupForm.guidanceRows[__${iteration.index}__].justification}"
                                                       maxlength="5000"
                                                       th:attr="data-required-errormessage=#{validation.applicationquestionform.justification.required},
                                                                data-maxlength-errormessage=#{validation.applicationquestionform.justification.maxlength}"
                                                       rows="3" />
                                            </td>
                                            <td>
                                               <button class="buttonlink alignright" data-remove-row="guidance" type="button" name="remove-guidance-row" th:value="${iteration.index}" th:id="'remove-guidance-row-' + ${iteration.index}">Remove</button>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>

                            <table id="guidance-table" th:if="${competitionSetupForm.question.type == T(org.innovateuk.ifs.competition.resource.CompetitionSetupQuestionType).SCOPE}">
                                <thead>
                                    <tr>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Justification</th>
                                        <th scope="col"><span class="visuallyhidden">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="(score, iteration : ${competitionSetupForm.question.guidanceRows})">
                                        <tr th:id="${'guidance-'+iteration.index}">
                                            <td class="form-group" th:classappend="${#fields.hasErrors('question.guidanceRows[__${iteration.index}__].subject')} ? 'form-group-error'">
                                                <label class="form-label" th:for="${'guidanceRow-'+iteration.index+'-subject'}">
                                                    <span class="visuallyhidden">Subject</span>
                                                    <th:block th:if="${#fields.hasErrors('question.guidanceRows[__${iteration.index}__].subject')}">
                                                        <span class="error-message"  th:each="err : ${#fields.errors('question.guidanceRows[__${iteration.index}__].subject')}" th:text="${err}" />
                                                    </th:block>
                                                </label>
                                                <input required="required"
                                                       class="form-control width-small"
                                                       th:errorclass="field-error"
                                                       th:id="${'guidanceRow-'+iteration.index+'-subject'}"
                                                       th:field="${competitionSetupForm.question.guidanceRows[__${iteration.index}__].subject}"
                                                       maxlength="255"
                                                       th:attr="data-required-errormessage=#{validation.applicationquestionform.subject.required},
                                                                data-maxlength-errormessage=#{validation.applicationquestionform.subject.maxlength}" />
                                            </td>
                                            <td class="form-group" th:classappend="${#fields.hasErrors('question.guidanceRows[__${iteration.index}__].justification')} ? 'form-group-error'">
                                                <label class="form-label" th:for="${'guidanceRow-'+iteration.index+'-justification'}">
                                                    <span class="visuallyhidden">Justification</span>
                                                    <th:block th:if="${#fields.hasErrors('question.guidanceRows[__${iteration.index}__].justification')}">
                                                        <span class="error-message" th:each="err : ${#fields.errors('question.guidanceRows[__${iteration.index}__].justification')}" th:text="${err}" />
                                                    </th:block>
                                                </label>
                                                <textarea required="required"
                                                       class="form-control width-full"
                                                       rows="3"
                                                       th:errorclass="field-error"
                                                       th:id="${'guidanceRow-'+iteration.index+'-justification'}"
                                                       th:field="${competitionSetupForm.question.guidanceRows[__${iteration.index}__].justification}"
                                                       maxlength="5000"
                                                       th:attr="data-required-errormessage=#{validation.applicationquestionform.justification.required},
                                                                data-maxlength-errormessage=#{validation.applicationquestionform.justification.maxlength}"/>
                                            </td>
                                            <td>
                                                <button class="buttonlink alignright" data-remove-row="guidance" type="button" name="remove-guidance-row" th:value="${iteration.index}" th:id="'remove-guidance-row-' + ${iteration.index}">Remove</button>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                            <div class="alignright extra-margin">
                                <button class="buttonlink" data-add-row="guidance" type="button">+Add guidance row</button>
                            </div>

                            <div th:class="${#fields.hasErrors('question.assessmentMaxWords')}? 'form-group form-group-error':'form-group'">
                                <label class="form-label" for="question.assessmentMaxWords">
                                    <span class="form-label-bold">Max word count</span>
                                    <span th:if="${#fields.hasErrors('question.assessmentMaxWords')}" th:remove="tag">
                                        <span class="error-message"  th:each="err : ${#fields.errors('question.assessmentMaxWords')}" th:text="${err}" />
                                    </span>
                                </label>
                                <input th:class="${#fields.hasErrors('question.assessmentMaxWords') ? 'form-control field-group-error width-medium' : 'form-control width-medium'}"
                                       type="number"
                                       id="question.assessmentMaxWords"
                                       min="0"
                                       required="required"
                                       th:name="question.assessmentMaxWords"
                                       th:value="${question.assessmentMaxWords}"
                                       th:attr="data-min-errormessage=#{validation.applicationquestionform.maxwords.min}"/>
                            </div>
                        </div>
                    </th:block>
                </div>
             </th:block>
        </div>
    </th:block>
</div>
