<!-- =================== Comp setup section - Initial Details (1) ============================== -->

<th:block th:fragment="comp-setup-navigation(sections, currentSection, competition, readyToOpen)" xmlns:th="http://www.w3.org/1999/html">
    <th:block th:unless="${(param.section != null)}">
        <ul class="task-list">
            <li th:each="(section, iteration : ${sections})" th:if="${section.toString() != 'HOME'}">
                <div class="task">
                    <h2 class="heading-small">
                        <a th:if="(${isInitialComplete} or ${section.toString() == 'INITIAL_DETAILS'})"
                           th:href="@{/competition/setup/{competitionId}/section/{sectionPath}(competitionId=${competition.id},sectionPath=${section.path})}"
                           th:text="${section.name}">Section Name</a>
                        <th:block th:unless="${isInitialComplete} or ${section.toString() == 'INITIAL_DETAILS'}"
                                  th:text="${section.name}">Section Name</th:block>
                    </h2>
                </div>
                <div th:if="${isPublicContentPublished and section.toString() == 'CONTENT'}"
                      th:with="publishDay=${#temporals.format(publishDate, 'd MMMM yyyy')},
                         publishTime=${#strings.toLowerCase(#temporals.format(publishDate, ' h:mma'))}"
                      th:text="${'Last published ' + publishDay + ' ' + publishTime}"
                      class="notification">Last published</div>
                <div th:if="${section.isComplete(competition) and !competition.isSetupAndLive()}" class="task-status-complete"><span>Complete</span></div>
            </li>
        </ul>
        <div th:if="${readyToOpen}" class="extra-margin">
            <p>Once you save, this competition will be ready to open but will not be published.</p>
            <a th:href="@{/competition/setup/{competitionId}/ready-to-open(competitionId=${competition.id})}"
               class="button no-margin-right" id="compCTA">Save</a>
        </div>
    </th:block>
</th:block>

<!-- ===================Comp admin Page back button============================== -->
<div th:fragment="setup-home">
    <div class="extra-margin">
        <a class="button button-secondary" th:href="@{/competition/setup/{competitionId}/(competitionId=${competition.id})}">Return to setup overview</a>
    </div>
</div>

<!-- ======== Comp admin - sub header with back link ======= -->
<div th:fragment="comp-setup-header-sub (linkTitle, linkClass, linkUrl)">
    <div class="sub-header">
        <nav>
            <a th:if="${linkTitle != null and linkUrl != null}" th:class="${linkClass} ?: ''" th:href="${linkUrl}" th:text="${linkTitle}" />
        </nav>
    </div>
</div>


<!-- ======== Comp admin - remove assigned assessor modal ======= -->
<div th:fragment="comp-setup-remove-assigned-assessor-modal">
    <div class="remove-assigned-assessor-modal" role="dialog" aria-hidden="true">
        <th:block th:insert="fragments/modals :: close-button" />

        <form th:action="'#'" method="post" novalidate="novalidate">
            <th:block th:insert="fragments/competition-setup :: comp-setup-remove-assigned-assessor-content" />
            <hr />
            <div>
                <button class="button" type="submit">Remove assessor</button>
                <button type="button" class="js-close buttonlink">Cancel</button>
            </div>
        </form>

    </div>
</div>


<!-- ======== Comp admin - remove assigned assessor confirmation content for modal and non-js page ======= -->
<div th:fragment="comp-setup-remove-assigned-assessor-content">
    <h2 class="heading-medium no-margin">Are you sure you want to remove this assessor from the application?</h2>

    <p>If you remove this application from the assessor then any work they may have started will be permanently deleted. This action cannot be undone.</p>
    <hr/>
</div>
