<!-- =================== Comp setup section - Initial Details (1) ============================== -->
<div th:fragment="section-inital-details">
    <h2>Step 1: Initial competition details</h2>

    <!-- TODO Alerts -->

    <div class="panel-indent">
        This will create a new Competition - you will be able to specify more details as you proceed
    </div>

    <form id="form-essential">
        <fieldset th:if="${editable}" id="section-1-edit">

            <legend class="visuallyhidden">Initial details</legend>

            <div class="form-group">
                <label class="form-label" for="comp-executive">
                    <span class="form-label-bold">Competition executive</span>
                </label>
                <select class="form-control width-x-large" id="compExecutive" name="compExecutive" th:readonly="${param.status != null and param.status[0] == 'done'}">
                    <option th:text="${(param.compExecutive != null ? param.compExecutive[0] : 'Please select &hellip;')}">Please select &hellip;</option>
                    <option value="Name 1">Name 1</option>
                    <option value="Name 2">Name 2</option>
                    <option value="Name 3">Name 3</option>
                </select>
            </div>

            <fieldset class="form-group">
                <h3 class="heading-small no-margin">Opening date</h3>
                <legend class="visuallyhidden">Opening date</legend>
                <div class="date-group">
                    <div class="day">
                        <label class="form-label" for="startDay">
                            <div>Day</div>
                        </label>
                        <input class="form-control width-extra-small" type="number" placeholder="DD" id="startDay" name="startDay" th:readonly="${param.status != null and param.status[0] == 'done'}" th:value="${(param.startDay != null ? param.startDay[0] : '01')}"/>
                    </div>

                    <div class="month">
                        <label class="form-label" for="startMonth">
                            <div>Month</div>
                        </label>
                        <input class="form-control width-extra-small" type="number" placeholder="MM" id="startMonth" name="startMonth" th:readonly="${param.status != null and param.status[0] == 'done'}" th:value="${(param.startMonth != null ? param.startMonth[0] : '')}"/>
                    </div>

                    <div class="year">
                        <label class="form-label" for="startYear">
                            <div>Year</div>
                        </label>
                        <input class="form-control width-extra-small" type="number" placeholder="YYYY" id="startYear" name="startYear" th:readonly="${param.status != null and param.status[0] == 'done'}" th:value="${(param.startYear != null ? param.startYear[0] : '')}"/>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <label class="form-label" for="compTitle">
                    <span class="form-label-bold">Competition title</span>
                </label>
                <input class="form-control width-x-large" id="compTitle" name="compTitle" th:readonly="${param.status != null and param.status[0] == 'done'}" th:value="${(param.compTitle != null ? param.compTitle[0] : '')}"/>
            </div>

            <div class="form-group">
                <label class="form-label" for="compInnovationSector">
                    <span class="form-label-bold">Innovation sector</span>
                </label>
                <select class="form-control width-x-large" id="compInnovationSector" name="compInnovationSector" th:disabled="${param.status != null and param.status[0] == 'done'}">
                    <option value="">Please select &hellip;</option>
                    <option value="health">Health and life sciences</option>
                    <option value="materials">Materials and manufacturing</option>
                    <option value="emerging">Emerging and enabling</option>
                    <option value="infrastructure">Infrastructure</option>
                    <option value="open">Open</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label" for="compInnovationArea">
                    <span class="form-label-bold">Innovation area</span>
                </label>
                <select class="form-control width-x-large" id="compInnovationArea" name="compInnovationArea" th:disabled="${param.status != null and param.status[0] == 'done'}">
                    <option value="">Please select &hellip;</option>
                    <option value="Health and care" class="health">Health and care</option>
                    <option value="Agriculture and food" class="health">Agriculture and food</option>
                    <option value="Biosciences" class="health">Biosciences</option>

                    <option value="High value manufacturing" class="materials">High value manufacturing</option>
                    <option value="Resource efficiency" class="materials">Resource efficiency</option>
                    <option value="Advanced materials" class="materials">Advanced materials</option>

                    <option value="Digital" class="emerging">Digital</option>
                    <option value="Satellite applications" class="emerging">Satellite applications</option>
                    <option value="ICT" class="emerging">ICT</option>
                    <option value="Design and creative economy" class="emerging">Design and creative economy</option>
                    <option value="Emerging tech and industries" class="emerging">Emerging tech and industries</option>
                    <option value="Robotics and autonomous systems" class="emerging">Robotics and autonomous systems</option>
                    <option value="Electronics, sensors and photonics" class="emerging">Electronics, sensors and photonics</option>

                    <option value="Transport" class="infrastructure">Transport</option>
                    <option value="Energy" class="infrastructure">Energy</option>
                    <option value="Urban living and built" class="infrastructure">Urban living and built</option>

                </select>
            </div>

            <div class="form-group">
                <label class="form-label" for="competitionTypeId">
                    <span class="form-label-bold">Competition type</span>
                </label>
                <select class="form-control width-x-large" id="competitionTypeId" name="competitionTypeId" th:disabled="${param.status != null and param.status[0] == 'done'}">
                    <option value="">Please select &hellip;</option>
                    <option value="Programme">Programme</option>
                    <option value="Managed services">Managed services</option>
                    <option value="SBRI">SBRI</option>
                    <option value="Special">Special</option>
                </select>
            </div>

            <div class="form-group" id="stateAid" style="display: none">
                <h3 class="heading-small">State aid</h3>
                <p>
                    <span class="yes">Yes</span>
                    <span class="no">No</span>
                </p>
            </div>

            <div class="form-group">
                <label class="form-label" for="compLeadTechnologist">
                    <span class="form-label-bold">Competition Lead technologist</span>
                </label>
                <select class="form-control width-x-large" id="compLeadTechnologist" name="compLeadTechnologist" th:disabled="${param.status != null and param.status[0] == 'done'}">
                    <option value="">Please select &hellip;</option>
                    <option value="">Lead technologist 1</option>
                    <option value="">Lead technologist 2</option>
                    <option value="">Lead technologist 3</option>
                </select>
            </div>

            <div th:class="${(param.compPaf == null or param.compPaf[0] == '' and param.status != null ? 'error form-group' : 'form-group')}">
                <label class="form-label" for="compPaf">
                    <span class="form-label-bold">PAF number</span>
                    <span class="error-message" th:unless="${param.compPaf != null and param.compPaf[0] != ''}">Please enter a PAF number</span>
                </label>
                <input class="form-control width-large field-error" th:class="${(param.compPaf == null or param.compPaf[0] == '' and param.status != null ? 'form-control width-large field-error' : 'form-control width-large')}" id="compPaf" name="compPaf" th:readonly="${param.status != null and param.status[0] == 'done'}" th:value="${(param.compPaf != null ? param.compPaf[0] : '')}"/>
            </div>

            <div class="form-group">
                <label class="form-label" for="compBudgetCode">
                    <span class="form-label-bold">Budget code</span>
                </label>
                <input class="form-control width-large" id="compBudgetCode" name="compBudgetCode" th:readonly="${param.status != null and param.status[0] == 'done'}" th:value="${(param.compBudgetCode != null ? param.compBudgetCode[0] : '')}"/>
            </div>

            <div class="form-group">
                <label class="form-label" for="compCode">
                    <span class="form-label-bold">Competition code</span>
                </label>
                <input class="form-control width-large" id="compCode" name="compCode" th:readonly="${param.status != null and param.status[0] == 'done'}" th:value="${(param.compCode != null ? param.compCode[0] : '')}"/>
            </div>
        </fieldset>

        <fieldset th:if="${!editable}" id="section-1-">

            <dl class="standard-definition-list">
                <dt>Competition executive</dt>
                <dd th:text="${param.compExecutive[0]}"></dd>

                <dt>Opening date</dt>
                <dd th:text="${param.startDay[0]+'/'+param.startMonth[0]+'/'+param.startYear[0]}"></dd>

                <dt>Competition title</dt>
                <dd th:text="${param.compTitle[0]}"></dd>

                <dt>Innovation sector</dt>
                <dd th:text="${param.compInnovationSector[0]}"></dd>

                <dt>Innovation area</dt>
                <dd th:text="${param.compInnovationArea[0]}"></dd>

                <dt>Competition type</dt>
                <dd th:text="${param.competitionTypeId[0]}"></dd>

                <dt>State aid</dt>
                <dd id="stateAid">
                    <span class="yes">Yes</span>
                    <span class="no">No</span>
                </dd>

                <dt>PAF number</dt>
                <dd th:text="${param.compPaf[0]}"></dd>

                <dt>Budget code</dt>
                <dd th:text="${param.compBudgetCode[0]}"></dd>

                <dt>Competition code</dt>
                <dd th:text="${param.compCode[0]}"></dd>


            </dl>
        </fieldset>

<!--
        <div class="extra-margin">
            <div th:include="prototypes/fragments/comp-setup :: prototype-section-cta" th:with="section=essential, sectionId=1" th:remove="tag" />
        </div>
-->
    </form>
    <ul class="pagination">
        <li class="next">
            <a rel="next" title="Navigate to next part" th:href="@{'?section=additional'}">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title">Additional information</span>
            </a>
        </li>
    </ul>
</div>
