
<!-- =================Section:Documents (10) =========================== -->
<th:block th:fragment="section-content">

    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Documents in project setup',size='heading-xlarge'" />

    <h2 class="heading-small">Required documents</h2>
    <p class="form-hint">The project manager will have to upload these in project setup.</p>


    <form th:action="@{(${model.general.editable} ? '' : 'documents/edit')}"
          th:object="${competitionSetupForm}"
          th:attrappend="data-autosave=${!model.general.state.setupComplete}?compSetup"
          data-section="documents"
          method="post" novalidate="novalidate">
        

        <div th:if="${model.general.editable}" id="section-3-edit">

            <div class="form-group">
                <!-- for each document in documents, add name, add edit link -->
                <ul>
                    <li th:each="document : ${model.general.competition.projectDocuments}" class="multiple-choice">
                        <th:block th:with="checkboxId=${'enabled[' + document.id + ']'}">
                            <div>
                                <input th:id=${checkboxId}
                                    type="checkbox"
                                    value="include"
                                    th:checked=${document.enabled}
                                    data-autosave-disabled
                                />
                                <label th:for=${checkboxId}>
                                    <span th:text=${document.title}>document_title</span>
                                    <span class="end-label-link">
                                        <th>
                                             <a th:href="@{/competition/setup/{competitionId}/section/project-document/{projectDocumentId}/edit(competitionId=${model.general.competition.id}, projectDocumentId=${document.id})}">Edit</a>
                                        </th>
                                    </span>
                                </label>
                            </div>
                        </th:block>
                    </li>
                </ul>
            </div>

            <!-- new link -->
            <th:form th:unless="${model.general.state.preventEdit}">
                <p>
                    <a th:href="@{/competition/setup/{competitionId}/section/project-document/add(competitionId=${model.general.competition.id})}">Add document type</a>
                </p>
            </th:form>

             <!-- post button -->
            <button class="button" id="doneButton">Done</button>
        </div>

    </form>

    <ul class="pagination">
        <li class="prev">
            <a rel="prev" title="Navigate to prev part"
               th:href="@{/competition/setup/{sectionPath}/{competitionId}(competitionId=${model.general.competition.id},sectionPath='public-content')}">
                <span class="pagination-label">Previous</span>
                <span class="pagination-part-title">Public content</span>
            </a>
        </li>
    </ul>
</th:block>