<!-- =================== Comp setup section - Initial Details (1) ============================== -->

<div th:fragment="comp-setup-navigation(sections, allCompletedSections, currentSection, competition, readyToOpen)">
    <div th:class="${(param.section != null ? 'visuallyhidden' : '')}">
        <ul class="list-overview">
            <li th:each="(section, iteration : ${sections})" th:if="${section.toString() != 'HOME'}"
                th:id="'section-' + ${iteration.index}"
                th:classappend="${allCompletedSections.contains(section) ? 'marked-as-complete' : ''}">
                <h3 class="heading-small">
                    <a th:href="@{/competition/setup/{competitionId}/section/{sectionPath}(competitionId=${competition.id},sectionPath=${section.path})}"
                        th:text="${section.name}">Section Name</a>
                </h3>
            </li>
        </ul>

        <div class="extra-margin">
            <a th:if="${readyToOpen}" th:href="@{/competition/setup/{competitionId}/ready-to-open(competitionId=${competition.id})}"
               class="button no-margin-right" id="compCTA">Save as Ready To Open</a>
        </div>
    </div>
</div>

<!-- ===================Comp admin Page title============================== -->
<div th:fragment="comp-admin-page-title-subheading(subtitle, heading, subheading)">
  <div class="page-title">
    <p class="subtitle" th:text="${subtitle}">Sub title</p>
    <h1 class="heading-xlarge" th:text="${heading}">Title here</h1>
  </div>
</div>
