
<!-- =================== Comp setup section - Initial Details (1) ============================== -->
<th:block th:fragment="section-initial">
    <th:block th:insert="fragments/competition-setup-section-initial :: section-content" />
</th:block>

<!-- =================== Comp setup section - Additional info (2) ============================== -->
<th:block th:fragment="section-additional">
    <th:block th:insert="fragments/competition-setup-section-additional :: section-content" />
</th:block>

<!-- =================== Comp setup section - Eligibility (3) ============================== -->
<th:block th:fragment="section-eligibility">
    <th:block th:insert="fragments/competition-setup-section-eligibility :: section-content" />
</th:block>

<!-- =================Section: Milestones (4) =========================== -->
<th:block th:fragment="section-milestones">
    <th:block th:insert="fragments/competition-setup-section-milestones :: section-content" />
</th:block>

<!-- =================== Comp setup section - Application questions (5) ============================== -->
<th:block th:fragment="section-application">
    <th:block th:insert="fragments/competition-setup-section-application :: section-content" />
</th:block>

<!-- =================== Comp setup section - Assessors (6) ============================== -->
<th:block th:fragment="section-assessors">
    <th:block th:insert="fragments/competition-setup-section-assessors :: section-content" />
</th:block>
