<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!-- id of the competition for in the page title -->
<div th:fragment="competition-id(competition)" th:remove="tag">
    <p class="subtitle"><div th:text="${#numbers.formatInteger(competition.competitionId,8)}" th:remove="tag" /> : Innovate UK</p>
</div>
<!-- competition status with blue block -->
<div th:fragment="competition-status(competition)" th:remove="tag">
    <h2 th:switch="${competition.competitionStatus.name()}" class="bold-small blue-block">
        <div th:remove="tag" th:case="'NOT_STARTED'">Competition not yet started</div>
        <div th:remove="tag" th:case="'OPEN'">Competition open</div>
        <div th:remove="tag" th:case="'IN_ASSESSMENT'">In assesment</div>
        <div th:remove="tag" th:case="'FUNDERS_PANEL'">Funders Panel</div>
        <div th:remove="tag" th:case="'PROJECT_SETUP'">Project setup</div>
        <div th:remove="tag" th:case="*">test2</div>
    </h2>
</div>

<!-- Box with summary about competition on left hand side -->
<div th:remove="tag" th:fragment="info-area" class="bold-small blue-block">
    <div th:switch="${competitionSummary.competitionStatus.name()}">
    <div th:remove="tag" th:case="'NOT_STARTED'">
        <div class="info-area boxed">
            <p>
                This competition has not yet been started.
            </p>
        </div>
    </div>

    <div th:remove="tag" th:case="'OPEN'">
        <div class="info-area boxed">
            <p>
            <span class="bold-medium">
              <div th:include="fragments/elements :: ordinal-day (date=${competitionSummary.getApplicationDeadline()})" th:remove="tag" />
              <div th:remove="tag" th:text="${#temporals.format(competitionSummary.getApplicationDeadline(), 'MMMM yyyy')}" />
            </span> Application deadline
            </p>
            <p><span class="bold-medium" th:text="${competitionSummary.totalNumberOfApplications}" /> Total number of applications</p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsStarted}" /> Applications started</p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsInProgress}" /> Applications in progress (Beyond 50%)</p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsSubmitted}" /> Applications submitted</p>
        </div>
    </div>

    <div th:remove="tag" th:case="'IN_ASSESSMENT'">
        <div class="info-area boxed">
            <p>
            <span class="bold-medium">
              <div th:include="fragments/elements :: ordinal-day (date=${competitionSummary.getApplicationDeadline()})" th:remove="tag" />
              <div th:remove="tag" th:text="${#temporals.format(competitionSummary.getApplicationDeadline(), 'MMMM yyyy')}" />
            </span> Application deadline
            </p>
            <p th:if="${param.tab != null} and ${param.tab[0] == 'notSubmitted'}"><span class="bold-medium" th:text="${competitionSummary.applicationsInProgress}"/> Applications not submitted</p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsSubmitted}" /> Applications submitted</p>
            <a th:href="'/management/competition/'+${competitionSummary.competitionId}+'/download'" class="button-secondary">Export application data (.csv)</a>
        </div>
    </div>

    <div th:remove="tag" th:case="'FUNDERS_PANEL'">
        <div class="info-area boxed">
            <p>
            <span class="bold-medium">
              <div th:include="fragments/elements :: ordinal-day (date=${competitionSummary.getApplicationDeadline()})" th:remove="tag" />
              <div th:remove="tag" th:text="${#temporals.format(competitionSummary.getApplicationDeadline(), 'MMMM yyyy')}" />
            </span> Assessment deadline
            </p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsInProgress}" /> Applications not submitted</p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsSubmitted}" /> Applications submitted</p>
            <a th:href="/management/competition/${competitionSummary.competitionId}/download" class="button-secondary">Export application data (.csv)</a>
            <a href="#" class="button" data-js-modal="modal-publish-funding-decision">Notify applicants</a>
        </div>
    </div>

    <div th:remove="tag" th:case="'PROJECT_SETUP'">
        <div class="info-area boxed">
            <p>
            <span class="bold-medium">
              <div th:include="fragments/elements :: ordinal-day (date=${competitionSummary.getApplicationDeadline()})" th:remove="tag" />
              <div th:remove="tag" th:text="${#temporals.format(competitionSummary.getApplicationDeadline(), 'MMMM yyyy')}" />
            </span> Application deadline
            </p>
            <p><span class="bold-medium" th:text="${competitionSummary.totalNumberOfApplications}" /> Total number of applications</p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsStarted}" /> Applications started</p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsInProgress}" /> Applications in progress (Beyond 50%)</p>
            <p><span class="bold-medium" th:text="${competitionSummary.applicationsSubmitted}" /> Applications submitted</p>
        </div>
    </div>

    <div th:remove="tag" th:case="'*'">
        <p>Competition is in invalid state</p>
    </div>
        &nbsp; <!--/* don't remove is for mainting layout when the info box is sticky/fixed */-->
    </div>

</div>
</html>
