
<!-- =================== Comp setup section - Assessors (6) ============================== -->
<th:block th:fragment="section-content">
    <div th:if="${#fields.hasErrors('${competitionSetupForm.*}')}" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">Unable to save section.</h2>
        <th:block th:insert="fragments/elements :: error-summary-list(competitionSetupForm)" />
    </div>

    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Assessment',size='govuk-heading-xl'" />

    <form th:action="@{(${model.general.editable} ? '' : 'assessors/edit')}" method="post" th:object="${competitionSetupForm}" novalidate="novalidate"
          th:attr="data-competition=${model.general.competition.id},data-autosave=${!model.general.state.setupComplete}?compSetup" data-section="assessors">
        <th:block th:if="${model.general.editable}" id="section-assessors-edit">
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('assessorCount')} ? 'govuk-form-group--error'">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">How many assessors are required for each application?</h2>
                    </legend>
                    <th:block th:if="${#fields.hasErrors('assessorCount')}">
                        <span class="error-message"  th:each="err : ${#fields.errors('assessorCount')}" th:text="${err}"></span>
                    </th:block>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item" th:each="assessorOption : ${model.assessorOptions}">
                            <input th:id="${'assessors-' + '__${assessorOption.id}__'}" name="assessorCount"
                                   class="govuk-radios__input"
                                   th:value="${assessorOption.optionValue}" type="radio"
                                   th:checked="${assessorOption.optionValue == competitionSetupForm.assessorCount}"
                                   th:disabled="${model.setupAndAfterNotifications and (assessorOption.optionValue != competitionSetupForm.assessorCount)}"
                                   required="required"
                                   th:attr="data-required-errormessage=#{validation.assessorsform.assessorCount.required}"/>
                            <label th:for="${'assessors-' + '__${assessorOption.id}__'}"
                                   th:text="${assessorOption.optionName}"
                                   class="govuk-label govuk-radios__label">
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('assessorPay')} ? 'govuk-form-group--error'">
                <label class="govuk-label" for="assessorPay">
                    How much do assessors receive per application?
                </label>
                <span class="govuk-hint">This information will be available in the assessor invites.</span>
                <th:block th:if="${#fields.hasErrors('assessorPay')}">
                    <span class="error-message"  th:each="err : ${#fields.errors('assessorPay')}" th:text="${err}"></span>
                </th:block>
                <input class="govuk-input width-medium"
                       id="assessorPay"
                       name="assessorPay"
                       type="number"
                       min="0"
                       max="99999999"
                       th:value="${#numbers.formatInteger(competitionSetupForm.assessorPay, 0)}"
                       data-th-attr="data-max-errormessage=#{validation.assessorsform.assessorPay.max.amount.invalid},
                                     data-min-errormessage=#{validation.assessorsform.assessorPay.min},
                                     data-required-errormessage=#{validation.assessorsform.assessorPay.required}"
                       th:errorclass="govuk-input--error"
                       th:readonly="${model.general.state.setupAndLive}"/>
            </div>
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('hasAssessmentPanel')} ? 'govuk-form-group--error'">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">Enable assessment panel for this competition?</h2>
                    </legend>
                    <th:block th:if="${#fields.hasErrors('hasAssessmentPanel')}">
                        <span class="error-message" th:each="err : ${#fields.errors('hasAssessmentPanel')}" th:text="${err}" />
                    </th:block>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input id="hasAssessmentPanel-0"
                                   class="govuk-radios__input"
                                   type="radio"
                                   th:field="${competitionSetupForm.hasAssessmentPanel}"
                                   value="1"
                                   th:errorclass="field-error"
                                   required="required"
                                   th:attr="data-required-errormessage=#{validation.assessorsform.assessmentPanel.required}" />
                            <label for="hasAssessmentPanel-0"
                                   class="govuk-label govuk-radios__label">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="hasAssessmentPanel-1"
                                   class="govuk-radios__input"
                                   type="radio"
                                   th:field="${competitionSetupForm.hasAssessmentPanel}"
                                   th:errorclass="field-error"
                                   required="required"
                                   value="0"
                                   th:attr="data-required-errormessage=#{validation.assessorsform.assessmentPanel.required}" />
                            <label for="hasAssessmentPanel-1"
                                   class="govuk-label govuk-radios__label">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('hasInterviewStage')} ? 'govuk-form-group--error'">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">Enable interview stage for this competition?</h2>
                    </legend>
                    <th:block th:if="${#fields.hasErrors('hasInterviewStage')}">
                        <span class="error-message" th:each="err : ${#fields.errors('hasInterviewStage')}" th:text="${err}" />
                    </th:block>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input id="hasInterviewStage-0"
                                   class="govuk-radios__input"
                                   type="radio"
                                   th:field="${competitionSetupForm.hasInterviewStage}"
                                   value="1"
                                   th:errorclass="field-error"
                                   required="required"
                                   th:attr="data-required-errormessage=#{validation.assessorsform.interviewStage.required}" />
                            <label for="hasInterviewStage-0"
                                   class="govuk-label govuk-radios__label">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="hasInterviewStage-1"
                                   class="govuk-radios__input"
                                   type="radio"
                                   th:field="${competitionSetupForm.hasInterviewStage}"
                                   th:errorclass="field-error"
                                   required="required"
                                   value="0"
                                   th:attr="data-required-errormessage=#{validation.assessorsform.interviewStage.required}" />
                            <label for="hasInterviewStage-1"
                                   class="govuk-label govuk-radios__label">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('assessorFinanceView')} ? 'govuk-form-group--error'">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">Assessor view of finances</h2>
                    </legend>
                    <th:block th:if="${#fields.hasErrors('assessorFinanceView')}">
                        <span class="error-message" th:each="err : ${#fields.errors('assessorFinanceView')}" th:text="${err}" />
                    </th:block>
                    <div th:if="${model.general.state.competitionStatus != T(org.innovateuk.ifs.competition.resource.CompetitionStatus).IN_ASSESSMENT}"
                         class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input id="assessorFinanceView-0"
                                   class="govuk-radios__item"
                                   type="radio"
                                   th:field="${competitionSetupForm.assessorFinanceView}"
                                   th:checked="${competitionSetupForm.assessorFinanceView == 'OVERVIEW'}"
                                   value="OVERVIEW"
                                   th:errorclass="field-error"
                                   required="required"
                                   th:attr="data-required-errormessage=#{validation.assessorsform.assessorFinanceView.required}" />
                            <label for="assessorFinanceView-0"
                                   class="govuk-label govuk-radios__label">
                                Overview
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="assessorFinanceView-1"
                                   class="govuk-radios__input"
                                   type="radio"
                                   th:field="${competitionSetupForm.assessorFinanceView}"
                                   th:errorclass="field-error"
                                   required="required"
                                   value="DETAILED"
                                   th:attr="data-required-errormessage=#{validation.assessorsform.assessorFinanceView.required}" />
                            <label for="assessorFinanceView-1"
                                   class="govuk-label govuk-radios__label">
                                Detailed
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div th:unless="${model.general.state.competitionStatus != T(org.innovateuk.ifs.competition.resource.CompetitionStatus).IN_ASSESSMENT}">
                        <input type="hidden" th:field="${competitionSetupForm.assessorFinanceView}" value="${competitionSetupForm.assessorFinanceView}"/>
                        <span th:text="${#strings.capitalize(#strings.toLowerCase(competitionSetupForm.assessorFinanceView))}">Assessor Finance View</span>
                </div>
            </div>

            <button class="govuk-button">Done</button>
        </th:block>

       <th:block th:unless="${model.general.editable}" id="section-assessors-readonly">
            <dl class="standard-definition-list">
                <dt>How many assessors are required for each application?</dt>
                <dd th:text="${competitionSetupForm.assessorCount}"></dd>

                <dt>How much do assessors receive per application?</dt>
                <dd>&pound;<th:block th:text="${#numbers.formatInteger(competitionSetupForm.assessorPay, 0, 'DEFAULT')}"></dd>

                <dt>Enable assessment panel for this competition?</dt>
                <dd th:text="${competitionSetupForm.hasAssessmentPanel} ? 'Yes' : 'No' "/>

                <dt>Enable interview stage for this competition?</dt>
                <dd th:text="${competitionSetupForm.hasInterviewStage} ? 'Yes' : 'No' "/>

                <dt>Assessor view of finances?</dt>
                <dd th:text="${#strings.capitalize(#strings.toLowerCase(competitionSetupForm.assessorFinanceView))}"/>
            </dl>

           <button th:unless="${model.general.state.preventEdit}" type="submit" class="govuk-button">Edit</button>
        </th:block>
    </form>


    <ul class="pagination">
        <li class="prev">
            <a rel="prev" title="Navigate to prev part"
               th:href="@{/competition/setup/{competitionId}/section/{sectionPath}(competitionId=${model.general.competition.id},sectionPath='application')}">
                <span class="pagination-label">Previous</span>
                <span class="pagination-part-title">Application</span>
            </a>
        </li>
        <li class="next">
            <a rel="next" title="Navigate to next part" th:href="@{/competition/setup/{sectionPath}/{competitionId}(competitionId=${model.general.competition.id},sectionPath='public-content')}">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title">Public content</span>
            </a>
        </li>
    </ul>

</th:block>
