<th:block th:fragment="user-list(users)">
    <p class="govuk-body">
        <span class="govuk-heading-xl govuk-!-margin-0" th:text="${users.size()}">38</span>
        <span class="govuk-heading-s">users with IFS account</span>
    </p>
    <th:block th:insert="fragments/external-users :: users-table(users=${users})" />
</th:block>

<th:block th:fragment="users-table(users)">
    <p class="govuk-body" th:if="${#lists.isEmpty(users)}">There are no results for this search.</p>
    <div class="table-overflow" th:unless="${#lists.isEmpty(users)}">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">Organisation name</th>
                <th class="govuk-table__header" scope="col">Organisation ID</th>
                <th class="govuk-table__header" scope="col">Email</th>
                <th class="govuk-table__header" scope="col">Status</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row" th:each="user : ${users}">
                <td class="govuk-table__cell" th:text="${user.name}">Steve Smith</td>
                <td class="govuk-table__cell" th:text="${user.organisationName}">Empire Limited</td>
                <td class="govuk-table__cell" th:text="${user.organisationId}">10</td>
                <td class="govuk-table__cell" th:text="${user.email}">steve.smith@empire.com</td>
                <td class="govuk-table__cell" th:text="${user.status.displayName}">Verified</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
