
<div th:fragment="section-search(model, form)" xmlns:th="http://www.w3.org/1999/html">
    <p>This information is used for search results and the opening section of the competition page.</p>
    <th:block th:if="${model.readOnly}">
        <dl>
            <dt>Short description</dt>
            <dd th:text="${form.shortDescription}"></dd>
            <dt>Project funding range</dt>
            <dd th:text="${form.projectFundingRange}"></dd>
            <dt>Eligibility summary</dt>
            <dd th:text="${form.eligibilitySummary}"></dd>
            <dt>Keywords</dt>
            <dd th:text="${form.keywords}"></dd>
        </dl>
    </th:block>
    <th:block th:unless="${model.readOnly}">
        <fieldset>
            <div class="form-group">
                <label class="form-label-bold" for="short-description">
                    Short description
                    <span class="form-hint">Appears at the top of the competition page.</span>
                </label>
                <input class="form-control width-full" id="short-description" type="text" th:field="${form.shortDescription}"
                       required="required"
                       th:attr="data-required-errormessage=#{validation.publiccontent.searchinformationform.shortDescription.required}" />
            </div>
            <div class="form-group">
                <label class="form-label-bold" for="funding-range">
                    Project funding range
                    <span class="form-hint">Appears against the competition search result.</span>
                </label>
                <input class="form-control" id="funding-range" type="text" th:field="${form.projectFundingRange}"
                       required="required"
                       th:attr="data-required-errormessage=#{validation.publiccontent.searchinformationform.projectFundingRange.required}" />
            </div>
            <div class="form-group">
                <label class="form-label-bold" for="eligibility-summary">
                    Eligibility summary
                    <span class="form-hint">Appears against the competition search result.</span>
                </label>
                <input class="form-control" id="eligibility-summary" type="text" th:field="${form.eligibilitySummary}"
                       required="required"
                       th:attr="data-required-errormessage=#{validation.publiccontent.searchinformationform.eligibilitySummary.required}" />
            </div>
            <div class="form-group">
                <label class="form-label-bold" for="keywords">
                    Keywords
                    <span class="form-hint"> Keywords help competitions appear in search results but are not visible to applicants. Separate keywords with commas.</span>
                </label>
                <input class="form-control width-full" id="keywords" type="text" th:field="${form.keywords}"
                       required="required"
                       th:attr="data-required-errormessage=#{validation.publiccontent.searchinformationform.keywords.required}"/>
            </div>
        </fieldset>
    </th:block>
</div>

