<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Contact'" />
</head>
<body th:with="context='applicant'" class="assessment-review">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />

    <div class="page-title">
        <h1 class="heading-xlarge no-margin" >Contact us</h1>
    </div>

    <p>We can provide you with information and advice on Innovate UK competitions or help and technical support on using the Innovation Funding Service.</p>

    <h2 class="heading-large">Contact our Customer Support Service</h2>

    <h3 class="heading-medium">Phone</h3>
    <p>Call 0300 321 4357 to speak to an adviser (8.30am to 5.30pm, 5 days a week). Calls are free from landlines and most mobile numbers. Find out more about <a href="https://www.gov.uk/call-charges" rel="external">call charges and freephone numbers</a>.</p>

    <h3 class="heading-medium">Email</h3>
    <p>Your question or query to <a href="mailto:support@innovateuk.gov.uk">support@innovateuk.gov.uk</a> and we'll get back to you as soon as possible.</p>

    <h3 class="heading-medium">Assistance</h3>
    <p>If you need help completing your application, we can offer telephone, web conference or face to face assistance.</p>
    <p>Please note that we run a competitive process and must treat all applications equally. This means we are unable to provide or advise on the actual content of your application.</p>
    <p>Call 0300 321 4357 to make an appointment with an adviser.</p>

    <h3 class="heading-medium">Post</h3>
    <p>Contact us by post at:</p>
    <p>Innovate UK, <br/>
        Polaris House, <br/>
        North Star Ave, <br/>
        Swindon, <br/>
        SN2 1FL</p>

</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
