<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Contact'" />
</head>
<body class="govuk-template__body assessment-review">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Contact us',size='govuk-heading-xl'" />

        <p class="govuk-body">We can provide you with information and advice on Innovate UK competitions. We also provide help and technical support on using the Innovation Funding Service.</p>

        <h2 class="govuk-heading-l">Contact our Customer Support Service</h2>
        <p class="govuk-body">Please respect our staff and funding service partners at all times. We will not tolerate abuse in any form, written or spoken.</p>

        <h3 class="govuk-heading-m">Assistance</h3>
        <p class="govuk-body">We provide personalised assistance to people who have trouble using our online funding service.</p>
        <p class="govuk-body">Please contact us well before you need to meet any deadlines, to make sure we have enough time to tailor a solution for you.</p>

        <h3 class="govuk-heading-m">Phone</h3>
        <p class="govuk-body">Call 0300 321 4357 to speak to an adviser. Our phone lines are now open from 9am to 11.30am and 2pm to 4.30pm,
            Monday to Friday (excluding bank holidays), to help us manage the unusually high number of calls and emails we are receiving due to the global disruptions.</p>
        <p class="govuk-body">Calls are free from landlines and most mobile numbers.
            Find out more about <a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank" rel="external">call charges and freephone numbers (opens in a new window)</a>.</p>

        <h3 class="govuk-heading-m">Email</h3>
        <p class="govuk-body">Send your question or query to <a href="mailto:support@innovateuk.ukri.org" class="govuk-link">support@innovateuk.ukri.org</a> and we'll get back to you as soon as possible.</p>
    </main>
</div>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />

</body>
</html>
