<th:block th:fragment="content-menu(current)">
    <aside role="complementary" class="related-items govuk-!-margin-top-6">
        <h2 class="govuk-heading-m">Elsewhere on Innovation Funding Service</h2>
        <nav>
            <ul class="govuk-list">
                <li><a th:unless="${current == 'cookies'}" th:href="@{cookies}" class="govuk-link">Cookies</a></li>
                <li><a th:unless="${current == 'terms'}" th:href="@{terms-and-conditions}" class="govuk-link">Terms and Conditions</a></li>
            </ul>
        </nav>
    </aside>
</th:block>
