<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Terms and conditions',hasFormErrors=${#fields.hasErrors('${form.*}')}" />
</head>
<body class="govuk-template__body">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />
    <th:block th:insert="fragments/layout :: header-sub" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div th:if="${#fields.hasErrors('${form.*}')}" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="govuk-heading-m error-summary-heading"  id="error-summary-heading">We were unable to save your changes.</h2>
            <th:block th:insert="fragments/elements :: error-summary-list(form)" />
        </div>

        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='New website terms and conditions',size='govuk-heading-xl'" />

        <p class="govuk-body">We have updated our terms and conditions. Please read them and confirm you agree.</p>

        <form th:action="@{'/info/new-terms-and-conditions'}" method="post" th:object="${form}" novalidate="novalidate">
            <div class="form-group" th:classappend="${#fields.hasErrors('agree')} ? 'form-group-error'">
                <fieldset>
                    <legend>
                        <span class="govuk-visually-hidden">Website terms and conditions</span>
                        <span th:if="${#fields.hasErrors('agree')}"
                              th:errors="*{agree}"
                              class="error-message">In order to continue you must agree to the terms and conditions.</span>
                    </legend>
                    <div class="multiple-choice">
                        <input id="agree"
                               type="checkbox"
                               th:field="*{agree}"
                               th:errorclass="form-control-error"
                               required="required"
                               data-required-errormessage="In order to continue you must agree to the terms and conditions." />
                        <label for="agree">I agree to the <a href="/info/terms-and-conditions" target="_blank">terms and conditions</a> (this link will open in a new window).</label>
                    </div>
                </fieldset>
            </div>
            <button class="button" type="submit">Continue</button>
        </form>

        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />

</body>
</html>
