<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!-- =========================== Create code snippet - show example and code =========================== -->

<div th:fragment="prot-snippet(element)">

  <div class="result">
    <th:block th:include="prototypes/fragments/prot-elements :: ${'prot-' + element}"  />
  </div>

  <pre>
    <code class="language-markup">
      <xmp>
        <th:block th:include="prototypes/fragments/prot-elements :: ${'prot-' + element}"  />
      </xmp>
    </code>
  </pre>

</div>

<!-- =========================== Test =========================== -->

<div th:fragment="prot-test">
  <p>This is just an <strong>example</strong>, real code example is required here</p>
  <ul class="list list-bullet">
    <li>Show example output</li>
    <li>Show example html snippet</li>
  </ul>
</div>

<!-- =========================== Tabs =========================== -->

<th:block th:fragment="prot-tabs">
  <div class="tab-interface">
    <ul>
      <li>
        <a href="#section1">Tab 1</a>
      </li>
      <li>
        <a href="#section2">Tab 2</a>
      </li>
      <li>
        <a href="#section3">Tab 3</a>
      </li>
      <li>
        <a href="#section4">Tab 4</a>
      </li>
    </ul>
    <section id="section1">
      <h2 class="heading-medium">Title for Tab 1</h2>
      <div>
        <p>Content for Tab 1</p>
      </div>
    </section>
    <section id="section2">
      <h2 class="heading-medium">Title for Tab 2</h2>
      <div>
        <p>Content for Tab 2</p>
      </div>
    </section>
    <section id="section3">
      <h2 class="heading-medium">Title for Tab 3</h2>
      <div>
        <p>Content for Tab 3</p>
      </div>
    </section>
    <section id="section4">
      <h2 class="heading-medium">Title for Tab 4</h2>
      <div>
        <p>Content for Tab 4</p>
      </div>
    </section>
  </div>
</th:block>


<!-- =========================== Accordians =========================== -->

<th:block th:fragment="prot-accordians">
    <div class="collapsible">
        <h2>Collapsible header</h2>
        <p>Content goes here</p>
        <h2>Collapsible header 2</h2>
        <p>Content goes here 2</p>
        <h2>Collapsible header 3</h2>
        <p>Content goes here 3</p>
        <h2>Collapsible header 4</h2>
        <p>Content goes here 4</p>
        <h2>Collapsible header 5</h2>
        <p>Content goes here 5</p>
    </div>
</th:block>


<!-- =========================== Accordians =========================== -->

<th:block th:fragment="prot-read-only-forms">
    <form>
        <th:block th:unless="${param.status != null and param.status[0] == 'readOnly'}">
            <fieldset>
                <legend class="heading-medium">Application details</legend>
                <div class="form-group">
                    <label class="form-label" for="application-name">Application name</label>
                    <input class="form-control" id="application-name" type="text" />
                </div>
            </fieldset>
        </th:block>
        <th:block th:if="${param.status != null and param.status[0] == 'readOnly'}">
            <h2 class="heading-medium">Application details</h2>
            <dl class="readonly-data">
                <dt>Application name</dt>
                <dd>[application name]</dd>
            </dl>
        </th:block>
        <div class="extra-margin">
            <a th:href="${(param.status != null and param.status[0] == 'readOnly' ? '/prototypes/prot-styles-read-only-forms' : '/prototypes/prot-styles-read-only-forms?status=readOnly')}" type="submit" th:text="${param.status != null and param.status[0] == 'readOnly' ? 'Edit application details' : 'Mark application details as complete'}"></a>
        </div>
    </form>
</th:block>

</html>
