<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block
        th:with="applicationName=${#strings.isEmpty(model.applicationName)} ? #{ifs.application.no_title} : ${model.applicationName}">
        <th:block th:insert="fragments/layout :: head"
                  th:with="pageTitle=|Add a partner organisation - ${applicationName}|"/>
    </th:block>
</head>
<body class="govuk-template__body">
<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner"/>

    <th:block th:insert="fragments/layout :: header-sub"
              th:with="linkTitle='Back to application team',linkClass='link-back',linkUrl=@{/application/{applicationId}/form/question/{questionId}/team(applicationId=${model.applicationId},questionId=${model.questionId})}"/>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div th:if="${#fields.hasErrors('${form.*}')}" class="govuk-error-summary"
             aria-labelledby="error-summary-title"
             role="alert"
             tabindex="-1"
             data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
            <th:block th:insert="fragments/elements :: error-summary-list(form)"/>
        </div>
        <!-- ************** -->

        <th:block
            th:with="applicationName=${#strings.isEmpty(model.applicationName)} ? #{ifs.application.no_title} : ${model.applicationName}">
            <th:block th:insert="fragments/layout :: page-title"
                      th:with="pageTitle='Partner organisation type',subTitle=${applicationName},size='govuk-heading-xl'"/>
        </th:block>

        <p class="govuk-body">
            Select the type which accurately describes your partner organisation.
        </p>

        <form th:object="${form}"
              th:action="@{/application/{applicationId}/form/question/{questionId}/team/heukar-partner-org(
        applicationId=${model.applicationId},
        questionId=${model.questionId},
        existingId=${form.id})}"
              method="POST"
              novalidate="novalidate"
        >
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-visually-hidden" id="organisationTypeId">
                        <span class="govuk-fieldset__heading">Please select your organisation type</span>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item"
                             th:each="type : ${model.types}">
                            <input th:id="'radio-'+ ${type.id}" type="radio"
                                   class="govuk-radios__input"
                                   required="required"
                                   th:field="*{organisationTypeId}"
                                   th:attr="data-required-errormessage=#{validation.standard.organisationtype.required}"
                                   th:value="${type.id}"/>
                            <label th:for="'radio-'+ ${type.id}"
                                   class="govuk-label govuk-radios__label">
                                <span th:text="${type.name}"></span>
                                <span class="govuk-hint" th:text="${type.description}"></span>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>


            <p class="govuk-body">
                If your organisation type is not listed contact the <a th:href="@{/info/contact}" class="govuk-link">customer
                support service</a>.
            </p>
            <p class="govuk-body">
                For more information about Je-S visit
                <a href="https://www.gov.uk/government/publications/innovate-uk-completing-your-application-project-costs-guidance/guidance-for-academics-applying-via-the-je-s-system}"
                   rel="external">
                    Guidance for academics applying via the Je-S system (opens in a new tab)
                </a>
            </p>

            <div class="govuk-!-margin-top-6">
                <button id="heukar-partner-org-type-cta" class="govuk-button" name="select-company-type"
                        type="submit">Save and continue
                </button>
                <a class="button-clear"
                   th:href="@{/application/{applicationId}/form/question/{questionId}/team(applicationId=${model.applicationId},questionId=${model.questionId})}">
                    Cancel
                </a>
            </div>

        </form>

        <th:block th:insert="fragments/layout :: main-content-end"/>
    </main>
</div>
<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>
<th:block th:insert="fragments/service-layout :: body-end"/>
</body>
</html>
