<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:with="applicationName=${#strings.isEmpty(model.applicationName)} ? #{ifs.application.no_title} : ${model.applicationName}">
        <th:block th:insert="fragments/layout :: head"
                  th:with="pageTitle=${model.questionName} + ' - ' + ${applicationName},hasFormErrors=${#fields.hasErrors('${form.*}')}" />
    </th:block>
</head>
<body class="govuk-template__body">
<th:block th:insert="fragments/modals :: modal-overlay"/>
<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner"/>

    <th:block th:insert="fragments/layout :: header-sub"
              th:with="linkTitle='Back to application overview',linkClass='link-back',linkUrl=@{/application/{applicationId}(applicationId=${model.applicationId})}"/>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div th:if="${#fields.hasErrors('${form.*}')}" class="govuk-error-summary"
             aria-labelledby="error-summary-title"
             role="alert"
             tabindex="-1"
             data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
            <th:block th:insert="fragments/elements :: error-summary-list(form)"/>
        </div>

        <th:block
            th:with="applicationName=${#strings.isEmpty(model.applicationName)} ? #{ifs.application.no_title} : ${model.applicationName}">
            <th:block th:insert="fragments/layout :: page-title"
                      th:with="pageTitle=${model.questionName},subTitle=${applicationName},size='govuk-heading-xl'"/>
        </th:block>

        <th:block th:if="${model.complete}">
            <div class="success-alert assignee govuk-!-margin-bottom-6">
                <p class="govuk-body">This question is marked as complete.</p>
            </div>
        </th:block>

        <th:block th:unless="${!model.open or model.complete or model.singleApplicant}"
                  th:with="assignee=${model.assignButtonsViewModel.assignedToCurrentUser ? 'you' : model.assignButtonsViewModel.assigneeUserName}">
            <div class="assigned-alert govuk-!-margin-bottom-6">
                <p class="govuk-body">This question is assigned to
                    <th:block th:text="${assignee}"/>.
                    <a th:if="${model.assignButtonsViewModel.currentUserIsLead and !model.assignButtonsViewModel.hideAssignButtons}"
                       th:href="@{/application/{applicationId}/form/question/{questionId}/assign(applicationId=${model.applicationId},questionId=${model.questionId})}"
                       class="govuk-link">Assign to someone else.</a>
                </p>
            </div>
        </th:block>

        <div class="clear-floats" th:if="${model.readOnly and model.multipleChoiceOptionsActive}">
            <div class="govuk-grid-row govuk-!-margin-top-6" th:if="${model.readOnly and model.multipleChoiceOptionsActive}">
                <div class="govuk-grid-column-one-half" th:if="${model.readOnly and model.multipleChoiceOptionsActive}">
                    <h3 class="govuk-heading-s">
                        <th:block th:if="${model.shouldDisplayQuestionNumber()}" th:text="|${model.questionNumber}. |">1</th:block>
                        <th:block th:text="${model.questionSubtitle}">Project team</th:block>
                    </h3>
                </div>
                <div class="govuk-grid-column-one-half alignleft" th:if="${model.readOnly and model.multipleChoiceOptionsActive}">
                    <p class="govuk-body" th:text="${model.multipleChoiceFormInputText ?: 'Question not answered.'}">Answer</p>
                </div>
            </div>
        </div>

        <th:block th:unless="${model.readOnly}">
            <p class="govuk-hint wysiwyg-styles" th:if="${model.questionDescription != null}" ifs:utext="${model.questionDescription}"></p>

            <details class="govuk-details" role="group">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text" th:text="${model.questionGuidanceTitle}">What should I include in the project public description?</span>
                </summary>
                <div class="govuk-details__text wysiwyg-styles"
                     ifs:utext="${model.questionGuidance}">Guidance
                </div>
            </details>
        </th:block>

        <form th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}" th:object="${form}" novalidate="novalidate"
              data-autosave="autosaveFormPost" enctype="multipart/form-data"
              method="post">

            <th:block th:unless="${model.readOnly}">
                <button class="hidden-save" type="submit" tabindex="-1" aria-hidden="true">Save</button>
                <input type="hidden" th:field="${model.textAreaActive}" />
                <input type="hidden" th:field="${model.multipleChoiceOptionsActive}" />
            </th:block>

            <div class="govuk-form-group" th:if="${model.textAreaActive}"
                 th:classappend="${#fields.hasErrors('answer')} ? 'govuk-form-group--error'">
                <th:block th:if="${#fields.hasErrors('answer')}">
                    <span class="govuk-error-message"  th:each="err : ${#fields.errors('answer')}" th:text="${err}"></span>
                </th:block>
                <div class="textarea-wrapped word-count"
                     th:classappend="|${model.complete ?: 'marked-as-complete'}  ${model.assignButtonsViewModel.assignedToCurrentUser ?: 'assigned-to-me'}|">

                    <textarea class="govuk-textarea"
                              th:field="*{answer}"
                              th:errorclass="govuk-textarea--error"
                              th:readonly="${model.readOnly}"
                              th:attrappend="data-max_words=${model.wordCount}, data-maxwordslength=${model.wordCount},data-maxwordslength-errormessage=${'Maximum word count exceeded. Please reduce your word count to '+model.wordCount+'.'}"
                              data-editor="md"
                              th:attr="data-required-errormessage=#{validation.field.please.enter.some.text}"
                              required="required"></textarea>

                    <div class="form-footer">
                        <div class="form-footer__info" aria-live="polite" aria-atomic="true" role="status">
                            <span class="textarea-footer"></span>
                            <th:block
                                th:insert="question-type/form-elements :: form-word-count (maxWords=${model.wordCount}, currentWordsLeft=${model.wordsLeft})"/>
                        </div>

                    </div>
                </div>
            </div>

            <th:block th:if="${model.multipleChoiceOptionsActive}">
                <div class="govuk-form-group" th:unless="${model.readOnly}"
                     th:classappend="${#fields.hasErrors('answer')} ? 'govuk-form-group--error'">
                    <th:block th:if="${#fields.hasErrors('answer')}">
                        <span class="govuk-error-message"  th:each="err : ${#fields.errors('answer')}" th:text="${err}"></span>
                    </th:block>
                    <div class="govuk-radios" th:classappend="${#lists.size(model.multipleChoiceOptions) <= 2} ? govuk-radios--inline" th:if="${#lists.size(model.multipleChoiceOptions) <= 9}">
                        <div class="govuk-radios__item" th:each="multipleChoiceOption : ${model.multipleChoiceOptions}">
                            <input type="radio" name="innovationAreaChoice" required="required"
                                   class="govuk-radios__input"
                                   th:id="${'multipleChoiceOption-'+multipleChoiceOption.id}"
                                   th:field="*{answer}"
                                   th:value="${multipleChoiceOption.text}"
                                   th:checked="${model.multipleChoiceFormInputId} == ${multipleChoiceOption.id}"
                                   th:readonly="${model.readOnly}"
                                   th:errorclass="govuk-input--error"
                                   th:attr="data-required-errormessage=#{validation.multiple.choice.required}">
                            <label th:for="${'multipleChoiceOption-'+multipleChoiceOption.id}"
                                   class="govuk-label govuk-radios__label" th:text="${multipleChoiceOption.text}" />
                        </div>
                    </div>
                    <div th:if="${#lists.size(model.multipleChoiceOptions) > 9 and #lists.size(model.multipleChoiceOptions) <= 15}">
                        <select class="govuk-select"
                                th:id="multipleChoiceOption"
                                th:field="*{answer}"
                                th:readonly="${model.readOnly}"
                                data-required-errormessage="#{validation.multiple.choice.required}"
                                data-auto-complete="">
                            <option value="" >Please Select</option>
                            <option th:each="multipleChoiceOption : ${model.multipleChoiceOptions}" th:value="${multipleChoiceOption.text}" th:text="${multipleChoiceOption.text}"></option>
                        </select>
                    </div>
                </div>
            </th:block>

            <div class="govuk-form-group" th:if="${model.templateDocumentActive}">
                <div class="govuk-form-group download">
                    <h3 class="govuk-heading-s" th:text="|Download the ${model.templateDocumentTitle} template|">Download</h3>
                    <p class="govuk-body">
                        <a th:href="@{/application/{applicationId}/form/question/{questionId}/generic/form-input/{formInputId}/download-template-file(applicationId=${model.applicationId}, questionId=${model.questionId}, formInputId=${model.templateDocumentFormInputId})}"
                           class="govuk-link"
                           th:text="${model.templateDocumentFilename}">template</a>
                    </p>
                </div>
                <div class="upload-section govuk-!-margin-top-6">
                    <h3 class="govuk-heading-s govuk-!-margin-0" th:text="|Upload your completed ${model.templateDocumentTitle}|">Upload your completed spreadsheet</h3>
                    <p class="govuk-body">Your upload must be no larger than 10MB</p>
                    <div class="govuk-form-group" th:with="removeValue = ${model.templateDocumentResponseFileEntryId}">
                        <th:block th:insert="question-type/types :: fileupload-fragment(${model.readOnly ? 'readonly' : 'edit'},
                                @{/application/{applicationId}/form/question/{questionId}/forminput/{formInputId}/download(applicationId=${model.applicationId}, questionId=${model.questionId}, formInputId=${model.templateDocumentFormInputId})},
                                ${model.templateDocumentResponseFilename},
                                templateDocument,
                                templateDocument,
                                true,
                                removeTemplateDocument,
                                uploadTemplateDocument)"/>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group" th:if="${model.appendixActive}">
                <div class="upload-section">
                    <h3 class="govuk-heading-s govuk-!-margin-0">Appendix</h3>
                    <details class="govuk-details" role="group">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">What should I include in the appendix?</span>
                        </summary>
                        <div class="govuk-details__text wysiwyg-styles">
                            <th:block ifs:utext="${model.appendixGuidance}"></th:block>
                            <h3 class="govuk-heading-s govuk-!-margin-0">Accepted appendix file types</h3>
                            <ul>
                                <li th:text="${allowedFileType.getDisplayName()}" th:each="allowedFileType : ${model.appendixAllowedFileTypes}">
                                    PDF
                                </li>
                            </ul>
                            <p class="govuk-body">It must be less than 10MB in size.</p>
                        </div>
                    </details>
                    <div class="govuk-form-group">
                        <div class="ajax-upload"
                             data-js-upload-button-name="uploadAppendix"
                             data-js-upload-file-input="appendix"
                             th:attr="data-js-number-of-files=${model.maximumAppendices}"
                             data-js-upload-one-at-a-time="">
                            <p th:if="${model.appendices.isEmpty()}" class="govuk-body no-file-uploaded">No file currently
                                uploaded.</p>
                            <ul class="govuk-list file-list">
                                <li th:each="appendix : ${model.appendices}"
                                    class="success">
                                    <div class="file-row">
                                        <a th:href="@{/application/{applicationId}/form/question/{questionId}/forminput/{formInputId}/file/{fileEntryId}/download(applicationId=${model.applicationId}, questionId=${model.questionId}, formInputId=${model.appendixFormInputId}, fileEntryId=${appendix.fileEntryId})}"
                                           th:text="|${appendix.filename} (opens in a new window)|"
                                           target="_blank"
                                           class="govuk-link"
                                           aria-describedby="file-hint">File</a>
                                        <button th:unless=${model.readOnly} name="removeAppendix" th:value="${appendix.fileEntryId}"
                                                class="button-clear remove-file" aria-label="Remove uploaded document">Remove
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <div th:unless=${model.readOnly}
                                 th:class="${#fields.hasErrors('appendix')} ? 'govuk-form-group--error' : ''">
                                <th:block th:if="${#fields.hasErrors('appendix')}">
                            <span class="govuk-error-message" th:each="err : ${#fields.errors('appendix')}"
                                  th:text="${err}"/>
                                </th:block>
                                <th:block th:if="${model.maximumAppendices > model.appendices.size()}">
                                    <input type="file" id="appendix" class="inputfile" name="appendix">
                                    <label for="appendix" class="govuk-!-margin-top-6">Upload</label>
                                    <button name="uploadAppendix" class="govuk-button govuk-button--secondary" type="submit"
                                            data-for-file-upload="appendix">Save
                                    </button>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-footer govuk-!-margin-top-8">
                <div th:if="${model.open}" class="form-footer__actions">
                    <th:block th:unless="${model.complete or !model.assignButtonsViewModel.assignedToCurrentUser}">
                        <button th:if="${model.leadApplicant}"
                                id="application-question-complete" type="submit"
                                name="complete"
                                class="button-clear">Mark as complete
                        </button>
                        <button th:unless="${model.leadApplicant}"
                                type="submit"
                                name="assign"
                                class="button-clear">Assign to lead for review
                        </button>
                    </th:block>
                    <button th:if="${model.complete}" id="edit" type="submit" name="edit" class="button-clear">Edit</button>
                </div>
                <div class="form-footer__info" aria-live="polite" aria-atomic="true" role="status">
                    <th:block th:if="${model.hasResponse()}">
                        <span class="update-label">Last updated: </span>
                        <th:block th:insert="question-type/form-elements :: updateTimeDetails" th:with="updateDate=${model.lastUpdated},lastUpdatedText=${model.lastUpdatedText}, applicationId=${model.applicationId}" />
                    </th:block>
                </div>
                </div>

            <div class="govuk-!-margin-top-6">

                <a th:if="${model.readOnly}" th:href="@{/application/{applicationId}(applicationId=${model.applicationId})}"
                   class="govuk-button govuk-button--secondary">Return to application overview
                </a>
                <button class="govuk-button" th:unless="${model.readOnly}" type="submit">Save and return to application overview</button>
            </div>
        </form>

        <th:block th:insert="fragments/layout :: main-content-end"/>
    </main>
</div>
<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>
<th:block th:insert="fragments/service-layout :: body-end"/>
</body>
</html>
