<!DOCTYPE html>
<html  class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle=|All applications - ${model.competitionName}|" />
    </head>

    <body class="dashboard-internal full-width">
        <th:block th:insert="fragments/layout :: body-start" />
       <th:block th:insert="fragments/layout :: global-header" />

        <main id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />
            <div th:include="fragments/layout :: header-sub"
                 th:with="linkTitle='Applications',linkClass='link-back',linkUrl=@{/competition/{competitionId}/applications(competitionId=${model.competitionId})}"
                 th:remove="tag" />

            <h1 class="heading-xlarge">
                <span class="heading-secondary">
                    <th:block th:text="|${#numbers.formatInteger(model.competitionId,8)}: ${model.competitionName}|">00000001: Connected digital additive manufacturing</th:block>
                </span>
                All applications
            </h1>

            <h2 class="heading-medium">Key statistics</h2>
            <ul class="grid-row extra-margin-bottom">
                <li class="column-quarter">
                    <div class="highlight-panel highlight-panel-padded">
                        <span class="heading-large" th:text="${model.totalNumberOfApplications}">22</span>
                        <br />
                        <small>Total number of applications</small>
                    </div>
                </li>

                <li class="column-quarter">
                    <div class="highlight-panel highlight-panel-padded">
                        <span class="heading-large" th:text="${model.applicationsStarted}">12</span>
                        <br />
                        <small>Applications started</small>
                    </div>
                </li>

                <li class="column-quarter">
                    <div class="highlight-panel highlight-panel-padded">
                        <span class="heading-large" th:text="${model.applicationsInProgress}">6</span>
                        <br />
                        <small>Applications (Beyond 50%)</small>
                    </div>
                </li>

                <li class="column-quarter">
                    <div class="highlight-panel highlight-panel-padded">
                        <span class="heading-large" th:text="${model.applicationsSubmitted}">4</span>
                        <br />
                        <small>Applications submitted</small>
                    </div>
                </li>
            </ul>

            <div class="grid-row sorting">
                <div class="column-two-thirds">
                    <p><span class="heading-xlarge no-margin" th:text="${model.totalNumberOfApplications}">22</span> <span class="heading-small">applications</span></p>

                    <!--/* TODO: Implement sort dropdown for the table - INFUND-8054 */-->

                </div>
            </div>

            <div class="table-overflow">
                <table id="application-list">
                    <thead>
                        <tr>
                            <th scope="col">Application number</th>
                            <th scope="col">Project title</th>
                            <th scope="col">Lead</th>
                            <th scope="col">Innovation area</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="alignright" style="width: 10%">Percentage complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="filtered-result" th:each="row, iterStat : ${model.applications}">
                            <td>
                                <a th:href="@{/competition/{cid}/application/{aid}(cid=${model.competitionId},aid=${row.id})} + ${originQuery}"
                                   th:text="${#numbers.formatInteger(row.id,8)}">194731</a>
                            </td>
                            <td th:text="${row.projectTitle}">Machine learning in robots</td>
                            <td th:text="${row.lead}">PWC</td>
                            <td th:text="${row.innovationArea}">HVM</td>
                            <td th:text="${row.status}">Submitted</td>
                            <td class="alignright" th:text="${row.percentageComplete}">100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:include="fragments/elements :: general-pagination(pagination=${model.pagination})" th:remove="tag"/>

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
