<!DOCTYPE html>
<html  class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle=|All applications - ${model.competitionName}|" />
    </head>

    <body class="dashboard-internal full-width">
        <th:block th:insert="fragments/layout :: body-start" />
       <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />
            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Applications',linkClass='link-back',linkUrl=@{/competition/{competitionId}/applications(competitionId=${model.competitionId})}" />
            <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='All applications',subTitle=|${model.competitionId}: ${model.competitionName}|,size='heading-xlarge'" />

            <h2 class="heading-medium">Key statistics</h2>
            <ul class="grid-row extra-margin-bottom">
                <li class="column-quarter">
                    <div class="highlight-panel highlight-panel-padded">
                        <span class="heading-large" th:text="${model.totalNumberOfApplications}">22</span>
                        <br />
                        <small>Total number of applications</small>
                    </div>
                </li>

                <li class="column-quarter">
                    <div class="highlight-panel highlight-panel-padded">
                        <span class="heading-large" th:text="${model.applicationsStarted}">12</span>
                        <br />
                        <small>Applications started</small>
                    </div>
                </li>

                <li class="column-quarter">
                    <div class="highlight-panel highlight-panel-padded">
                        <span class="heading-large" th:text="${model.applicationsInProgress}">6</span>
                        <br />
                        <small>Applications (Beyond 50%)</small>
                    </div>
                </li>

                <li class="column-quarter">
                    <div class="highlight-panel highlight-panel-padded">
                        <span class="heading-large" th:text="${model.applicationsSubmitted}">4</span>
                        <br />
                        <small>Applications submitted</small>
                    </div>
                </li>
            </ul>
            <form method="GET">
                <div class="search-filters extra-margin">

                    <fieldset>
                        <legend class="heading-medium">Filter applications</legend>
                        <div class="grid-row">
                            <div class="column-two-thirds">
                                <label class="form-label" for="filterSearch">Search by application number.</label>
                                <input type="text" class="form-control extra-margin-bottom" id="filterSearch" name="filterSearch" th:value="${model.filter}"/>
                                <a href="?" th:href="'?sort=' + ${model.sorting}">Clear all filters</a>
                            </div>
                            <div class="column-third">
                                <button class="button">Filter</button>
                            </div>
                        </div>
                    </fieldset>

                </div>

                <div class="grid-row sorting">
                    <div class="column-half">
                        <p><span class="heading-xlarge no-margin" th:text="${model.pagination.totalCount}">22</span>
                            <span class="heading-small">applications</span>
                        </p>
                    </div>
                    <div class="column-half alignright">
                        <label for="sort-by">Sort by</label>
                        <select id="sort-by" name="sort" class="js-auto-submit form-control">
                            <option value="id" th:selected="${(model.sorting == 'id')}">Application no.</option>
                            <option value="lead" th:selected="${(model.sorting == 'lead')}">Lead</option>
                            <option value="percentageComplete" th:selected="${(model.sorting == 'percentageComplete')}">Percentage complete</option>
                        </select>
                        <button type="submit" class="button button-secondary no-margin js-hidden">Sort</button>
                    </div>
                </div>
            </form>
            <div class="table-overflow">
                <table id="application-list">
                    <thead>
                        <tr>
                            <th scope="col">Application number</th>
                            <th scope="col">Project title</th>
                            <th scope="col">Lead</th>
                            <th scope="col">Innovation area</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="alignright" style="width: 10%">Percentage complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="filtered-result" th:each="row, iterStat : ${model.applications}">
                            <td>
                                <a th:href="@{/competition/{cid}/application/{aid}(cid=${model.competitionId},aid=${row.id})} + ${originQuery}"
                                   th:text="${row.id}">194731</a>
                            </td>
                            <td th:text="${row.projectTitle}">Machine learning in robots</td>
                            <td th:text="${row.lead}">PWC</td>
                            <td th:text="${row.innovationArea} ?: 'Not listed'">HVM</td>
                            <td th:text="${row.status}">Submitted</td>
                            <td class="alignright" th:text="${row.percentageComplete}">100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <th:block th:insert="fragments/elements :: general-pagination(pagination=${model.pagination})" />

            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
