<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application details',hasFormErrors=${#fields.hasErrors('${competitionSetupForm.*}')}" />
</head>
<body class="competition-management competition-setup">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Application',linkClass='link-back',linkUrl=@{/competition/setup/{compId}/section/application/landing-page(compId = ${model.general.competition.id})}" />

    <div th:if="${#fields.hasErrors('${competitionSetupForm.*}')}" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">Unable to save section.</h2>
        <th:block th:insert="fragments/elements :: error-summary-list(competitionSetupForm)" />
    </div>

    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Application details',subTitle=${model.general.competition.name},size='heading-xlarge'" />

    <form th:if="${model.editable}"
          th:attrappend="data-autosave=${!model.general.state.setupComplete}?compSetup"
          th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}"
          th:object="${competitionSetupForm}" method="post"
          data-th-attr="data-competition=${model.general.competition.id}"
          data-section="application" data-subsection="detail" novalidate="novalidate">

        <fieldset>
            <legend>
                <h2 class="heading-medium">Project duration in months</h2>
            </legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('minProjectDuration')} ? 'form-group-error'">
                <label class="form-label" for="minProjectDuration">
                    <span>Minimum</span>
                    <th:block th:if="${#fields.hasErrors('minProjectDuration')}">
                        <span class="error-message" th:each="err : ${#fields.errors('minProjectDuration')}" th:text="${err}"></span>
                    </th:block>
                </label>
                <input class="form-control width-small"
                       id="minProjectDuration"
                       name="minimum"
                       th:field="*{minProjectDuration}"
                       th:errorclass="form-control-error"
                       th:attr="data-lowerthan-errormessage=#{competition.setup.applicationdetails.min.projectduration.exceedsmax}"
                       type="number"
                       required="required"
                       min="1"
                       max="60"
                       data-lowerthan="maxProjectDuration" />
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('maxProjectDuration')} ? 'form-group-error'">
                <label class="form-label" for="maxProjectDuration">
                    <span>Maximum</span>
                    <th:block th:if="${#fields.hasErrors('maxProjectDuration')}">
                        <span class="error-message" th:each="err : ${#fields.errors('maxProjectDuration')}" th:text="${err}"></span>
                    </th:block>
                </label>
                <input class="form-control width-small"
                       id="maxProjectDuration"
                       name="maximum"
                       th:field="*{maxProjectDuration}"
                       th:errorclass="form-control-error"
                       th:attr="data-higherthan-errormessage=#{competition.setup.applicationdetails.max.projectduration.beneathmin}"
                       type="number"
                       required="required"
                       min="1"
                       max="60"
                       data-higherthan="minProjectDuration" />
            </div>
        </fieldset>

        <div class="form-group" th:classappend="${#fields.hasErrors('useResubmissionQuestion')} ? 'form-group-error'">
            <fieldset class="inline">
                <legend id="useResubmissionQuestion">
                    <h2 class="heading-medium">Include the resubmission question?</h2>
                    <th:block th:if="${#fields.hasErrors('useResubmissionQuestion')}">
                        <span class="error-message"  th:each="err : ${#fields.errors('useResubmissionQuestion')}" th:text="${err}"></span>
                    </th:block>
                </legend>
                <div class="multiple-choice">
                    <input id="use-resubmission-question-yes"
                           value="true"
                           type="radio"
                           th:field="*{useResubmissionQuestion}"
                           required="required" />
                    <label for="use-resubmission-question-yes">
                        Yes
                    </label>
                </div>
                <div class="multiple-choice">
                    <input id="use-resubmission-question-no"
                           value="false"
                           type="radio"
                           th:field="*{useResubmissionQuestion}"
                           required="required" />
                    <label for="use-resubmission-question-no">
                        No
                    </label>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="button">Done</button>
    </form>

    <th:block th:unless="${model.editable}">

        <h2 class="heading-medium">Project duration in months</h2>
        <dl class="application-question-list grid-row">
            <dt class="column-third">Minimum</dt>
            <dd class="column-two-thirds"
                th:text="${competitionSetupForm.minProjectDuration}" />
            <dt class="column-third">Maximum</dt>
            <dd class="column-two-thirds"
                th:text="${competitionSetupForm.maxProjectDuration}" />
        </dl>

        <dl class="application-question-list grid-row">
            <dt class="column-third dt-title">Include the resubmission question?</dt>
            <dd class="column-two-thirds"
                th:text="${competitionSetupForm.useResubmissionQuestion ? 'Yes' : 'No'}" />
        </dl>

        <div class="extra-margin">
            <a class="button"
               th:unless="${model.general.state.preventEdit}"
               th:href="@{/competition/setup/{competitionId}/section/application/detail/edit(competitionId=${model.general.competition.id})}">Edit this question</a>
        </div>
        <div class="extra-margin">
            <a class="button-secondary"
               th:href="@{/competition/setup/{competitionId}/section/application(competitionId=${model.general.competition.id})}">Return to application questions</a>
        </div>
    </th:block>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />

</body>
</html>
