<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Competition Management Dashboard'" th:remove="tag" />
</head>
<body th:with="context='comp-management'" class="competition-management competition-setup">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

    <div th:include="fragments/layout :: header-sub" th:with="linkTitle='Application',linkClass='link-back',linkUrl=@{/competition/setup/{compId}/section/application/landing-page(compId = ${competitionId})}" th:remove="tag" />

    <div class="page-title">
        <p class="subtitle" th:text="${competitionName}"></p>
        <h1 class="heading-xlarge" th:if="${editable}">Edit 'Application details'</h1>
        <h1 class="heading-xlarge" th:unless="${editable}"> Application details</h1>
    </div>
    <p>These are the default questions included in the Application details section.</p>

    <form th:if="${editable}"
          data-autosave="compSetup"
          th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}"
          th:object="${competitionSetupForm}" method="post"
          data-th-attr="data-competition=${competitionId}"
          data-section="application" data-subsection="detail">

        <div class="error-summary" th:attr="aria-hidden=${!#fields.hasAnyErrors()}">
            <h2 class="heading-medium error-summary-heading">
                Unable to save section
            </h2>

            <ul class="error-summary-list">
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>

        <fieldset>
            <legend class="visuallyhidden">To be included:</legend>
            <h2 class="heading-medium extra-margin extra-margin-bottom">To be included:</h2>


            <div th:class="${#fields.hasErrors('useResubmissionQuestion')}? 'form-group error':'form-group'">
                <fieldset class="inline">
                    <legend>
                        <span class="form-label-bold">Resubmission question</span>
                        <span th:if="${#fields.hasErrors('useResubmissionQuestion')}" th:remove="tag">
                                  <span class="error-message"  th:each="err : ${#fields.errors('useResubmissionQuestion')}" th:text="${err}" />
                            </span>
                    </legend>
                    <label class="block-label" for="use-resubmission-question-yes">
                        <input id="use-resubmission-question-yes" value="true" type="radio" th:field="*{useResubmissionQuestion}" required="required" />
                        Yes
                    </label>
                    <label class="block-label" for="use-resubmission-question-no">
                        <input id="use-resubmission-question-no" value="false" type="radio" th:field="*{useResubmissionQuestion}" required="required" />
                        No
                    </label>
                </fieldset>
            </div>

            <button type="submit" class="button">Save and close</button>
        </fieldset>
    </form>

    <th:block th:unless="${editable}">

        <legend class="visuallyhidden">To be included:</legend>
        <h2 class="heading-medium extra-margin extra-margin-bottom">To be included:</h2>

        <th:block th:unless="${editable}">
            <dl class="application-question-list grid-row">
                <dt class="column-third">Resubmission question</dt>
                <dd class="column-two-thirds" th:text="${competitionSetupForm.useResubmissionQuestion ? 'yes' : 'no'}" />
                <!-- <dd class="column-two-thirds" th:text="${useResubmissionQuestion}"></dd> -->
            </dl>
        </th:block>

        <div class="extra-margin">
            <a class="button" th:href="@{/competition/setup/{competitionId}/section/application/detail/edit(competitionId=${competition.id})}">Edit this question</a>
        </div>
        <div class="extra-margin">
            <a class="button-secondary" th:href="@{/competition/setup/{competitionId}/section/application(competitionId=${competition.id})}">Return to application questions</a>
        </div>
    </th:block>

    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

</body>
</html>
