<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application progress'" />
    </head>

    <body th:with="context='comp-management'" class="competition-management competition-setup">
        <th:block th:insert="fragments/modals :: modal-overlay" />
        <th:block th:insert="fragments/competition-setup :: comp-setup-remove-assigned-assessor-modal" />
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start" />

            <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Allocate applications',linkClass='link-back',linkUrl=@{/assessment/competition/{competitionId}(competitionId=${model.competitionId})}" />

            <h1 class="heading-xlarge">
                <span class="heading-secondary" th:text="|${model.competitionId}: ${model.competitionName}|">0102468: Technology inspired, in assessment</span>
                <span th:text="${model.inAssessment ? 'Application progress' : 'Assign to application'}" th:remove="tag">Application progress</span>
            </h1>

            <h2 class="heading-medium" th:text="|${model.applicationId}: ${model.applicationName}|">
                94565678: The potential for glucose based contact lens monitoring in the managment of type two diabetetes
            </h2>

            <div class="grid-row extra-margin">
                <div class="column-quarter">
                    <h3 class="heading-small">Partners</h3>
                    <ul>
                        <li th:unless="${#strings.isEmpty(model.leadOrganisation)}"
                            th:text="${model.leadOrganisation} + ' (Lead)'">Aptrans Ltd (Lead)
                        </li>
                        <li th:each="partner : ${model.partnerOrganisations}" th:text="${partner}">Biotech Corp.</li>
                    </ul>
                </div>
                <div class="column-quarter">
                    <h3 class="heading-small">Innovation area</h3>
                    <span th:text="${model.applicationInnovationArea} ? ${model.applicationInnovationArea} : 'Not listed'"></span>
                </div>
            </div>
            <div class="extra-margin">
                <a th:href="@{/competition/{competitionId}/application/{applicationId}(competitionId=${model.competitionId},applicationId=${model.applicationId})} + ${applicationOriginQuery}">Review application</a>
            </div>

            <h2 class="heading-medium" th:text="(${model.inAssessment} ? 'Assigned' : 'Assign Assessors') + | (${#lists.size(model.assigned)})|">Assigned (4)</h2>

            <div class="table-overflow" th:unless="${#lists.isEmpty(model.assigned)}">
                <table class="assessors-assigned">
                    <thead>
                        <tr>
                            <th scope="col">Assessor</th>
                            <th scope="col">Type</th>
                            <th scope="col">Innovation area</th>
                            <th class="aligncentre" scope="col">Total applications</th>
                            <th class="aligncentre" scope="col">Assigned</th>
                            <th th:if="${model.inAssessment}" class="aligncentre" scope="col">Notified</th>
                            <th th:if="${model.inAssessment}" class="aligncentre" scope="col">Accepted</th>
                            <th th:if="${model.inAssessment}" class="aligncentre" scope="col">Started</th>
                            <th th:if="${model.inAssessment}" class="aligncentre" scope="col">Submitted</th>
                            <th scope="col"><span class="visuallyhidden">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="assessor : ${model.assigned}">
                            <td><a th:href="@{/competition/{competitionId}/assessors/profile/{assessorId}(competitionId=${model.competitionId},assessorId=${assessor.id})} + ${assessorProfileOriginQuery}"
                                   th:text="${assessor.name}">Oliver Romero</a></td>
                            <td th:text="${assessor.businessType}">Academic</td>
                            <td th:text="${#strings.listJoin(assessor.innovationAreas,', ')}">Healthcare, Regenerative medicine</td>
                            <td class="aligncentre" th:text="${assessor.totalApplicationsCount}">6</td>
                            <td class="aligncentre" th:text="${assessor.assignedCount}">4</td>
                            <td th:if="${model.inAssessment}" class="aligncentre">
                                <span th:remove="${assessor.notified} ? 'all' : 'tag'">-</span>
                                <span th:remove="${assessor.notified} ? 'tag' : 'all'" class="yes">Yes</span>
                            </td>
                            <td th:if="${model.inAssessment}" class="aligncentre">
                                <span th:remove="${assessor.accepted} ? 'all' : 'tag'">-</span>
                                <span th:remove="${assessor.accepted} ? 'tag' : 'all'" class="yes">Yes</span>
                            </td>
                            <td th:if="${model.inAssessment}" class="aligncentre">
                                <span th:remove="${assessor.started} ? 'all' : 'tag'">-</span>
                                <span th:remove="${assessor.started} ? 'tag' : 'all'" class="yes">Yes</span>
                            </td>
                            <td th:if="${model.inAssessment}" class="aligncentre">
                                <span th:remove="${assessor.submitted} ? 'all' : 'tag'">-</span>
                                <span th:remove="${assessor.submitted} ? 'tag' : 'all'" class="yes">Yes</span>
                            </td>
                            <td class="alignright">
                                <a class="button-secondary no-margin" data-js-modal="remove-assigned-assessor-modal"
                                   th:href="${removeActionNonJs}"
                                   th:attr="data-modal-form-action=${removeAction}"
                                   th:with="
                                   removeAction=@{/competition/{cId}/application/{apId}/assessors/withdraw/{asId}(cId=${model.competitionId},apId=${model.applicationId},asId=${assessor.assessmentId},filterInnovationArea=${model.filterInnovationArea})},
                                   removeActionNonJs=@{/competition/{cId}/application/{apId}/assessors/withdraw/{asId}/confirm(cId=${model.competitionId},apId=${model.applicationId},asId=${assessor.assessmentId},filterInnovationArea=${model.filterInnovationArea})}"
                                   th:unless="${assessor.submitted}">Remove</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p th:if="${#lists.isEmpty(model.assigned)}">No assessors have been assigned to this application.</p>

            <th:block th:if="${model.inAssessment}">
            <h2 class="heading-medium" th:text="|Rejected (${#lists.size(model.rejected)})|">Rejected (1)</h2>

            <div class="table-overflow" th:unless="${#lists.isEmpty(model.rejected)}">
                <table class="assessors-rejected">
                    <thead>
                        <tr>
                            <th scope="col">Assessor</th>
                            <th scope="col">Type</th>
                            <th scope="col">Innovation area</th>
                            <th class="aligncentre" scope="col">Total applications</th>
                            <th class="aligncentre" scope="col">Assigned</th>
                            <th scope="col">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="assessor : ${model.rejected}">
                        <td><a th:href="@{/competition/{competitionId}/assessors/profile/{assessorId}(competitionId=${model.competitionId},assessorId=${assessor.id})} + ${assessorProfileOriginQuery}"
                               th:text="${assessor.name}">Irving Wolfe</a></td>
                            <td th:text="${assessor.businessType}">Academic</td>
                            <td th:text="${#strings.listJoin(assessor.innovationAreas,', ')}">Healthcare, Regenerative medicine</td>
                            <td class="aligncentre" th:text="${assessor.totalApplicationsCount}">6</td>
                            <td class="aligncentre" th:text="${assessor.assignedCount}">4</td>
                            <td><strong th:text="${assessor.rejectReason.displayLabel}">Too many assignments</strong><br /><span th:remove="tag" th:text="${assessor.rejectComment}">You have frequently assignme me too may applications, I can and have told you previously that will only be able to assign a reduced amount of applications during th summer. I do like reviewing the applications to your competitions but please do not assign so many to me.</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p th:if="${#lists.isEmpty(model.rejected)}">No assessors have rejected this application.</p>


            <h2 class="heading-medium" th:text="|Previously assigned (${#lists.size(model.previouslyAssigned)})|">Previously assigned (0)</h2>

            <div class="table-overflow" th:unless="${#lists.isEmpty(model.previouslyAssigned)}">
                <table class="assessors-previous">
                    <thead>
                        <tr>
                            <th scope="col">Assessor</th>
                            <th scope="col">Type</th>
                            <th scope="col">Innovation area</th>
                            <th class="aligncentre" scope="col">Total applications</th>
                            <th class="aligncentre" scope="col">Assigned</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="assessor : ${model.previouslyAssigned}">
                            <td><a th:href="@{/competition/{competitionId}/assessors/profile/{assessorId}(competitionId=${model.competitionId},assessorId=${assessor.id})} + ${assessorProfileOriginQuery}"
                                   th:text="${assessor.name}">Dave Smith</a></td>
                            <td th:text="${assessor.businessType}">Business</td>
                            <td th:text="${#strings.listJoin(assessor.innovationAreas,', ')}">Electronics, sensors &amp; photonics, Materials</td>
                            <td class="aligncentre" th:text="${assessor.totalApplicationsCount}">6</td>
                            <td class="aligncentre" th:text="${assessor.assignedCount}">4</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p th:if="${#lists.isEmpty(model.previouslyAssigned)}">No assessors were previously assigned to this application.</p>

            </th:block>
            <h2 class="heading-medium">Available assessors</h2>

            <div class="search-filters extra-margin">
                <form action="#" method="GET">
                    <fieldset>
                        <div class="grid-row">
                            <div class="column-half">
                                <div class="form-group">
                                    <label class="form-label" for="filterInnovationArea">Innovation area</label>
                                    <select th:field="${model.filterInnovationArea}"
                                            class="form-control"
                                            aria-labelledby="innovation-area"
                                            id="filterInnovationArea">
                                        <option th:selected="${model.filterInnovationArea} == null" value="">--</option>
                                        <optgroup th:each="innovationSector : ${model.innovationSectors}" th:label="${innovationSector.name}">
                                            <option th:each="innovationArea : ${innovationSector.children}"
                                                    th:value="${innovationArea.id}"
                                                    th:text="${innovationArea.name}"
                                                    th:selected="${model.filterInnovationArea} == ${innovationArea.id}">
                                            </option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="column-half">
                                <div class="column-half extra-margin">
                                    <a href="?">Clear all filters</a>
                                </div>
                                <div class="column-half">
                                    <div class="alignright">
                                        <button class="button no-margin">Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="grid-row sorting">
                <div class="column-two-thirds">
                    <p><span class="heading-xlarge no-margin" th:text="${model.pagination.totalCount}">20</span> <span class="heading-small">Assessors</span></p>
                </div>
<!--/*
                <div class="column-third alignright">
                    <div class="form-group">
                        <form method="get" th:object="${form}">
                            <label for="sort-by">Sort by</label>
                            <select th:field="*{sortField}" name="sort" id="sort-by" class="js-auto-submit form-control"
                                    required="required"
                                    th:attr="data-required-errormessage=#{validation.availableAssessorsForm.selectedSortField.required}">
                                <option th:each="sortType : ${T(org.innovateuk.ifs.competition.resource.AvailableAssessorsSortFieldType).values()}"
                                        th:value="${sortType}"
                                        th:text="${sortType.label}">value</option>
                            </select>
                            <button class="button button-secondary button-small js-hidden" type="submit">Sort</button>
                        </form>
                    </div>
                </div>
                */-->
            </div>

            <div class="table-overflow">
                <table class="assessors-available">
                    <thead>
                        <tr>
                            <th scope="col">Assessor</th>
                            <th scope="col">Skill areas</th>
                            <th class="aligncentre" scope="col">Total applications</th>
                            <th class="aligncentre" scope="col">Assigned</th>
                            <th class="aligncentre" scope="col">Submitted</th>
                            <th scope="col"><span class="visuallyhidden">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="assessor : ${model.available}">
                            <td><a th:href="@{/competition/{competitionId}/assessors/profile/{assessorId}(competitionId=${model.competitionId},assessorId=${assessor.id})} + ${assessorProfileOriginQuery}"
                                   th:text="${assessor.name}">John Barnes</a></td>
                            <td th:text="${assessor.skillAreas}">skills</td>
                            <td class="aligncentre" th:text="${assessor.totalApplicationsCount}">4</td>
                            <td class="aligncentre" th:text="${assessor.assignedCount}">2</td>
                            <td class="aligncentre" th:text="${assessor.submittedApplications}">1</td>
                            <td class="alignright">
                                <form method="post"
                                      th:action="@{/competition/{cid}/application/{appId}/assessors/assign/{assId}(cid=${model.competitionId}, appId=${model.applicationId}, assId=${assessor.id}, filterInnovationArea=${model.filterInnovationArea})}">
                                    <button type="submit" class="button-secondary no-margin">Assign</button>
                                </form>
                            </td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(model.available)}">
                            <td colspan="6">No available assessors found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:include="fragments/elements :: general-pagination(pagination=${model.pagination})" th:remove="tag"/>
            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
    </body>
</html>
