<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Assessor progress'" />
</head>
<body th:with="context='comp-management'" class="competition-management">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <th:block th:insert="fragments/layout :: header-sub"
              th:with="linkTitle='Allocate assessors',
                linkClass='link-back',
                linkUrl=@{/assessment/competition/{competitionId}/assessors(competitionId=${model.competitionId})}" />
    <th:block th:insert="fragments/layout :: page-title"
              th:with="pageTitle='Assessor progress',
                subTitle=|${model.competitionId} : ${model.competitionName}|,
                size='heading-xlarge'" />

    <!--

    String          model.assessorName
    List            model.innovationAreas
    BusinessType    model.businessType
    int             model.totalApplications

    List            model.assigned
    long            model.assigned.applicationId
    String          model.assigned.applicationName
    String          model.assigned.leadOrganisation
    int             model.assigned.totalAssessors

    -->
</main>
</body>
</html>
