<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="comp-dashboard-header(searchQuery)">
    <div class="grid-row">
        <div class="column-half">
            <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='All competitions',size='heading-large'" />
        </div>
        <div class="column-half alignright">
            <div class="form-search" th:if="${showSearch == null || showSearch == true}">
                <label class="visuallyhidden" for="searchQuery">Search for:</label>
                <input type="search" th:value="${searchQuery}" name="searchQuery" id="searchQuery" class="search-query"
                       placeholder="Search competitions"/>
                <input type="submit" id="searchsubmit" value="Search" class="btn"/>
            </div>
        </div>
    </div>
</div>

<div th:fragment="comp-dashboard-navigation(selectedTab, counts, supportView)">
    <ul class="inline-nav cf">
        <li id="section-1" th:class="${selectedTab == 'live' ? 'selected' : ''}">
            <a th:href="@{'/dashboard/live'}" th:text="'Live ('+${counts.liveCount}+')'"></a>
        </li>

        <li id="section-2" th:class="${selectedTab == 'upcoming' ? 'selected' : ''}" th:unless="${supportView}">
            <a th:href="@{'/dashboard/upcoming'}" th:text="'Upcoming ('+${counts.upcomingCount}+')'"></a>
        </li>

        <li id="section-3" th:class="${selectedTab == 'non-ifs' ? 'selected' : ''}" th:unless="${supportView}">
            <a th:href="@{'/dashboard/non-ifs'}" th:text="'Non-IFS ('+${counts.nonIfsCount}+')'"></a>
        </li>

        <li id="section-4" th:class="${selectedTab == 'projectSetup' ? 'selected' : ''}" th:unless="${supportView}">
            <a th:href="@{'/dashboard/project-setup'}" th:text="'Project setup ('+${counts.projectSetupCount}+')'"></a>
        </li>

        <li id="section-5" th:class="${selectedTab == 'previous' ? 'selected' : ''}" th:unless="${supportView}">
            <a th:href="@{'/dashboard/previous'}" th:text="'Previous ('+${counts.feedbackReleasedCount}+')'"></a>
        </li>
    </ul>
</div>

<div th:fragment="dashboard-row">
    <div class="column-third">
        <h3 class="heading-small">
            <a th:href="@{'/non-ifs-competition/setup/'+${competition.id}}"
               th:if="${nonIfs}">
                <th:block th:insert="competition/dashboard :: competition-name" />
            </a>
            <th:block th:unless="${nonIfs}">
                <th:block th:if="${customLink}">
                    <a th:href="@{${customLink}}">
                        <th:block th:insert="competition/dashboard :: competition-name" />
                    </a>
                </th:block>
                <th:block th:unless="${customLink}">
                    <th:block th:if="${projectSetup}">
                        <a th:href="${'/project-setup-management/competition/'+competition.id+'/status'}">
                            <th:block th:insert="competition/dashboard :: competition-name" />
                        </a>
                    </th:block>
                    <th:block th:unless="${projectSetup}">
                        <a th:href="@{'/competition/setup/'+${competition.id}}"
                           th:if="${competition.competitionStatus == T(org.innovateuk.ifs.competition.resource.CompetitionStatus).COMPETITION_SETUP}">
                            <th:block th:insert="competition/dashboard :: competition-name" />
                        </a>
                        <th:block th:if="${competition.competitionStatus.inFlight}">
                            <a th:href="@{${competition.topLevelNavigationLink}}">
                                <th:block th:insert="competition/dashboard :: competition-name" />
                            </a>
                        </th:block>
                    </th:block>
                </th:block>
            </th:block>
        </h3>
    </div>
    <div class="column-two-thirds">
        <div class="column-third"><p th:text="${competition.competitionTypeName}"></p></div>
        <div class="column-third">
            <p th:unless="${competition.innovationAreaNames.size() > 5}" th:text="${#strings.setJoin(competition.innovationAreaNames, ', ')}"></p>
            <p th:if="${competition.innovationAreaNames.size() > 5}">Multiple innovation areas</p>
        </div>
        <div class="column-third"><p th:text="${cell4}"></p></div>
    </div>
</div>


<div th:fragment="competition-name">
    <th:block th:unless="${#strings.isEmpty(competition.name)}" th:text="${competition.name}"/>
    <th:block th:if="${#strings.isEmpty(competition.name)}" th:text="#{ifs.competition.no_title}"/>
</div>

</html>
