<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Public Content'" />
</head>
<body th:with="context='comp-management'" class="competition-management competition-setup">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <form th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}" th:object="${form}" method="post">
        <!-- Link back -->
        <div th:unless="${model.competition.nonIfs}" th:include="fragments/layout :: header-sub" th:with="linkTitle='Competition setup',linkClass='link-back',linkUrl=@{/competition/setup/{competitionId}(competitionId=${model.competition.id})}"  th:remove="tag"></div>
        <div th:if="${model.competition.nonIfs}" th:include="fragments/layout :: header-sub" th:with="linkTitle='Back to Non-IFS competition details',linkClass='link-back',linkUrl=@{/non-ifs-competition/setup/{competitionId}(competitionId=${model.competition.id})}"  th:remove="tag"></div>

        <div class="error-summary" th:if="${#fields.hasErrors('*')}">
            <h2 class="heading-medium error-summary-heading">There was a problem publishing the public content.</h2>

            <ul class="error-summary-list">
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="page-title">
            <th:block th:insert="fragments/elements :: competition-title (competition=${model.competition})" />
            <h1 class="heading-xlarge">Public content</h1>
        </div>
        <div class="panel">
            This information will be publicly viewable by prospective applicants.
        </div>

        <ul class="list-overview">
            <th:block th:each="section : ${model.sections}">
                <li class="grid-row section">
                    <div class="column-two-thirds">
                        <h2 class="heading-small">
                            <a th:text="${section.type.text}" th:href="@{/competition/setup/public-content/{sectionPath}/{competitionId}{edit}(competitionId=${model.competition.id},sectionPath=${section.type.path},edit=${model.isSectionComplete(section) ? '' : '/edit'})}"></a>
                        </h2>
                    </div>
                    <div th:if="${model.isSectionComplete(section)}">
                        <img class="section-status complete"
                             src="/images/field/field-done-right.png"
                             th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/field/field-done-right.png')}"
                             width="30"
                             height="30"
                             th:alt="'The &quot;'+${section.type.text}+'&quot; section is marked as done'"
                             th:title="'The &quot;'+${section.type.text}+'&quot; section is marked as done'"/>
                    </div>
                </li>
            </th:block>
        </ul>
        <div class="extra-margin">
            <p th:if="${model.hasBeenPublished()}"
                th:with="publishDay=${#temporals.format(model.publishDate, 'd MMMM yyyy')},
                         publishTime=${#strings.toLowerCase(#temporals.format(model.publishDate, ' h:mma'))}">
                <small th:text="${'Last published ' + publishDay + ' ' + publishTime}"></small></p>
            <div class="grid-row">
                <div class="column-half">
                    <a th:unless="${model.competition.nonIfs}" th:href="@{/competition/setup/{competitionId}(competitionId=${model.competition.id})}" class="button">Return to setup overview</a>
                    <a th:if="${model.competition.nonIfs}" th:href="@{/non-ifs-competition/setup/{competitionId}(competitionId=${model.competition.id})}" class="button">Return to non-IFS competition details</a>
                </div>
                <div class="column-half alignright">
                    <button th:unless="${model.hasBeenPublished()}" class="button-secondary no-margin" th:disabled="${model.disablePublishButton()}" name="publish">Publish public content</button>
                </div>
            </div>
        </div>
        <hr />
    </form>

    <ul class="pagination" th:unless="${model.competition.nonIfs}">
        <li class="prev">
            <a rel="prev" title="Navigate to prev part" th:href="@{/competition/setup/{competitionId}/section/{sectionPath}(competitionId=${model.competition.id},sectionPath='assessors')}">
                <span class="pagination-label">Previous</span>
                <span class="pagination-part-title">Assessors</span>
            </a>
        </li>
    </ul>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
