<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle=${model.assessmentClosed} ? 'Previous applications' : 'Review applications'" />
</head>
<body class="govuk-template__body">
    <th:block th:insert="fragments/modals :: modal-overlay" />
    <th:block th:insert="fragments/layout :: body-start" />
    <th:block th:insert="fragments/layout :: global-header" />

    <div class="govuk-width-container">
        <th:block th:insert="fragments/layout :: phase-banner" />
        <th:block th:include="fragments/layout :: header-sub" th:with="linkTitle='Back to competitions',linkUrl=@{/supporter/dashboard}"></th:block>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle=${model.assessmentClosed} ? 'Previous applications' : 'Review applications',subTitle=${model.competitionName},size='govuk-heading-xl'" />
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half competition details">
                    <dl class="govuk-list govuk-!-font-size-16">
                        <dt th:if="${model.assessmentClosed}">Reviews closed:</dt>
                        <dt th:unless="${model.assessmentClosed}">Review applications deadline:</dt>
                        <dd th:text="|${#strings.toLowerCase(#temporals.format(model.deadline, 'hh:mma'))} ${#temporals.format(model.deadline, 'EEEE d MMMM yyyy')}|"></dd>
                    </dl>
                </div>

                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body">
                        <a th:href="@{~/competition/{cid}/overview(cid=${model.competitionId})}"
                           class="govuk-link"
                           target="_blank"
                           rel="external noopener noreferrer">View competition brief (opens in a new window)</a>.
                    </p>
                </div>
            </div>

            <p class="govuk-body">
                Applications will be removed from your dashboard if you don’t review them before the deadline.
            </p>

            <p th:if="${#lists.isEmpty(model.applications)}" class="govuk-body govuk-!-margin-top-6">
                There are currently no applications for you to review.
            </p>

            <div class="in-progress" th:unless="${#lists.isEmpty(model.applications)}">
                <div class="progress-list govuk-!-margin-bottom-4">
                    <h2 class="govuk-heading-m govuk-!-margin-0"><th:block th:text="${model.assessmentClosed} ? 'Previous applications' : 'Applications for review'">Applications for review</th:block> (<span
                    th:text="${model.pagination.totalElements}"/>)</h2>

                    <ul>
                        <li th:each="app,iterStat : ${model.applications}">
                            <div class="task">
                                <h3 class="govuk-heading-s"><a class="govuk-link"
                                        th:href="@{~/application/{applicationId}/summary(applicationId=${app.id})}"
                                        th:text="${app.name}"/></h3>
                                <p th:text="'Knowledge base partner: ' + ${app.lead}" class="govuk-body govuk-!-margin-0"/>
                            </div>
                            <div th:if="${app.state.accepted or app.state.rejected}"
                                 class="status-and-action">
                                <p th:if="${app.state.accepted}"
                                   class="govuk-body status-msg msg-progress msg-positive">Interested</p>
                                <p th:if="${app.state.rejected}"
                                   class="govuk-body status-msg msg-progress">Declined</p>
                                <div class="action">
                                    <a class="govuk-link"
                                       th:href="@{/supporter/application/{applicationId}/response(applicationId=${app.id})}">View feedback</a>
                                </div>
                            </div>
                            <div th:unless="${app.state.accepted or app.state.rejected}"
                                 class="status">
                                <a class="govuk-link"
                                   th:href="@{/supporter/application/{applicationId}/response(applicationId=${app.id})}">Review</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <th:block th:insert="fragments/elements :: pagination(pagination=${model.pagination})" />
            <th:block th:insert="fragments/layout :: main-content-end" />
        </main>
    </div>

    <th:block th:insert="fragments/layout :: footer" />
    <th:block th:insert="fragments/layout :: body-end" />
    <th:block th:insert="fragments/service-layout :: body-end" />
</body>
</html>
