.app-summary {


	.icon-information {
		float:left;
		width:54px;
		height:54px;
		margin-right:10px;
		background-image: url('../images/icons/icon-information-2x.png')

	}
	div.alignright-button {
		padding-top:30px;
	}
	a.back {
		font-size: 16px;
		display: block;
		margin-top:1em;
	}
	.question {
		overflow: hidden;
		margin:20px;
	}
}
.no-js .app-summary .agree-to-terms-container {
	display:none;
}

.app-summary.is-closed [readonly],
.app-summary.is-closed .readonly {
	border:none;
	padding:0;
	background:transparent;
}
.app-summary.is-closed .textarea-footer {
	display: none;
	min-height:0;
	resize:none;
}
