<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Contact details'" />
</head>
<body class="govuk-template__body">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div>
            <a th:href="@{/overview}" class="govuk-back-link">Back</a>
        </div>

        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Contact details',size='govuk-heading-xl'" />

        <th:block>

            <form th:action="@{/contact-details}" method="post" th:object="${form}" class="extra-margin" novalidate="novalidate">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend">
                        <p>Who is the most appropriate person for us to contact about your Horizon 2020 project?</p>
                        <p>We recommend your Legal Entity Appointed Representative (LEAR).</p>
                    </legend>

                    <input type="hidden" id="section1" name="section1" value="true">
                    <input type="hidden" id="section2" name="section2" value="true">
                    <input type="hidden" id="status" name="status" value="readonly">

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="name">
                            Full name
                        </label>
                        <input class="govuk-input" id="name" name="name" type="text" th:value="${model.name}" required="">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="jobTitle">
                            Job title
                        </label>
                        <input class="govuk-input" id="jobTitle" name="jobTitle" type="text" th:value="${model.jobTitle}" required="">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="email">
                            Email
                        </label>
                        <input class="govuk-input" id="email" name="email" type="email" th:value="${model.email}" required="">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="telephone">
                            Telephone
                        </label>
                        <input class="govuk-input" id="telephone" name="telephone" type="text" th:value="${model.telephone}" required="">
                    </div>

                    <button class="govuk-button" type="submit">Continue</button>

                </fieldset>

            </form>

        </th:block>

        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>
<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
