<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Summary'" />
</head>

<body th:with="context='comp-management'" class="app-summary competition-management" th:classappend="${currentApplication.isOpen() ? 'is-open' : 'is-closed' }">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:include="fragments/layout :: main-content-start" />
    <th:block th:include="fragments/competition-setup :: comp-setup-header-sub (linkTitle='Back',linkClass='link-back',linkUrl=@{${backUrl}})" th:remove="tag"></th:block>

    <th:block th:with="applicationName=${#strings.isEmpty(currentApplication.name)} ? #{ifs.application.no_title} : ${currentApplication.name}">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Application overview',subTitle=${applicationName},size='heading-xlarge'" />
    </th:block>

    <th:block th:if="${ineligibility.ineligible}">
        <h3 class="heading-small">Removed by</h3>
        <!-- TODO INFUND-8941
        <p th:text="|${ineligibility.removedBy}, ${#temporals.format(ineligibility.removedOn, 'dd MMMM yyyy')}|">Peter Kault, 20 December 2016</p>
        -->
        <p th:text="${ineligibility.removedBy}">Peter Kault</p>

        <h3 class="heading-small">Reason for removal</h3>
        <p th:text="${ineligibility.reasonForRemoval}"></p>

        <div class="extra-margin">
            <a th:href="@{/competition/{competitionId}/application/{applicationId}/reinstateIneligibleApplication/confirm(competitionId=${currentApplication.competition},applicationId=${currentApplication.id})}"
               class="button button-secondary" data-js-modal="modal-reinstate" role="button" tabindex="0">Reinstate application</a>
        </div>

        <div class="modal-reinstate" role="dialog" aria-hidden="true" style="margin-top: -174px;">
            <form th:action="@{/competition/{competitionId}/application/{applicationId}/reinstateIneligibleApplication(competitionId=${currentCompetition.id},applicationId=${currentApplication.id})}" method="post">
                <button class="js-close close" aria-label="Close Popup" type="button">X</button>
                <div>
                    <h2 class="heading-medium no-margin">Reinstate application</h2>
                    <p>Are you sure that you wish to reinstate this application?</p>
                    <p>It will be added to applications requiring assessment, and will require assessors to be assigned to it.</p>

                    <hr>

                    <div class="alignright-button">
                        <button class="js-close buttonlink" type="button">Cancel</button>
                        <button class="button" type="submit">Reinstate application</button>
                    </div>
                </div>
            </form>
        </div>
    </th:block>

    <form action="#" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}"
          method="post" enctype="multipart/form-data"
          th:object="${form}" class="form-serialize-js section-overview">

        <th:block th:include="fragments/application :: application-summary (assessorFeedbackDownloadLink=@{/competition/{competitionId}/application/{applicationId}/assessorFeedback(competitionId=${currentApplication.competition},applicationId=${currentApplication.id})})" />
    </form>

    <div class="extra-margin">
        <a th:href="@{/competition/{compId}/application/{appId}/print(compId=${currentCompetition.id},appId=${currentApplication.id})}"
           rel="nofollow"
           target="_blank">
            <span class="icon icon-print"></span>
            Print application
        </a>
    </div>

    <th:block th:if="${not #lists.isEmpty(appendices)}">
        <h2 class="heading-medium">Appendices</h2>

        <th:block th:each="appendix : ${appendices}">
            <div class="form-group download">
                <h3 class="heading-small no-margin" th:text="${appendix.title}">
                    View project management appendix:
                </h3>
                <a target="_blank" th:href="${appendix.getDownloadURL()}"
                   th:text="${appendix.name + ', ' + appendix.getHumanReadableFileSize() + ' (opens in a new window)'}">
                    Project-plan.pdf (161.96 KB)
                </a>
            </div>
        </th:block>
    </th:block>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
