<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
</head>
<body class="govuk-template__body competition-management application-funders-panel">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />
    <th:block th:if="${model.readOnly}" th:insert="fragments/layout :: header-sub" th:with="linkTitle='Dashboard',linkUrl=@{/dashboard}" />
    <th:block th:unless="${model.readOnly}">
        <th:block th:if="${model.expressionOfInterestEnabled}" th:insert="fragments/layout :: header-sub" th:with="linkTitle='Applications',linkUrl=@{/competition/{competitionId}/applications(competitionId=${model.competitionSummary.competitionId})}"></th:block>
        <th:block th:unless="${model.expressionOfInterestEnabled}" th:insert="fragments/layout :: header-sub" th:with="linkTitle='Competition',linkUrl=@{/competition/{competitionId}(competitionId=${model.competitionSummary.competitionId})}" />
    </th:block>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle=${model.expressionOfInterestEnabled ? 'Expression of interest' : 'Funding decision'},subTitle=|${model.competitionSummary.competitionId} : ${model.competitionSummary.competitionName}|,size='govuk-heading-xl'" />

        <th:block th:if="${model.expressionOfInterestEnabled}">
            <div th:replace="competition/key-statistics :: eoi-key-statistics(keyStatistics=${model.keyStatistics})" />
        </th:block>

        <form method="GET" th:object="${decisionFilterForm}">
            <div class="search-filters govuk-!-margin-top-6">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-top-0">
                        <h2 class="govuk-fieldset__heading">Filter applications</h2>
                    </legend>
                    <div class="govuk-grid-row">
                        <div th:classappend="${model.expressionOfInterestEnabled ? 'govuk-grid-column-one-third' : 'govuk-grid-column-one-half'}">
                            <div class="govuk-form-group">
                                <label class="govuk-label"
                                       for="stringFilter">Search by application number</label>
                                <input type="text"
                                       class="govuk-input"
                                       id="stringFilter"
                                       name="stringFilter"
                                       th:value="*{stringFilterValue}"/>
                            </div>
                        </div>
                        <th:block th:if="${model.expressionOfInterestEnabled}">
                            <div class="govuk-grid-column-one-third">
                                <div class="govuk-form-group">
                                    <label class="govuk-label"
                                           for="sendFilter">Sent</label>
                                    <select name="sendFilter"
                                            id="sendFilter"
                                            class="govuk-select"
                                            th:field="*{sendFilter}">
                                        <option value="">All</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                        </th:block>
                        <div th:classappend="${model.expressionOfInterestEnabled ? 'govuk-grid-column-one-third' : 'govuk-grid-column-one-half'}">
                            <div class="govuk-form-group">
                                <label class="govuk-label"
                                       for="fundingFilter" th:text="${model.expressionOfInterestEnabled ? 'Expression of interest decision' : 'Funding decision'}">Funding decision</label>
                                <select name="fundingFilter"
                                        id="fundingFilter"
                                        class="govuk-select"
                                        th:field="*{fundingFilter}">
                                    <option value="">Show all</option>
                                    <option value="UNDECIDED">Blank</option>
                                    <th:block th:if="${model.expressionOfInterestEnabled}">
                                        <option value="EOI_APPROVED">Successful</option>
                                        <option value="EOI_REJECTED">Unsuccessful</option>
                                    </th:block>
                                    <th:block th:unless="${model.expressionOfInterestEnabled}">
                                        <option value="FUNDED">Successful</option>
                                        <option value="UNFUNDED">Unsuccessful</option>
                                        <option value="ON_HOLD">On hold</option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full alignright">
                            <button class="govuk-button govuk-!-margin-0" id="filter-applications">Filter</button>
                        </div>
                    </div>
                </fieldset>
                <div class="clear-search-filters">
                    <a href="?filterChanged=1" class="govuk-body govuk-link">Clear all filters</a>
                </div>
            </div>
            <input type="hidden" name="filterChanged" value="1"/>
        </form>

        <div class="warning-alert govuk-!-margin-bottom-6" th:if="${model.selectionLimitWarning}">
            <p class="govuk-body" th:text="#{competition.management.limit.warning}"></p>
        </div>
        <div data-selection-limit-exceeded-block=""></div>

        <form method="POST"
              th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}"
              data-multipage-select=""
              th:attr="data-total-checkboxes=${model.results.totalElements}"
              autocomplete="off">

            <div class="govuk-grid-row sorting">
                <div class="govuk-body govuk-grid-column-one-half">
                    <h3 class="govuk-!-margin-0 govuk-!-font-size-19 govuk-!-font-weight-bold"><span class="govuk-!-font-size-48 govuk-!-font-weight-bold" th:text="${model.results.totalElements}" /> applications</h3>
                </div>
                <th:block th:if="${model.expressionOfInterestEnabled && !model.readOnly}">
                    <div class="govuk-grid-column-one-half">
                        <fieldset class="govuk-fieldset mark-applications">
                            <a class="govuk-button button-notification"
                               id="manage-notifications"
                               th:href="@{/competition/{competitionId}/eoi/notification(competitionId=${model.competitionSummary.competitionId})}">Manage notifications</a>
                        </fieldset>
                    </div>
                </th:block>
            </div>

        <form method="POST"
              th:action="@{${#ifsUtil.formPostUri(#httpServletRequest)}}"
              data-multipage-select=""
              th:attr="data-total-checkboxes=${model.results.totalElements}"
              autocomplete="off">
            <div th:unless="${model.readOnly}" class="govuk-grid-row sorting">
                <div class="govuk-grid-column-one-half">
                    <div class="select-all">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-visually-hidden">Select applications</legend>
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input th:disabled="${model.selectAllDisabled || model.selectionLimitWarning || !model.anythingChangeable}"
                                           th:checked="${model.selectionForm.isAllSelected()}"
                                           class="govuk-checkboxes__input select-all"
                                           id="select-all-1"
                                           value="select-all"
                                           type="checkbox"
                                           data-select-all="" />
                                    <label for="select-all-1"
                                           class="govuk-label govuk-checkboxes__label">
                                        Select all applications
                                    </label>
                                </div>
                            </div>

                            <span class="govuk-hint"><span th:text="${model.selectionForm.applicationIds.size()}" data-count-selected="">0</span> applications selected</span>
                        </fieldset>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <fieldset class="govuk-fieldset mark-applications">
                        <legend class="govuk-visually-hidden">Mark selected applications</legend>
                        <h3 class="govuk-heading-s">Mark application as:</h3>
                        <th:block th:if="${model.expressionOfInterestEnabled}">
                        <button th:disabled="${model.selectionForm.applicationIds.isEmpty()}" type="submit" value="EOI_APPROVED" name="decision" class="govuk-button govuk-button--secondary" data-submit-el="">Successful</button>
                        <button th:disabled="${model.selectionForm.applicationIds.isEmpty()}" type="submit" value="EOI_REJECTED" name="decision" class="govuk-button govuk-button--secondary" data-submit-el="">Unsuccessful</button>
                        </th:block>
                        <th:block th:unless="${model.expressionOfInterestEnabled}">
                            <button th:disabled="${model.selectionForm.applicationIds.isEmpty()}" type="submit" value="FUNDED" name="decision" class="govuk-button govuk-button--secondary" data-submit-el="">Successful</button>
                            <button th:disabled="${model.selectionForm.applicationIds.isEmpty()}" type="submit" value="UNFUNDED" name="decision" class="govuk-button govuk-button--secondary" data-submit-el="">Unsuccessful</button>
                            <button th:disabled="${model.selectionForm.applicationIds.isEmpty()}" type="submit" value="ON_HOLD" name="decision" class="govuk-button govuk-button--secondary" data-submit-el="">On hold</button>
                        </th:block>
                    </fieldset>
                </div>
            </div>

            <div class="table-overflow">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th th:unless="${model.readOnly}" class="govuk-table__header" scope="col" id="fund-project-label">Select applications</th>
                        <th class="govuk-table__header" scope="col">Application number</th>
                        <th class="govuk-table__header" scope="col">Project title</th>
                        <th class="govuk-table__header" scope="col" th:text="${model.expressionOfInterestEnabled ? 'Lead organisation' : 'Lead'}">Lead</th>
                        <th:block th:unless="${model.expressionOfInterestEnabled}">
                            <th class="govuk-table__header" scope="col">Number of partners</th>
                            <th class="govuk-table__header" scope="col">Grant requested (£)</th>
                            <th class="govuk-table__header" scope="col">Total project cost (£)</th>
                            <th class="govuk-table__header" scope="col">Duration (months)</th>
                        </th:block>
                        <th class="govuk-table__header" scope="col" id="fund-project-label" th:text="${model.expressionOfInterestEnabled ? 'Expression of interest decision' : 'Funding decision'}">Funding decision</th>
                        <th:block th:if="${model.expressionOfInterestEnabled}">
                            <th class="govuk-table__header" scope="col">Email status</th>
                            <th scope="col" class="govuk-table__header alignright">Date sent</th>
                        </th:block>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" th:each="result, index : ${model.results.content}">
                            <td th:unless="${model.readOnly}" class="govuk-table__cell">
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item" th:if="${result.applicationDecisionIsChangeable()}">
                                        <input type="checkbox"
                                               class="govuk-checkboxes__input"
                                               name="applicationIds"
                                               th:id="${'app-row-'+index.count}"
                                               th:checked="${#lists.contains(model.selectionForm.applicationIds, result.id)}"
                                               th:value="${result.id}"
                                               aria-labelledby="select-applications-label" />
                                        <label th:for="${'app-row-'+index.count}"
                                               class="govuk-label govuk-checkboxes__label">
                                            <span class="govuk-visually-hidden">Select application</span>
                                        </label>
                                    </div>
                                </div>
                                <th:block th:unless="${result.applicationDecisionIsChangeable()}">
                                    <span class="empty-table-cell-select">-</span>
                                </th:block>
                            </td>
                            <td class="govuk-table__cell"><a th:href="@{/competition/{cid}/application/{rid}(cid=${model.competitionSummary.competitionId}, rid=${result.id})}"  th:text="${result.id}" class="govuk-link" /></td>
                            <td class="govuk-table__cell" th:text="${result.name}"></td>
                            <td class="govuk-table__cell" th:text="${result.lead}"></td>
                            <th:block th:unless="${model.expressionOfInterestEnabled}">
                                <td class="govuk-table__cell" th:text="${result.numberOfPartners}"></td>
                                <td class="govuk-table__cell" th:text="${#numbers.formatInteger(result.grantRequested, 0, 'DEFAULT')}"></td>
                                <td class="govuk-table__cell" th:text="${#numbers.formatInteger(result.totalProjectCost, 0, 'DEFAULT')}"></td>
                                <td class="govuk-table__cell" th:text="${result.duration}"></td>
                            </th:block>
                            <td class="govuk-table__cell" th:text="${result.decision?.name}"/>
                            <th:block th:if="${model.expressionOfInterestEnabled}">
                                <td class="govuk-table__cell" th:text="${result.emailStatus()}">-</td>
                                <td class="govuk-table__cell alignright" th:text="${result.manageDecisionEmailDate} ? ${#temporals.format(result.manageDecisionEmailDate, 'd MMMM yyyy')} : '-'">9 January 2017</td>
                            </th:block>
                        </tr>
                        <th:block th:if="${model.expressionOfInterestEnabled}">
                            <tr class="govuk-table__row" th:if="${#lists.isEmpty(model.results.content)}">
                                <td class="govuk-table__cell" colspan="7">No applications found.</td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>

                <table class="govuk-table" th:if="${activeTab == 'notSubmitted'}">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Application number</th>
                        <th class="govuk-table__header" scope="col">Project title</th>
                        <th class="govuk-table__header" scope="col">Lead</th>
                        <th class="govuk-table__header" scope="col">Percentage complete</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row" th:each="result : ${results.content}">
                        <td class="govuk-table__cell"><a th:href="@{/competition/{cid}/application/{rid}(cid=${competitionSummary.competitionId}, rid=${result.id})}"  th:text="${result.id}" class="govuk-link" /></td>
                        <td class="govuk-table__cell" th:text="${result.name}"></td>
                        <td class="govuk-table__cell" th:text="${result.lead}"></td>
                        <td class="govuk-table__cell" th:text="${result.completedPercentage}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="eoi" th:value="${model.expressionOfInterestEnabled}"/>
        </form>
        <th:block th:insert="fragments/elements :: general-pagination(pagination=${model.pagination})" />

        <th:block th:insert="fragments/layout :: main-content-end" />
    </main>
</div>
<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
<th:block th:insert="fragments/service-layout :: body-end" />

</body>
</html>
