<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Summary'" />
</head>

<body th:with="context='comp-management'" class="app-summary competition-management" th:classappend="${currentApplication.isOpen() ? 'is-open' : 'is-closed' }">
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content">
    <th:block th:include="fragments/layout :: main-content-start" />
    <th:block th:include="fragments/competition-setup :: comp-setup-header-sub (linkTitle='Back',linkClass='link-back',linkUrl=@{${backUrl}})" th:remove="tag"></th:block>

    <div class="page-title">
        <th:block th:insert="fragments/elements :: application-title (applicationId=${currentApplication.id},applicationName=${currentApplication.name})"/>
        <h1 class="heading-xlarge no-margin">Application overview</h1>
    </div>

    <form action="#" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}"
          method="post" enctype="multipart/form-data"
          th:object="${form}" class="form-serialize-js section-overview">

        <th:block th:include="fragments/application :: application-summary (assessorFeedbackDownloadLink=@{/competition/{competitionId}/application/{applicationId}/assessorFeedback(competitionId=${currentApplication.competition},applicationId=${currentApplication.id})})" />
    </form>

    <div class="extra-margin">
        <a th:href="@{/competition/{compId}/application/{appId}/print(compId=${currentCompetition.id},appId=${currentApplication.id})}"
           rel="nofollow"
           target="_blank">
            <span class="icon icon-print"></span>
            Print application
        </a>
    </div>

    <th:block th:if="${not #lists.isEmpty(appendices)}">
        <h2 class="heading-medium">Appendices</h2>

        <th:block th:each="appendix : ${appendices}">
            <div class="form-group download">
                <h3 class="heading-small no-margin" th:text="${appendix.title}">
                    View project management appendix:
                </h3>
                <a target="_blank" th:href="${appendix.getDownloadURL()}"
                   th:text="${appendix.name + ', ' + appendix.getHumanReadableFileSize() + ' (opens in a new window)'}">
                    Project-plan.pdf (161.96 KB)
                </a>
            </div>
        </th:block>
    </th:block>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
