<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" />
</head>
<body th:with="context='comp-management'" class="competition-management application-assessor-feedback">

<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main tabindex="-1" id="content" class="full-width">
    <th:block th:insert="fragments/layout :: main-content-start" />

  <div class="grid-row">
      <div class="column-two-thirds">
            <div class="page-title">
                <th:block th:insert="fragments/competition-management :: competition-id(competition=${competitionSummary})" />
                <h1 class="heading-xlarge" th:text="${competitionSummary.competitionName}" />
            </div>
      </div>
      <div class="column-third alignright extra-margin">
        <th:block th:insert="fragments/competition-management :: competition-status(competition=${competitionSummary})" />
      </div>
  </div>

    <div th:if="${feedbackNotUploadedForAllApplications}" class="event-alert">
        <p><span>A funding decision is required for all applications to the competition.</span></p>
    </div>

  <th:block th:insert="fragments/competition-management :: competition-mgt-menu(competitionStatus=${competitionSummary.competitionStatus.name()},competitionId=${competitionSummary.competitionId})" />

<div th:unless="${activeTab == 'overview'}" th:remove="tag">

    <div class="grid-row competition-data">
        <div class="column-fifth">
              <th:block th:insert="fragments/competition-management :: info-area" />
        </div>
        <div class="column-four-fifth">
          <form method="get">
              <input type="hidden" name="tab" th:if="${activeTab != null}" th:value="${activeTab}" />

    <h2 class="bold-large" th:if="${activeTab == 'overview'}">Overview</h2>
    <h2 class="bold-large" th:if="${activeTab == 'submitted'}">Applications submitted</h2>
    <h2 class="bold-large" th:if="${activeTab == 'notSubmitted'}">Applications not submitted</h2>


	 	<div class="grid-row sort-by">
	       <div class="column-two-thirds">
	         <h3>
	           <span class="heading-large" th:text="${results.totalElements}" /> applications
	         </h3>
	       </div>
	       <div class="column-third alignright">
	         <th:block th:insert="fragments/competition-management :: applications-sort(activeTab=${activeTab},activeSortField=${activeSortField})" />
	       </div>
	   </div>

	    <th:block th:insert="fragments/competition-management :: applications-table(competition=${competitionSummary},results=${results})" />
	    <th:block th:insert="fragments/competition-management :: applications-pagination(results=${results})" />

	 </form>
     <th:block th:insert="fragments/modals :: modal-submit-assessor-feedback" />

 	</div>
 	</div>
	</div>
 	<div th:if="${activeTab == 'overview'}" th:remove="tag">
 		<div class="grid-row constrain-width">
		<div class="column-two-thirds">

			<dl class="standard-definition-list">
			</dl>

		</div>

		<div class="column-third">
			<div class="boxed">
				<h2 class="heading-medium no-margin">
						Project setup
				</h2>
				<div class="grid-row">
					<div class="column-two-thirds">
						<p>
						<span th:unless="${assessmentEndDate == null}" th:text="${#temporals.format(assessmentEndDate, 'HH:mm')}" th:remove="tag"></span>
						<br />
						<span th:unless="${assessmentEndDate == null}" th:text="${#temporals.format(assessmentEndDate, 'd MMMM yyyy')}" th:remove="tag"></span>
						</p>
					</div>
					<div class="column-third">
                         <div class="deadline" style="text-align: center; margin-top: 10px;">
                             <div class="pie-container">
                                 <div class="pie small" aria-hidden="true"><svg viewBox="0 0 32 32"><title><span th:text="${assessmentDaysLeftPercentage}" th:remove="tag"></span>%</title><circle r="16" cx="16" cy="16" stroke-dasharray="100 100"></circle></svg></div>
                                 <div class="pie-overlay">
                                     <div th:text="${assessmentDaysLeft}"></div>
                                 </div>
                             </div>
                             <small>Days</small>
                         </div>
                     </div>
				</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="grid-row extra-margin constrain-width">
			<div class="column-third">
				<a class="button-dashboard highlight" th:href="@{/competition/{competitionId}/applications?tab=submitted(competitionId=${competitionSummary.competitionId})}">
					<span class="heading-large" th:text="${applicationsRequiringFeedback}" /><br />Applications requiring feedback
				</a>
			</div>
			<div class="column-third">
				<a class="button-dashboard highlight" th:href="@{/competition/{competitionId}/applications?tab=submitted(competitionId=${competitionSummary.competitionId})}">
					<span class="heading-large" th:text="${competitionSummary.applicationsFunded}" /><br />Projects being setup
				</a>
			</div>
			<div class="column-third">
				<a class="button-dashboard" th:href="@{/competition/{competitionId}/applications?tab=notSubmitted(competitionId=${competitionSummary.competitionId})}">
					<p><span class="heading-large" th:text="${competitionSummary.applicationsNotSubmitted}" /><br />Applications not submitted</p>
				</a>
			</div>
		</div>
 	</div>

    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />

</body>
</html>
