<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/layout :: head" th:with="pageTitle='Application Dashboard'" th:remove="tag" />
</head>
<body th:with="context='comp-management'" class="competition-management application-overview">

<div th:include="fragments/layout :: body-start" th:remove="tag" />
<div th:include="fragments/layout :: global-header" th:remove="tag" />

<main id="content" class="full-width">
    <div th:include="fragments/layout :: main-content-start" th:remove="tag" />

  <div class="grid-row">
      <div class="column-two-thirds">
            <div class="page-title">
                <div th:include="fragments/competition-management :: competition-id(competition=${competitionSummary})" th:remove="tag" />
                <h1 class="heading-xlarge" th:text="${competitionSummary.competitionName}" />
            </div>
      </div>
      <div class="column-third alignright extra-margin">
        <div th:include="fragments/competition-management :: competition-status(competition=${competitionSummary})" th:remove="tag" />
      </div>
  </div>

  <div th:include="fragments/competition-management :: competition-mgt-menu(competitionStatus=${competitionSummary.competitionStatus.name()},competitionId=${competitionSummary.competitionId})" th:remove="tag" />


    <div class="grid-row competition-data">
        <div class="column-fifth">
              <div th:include="fragments/competition-management :: info-area" th:remove="tag" />
        </div>
        <div class="column-four-fifth">
              <h2 class="bold-large">Application list</h2>
              <form method="get">
                <div class="grid-row sort-by">
                    <div class="column-two-thirds">
                      <h3>
                        <span class="heading-large" th:text="${results.totalElements}" /> applications
                      </h3>
                    </div>
                    <div class="column-third alignright">
                      <label for="sort-by">Sort by</label>
                      <select id="sort-by" name="sort" class="js-auto-submit form-control">
                          <option value="id" th:selected="${(activeSortField == 'id')}">Application number</option>
                          <option value="name" th:selected="${(activeSortField == 'name')}">Project title</option>
                          <option value="leadApplicant" th:selected="${(activeSortField == 'leadApplicant')}">Lead Name</option>
                          <option value="lead" th:selected="${(activeSortField == 'lead')}">Lead</option>
                          <option value="percentageComplete" th:selected="${(activeSortField == 'percentageComplete')}">Percentage complete</option>
                      </select>
                      <button type="submit" class="button no-margin">Sort</button>
                    </div>
                </div>

				<div th:include="fragments/competition-management :: applications-table(competition=${competitionSummary},results=${results})" th:remove="tag" />
				
                 <div th:include="fragments/competition-management :: applications-pagination(results=${results})" th:remove="tag" />
            </form>

        </div>
    </div>


    <div th:include="fragments/layout :: main-content-end" th:remove="tag" />
</main>

<div th:include="fragments/layout :: footer" th:remove="tag" />
<div th:include="fragments/layout :: body-end" th:remove="tag" />

</body>
</html>
