<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head"
              th:with="pageTitle='Terms and conditions of a Knowledge Transfer Partnership award'"/>
</head>
<body class="govuk-template__body grant-terms-conditions">

<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner"/>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title"
                  th:with="pageTitle='Terms and conditions of a Knowledge Transfer Partnership award', size='govuk-heading-l'"/>

        <th:block th:fragment="terms-and-conditions-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <ol class="govuk-list ifs-list--number govuk-body">
                        <li>
                            Background
                            <ol class="ifs-list--number">
                                <li>These terms and conditions apply to UK registered higher education (HE) and further education (FE) institutions, research and technology organisations (RTOs) and Catapults, referred to as a Knowledge Base Partner (which we will refer to as ‘you’, ‘your’ or ‘your organisation’ from now on) who are applying for Knowledge Transfer Partnership grant funding from Innovate UK, part of UK Research and Innovation (‘we’, ‘us’ or ‘our’).  These terms and conditions apply to requests to fund the Partnership named in the funding application and confirmed in the grant offer letter (GOL).</li>
                            </ol>
                        </li>
                        <li>
                            General terms and conditions
                            <ol class="ifs-list--number">
                                <li>By entering this competition, you agree to be bound by these terms and conditions.
                                </li>
                                <li>You and the business must find the Associate jointly through a demonstrably open and fair recruitment process. You must award a contract of employment to a KTP Associate and them accepting it.  The Associate must start work on the Partnership (“the Associate Start Date”) within a period of 9 months after the date of any grant offer letter being issued.
                                </li>
                                <li>We have the unilateral right to change these grant terms and conditions at any time, giving 3 months’ written notice.
                                </li>
                                <li>You cannot assign, transfer or sub-contract any of your rights or obligations under this agreement without Innovate UK’s express permission.
                                </li>
                                <li>Rights and/or remedies under these terms, whether exercised or not, remain available throughout the term of this agreement.
                                </li>
                                <li>This agreement does not create any partnership or joint venture between us at law.
                                </li>
                                <li>
                                    We:
                                    <ul class="govuk-list--bullet">
                                        <li>accept no liability for any consequences, whether direct or indirect, that result from you undertaking the Partnership, using the grant, or Innovate UK terminating this agreement or grant
                                        </li>
                                        <li>limit our liability to the amount of grant payable for which you can provide evidence of eligible costs incurred and defrayed, provided you are not in breach of its terms
                                        </li>
                                    </ul>
                                </li>
                                <li>This agreement is subject to the laws of England and Wales.</li>
                                <li>The grant cannot be used for any political or lobbying activity, or for any purpose other than the Partnership referred to in these terms.
                                </li>
                                <li>Innovate UK has the right to reject new grant applications from a Knowledge Base Partner or Business where either has failed to return required financial reports (including claims) on any current or previous projects funded by Innovate UK.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Your obligations
                            <ol class="ifs-list--number">
                                <li>
                                    As a successful applicant, you will:
                                    <ul class="govuk-list--bullet">
                                        <li>manage the Partnership in accordance with the terms of the application as awarded by us, and this agreement
                                        </li>
                                        <li>inform us promptly, through your Monitoring Officer (MO) (previously referred to as KT Adviser)
                                            <ul class="govuk-list--bullet">
                                                <li>of any issue or material change that could affect the progress, delivery or exploitation of the Partnership and of any changes to your legal form, membership structure (if applicable) or ownership</li>
                                                <li>if you, your staff, officers or volunteers are subject to any complaint or investigation into dishonesty, fraudulent activities or business misconduct, carried out by any regulatory body or the police</li>
                                                <li>of any allegations, whether proven or not, of fraud, criminal convictions, bankruptcy arrangements, or disqualifications</li>
                                            </ul>
                                        </li>
                                        <li>fully co-operate with us, responding to any requests for information promptly and comprehensively and allowing reasonable (audit) access to your sites and staff when asked
                                        </li>
                                        <li>take out and maintain insurance covering your risks and liabilities for appropriate amounts and in keeping with good commercial practice
                                        </li>
                                        <li>comply with all applicable laws and regulations in carrying out your activities under this agreement
                                        </li>
                                        <li>as a minimum, advertise the Associate post in accordance with your institutional guidelines and on the KTP recruitment site
                                        </li>
                                        <li>provide a Partnership secretariat </li>
                                        <li>submit, within 1 calendar month of the end of the Partnership, the Partnership Final Report together with any supporting documentation
                                        </li>
                                        <li>submit, within 3 calendar months of the end of the Partnership, the final claim and Schedule 3 together with any supporting documentation
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    Successful and unsuccessful applicants must give us, and any data-sharing partner we appoint, any information we need to create an evaluation report. For successful applicants this will be during the term of the Partnership and for a further 5 years following the end of the Partnership.
                                </li>
                                <li>
                                    You are responsible for maintaining detailed records and documentation relating to the use of your Grant. These should provide evidence sufficient to support the submission of timely and accurate claims and to demonstrate that your eligible project costs comply with all State Aid Rules, as outlined in the ‘Subsidy Control / State aid obligations and procurement’ section of this document. These records must be kept for at least 10 years following your receipt of the Grant.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Expenditure
                            <ol class="ifs-list--number">
                                <li>
                                    <p class="govuk-body">The Innovate UK online platform that manages expenditure and claims is currently the Innovation Funding Service Post Award (IFS PA) and is referred to as the ‘online platform’.</p>
                                    <p class="govuk-body">After Innovate UK has set up the Partnership on its online platform, you must enter an initial forecast of eligible expenditure. The forecast must reasonably be incurred during each claim period and updated throughout the Partnership to the last date on which a KTP Associate is expected to be engaged on the Partnership.</p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Equipment and materials
                            <ol class="ifs-list--number">
                                <li>Equipment and materials purchased by you for the Partnership with grant funding, can be used by the Business without charge for the duration of the Partnership. At the end of the Partnership the equipment must be returned to you.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Revisions
                            <ol class="ifs-list--number">
                                <li>You may vire between the Travel & Subsistence and Consumables categories. Funds can also be vired from these categories into the Associate Development category. Funds cannot be vired from the Associate Development category.
                                </li>
                                <li>Requests for virements must be submitted using the online platform and must be approved in advance of the related costs being incurred.  Requests for virements cannot be submitted after the last date on which the KTP Associate is engaged for work on the Partnership. </li>
                                <li>Requests for ‘Additional Funding’ and ‘Finishing Off’ revisions must be submitted using the online platform.  The request must be approved in advance of the related costs being incurred and submitted no later than two months after the last date on which the KTP Associate is engaged for work on the Partnership. </li>
                                <li>Revisions are subject to the agreement of the Local Management Committee (LMC). </li>
                            </ol>
                        </li>
                        <li>
                            Payment of grant
                            <ol class="ifs-list--number">
                                <li>
                                    <p class="govuk-body">Innovate UK will only pay your grant claim into your business account at a UK clearing bank or one of its subsidiary banks within the UK. Innovate UK may accept an account at an alternative bank in exceptional circumstances at our discretion and by prior agreement.</p>
                                    <p class="govuk-body">Your grant will be paid by instalments quarterly (unless otherwise agreed by Innovate UK) and in arrears on submission of a claim and required supporting documentation. This will be for your net eligible costs incurred and invoiced.  Conditions relating to the payment of claims are set out in clause 7.7 below.</p>
                                </li>
                                <li>Your claims must be supported by a revised forecast of eligible Partnership costs. These should detail expected costs for each future claim period and highlight any variations from the last forecast. Your claim may be subject to audit review as set out in clause 7.11 below.
                                </li>
                                <li>Your Partnership can only submit one claim per Quarter. Costs must be incurred, defrayed and claimed within 1 month of the end of the Quarter to which they relate. The only exceptions to this condition are the purchase of essential IT equipment prior to the associate start date and approved at LMC0 and, the claim for the final quarter where the costs may be incurred but not necessarily defrayed. Additional conditions relating to the final claim are set out in clause 7.8 below.
                                </li>
                                <li>Claims for payment of grant on eligible expenditure actually defrayed on the Partnership must be submitted on the online platform every 3 months following the Associate Start Date. These must be submitted within one month of the end of the period to which the claim refers.  If claims cannot be made within 1 month of the end of the period, the Innovate UK Claims Team must be notified as soon as possible by email <a href="mailto:ktpqueries@innovateuk.ukri.org">ktpqueries@innovateuk.ukri.org</a> and a new date agreed.
                                </li>
                                <li>
                                    <p class="govuk-body">You must discuss and provide evidence on request for each grant claim with your MO before they can approve and submit your claim to Innovate UK.</p>
                                    <p class="govuk-body">Your claims on the IFS PA online platform must be supported by a current forecast that covers the period to the end of the Partnership. It must detail the expected expenditure for each future claim period. In addition, your claims must be supported by the minutes of an LMC meeting (“LMC Minutes”) and/or Virtual Approvals covering part or all of the period of the claim. The LMC documents must be uploaded with your claim submission.</p>
                                </li>
                                <li>
                                    <p class="govuk-body">If an Associate is not available for work for an extended period or they resign from their position as an Associate, you shall inform Innovate UK promptly by email to <a href="mailto: KTP_Partnerships@innovateuk.ukri.org">KTP_Partnerships@innovateuk.ukri.org</a>.
                                    </p>
                                    <p class="govuk-body">In this event, during the period in which work on the Partnership is suspended, you will continue to submit claims every 3 months, which may include periods of zero expenditure. You can restart claims for expenditure incurred once work on the Partnership recommences.</p>
                                </li>
                                <li>Innovate UK will normally pay claims within 30 days of receiving them, unless we need any further information to support the claim. We agree to request any further information within 14 days of receiving the claim and will pay claims within 30 days of receipt of such information.
                                </li>
                                <div class="govuk-body">
                                    Innovate UK is not obliged to pay any amount if:
                                    <ul class="govuk-list--bullet">
                                        <li>the claim does not meet the terms and conditions of this agreement</li>
                                        <li>we are not satisfied that the amount is properly due and payable to you</li>
                                        <li>any claim with supporting documentation is received more than 30 days after the end of the quarter to which it relates
                                        </li>
                                        <li>any claim with supporting documentation is received later than 3 months after the Partnership is complete
                                        </li>
                                    </ul>
                                </div>
                                <li>
                                    <p class="govuk-body">Your final claim for payment of grant on eligible expenditure must be submitted no later than 3 months after the last date on which a KTP Associate was engaged for work on the Partnership.  Where a Partnership is ‘finishing off’ the final claim must be submitted within 3 months of the agreed end date.</p>
                                    <p class="govuk-body">The final claim must be accompanied by Schedule 3 (Certificate of Total Expenditure) and signed by the Finance Director or an alternative with senior financial responsibility at your organisation. </p>
                                    <p class="govuk-body">If the final claim has not been submitted with the required supporting documentation within the required period, the claim will not be paid by Innovate UK.  </p>
                                </li>
                                <li>
                                    Innovate UK will retain 10% of your maximum grant value until the Partnership is complete and we have received:
                                    <ul class="govuk-list--bullet">
                                        <li>any outstanding claims</li>
                                        <li>supporting documentation</li>
                                        <li>partnership Final Report</li>
                                    </ul>
                                </li>
                                <li>Payment of the retained value will not be made until the Partnership has been completed to Innovate UK’s satisfaction and is subject to the contents of Schedule 3, (Certificate of Total Expenditure) completed by the Finance Officer or an alternative with senior financial responsibility at your organisation. Adjustments may mean that you are not entitled to receive all of the retained value.
                                </li>
                                <li>Innovate UK may appoint an auditor, at our expense, to ensure you are complying with the terms and conditions of this agreement. You agree to give the auditor access to your Partnership records within 2 weeks’ notice of their appointment. If the auditor determines that all or part of the grant has been misapplied or that you should repay all or part of the grant to Innovate UK, we may recover the cost of the auditor’s work from you.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Partnership management
                            <ol class="ifs-list--number">
                                <li>
                                    <p class="govuk-body">Any amount due to Innovate UK including overpayment of grant, however disclosed, must be repaid to Innovate UK immediately or, if notified by Innovate UK, at the time specified in the notification, whichever happens first.</p>
                                    <p class="govuk-body">If any overpayment is not repaid, you will pay interest to Innovate UK on the sum. This is on a daily basis at an annual rate of 1.5% above the Bank of England Base Rate. This is calculated: </p>
                                    <ul class="govuk-list--bullet">
                                        <li>from the date of the statement informing you of the overpayment </li>
                                        <li>to the date Innovate UK receives the full payment plus any interest</li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="govuk-body">Innovate UK or representatives of Innovate UK have the right to:</p>
                                    <ul class="govuk-list--bullet">
                                        <li>monitor and inspect the Partnership at any time</li>
                                        <li>require from time to time any documentation concerning the Partnership that Innovate UK or the representatives of Innovate UK consider necessary to ensure the Partnership conforms to these terms and conditions
                                        </li>
                                        <li>attend any meetings about the Partnership and, if Innovate UK or the representatives of Innovate UK consider it necessary, call a meeting
                                        </li>
                                        <li>carry out assurance visits to the registered UK office without prior notice. All reasonable efforts must be made to comply with any feasible requests at the time of the visit.</li>
                                    </ul>
                                </li>
                                <li>The management of the Partnership and the working relationship between the Business and your organisation must be as agreed in the Joint Commitment Statement signed on behalf of the partners during the grant application.
                                </li>
                                <li>Innovate UK is the primary point of contact with you.</li>
                            </ol>
                        </li>
                        <li>
                            Suspension, termination and repayment of grant
                            <ol class="ifs-list--number">
                                <li>We have the right to take all reasonable steps to reclaim any, or all, of the grant already claimed by you, should it be necessary for Innovate UK to suspend or terminate your grant or terminate this agreement for any reason. We will take appropriate care in how we do this, but in certain circumstances we can immediately suspend grant payments.
                                </li>
                                <li>If we have concerns that mean we might need to suspend, terminate or reclaim the grant, we will write to inform you and you will then have 30 days to address our concerns.
                                </li>
                                <li>
                                    <p class="govuk-body">Examples of events that may result in Innovate UK suspending grant payments include, without limitation:</p>
                                    <ul class="govuk-list--bullet">
                                        <li>misuse of the grant funds, including, in a fraudulent or financially misleading way or for purposes not declared in your application or agreed to subsequently by Innovate UK
                                        </li>
                                        <li>false statements in any part of your application for grant or Partnership documentation
                                        </li>
                                        <li>failure to maintain satisfactory progress on the Partnership in the opinion of Innovate UK
                                        </li>
                                        <li>any significant changes, without prior approval from the MO at the LMC, to the proposed outcomes of the Partnership
                                        </li>
                                        <li>failure to comply with any terms and conditions of this agreement</li>
                                        <li>failure to deliver the agreed project support as set out in the application form
                                        </li>
                                        <li>behaviour or activity by you, your staff, representatives or contractors which, in the reasonable opinion of Innovate UK, is non-compliant with legislation or government policies, or is detrimental to the reputation of Innovate UK, UK Research and Innovation or the Department for Business, Energy and Industrial Strategy, or is otherwise detrimental to the public interest
                                        </li>
                                        <li>you commit a breach of your obligations outlined int the ‘Subsidy Control / State aid obligations and procurement’ section of this document</li>
                                        <li>any of the partners fail to acknowledge the source of funding and displaying logo’s in publicity materials as described in 18.1</li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="govuk-body">Examples of events that may result in Innovate UK terminating the grant include, without limitation:</p>
                                    <ul class="govuk-list--bullet">
                                        <li>failure to resolve to Innovate UK's satisfaction, or not being able to resolve, the reasons for suspension
                                        </li>
                                        <li>being found to have applied for and secured multiple awards whilst in receipt of funding from Innovate UK or UK Research and Innovation for the same or largely interchangeable project scopes (‘double dipping’), Innovate UK will also consider recovering all project costs and where there is evidence of dishonesty (Fraud Act 2006), referring the matter to the Police.
                                        </li>
                                        <li>being found to have breached any of Innovate UK’s policies with which you had previously been required to comply as a condition of the award of the grant
                                        </li>
                                        <li>becoming insolvent, declared bankrupt, placed into receivership, administration or liquidation, or having a petition presented for winding up, or any similar arrangements that may affect you financially
                                        </li>
                                        <li>a change to the legal status of any project partner which you have failed to declare or have misrepresented to us
                                        </li>
                                        <li>you are in breach of any of the warranties contained in the ‘Warranties’ section of this document</li>
                                        <li>you use the grant for purposes other than those contained within the application and description of the Partnership without the consent of Innovate UK
                                        </li>
                                        <li>you have failed completely to provide or, in the reasonable opinion of Innovate UK, failed to make reasonable effort to collect and/or provide the information requested of you by Innovate UK in accordance with ‘Final Reporting’ section of this document.
                                        </li>
                                        <li>behaviour or activity by you, your staff, your auditor, your accountant, representatives, contractors and the Business partner involving an act of fraud, dishonesty, malfeasance (wrongdoing by a public official), misrepresentation or any serious financial irregularity in respect of you or your operations which has or could have a serious adverse effect on you, Innovate UK or both
                                        </li>
                                        <li>you commit a breach of your obligations outlined in the ‘Subsidy Control / State aid obligations and procurement’ section of this document</li>
                                    </ul>
                                </li>
                                <li>If you do not resolve an issue causing suspension or if we terminate the grant, you may be required to repay some or all of the grant.
                                </li>
                                <li>Where there is an underspend in grant funds paid to or claimed by you at the Partnership end date, the full value of the underspend will be returned to Innovate UK immediately.
                                </li>
                                <li>You must inform Innovate UK promptly by email to <a
                                    href="mailto: KTP_Partnerships@innovateuk.ukri.org">KTP_Partnerships@innovateuk.ukri.org</a>
                                    detailing the occurrence of the event and the action, if any, it proposes to take in order that progress is resumed.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Warranties
                            <ol class="ifs-list--number">
                                <li>
                                    As of the effective date of this agreement, you warrant to Innovate UK that:
                                    <ul class="govuk-list--bullet">
                                        <li>when responding to requests for information about the Partnership your response will state that Innovate UK accepts no liability whatsoever for any information or advice provided by any party to the Partnership. We will not have any liability for any loss or damage of any kind, whether arising out of negligence or otherwise, which is suffered by the recipient or any other person in consequence of the provision of the information or advice
                                        </li>
                                        <li>you have all necessary resources and expertise to deliver the Partnership (this assumes your reliance on and timely receipt of the grant and any conditions specified in this agreement)
                                        </li>
                                        <li>you are not subject to any contractual or other restriction imposed by your or any other organisation's rules or regulations or otherwise which may prevent or impede you from meeting your obligations in connection with the grant
                                        </li>
                                        <li>the partners have not committed any offence under the Bribery Act 2010 and Fraud Act 2006.</li>
                                        <li>you have adequate procedures in place for dealing with any conflicts of interest
                                        </li>
                                        <li>all financial and other information concerning you which has been disclosed to Innovate UK is, to your reasonable knowledge and belief, true and accurate
                                        </li>
                                        <li>you are not aware of anything in your own affairs, which you have not disclosed to Innovate UK, which might reasonably have influenced the decision of Innovate UK to make the grant on the terms contained in this agreement
                                        </li>
                                        <li>since the date of the last accounts (if any) there has been no significant change in your financial position or prospects, or those of any partners within the application, which have not been declared to Innovate UK
                                        </li>
                                        <li>you or any of the partners are not subject to an outstanding order for the recovery of aid by UKRI, IUK or any other UK public authority or which has otherwise been declared by the Competition & Markets Authority (CMA) to be unlawful and/or incompatible with the internal UK market.</li>
                                        <li>you or any of the partners are not subject to an outstanding order for the recovery of any other aid which has been declared by the European Commission to be unlawful and incompatible with the Single Market.</li>
                                        <li>if the UK Subsidy Control Framework applies to the grant funding, you or any of the partners are not subject to collective insolvency proceedings nor do you fulfil the criteria under UK domestic law for being placed in collective insolvency proceedings at the request of your creditors. </li>
                                        <li>if the EU State Aid regulations apply to the grant funding, you or any of the partners are not an ‘Undertaking in Difficulty’ as defined in the State Aid rules (GBER 2014). </li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Final Reporting
                            <ol class="ifs-list--number">
                                <li>You will, no later than one month after the last date on which a KTP Associate was engaged on the Partnership, submit a Final Report. You must aim to secure an appropriate contribution from the Business to the Final Report. If the Final Report has not been submitted within one month of the last date on which a KTP Associate was deemed to be engaged on the Partnership, the final claim detailed in clause 7.8 will not be paid by Innovate UK.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Financial reporting and accounting
                            <ol class="ifs-list--number">
                                <li>You are responsible for maintaining detailed records and documentation relating to the use of your grant. These records should provide sufficient evidence to support the submission of timely and accurate claims and to demonstrate to Innovate UK, the National Audit Office or other appointed body, that your eligible project costs comply with the UK Subsidy Control Framework or EU State Aid rules (as applicable). These records must be kept for 10 years following your receipt of the grant and must be supplied to satisfy requests for evidence of compliance within 20 days if requested.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Confidentiality and information management
                            <ol class="ifs-list--number">
                                <li>Innovate UK has the right to request access to any additional information we feel necessary in connection with this award. You must provide or allow access to such information within 10 working days of our request. We will treat your confidential and personal information in accordance with our policies and data protection legislation.
                                </li>
                                <li>All your information disclosed deliberately or otherwise will be treated by Innovate UK as confidential information and commercially sensitive as exempted under the Freedom of Information Act 2000 or any related legislation, unless otherwise marked or agreed in writing. For the avoidance of doubt, it is at your discretion and must be with the agreement of the relevant third parties, if you choose to disclose confidential information of third parties to Innovate UK, at which point it will be treated as confidential information by Innovate UK unless marked otherwise.
                                </li>
                                <li>You acknowledge and accept the terms of <a
                                    href="https://www.gov.uk/government/publications/privacy-notice-and-information-management-policy-innovate-uk">Innovate
                                    UK’s privacy notice and
                                    information management policy</a> and <a
                                    href="https://www.gov.uk/government/organisations/innovate-uk/about/personal-information-charter">personal
                                    information charter</a>, which should be read in addition to <a
                                    href="https://www.ukri.org/privacy-notice/">UKRI’s privacy notice. </a>This policy explains Innovate UK’s specific arrangements for collecting, storing, using and sharing your information. This can include personal data or confidential or commercially sensitive information. It provides details on how we use this information to support our ability to fund, support and connect innovative businesses and encourage sustainable economic growth for the UK.
                                </li>
                                <li>Any information we collect from the partnership, through our online platforms, grant applications and administration, events or elsewhere, will be managed according to this policy and is subject to data protection. This policy complies with the <a
                                        href="https://gdpr-info.eu/">General Data Protection Regulation</a> (EU
                                    2016/679), or GDPR, introduced on 25 May 2018.
                                </li>
                                <li>As a public sector organisation we are also subject to some further data protection
                                    obligations under the <a
                                        href="http://www.legislation.gov.uk/ukpga/2018/12/contents">UK Data Protection
                                        Act 2018.</a></li>
                            </ol>
                        </li>
                        <li>
                            Collaboration
                            <ol class="ifs-list--number">
                                <li>Any grant offer is conditional on an appropriate intellectual property (IP) agreement being in place before a KTP Associate begins working on the Partnership. This must be confirmed to the satisfaction of the MO and in place before the Associate Start Date. If this condition is not met, any grant offer will automatically lapse.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Exploitation of partnership results
                            <ol class="ifs-list--number">
                                <li>Innovate UK requires you to establish an exploitation plan together with your MO at the start of your Partnership, and to refine and update it at least once every 6 months (or at other intervals as agreed with Innovate UK) throughout the Partnership’s lifetime. Your completed application is considered to be your initial exploitation plan.
                                </li>
                                <li>For a period of 5 years from the end of the Partnership, Innovate UK expects you to take reasonable steps to exploit the results of the Partnership in the UK, and the wider European Economic Area and with the UK’s international trading partners.  If the grant funding is subject to EU State aid regulations focus of exploitation must be the UK and the European Economic Area. In all cases it is expected the financial benefit arising from exploitation will accrue within the UK.  Should exploitation outside of the UK or EEA be part of a tactical plan to deliver the overall opportunity for the applicant, the Business partner must obtain written consent from the KTP Programme Manager. Innovate UK will continuously evaluate the impact of funding awarded to the Partnership and you will cooperate fully in this process.
                                </li>
                            </ol>
                        </li>
                        <li>
                            UK statutory framework
                            <ol class="ifs-list--number">
                                <li>Innovate UK is required to comply with all legislation in England and Wales.
                                </li>
                                <li>You must also comply with all legislation (including in the devolved administrations) where they apply to you and to act in a way that does not affect our ability to comply.
                                </li>
                                <li>We particularly draw to your attention the Bribery Act 2010, the Data Protection Act 2018, the Fraud Act 2006, the Health and Safety at Work Act 1974, the Equality Act 2010, the Modern Slavery Act 2015 and the Procurement Regulations 2015.</li>
                            </ol>
                        </li>
                        <li>
                            Equality, Diversity and Inclusion
                            <ol class="ifs-list--number">
                                <li>You are expected to ensure that equality, diversity and inclusion is considered and supported at all stages throughout the Project in accordance with all relevant legal obligations, including but not limited to those of the Equality Act 2010.</li>
                                <li>You shall not unlawfully discriminate, in accordance with the Equality Act 2010.</li>
                                <li>You shall commit to promoting safe research and innovation environments that prevent bullying and harassment. Guidance is available from the Advisory, Conciliation and Arbitration Service.</li>
                                <li>You shall take all reasonable steps to secure the observance of clause 17.1 by your servants, employees or agents and all suppliers and sub-contractors engaged on the Project</li>
                            </ol>
                        </li>
                        <li>
                            Publication of information
                            <ol class="ifs-list--number">
                                <li>
                                    <p class="govuk-body">Innovate UK encourages you to seek your own publicity in respect of the Partnership. If you want to publicise the Partnership in any way whatsoever, please consult the Innovate UK guide ‘Publicising your Partnership: guidelines from Innovate UK’ available from Innovate UK’s Press Office by emailing <a
                                            href="mailto:pressoffice@innovateuk.ukri.org">pressoffice@innovateuk.ukri.org</a>.</p>
                                    <p class="govuk-body">Whenever practicable, the publicity materials produced by the Partnership must acknowledge the grant funding received from Innovate UK and others and include the logo of Innovate UK and all other supporting bodies.  Your attention is drawn to 9.3 Suspension, termination and repayment of grant.  The Innovate UK and all UKRI logo’s can be downloaded from <a href="https://ukri.frontify.com/d/zgfuBB2r7aAg/brand-basics#/brand-basics/our-logos/standard-council-logos">https://ukri.frontify.com/d/zgfuBB2r7aAg/brand-basics#/brand-basics/our-logos/standard-council-logos</a></p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Dispute resolution
                            <ol class="ifs-list--number">
                                <li>Where a dispute arises between you and Innovate UK, we would encourage you to contact us to discuss a resolution. If a mutually acceptable resolution cannot be achieved within 30 days of you contacting us, we have the right to do one of the following:
                                    <ul class="govuk-list--bullet">
                                        <li>unilaterally terminate the grant and potentially seek repayment of all or part of the grant funds previously paid to you
                                        </li>
                                        or
                                        <li>if both parties agree, refer the matter to the London Court of International Arbitration (LCIA), whose decision will be binding. Any arbitration will be conducted in accordance with LCIA Arbitration Rules before one arbitrator seated in London
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Force majeure
                            <ol class="ifs-list--number">
                                <li>Where an event of force majeure, or a change to the laws of England and Wales, UK government or devolved administration policy or EU State aid law occurs which affects Innovate UK’s ability to continue funding your Partnership, we can terminate this agreement by giving you as much written notice as reasonably possible. In such circumstances, Innovate UK will meet any eligible costs in respect of the Partnership that you have reasonably incurred and paid before the date of termination of this agreement.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Subsidy Control and State aid obligations and procurement
                            <ol class="ifs-list--number">
                                <li>Unless clause 21.5 applies, you must ensure at all times that the grant funding awarded to you is compliant with any legislation applicable in the United Kingdom on or after 1 January 2021 that regulates the granting by a public sector body of any advantage which threatens to or actually distorts competition in the United Kingdom and/or any other country or countries (“UK Subsidy Control Framework”). Further information about the UK Subsidy Control Framework can be found in Innovate UK’s general guidance for applicants.
                                </li>
                                <li>You must inform Innovate UK of any other public funding applied for or awarded against the eligible costs covered by this award of grant. It is your responsibility to ensure that the cumulative total of public funding you are receiving for the Funded Activities does not exceed those limits stated in the UK Subsidy Control Framework.
                                </li>
                                <li>Innovate UK will immediately stop grant payments to you in any and all projects and may require you to repay grant funding if you are found to have received aid that is deemed to be in breach of the UK Subsidy Control Framework.
                                </li>
                                <li>No subcontract or other agreement with a third party can be made which would constitute a breach of the UK Subsidy Control Framework.
                                </li>
                                <li>The EU State Aid regulations will apply to the grant funding where you have signed your GOL before 1 January 2021 or where the grant funding will affect trade between Northern Ireland and the EU as envisaged by Article 10 of the Protocol on Ireland/Northern Ireland in the EU Withdrawal Agreement. In such cases, clauses 21.6 to 21.12 below will apply instead of clauses 21.1 to 21.4.
                                </li>
                                <li>Innovate UK makes these awards through its Research, Development and Innovation Scheme operating under Commission Regulation (EU) No 651/2014 (the General Block Exemption Regulation (GBER)) and subsequent amendment. You must ensure at all times that you are compliant with the State Aid regulations under which you have been awarded. Further information about the regulations can be found in the <a href="https://www.gov.uk/guidance/innovate-uk-funding-general-guidance-for-applicants#state-aid">section on State Aid</a> in Innovate UK’s general guidance for applicants.
                                </li>
                                <li>You must inform Innovate UK of any other public funding applied for or awarded against the eligible costs covered by this award of grant. It is your responsibility to ensure that the cumulative total of public funding and aid intensity you are receiving for the Partnership does not exceed those limits stated in GBER. You must ensure you comply with State Aid rules, which are those rules contained in <a href="https://ec.europa.eu/competition/state_aid/legislation/provisions.html">Articles 107 to 109 of Section 2, Title VII, of the Common Rules on Competition, Taxation and Approximation of Laws</a>, Consolidated versions of the Treaty on European Union and the Treaty on the Functioning of the European Union (2008/C 115/01).
                                </li>
                                <li>Innovate UK will immediately stop grant payments to you in any and all projects if you become subject to a recovery order that follows on from a previous European Commission decision, which declares any aid you have received as illegal and incompatible with the internal market.
                                </li>
                                <li>Where members of the Partnership are required by an order of the European Commission to repay any grant to Innovate UK that is found to be unlawful State Aid, interest will be charged on the amount being reclaimed from the date of payment at the applicable legislated rate.
                                </li>
                                <li>No subcontract or other agreement with a third party can be made which would constitute a breach of your obligations under the EU State Aid regulations
                                </li>
                                <li>Members of the Partnership must not confer either directly or indirectly any selective advantage in breach of your obligations.</li>
                                <li>Members of the Partnership must notify Innovate UK in the event that you are proposing to confer selective advantage and if you have conferred selective advantage either directly or indirectly.</li>
                                <li>Members of the Partnership must seek independent legal advice regarding your compliance with these obligations as part of the grant funding.</li>
                                <li>Members of the Partnership acknowledge that Innovate UK may be required to provide the European Commission with information about the financial assistance given to you by Innovate UK and you agree to provide such assistance as Innovate UK shall reasonably request.</li>
                            </ol>
                        </li>
                        <li>
                            Entire agreement
                            <ol class="ifs-list--number">
                                <li><p class="govuk-body">If your application for funding is successful, you will receive a GOL confirming any specific conditions of the award that you must comply with, in addition to these terms and conditions. You must sign and upload the GOL before your Partnership can start.</p>
                                    <p class="govuk-body">The GOL and these terms and conditions will together be referred to as ’this agreement’. Each party acknowledges that, in entering into this agreement, it has not relied on and has no right or remedy in respect of any statement, representation, assurance or warranty (whether made negligently or innocently) other than as expressly set out in this agreement. Nothing in this clause will limit or exclude any liability for fraud or for fraudulent misrepresentation.</p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </th:block>

        <th:block th:insert="fragments/layout :: main-content-end"/>
    </main>
</div>
<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>

</body>
</html>
