<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Add organisation',hasFormErrors=${#fields.hasErrors('${form.*}')}" />
    </head>

    <body class="govuk-template__body app-org-invite">
        <th:block th:insert="fragments/layout :: body-start" />
        <th:block th:insert="fragments/layout :: global-header" />

        <div class="govuk-width-container">
            <th:block th:insert="fragments/layout :: phase-banner" />
            <th:block th:insert="fragments/layout :: header-sub"
                      th:with="linkTitle='Application team',linkClass='link-back',linkUrl=@{${model.backUrl}}" />
            <main class="govuk-main-wrapper" id="main-content" role="main">
                <div th:if="${#fields.hasErrors('${form.*}')}"
                     class="govuk-error-summary"
                     role="alert"
                     aria-labelledby="error-summary-title"
                     tabindex="-1"
                     data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">We were unable to save your changes.</h2>
                    <th:block th:insert="fragments/elements :: error-summary-list(form)" />
                </div>

                <th:block th:with="applicationName=${#strings.isEmpty(model.applicationName)} ? #{ifs.application.no_title} : ${model.applicationName}">
                    <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Add organisation',subTitle=${applicationName},size='govuk-heading-xl'" />
                </th:block>

                <p class="govuk-body">Add organisations to your application team. If you wish to remove a sole member of an organisation, you must add a replacement member first.</p>

                <form th:action="@{/application/{applicationId}/team/addOrganisation(applicationId=${model.applicationId})}" th:object="${form}" novalidate="novalidate" method="post">
                    <button class="hidden-save" type="submit" aria-hidden="true" tabindex="-1">save form</button>

                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('organisationName')} ? 'govuk-form-group--error'">
                        <label class="form-label-bold" for="organisationName">
                            <span>Organisation name</span>
                            <th:block th:if="${#fields.hasErrors('organisationName')}">
                                <span class="error-message" th:each="err : ${#fields.errors('organisationName')}" th:text="${err}"></span>
                            </th:block>
                        </label>
                        <input type="text"
                               class="form-control width-full"
                               th:field="*{organisationName}"
                               required="required"
                               th:errorclass="form-control-error"
                               th:attr="data-required-errormessage=#{validation.standard.organisationname.required}" />
                    </div>

                    <table id="applicant-table" class="table-overflow">
                        <thead>
                            <tr>
                                <th class="width-30-percent" scope="col">Applicant name</th>
                                <th class="width-55-percent" scope="col">Email</th>
                                <th class="width-15-percent alignright" scope="col"><span class="govuk-visually-hidden">Actions</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="applicant, applicantStat : *{applicants}" class="repeatable-row">
                                <td class="govuk-form-group" th:classappend="${#fields.hasErrors('applicants[__${applicantStat.index}__].name')}? 'govuk-form-group--error'">
                                    <label th:for="applicants[__${applicantStat.index}__].name">
                                        <span class="govuk-visually-hidden">Applicant name</span>
                                        <th:block th:if="${#fields.hasErrors('applicants[__${applicantStat.index}__].name')}">
                                            <span th:each="err : ${#fields.errors('applicants[__${applicantStat.index}__].name')}"
                                                  th:text="${err}"
                                                  class="error-message">Please enter a name.</span>
                                        </th:block>
                                    </label>
                                    <input type="text"
                                           th:id="applicants[__${applicantStat.index}__].name"
                                           th:field="*{applicants[__${applicantStat.index}__].name}"
                                           class="form-control width-full"
                                           th:errorclass="form-control-error"
                                           required="required"
                                           th:attr="data-required-errormessage=#{validation.standard.name.required}" />
                                </td>
                                <td class="govuk-form-group" th:classappend="${#fields.hasErrors('applicants[__${applicantStat.index}__].email')}? 'govuk-form-group--error'">
                                    <label th:for="applicants[__${applicantStat.index}__].email">
                                        <span class="govuk-visually-hidden">Applicant email</span>
                                        <th:block th:if="${#fields.hasErrors('applicants[__${applicantStat.index}__].email')}">
                                            <span th:each="err : ${#fields.errors('applicants[__${applicantStat.index}__].email')}"
                                                  th:text="${err}"
                                                  class="error-message"> Please enter an email address.</span>
                                        </th:block>
                                    </label>
                                    <input type="email"
                                           th:id="applicants[__${applicantStat.index}__].email"
                                           th:field="*{applicants[__${applicantStat.index}__].email}"
                                           class="form-control width-full"
                                           th:errorclass="form-control-error"
                                           required="required"
                                           th:attr="data-required-errormessage=#{validation.invite.email.required},
                                                    data-email-errormessage=#{validation.standard.email.format}" />
                                </td>
                                <td class="alignright"><button class="remove-another-row button-clear" th:value="${applicantStat.index}" name="removeApplicant" type="submit">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="govuk-body"><button class="button-clear" data-repeatable-rowcontainer="#applicant-table tbody" name="addApplicant" type="submit">Add new applicant</button></p>

                    <p class="govuk-body govuk-!-margin-top-6">
                        <button class="govuk-button" name="add_partner" value="add_partner" type="submit">Add organisation and invite applicants</button>
                        <a th:href="@{${model.backUrl}}" class="button-clear">Cancel</a>
                    </p>
                </form>

                <th:block th:insert="fragments/layout :: main-content-end" />
            </main>
        </div>

        <th:block th:insert="fragments/layout :: footer" />
        <th:block th:insert="fragments/layout :: body-end" />
        <th:block th:insert="fragments/service-layout :: body-end" />
    </body>
</html>
