<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle=${model.selectedOrganisation != null ? 'Update ' + model.selectedOrganisation.name : 'Add organisation'}" />
</head>

<body class="app-dashboard">
<th:block th:insert="fragments/modals :: modal-overlay" />
<th:block th:insert="fragments/modals :: modal-submit-remove-collaborator" />
<th:block th:insert="fragments/layout :: body-start" />
<th:block th:insert="fragments/layout :: global-header" />

<main id="content">
    <th:block th:insert="fragments/layout :: main-content-start" />
    <!-- <th:block th:insert="fragments/layout :: header-sub" th:with="currentApplication=${currentApplication},linkTitle='Application team',linkClass='link-back',linkUrl=@{'/#'}" /> -->

    <div class="page-title">
        <th:block th:insert="fragments/elements :: application-title (applicationId=${model.applicationId},applicationName=${model.applicationName})" />
        <h1 class="heading-xlarge"  th:text="${model.selectedOrganisation != null ? 'Update ' + model.selectedOrganisation.name : 'Add organisation'}">Update Empire Ltd</h1>
    </div>

    <p th:if="${model.authenticatedUser.id == model.leadApplicant.id and model.selectedOrganisation.id == model.leadOrganisation.id}">From this page you are able to invite and remove contributors from the lead organisation. This organisation and the lead applicant cannot be removed from the application.</p>

    <!-- INFUND-7975 -->
    <p th:if="${model.authenticatedUser.id == model.leadApplicant.id and model.selectedOrganisation.id != model.leadOrganisation.id}">From this page you are able to invite and remove applicants from a partner organisation.</p>

    <!-- INFUND-7977 -->
    <p th:if="${model.authenticatedUser.id != model.leadApplicant.id}">From this page you are able to invite and remove applicants from your organisation. Only the lead applicant can remove partners</p>

    <form action="#" th:action="@{${#ifsUtil.uriWithQueryString(#httpServletRequest)}}" th:object="${contributorsForm}" method="POST" class="contributorsForm">

        <div class="error-summary" th:if="${#fields.hasErrors('*')}">
            <h2 class="heading-medium error-summary-heading">
                We are unable to send the invites out:
            </h2>
            <ul class="error-summary-list">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

                <input type="hidden" class="form-control width-full" th:field="${contributorsForm.organisations[__${model.selectedOrgIndex}__].organisationId}" />
                <input type="hidden" class="form-control width-full" th:field="${contributorsForm.organisations[__${model.selectedOrgIndex}__].organisationInviteId}" />


                <h2 class="heading-medium">
                    <th:block th:text="${model.organisation.lead} ? ${model.organisation.name} + ', Lead organisation' : ${model.organisation.name}"></th:block>
                </h2>

                <table class="table-overflow">
                    <thead>
                    <tr>
                        <th class="width-30-percent" scope="col">Applicant</th>
                        <th class="width-40-percent" scope="col">Email</th>
                        <th class="width-15-percent" scope="col">Status</th>
                        <th class="width-15-percent alignright" scope="col"><span class="visuallyhidden">Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="applicant, userStats : ${model.organisation.applicants}">
                        <td th:text="${applicant.name}">Steve Smith</td>
                        <td th:text="${applicant.email}">steve.smith@empire.com</td>
                        <td th:text="${applicant.lead} ? 'Lead' : (${applicant.pending} ? 'Pending' : '')">Lead</td>
                        <td class="alignright">
                            <button th:unless="${applicant.lead}" class="remove-another-row buttonlink" type="submit" name="remove_person" th:value="${model.selectedOrgIndex + '_' + userStats.index}">Remove</button>
                        </td>
                    </tr>

                    <tr th:each="user, userStats: ${contributorsForm.organisations[__${model.selectedOrgIndex}__].invites}">
                        <td th:class="${#fields.hasErrors('organisations[__${model.selectedOrgIndex}__].invites[__${userStats.index}__].personName') ? 'form-group error' : 'form-group'}" th:unless="${user.getInviteStatus() != null}">
                            <label th:for="'organisations'+${model.selectedOrgIndex}+'.invites'+${userStats.index}+'.personName'">
                                <span class="visuallyhidden">Name</span>
                                <th:block th:if="${#fields.hasErrors('organisations[__${model.selectedOrgIndex}__].invites[__${userStats.index}__].personName')}" th:remove="tag">
                                    <span class="error-message"  th:each="err : ${#fields.errors('organisations[__${model.selectedOrgIndex}__].invites[__${userStats.index}__].personName')}" th:text="${err}">Please enter a name</span>
                                </th:block>
                            </label>
                            <input type="text" class="form-control width-full" placeholder="name" th:errorclass="field-error" th:field="*{organisations[__${model.selectedOrgIndex}__].invites[__${userStats.index}__].personName}" />
                        </td>
                        <td th:unless="${user.getInviteStatus() != null}" th:class="${#fields.hasErrors('organisations[__${model.selectedOrgIndex}__].invites[__${userStats.index}__].email') ? 'form-group error' : 'form-group'}">
                            <label th:for="'organisations'+${model.selectedOrgIndex}+'.invites'+${userStats.index}+'.email'">
                                <span class="visuallyhidden">email</span>
                                <th:block th:if="${#fields.hasErrors('organisations[__${model.selectedOrgIndex}__].invites[__${userStats.index}__].email')}" th:remove="tag">
                                    <span class="error-message"  th:each="err : ${#fields.errors('organisations[__${model.selectedOrgIndex}__].invites[__${userStats.index}__].email')}" th:text="${err}">Please enter an email</span>
                                </th:block>
                            </label>
                            <input type="email" class="form-control width-full" placeholder="name@company.co.uk" th:errorclass="field-error" th:field="*{organisations[__${model.selectedOrgIndex}__].invites[__${userStats.index}__].email}" />
                        </td>
                        <td class="form-group " th:if="${user.getInviteStatus() != null}">
                            <span th:text="${user.personName}"></span>
                        </td>
                        <td class="form-group" th:if="${user.getInviteStatus() != null}">
                            <span th:text="${user.email}"></span>
                        </td>
                        <td></td>
                        <td class="alignright">
                            <span th:if="${user.userId == model.authenticatedUser.id}">That's you!</span>
                            <button class="remove-another-row buttonlink" type="submit" name="remove_person" th:value="${model.selectedOrgIndex + '_' + userStats.index}">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <p><button th:if="${model.leadApplicant.id == model.authenticatedUser.id || organisation.id == model.authenticatedUserOrganisation}" class="add-another-row buttonlink" type="submit" name="add_person" th:value="${model.selectedOrgIndex}">Add new applicant</button></p>
    </form>

    <th:block th:if="${model.selectedOrganisation != null and model.authenticatedUser.id == model.leadApplicant.id}">
        <!-- INFUND-7975 (lead applicant edits partner org) -->
        <div class="alignright extra-margin-top" th:unless="${model.selectedOrganisation == null or model.selectedOrganisation.id == model.leadOrganisation.id}">
            <a th:href="'/application/' + ${model.applicationId} + '/update'" th:attr="name='save_contributors'" data-js-modal="modal-delete-organisation" class="button-secondary">Delete organisation</a>
            <hr />
        </div>

        <p class="extra-margin-top" th:unless="${model.selectedOrganisation == null}">Updating the organisation will notify applicants of changes to their position on the project.</p>

        <th:block th:insert="fragments/modals :: modal-delete-organisation" />
    </th:block>

    <p class="extra-margin-top">
        <a th:href="'/application/' + ${model.applicationId} + '/team/update'" th:attr="name='save_contributors'" data-js-modal="modal-update-organisation" class="button">Update organisation</a>
        <a th:href="'/application/' + ${model.applicationId} + '/team'" href="#" class="button button-clear">Cancel</a>
    </p>

    <th:block th:insert="fragments/modals :: modal-update-organisation" />
    <th:block th:insert="fragments/layout :: main-content-end" />
</main>

<th:block th:insert="fragments/layout :: footer" />
<th:block th:insert="fragments/layout :: body-end" />
</body>
</html>
