<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Application team'"/>
    </head>

    <body th:with="context='applicant'">
        <th:block th:insert="fragments/layout :: body-start"/>
        <th:block th:insert="fragments/layout :: global-header"/>

        <main tabindex="-1" id="content">
            <th:block th:insert="fragments/layout :: main-content-start"/>
            <th:block th:insert="fragments/layout :: header-sub"
                      th:with="linkTitle='Application overview',linkClass='link-back',linkUrl=@{/application/{applicationId}(applicationId=${model.applicationId})}"/>

            <div class="page-title">
                <th:block
                    th:insert="fragments/elements :: application-title (applicationName=${model.applicationName})"/>
                <h1 class="heading-xlarge">Application team</h1>
            </div>

            <p>View and manage your participants in the application. If an individual is 'pending' they have not yet joined the application.</p>

            <p th:unless="${model.applicationCanBegin}">To change the lead applicant please email Innovate UK <a href="mailto:support@innovateuk.gov.uk">support@innovateuk.gov.uk</a>.</p>

            <div th:if="${model.applicationCanBegin}" class="message-alert">
                <h2 class="heading-small">As the lead applicant you can:</h2>
                <ul class="list-bullet">
                    <li>add collaborating and contributing organisations and individuals</li>
                    <li>manage organisations and individuals</li>
                    <li>assign questions to individuals</li>
                </ul>
            </div>

            <th:block th:each="organisation : ${model.organisations}">
                <h2 class="heading-medium">
                    <th:block th:text="${organisation.name}">Organisation name</th:block>
                    <th:block th:if="${organisation.lead}"> (Lead)</th:block>
                </h2>

                <table class="table-overflow">
                    <thead>
                        <tr>
                            <th class="width-30-percent" scope="col">Applicant</th>
                            <th class="width-50-percent" scope="col">Email</th>
                            <th scope="col"><span class="visually-hidden">Additional details</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="applicant : ${organisation.applicants}">
                            <td th:text="${applicant.name}">Steve Smith</td>
                            <td th:text="${applicant.email}">steve.smith@empire.com</td>
                            <td th:text="${applicant.lead} ? 'Lead' : (${applicant.pending} ? 'Invite pending' : '')">Lead</td>
                        </tr>
                    </tbody>
                </table>

                <p th:if="${organisation.editable}">
                    <!--/* Prefer linking by the InviteOrganisation id over the Organisation id except where there is no InviteOrganisation. */-->
                    <a th:if="${organisation.inviteOrganisationId}" th:href="@{/application/{applicationId}/team/update(applicationId=${model.applicationId},inviteOrganisation=${organisation.inviteOrganisationId})}"
                       th:text="|Update ${organisation.name}|">Update Empire Ltd</a>
                    <a th:unless="${organisation.inviteOrganisationId}" th:href="@{/application/{applicationId}/team/update(applicationId=${model.applicationId},organisation=${organisation.organisationId})}"
                       th:text="|Update ${organisation.name}|">Update Empire Ltd</a>
                </p>
            </th:block>

            <th:block th:if="${model.userLeadApplicant}">
                <p class="extra-margin">Add any organisations participating with you on this project. They are responsible for creating their own account and submitting their finances.</p>
                <p><a th:href="@{/application/{applicationId}/team/addOrganisation(applicationId=${model.applicationId})}">Add partner organisation</a></p>
            </th:block>

            <p class="extra-margin">
                <a th:if="${model.applicationCanBegin}" th:href="@{/application/{applicationId}/begin(applicationId=${model.applicationId})}" class="button-secondary">Begin application</a>
                <a th:unless="${model.applicationCanBegin}" th:href="@{/application/{applicationId}(applicationId=${model.applicationId})}" class="button-secondary">Return to application overview</a>
            </p>

            <th:block th:insert="fragments/layout :: main-content-end"/>
        </main>

        <th:block th:insert="fragments/layout :: footer"/>
        <th:block th:insert="fragments/layout :: body-end"/>
    </body>
</html>
