<div class="wide-page">
    <div class="govuk-width-container">
        <div class="govuk-inset-text">
            <p class="govuk-body">
                This is an IFS component.
            </p>
        </div>

        <h2 class="govuk-heading-m">
            Examples
        </h2>
        <p class="govuk-body">
            Red and green alerts have matching colour text. All other alerts have black text.
        </p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Blue info alert</h3>
                <p class="govuk-body">
                    To make the user aware of something and prompt them to act.
                    One link can be within the text. More than one link should be in a bulleted list.
                </p>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <div class="message-alert">
                    <p class="govuk-body">You must complete your project and bank details within 30 days of our notification to you.</p>
                    <p class="govuk-body">All project partners have individual steps to complete in this section.</p>
                    <p class="govuk-body"><a href="#" class="govuk-link">View the status of partners</a></p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Green complete alert</h3>
                <p class="govuk-body">
                    To show an action is complete.
                </p>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <div class="success-alert">
                    <p class="govuk-body">Application details are marked as complete</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Grey pending alert</h3>
                <p class="govuk-body">
                    To provide visual feedback that action is waiting on someone else.
                    e.g. another partner or Innovate UK.
                </p>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <div class="assigned-alert">
                    <p class="govuk-body">
                        The bank details you submitted are being reviewed by Innovate UK.
                    </p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Red alert</h3>
                <p class="govuk-body">
                    To draw attention to something that is blocked and requires immediate action to proceed.
                </p>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <div class="assigned-alert">
                    <p class="govuk-body">
                        You have a pending finance query to respond to.
                    </p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Black assigned alert</h3>
                <p class="govuk-body">
                    To inform the user of who this question is assigned to.
                </p>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <div class="assign-container assigned-alert">
                    <span class="secondary-notification govuk-body">
                      Assigned to you.
                    </span>
                    <div class="assign-button-container">
                        <div class="assign-button">
                            <button type="button">
                                <span class="secondary-notification govuk-body">
                                    Assign this question to someone else
                                </span>
                            </button>
                        </div>
                        {{ render '@assign-list' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
