<div class="govuk-width-container">

    <div class="govuk-inset-text">
        <p class="govuk-body">
            This is an IFS component.
        </p>
    </div>

    <div class="collapsible">
        <h2 class="open">Collapsible header 1
            <span data-mirror="#section-total-1">123</span>
        </h2>
        <div class="collapsible-content">
            <p class="govuk-body">content goes here 1</p>
            <div data-mirror="#section-total-1">&pound;82,000</div>
        </div>

        <h2 class="open">Collapsible header 2</h2>
        <div class="collapsible-content">
            <p class="govuk-body">content goes here 2</p>
        </div>

        <h2 class="open">Collapsible header 3</h2>
        <div class="collapsible-content">
            <p class="govuk-body">content goes here 3</p>
        </div>

        <h2 class="open">Collapsible header 4</h2>
        <div class="collapsible-content">
            <p class="govuk-body">content goes here 4</p>
        </div>
    </div>

</div>
