<div class="govuk-width-container">
    <div class="govuk-inset-text">
        <p class="govuk-body">
            This is an IFS version of the standard GDS footer. Unique IFS content is included.
        </p>
    </div>

    <h2 class="govuk-heading-s">Example</h2>

    <p class="govuk-body">Read the guidance on
        <a href="https://www.gov.uk/guidance/innovate-uk-funding-general-guidance-for-applicants#applying-for-a-competition-on-the-innovation-funding-service"
           class="govuk-link"
           target="_blank">how collaboration in the Innovation Funding Service works</a> (opens in a new window).</p>

</div>
