<div class="govuk-width-container">

    <div class="govuk-inset-text">
        <p class="govuk-body">
            This is an IFS component.
        </p>
    </div>

    <h2 class="govuk-heading-m">Example</h2>

    <dl class="govuk-list">
        <dt>Name</dt>
        <dd>
            Paul Plum
        </dd>

        <dt>Address</dt>
        <dd>
            17 Test Street<br>
            Sheffield<br>
            South Yorkshire<br>
            S117PF
        </dd>

        <dt>Phone number</dt>
        <dd>7801719194</dd>

        <dt>Email address</dt>
        <dd>paul.plum@gmail.com</dd>

        <dt>Assessor type</dt>
        <dd>Academic</dd>
    </dl>

    <div class="govuk-body form-footer">
        <div id="editDetails" class="form-footer__actions">
            <a class="govuk-link" href="#">Edit</a>
        </div>
    </div>

</div>
