
            <h1 class="heading-large">New to this service?</h1>
            <p>If you haven't used this service before you must create an account, even if you already have an existing account with Innovate UK.</p>
            <p>Currently this can be done by <a href="$resourcesDomain/competition/1/details">entering our 'Connected digital additive manufacturing' competition.</a></p>
            <ul class="list-bullet extra-margin">
              #if ($passwordEnabled)
                <li class="list-help-item"><a href="$resourcesDomain/login/reset-password">#springMessageText("idp.login.forgotPassword", "forgot your password?")</a></li>
              #end
            </ul>
