
/*
###Collapsible 
Uses javascript to make it expand, when there is no javascript it will just show an header with a list (doesn't work in styleguide).

```
<div class="collapsible">
    <h2 class="open">Application details</h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Application details</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Project Summary</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Public Description</a>
            </li>
        </ul>
    </div>
    <h2>Another Section 2</h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
        </ul>
    </div>
    <h2>Another Section 3</h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
        </ul>
    </div>
</div>
```
*/

%toggle-button {
	background-color: #DEE0E2;
	font-size: 19px;
	font-weight: 700;
	text-align:left;
	padding: 15px 40px 15px 20px; //padding right for the icons
	margin: 0 0 5px;
}
.collapsible {

	h2{
		
		position: relative;

		span.section-status.place-in-header {
			position: absolute;
			z-index: 10;
			top: 14px;
			right: 40px;
		}

	}

	h2 button {
		border:0;
		cursor: pointer;
		position: relative;
		@extend %toggle-button;

		&::-moz-focus-inner{  
			padding: 0;
			border: 0;
		}
		&[aria-expanded="true"]{
			margin-bottom:0;
		}
	}
	
	h2 button[aria-expanded] {
		display: block;
		width: 100%;
		&:after {
			content: '\25bc\0020';
			position:absolute; //absolute position for ie8
			right:15px;
			top:20px;
			line-height: 1;
		}
	}
	h2 button[aria-expanded="true"]{
		margin-bottom: 0;
		&:after {
			content: '\25b2\0020';
		}
	}
	h2 + [aria-hidden] {
		display: none;
	}

	h2 + [aria-hidden="false"] {
		display: block;
		@extend %contain-floats;
 		padding:15px 0;
	}
	.section {
		margin-left: 10px;
		background-repeat:no-repeat;
		background-position: 100% 0; 
		border-bottom: 1px solid $grey-3;
		&:last-child {
			padding-bottom:10px;
		}
	}

	.section h4 a {
		padding: 20px 20px 20px 0px;
		display: block;
		&:visited {color:  $govuk-blue;}
	}
	.section:first-child h4 a {
		border-top:none;
	}
	h4 {
		margin: 0;
	}

}
.no-js .collapsible > h2 {
	@extend %toggle-button;
	padding-right:2px;
}

