/*

```
<div class="competition-deadline">
    <div class="day">
    	11<span>th</span> 
    </div>
    <div class="month">
    	November deadline
    </div>
    <div class="time">
        12:00 Midday  
    </div>
</div>
```
*/
.competition-deadline {
	@include inline-block; 
	margin:0 10px;
	text-align: left;

	.day {
		font-size: 75px;
		line-height: 1;
		font-weight: 700;
	}
	.day span {
		vertical-align:top;
		font-size: 45px;
	}
	.month,.time {
		font-size: 14px;
	}
	.time {
		color: $secondary-text-colour;
	}
}