/*


```
<div class="form-control-wrap">
    <div class="form-group_header">
        test
    </div>
     <textarea  name="question-1" id="question-1" cols="30" rows="10">
                Contents of the textarea
      </textarea>
</div>
```

*/
textarea[readonly],
textarea[disabled],
input[readonly],
input[disabled],
div.readonly{
    color:darken($secondary-text-colour, 5%);
    background: $grey-4;
}

.form-group{
    .form-finances-subcontracting-cost{
        text-align: right;
    }
}

table td input{
    width:100%; 
    @extend .form-control;
    @include box-sizing(border-box);
    
    &[type="number"]{
        text-align: right;
    }
}


/*

###Input sizes
Used to define input widths, so they can be more specific to digits that need to ne entered. Used particularly for numerical fields

```
<div class="form-group">
    <label class="form-label" for="">Extra small</label>
    <input class="width-extra-small" id="width-extra-small" value="65px">
</div>
<div class="form-group">
    <label class="form-label" for="">Small</label>
    <input class="width-small" id="width-small" value="80px">
</div>
<div class="form-group">
    <label class="form-label" for="">Small medium</label>
    <input class="width-small-medium" id="width-small-medium" value="100px">
</div>
<div class="form-group">
    <label class="form-label" for="">Medium</label>
    <input class="width-medium" id="width-medium" value="150px">
</div>
<div class="form-group">
    <label class="form-label" for="">LARGE</label>
    <input class="width-large" id="width-large" value="200px">
</div>
<div class="form-group">
    <label class="form-label" for="">Full</label>
    <input class="width-full" id="width-full" value="100%">
</div>
 ```
*/



.width-extra-small{
    width: 65px;
}
.width-small{
    width: 80px;
}
.width-small-medium{
    width: 100px;
}
.width-medium{
    width: 150px;
}
.width-large{
    width: 200px; 
}
.width-full{
    width: 100%;
}

table td{
    
    &.numeric{
        text-align: right;

        input{
            text-align: right;
        }
    }
    .control{
        padding-left: 20px
    }
}

.date-group {
    overflow: hidden;
    max-width:300px;
    > div {
        width:33%;
        float:left;
    }
}

.textarea-wrapped {
    position: relative;

    .textarea-header {
        padding:10px;
        text-align:right;
        font-size:14px;
        border-top:  1px solid $border-colour;
        border-left:  1px solid $border-colour;
        border-right:  1px solid $border-colour;
        background: $grey-4 0 0 no-repeat;
        min-height:40px;

        .form-hint{
            color: darken($secondary-text-colour, 5%);
        }

    } 

    textarea,
    [contenteditable="true"],
    .readonly {
        border-top:none;
        border-bottom:  1px solid $border-colour;
        border-left:  1px solid $border-colour;
        border-right:  1px solid $border-colour;
        min-height: 250px;
        margin: 0;
        padding: 5px 10px;
        resize: vertical;
        vertical-align: top;
        width:100%;
        @include box-sizing(border-box);
        overflow:auto; //needed for resize [contenteditable] div
    }


    [contenteditable="true"] {
        padding-top:60px;

        b {
            font-weight:bold;
            font-style:inherit;
        }
        i {
            font-style:italic;
            font-weight:inherit;
        }
        ol {
            @extend .list-number;
        }
        ul {
            @extend .list-bullet;
        }
        li p {
            padding: 0;
            margin: 0;
        }
    }
    
    .textarea-footer {
        font-size:16px;
        padding: 10px 0px;
    }
    .textarea-footer button {
        vertical-align:top;
        padding: 0 10px 0 0;
    }

}
.hallotoolbar {
    width:auto!important;
    margin:50px 10px 0 10px;
}

.count-label,
.textarea-save-info {
    padding:2px 0;
    float:right;
    color: $grey-1;
    clear:right;
}
.count-label .negative{
    color: $orange;
    font-weight: 700;
}
.count-label .word-count-reached .count-down{
    color: $orange;
    font-weight: 700;
}

.form-group{
    &.alignright{
        .form-control{
            margin-right: 1.25em;
        }
    }
}

select{
    &.form-control{
        -webkit-appearance: menulist;
    }
}

.feedback .textarea-wrapped textarea{
        border: 1px solid $border-colour;
    
}

    //    .form-group_header-status {
    //     color: #666;
    //     font-size: 16px;
    //     margin: 0;

    //     &--assigned {
    //         background: url(../images/flag-icon.png) no-repeat 0 0.15em;
    //         margin-top: 10px;
    //         padding-left: 25px;
    //     }
    // }


    // &--locked {
    //     .form-group_header {
    //         background: {
    //             image: url(/images/field/field-locked.png);
    //         }
    //     }
    // }

    // &--assigned {
    //     .form-group_header {
    //         background: {
    //             image: url(/images/field/field-assigned.png);
    //         }
    //     }
    // }
// }
