/*


```
<div class="form-control-wrap">
    <div class="form-group_header">
        test
    </div>
     <textarea  name="question-1" id="question-1" cols="30" rows="10">
                Contents of the textarea
      </textarea>
</div>
```

*/
textarea[readonly],
textarea[disabled],
input[readonly],
input[disabled]{
    color:$secondary-text-colour;
    border-color:transparent;
}

table td input{
    width:100%; 
    @include box-sizing(border-box);
    
    &[type="number"]{
        text-align: right;
    }
}

table td{
    &.numeric{
        text-align: right;

        input{
            text-align: right;
        }
    }
    .control{
        padding-left: 20px
    }
}

table td[colspan] input {
    width:auto;
    max-width: 80px;
}

.date-group {
    overflow: hidden;
    max-width:300px;
    > div {
        width:33%;
        float:left;
    }
}

.textarea-wrapped {
    position: relative;

    .textarea-header {
        padding:10px;
        text-align:right;
        font-size:14px;
        border-top:  1px solid $border-colour;
        border-left:  1px solid $border-colour;
        border-right:  1px solid $border-colour;
        background: $grey-4 0 0 no-repeat;
        min-height:40px;

    } 

    textarea {
        border-top:none;
        border-bottom:  1px solid $border-colour;
        border-left:  1px solid $border-colour;
        border-right:  1px solid $border-colour;
        min-height: 250px;
        margin: 0;
        padding: 5px 10px;
        resize: vertical;
        vertical-align: top;
        width:100%;
        @include box-sizing(border-box);
    }
    .textarea-footer {
        font-size:16px;
        padding: 10px 0px;
    }
    .textarea-footer button {
        vertical-align:top;
        padding: 0 10px 0 0;
    }

}





.count-label {
    padding:2px 0;
    float:right;
    color: $grey-1;
}

    //    .form-group_header-status {
    //     color: #666;
    //     font-size: 16px;
    //     margin: 0;

    //     &--assigned {
    //         background: url(../images/flag-icon.png) no-repeat 0 0.15em;
    //         margin-top: 10px;
    //         padding-left: 25px;
    //     }
    // }


    // &--locked {
    //     .form-group_header {
    //         background: {
    //             image: url(/images/field/field-locked.png);
    //         }
    //     }
    // }

    // &--assigned {
    //     .form-group_header {
    //         background: {
    //             image: url(/images/field/field-assigned.png);
    //         }
    //     }
    // }
// }
