#global-header{

	.header-global{
		padding: 2px 0; 
	}

	#logo{
		img{
			width: 35px;
			height: 31px;
		}
	}
	.innovate-title{
		font-size: 24px;
		line-height: 1.25em;
		margin: 5px 0 0;
		text-transform: none;
		font-weight: bold;
		text-decoration: none; 
		color: white;
		float: left;
	}
}