.message-alert{
	background: #e4eff6 url(../images/message-alert.png) 25px 25px no-repeat;;
	padding: 20px 20px 20px 130px;
	margin-top: 25px;

	p{
		font-size: 16px;
	}

	.heading-medium{
		margin: 0;
	}
}
