/*

###Modal dialogs
Controlled with javascript, an alternative standard html page should be used for non-js users
```
<div class="modal-overlay js-close"></div>
<div class="modal-reject-assessment" role="dialog" aria-hidden="false" style="margin-top: -100px;">  
	<button class="js-close close" aria-label="Close Popup">X</button>
        <div>
			<form method="post" action="#">
			    <div class="form-group">
			        <label for="reject-reason" class="form-label">Please let us know why you are rejecting this application</label>
			        <select name="decisionReason" id="reject-reason" required="required" class="form-control">
			            <option value="none">Please select one reason</option>
			            <option value="conflict-of-interest">Conflict of interest</option>
			            <option value="not-my-area-of-interest">Not my area of expertise</option>
			            <option value="too-many-assessments">Too many assessments</option>
			        </select>
			    </div>
			    <div class="form-group">
			        <label for="rejection-observations" class="form-label">Please provide some more information</label>
			        <textarea id="rejection-observations" name="observations" class="form-control"></textarea>
			    </div>
			    <button class="button button-warning large" name="reject" value="rejected" type="submit">Reject</button>
			</form>
        </div>
    </div>
```

*/

[role="dialog"]{
	border-top: 10px solid $link-colour;
	width:80%;
	margin-left:-40%;
	left:50%;
	position: fixed;
	background-color: #FFF;
	top:50%;
	padding: 40px 30px 30px 30px;
	@include box-sizing(border-box);
	z-index: 20;
	@include transition-property(top,margin);
	@include transition-duration(300ms);
	
	
	.close {
		background:none;
		border:1px solid #000;
		position: absolute;
		right:15px;
		top:15px;
		cursor:pointer;
		padding:5px;
		font-size:16px;
		line-height:1;
		&:hover {
			background-color: $grey-4;
		}
	}
	.close.close {
		border: none;
		font-weight: bold;
	}
}
.modal-overlay {
	&.js-close {
		cursor:pointer;
	}
	&.hidden {
		background-color:transparent;
		height: 0;
	}
	@include transition-property(background);
	@include transition-duration(300ms);
	position:fixed;
	width:100%;
	height: 100%;
	left:0;
	top:0;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	z-index: 9 ; 
} 

