.column-three-quarters{
	@include grid-column( 9/12 );
}

.column-one-quarter{
	@include grid-column( 3/12 );
}

.no-pad{
	padding: 0;

	.heading-large,
	.heading-xlarge{
		margin-bottom: 10px;
	}

	.subtitle{
		margin: 20px 0 30px 0;
	}
}

.no-margin{
	margin: 0;
}

.no-margin-left{
	margin-left: 0;
}

.no-margin-right{
	margin-right: 0;
}

.no-margin-top{
	margin-top: 0;
}

.no-margin-bottom{
	margin-bottom: 0;
}

.extra-margin{
	margin-top: 30px;
}

.dl-pad{
	dd{
		padding-bottom: 20px;
	}
}

.button-warning{
	@include button(#c00000);

	&.large{
		box-shadow: 0px 4px 0px darken(#c00000,15%);
	}
}
