
/*

###Navigation List
By default left aligned can be right by adding the class `.navigation-right`

```
<ul class="navigation-list">
    <li>
        <a href="/applicant/dashboard">My dashboard</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>
 ```

 ```
 <ul class="navigation-list navigation-right">
            <li>
                <a href="/applicant/dashboard">My dashboard</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
 ```
*/


ul.navigation-list,
ol.navigation-list {
	list-style:none;
	margin:0;
	padding:0;
	li {
		display: inline-block;
		margin: 0 10px 0 0;
	}
	li a {
		display: inline-block;
		padding:5px;
	}
	//right aligned
	&.navigation-right {
	 	@extend %contain-floats;
		float: right;
		li { margin: 0 0 0 10px;}
	}
}