
//statuses
	
%mark-done-right {
	background-image:  url('../images/field/field-done-right.png');
	background-repeat: no-repeat;
}

%mark-done-left {
	background-image: url('../images/field/field-done.png');
	background-repeat: no-repeat;
}

%mark-assigned-right {
	background-image: url('../images/field/field-assigned-right.png');
	background-repeat: no-repeat;
}

%mark-assigned-left{
	background-image: url('../images/field/field-assigned.png');
	background-repeat: no-repeat;
}

%icon-assigned {
    background-image: url('../images/field/flag-assigned.png');   
	background-repeat: no-repeat;
}

%icon-tick {
    background-image: url('../images/field/tick-icon.png');   
	background-repeat: no-repeat;
}

%icon-assigned-to-me {
    background-image: url('../images/flag-icon.png');   
	background-repeat: no-repeat;
}

%icon-incomplete {
    background-image: url('../images/warning-icon.png');   
	background-repeat: no-repeat;
}


/*
###Collapsible showing form status
Status is displayed in the collapsible header area.

```
<div class="collapsible">
    <h2 class="open" class="section-status-finance complete">
    	Application details 1  
    	<span style="" data-subsection-id="1" class="section-status complete place-in-header"><span data-binding-output="subsection-total-1">Complete</span></span>
    </h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Application details</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Project Summary</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Public Description</a>
            </li>
        </ul>
    </div>
    <h2 class="section-status-finance incomplete">Another Section 2
    	<span style="" data-subsection-id="2" class="section-status incomplete place-in-header"><span data-binding-output="subsection-total-2">Incomplete</span></span></h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
        </ul>
    </div>
    <h2 class="section-status-finance assigned">Another Section 3
		<span style="" data-subsection-id="3" class="section-status assigned place-in-header"><span data-binding-output="subsection-total-3">Assigned to me</span></span></h2>
    </h2>
    <div>
        <ul>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
            <li class="section">
                <a tabindex="0" href="#">Another subsection</a>
            </li>
        </ul>
    </div>
</div>
```

###Rows inside collapsible container

```
<div class="collapsible">
	<ul>
		<li class="section marked-as-complete">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h4 class="heading-medium"><a href="#">Application details</a></h4>
				</div>
			</div>
		</li>
		<li class="section assigned-to-me">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h4 class="heading-medium"><a href="#">Project summary</a></h4>
				</div>
			</div>
		</li>
	</ul>
</div>
```

*/

.collapsible { 
	
	h2{
		span.section-status.place-in-header {
			position: absolute;
			z-index: 10;
			top: 14px;
			right: 25px;
			padding-right: 25px;
		}

		.no-js &.complete:after{
			content: " ";
			position: absolute;
			z-index: 10;
			top: 20px;
			right: 25px;
			width: 20px;
			height: 20px;
			@extend %icon-tick;
		}

		&.section-complete:before{
			content: "Complete";
			color: $grey-1;
			font-size: 16px;
			position: absolute;
			z-index: 10;
			top: 18px;
			right: 55px;
			padding-right: 25px;
			@extend %icon-tick;
			background-position: right 50%;
		}

		&.section-incomplete:before{
			content: "Incomplete";
			color: $grey-1;
			font-size: 16px;
			position: absolute;
			z-index: 10;
			top: 18px;
			right: 55px;
			padding-right: 25px;
			@extend %icon-incomplete;
			background-position: right 50%;
		}
	}

	.section.marked-as-complete {
		@extend %mark-done-right;
		background-position: right top;
	}

	.section.assigned-to-me {
		@extend %mark-assigned-right;
		background-position: right top;
	}

	.section-status {
	    float:right;
	    font-weight:300;
	    font-size:16px;
	    margin:4px 10px 0 0;
	    color:$grey-1;
	    padding-right:30px;
	}
	.section-status.complete {
		@extend %icon-tick;
		background-position: right center;
	}
	.section-status.incomplete {
		@extend %icon-incomplete;
		background-position: right center;
	}
	.section-status.assigned{
		@extend %icon-assigned-to-me;
		background-position: right center;
	}

}


/*
###Wrapped text areas
Complete
```
<div class="textarea-wrapped marked-as-complete">
	<div class="textarea-header">
		<p><small><span>Last updated:</span><span><span>18 September 10:35AM</span> </span>by <span>you</span></small></p>	   
    </div>
        
	<textarea data-max_words="500" id="question-1" name="question[1]" readonly="readonly">Wastage in our industry can be attributed in no small part to one issue.  To date businesses have been reluctant to tackle that problem and instead worked around it.  That has stifled progress.The end result of our project will be a novel tool to manage the issue and substantially reduce the wastage caused by it.
	</textarea>
</div>
```

Assigned to me
```
<div class="textarea-wrapped assigned-to-me">
	<div class="textarea-header">
		<p><small><span>Last updated:</span><span><span>18 September 10:35AM</span> </span>by <span>you</span></small></p>	   
    </div>
        
	<textarea data-max_words="500" id="question-2" name="question[2]" readonly="readonly">Wastage in our industry can be attributed in no small part to one issue.  To date businesses have been reluctant to tackle that problem and instead worked around it.  That has stifled progress.The end result of our project will be a novel tool to manage the issue and substantially reduce the wastage caused by it.
	</textarea>
</div>
```
*/

.textarea-wrapped {
	&.marked-as-complete .textarea-header {
		@extend %mark-done-left;
	}
	&.assigned-to-me .textarea-header {
		@extend %mark-assigned-left;
	}

	&.marked-as-complete textarea[readonly],
	&.marked-as-complete .readonly,
	&.marked-as-complete .textarea-header {
		border-width:2px;
        border-color: $button-colour;
        background-color:$grey-4;
    }

}


/*
###Application sidebar statuses
```
<nav role="navigation" class="app-sidebar">
	<ul>
		<li><a href="#">Item 1</a></li>
		<li class="section-status assigned"><a href="#">Item 2</a></li>
		<li class="section-status complete"><a href="#">Item 3</a></li>
	</ul>
</nav>
```
*/

.app-sidebar .section-status a {
	background-position: 98% center;
}

.app-sidebar .section-status.complete a {
	@extend %icon-tick;
}
.app-sidebar .section-status.assigned a {
	@extend %icon-assigned;
}

//Assignees

.assignee.assigned-to-me{
	span{
		padding-left: 20px;
		@extend %icon-assigned-to-me;
		background-position: left center;
	}
} 
