//statusses
	
%mark-done-right {
	background-image:  url('../images/field/field-done-right.png');
	background-repeat: no-repeat;
}

%mark-done-left {
	background-image: url('../images/field/field-done.png');
	background-repeat: no-repeat;
}

%mark-assigned-right {
	background-image: url('../images/field/field-assigned-right.png');
	background-repeat: no-repeat;
}

%mark-assigned-left{
	background-image: url('../images/field/field-assigned.png');
	background-repeat: no-repeat;
}

%icon-assigned {
    background-image: url('../images/field/flag-assigned.png');   
	background-repeat: no-repeat;
}

%icon-tick {
    background-image: url('../images/field/tick-icon.png');   
	background-repeat: no-repeat;
}

%icon-assigned-to-me {
    background-image: url('../images/flag-icon.png');   
	background-repeat: no-repeat;
}

//statusses in the collapsible
.collapsible {
	
	h2{
		span.section-status.place-in-header {
			position: absolute;
			z-index: 10;
			top: 14px;
			right: 40px;
		}

		.no-js &.complete:after{
			content: " ";
			position: absolute;
			z-index: 10;
			top: 20px;
			right: 40px;
			width: 20px;
			height: 20px;
			@extend %icon-tick;
		}
	}

	.section.marked-as-complete {
		@extend %mark-done-right;
		background-position: right top;
	}

	.section.assigned-to-me {
		@extend %mark-assigned-right;
		background-position: right top;
	}

	.section-status {
	    float:right;
	    font-weight:300;
	    font-size:16px;
	    margin:4px 10px 0 0;
	    color:$grey-1;
	    padding-right:30px;
	}
	.section-status.complete {
		@extend %icon-tick;
		background-position: right center;
	}
	.section-status.assigned{
		@extend %icon-assigned-to-me;
		background-position: right center;
	}

}

//wrapped-textarea 
.textarea-wrapped {
	&.marked-as-complete .textarea-header {
		@extend %mark-done-left;
	}
	&.assigned-to-me .textarea-header {
		@extend %mark-assigned-left;
	}

	&.marked-as-complete textarea[readonly],
	&.marked-as-complete .textarea-header {
		border-width:2px;
        border-color: $button-colour;
        background-color:$grey-4;
    }

} 

.app-sidebar .section-status a {
	background-position: 98% center;
}

.app-sidebar .section-status.complete a {
	@extend %icon-tick;
}
.app-sidebar .section-status.assigned a {
	@extend %icon-assigned;
}

//Assignees

.assignee.assigned-to-me{
	span{
		padding-left: 20px;
		@extend %icon-assigned-to-me;
		background-position: left center;
	}
}

