
@font-face {
	font-family: 'icons';
	src:url('../fonts/icomoon.eot?py4jf1');
	src:url('../fonts/icomoon.eot?py4jf1#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?py4jf1') format('truetype'),
		url('../fonts/icomoon.woff?py4jf1') format('woff'),
		url('../fonts/icomoon.svg?py4jf1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="fa"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-italic:before {
	content: "\e906";
}
.fa-repeat:before {
	content: "\e905";
}
.fa-undo:before {
	content: "\e900";
}
.fa-list-ol:before {
	content: "\e901";
}
.fa-list-ul:before {
	content: "\e902";
}
.fa-underline:before {
	content: "\e903";
}
.fa-bold:before {
	content: "\e904";
}


[contenteditable="true"] {
    padding-top:60px;

    b {
        font-weight:bold;
        font-style:inherit;
    }
    i {
        font-style:italic;
        font-weight:inherit;
    }
    ol {
        @extend .list-number;
    }
    ul {
        @extend .list-bullet;
    }
    li p {
        padding: 0;
        margin: 0;
    }
}
.textarea-wrapped [contenteditable="true"] {
	padding-top:60px;
}

.hallotoolbar {
	@include border-radius(10px);
	background:#fff;
	border:1px solid $border-colour;
	width:auto!important;
	margin:50px 10px 0 10px;

	.ui-buttonset:first-child button.ui-corner-left{
			@include border-radius(10px 0 0 10px);
	}
	.ui-buttonset:last-child button.ui-corner-right{
			@include border-radius(0 10px 10px 0);
	}

	button {
		border:none;
		background:#fff;
		padding:10px;

	}
	button.ui-state-active {
		color:#fff;
		background: #000;
	}
}

