<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/layout :: head" th:with="pageTitle='Reinstate ineligible application',hasFormErrors=${#fields.hasErrors('${form.*}')}"/>
</head>

<body class="govuk-template__body assessment-submit-confirm">
<th:block th:insert="fragments/layout :: body-start"/>
<th:block th:insert="fragments/layout :: global-header"/>

<div class="govuk-width-container">
    <th:block th:insert="fragments/layout :: phase-banner" />
    <th:block th:insert="fragments/layout :: header-sub" th:with="linkTitle='Back',linkClass='link-back',linkUrl=@{/competition/{competitionId}/application/{applicationId}(competitionId=${model.competitionId},applicationId=${model.applicationId},origin='INELIGIBLE_APPLICATIONS')}" />

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <th:block th:insert="fragments/layout :: page-title" th:with="pageTitle='Reinstate application',subTitle=${model.applicationName},size='govuk-heading-xl'" />

        <div th:if="${#fields.hasErrors('${form.*}')}" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="govuk-heading-m error-summary-heading" id="error-summary-heading">There is a problem on this page.</h2>
            <th:block th:insert="fragments/elements :: error-summary-list(form)" />
        </div>

        <form th:object="${form}"
            th:action="@{/competition/{competitionId}/application/{applicationId}/reinstateIneligibleApplication(competitionId=${model.competitionId},applicationId=${model.applicationId})}" method="post" novalidate="novalidate">
            <p>Are you sure that you wish to reinstate this application?</p>
            <p>It will be added to applications requiring assessment, and will require assessors to be assigned to it.</p>

            <hr/>

            <div class="alignright-button">
                <a th:href="@{/competition/{competitionId}/application/{applicationId}(competitionId=${model.competitionId},applicationId=${model.applicationId},origin='INELIGIBLE_APPLICATIONS')}"
                   aria-label="Close Popup" class="button-link js-close">Cancel</a>
                <button class="button" type="submit">Reinstate application</button>
            </div>
        </form>

    </main>
</div>
<th:block th:insert="fragments/layout :: footer"/>
<th:block th:insert="fragments/layout :: body-end"/>
<th:block th:insert="fragments/service-layout :: body-end" />
</body>
</html>
